@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.dealership
  padding: 15px 0 70px
  +screen($tablet)
    padding: 20px 0 100px

  .container
    +screen($tablet-sm)
      padding: 0 10px

  .section-title
    +screen($tablet-sm)
      padding: 0 10px

  p
    +font(22px, 32px)
    +screen($tablet-sm)
      +font(16px, 26px)
      padding: 0 10px

  &__txt
    margin: 20px 0 40px
    +screen($tablet)
      margin: 20px 0

    &_second
      margin: 80px 0 40px
      +screen($tablet)
        margin: 60px 0 20px

  &__grid
    display: grid
    grid-gap: 20px
    grid-template-columns: repeat(auto-fit, minmax(427px, 1fr))
    justify-items: center
    +screen($tablet-sm)
      grid-template-columns: 1fr

      .dealership__item
        &:nth-child(1)
          .dealership__item-image
            height: 80px

        &:nth-child(2)
          .dealership__item-image
            height: 44px
            margin-top: 20px

        &:nth-child(3)
          .dealership__item-image
            height: 77px
            margin-top: 10px

        &:nth-child(4)
          .dealership__item-image
            height: 67px
            margin-top: 20px

        &:nth-child(5)
          .dealership__item-image
            height: 48px
            margin-top: 20px

    &_second
      justify-items: start
      .dealership__item-image
        +screen($tablet-sm)
          height: 76px
          margin-top: 10px

  &__item
    width: 427px
    height: 330px
    display: flex
    align-items: center
    flex-direction: column
    border-radius: 10px
    box-shadow: 0 6px 23px rgba(0, 0, 0, .16)
    box-sizing: border-box
    padding: 16px 26px 26px
    justify-content: space-between
    +screen($tablet-sm)
      width: 100%
      height: auto
      padding: 10px 10px 20px

    &-title
      margin-top: 20px
      +font(20px, 26px, 700, $font-title)
      align-self: flex-start

    &-image
      height: 120px
      display: flex
      align-items: center
      +screen($tablet-sm)
        img
          +screen($tablet-sm)
            height: 100%

    &-txt
      width: 100%
      +font(16px, 26px)
      margin-top: 10px
      +screen($tablet)
        margin-top: 12px

    &-link
      display: flex
      box-sizing: border-box
      align-self: flex-start
      align-items: center
      padding: 10px 13px
      background-color: $white-blue
      border-radius: 6px
      margin-top: 20px
      color: $blue-second
      +font(16px, 16px, 500)
      +screen($tablet)
        background-color: $blue-second
        color: $white

        svg
          path
            fill: $white

      span
        margin-left: 6px

      &:hover:not(:active)
        background-color: $blue-second
        color: $white

        svg
          path
            fill: $white
