@font-face
  font-family: 'VelaSans'
  src: local('VelaSans-Regular')
  src: url('../assets/fonts/VelaSans-Regular.woff2') format('woff2'), url('../assets/fonts/VelaSans-Regular.woff') format('woff')
  font-weight: 400
  font-style: normal

