// fonts
$font: 'VelaSans', sans-serif

// colors
$black: #16191D
$white: #fff
$orange: #F89B11
$blue-lightest: #F0F5FF
$blue-light: #d6dbeb
$blue: #134EC1
$blue-dark: #314B99
$gray-light: #EEEBE9
$gray: #C4C4C4
$check-shadow: 0 4px 4px rgba(19, 78, 193, 0.15)

// screen
$desktop-sm: 1280
$tablet: 1023
$tablet-sm: 767
$tablet-xs: 575
$mobile: 374
