section.section-upper
  .container
    +breadcrumbs(sectionBreadcrumbs)
    a.back-link(href="/")
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/arrow-left-blue.svg')}
      span #{upperLink}
