-
  coloredPoints = [
    {modifier: 'gray', active: 'true'},
    {modifier: 'white'},
    {modifier: 'red'},
    {modifier: 'orange'},
    {modifier: 'blue'},
  ]

  descItems = [
    {title: '<span>₹</span>99,999', subTitle: 'Starting from'},
    {title: '115 KM/H', subTitle: 'TOP Speed'},
    {title: '3.0 Sec', subTitle: '0 to 40 km/h'},
    {title: '181 KM', subTitle: 'Range'},
    {title: 'October <br> 2021', subTitle: 'delivery starts'}
  ]

  menu = [
    { modifier: 'black', href: 'javascript:'},
    { modifier: 'yellow', href: 'javascript:'}
  ]
