sections.news-top
  .container
    a.news-top__back(href="news.html")
      img(src=require('@/assets/img/global/vector-left-blue-sm.svg') alt="")
      span Назад
    h2.section-title Механический Завод СОТРАНС вступил в ассоциацию РОССПЕЦМАШ
    .news-top__date 16 дек 2022
