section.news-content
  .container
    .news-content__image
      img(src=require('@/assets/img/news/news.jpg') alt="")
    p.news-content__txt 16.12.2022 года, Механический завод СОТРАНС был торжественно принят в члены ассоциации РОССПЕЦМАШ (Российская ассоциация производителей специализированной техники и оборудования.
    p.news-content__txt РОССПЕЦМАШ — некоммерческая организация, которая объединяет компании для лоббирования интересов отечественного специализированного машиностроения в органах государственной власти, продвижения их продукции на внутреннем и внешнем рынках, разработки и экспертизы технических стандартов и регламентов, решения вопросов модернизации отрасли и повышения качества выпускаемых техники и оборудования.
    p.news-content__txt В Ассоциацию «Росспецмаш» входит 239 предприятий, среди которых производители сельскохозяйственной и строительно-дорожной техники, пищевого оборудования, компонентов, прицепов и полуприцепов.
    .news-content__slider
      .swiper.swiper-main
        .swiper-wrapper
          each el in newsSlider
            .swiper-slide
              img(src=el alt="")
        .swiper-pagination
        .swiper-button-next
        .swiper-button-prev
      .swiper.swiper-thumbs(thumbsSlider="")
        .swiper-wrapper
          each el in newsSlider
            .swiper-slide
              img(src=el alt="")


