@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.main-lineup
  .container
    &:nth-child(2)
      background: url(../assets/img/main-page/lineup-bg.jpg) no-repeat center/cover
      height: 899px
      margin-top: 51px
      +screen($desktop)
        height: auto
      +screen($tablet-xs)
        height: 600px
        background: url(../assets/img/main-page/lineup-bg-mobile.jpg) no-repeat center/cover

  .swiper
    height: 100%
    color: $white
    user-select: none
    padding: 55px 0
    box-sizing: border-box
    display: flex
    +screen($tablet)
      padding: 25px 0 80px

    &-wrapper
      height: auto

    &-slide
      box-sizing: border-box
      display: flex
      flex-direction: column
      justify-content: space-between
      height: 100%

      &__nums
        +font(48px, 56px, 700)
        +screen($desktop)
          +font(38px, 44px, 700)
        +screen($tablet)
          +font(34px, 34px, 700)

        span
          &:last-child
            +font(28px, 33px, 700)
            color: #5FA0CC
            +screen($desktop)
              +font(22px, 26px, 700)
            +screen($tablet)
              +font(19px, 34px, 700)

      &__title
        +font(36px, 36px, 500)
        margin-top: 25px
        +screen($desktop)
          +font(26px, 34px, 500)
          margin-top: 13px
        +screen($tablet)
          margin-top: 23px
          +font(25px, 34px, 500)

      &__options
        display: flex
        gap: 10px
        margin-top: 37px
        +screen($desktop)
          margin-top: 32px
        +screen($tablet)
          margin-top: 14px
          gap: 7px

        &-item
          padding: 0 18px
          box-sizing: border-box
          display: flex
          align-items: center
          gap: 7px
          border-radius: 39px
          border: 2px solid #85B9DD
          height: 36px
          +font(18px, 18px, 500)
          +screen($desktop)
            padding: 3px 22px
            +font(16px, 16px, 500)
          +screen($tablet)
            height: 30px
            padding: 0 16px
            +font(13px, 24px, 500)

          &:nth-child(1)
            img
              width: 22px
              height: 24px
              +screen($tablet)
                width: 16px
                height: 17px

          &:nth-child(2)
          &:nth-child(2)
            img
              width: 24px
              height: 12px
              +screen($tablet)
                width: 17px
                height: 8px

          &:nth-child(3)
            img
              width: 16px
              height: 24px
              +screen($tablet)
                width: 11px
                height: 16px

      &__image
        margin: 68px auto 0
        +screen($desktop)
          margin: 56px auto 0
        +screen($tablet)
          margin: 114px auto 0

      &__link
        align-self: center
        margin-top: auto
        border-width: 2px

        &:hover
          color: $blue

    &-pagination
      display: none
      +screen($tablet)
        display: flex
        justify-content: center
        bottom: 22px

      &-bullet
        margin: 0 10px !important
        width: 10px
        height: 10px
        opacity: 1
        background-color: #3D99D9

        &-active
          background-color: $white

    &-button
      &-prev, &-next
        width: 400px
        height: 100%
        top: 0
        margin-top: 0
        +screen($tablet)
          display: none

        &:after
          display: none

      &-prev
        left: -100px
        cursor: url(../assets/img/main-page/lineup-slides/vector-left.svg), auto

      &-next
        cursor: url(../assets/img/main-page/lineup-slides/vector-right.svg), auto
        right: -100px


