@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.main-news
  padding: 40px 0 80px
  +screen($tablet)
    padding: 40px 0

  &__tile
    display: grid
    padding: 45px 0 80px
    grid-template-columns: repeat(auto-fill, 400px)
    grid-template-rows: repeat(auto-fill, 320px)
    justify-content: center
    grid-gap: 30px
    +screen($desktop)
      grid-template-columns: repeat(auto-fill, 315px)
      grid-template-rows: repeat(auto-fill, 260px)
      grid-gap: 20px
    +screen($tablet)
      grid-template-columns: 1fr
      grid-template-rows: auto
      grid-gap: 30px
      padding: 40px 0

  &__link
    margin: 0 auto
