@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.main-dealers
  padding: 60px 0 40px
  +screen($tablet)
    padding: 60px 0 30px

  &__container
    position: relative
    min-height: 839px
    display: flex
    justify-content: flex-end
    align-items: flex-start
    flex-direction: column
    +screen($desktop)
      min-height: 668px
    +screen($tablet)
      min-height: auto
      margin-top: 32px

  &__image
    position: absolute
    left: -40px
    top: 0
    max-width: 1051px
    width: 100%
    +screen($desktop)
      width: 835px
      height: 543px
      top: -50px
    +screen($tablet)
      width: auto
      height: auto
      position: relative
      left: auto
      top: auto

    img
      width: 100%
      height: 100%
      object-position: center
      object-fit: cover
      +screen($desktop)
        object-fit: contain

  &__form
    align-self: flex-end
    width: 553px
    box-sizing: border-box
    padding: 20px 36px 36px
    margin-top: -160px
    position: relative
    z-index: 1
    +screen($desktop)
      width: 427px
      padding: 24px
      margin-top: -120px
    +screen($tablet)
      box-shadow: 0 4px 21px rgba(0, 0, 0, .16)
      order: 1
      margin-top: 60px
      width: 100%
      padding: 26px 18px 40px

    &:before
      content: ''
      width: 100%
      height: 100%
      position: absolute
      background: rgba(255, 255, 255, 0.2)
      mix-blend-mode: normal
      box-shadow: 0 10px 32px rgba(0, 0, 0, .16)
      top: 0
      left: 0
      z-index: -1

    &-container
      position: relative
      z-index: 2

    .btn
      width: 240px
      height: 66px
      margin: 45px auto 0
      background-color: white
      +font(22px, 23px, 500)
      +screen($desktop)
        +font(18px, 19px, 500)
        width: 181px
        height: 53px
      +screen($tablet)
        width: 262px
        height: 60px
        +font(20px, 21px, 500)

    input
      background-color: $white

    &-title
      +font(28px, 30px, 700)
      text-align: center
      +screen($desktop)
        +font(22px, 26px, 700)
      +screen($tablet)
        +font(24px, 28px, 700)
        text-align: left

      span
        color: $orange

    &-txt
      +font(18px, 22px)
      margin: 14px 0 40px
      text-align: center
      display: flex
      flex-direction: column
      +screen($desktop)
        margin: 17px 0 24px
        +font(16px, 19px)
      +screen($tablet)
        margin: 19px 0 35px
        +font(16px, 26px)
        text-align: left
        display: block

    .form
      &__checkbox
        +font(16px, 20px)
        +screen($desktop)
          +font(14px, 16px)

      &__submit
        border-width: 2px
        width: 220px
        height: 53px
        +font(18px, 18px, 500)
        +screen($desktop)
          +font(16px, 16px, 500)
          width: 166px
          height: 47px
        +screen($tablet)
          +font(20px, 23px, 500)
          width: 262px
          height: 60px

  &__link
    margin: 80px auto 0
    +screen($tablet)
      margin-top: 33px

