@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.main-news
  padding: 40px 0 80px
  +screen($tablet)
    padding: 40px 0

  &__tile
    display: grid
    padding: 45px 0 80px
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 30px
    +screen($desktop)
      grid-gap: 20px
    +screen($tablet)
      grid-gap: 30px
      padding: 40px 0

  &__link
    margin: 0 auto
