@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.main-slider
  width: 100%
  height: calc(var(--vh, 1vh) * 100)
  position: relative

  .swiper
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    user-select: none
    +screen($tablet)
      display: none

    &_mobile
      display: none
      +screen($tablet)
        display: block

    &-slide
      width: 100%
      height: 100%
      position: relative
      box-sizing: border-box
      +screen($tablet)
        padding: 97px 0 52px

      .container
        z-index: 10
        position: relative

      &-title
        +font(64px, 64px, 800)
        max-width: 641px
        +screen($desktop)
          +font(54px, 54px, 800)
        +screen($tablet)
          +font(30px, 34px, 800)
          max-width: 300px

        span
          width: 176px
          height: 10px
          background-color: $white
          display: inline-block
          transform: translateY(-13px)
          margin-left: 4px
          +screen($desktop)
            transform: translateY(-10px)
            width: 147px
            height: 7px
          +screen($tablet)
            transform: translateY(-7px)
            width: 85px
            height: 5px

      &-txt
        +font(24px, 36px)
        margin-top: 24px
        +screen($desktop)
          +font(20px, 31px)
          margin-top: 22px
        +screen($tablet)
          +font(16px, 20px)
          margin-top: 16px

      .btn
        margin-top: 84px
        width: 311px
        height: 80px
        pointer-events: auto
        +screen($desktop)
          width: 236px
          height: 66px
          margin-top: 79px
          +font(22px, 22px, 500)
        +screen($tablet)
          margin-top: auto
          width: 222px
          height: 51px
          +font(18px, 18px, 500)


      &-image
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1
        pointer-events: none

        img
          object-fit: cover
          object-position: center
          width: 100%
          height: 100%

        &:after, &:before
          pointer-events: none
          content: ''
          position: absolute
          left: 0
          opacity: .8
          z-index: 1
          width: 100%

        &:before
          height: 55%
          top: 0
          background: linear-gradient(180deg, #14161B 0%, rgba(20, 22, 27, 0) 100%)

        &:after
          height: 33%
          bottom: 0
          background:  linear-gradient(0deg, #131416 0%, rgba(19, 20, 22, 0) 100%)


    &-button
      &-prev, &-next
        width: 50px
        height: 50px
        border-radius: 50%
        box-sizing: border-box
        cursor: pointer
        transition: background-color .3s
        pointer-events: auto
        z-index: 2
        top: auto
        bottom: 76px
        left: auto
        +screen($desktop)
          bottom: 50px
          width: 40px
          height: 40px
        +screen($tablet)
          display: none

        &:hover:not(:active)
          background-color: $orange

        &:after
          display: none

        img
          display: block
          width: 10px
          height: 22px
          +screen($desktop)
            width: 7px
            height: 14px

      &-prev
        right: 351px
        +screen($desktop)
          right: 257px

      &-next
        right: 186px
        +screen($desktop)
          right: 128px

    &-counter
      position: absolute
      right: 266px
      bottom: 89px
      width: 55px
      height: 24px
      +font(20px, 24px)
      color: $white
      z-index: 1
      display: flex
      +screen($desktop)
        bottom: 60px
        right: 188px
        width: 49px
        height: 21px
        +font(18px, 21px)
      +screen($tablet)
        display: none

      &.disabled
        display: none

    &-pagination
      display: none
      +screen($tablet)
        display: flex
        justify-content: center
        transform: translateY(-20px)

      &-bullet
        background-color: #8A8A8A
        opacity: 1
        width: 10px
        height: 10px
        margin: 0 10px !important

        &-active
          background-color: $white

  .container
    z-index: 1
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%
    color: $white
    pointer-events: none
    +screen($tablet)
      justify-content: flex-end

