@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.main-nums
  padding: 70px 0 50px

  &__tile
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    gap: 50px
    +screen($tablet)
      gap: 30px

  &__item
    display: flex
    flex-direction: column
    gap: 4px
    +screen($tablet)
      flex-basis: calc(50% - 15px)

    &:nth-child(5)
      span
        span
          &:last-child:not(:first-child)
            +font(32px, 32px, 800)
            +screen($tablet)
              +font(20px, 23px, 800)

    & > span
      &:first-child
        +font(70px, 82px, 800)
        color: $blue
        +screen($desktop)
          +font(60px, 70px, 800)
        +screen($tablet)
          +font(38px, 45px, 800)

      &:last-child
        +font(26px, 29px, 500)
        +screen($desktop)
          +font(20px, 22px, 500)
        +screen($tablet)
          +font(18px, 20px, 700)
