extends ../layouts/main/layout.pug

block title
  | SPBcolors

block content
  .wrapper
    .head
      a.head__phone(href="tel:+79111993053") 
        | !{ require('!svg-inline-loader!@/assets/img/phone.svg') }
        | 89111993053
      .head__logo
        .head__logo-image
          img(src=require("@/assets/img/logo.png") alt="")
      h1.head__header spbcolors
    .slider
      .slider__content
        .slider__item
    .info
      .info__main сайт находится на реконструкции 
      .info__desc 
        p.
          SPB Colors – это профессионалы с более чем десятилетним опытом в сфере художественной росписи, граффити и стрит арта.
        p.
          Мы предлагаем оригинальные и эксклюзивные решения для Вашего интерьера и экстерьера.
          С нами, Ваша жизнь заиграет новыми красками.

            
