mixin faq-drop(items)
  each item in items
    .drop-container
      .drop
        .drop__top
          h3.drop__title= item.title
          | !{require('!svg-inline-loader?removeSVGTagAttrs=true!@/assets/img/faq/arrow.svg')}
        .drop__bottom
          .drop__bottom-inner
            .drop__text= item.text
              if(item.highlight)
              span= item.highlight
              |.
