mixin product-specs(params)
  .product-specs
    h3.section-title Технические характеристики
    ul.product-specs__list
      each el in params
        li
          span !{el.name}
          span
          span !{el.value}
    button.product-specs__more
      span Показать еще
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/specs/more-arrow.svg')}

