mixin rent-card(items)
    each item in items
        .rent__card
            .card__top
                .card__icon
                  | !{item.image}
                .card__title #{item.title}
            .card__bottom
                    ul.card__list
                      each listItem in item.list
                        li.card__list-item #{listItem}
