mixin rent-card(items)
    each item in items
        .rent__card
            .card__top
                img.card__icon(src=item.image)
                .card__title #{item.title}
            .card__bottom
                each listItem in item.list
                    ul.card__list
                        li.card__list-item #{listItem}
