.intro
  margin-top: 48px
  display: flex
  position: relative
  max-height: 880px
  height: 100%
  overflow: hidden
  margin-bottom: 80px

  &:before
    content: " "
    position: absolute
    left: 0
    height: 100%
    width: 100%
    background: $dark-grey
    z-index: 10

  +screen(1024)
    margin-top: 68px

  .container
    display: flex
    flex-direction: column
    position: relative
    margin-bottom: 0
    width: 100%

    .intro__text-background
      z-index: 20
      position: absolute

    .intro__text-container
      box-sizing: content-box
      z-index: 30
      padding: 40px 142px 96px 60px
      height: 100%
      max-width: 760px

      .intro__titles-container
        display: flex
        flex-direction: column
        gap: 40px

        .intro__title
          font-family: Oswald
          font-size: 124px
          font-weight: 700
          line-height: normal
          letter-spacing: 3.72px
          background: var(--gradient-main, linear-gradient(90deg, #E95A2C 0%, #E9A92C 100%))
          background-clip: text
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent

        .intro__subtitle
          color: $white
          font-size: 36px
          font-style: normal
          font-weight: 700
          line-height: 48px
          letter-spacing: 1.44px

      .intro__list
        max-width: 408px
        margin-top: 56px
        display: flex
        flex-direction: column
        gap: 24px

        .intro__list-item
          align-items: flex-start
          display: flex
          gap: 12px

          .list-item__image
            padding-top: 3px

          .list-item__text
            align-items: center
            gap: 12px
            color: var(--white, #FFF)
            font-size: 24px
            font-weight: 700
            line-height: 32px
            letter-spacing: 0.48px





