@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.fighter
  .container
    +screen($mobile)
      padding: 0

  .modal
    &__about
      +screen($tablet)
        flex-direction: column
        align-items: center

      &-header
        margin-bottom: 20px

      &-item
        flex-direction: column
        align-items: flex-start
        +screen($tablet)
          align-items: center

      &-title
        margin: 0 0 0 15px

    &__socials
      z-index: auto
      
      .colored__socials
        &-item
          width: 49px
          height: 51px

          &:not(:last-child)
            margin-right: 10px

    &__slider
      padding-top: 170px

