@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.fighters
  height: 1650px
  margin-top: -150px
  z-index: 4
  position: relative
  pointer-events: none
  overflow: hidden
  +screen($tablet)
    box-sizing: border-box
    padding: 30px 0
    margin: 0
    height: auto

  &[data-lazyloaded]
    background: url(../assets/img/fighters/fighters_bg.png) no-repeat scroll 49.999% 0
    +screen($tablet)
      background: url(../assets/img/riders/mobile/riders_bg.jpg) repeat center 0

  &__preloader
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

  .container
    +screen($tablet)
      min-height: 400px
      padding: 0

  &__title
    top: 65px
    height: auto
    +screen($tablet)
      +cancel-position

  &__promo
    pointer-events: auto
    position: absolute
    top: 248px
    left: 50%
    transform: translateX(-50%)
    width: 100%
    box-sizing: border-box
    padding: 0 30px
    +screen($desktop-sm)
      transform: translateX(-50%) scale(.85)
    +screen($tablet)
      display: none

    &-image,
    &-image_hover
      position: absolute
      width: 400px
      height: 460px
      background-position: 50% 0
      cursor: pointer

    &-image_hover
      opacity: 0

    &:hover
      .fighters__promo-image
        opacity: 0

      .fighters__promo-image_hover
        opacity: 1

    &-info
      text-transform: uppercase
      color: $black
      padding-left: 550px

    &-header
      +font(40px, 45px, $font-dirty)
      margin-top: 70px
      max-width: 391px
      position: relative

      &::after
        content: ''
        position: absolute
        bottom: 5px
        right: 60px
        width: 100%
        height: 65px
        z-index: -1

      &[data-lazyloaded]
        &::after
          background: url(../assets/img/global/feedback_title_stroke.png) center/contain no-repeat

      i
        +font(22px, 24px, $font-dirty)

    &-discipline
      +font(28px, 28px)
      margin-top: 40px

    &-more
      margin-top: 40px

  .human-slider
    top: 720px
    +screen($tablet)
      top: inherit
