@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.news
  margin-top: -300px
  min-height: 1200px
  padding-bottom: 120px
  z-index: 6
  position: relative
  overflow: hidden
  pointer-events: none
  +screen($tablet)
    pointer-events: auto
    margin: 0
    min-height: 0
    height: auto
    padding: 30px 0

  &.lazyloaded
    background: url(../assets/img/news/news_bg.png) no-repeat scroll 49.999% 15px

  .container
    display: flex
    flex-direction: column
    align-items: center

  &__bg-color
    position: absolute
    top: 1319px
    width: 100%
    height: 100%
    background: $gray none repeat scroll 0 0
    +screen($tablet)
      display: none

  &__overlay
    position: absolute
    top: 484px
    width: 100%
    height: 100%
    +screen($tablet)
      display: none

    &.lazyloaded
      background: url(../assets/img/news/news_bg_overlay.png) repeat scroll 49.999% 0

  &__bottom
    bottom: 0
    position: absolute
    width: 100%
    +screen($tablet)
      display: none

    &-left
      position: absolute
      bottom: 0
      width: 100%
      height: 864px

      &.lazyloaded
        background: url(../assets/img/news/news_bg_left.png) no-repeat scroll 49.999% 0

    &-right
      position: absolute
      bottom: 0
      width: 100%
      height: 822px

      &.lazyloaded
        background: url(../assets/img/news/news_bg_right.png) no-repeat scroll 49.999% 0

  &__title
    top: 115px
    +screen($tablet)
      +cancel-position

  &__filter
    pointer-events: auto
    position: absolute
    top: 310px
    left: 50%
    transform: translateX(-50%)
    z-index: 2
    +screen($tablet)
      +cancel-position
      margin-top: 50px

    &-desktop
      display: flex
      +screen($tablet)
        display: none

    &-mobile
      display: none
      +screen($tablet)
        display: block

      .select
        &__filter
          +screen($tablet)
            display: block

        &__input
          width: 260px
          height: 43px
          display: flex
          justify-content: center
          align-items: center
          +font(18px, 18px)

          &.lazyloaded
            background: url(../assets/img/news/mobile/news_filter_bg.png) no-repeat center 0 / 173px 45px

          .select__item
            color: $white
            text-transform: uppercase

          .select__text
            margin-top: -3px

            &.lazyloaded
              &::before
                background-image: url(../assets/img/news/mobile/news_filter_underline.png)

              &::after
                background: url(../assets/img/news/mobile/news_filter_arr.png) no-repeat center / 11px 7px

        &__options
          top: calc(100% + 20px)
          max-height: 150px
          overflow: hidden

    &-item
      display: block
      width: 173px
      height: 45px
      text-align: center
      +font(22px, 45px)
      color: $white
      text-transform: uppercase
      transition: color .2s

      &:hover:not(.news__filter-item_active)
        color: $orange

      &.lazyloaded
        background: url(../assets/img/news/news_filter.png) repeat scroll 0 0

      &_all
        width: 193px

        &.lazyloaded
          background: url(../assets/img/news/news_filter_all.png) repeat scroll 0 0

      &_active
        &.lazyloaded
          background: url(../assets/img/news/news_filter_selected.png) repeat scroll 0 0

      &_active.news__filter-item_all
        &.lazyloaded
          background: url(../assets/img/news/news_filter_all_selected.png) repeat scroll 0 0

    &-delimiter
      width: 24px
      height: 45px

      &.lazyloaded
        background: url(../assets/img/news/news_filter_delimiter.png) repeat scroll 0 0

  &-slider
    width: 100%
    padding-top: 430px
    position: relative
    pointer-events: auto
    +screen($desktop-sm)
      width: 1180px
      transform: scale(.85)
    +screen($tablet)
      +cancel-position
      width: 280px
      height: 470px
      padding: 0
      margin: 60px auto 0

    &__content
      display: flex
      flex-wrap: wrap
      max-height: 920px
      overflow: hidden
      +screen($tablet)
        position: absolute
        top: 0
        left: 0
        flex-wrap: nowrap
        overflow: visible

      .news-card
        +screen($tablet)
          margin-right: 20px

        &:not(:nth-child(4n))
          margin-right: 20px

        &:nth-child(n + 5)
          margin-top: 30px
          +screen($tablet)
            margin-top: 0

    &__arrow
      display: none
      +screen($tablet)
        display: block
        position: absolute
        bottom: 3px
        width: 21px
        height: 16px

      &_left
        left: 0

        &.lazyloaded
          +screen($tablet)
            background: url(../assets/img/riders/mobile/riders_gallery_arr_left.png) no-repeat center/contain !important

      &_right
        right: 0

        &.lazyloaded
          +screen($tablet)
            background: url(../assets/img/riders/mobile/riders_gallery_arr_right.png) no-repeat center/contain !important

    &__pager
      display: none
      +screen($tablet)
        display: block
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        color: $orange

    &__more
      margin: 0 auto
      +screen($tablet)
        display: none
