@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.products
  margin-top: -170px
  height: 1450px
  width: 100%
  z-index: 2
  position: relative
  pointer-events: none
  overflow: hidden
  box-sizing: border-box
  +screen($tablet)
    margin-top: 0
    height: auto
    pointer-events: auto
    padding: 30px 0 60px 0

  &.lazyloaded
    background: url("../assets/img/products/products_bg.png") no-repeat center
    +screen($tablet)
      background: url("../assets/img/products/products_mobile_bg.jpg") no-repeat center top

  &__broken-ground
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 484px
    +screen($tablet)
      display: none

    &.lazyloaded
      background: url(../assets/img/products/products_broken_ground.png) no-repeat center -30px

  &__title
    top: 140px
    +screen($tablet)
      +cancel-position

  &__choose
    position: absolute
    top: 358px
    left: 40px
    +font(35px, 45px)
    text-transform: uppercase
    +screen($desktop-sm)
      top: 220px
    +screen($tablet)
      display: none

  &__list
    position: absolute
    right: 40px
    top: 310px
    height: 203px
    display: flex
    pointer-events: auto
    z-index: 1
    +screen($desktop-sm)
      right: inherit
      left: 50%
      transform: translateX(-50%)
    +screen($tablet)
      display: none

    &-item
      display: block
      position: relative
      width: 180px
      height: 203px
      box-sizing: border-box
      padding-top: 179px
      margin-left: 20px
      text-transform: uppercase
      color: $white
      text-align: center
      transition: color .2s ease-out
      +screen($desktop-sm)
        margin-left: 0

        &:not(:last-child)
          margin-right: 20px

      &::before
        position: absolute
        left: -67px
        top: -60px
        width: 282px
        height: 265px
        opacity: 0
        transform: scale(0.2)
        transition: transform .2s ease-out, opacity .2s ease-out
        content: ''
        pointer-events: none
        z-index: -1

      &.lazyloaded
        &::before
          background: url(../assets/img/products/products_product_hover.png) no-repeat

      &:hover:not(.products__list-item_active)
        &::before
          opacity: 1
          transform: scale(1)

      &_active.products__list-item
        &_original
          color: $green

        &_orange
          color: $orange

        &_ice
          color: $blue

        &_pomegranate
          color: $red

        &_california
          color: $pink

      &_original
        &.lazyloaded
          background: url(../assets/img/products/products_original.png) no-repeat center top

        &:hover
          color: $green

      &_orange
        &.lazyloaded
          background: url(../assets/img/products/products_orange.png) no-repeat center top

        &:hover
          color: $orange

      &_ice
        &.lazyloaded
          background: url(../assets/img/products/products_ice.png) no-repeat center top

        &:hover
          color: $blue

      &_pomegranate
        &.lazyloaded
          background: url(../assets/img/products/products_pomegranate.png) no-repeat center top

        &:hover
          color: $red

      &_california
        &.lazyloaded
          background: url(../assets/img/products/products_pepper.png) no-repeat center top

        &:hover
          color: $pink

  &__choosen
    position: absolute
    top: 574px
    left: 63px
    width: 100%
    height: 660px
    pointer-events: auto
    +screen($tablet)
      display: none

    &-can
      position: absolute
      top: 0
      left: 0
      width: 255px
      height: 660px
      pointer-events: none

      &-hole-back
        position: absolute
        left: -118px
        top: 453px

      &-hole-front
        position: absolute
        left: -72px
        top: 590px

      &-sublight
        position: absolute
        top: 546px
        left: -87px
        width: 440px
        height: 168px

      &-splash
        position: absolute

    &-human
      position: absolute

      &_1
        height: 144px
        width: 144px

      &_2
        height: 135px
        width: 121px

      &_3
        height: 139px
        width: 118px

    &-splatter
      &_1
        position: absolute
        top: 320px
        left: 203px
        width: 357px
        height: 348px
        transform-origin: 20% 90% 0

      &_2
        position: absolute
        top: 320px
        left: -60px
        width: 234px
        height: 331px
        transform-origin: 50% 100% 0

      &_3
        position: absolute
        top: 290px
        left: -160px
        width: 621px
        height: 313px

      &_4
        position: absolute
        top: 480px
        left: 420px
        width: 160px
        height: 186px

      &_5
        position: absolute
        top: 200px
        left: -320px
        width: 832px
        height: 325px

    &-info
      position: absolute
      top: 50px
      right: 100px

      &-content
        display: none
        width: 495px
        height: 530px

      &-top
        box-sizing: border-box
        padding: 63px 70px 0 44px
        height: 390px
        color: $black

        h2
          +font(25px, 30px, $font-dirty)
          text-transform: uppercase

        p
          +font(24px, 29px, $font-intro)
          margin-top: 30px

      &-list
        width: 100%
        padding: 0 130px 0 108px
        font-size: 17px
        line-height: 25px

        ul
          margin: 0
          padding: 0
          list-style: none

          li
            position: relative
            padding-left: 20px

            &:before
              content: "•"
              position: absolute
              left: 0
              top: 0

    &_original
      .products__choosen
        &-can
          &.lazyloaded
            background: url(../assets/img/products/products_big_can_original.png) no-repeat

          &-splash
            &_1
              top: -15px
              left: -380px
              width: 658px
              height: 573px

              &.lazyloaded
                background: url(../assets/img/products/products_splash1.png) no-repeat

            &_2
              top: -60px
              left: -110px
              width: 574px
              height: 540px

              &.lazyloaded
                background: url(../assets/img/products/products_splash2.png) no-repeat scroll right center

          &-sublight
            &.lazyloaded
              background: url(../assets/img/products/products_sublight_original.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &.lazyloaded
              background: url(../assets/img/products/products_splatter1_original.png) no-repeat scroll 0 0
          &_2
            &.lazyloaded
              background: url(../assets/img/products/products_splatter2_original.png) no-repeat scroll 0 0
          &_3
            &.lazyloaded
              background: url(../assets/img/products/products_splatter3_original.png) no-repeat scroll 0 0
          &_4
            &.lazyloaded
              background: url(../assets/img/products/products_splatter4_original.png) no-repeat scroll 0 0
          &_5
            &.lazyloaded
              background: url(../assets/img/products/products_splatter5_original.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -240px
            top: 234px

          &_2
            left: 372px
            top: 32px

          &_3
            left: 309px
            top: 256px

        &-info
          &-content
            position: relative

            &.lazyloaded
              background: url("../assets/img/products/products_info_panel_original.png") no-repeat scroll 0 0

            &_original
              display: block

          &-top
            p
              width: 300px

    &_orange
      .products__choosen
        &-can
          &.lazyloaded
            background: url(../assets/img/products/products_big_can_orange.png) no-repeat

          &-splash
            &_1
              top: -70px
              left: -350px
              width: 655px
              height: 628px

              &.lazyloaded
                background: url(../assets/img/products/products_splash1_orange.png) no-repeat

            &_2
              top: -94px
              left: -75px
              width: 706px
              height: 765px

              &.lazyloaded
                background: url(../assets/img/products/products_splash2_orange.png) no-repeat

          &-sublight
            &.lazyloaded
              background: url(../assets/img/products/products_sublight_orange.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &.lazyloaded
              background: url(../assets/img/products/products_splatter1_orange.png) no-repeat
          &_2
            &.lazyloaded
              background: url(../assets/img/products/products_splatter2_orange.png) no-repeat scroll 0 0
          &_3
            &.lazyloaded
              background: url(../assets/img/products/products_splatter3_orange.png) no-repeat scroll 0 0
          &_4
            &.lazyloaded
              background: url(../assets/img/products/products_splatter4_orange.png) no-repeat scroll 0 0
          &_5
            &.lazyloaded
              background: url(../assets/img/products/products_splatter5_orange.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -210px
            top: 10px

          &_2
            left: -250px
            top: 380px
            transform: scale(-1, 1)

          &_3
            left: 409px
            top: 10px
            transform: rotate(-15deg)

        &-info
          &-content
            &.lazyloaded
              background: url("../assets/img/products/products_info_panel_orange.png") no-repeat scroll 0 0

            &_orange
              display: block

    &_ice
      .products__choosen
        &-can
          &.lazyloaded
            background: url(../assets/img/products/products_big_can_ice.png) no-repeat

          &-splash
            &_1
              top: -138px
              left: -406px
              width: 707px
              height: 650px

              &.lazyloaded
                background: url(../assets/img/products/products_splash1_ice.png) no-repeat

            &_2
              top: -138px
              left: -144px
              width: 818px
              height: 654px

              &.lazyloaded
                background: url(../assets/img/products/products_splash2_ice.png) no-repeat

          &-sublight
            &.lazyloaded
              background: url(../assets/img/products/products_sublight_ice.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &.lazyloaded
              background: url(../assets/img/products/products_splatter1_ice.png) no-repeat
          &_2
            &.lazyloaded
              background: url(../assets/img/products/products_splatter2_ice.png) no-repeat scroll 0 0
          &_3
            &.lazyloaded
              background: url(../assets/img/products/products_splatter3_ice.png) no-repeat scroll 0 0
          &_4
            &.lazyloaded
              background: url(../assets/img/products/products_splatter4_ice.png) no-repeat scroll 0 0
          &_5
            &.lazyloaded
              background: url(../assets/img/products/products_splatter5_ice.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -260px
            top: 380px

          &_2
            left: -240px
            top: 145px
            transform: scale(-1, 1)

          &_3
            left: 270px
            top: -80px
            transform: rotate(-30deg)

        &-info
          &-content
            &.lazyloaded
              background: url("../assets/img/products/products_info_panel_ice.png") no-repeat scroll 0 0

            &_ice
              display: block

    &_pomegranate
      .products__choosen
        &-can
          &.lazyloaded
            background: url(../assets/img/products/products_big_can_pomegranate.png) no-repeat

          &-splash
            &_1
              top: -70px
              left: -358px
              width: 659px
              height: 609px

              &.lazyloaded
                background: url(../assets/img/products/products_splash1_pomegranate.png) no-repeat

            &_2
              top: -111px
              left: -126px
              width: 692px
              height: 782px

              &.lazyloaded
                background: url(../assets/img/products/products_splash2_pomegranate.png) no-repeat

          &-sublight
            &.lazyloaded
              background: url(../assets/img/products/products_sublight_pomegranate.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &.lazyloaded
              background: url(../assets/img/products/products_splatter1_pomegranate.png) no-repeat
          &_2
            &.lazyloaded
              background: url(../assets/img/products/products_splatter2_pomegranate.png) no-repeat scroll 0 0
          &_3
            &.lazyloaded
              background: url(../assets/img/products/products_splatter3_pomegranate.png) no-repeat scroll 0 0
          &_4
            &.lazyloaded
              background: url(../assets/img/products/products_splatter4_pomegranate.png) no-repeat scroll 0 0
          &_5
            &.lazyloaded
              background: url(../assets/img/products/products_splatter5_pomegranate.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -230px
            top: -70px

          &_2
            left: -240px
            top: 360px
            transform: scale(-1, 1)

          &_3
            left: 300px
            top: -30px
            transform: rotate(-15deg)

        &-info
          &-content
            &.lazyloaded
              background: url("../assets/img/products/products_info_panel_pomegranate.png") no-repeat scroll 0 0

            &_pomegranate
              display: block

    &_california
      .products__choosen
        &-can
          &.lazyloaded
            background: url(../assets/img/products/products_big_can_pepper.png) no-repeat

          &-splash
            &_1
              top: -111px
              left: -376px
              width: 677px
              height: 782px

              &.lazyloaded
                background: url(../assets/img/products/products_splash1_pepper.png) no-repeat

            &_2
              top: -87px
              left: -126px
              width: 677px
              height: 684px

              &.lazyloaded
                background: url(../assets/img/products/products_splash2_pepper.png) no-repeat

          &-sublight
            &.lazyloaded
              background: url(../assets/img/products/products_sublight_pepper.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &.lazyloaded
              background: url(../assets/img/products/products_splatter1_pepper.png) no-repeat
          &_2
            &.lazyloaded
              background: url(../assets/img/products/products_splatter2_pepper.png) no-repeat scroll 0 0
          &_3
            &.lazyloaded
              background: url(../assets/img/products/products_splatter3_pepper.png) no-repeat scroll 0 0
          &_4
            &.lazyloaded
              background: url(../assets/img/products/products_splatter4_pepper.png) no-repeat scroll 0 0
          &_5
            &.lazyloaded
              background: url(../assets/img/products/products_splatter5_pepper.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -250px
            top: -40px

          &_2
            left: -240px
            top: 440px
            transform: scale(-1, 1)

          &_3
            left: 300px
            top: -40px
            transform: rotate(-20deg)

        &-info
          &-content
            &.lazyloaded
              background: url("../assets/img/products/products_info_panel_pepper.png") no-repeat scroll 0 0

            &_california
              display: block
