@use '../components/variables' as *
@use '../components/buttons'
@use '../components/card'
@use '../components/offer'
@use '../components/eventSlider'
@use '../components/eventModal'

.event
  min-width: 320px

  &__mainHeader
    flex: 0 0 auto

  &__main
    flex: 1 0 auto
    background: #E5E5E5

    .participation
      width: 100%
      padding: 20px 0 0
      display: flex
      flex-direction: column    
      &__header
        font-weight: bold
        margin-bottom: 20px
        align-self: center
      &__buttons
        box-sizing: border-box
        padding: 0 10px
        display: flex
        overflow-x: scroll
        height: 50px
        &::-webkit-scrollbar
          width: 0
        +media(493px)
          justify-content: center

  &__mainFooter
    flex: 0 0 auto

  &__head
    width: 100%
    padding: 50px 0
    background: center/cover url(../../img/event-store/winter_2.jpg) no-repeat
    display: flex
    flex-direction: column
    align-items: center
    color: #fff
    font-weight: bold

  &__date
    font-size: 14px
    line-height: 16px
    margin-bottom: 20px
    +media()
      font-size: 20px
      line-height: 23px
      margin-bottom: 15px

  &__header
    font-size: 20px
    line-height: 23px
    margin-bottom: 20px
    color: #fff
    +media()
      font-size: 30px
      line-height: 35px

  &__city
    font-size: 14px
    line-height: 16px
    margin-bottom: 30px
    +media()
      font-size: 20px
      line-height: 23px
      
  &__faq
    margin-top: 30px
    border-bottom: 1px dotted #fff

  &__cards
    background: #fff
    box-sizing: border-box
    padding: 30px 0
    display: flex
    justify-content: center
    flex-wrap: wrap
  
  &__forCompanies
    display: flex
    justify-content: center
    padding: 16px 0
    +media()
      padding: 30px 0
    +media(1366px)
      background: center/cover url(../../img/event-store/offer_desktop_big.jpg) no-repeat

  &__slider
    padding: 30px 0 0
    background: #fff
    &Header
      font: bold 12px/14px $font
      text-transform: uppercase
      text-align: center
      +media()
        font: bold 18px/21px $font

  &__modal
    position: fixed
    display: none
    justify-content: center
    align-items: center
    background: rgba(38, 44, 46, .8)
    width: 100vw
    height: 100vh
    z-index: 1000