@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

html
  scroll-behavior: smooth
  min-height: 100vh
  box-sizing: border-box
  padding: 0
  overflow-x: hidden

body
  max-width: 1920px
  margin: 0 auto
  min-height: 100vh
  display: flex
  flex-direction: column
  font-family: $font
  position: relative
  background-color: $white

.container
  position: relative
  width: 100%

a
  text-decoration: none
  display: block
  color: $black
  transition: color .3s, opacity .3s, background-color .3s
  outline: none

h1, h2, h3, h4, p
  margin: 0

button
  appearance: none
  border: none
  cursor: pointer
  padding: 0
  background: transparent
  transition: .3s

svg
  path, circle, rect
    transition: .3s

ul
  padding: 0
  margin: 0

  li
    list-style-type: none

input, textarea
  border-radius: 0
  border: none
  appearance: none
  outline: none
  width: 100%
  height: 100%
  background: transparent
  box-sizing: border-box
  padding: 0

  &::placeholder
    color: $black

textarea
  resize: none

select
  &:focus
    outline: none
  & option:hover
    background-color: $orange

.check-mark
  display: block
  width: 14px
  height: 14px
  border: 3px solid $gray
  border-radius: 3px
  cursor: pointer
  background-color: $white
  &:checked
    border: 3px solid $orange
    background-image: url("../assets/img/home/check.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    box-sizing: border-box
    padding: 2px

.check-round
  display: block
  width: 16px
  height: 16px
  border: 2px solid $gray
  border-radius: 50%
  cursor: pointer
  background-color: $white
  &:checked
    border: 3px solid $orange
    background-image: url("../assets/img/one-application-creating/ellipse.svg")
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    box-sizing: border-box
    padding: 3px



/* Скрываем clear button */
input[type="search"]::-webkit-search-cancel-button
  display: none

input[type="search"]::-moz-cancel-button
  display: none

input[type="search"]::-ms-clear
  display: none


input[type="radio"] + label
  position: relative
  box-sizing: border-box
  +font(14px, 22px, 500)

  &:before
    content: ''
    top: 50%
    transform: translateY(-50%)
    left: 0

.title
  position: relative
  cursor: pointer
  z-index: 1000
  &::before
    content: ""
    position: absolute
    width: 0
    height: 0
    border-style: solid
    border-width: 12px 12px 0 12px
    border-color: $gray-dark transparent transparent transparent
    left: 50%
    transform: translateX(-50%)
    bottom: 100%
    z-index: 999
    opacity: 0
    transition: opacity 0.5s ease-in-out
  &::after
    content: attr(data-tooltip)
    position: absolute
    background-color: $gray-dark
    color: $white
    padding: 10px
    border-radius: 5px
    font-size: 12px
    bottom: calc(100% + 11px)
    left: 300%
    transform: translateX(-50%)
    z-index: 999
    width: 145px
    opacity: 0
    transition: opacity 0.5s ease-in-out
    box-sizing: border-box
  &:hover::after
    opacity: 1
  &:hover::before
    opacity: 1
  &_stop
    width: 12px

.one-application-creating_form__title
  box-sizing: border-box
  margin: 30px 0 20px 0
  display: flex
  justify-content: space-between
  align-items: center
  padding: 11px 16px 10px 20px
  box-shadow: 0 2px 20px rgba(52, 60, 68, 0.08)
  border-radius: 8px

  &-name
    +font(16px, 19px, 700)
    color: $black

.button
  box-sizing: border-box
  padding: 7px 10px
  display: grid
  grid-auto-flow: column
  width: auto
  grid-column-gap: 7px
  border-radius: 5px
  align-items: center
  margin-left: 10px
  transition: all 0.5s ease
  &:first-child
    margin-left: 0
  span
    +font(14px, 17px, 400)
    white-space: nowrap

  &-orange
    border: 1px solid $orange
    span
      color: $orange
    svg
      path
        fill: $orange
    &:hover
      border: 1px solid $orange
      background-color: $orange
      span
       color: $white
      svg
        path
          fill: $white

  &-orange-bg
    border: 1px solid $orange
    background-color: $orange
    span
      color: $white
    svg
      path
        fill: $white

  &-green
    border: 1px solid $green
    span
      color: $green
    svg
      path
        fill: $green
    &:hover
      border: 1px solid $green
      background-color: $green
      span
        color: $white
      svg
        path
          fill: $white

  &-red
    border: 1px solid $red
    span
      color: $red
    svg
      path
        fill: $red
    &:hover
      border: 1px solid $red
      background-color: $red
      span
        color: $white
      svg
        path
          fill: $white

  &-blue-light
    border: 1px solid $blue-light
    span
      color: $blue-light
    svg
      path
        fill: $blue-light
    &:hover
      border: 1px solid $blue-light
      background-color: $blue-light
      span
        color: $white
      svg
        path
          fill: $white

  &-blue-bright
    border: 1px solid $blue-bright
    span
      color: $blue-bright
    svg
      path
        fill: $blue-bright
    &:hover
      border: 1px solid $blue-bright
      background-color: $blue-bright
      span
        color: $white
      svg
        path
          fill: $white

  &-gray
    border: 1px solid $gray-input
    span
      color: $gray-input
    svg
      path
        fill: $gray-input
    &:hover
      border: 1px solid $gray-input
      background-color: $gray-input
      span
        color: $white
      svg
        path
          fill: $white

  &-gray-dark
    border: 1px solid $gray-dark
    span
      color: $gray-dark
    svg
      path
        fill: $gray-dark
    &:hover
      border: 1px solid $orange
      span
        color: $orange
      svg
        path
          fill: $orange


.status
  border: 1px solid $gray
  border-radius: 100px
  display: flex
  align-items: center
  justify-content: center
  box-sizing: border-box
  padding: 2px 14px
  span
    +font(10px, 12px, 600)
    color: $black
  &-green
    border: 1px solid $green
    background-color: $green
    span
      color: $gray-hover
  &-blue-light
    border: 1px solid $blue-light
    background-color: $blue-light
    width: 108px
    height: 16px
    span
      color: $gray-hover

.count
  position: absolute
  top: -35%
  left: 50%
  width: 17px
  height: 17px
  border-radius: 50%
  background-color: $blue-light
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 2px 2px 2px rgba(37, 37, 45, 0.1)
  span
    +font(12px, 15px, 400)
    color: $white
  &-red
    background-color: $red-bright
  &-lightblue
    background-color: $blue-light

.application-modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.6)
  display: none
  justify-content: center
  align-items: center
  z-index: 999

.page
  background-color: $white
  height: auto
  position: absolute
  z-index: 800
  margin: 0 0 0 3vw
  transition: all 0.6s ease-in-out
  box-shadow: 10px 0 15px rgba(37, 37, 45, 0.1)

.number
  color: $white
  border-radius: 5px
  box-sizing: border-box
  padding: 3px
  max-width: 72px
  display: flex
  align-items: center
  justify-content: center
  +font(12px, 15px, 400)

.bg
  &-red
    background-color: $red-bright
  &-green
    background-color: $green
  &-orange
    background-color: $orange
  &-gray
    background-color: $gray-input
  &-light-blue
    background-color: $blue-light
  &-blue
    background-color: $blue-bright

.text
  &-green
    color: $green
  &-red
    color: $red


.content-open
  margin: 0 0 0 12vw
  transition: all 0.6s ease-in-out

.rotate
  transition: 0.3s ease
  transform: rotate(180deg)

.district-number
  background-color: $white
  border: 2px solid $orange
  border-radius: 6px
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  width: 25px
  height: 25px

  span
    color: $orange
    +font(12px, 15px, 600)

.block
  display: block





