.modal {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(19, 25, 41, 0.25);
  background: #fff;
}
@media screen and (min-width: 992px) {
  .modal {
    width: 653px;
  }
}
.modal__head {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  height: 127px;
  background: url(../../img/event-store/winter_modal_mobile.jpg) no-repeat;
  background-size: conver;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .modal__head {
    height: 279px;
    background: url(../../img/event-store/winter_modal_desktop.jpg) no-repeat;
    background-size: conver;
  }
}
.modal__head .notifications {
  padding: 0;
  align-self: flex-start;
}
@media screen and (min-width: 992px) {
  .modal__head .notifications__image[alt=age] {
    width: 18px;
    height: 18px;
  }
  .modal__head .notifications__image[alt=ocr] {
    width: 59px;
    height: 18px;
  }
}
.modal__close {
  width: 17px;
  height: 17px;
  background: center url(../../img/event-store/close.svg) no-repeat;
  cursor: pointer;
}
.modal__body {
  box-sizing: border-box;
  padding: 20px 10px 15px;
}
@media screen and (min-width: 992px) {
  .modal__body {
    padding: 20px 50px 15px;
  }
}
.modal__name {
  font: bold 14px/16px "Roboto", sans-serif;
  margin-bottom: 18px;
}
@media screen and (min-width: 992px) {
  .modal__name {
    font: bold 16px/20px "Roboto", sans-serif;
  }
}
.modal__description {
  margin-bottom: 18px;
}
@media screen and (min-width: 992px) {
  .modal__description {
    text-align: justify;
  }
}
.modal .condition {
  font-weight: bold;
  text-decoration: underline dotted;
}
.modal .condition_insurance {
  margin-bottom: 20px;
}
.modal__buy {
  box-sizing: border-box;
  padding-top: 18px;
  border-top: 1px solid #D0D0D0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .modal__buy {
    flex-flow: row wrap;
    justify-content: center;
  }
}
.modal__count, .modal__price {
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  .modal__count, .modal__price {
    margin-right: 22px;
  }
}
.modal__countSum, .modal__priceSum {
  color: red;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .modal__price {
    margin-right: 0;
  }
}
.modal__button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal__select {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0 16px;
  transition: 0.3s all;
}
.modal__select:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 5px;
  top: 14px;
  right: 50px;
  z-index: 1;
  background: center url(../../img/event-store/select_arrow.svg) no-repeat;
}
.modal__select:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 5px;
  top: 57px;
  right: 50px;
  z-index: 1;
  background: center url(../../img/event-store/select_arrow.svg) no-repeat;
}
@media screen and (min-width: 992px) {
  .modal__select {
    flex-direction: row;
  }
  .modal__select:before {
    content: "";
    left: 122px;
    top: 14px;
  }
  .modal__select:after {
    content: "";
    left: 276px;
    top: 14px;
  }
}
.modal__select .select {
  width: 196px;
  height: 32px;
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  -webkit-appearance: none;
  color: #78818B;
}
@media screen and (min-width: 992px) {
  .modal__select .select {
    width: 144px;
    height: 34px;
  }
}
.modal__select .select:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .modal__select .select:first-child {
    margin: 0 10px 0 0;
  }
}
.modal__select .select option[disabled] {
  display: none;
  color: #78818B;
}

/*# sourceMappingURL=eventModal.css.map */
