.fixed_menu {
  position: fixed;
  top: 55px;
  left: -142%;
  background: #262C2E;
  padding: 0 75px 20px 75px;
  z-index: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 400px;
  height: calc(100vh - 55px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fixed_menu.active {
  left: 0;
}

.fixed_menu .close {
  display: none;
  width: 25px;
  height: 25px;
  background-image: url(../../img/close.svg);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.fixed_menu .nav li a {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-top: 15px;
}

.fixed_menu .second_nav li {
  font-size: 14px;
  line-height: 16px;
  color: #78818B;
}

.fixed_menu .second_nav li a {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #A6AEB8;
  display: block;
  margin-top: 15px;
}

.fixed_menu .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fixed_menu .social a {
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .fixed_menu {
    top: 46px;
    height: calc(100vh - 46px);
  }
}
