.main_info {
  height: 340px;
  background-image: url(../../img/main-bg.jpg);
  background-size: cover;
  background-position: center;
}

.main_info .container {
  z-index: 40;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.main_info .center_block {
  text-align: center;
  max-width: 480px;
}

.main_info .center_block .avatar {
  display: inline-block;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: #262C2E;
}

.main_info .center_block .avatar:before {
  content: "";
  width: 175px;
  height: 180px;
  position: absolute;
  top: 0;
  left: -3px;
  z-index: 1;
  display: inline-block;
  background-image: url(../../img/ellipse.svg);
  background-size: cover;
  background-position: center;
}

.main_info .center_block .name_block {
  background: #FFFFFF;
  border-radius: 10px;
  position: relative;
  margin-top: 25px;
  padding: 15px 30px;
  text-align: center;
}

.main_info .center_block .name_block .name {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.main_info .center_block .name_block .position {
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
}

.main_info .center_block .name_block .number {
  position: absolute;
  z-index: 1;
  top: -8px;
  left: -15px;
  width: 36px;
  height: 36px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ED1C24), to(#ED1C24));
  background: linear-gradient(0deg, #ED1C24, #ED1C24);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main_info .center_block .name_block .progress_bar {
  height: 3px;
  background: #DFD4D4;
  position: relative;
}

.main_info .center_block .name_block .progress_bar span {
  background: #ED1C24;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
}

.main_info .left_block {
  width: 290px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 10px;
  background: rgba(38, 44, 46, 0.8);
  padding: 24px 20px;
  color: #fff;
}

.main_info .left_block .caption {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 23px;
  border-bottom: 1px solid #78818B;
}

.main_info .left_block .step_block {
  margin-top: 25px;
}

.main_info .left_block .step_block .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  height: 38px;
}

.main_info .left_block .step_block .step.active i {
  background: #2ABB9C;
  position: relative;
}

.main_info .left_block .step_block .step.active i:after {
  content: "";
  width: 10px;
  height: 9px;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 3px;
  background-image: url(../../img/ok.svg);
}

.main_info .left_block .step_block .step.active p {
  color: #2ABB9C;
}

.main_info .left_block .step_block .step:last-of-type:before {
  display: none;
}

.main_info .left_block .step_block .step:before {
  content: "";
  position: absolute;
  top: 27px;
  left: 9px;
  width: 2px;
  height: 27px;
  background: #2ABB9C;
}

.main_info .left_block .step_block .step i {
  width: 20px;
  min-width: 20px;
  height: 20px;
  border: 2px solid #2ABB9C;
  border-radius: 50%;
  margin-right: 25px;
  display: inline-block;
}

.main_info .left_block .step_block .step p {
  font-size: 12px;
  line-height: 14px;
}

.main_info .right_block {
  width: 290px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 10px;
  background: rgba(38, 44, 46, 0.8);
  padding: 24px 20px;
  color: #fff;
}

.main_info .right_block .caption {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 23px;
  border-bottom: 1px solid #78818B;
}

.main_info .right_block .next_achievements .achievement {
  margin-top: 30px;
}

.main_info .right_block .next_achievements .achievement .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_info .right_block .next_achievements .achievement .description .img_block {
  min-width: 60px;
  margin-right: 15px;
}

.main_info .right_block .next_achievements .achievement .description .text_block .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.main_info .right_block .next_achievements .achievement .description .text_block p {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  margin-top: 5px;
}

.main_info .right_block .next_achievements .achievement .progress_bar {
  margin-top: 20px;
  height: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 15px;
  position: relative;
}

.main_info .right_block .next_achievements .achievement .progress_bar .line {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(#2ABB9C), to(#2ABB9C));
  background: linear-gradient(0deg, #2ABB9C, #2ABB9C);
  border-radius: 15px 0 0 15px;
}

.main_info .right_block .next_achievements .achievement .progress_bar .number {
  right: 0;
  top: -19px;
  display: inline-block;
  position: absolute;
  font-weight: 300;
  font-size: 10px;
}
