aside.cert
  .container
    .video
      .video__btn
        button
          img(src=require('@/assets/img/global/play-btn.svg') alt="")
      video(loop muted controls)
        source(src=require('@/assets/video/semitrailer.mp4') type="video/mp4")
    .cert__image
      img(src=require('@/assets/img/products/semitrailers/curtain/cert.jpg') alt="")

