section.map
  .container
    +section-title('Контакты')
    .contacts__container
      .contacts__card
        .card__item
          img.item__img(src="")
        .card__item
          img.item__img(src="")
        .card__item
          img.item__img(src="")
      .contacts__map
