section.request#request
  .container
    form.form(method="POST" action="")#contactsForm
      h2.request__title Оставить заявку
      p.request__txt Хотите заказать прицеп SOTRANS WALLAROO или получить консультацию? #[br] Оставьте заявку и мы свяжемся с вами в ближайшее время
      .request__fields
        .form__field
          input(name="name" type="text" required)#contactsFormName
          .form__field-label ФИО *
          .form__field-error Поле не может быть пустым
        .form__field
          input(name="tel" type="tel" required)#contactsFormPhone
          .form__field-label Номер телефона *
          .form__field-error Введите корректный номер
        .form__field
          input(name="email" type="email" required)#contactsFormEmail
          .form__field-label E-mail
          .form__field-error Введите корректный email
      .request__policy Нажимая «Отправить», вы соглашаетесь с #[a(href="javascript:" target="_blank" rel="noopener noreferrer") Политикой конфидициальности] и #[a(href="javascript:" target="_blank" rel="noopener noreferrer") обработкой персональных данных]
      button.request__submit.btn-grad(type="submit")
        span Отправить
