@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.header
  width: 100%
  position: fixed
  top: 0
  z-index: 100
  background-color: $white
  padding: 16px 0
  +screen(1024)
    display: none

  &_shadow
    box-shadow: 0 4px 16px 0 #0000001A

  .container
    align-items: center
    justify-content: space-between
    display: flex
    gap: 20px
    margin-left: auto
    margin-right: auto
    margin-bottom: 0

    .header__link
      cursor: pointer
      transition: color ease 0.3s
      font-size: 16px
      font-weight: 500
      line-height: 20px

      &:hover
        color: $orange

    .header__nav
      display: flex
      align-items: center
      gap: 20px

    .header_contacts
      display: flex
      align-items: center
      gap: 20px

      .header__button
        padding: 14px 24px
        color: $white
        +font(16px, 20px, 500)
        border: none
        border-radius: 8px
        cursor: pointer

  &__logo-container
    height: 36px

    &_mobile
      height: 36px

.header_mobile
  top: 0
  z-index: 100
  position: fixed
  background-color: $white
  width: 100%
  @media (min-width: 1025px)
    display: none

  &_shadow
    box-shadow: 0 4px 16px 0 #0000001A

  .header_mobile-container
    background-color: $white
    position: relative
    display: flex
    justify-content: space-between
    padding: 16px
    z-index: 100

.header__nav_mobile
  transition: 0.3s
  z-index: 10
  position: absolute
  background-color: $grey
  padding: 16px
  display: flex
  flex-direction: column
  width: 100%
  gap: 20px
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10)
  &._hidden
    transform: translateY(-120vh)


  .header__link_mobile
    font-size: 16px
    font-weight: 500
    line-height: 20px

  .header_contacts_mobile
    display: flex
    flex-direction: column
    gap: 20px

    .header__link_mobile
      color: $orange
      font-size: 16px
      font-weight: 500
      line-height: 20px

    .header__button_mobile
      max-width: 175px
      padding: 12px 24px
      color: $white
      font-weight: 500
      font-size: 16px
      line-height: 20px
      border: none
      border-radius: 8px
      white-space: nowrap

.faded
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.10)


.header__burger
  position: relative
  cursor: pointer
  display: flex
  align-items: center

  &.active
    .header__burger
      &-open
        display: none

      &-close
        display: block

  &-open, &-close
    width: 36px
    height: 36px

  &-close
    display: none




