-
  // header

  headerMenu = [
    {txt: 'О компании', url: '#about'},
    {txt: 'Акция', url: '#promo'},
    {txt: 'Оборудование', url: '#equipment'},
    {txt: 'Преимущества', url: '#advantages'},
    {txt: 'Стоимость услуг', url: '#price'},
    {txt: 'Контакты', url: '#contacts'}
  ]

  // swiper
  slides = [
      require('@/assets/img/equipment/slides/1.jpg'),
      require('@/assets/img/equipment/slides/2.jpg'),
      require('@/assets/img/equipment/slides/3.jpg'),
      require('@/assets/img/equipment/slides/4.jpg'),
      require('@/assets/img/equipment/slides/5.jpg')
  ]

  // advantages
  advantagesGridItems = [
    {title: 'Опыт', txt: '15-летний опыт ремонта топливной аппаратуры коммерческого транспорта и спецтехники'},
    {title: 'Оборудование', txt: 'Наличие широкопрофильного диагностического оборудования и специнструмента для ремонта всех систем автомобиля'},
    {title: 'Сроки', txt: 'Быстрый ремонт техники за счет профессиональной диагностики и широкого ассортимента запчастей на складах'},
    {title: 'Комфорт', txt: 'Комната отдыха для водителей, отель, кафе, столовая, мойка грузового автотранспорта'},
    {title: 'Стоимость', txt: 'Мы предлагаем выгодные условия и акции для сервисного обслуживания вашего автопарка'},
    {img: require('@/assets/img/advantage/logo.svg')},
  ]
