-
  // header

  headerMenu = [
    {txt: 'О компании', url: '#about'},
    {txt: 'Акция', url: '#promo'},
    {txt: 'Оборудование', url: '#equipment'},
    {txt: 'Преимущества', url: '#pluses'},
    {txt: 'Стоимость услуг', url: '#price'},
    {txt: 'Контакты', url: '#contacts'}
  ]

  // swiper
  slides = [
      require('@/assets/img/equipment/slides/1.jpg'),
      require('@/assets/img/equipment/slides/2.jpg'),
      require('@/assets/img/equipment/slides/3.jpg'),
      require('@/assets/img/equipment/slides/4.jpg'),
      require('@/assets/img/equipment/slides/5.jpg')
  ]

  // pluses
  plusesGridItems = [
    {title: 'Опыт', txt: '15-летний опыт ремонта топливной аппаратуры коммерческого транспорта и спецтехники'},
    {title: 'Оборудование', txt: 'Наличие широкопрофильного диагностического оборудования и специнструмента для ремонта всех систем автомобиля'},
    {title: 'Сроки', txt: 'Быстрый ремонт техники за счет профессиональной диагностики и широкого ассортимента запчастей на складах'},
    {title: 'Комфорт', txt: 'Комната отдыха для водителей, отель, кафе, столовая, мойка грузового автотранспорта'},
    {title: 'Стоимость', txt: 'Мы предлагаем выгодные условия и акции для сервисного обслуживания вашего автопарка'},
    {img: require('@/assets/img/advantage/logo.svg')},
  ]

  // price
  priceTable = [
    {job: 'Форсунка механическая. Диагностика', price: 'от 276 ₽'},
    {job: 'Форсунка механическая, ремонт полный', price: 'от 828 ₽'},
    {job: 'Регулировка механической форсунки', price: 'от 552 ₽'},
    {job: 'Форсунка CR, диагностика, <span>АКЦИЯ</span>', price: '<b>828 ₽</b> <span>БЕСПЛАТНО</span>'},
    {job: 'Форсунка CR, ремонт полный, <span>АКЦИЯ</span>', price: '<b>2500 ₽</b> <span>1 900 ₽</span>'},
    {job: 'ТНВД CR, диагностика', price: 'от 4 692 ₽'},
    {job: 'ТНВД CR, ремонт полный', price: 'от 9 660 ₽'},
    {job: 'Насос-форсунка Bosch, диагностика', price: 'от 1 104 ₽'},
    {job: 'Насос-форсунка Bosch, ремонт полный', price: 'от 5 520 ₽'},
    {job: 'PLD-секция Bosch, диагностика', price: 'от 1 932 ₽'},
    {job: 'PLD-секция Bosch, Ремонт полный', price: 'от 6 624 ₽'},
    {job: 'Чистка форсунки у/з', price: 'от 138 ₽'},
  ]
