-
  // header

  headerMenu = [
    {txt: 'О компании', url: '#about'},
    {txt: 'Акция', url: '#promo'},
    {txt: 'Оборудование', url: '#equipment'},
    {txt: 'Преимущества', url: '#advantages'},
    {txt: 'Стоимость услуг', url: '#price'},
    {txt: 'Контакты', url: '#contacts'}
  ]
