@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.credit-top
  padding: 26px 0 76px
  +screen($desktop)
    padding: 20px 0 40px
  +screen($tablet)
    padding: 17px 0 30px

  .container

