@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.credit-why
  background-color: $blue
  padding: 40px 0 50px
  color: $white
  +screen($tablet)
    padding: 30px 0 40px

  &__grid
    margin-top: 50px
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 55px 40px
    +screen($desktop)
      margin-top: 40px
    +screen($tablet)
      margin-top: 30px
      grid-template-columns: 1fr

  &__item
    box-sizing: border-box
    padding-left: 67px
    +font(18px, 34px, 200)
    position: relative
    +screen($desktop)
      padding-left: 51px
      +font(16px, 26px, 200)
    +screen($tablet)
      padding-left: 37px

    b
      font-weight: 500

    &:before
      +font(36px, 40px, 700)
      position: absolute
      left: 0
      top: -24px
      +screen($desktop)
        top: -19px
        +font(26px, 40px, 700)
      +screen($tablet)
        +font(20px, 40px, 700)

    &:nth-child(1)
      &:before
        content: '01/'
    &:nth-child(2)
      &:before
        content: '02/'
    &:nth-child(3)
      &:before
        content: '03/'
    &:nth-child(4)
      &:before
        content: '04/'


