@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  background-color: $white
  z-index: 10
  box-sizing: border-box
  padding: 34px

  .container
    display: flex
    justify-content: space-between
    align-items: center

  &__logo
    @extend %opacity-click
    display: flex
    align-items: center

  &__menu
    display: flex
    +font(18px, 28px, 500)
    max-width: 1010px
    width: 100%
    justify-content: space-between

    a
      @extend %blue-light-click

    &-drop
      position: relative

      &-top
        cursor: pointer

        svg
          transition: transform .3s
          margin-left: 5px

        span
          transition: color .3s

        &:hover, &.active
          & > span
            color: $blue-light

          span + svg
            transform: rotate(180deg)

            path
              stroke: $blue-light

          .header__menu-drop
            &-container
              visibility: visible
              pointer-events: auto
              opacity: 1


      &-container
        padding-top: 15px
        position: absolute
        top: 100%
        right: 10px
        transition: opacity .3s, visibility .3s
        visibility: hidden
        opacity: 0
        pointer-events: none

        a
          height: 50px
          display: flex
          align-items: center
          box-sizing: border-box
          padding: 0 20px

      &-options
        +font(16px, 16px, 350)
        width: 168px
        box-sizing: border-box
        padding: 14px 0
        background-color: $white
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)


      &-sub
        &:hover
          .header__menu-drop-sub-options
            visibility: visible
            pointer-events: auto
            opacity: 1

        &-options
          position: absolute
          left: 100%
          top: 15px
          width: 324px
          box-sizing: border-box
          padding: 14px 20px
          background-color: $white
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
          transition: opacity .3s, visibility .3s
          visibility: hidden
          opacity: 0
          pointer-events: none

          a
            display: flex
            align-items: center
            margin-top: 0
            padding: 0

            &:not(:last-child)
              border-bottom: 1px solid $gray

        span
          display: flex
          align-items: center
          @extend %blue-light-click
          cursor: pointer
          height: 50px
          box-sizing: border-box
          padding: 0 20px

          svg
            margin-left: 18px


