@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  background-color: $white
  z-index: 10
  box-sizing: border-box
  height: 95px
  display: flex
  align-items: center
  +screen($tablet)
    height: 32px

  .container
    display: flex
    justify-content: space-between
    align-items: center

  &__logo
    @extend %opacity-click
    display: flex
    align-items: center
    width: 150px
    height: 19px
    +screen($tablet)
      width: 80px
      height: 10px

  &__menu
    max-width: 1010px
    width: 100%
    +screen(1280)
      position: fixed
      top: 0
      right: -120%
      transition: right .3s
      z-index: 100
      height: 100%
      background-color: $white
      max-width: none
      box-sizing: border-box
      padding: 25px 16px 34px

      &.active
        right: 0

    &-list
      display: flex
      +font(18px, 28px, 500)
      width: 100%
      justify-content: space-between
      +screen(1280)
        margin-top: 20px
        flex-direction: column
        justify-content: flex-start
        align-items: flex-end

        a, .header__menu-drop
          +font(14px, 22px, 500)
          &:not(:last-child)
            margin-bottom: 30px

        .header__menu-drop
          &-options
            a, span
              height: 30px

          &-sub
            span
              +font(14px, 22px, 500)

            &-options
              left: 40%
              transform: translateX(-60%)
              right: 100%
              width: 250px
              top: 100%

              a
                margin-bottom: 0
    &-top, &-search
      display: none

    &-top
      +screen(1280)
        display: flex
        align-items: center
        justify-content: space-between

        button
          border-radius: 4px
          background-color: $yellow
          width: 29px
          height: 26px
          display: flex
          align-items: center
          justify-content: center

        a
          display: flex
          align-items: center

    &-search
      +screen(1280)
        display: block
        margin-top: 20px

        &-field
          position: relative

          input
            height: 35px
            padding-left: 33px
            border-color: $yellow

          img
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 11px

    a
      @extend %blue-light-click

    &-drop
      position: relative

      &-top
        cursor: pointer

        svg
          transition: transform .3s
          margin-left: 5px

        span
          transition: color .3s

        &:hover, &.active
          & > span
            color: $blue-light

          span + svg
            transform: rotate(180deg)

            path
              stroke: $blue-light

          .header__menu-drop
            &-container
              visibility: visible
              pointer-events: auto
              opacity: 1

      &-container
        padding-top: 15px
        position: absolute
        top: 100%
        right: 10px
        transition: opacity .3s, visibility .3s
        visibility: hidden
        opacity: 0
        pointer-events: none

        a
          height: 50px
          display: flex
          align-items: center
          box-sizing: border-box
          padding: 0 20px

      &-options
        +font(16px, 16px, 350)
        width: 168px
        box-sizing: border-box
        padding: 14px 0
        background-color: $white
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)

      &-sub
        &:hover
          .header__menu-drop-sub-options
            visibility: visible
            pointer-events: auto
            opacity: 1

        &-options
          position: absolute
          left: 100%
          top: 15px
          width: 324px
          box-sizing: border-box
          padding: 14px 20px
          background-color: $white
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
          transition: opacity .3s, visibility .3s
          visibility: hidden
          opacity: 0
          pointer-events: none

          a
            display: flex
            align-items: center
            margin-top: 0
            padding: 0

            &:not(:last-child)
              border-bottom: 1px solid $gray

        span
          display: flex
          align-items: center
          @extend %blue-light-click
          cursor: pointer
          height: 50px
          box-sizing: border-box
          padding: 0 20px

          svg
            margin-left: 18px

  &__btn
    display: none
    +screen(1280)
      display: flex
      align-items: center


