@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.main
  flex: 1 0 auto
  padding-top: 147px
  
  &_home
    padding-top: 0
    .top
      padding-top: 223px
      background: url(../assets/img/index/top-bg.jpg) center/cover no-repeat
      height: 700px
      +screen($tablet)
        height: 614px
        padding-top: 208px
      +screen($tablet-xs)
        background: url(../assets/img/index/top-bg-mob.jpg) center/cover no-repeat

