@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.main
  flex: 1 0 auto
  padding-top: 157px
  +screen($tablet)
    padding-top: 32px

  &_home
    padding-top: 0
    .top
      padding-top: 223px
      background: url(../assets/img/index/top-bg.jpg) center/cover no-repeat
      height: 700px
      +screen($tablet)
        height: 614px
        padding-top: 208px
      +screen($tablet-xs)
        background: url(../assets/img/index/top-bg-mob.jpg) center/cover no-repeat

  &_semitrailer
    .top
      background: url(../assets/img/polupritsepy/top-bg.jpg) center/cover no-repeat
      +screen($tablet-xs)
        background: url(../assets/img/polupritsepy/top-bg-mob.jpg) center/cover no-repeat

  &_prod
    .top
      background: url(../assets/img/proizvodstvo/top-bg.jpg) center/cover no-repeat
      +screen($tablet-xs)
        background: url(../assets/img/proizvodstvo/top-bg-mob.jpg) center/cover no-repeat

      &__title
        max-width: none
        line-height: 100px
        +screen($tablet)
          line-height: 44px

  &_product-page
    .products-slider
      padding: 0 0 75px 0
      +screen($tablet)
        padding: 0 0 50px 0


