// font
$font: 'ProximaNova', sans-serif

// colors
$black: #25252D
$black-glow: #231F20
$white: #fff
$gray: #D0D0D0
$gray-dark: #5B5B5B
$orange: #FF6C00
$blue: #2D9CDB
$modalOverlay: rgba($black, .5)

// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
