extends ../layouts/main/layout.pug

block title
  | Vue App

block content
  section#user-goals
    h2 My course goals
    input(type='text' v-model="goalValue")
    button(@click="addGoal") Add Goal
    p(v-if="!goals.length") No goals have been added yet - please start adding some!
    ul(v-else)
      li(v-for="(goal, index) in goals") {{ goal }} - {{ index }}


