extends ../layouts/main/layout.pug

block title
  | Vue App

block content
  section#user-goals
    h2 My course goals
    input(type='text' v-model="goalValue")
    button(@click="addGoal") Add Goal
    p(v-show="!goals.length") No goals have been added yet - please start adding some!
    ul(v-show='goals.length')
      li(v-for="goal in goals" key="goal" v-text="goal")


