@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.contacts
  z-index: 10
  padding-bottom: 868px
  min-height: 890px
  position: relative
  margin-top: 50px
  pointer-events: none
  +screen($desktop-sm)
    margin: -50px
  +screen($tablet)
    pointer-events: auto
    margin: 0
    box-sizing: border-box
    padding: 0

  &.lazyloaded
    &::after      
      background: url(../assets/img/contacts/contacts_bg_bottom.png) no-repeat 49.999% 0

    &::before
      background: url(../assets/img/contacts/contacts_bg_top.png) no-repeat 49.999% 0

  &::before
    content: ''
    position: absolute
    width: 1920px
    min-height: 860px
    bottom: 100%
    left: 0
    pointer-events: none
    z-index: 13
    +screen($tablet)
      display: none
    
  &::after
    content: ''
    position: absolute
    bottom: 150px
    left: 0
    width: 1920px
    min-height: 868px
    pointer-events: none
    z-index: 13
    +screen($desktop-sm)
      bottom: 0
    +screen($tablet)
      display: none

  &__bg-wrapper
    position: relative
    z-index: 12
    height: 100%
    width: 100%
    +screen($tablet)
      box-sizing: border-box
      padding: 30px 0

    &.lazyloaded
      background: url(../assets/img/contacts/contacts_bg.png) repeat-y 49.999% 0

  &__title
    top: 0
    +screen($tablet)
      +cancel-position

  &__list
    display: flex
    flex-wrap: wrap
    padding-top: 200px
    position: relative
    pointer-events: auto
    +screen($desktop-sm)
      max-width: 861px
      width: 100%
      margin: 0 auto
    +screen($tablet)
      width: 100%
      padding: 50px 0 0
      max-width: 480px
    +screen($mobile)
      max-width: 240px

    &-item
      width: 287px
      min-height: 180px
      +screen($tablet)
        width: 240px
        min-height: 100px
        box-sizing: border-box
        padding-left: 30px

        &:not(:first-child)
          margin-top: 30px          

      &-country
        +font(28px, 36px)
        color: $black
        text-transform: uppercase

      &-text
        +font(18px, 30px, $font-intro)
        text-transform: uppercase
        color: $black
        margin-top: 13px

        a
          color: $black
          transition: .2s

          &:hover
            color: lighten($black, 40%)

    &-image
      position: absolute
      top: 157px
      left: -190px
      width: 441px
      height: 226px
      z-index: -1
      +screen($tablet)
        top: 15px
        left: -160px

      &.lazyloaded
        background: url(../assets/img/contacts/contacts_stroke.png)
        +screen($tablet)
          background: url(../assets/img/contacts/contacts_stroke_mobile.png) center/contain