@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.riders
  width: 100%
  height: 1250px
  margin-top: -220px
  z-index: 3
  position: relative
  overflow: hidden
  +screen($tablet)
    margin-top: 0
    height: auto
    box-sizing: border-box
    padding: 30px 0

  &.lazyloaded
    background: url(../assets/img/riders/riders_bg.png) no-repeat scroll
    +screen($tablet)
      background: url(../assets/img/riders/mobile/riders_bg.jpg) repeat center 0

  .container
    +screen($tablet)
      padding: 0

  &__bottom-text
    position: absolute
    top: 800px
    left: 0
    width: 100%
    height: 407px
    +screen($tablet)
      display: none

    &.lazyloaded
      background: url(../assets/img/riders/riders_riders.png) no-repeat scroll 49.999% 0

  &__jump
    &-1
      width: 305px
      height: 275px
      position: absolute
      top: 260px
      right: -150px
      +screen($tablet)
        display: none

      &.lazyloaded
        background: url(../assets/img/riders/riders_jump1.png) repeat scroll 0 0

    &-2
      height: 322px
      width: 254px
      position: absolute
      top: 340px
      left: -130px
      +screen($tablet)
        display: none

      &.lazyloaded
        background: url(../assets/img/riders/riders_jump2.png) repeat scroll 0 0

  &__title
    top: 95px
    +screen($tablet)
      +cancel-position

  &__filter
    position: absolute
    width: 605px
    top: 291px
    left: 50%
    transform: translateX(-50%)
    display: flex
    justify-content: space-between
    align-items: center
    z-index: 3
    +screen($tablet)
      +cancel-position
      margin-top: 40px
      width: 100%
      flex-direction: column

    &-switch
      display: flex
      align-items: center

      &-item
        +font(22px, 46px)
        width: 173px
        height: 45px
        text-align: center
        color: $black
        text-transform: uppercase
        transition: color .2s
        +screen($tablet)
          +font(18px, 40px)
          width: 129px
          height: 39px

        &.lazyloaded
          background: url(../assets/img/riders/riders_filter.png) repeat scroll 0 0
          +screen($tablet)
            background: url(../assets/img/riders/mobile/riders_filter.png) no-repeat 0 0 / 100% 100%

        &_selected
          &.lazyloaded
            background: url(../assets/img/riders/riders_filter_selected.png) repeat scroll 0 0
            color: $white
            +screen($tablet)
              background: url(../assets/img/riders/mobile/riders_filter_selected.png) no-repeat 0 0 / 100% 100%

        &:hover
          color: $orange

      &-delimiter
        width: 24px
        height: 45px
        +screen($tablet)
          width: 22px
          height: 39px

        &.lazyloaded
          background: url(../assets/img/riders/riders_filter_delimiter.png) no-repeat scroll center/contain

    .select__filter
      +screen($tablet)
        margin-top: 35px

  &__become
    display: block
    position: absolute
    right: 24px
    top: 960px
    width: 606px
    height: 309px
    transform-origin: 90% 60% 0
    +screen($tablet)
      display: none

    &-text
      position: absolute
      top: 98px
      left: 183px
      transform: rotate(-8deg)
      +font(24px, 30px)
      text-transform: uppercase
      color: $white
      z-index: 2
      transition: .4s

      span
        color: $black

    &.lazyloaded
      &::before
        background: url(../assets/img/riders/riders_teaser.png) repeat scroll 0 0

      &::after
        background: url(../assets/img/riders/riders_teaser_hover.png) repeat scroll 0 0

    &::before
      content: ''
      position: absolute
      width: 100%
      height: 100%
      transition: transform .4s, opacity .4s

    &::after
      content: ''
      position: absolute
      width: 100%
      height: 100%
      opacity: 0
      transition: transform .4s, opacity .4s

    &:hover
      &::after
        opacity: 1
        transform: scale(1.03)

      &::before
        transform: scale(1.03)
        opacity: 0

      .riders__become-text
        transform: scale(1.03) rotate(-8deg)
