@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.specs
  .container
    display: flex
    justify-content: space-between
    gap: 24px
    +screen($tablet)
      margin-top: 15px
      gap: 28px
      flex-direction: column-reverse
      justify-content: flex-start


