.header
    .container
        a.header__logo-contaienr(href="#")
            img.header__logo(src="src/assets/images/logo.png")
        nav.header__nav
            a.header__link Условия аренды
            a.header__link Технические характеристики
            a.header__link Обслуживание
            a.header__link FAQ
            a.header__link Контакты
        .header_contacts
            a.header__link(href="tel:+78124954202") +7 (812) 495-42-02
            button.header__button Оставить заявку
.header_mobile
    .header_mobile-container
        a.header__logo-contaienr_mobile(href="#")
            img.header__logo_mobile(src="src/assets/images/logo.png")
        .header__burger-button(id="burger")
            span.burger-button_lines
    nav.header__nav_mobile._hidden
        a.header__link_mobile Условия аренды
        a.header__link_mobile Технические характеристики
        a.header__link_mobile Обслуживание
        a.header__link_mobile FAQ
        a.header__link_mobile Контакты
        .header_contacts_mobile
            a.header__link_mobile(href="tel:+78124954202") +7 (812) 495-42-02
            button.header__button_mobile Оставить заявку



