//- variables
block variables
  include ../../abstracts/variables

//- mixins
include ../../abstracts/mixins/link
include ../../abstracts/mixins/breadcrumbs
include ../../abstracts/mixins/category-grid

doctype html
html(lang="ru")
  head
    if (map)
      include ../other-pages/head
    else
      include ../main/head
  body
    include ../../sections/global/preloader
    include ../main/header
    main.main(class=mainModifier ? `main_${mainModifier}`:'')
      +breadcrumbs(breadCrumbsList)
      block content
    include ../main/footer
    if (callModal)
      include ../../sections/global/call-modal
    if (map)
      include ../../html/map.html
