@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.menu
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: -120vw
  display: flex
  align-items: center
  justify-content: center
  transition: .4s
  z-index: 2
  background: $black
  color: $white
  flex-direction: column

  &__close
    position: absolute
    top: 60px
    right: 60px
    width: 50px
    height: 50px
    cursor: pointer

    &:hover
      svg
        path
          fill: $orange

  &__body
    display: flex
    flex-direction: column

    button
      transition: .4s

      &:not(:first-child)
        margin-top: 50px

      &:hover
        color: $orange

  button
    +font(76px, 76px, 700)
    color: $white

  &.active
    left: 0
