@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.menu
  display: flex
  align-items: center
  gap: 40px
  +font(24px, 32px)
  +screen($desktop)
    gap: 24px
    +font(20px, 28px)
  +screen($tablet)
    gap: 16px

  a
    position: relative
    cursor: pointer
    white-space: nowrap

    &:hover:not(:active)
      +mf-screen(1025)
        &:before
          opacity: 1
          visibility: visible

    &:before
      transition: opacity .3s, visibility .3s
      opacity: 0
      visibility: hidden
      content: ''
      width: 100%
      height: 1px
      background-color: #1D1D1B
      position: absolute
      left: 0
      top: calc(100% - 4px)
