@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

html
  scroll-behavior: smooth
  min-height: 100vh

body
  margin: 0 auto
  min-height: 100vh
  display: flex
  flex-direction: column
  +font(16px, 26px, 350)
  position: relative
  background-color: $white
  color: $black

.body_fix
  overflow: hidden

.container
  position: relative
  width: 100%
  max-width: 1440px
  box-sizing: border-box
  padding: 0 76px
  margin: 0 auto
  +screen(1400)
    padding: 0 30px
  +screen($tablet)
    padding: 0 10px

a
  text-decoration: none
  display: block
  color: $black
  transition: color .3s, opacity .3s, background-color .3s
  outline: none

h1, h2, h3, h4, p
  margin: 0

button
  appearance: none
  border: none
  cursor: pointer
  padding: 0
  background: transparent
  transition: .3s

svg
  path, circle, rect
    transition: .3s

ul
  padding: 0
  margin: 0

  li
    list-style-type: none

input, textarea
  border-radius: 4px
  border: none
  appearance: none
  outline: none
  width: 100%
  height: 100%
  background: transparent
  box-sizing: border-box
  padding: 0 12px

  &::placeholder
    color: $black

textarea
  resize: none
  border: 1px solid rgba($gray-darkest, .5)
  height: 132px
  padding: 12px

input:not([type="checkbox"])
  height: 44px
  border: 1px solid rgba($gray-darkest, .5)
  +font(14px, 16px, 350)

input[type="checkbox"], input[type="radio"]
  display: none

input[type="checkbox"] + label
  position: relative
  box-sizing: border-box

  &:before
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: -36px
    width: 24px
    height: 24px
    border: 1px solid $gray-dark
    box-sizing: border-box
    border-radius: 2px
    margin-top: 1px
    cursor: pointer

input[type="checkbox"]:checked + label
  &:before
    background: url(../assets/img/footer/check.png) center/14px 14px no-repeat

.section
  &-title
    box-sizing: border-box
    padding-left: 25px
    +font(32px, 36px, 700, $font-title)
    display: flex
    align-items: flex-start

    span
      position: relative
      color: $blue
      +font(32px, 39px, 500, $font-title)
      margin: -2px 14px 0 0

      &:before
        content: ''
        width: 18px
        height: 18px
        margin-top: 2px
        border-radius: 50%
        background-color: $gray-light
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: -25px

    &_white
      color: $white

      span
        &:before
          background-color: $white

      span
        color: $white

    &_blue
      span
        &:before
          background-color: $blue

.image-overlay
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: $image-mask
  z-index: 1
  +screen($tablet)
    background: $image-mask-mob

.more-link
  color: $blue
  position: relative
  +font(16px, 18px, 500)

  &:after
    content: ''
    width: 100%
    height: 1px
    background-color: $blue
    position: absolute
    bottom: 0
    left: 0

.section
  &-top
    display: flex
    justify-content: space-between
    align-items: center
    +screen($tablet)
      flex-direction: column
      align-items: flex-start

    .more-link
      +screen($tablet)
        display: none

  &-bottom
    margin-top: 33px
    display: flex
    justify-content: center
    align-items: center

    .more-link
      display: none
      +screen($tablet)
        display: block

.btn
  border-radius: 4px
  box-sizing: border-box
  display: flex
  align-items: center
  justify-content: center
  height: 38px

  &_yellow
    color: $yellow
    border: 1px solid $yellow

    &:hover
      background-color: $yellow
      color: $white

    &:active
      background-color: transparent
      color: $yellow

  &_yellow_fill
    background-color: $yellow
    @extend %opacity-click

.anim-num
