@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.products
  margin-top: -170px
  height: 1750px
  width: 100%
  z-index: 2
  position: relative
  pointer-events: none
  overflow: hidden
  box-sizing: border-box
  +screen($tablet)
    margin-top: 0
    height: auto
    pointer-events: auto
    padding: 30px 0 60px 0

  &[data-lazyloaded]
    background: url("../assets/img/products/products_bg.png") no-repeat center/120% 100%
    +screen($tablet)
      background: url("../assets/img/products/products_mobile_bg.jpg") no-repeat center top

  &__preloader
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

  .container
    +screen($tablet)
      min-height: 400px

  &__broken-ground
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 484px
    +screen($tablet)
      display: none

    &[data-lazyloaded]
      background: url(../assets/img/products/products_broken_ground.png) no-repeat center -30px

  &__title
    top: 300px
    +screen($tablet)
      +cancel-position

  &__choose
    position: absolute
    top: 520px
    left: 40px
    +font(35px, 45px)
    text-transform: uppercase
    z-index: 2
    +screen($tablet)
      display: none

  &__list
    position: absolute
    top: 610px
    height: 203px
    display: flex
    pointer-events: auto
    z-index: 1
    left: 50%
    transform: translateX(-50%)
    +screen($tablet)
      display: none

    &-item
      display: block
      position: relative
      width: 180px
      height: 203px
      box-sizing: border-box
      padding-top: 179px
      margin-left: 20px
      text-transform: uppercase
      color: $white
      text-align: center
      transition: color .2s ease-out
      cursor: pointer
      +screen($desktop-sm)
        margin-left: 0

        &:not(:last-child)
          margin-right: 20px

      &::before
        position: absolute
        left: -67px
        top: -60px
        width: 282px
        height: 265px
        opacity: 0
        transform: scale(0.2)
        transition: transform .2s ease-out, opacity .2s ease-out
        content: ''
        pointer-events: none
        z-index: -1

      &[data-lazyloaded]
        &::before
          background: url(../assets/img/products/products_product_hover.png) no-repeat

      &:hover:not(.products__list-item_active)
        &::before
          opacity: 1
          transform: scale(1)

      &_active.products__list-item
        &_original
          color: $green

        &_orange
          color: $orange-light

        &_ice
          color: $blue

        &_pomegranate
          color: $red

        &_pepper
          color: $pink

        &_mango
          color: $mango

        &_peach
          color: $peach

        &_lemon
          color: $lemon

        &_lychee
          color: $lychee

        &_sugar
          color: $sugar

      &_sugar
        &[data-lazyloaded]
          background: url(../assets/img/products/products_sugar.png) no-repeat center top

        &:hover
          color: $sugar

      &_lemon
        &[data-lazyloaded]
          background: url(../assets/img/products/products_lemon.png) no-repeat center top

        &:hover
          color: $lemon

      &_lychee
        &[data-lazyloaded]
          background: url(../assets/img/products/products_lychee.png) no-repeat center top

        &:hover
          color: $lychee

      &_mango
        &[data-lazyloaded]
          background: url(../assets/img/products/products_mango.png) no-repeat center top

        &:hover
          color: $mango

      &_original
        &[data-lazyloaded]
          background: url(../assets/img/products/products_original.png) no-repeat center top

        &:hover
          color: $green

      &_orange
        &[data-lazyloaded]
          background: url(../assets/img/products/products_orange.png) no-repeat center top

        &:hover
          color: $orange-light

      &_ice
        &[data-lazyloaded]
          background: url(../assets/img/products/products_ice.png) no-repeat center top

        &:hover
          color: $blue

      &_pomegranate
        &[data-lazyloaded]
          background: url(../assets/img/products/products_pomegranate.png) no-repeat center top

        &:hover
          color: $red

      &_pepper
        &[data-lazyloaded]
          background: url(../assets/img/products/products_pepper.png) no-repeat center top

        &:hover
          color: $pink

      &_peach
        &[data-lazyloaded]
          background: url(../assets/img/products/products_peach.png) no-repeat center top

        &:hover
          color: $peach

  &__choosen
    position: absolute
    top: 874px
    left: 63px
    width: 100%
    height: 660px
    pointer-events: auto
    +screen($tablet)
      display: none

    &-can
      position: absolute
      top: 0
      left: 0
      width: 255px
      height: 660px
      pointer-events: none
      background-position: center
      background-size: cover
      background-repeat: no-repeat

      &-hole-back
        position: absolute
        left: -118px
        top: 453px

      &-hole-front
        position: absolute
        left: -72px
        top: 590px

      &-sublight
        position: absolute
        top: 546px
        left: -87px
        width: 440px
        height: 168px

      &-splash
        position: absolute

    &-human
      position: absolute

      &_1
        height: 144px
        width: 144px

      &_2
        height: 135px
        width: 121px

      &_3
        height: 139px
        width: 118px

    &-splatter
      &_1
        position: absolute
        top: 330px
        left: 185px
        width: 357px
        height: 348px
        transform-origin: 20% 90% 0

      &_2
        position: absolute
        top: 320px
        left: -60px
        width: 234px
        height: 331px
        transform-origin: 50% 100% 0

      &_3
        position: absolute
        top: 290px
        left: -160px
        width: 621px
        height: 313px

      &_4
        position: absolute
        top: 480px
        left: 420px
        width: 160px
        height: 186px

      &_5
        position: absolute
        top: 200px
        left: -320px
        width: 832px
        height: 325px

    &-info
      position: absolute
      top: 0
      right: 100px

      &-nutritional
        padding: 20px 100px 20px 44px

        &-content
          +font(14px, 16px, $font-intro)
          color: $black
          max-height: 0
          overflow: hidden
          transition: .3s

        &-btn
          +font(16px, 19px, $font-intro)
          color: $black
          position: relative
          padding-right: 15px
          width: fit-content
          cursor: pointer

          &:after,
          &:before
            content: ''
            position: absolute

          &:after
            width: 9px
            height: 5px
            background: url(../assets/img/products/arrow.svg) no-repeat center/cover
            position: absolute
            right: 0
            top: 7px
            transition: .3s

          &:before
            width: 100%
            height: 2px
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAAACCAYAAADcgBulAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB/SURBVHgBtY8BDYAgFETPBkYggpGIYBQj0EAbGAEbQANpoN8NJ9xEppu3PTbggEcDQAsKV7xgkKcXWpRj4rkzmu7kLMKUzFU8U0oQBvzr5JH/W+HZCdEpoOzkj8EJW8JKpY7279D0sK30Z+rrSp+d2rj2xmms9O0HJ0VOjjpuB+34S6YEpSK9AAAAAElFTkSuQmCC') repeat-x center
            left: 0
            bottom: -1px

          &_active
            margin-top: 16px

            &:after
              transform: rotate(180deg)

      &-content
        display: none
        width: 495px
        min-height: 585px
        padding-bottom: 20px
        transition: .3s
        flex-direction: column
        justify-content: space-between

      &-top
        box-sizing: border-box
        padding: 63px 70px 0 44px
        color: $black

        h2
          +font(25px, 30px, $font-dirty)
          text-transform: uppercase

        p
          +font(24px, 29px, $font-intro)
          margin-top: 20px

      &-list
        width: 436px
        min-height: 150px
        box-sizing: border-box
        padding: 40px 30px 40px 75px
        font-size: 17px
        line-height: 25px

        &[data-lazyloaded]
          background: url(../assets/img/products/products_info_spot.png) no-repeat -10px 50%/110% 110%

        ul
          margin: 0
          padding: 0
          list-style: none

          li
            position: relative
            padding-left: 20px

            &:before
              content: "•"
              position: absolute
              left: 0
              top: 0

    &_mango
      .product__bottle_mango
        display: block
        left: 342px

        &[data-lazyloaded]
          background-image: url(../assets/img/products/products_bottle_mango.png)

        .product__bottle-text
          top: 208px
          left: 70px

      .products__choosen
        &-can
          &[data-lazyloaded]
            background-image: url(../assets/img/products/products_big_can_mango.png)

          &-splash
            &_1
              top: -111px
              left: -376px
              width: 677px
              height: 782px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash1_mango.png) no-repeat

            &_2
              top: -87px
              left: -126px
              width: 677px
              height: 684px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash2_mango.png) no-repeat scroll right center

          &-sublight
            &[data-lazyloaded]
              background: url(../assets/img/products/products_sublight_mango.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter1_mango.png) no-repeat scroll 0 0
          &_2
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter2_mango.png) no-repeat scroll 0 0
          &_3
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter3_mango.png) no-repeat scroll 0 0
          &_4
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter4_mango.png) no-repeat scroll 0 0
          &_5
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter5_mango.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -230px
            top: -70px

          &_2
            left: -240px
            top: 360px

          &_3
            left: 300px
            top: -30px

        &-info
          &-content
            position: relative

            &[data-lazyloaded]
              background: url(../assets/img/products/mobile/products_mango_info.png) no-repeat scroll -30px 0/105% 100%

            &_mango
              display: flex

          &-top
            p
              width: 330px

    &_lychee
      .products__choosen
        &-can
          background-position: top
          width: 239px

          &[data-lazyloaded]
            background-image: url(../assets/img/products/products_big_can_lychee.png)

          &-splash
            &_1
              top: -15px
              left: -380px
              width: 658px
              height: 573px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash1.png) no-repeat

            &_2
              top: -60px
              left: -110px
              width: 574px
              height: 540px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash2.png) no-repeat scroll right center

          &-sublight
            &[data-lazyloaded]
              background: url(../assets/img/products/products_sublight_lychee.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter1_lychee.png) no-repeat scroll 0 0
          &_2
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter2_lychee.png) no-repeat scroll 0 0
          &_3
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter3_lychee.png) no-repeat scroll 0 0
          &_4
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter4_lychee.png) no-repeat scroll 0 0
          &_5
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter5_lychee.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -340px
            top: 234px

          &_2
            left: 372px
            top: 32px

          &_3
            left: 309px
            top: 256px

        &-info
          &-content
            position: relative

            &[data-lazyloaded]
              background: url(../assets/img/products/mobile/products_lychee_info.png) no-repeat scroll -30px 0/105% 100%

            &_lychee
              display: flex

    &_original
      .product__bottle_original
        display: block

      .products__choosen
        &-can
          &[data-lazyloaded]
            background-image: url(../assets/img/products/products_big_can_original.png)

          &-splash
            &_1
              top: -15px
              left: -380px
              width: 658px
              height: 573px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash1.png) no-repeat

            &_2
              top: -60px
              left: -110px
              width: 574px
              height: 540px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash2.png) no-repeat scroll right center

          &-sublight
            &[data-lazyloaded]
              background: url(../assets/img/products/products_sublight_original.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter1_original.png) no-repeat scroll 0 0
          &_2
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter2_original.png) no-repeat scroll 0 0
          &_3
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter3_original.png) no-repeat scroll 0 0
          &_4
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter4_original.png) no-repeat scroll 0 0
          &_5
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter5_original.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -340px
            top: 234px

          &_2
            left: 372px
            top: 32px

          &_3
            left: 309px
            top: 256px

        &-info
          &-content
            position: relative

            &[data-lazyloaded]
              background: url(../assets/img/products/mobile/products_original_info.png) no-repeat scroll -30px 0/105% 100%

            &_original
              display: flex

          &-top
            p
              width: 300px

    &_orange
      .product__bottle_orange
        display: block
        left: 360px

        &[data-lazyloaded]
          background-image: url(../assets/img/products/products_bottle_orange.png)

      .products__choosen
        &-can
          background-size: contain
          &[data-lazyloaded]
            background-image: url(../assets/img/products/products_big_can_orange.png)

          &-splash
            &_1
              top: -70px
              left: -350px
              width: 655px
              height: 628px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash1_orange.png) no-repeat

            &_2
              top: -94px
              left: -75px
              width: 706px
              height: 765px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash2_orange.png) no-repeat

          &-sublight
            &[data-lazyloaded]
              background: url(../assets/img/products/products_sublight_orange.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter1_orange.png) no-repeat
          &_2
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter2_orange.png) no-repeat scroll 0 0
          &_3
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter3_orange.png) no-repeat scroll 0 0
          &_4
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter4_orange.png) no-repeat scroll 0 0
          &_5
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter5_orange.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -210px
            top: 10px

          &_2
            left: -250px
            top: 380px
            transform: scale(-1, 1)

          &_3
            left: 409px
            top: 10px
            transform: rotate(-15deg)

        &-info
          &-content
            &[data-lazyloaded]
              background: url(../assets/img/products/mobile/products_orange_info.png) no-repeat scroll -30px 0/105% 100%

            &_orange
              display: flex

    &_sugar
      .products__choosen
        &-can
          background-size: contain
          &[data-lazyloaded]
            background-image: url(../assets/img/products/products_big_can_sugar.png)

          &-splash
            &_1
              top: -70px
              left: -350px
              width: 655px
              height: 628px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash1_orange.png) no-repeat

            &_2
              top: -94px
              left: -75px
              width: 706px
              height: 765px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash2_orange.png) no-repeat

          &-sublight
            &[data-lazyloaded]
              background: url(../assets/img/products/products_sublight_sugar.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter1_sugar.png) no-repeat
          &_2
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter2_sugar.png) no-repeat scroll 0 0
          &_3
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter3_sugar.png) no-repeat scroll 0 0
          &_4
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter4_sugar.png) no-repeat scroll 0 0
          &_5
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter5_sugar.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -210px
            top: 10px

          &_2
            left: -250px
            top: 380px
            transform: scale(-1, 1)

          &_3
            left: 409px
            top: 10px
            transform: rotate(-15deg)

        &-info
          &-content
            &[data-lazyloaded]
              background: url(../assets/img/products/mobile/products_sugar_info.png) no-repeat scroll -30px 0/105% 100%

            &_sugar
              display: flex

    &_ice
      .products__choosen
        &-can
          background-position: top
          width: 239px
          &[data-lazyloaded]
            background-image: url(../assets/img/products/products_big_can_ice.png)

          &-splash
            &_1
              top: -138px
              left: -406px
              width: 707px
              height: 650px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash1_ice.png) no-repeat

            &_2
              top: -138px
              left: -144px
              width: 818px
              height: 654px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash2_ice.png) no-repeat

          &-sublight
            &[data-lazyloaded]
              background: url(../assets/img/products/products_sublight_ice.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter1_ice.png) no-repeat
          &_2
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter2_ice.png) no-repeat scroll 0 0
          &_3
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter3_ice.png) no-repeat scroll 0 0
          &_4
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter4_ice.png) no-repeat scroll 0 0
          &_5
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter5_ice.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -260px
            top: 380px

          &_2
            left: -240px
            top: 145px
            transform: scale(-1, 1)

          &_3
            left: 270px
            top: -80px
            transform: rotate(-30deg)

        &-info
          &-content
            &[data-lazyloaded]
              background: url(../assets/img/products/mobile/products_ice_info.png) no-repeat scroll -30px 0/105% 100%

            &_ice
              display: flex
    &_lemon
      .products__choosen
        &-can
          background-position: top
          width: 239px
          &[data-lazyloaded]
            background-image: url(../assets/img/products/products_big_can_lemon.png)

          &-splash
            &_1
              top: -138px
              left: -406px
              width: 707px
              height: 650px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash1_ice.png) no-repeat

            &_2
              top: -138px
              left: -144px
              width: 818px
              height: 654px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash2_ice.png) no-repeat

          &-sublight
            &[data-lazyloaded]
              background: url(../assets/img/products/products_sublight_lemon.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter1_lemon.png) no-repeat
          &_2
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter2_lemon.png) no-repeat scroll 0 0
          &_3
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter3_lemon.png) no-repeat scroll 0 0
          &_4
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter4_lemon.png) no-repeat scroll 0 0
          &_5
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter5_lemon.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -260px
            top: 380px

          &_2
            left: -240px
            top: 145px
            transform: scale(-1, 1)

          &_3
            left: 270px
            top: -80px
            transform: rotate(-30deg)

        &-info
          &-content
            &[data-lazyloaded]
              background: url(../assets/img/products/mobile/products_lemon_info.png) no-repeat scroll -30px 0/105% 100%

            &_lemon
              display: flex

    &_pomegranate
      .products__choosen
        &-can
          &[data-lazyloaded]
            background-image: url(../assets/img/products/products_big_can_pomegranate.png)

          &-splash
            &_1
              top: -70px
              left: -358px
              width: 659px
              height: 609px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash1_pomegranate.png) no-repeat

            &_2
              top: -111px
              left: -126px
              width: 692px
              height: 782px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash2_pomegranate.png) no-repeat

          &-sublight
            &[data-lazyloaded]
              background: url(../assets/img/products/products_sublight_pomegranate.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter1_pomegranate.png) no-repeat
          &_2
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter2_pomegranate.png) no-repeat scroll 0 0
          &_3
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter3_pomegranate.png) no-repeat scroll 0 0
          &_4
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter4_pomegranate.png) no-repeat scroll 0 0
          &_5
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter5_pomegranate.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -230px
            top: -70px

          &_2
            left: -240px
            top: 360px
            transform: scale(-1, 1)

          &_3
            left: 300px
            top: -30px
            transform: rotate(-15deg)

        &-info
          &-content
            &[data-lazyloaded]
              background: url(../assets/img/products/mobile/products_pomegranate_info.png) no-repeat scroll -30px 0/105% 100%

            &_pomegranate
              display: flex

    &_pepper
      .products__choosen
        &-can
          &[data-lazyloaded]
            background-image: url(../assets/img/products/products_big_can_pepper.png)

          &-splash
            &_1
              top: -111px
              left: -376px
              width: 677px
              height: 782px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash1_pepper.png) no-repeat

            &_2
              top: -87px
              left: -126px
              width: 677px
              height: 684px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash2_pepper.png) no-repeat

          &-sublight
            &[data-lazyloaded]
              background: url(../assets/img/products/products_sublight_pepper.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter1_pepper.png) no-repeat
          &_2
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter2_pepper.png) no-repeat scroll 0 0
          &_3
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter3_pepper.png) no-repeat scroll 0 0
          &_4
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter4_pepper.png) no-repeat scroll 0 0
          &_5
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter5_pepper.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -250px
            top: -40px

          &_2
            left: -240px
            top: 440px
            transform: scale(-1, 1)

          &_3
            left: 300px
            top: -40px
            transform: rotate(-20deg)

        &-info
          &-content
            &[data-lazyloaded]
              background: url(../assets/img/products/mobile/products_pepper_info.png) no-repeat scroll -30px 0/105% 100%

            &_pepper
              display: flex

    &_peach
      .products__choosen
        &-can
          background-position: top
          width: 239px

          &[data-lazyloaded]
            background-image: url(../assets/img/products/products_big_can_peach.png)

          &-splash
            &_1
              top: -70px
              left: -350px
              width: 655px
              height: 628px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash1_orange.png) no-repeat

            &_2
              top: -94px
              left: -75px
              width: 706px
              height: 765px

              &[data-lazyloaded]
                background: url(../assets/img/products/products_splash2_orange.png) no-repeat

          &-sublight
            &[data-lazyloaded]
              background: url(../assets/img/products/products_sublight_peach.png) no-repeat scroll 0 0

        &-splatter
          &_1
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter1_peach.png) no-repeat
          &_2
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter2_peach.png) no-repeat scroll 0 0
          &_3
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter3_peach.png) no-repeat scroll 0 0
          &_4
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter4_peach.png) no-repeat scroll 0 0
          &_5
            &[data-lazyloaded]
              background: url(../assets/img/products/products_splatter5_peach.png) no-repeat scroll 0 0

        &-human
          &_1
            left: -210px
            top: 10px

          &_2
            left: -250px
            top: 380px
            transform: scale(-1, 1)

          &_3
            left: 409px
            top: 10px
            transform: rotate(-15deg)

        &-info
          &-content
            &[data-lazyloaded]
              background: url(../assets/img/products/mobile/products_peach_info.png) no-repeat scroll -30px 0/105% 100%

            &_peach
              display: flex

  &__switch
    pointer-events: auto
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: 470px
    display: flex
    text-transform: uppercase
    +screen($tablet)
      +cancel-position
      justify-content: center
      margin-top: 10px

    &-item
      +font(26px, 26px)
      display: flex
      align-items: center
      justify-content: center
      height: 57px
      cursor: pointer
      transition: .3s
      +screen($tablet)
        height: 42px
        +font(16px, 16px)

      &:hover:not(.products__switch-item_selected)
        color: $green

      &_energy
        width: 219px
        +screen($tablet)
          width: 118px

        &[data-lazyloaded]
          background: url(../assets/img/products/switcher_energy.png) no-repeat center/cover
          +screen($tablet)
            background: url(../assets/img/products/mobile/switcher_energy.png) no-repeat center/cover

      &_tea
        width: 268px
        +screen($tablet)
          width: 154px

        &[data-lazyloaded]
          background: url(../assets/img/products/switcher_tea.png) no-repeat center/cover
          +screen($tablet)
            background: url(../assets/img/products/mobile/switcher_tea.png) no-repeat center/cover

      &_selected
        &.products__switch-item_energy
          &[data-lazyloaded]
            background: url(../assets/img/products/switcher_energy_selected.png) no-repeat center/cover
            +screen($tablet)
              background: url(../assets/img/products/mobile/switcher_energy_selected.png) no-repeat center/cover

        &.products__switch-item_tea
          &[data-lazyloaded]
            background: url(../assets/img/products/switcher_tea_selected.png) no-repeat center/cover
            +screen($tablet)
              background: url(../assets/img/products/mobile/switcher_tea_selected.png) no-repeat center/cover

    &-delimiter
      width: 24px
      height: 57px
      +screen($tablet)
        height: 42px

      &[data-lazyloaded]
        background: url(../assets/img/products/delimiter.png) no-repeat center
