@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.rappers
  height: 1150px
  margin-top: -150px
  z-index: 3
  position: relative
  pointer-events: none
  overflow: hidden
  +screen($tablet)
    box-sizing: border-box
    padding: 30px 0
    margin: 0
    height: auto

  &[data-lazyloaded]
    background: url(../assets/img/rap/rap_bg.png) no-repeat scroll 49.999% 0
    +screen($tablet)
      background: url(../assets/img/rap/mobile/rap_bg.jpg) repeat center 0

  &__preloader
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

  .container
    +screen($tablet)
      min-height: 400px
      padding: 0

  &__title
    top: 85px
    height: auto
    +screen($tablet)
      +cancel-position

  .human
    &-slider
      top: 250px
      +screen($tablet)
        top: inherit
    &-card__info-name
      span
        margin-top: 45px