@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

html
  scroll-behavior: smooth
  min-height: 100%

body
  font-family: $font

a
  text-decoration: none

h1, h2, h3, h4, p
  margin: 0
