@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

html
  scroll-behavior: smooth
  min-height: 100%
  background: $black

body
  font-family: $font
  display: flex
  flex-direction: column
  align-items: center
  min-height: calc(var(--vh, 1vh) * 100)
  margin: 0 auto
  color: $white
  position: relative

a
  text-decoration: none
  color: $white

h1, h2, h3, h4, p
  margin: 0

svg
  width: 100%
  height: 100%

.header,
.footer
  flex: 0 0 auto
  background: $black-second

  &__menu-btn
    display: none

  .logo
    margin-right: 55px
    
    svg
      width: 78px
      height: 68px

  .socials
    margin-right: 30px

.main 
  flex: 1 0 auto

.container
  max-width: 1460px
  box-sizing: border-box
  padding: 0 20px
  width: 100%
  height: 100%
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: space-between

.flex-block
  display: flex
  align-items: center

.navigation
  display: flex
  align-items: center

  &__link
    +font(16px, 21px)
    transition: .3s

    &:not(:last-child)
      margin-right: 12px

    &:hover
      color: $green

    &:active
      color: $white

.socials
  display: flex
  align-items: center

  &__link
    width: 33px
    height: 33px
    +screen($tablet)
      width: 49px
      height: 49px

    &:not(:last-child)
      margin-right: 12px
      +screen($tablet)
        margin-right: 20px
    
    svg
      path
        transition: .3s

    &:hover
      svg
        path
          fill: $green

    &:active
      svg
        path
          fill: $white
          +screen($tablet)
            fill: $green

.gray-link
  transition: .3s
  opacity: .5

  &:hover
    opacity: 1

  &:active
    opacity: .5

