section.catalog-grid
  .container
    ul.catalog-grid__list
      each el, index in catalogList
        li.catalog-grid__item(class = index % 2 === 0 ? 'slide-right':'slide-left')
          .catalog-grid__item-image
            img(src=el.image alt="")
            .catalog-grid__item-collage
              img(src=el.collage alt="")
          .catalog-grid__item-bottom
            a(href=el.url) #{el.txt}



