section.intro(id="intro")
    .container
        img.intro__text-background(src="src/assets/images/intro-figure.png")
        .intro__text-container
            .intro__titles-container
                h1.intro__title Аренда
                h2.intro__subtitle Премиальные шторные полуприцепы SOTRANS WALLAROO от производителя
            div.intro__list
                +intro-items(introItems)