@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.hidden-menu
  display: none
  +screen($tablet)
    width: 100%
    position: fixed
    top: 60px
    left: -100%
    height: calc(var(--vh, 1vh) * 100 - 60px)
    background: url(../assets/img/backgrounds/mobile/menu/bg.jpg) center/cover no-repeat
    z-index: 10
    display: flex
    flex-direction: column
    align-items: center
    overflow: auto
    scrollbar-width: none
    box-sizing: border-box
    padding: 50px 55px
    transition: .3s

    &_active
      left: 0

    &::-webkit-scrollbar
      width: 0
      height: 0
      background: transparent
      display: none

    .navigation
      flex-direction: column

      &__link
        +font(40px, 48px, 700)

        &:not(:last-child)
          margin: 0 0 30px 0
    
    .phone
      +font(30px, 40px, 500)
      margin-top: 50px    