section.why
  .container
    h2.section-title.section-title_blue.slide-right #[span 07] Почему Механический завод “Сотранс”?
    ul.why__list
      each el in whyList
        li
          span
            img(src=el.icon alt="")
          span #{el.txt}
