@font-face
  font-family: 'ConfidentialC'
  src: url('../assets/fonts/ConfidentialC.eot')
  src: url('../assets/fonts/ConfidentialC.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/ConfidentialC.woff') format('woff'), url('../assets/fonts/ConfidentialC.ttf') format('truetype'), url("../assets/fonts/ConfidentialC.otf") format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'DirtyHeadlineCyrillic'
  src: url('../assets/fonts/DirtyHeadlineCyrillic.eot')
  src: url('../assets/fonts/DirtyHeadlineCyrillic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/DirtyHeadlineCyrillic.woff') format('woff'), url('../assets/fonts/DirtyHeadlineCyrillic.ttf') format('truetype'), url('../assets/fonts/DirtyHeadlineCyrillic.ttf') format('truetype'), url("../assets/fonts/ConfidentialC.otf") format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'IntroHeadB_Base'
  src: url('../assets/fonts/IntroHeadB-Base.eot')
  src: url('../assets/fonts/IntroHeadB-Base.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/IntroHeadB-Base.woff') format('woff'), url('../assets/fonts/IntroHeadB-Base.ttf') format('truetype'), url('../assets/fonts/IntroHeadB-Base.otf') format('opentype')
  font-weight: normal
  font-style: normal