@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.main
  &_main-page
    display: flex
    flex-direction: column
    padding: 0

    .container
      display: flex
      flex: 1 1 100%
      align-items: center
      justify-content: center

  &-nav
    display: flex
    flex: 1 1 100%
    +screen($tablet-sm)
      flex-direction: column
      height: auto
      flex-shrink: 0

    &__item
      flex: 1 1 33%
      display: flex
      justify-content: center
      align-items: center
      text-transform: uppercase
      position: relative
      user-select: none
      +screen($tablet-sm)
        flex: 1 0 100%
        min-height: 150px

      &:not(:last-child)
        &:after
          content: ''
          width: 2px
          height: 293px
          position: absolute
          top: 50%
          right: 0
          transform: translateY(-50%)
          background: url(../assets/img/global/line.svg) center/contain no-repeat
          +screen($tablet-sm)
            top: -5px
            left: 50%
            transform: translateX(-50%) rotate(90deg)

      &_merch
        a
          &:after
            background:  url(../assets/img/global/menu/merch.svg) center/contain no-repeat
            width: 42px

      &_collabs
        a
          &:after
            background:  url(../assets/img/global/menu/collabs.svg) center/contain no-repeat
            width: 78px

      &_apiece
        a
          &:after
            background:  url(../assets/img/global/menu/apiece.svg) center/contain no-repeat
            width: 83px

      a
        color: $black
        box-sizing: border-box
        position: relative

        &:after
          content: ''
          position: absolute
          bottom: -15px
          left: 0
          height: 3px
          opacity: 0
          transition: opacity .3s

        &:hover
          &:after
            opacity: 1





