@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.robobox
  &__head
    display: flex
    align-items: center
    justify-content: space-between
    min-height: 50px
    box-sizing: border-box
    padding: 0 40px
    border: 1px solid $gray
    +screen($tablet-sm)
      padding: 12px 15px
      +font(12px, 16px)
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start

  &__num
    +screen($tablet-sm)
      margin-top: 20px

  &__body
    min-height: 170px
    border-left: 1px solid $gray
    border-right: 1px solid $gray
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: center
    +screen($tablet-sm)
      +font(12px, 16px)
      min-height: auto
      padding: 25px 15px 15px

  &__text
    display: flex
    align-items: center
    justify-content: center
    +screen($tablet-sm)
      flex-wrap: wrap
    +screen($mobile)
      justify-content: flex-start

      span
        &:first-of-type
          width: 100%

    img
      margin: 0 10px 0 20px
      width: 30px
      height: 30px
      +screen($mobile)
        margin: 10px 10px 10px 0

  &__sum
    box-sizing: border-box
    padding: 12px 40px 20px
    display: flex
    justify-content: flex-end
    align-items: flex-end
    border: 1px solid $gray
    +screen($tablet-sm)
      padding: 18px 15px 24px

    &-text
      margin-right: 10px
      +screen($tablet-sm)
        +font(12px, 16px)

    &-num
      +font(22px, 30px)
      +screen($tablet-sm)
        +font(18px, 24px)

  &__pay
    display: flex
    justify-content: flex-end
    box-sizing: border-box
    padding: 20px 0
    +screen($tablet-sm)
      border: 1px solid $gray
      border-top: none
      padding: 30px 15px

    &-form
      +screen($tablet-sm)
        width: 100%
