@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.sizes
  .container
    max-width: 860px

  &__title
    +font(18px, 24px)
    text-align: center
    margin: 0 0 30px 0

  &__item
    box-sizing: border-box
    padding: 20px 0
    position: relative
    +screen($container)
      padding: 30px 0

    &:not(:last-child)
      border-bottom: 1px solid #D8D8D8

  &__visible
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 10px

  &__more
    width: 48px
    height: 42px
    margin-left: 30px
    flex-shrink: 0
    z-index: 5
    padding: 0
    position: relative
    +screen($tablet-sm)
      margin-left: 20px
      width: 28px
      height: 24px
      align-self: flex-start

    svg
      width: 100%
      height: 100%

    &-open
      display: none

    &-spot
      width: 58px
      height: 53px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      transition: .3s
      opacity: 0
      z-index: -1
      +screen($tablet-sm)
        width: 34px
        height: 31px

      svg
        path
          fill: var(--color)

      img
        width: 100%
        height: 100%

    &:hover
      .sizes__more-spot
        opacity: .6
        +screen($tablet)
          opacity: 0

    &.active
      .sizes__more
        &-spot
          opacity: .6

        &-open
          display: block

        &-close
          display: none

  &__hidden
    width: 100%
    max-height: 0
    overflow: hidden
    transition: max-height .3s
    padding-right: 110px
    box-sizing: border-box
    +screen($tablet-sm)
      padding-right: 0


  &__header
    text-transform: uppercase
    font-weight: 300
    +font(14px, 19px, 300)
    +screen(924)
      text-transform: none
      font-weight: 400

    &:first-child
      margin-top: 0

  p
    text-align: left
    margin: 25px 0

  &__table
    display: grid
    grid-template-rows: repeat(2, 54px)
    grid-template-columns: repeat(6, 1fr)
    box-sizing: border-box
    background: $gray
    padding: 1px
    grid-gap: 1px 1px
    font-weight: 300
    margin: 10px 0
    +screen($mobile)
      +font(9px, 12px)
      grid-template-rows: repeat(2, 23px)

    &-item
      background: $white
      display: flex
      align-items: center
      justify-content: center

      img
        +screen($mobile)
          width: 65%

      &:last-child
        +screen($mobile)
          img
            width: 25%

  &__image
    box-sizing: border-box
    padding: 20px 0
    height: 370px
    width: 100%
    +screen($mobile)
      height: 192px

    img
      width: 100%
      height: 100%
      object-fit: contain
      object-position: left
