@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.header
  min-height: 113px
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: transparent
  box-shadow: 0 0 0 $black-base
  transition: background-color .3s ease, box-shadow .3s ease, height .3s ease, margin-top .3s ease
  z-index: 500
  box-sizing: border-box
  padding-bottom: 42px
  +screen($desktop-m)
    padding-bottom: 0
    min-height: 51px
    background: $white
    box-shadow: 0 3px 15px rgb(0 0 0 / 20%)

  &_scroll
    box-shadow: 0 3px 15px rgb(0 0 0 / 20%)
    background-color: #fff

  &__nav-btn
    display: none
    +screen($desktop-m)
      display: block
      width: 40px
      height: 30px
      border-radius: 4px
      position: relative
      z-index: 20

    &.active
      .header__sandwich-item
        background-color: $white

        &_top
          top: 7px
          transform: rotate(135deg)

        &_middle
          top: -1px
          transform: rotate(-135deg)

        &_bottom
          opacity: 0
          top: 0
          transform: rotate(180deg)

  &__sandwich
    width: 75%
    height: 100%
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

    &-item
      position: relative
      width: 100%
      height: 2px
      border-radius: 1px
      background-color: $black-base
      transition: transform .5s, top .2s, background-color .5s
      margin-top: 6px

      &_top
        margin-top: 7px

      &_middle
        transition-delay: .2s, 0s

      &_bottom
        transition: all .5s
        transition-delay: .1s

  &__contacts
    display: flex
    flex-direction: column
    margin-top: 22px
    box-sizing: border-box
    padding: 0 15px
    position: relative
    +screen($desktop-m)
      flex-direction: row
      position: absolute
      align-items: center
      top: -8px
      left: 50%
      transform: translateX(-50%)
      white-space: nowrap
    +screen($tablet-sm)
      display: none

    &-whatsap,
    &-insta
      width: 19px
      height: 19px

    &-whatsap
      background: url(../../assets/img/whatsap.svg) center/cover no-repeat
      +screen($desktop-m)
        display: block !important

    &-insta
      background: url(../../assets/img/insta.svg) center/cover no-repeat
      display: none

    &-socials
      position: absolute
      left: 20px
      top: -5px
      +screen($desktop-m)
        display: block !important
        position: relative
        left: auto
        top: auto

    &-btn
      background: transparent
      padding-bottom: 1px
      border-bottom: 1px dashed $red
      color: $red
      align-self: flex-end
      +screen($desktop-m)
        margin: 0 0 0 20px

      &_3d
        display: none

    a
      +font(16px, 20px, 700)
      color: $black-base
      margin-top: 6px
      +screen($desktop-m)
        display: none
        margin-top: 0

  .logo
    width: 195px
    height: 71px
    box-sizing: border-box
    display: flex
    align-items: flex-end
    +screen($desktop-m)
      align-items: center
      height: 51px
      padding: 0
      width: auto

  .menu
    display: flex
    align-items: flex-end
    justify-content: space-between
    position: relative
    +screen($desktop-m)
      align-items: center
    +screen($tablet-sm)
      padding: 0 15px

    a
      white-space: nowrap

    &__list
      width: 100%
      max-width: 733px
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: space-between
      box-sizing: border-box
      margin: 0
      padding: 0

      &-drop
        display: flex
        align-items: center
        position: relative
        box-sizing: border-box
        padding: 0 8px
        margin-top: 10px

      a
        +font(14px, 20px, 700)
        text-transform: uppercase
        color: $black-base
        flex-shrink: 0
        display: flex
        align-items: center

        .caret
          transition: transform .3s ease-out
          margin-left: 6px
          display: block

      .menu__sub
        min-width: 160px
        position: absolute
        top: 18px
        left: 50%
        transform: translateX(-50%)
        background: $white
        box-sizing: border-box
        padding: 5px 0
        margin: 2px 0 0
        border: 1px solid rgba(0, 0, 0, .15)
        border-radius: 0 0 4px 4px
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%)
        z-index: 9
        border-top: 2px solid $red
        visibility: hidden
        opacity: 0
        pointer-events: none
        transition: .3s ease-out
        display: none

        a
          min-width: 300px
          text-transform: none
          position: relative
          color: $black-lightest
          box-sizing: border-box
          +font(14px, 20px)
          padding: 3px 13px 3px 25px

          &:after
            display: none

          &:hover
            color: $red-light

    &__main
      +screen($desktop-m)
        display: none

      a
        position: relative

        &:after
          content: ''
          position: absolute
          bottom: -2px
          left: 50%
          transform: translateX(-50%)
          display: block
          width: calc(100% - 16px)
          height: 2px
          opacity: 0
          background-color: $red-light
          transition: .3s

        &.active
          &:after
            opacity: 1

        &:hover
          &:after
            opacity: 1

    &__main
      a
        &:after
          width: 100%

      .menu__list-drop
        &:hover
          .menu__sub
            visibility: visible
            opacity: 1
            pointer-events: auto
            display: block

          .caret
            transform: rotate(180deg)

  &__message
    width: 100%
    min-height: 40px
    background: $gray-second
    color: $white
    +font(16xp, 16px)
    display: flex
    align-items: center
    transition: .4s ease-out
    box-sizing: border-box
    +screen($tablet-sm)
      box-sizing: border-box
      padding: 5px 20px
      +font(12px, 16px)

    &_disabled
      min-height: 0
      max-height: 0
      opacity: 0
      padding: 0
      visibility: hidden
      pointer-events: none

    .container
      display: flex
      align-items: center
      justify-content: space-between

    &-text
      margin-right: 50px

    &-close
      flex-shrink: 0
      width: 20px
      height: 20px

      &[data-lazyloaded]
        background: url(../../assets/img/close-white.svg) center/contain no-repeat
