section.about-prod
  .container
    .about-prod__desc
      h2.section-title.slide-right #[span 01] О производстве
      .about-prod__content
        each el in aboutProdContent
          if (el.num)
            p.slide-up
              strong #{el.txt}
              span #{el.num}
          else
            p.slide-up #{el.txt}
    .about-prod__image.slide-left
      img(src=require('@/assets/img/proizvodstvo/about-prod.jpg') alt="О производстве")
