section.cert
  .container
    .cert__desc
      h2.section-title.slide-right #[span 03] Сертификат качества
      p.cert__txt.slide-up Наша продукция прошла испытания имеет все необходимые сертификаты качества
      .cert__blank.slide-up
        img(src=require('@/assets/img/proizvodstvo/cert-blank.jpg') alt="")
        img(src=require('@/assets/img/proizvodstvo/cert-blank-mob.jpg') alt="")
    .cert__image.slide-left
      img(src=require('@/assets/img/proizvodstvo/cert.jpg') alt="")

