@font-face {
  font-family: "Lato Regular";
  src: url('../packages/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: "Lato Black";
  src: url('../packages/fonts/Lato/Lato-Black.ttf');
}

@font-face {
  font-family: "BebasNeue Bold";
  src: url('../packages/fonts/bebas/BebasNeue Bold.ttf');
}
 

$textFont: "Lato Regular", sans-serif;
$headerFont: "Lato Black" , sans-serif;
$buttonFont: "BebasNeue Bold", sans-serif;

$mainColor: #ffc61a;
$lightColor: #fff;
$darckColor: #000;
$textColor: #101010;


@mixin respondTo($device){
	@if $device == phones {
		@media (max-width: 479px) {@content}
	}
	@else if $device == wide-phones {
		@media (min-width: 480px) and (max-width: 767px) {@content}
	}
	@else if $device == tablets {
		@media (min-width: 768px) and (max-width: 991px) {@content}
	}
	@else if $device == small-desktops {
		@media (min-width: 992px) and (max-width: 1199px) {@content}	
	}
	@else if $device == lg-desktops {
		@media (min-width: 1200px) and (max-width: 1440px) {@content}
	}
	@else if $device == xlg-desktops {
		@media (min-width: 1441px) {@content}
	}
}

@mixin customRespondTo($_minWidth, $_maxWidth) {
	@media (min-width: $_minWidth) and (max-width: $_maxWidth) {@content} 
}

@mixin readMore ($_backgroundColor, $_color) {
	width: 166px;
	height: 50px;
	border-radius: 15px;
	background: $_backgroundColor;
	color: $_color;
	font: 30.5px/50px $buttonFont;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}
