@font-face {
  font-family: "Lato Regular";
  src: url("../packages/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Black";
  src: url("../packages/fonts/Lato/Lato-Black.ttf");
}
@font-face {
  font-family: "BebasNeue Bold";
  src: url("../packages/fonts/bebas/BebasNeue Bold.ttf");
}
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

/*=======================================================================*/
/*--------------------------H--E--A--D--E--R-----------------------------*/
/*-----------------------------------------------------------------------*/
/*=======================================================================*/
.mainHeader {
  position: relative;
  height: 739px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  padding: 70px 110px;
  box-sizing: border-box;
  background: url("../packages/images/header.jpg") no-repeat center center/cover;
}
@media (min-width: 0) and (max-width: 712px) {
  .mainHeader {
    padding: 70px 20px;
  }
}
@media (min-width: 0) and (max-width: 374px) {
  .mainHeader {
    height: 600px;
  }
}
.mainHeader__logo {
  font: 44.5px "Lato Black", sans-serif;
  color: #fff;
}
.mainHeader__logoTextSpan {
  color: #daa505;
}
.mainHeader__logoText:first-child {
  margin: 0;
  width: 177px;
}
.mainHeader__logoText:nth-child(2) {
  width: 177px;
  font-size: 16px;
  margin: 11px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 3.3px;
  text-align: center;
}
.mainHeader__navigationAdaptive {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
}
@media (min-width: 0) and (max-width: 1100px) {
  .mainHeader__navigationAdaptive {
    display: inline-block;
  }
}
@media (min-width: 0) and (max-width: 712px) {
  .mainHeader__navigationAdaptive {
    margin-right: 30px;
  }
}
.mainHeader__navigationAdaptiveIcon {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.mainHeader__navigationAdaptiveIcon:nth-child(1) {
  top: 0px;
}
.mainHeader__navigationAdaptiveIcon:nth-child(2), .mainHeader__navigationAdaptiveIcon:nth-child(3) {
  top: 13px;
}
.mainHeader__navigationAdaptiveIcon:nth-child(4) {
  top: 26px;
}
.mainHeader__navigationAdaptiveIcon_open:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.mainHeader__navigationAdaptiveIcon_open:nth-child(2) {
  transform: rotate(45deg);
}
.mainHeader__navigationAdaptiveIcon_open:nth-child(3) {
  transform: rotate(-45deg);
}
.mainHeader__navigationAdaptiveIcon_open:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.mainHeader__navigation {
  max-width: 675px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 0) and (max-width: 1100px) {
  .mainHeader__navigation {
    display: none;
  }
}
.mainHeader__navigationItem {
  display: block;
  width: 150px;
  height: 30px;
  font: 14.5px/30px "Lato Black", sans-serif;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
}
.mainHeader__navigationItem:hover {
  border: 1px solid #ffc61a;
  background-color: #ffc61a;
  border-radius: 17px;
}
.mainHeader__navigation_open {
  position: absolute;
  display: block;
  top: 130px;
  right: 55px;
}
@media (min-width: 0) and (max-width: 712px) {
  .mainHeader__navigation_open {
    right: 0;
  }
}
.mainHeader__booking {
  color: #fff;
  width: 100%;
  font-family: "Lato Black", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mainHeader__booking {
    margin-top: 100px;
  }
}
@media (min-width: 0) and (max-width: 991px) {
  .mainHeader__booking {
    margin-top: 150px;
  }
}
.mainHeader__bookingItem:first-child {
  margin: 40px 0 0 0;
  font-size: 38px;
  color: #ffc61a;
}
@media (min-width: 0) and (max-width: 345px) {
  .mainHeader__bookingItem:first-child {
    font-size: 30px;
  }
}
.mainHeader__bookingItem:nth-child(2) {
  margin: 20px 0 0 0;
  font-size: 67px;
}
@media (min-width: 363px) and (max-width: 532px) {
  .mainHeader__bookingItem:nth-child(2) {
    font-size: 45px;
  }
}
@media (min-width: 0) and (max-width: 363px) {
  .mainHeader__bookingItem:nth-child(2) {
    font-size: 30px;
  }
}
.mainHeader__bookingItem:last-child {
  letter-spacing: 15px;
  font-size: 16.5px;
  margin: 30px 0 400px 50px;
}
.mainHeader__bookingItemImg {
  display: block;
  margin: 50px auto 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mainHeader__bookingItemImg {
    width: 613px;
    height: 342px;
    margin-top: 65px;
  }
}
@media (min-width: 713px) and (max-width: 991px) {
  .mainHeader__bookingItemImg {
    width: 413px;
    height: 242px;
    margin-top: 70px;
  }
}
@media (min-width: 363px) and (max-width: 712px) {
  .mainHeader__bookingItemImg {
    width: 310px;
    height: 180px;
    margin-top: 130px;
  }
}
@media (min-width: 0) and (max-width: 363px) {
  .mainHeader__bookingItemImg {
    width: 210px;
    height: 130px;
    margin-top: 7 l,0px;
  }
}

/*=======================================================================*/
/*--------------------------------F--I--R--S--T--------------------------*/
/*-----------------------------S--E--C--T--I--O--N-----------------------*/
/*=======================================================================*/
.bestInCity {
  width: 100%;
  background-color: #ffc61a;
  padding: 150px 20px 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 0) and (max-width: 1199px) {
  .bestInCity {
    flex-direction: column;
    align-items: center;
  }
}
.bestInCity__description {
  color: #000;
  width: 600px;
}
@media (min-width: 0) and (max-width: 1199px) {
  .bestInCity__description {
    width: 100%;
    text-align: center;
  }
}
.bestInCity__descriptionStatment {
  font: 32.5px "Lato Black", sans-serif;
  text-transform: uppercase;
}
.bestInCity__descriptionHeader {
  margin: 25px 0 0 0;
  font: 53px "Lato Black", sans-serif;
  text-transform: uppercase;
}
.bestInCity__descriptionText {
  margin: 45px 0 0 0;
  font: 18px "Lato Regular", sans-serif;
}
@media (min-width: 0) and (max-width: 1199px) {
  .bestInCity__descriptionText {
    font-size: 24px;
  }
}
.bestInCity__descriptionMore {
  margin: 56px 0 20px;
  width: 166px;
  height: 50px;
  border-radius: 15px;
  background: #000;
  color: #fff;
  font: 30.5px/50px "BebasNeue Bold", sans-serif;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 0) and (max-width: 1199px) {
  .bestInCity__descriptionMore {
    margin: 56px auto 20px;
  }
}
.bestInCity__descriptionForm {
  background-color: #fff;
  max-width: 422px;
  min-height: 472px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}
.bestInCity__descriptionFormHeader {
  width: 100%;
  height: 77px;
  background: #000;
  padding: 0 0 0 40px;
  box-sizing: border-box;
  font: 35.5px/77px "Lato Black", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.bestInCity__descriptionFormHeaderSpan {
  color: #ffc61a;
}
.bestInCity__descriptionFormItem {
  border: none;
  border-bottom: 3px solid #e4e4e4;
  outline: none;
  width: 171px;
  height: 55px;
  font: 22px "Lato Regular", sans-serif;
  color: #4b4b4b;
}
.bestInCity__descriptionFormItem:nth-child(-n+3) {
  margin: 30px 0 0 0;
}
.bestInCity__descriptionFormItem:nth-child(even)::placeholder {
  color: #000;
}
.bestInCity__descriptionFormItem:nth-child(8) {
  max-width: 382px;
}
@media (min-width: 0) and (max-width: 422px) {
  .bestInCity__descriptionFormItem:nth-child(8) {
    width: 90%;
  }
}
@media (min-width: 0) and (max-width: 422px) {
  .bestInCity__descriptionFormItem {
    width: 90%;
  }
}
.bestInCity__descriptionFormItemSubmit {
  display: block;
  font: 30px/50px "BebasNeue Bold", sans-serif;
  text-transform: uppercase;
  width: 376px;
  height: 50px;
  background-color: #000;
  color: #fff;
  padding: 0 0 50px 0;
  margin: 45px;
}
@media (min-width: 0) and (max-width: 422px) {
  .bestInCity__descriptionFormItemSubmit {
    width: 200px;
  }
}
.bestInCity__descriptionFormItemSubmit:hover {
  cursor: pointer;
}

/*=======================================================================*/
/*------------------------------S--E--C--O--N--D-------------------------*/
/*-----------------------------S--E--C--T--I--O--N-----------------------*/
/*=======================================================================*/
.priceList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (min-width: 0) and (max-width: 1199px) {
  .priceList {
    flex-direction: column;
    align-items: center;
  }
}
.priceList__header {
  margin: 63px 0 0 0;
  width: 100%;
  font: 45px "Lato Black", sans-serif;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.priceList__headerSpan {
  display: block;
  font-size: 32.5px;
  color: #ffc61a;
}
.priceList__item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 373px;
  min-height: 424px;
  margin: 133px 0 0 0;
  background-color: #f5f4f2;
  text-align: center;
}
@media (min-width: 0) and (max-width: 1199px) {
  .priceList__item {
    max-width: 100%;
  }
}
.priceList__item:nth-child(-n+3) {
  margin-right: 35px;
}
@media (min-width: 0) and (max-width: 1199px) {
  .priceList__item:nth-child(-n+3) {
    margin-right: 0;
  }
}
.priceList__itemImage {
  display: block;
  margin: -85px auto 0;
}
@media (min-width: 0) and (max-width: 374px) {
  .priceList__itemImage {
    width: 244px;
    height: 119px;
    margin-top: -60px;
  }
}
.priceList__itemHeader {
  margin: 20px 0;
  font: 31.5px "Lato Black", sans-serif;
  text-transform: uppercase;
}
.priceList__itemDescription {
  font: 18px "Lato Regular", sans-serif;
  color: #101010;
  padding: 0 35px;
}
.priceList__itemRate {
  margin: 30px 0;
  font: 45px "Lato Black", sans-serif;
  color: #ffc61a;
}
.priceList__itemRate_mostPopular {
  color: #000;
}
.priceList__itemMore {
  align-self: center;
  width: 166px;
  height: 50px;
  border-radius: 15px;
  background: #ffc61a;
  color: #000;
  font: 30.5px/50px "BebasNeue Bold", sans-serif;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.priceList__itemMore_mostPopular {
  background-color: #000;
  color: #fff;
}
.priceList__item_mostPopular {
  background-color: #ffc61a;
}
.priceList__item_mostPopular:after {
  width: 0;
  height: 0;
  border-bottom: 74px solid #000;
  border-left: 74px solid transparent;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}
.priceList__item_mostPopular:before {
  content: "\2605";
  font-size: 45px;
  color: #ffc61a;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*=======================================================================*/
/*--------------------------------T--H--I--R--D--------------------------*/
/*-----------------------------S--E--C--T--I--O--N-----------------------*/
/*=======================================================================*/
.weDoBest {
  margin: 77px 0 0 0;
  background: url(../packages/images/wdbBack.jpg) no-repeat center center/cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (min-width: 0) and (max-width: 650px) {
  .weDoBest {
    padding: 20px;
    box-sizing: border-box;
  }
}
.weDoBest__header {
  margin: 81 0 100px 0;
  width: 100%;
  font: 45px "Lato Black", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.weDoBest__headerSpan {
  margin-bottom: 16px;
  font-size: 32.5px;
  color: #ffc61a;
  display: block;
}
.weDoBest__unit {
  width: 500px;
}
.weDoBest__unit:nth-child(even) {
  margin-right: 100px;
}
@media (min-width: 0) and (max-width: 1099px) {
  .weDoBest__unit:nth-child(even) {
    margin-right: 0;
  }
}
.weDoBest__unit:nth-child(n+2) {
  margin-top: 85px;
}
.weDoBest__unitIcon {
  margin: 10px 40px 20px 0;
  font: 30px/81px FontAwesome;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: #ffc61a;
  text-align: center;
  float: left;
}
@media (min-width: 0) and (max-width: 438px) {
  .weDoBest__unitIcon {
    float: none;
    margin: 0 auto 20px;
  }
}
.weDoBest__unitHeader {
  font: 27px "Lato Black", sans-serif;
  color: #ffc61a;
  text-transform: uppercase;
}
.weDoBest__unitDescription {
  text-align: left;
  margin: 15px 0 0 0;
  font: 18px "Lato Regular", sans-serif;
  color: #fff;
}
@media (min-width: 0) and (max-width: 438px) {
  .weDoBest__unitDescription {
    text-align: center;
  }
}
@media (min-width: 0) and (max-width: 438px) {
  .weDoBest__unit {
    text-align: center;
  }
}
.weDoBest__more {
  margin: 85px 0 71px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.weDoBest__moreButton {
  width: 166px;
  height: 50px;
  border-radius: 15px;
  background: #ffc61a;
  color: #000;
  font: 30.5px/50px "BebasNeue Bold", sans-serif;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

/*=======================================================================*/
/*-------------------------------F--O--U--R--T--H------------------------*/
/*-----------------------------S--E--C--T--I--O--N-----------------------*/
/*=======================================================================*/
.bestCabServies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: url(../packages/images/hand.png) right bottom/cover no-repeat;
}
@media (min-width: 0) and (max-width: 870px) {
  .bestCabServies {
    background: none;
  }
}
.bestCabServies__header {
  width: 100%;
  height: 100px;
  font: 45px "Lato Black", sans-serif;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.bestCabServies__headerSpan {
  margin-bottom: 16px;
  font-size: 32.5px;
  color: #ffc61a;
  display: block;
}
.bestCabServies__unit {
  margin: 81px 0 161px -400px;
  max-width: 450px;
}
@media (min-width: 0) and (max-width: 870px) {
  .bestCabServies__unit {
    margin: 81px auto;
  }
}
@media (min-width: 0) and (max-width: 460px) {
  .bestCabServies__unit {
    text-align: center;
  }
}
.bestCabServies__unitHeader {
  font: 26px "Lato Black", sans-serif;
}
.bestCabServies__unitDescription {
  margin-top: 28px;
  font: 18px "Lato Regular", sans-serif;
  color: #101010;
  margin-top: 30px;
}
.bestCabServies__unitStore {
  margin-top: 66px;
}
@media (min-width: 0) and (max-width: 423px) {
  .bestCabServies__unitStoreLink {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
}

/*=======================================================================*/
/*---------------------------------F--I--T--H----------------------------*/
/*-----------------------------S--E--C--T--I--O--N-----------------------*/
/*=======================================================================*/
.happyClients {
  background: url(../packages/images/hcBack.jpg) center center/cover no-repeat;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (min-width: 0) and (max-width: 1191px) {
  .happyClients {
    flex-direction: column;
    align-items: center;
  }
}
.happyClients__header {
  margin-top: 110px;
  width: 100%;
  font: 44px "Lato Black", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.happyClients__headerSpan {
  margin-bottom: 20px;
  font-size: 35px;
  color: #ffc61a;
  display: block;
}
.happyClients__unit {
  margin: 0 0 60px 0;
  padding: 50px;
  box-sizing: border-box;
  max-width: 580px;
  min-height: 250px;
  background-color: #040707;
  border-radius: 50px;
}
.happyClients__unitComment {
  font: 18px "Lato Regular", sans-serif;
  color: #fff;
  margin-bottom: 20px;
}
.happyClients__unitUserFace {
  float: left;
}
.happyClients__unitUserName, .happyClients__unitUserPosition {
  display: block;
  text-transform: uppercase;
}
.happyClients__unitUserName {
  font: 25px "Lato Black", sans-serif;
  color: #ffc61a;
  margin-left: 92px;
}
.happyClients__unitUserPosition {
  font: 18px "Lato Black", sans-serif;
  color: #fff;
  margin-left: 98px;
}
.happyClients__unit:nth-child(2) {
  margin: 0 32px 60px 0;
}
@media (min-width: 0) and (max-width: 1191px) {
  .happyClients__unit:nth-child(2) {
    margin-right: 0;
  }
}

/*=======================================================================*/
/*-----------------------------A--S--I--D--E-----------------------------*/
/*-----------------------------------------------------------------------*/
/*=======================================================================*/
.aside {
  padding: 60px 0;
  box-sizing: border-box;
  background-color: #ffc61a;
  text-align: center;
}
.aside__content {
  font: 32.5px "Lato Black", sans-serif;
}
.aside__contentSpan {
  margin: 32px 0 0 0;
  font: 71px "Lato Black", sans-serif;
  display: block;
}
@media (min-width: 0) and (max-width: 343px) {
  .aside__contentSpan {
    font-size: 60px;
  }
}

/*=======================================================================*/
/*---------------------------F--O--O--T--E--R----------------------------*/
/*-----------------------------------------------------------------------*/
/*=======================================================================*/
.footer {
  background-color: #020100;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #fff;
}
@media (min-width: 0) and (max-width: 1214px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 0) and (max-width: 422px) {
  .footer {
    padding: 20px;
    box-sizing: border-box;
  }
}
.footer__unit {
  margin: 76px 0 0 0;
  width: 345px;
}
@media (min-width: 0) and (max-width: 1214px) {
  .footer__unit {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__unitHeader {
  font: 31.5px "Lato Black", sans-serif;
  text-transform: uppercase;
}
.footer__unit:nth-child(-n+2) {
  margin-right: 90px;
}
@media (min-width: 0) and (max-width: 1214px) {
  .footer__unit:nth-child(-n+2) {
    margin-right: 0;
  }
}
.footer__unitSeparator {
  margin: 40px 0 46px 0;
  width: 339px;
  height: 8px;
  background-color: #ffc61a;
}
@media (min-width: 0) and (max-width: 1214px) {
  .footer__unitSeparator {
    width: 70%;
  }
}
.footer__unitSocial {
  margin: 40px 0 0 0;
}
.footer__unitSocialLinkIcon {
  color: #ffc61a;
  font-size: 20px;
  letter-spacing: 20px;
}
.footer__unitDownload {
  margin: 20px 0 0 0;
}
.footer__unitDownloadLink {
  width: 180px;
  text-decoration: none;
  display: block;
  color: #ffc61a;
  font: 20px/30px "Lato Regular", sans-serif;
}
.footer__unitDownloadLink:first-child {
  margin-bottom: 15px;
}
.footer__unitDownloadLinkIcon {
  font-size: 30px;
  color: #fff;
  float: right;
}
.footer__unitContacts {
  margin: 0 20px 20px 0;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 340px;
}
@media (min-width: 0) and (max-width: 425px) {
  .footer__unitContacts {
    width: 250px;
    margin: 0;
  }
}
.footer__unitContactsIcon {
  margin: -5px 20px 0 0;
  display: block;
  font-size: 22px;
  height: 50px;
  line-height: 30px;
  float: left;
}
.footer__unitContactsSpan {
  display: inline-block;
  font: 18px "Lato Regular", sans-serif;
}
@media (min-width: 0) and (max-width: 1214px) {
  .footer__unitContactsSpan {
    font-size: 24px;
  }
}
@media (min-width: 0) and (max-width: 425px) {
  .footer__unitContactsSpan {
    font-size: 16px;
  }
}
.footer__unitText {
  font: 18px "Lato Regular", sans-serif;
}
@media (min-width: 0) and (max-width: 1214px) {
  .footer__unitText {
    width: 60%;
    font-size: 24px;
  }
}
@media (min-width: 0) and (max-width: 425px) {
  .footer__unitText {
    font-size: 16px;
  }
}
.footer__copyright {
  margin: 50px 0 0 0;
  font: 14px/52px "Lato Regular", sans-serif;
  width: 100%;
  height: 52px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
