mixin faq-drop(items)
    each item in items
        .drop-container
            .drop
                .drop__top
                    h3.drop__title= item.title
                    include ../../assets/svg/arrow.svg
                .drop__bottom
                    .drop__bottom-inner
                        .drop__text= item.text