mixin service-card(params)
  .service-card
    .service-card__item.service-card__item-city #{params.city}
    .service-card__item
    .service-card__
    .service-card__
    .service-card__
    .service-card__
    .service-card__
