section.first
  .container
    .first__image
      img(src=require("@/assets/img/section/nootris.png") alt="nootris")
    h1.first__title АКТИВИРУЙ ИММУНИТЕТ!
    .first__subtitle Всего пять секунд в день помогут укрепить иммунитет и повысить защитные силы организма
    .first__desc
      h3.first__desc-title NOOTRIS ПОМОГАЕТ
      .first__desc-txt Вашему организму во время пандемии и сезонных простуд
