@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.header
  padding: 24px 0 0
  box-sizing: border-box
  border-bottom: 2px solid $gray
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 100
  transition: background-color .3s, padding .3s
  +screen(1280)
    padding: 12px 0
    border: none

  &.sticky
    padding-top: 17px
    background-color: white
    +screen($desktop)
      padding-top: 10px
    +screen(1280)
      border-bottom: 2px solid $gray

    &.up
      .header
        &__bottom
          max-height: 69px
          padding-bottom: 8px
          overflow: visible
          +screen($tablet)
            max-height: 0
            padding-bottom: 0

    .header
      &__logos
        svg
          path[fill="white"]
            fill: $black

      &__top
        padding-bottom: 15px
        +screen($desktop)
          padding-bottom: 10px
        +screen(1280)
          padding-bottom: 0

      &__bottom
        max-height: 0
        padding: 0
        overflow: hidden

      &__search
        &-field
          background-color: #F5F5F5

  &__login
    &:hover:not(:active)
      color: $orange

      svg
        path
          fill: $orange

  &_main:not(.sticky)
    color: $white
    border-color: #919191

    .header
      &__login
        color: $white

        svg
          path
            fill: $white

      &__logos
        a
          &:first-child
            &:after
              background-color: $white

      &__search
        &-btn, &-mobile-btn
          background-image: url(../assets/img/header/loupe-white.svg)

          &.disabled
            background-image: url(../assets/img/header/close-white.svg)

        input
          &::placeholder
            color: #C3C3C3

      &__burger
        border-color: $white

        &-line
          background-color: $white

      &__contacts
        &-phone
          color: $white
          +screen(1280)
            color: $black

          svg
            path
              fill: $white
              +screen(1280)
                fill: $black

        &-call
          color: $white
          border-color: $white

          &:after
            background-color: $white

          &:hover
            color: black

    .menu
      &__item, &__drop
        color: $white
        +screen(1280)
          color: $black

        &:after
          background-color: $white !important

  &__burger
    display: none
    +screen(1280)
      position: relative
      display: flex
      flex-shrink: 0
      width: 40px
      height: 40px
      box-sizing: border-box
      align-items: center
      justify-content: center
      z-index: 101
      border: 2px solid $black
      gap: 10px
      flex-direction: column
      transition: transform .3s, border-color .3s

      &.active
        border-color: $orange !important
        transform: rotate(360deg)

        .header__burger-line
          width: 24px
          background-color: $orange !important

        .header__burger-line:nth-child(1)
          transform: translate(0, 6px) rotate(-45deg)

        .header__burger-line:nth-child(2)
          transform: translate(0, -6px) rotate(45deg)

      &-line
        transition: .3s transform, width .3s, background-color .3s
        width: 20px
        height: 2px
        background-color: $black

  &__top
    transition: background-color .3s
    display: flex
    z-index: 2
    align-items: center
    justify-content: space-between

    .header__contacts-phone
      position: relative
      width: 202px
      justify-content: flex-end
      margin-top: -10px
      +font(23px, 24px, 500)
      +screen($desktop)
        width: 184px
        +font(21px, 24px, 500)

      &:after
        content: 'Бесплатный звонок по России'
        +font(13px, 15px, 500)
        color: #A8A8A8
        position: absolute
        top: calc(100% + 2px)
        right: 0
        +screen($desktop)
          +font(12px, 14px, 500)

  &:not(.header_main)
    border-bottom: 2px solid #E8E8E8 !important

    .header
      &__logos
        svg
          path[fill="white"]
            fill: $black

      &__search-field
        background-color: #F5F5F5

  &__logos
    display: flex
    gap: 36px
    align-items: center

    a
      &:first-child
        width: 160px
        height: 38px
        +screen($desktop)
          width: 136px
          height: 32px
        +screen($tablet)
          width: 93px
          height: 22px

        &:after
          content: ''
          width: 1px
          height: 35px
          +centering-y
          right: -18px
          background-color: $black
          +screen($desktop)
            height: 29px
          +screen($tablet)
            height: 20px

      &:last-child
        display: flex
        align-items: center
        gap: 6px

        img
          width: 45px
          height: 45px
          +screen($desktop)
            width: 38px
            height: 38px
          +screen($tablet)
            width: 26px
            height: 26px

        svg
          width: 115px
          height: 9px
          +screen($desktop)
            width: 99px
            height: 8px
          +screen($tablet)
            width: 68px
            height: 5px

  &__login
    display: flex
    align-items: center
    gap: 7px
    +font(16px, 16px, 500)
    +screen($desktop)
      +font(14px, 14px, 500)
    +screen(1280)
      display: none

    svg
      width: 28px
      height: 28px
      +screen($desktop)
        width: 24px
        height: 24px

  &__contacts
    display: flex
    align-items: center
    gap: 25px
    position: relative
    +screen(1280)
      z-index: 101

    &-phone
      display: flex
      align-items: center
      +font(18px, 19px, 500)
      gap: 9px
      +screen(1280)
        display: none

      span
        span
          transition: color .3s
          color: $orange

  &__bottom
    max-height: 69px
    transition: max-height .3s
    display: flex
    gap: 70px
    padding: 32px 0 7px
    align-items: center
    z-index: 1
    +screen(1280)
      padding: 0

  .menu
    display: flex
    justify-content: space-between
    align-items: center
    flex-grow: 1
    +screen(1280)
      position: fixed
      top: 0
      right: -100%
      height: calc(var(--vh, 1vh) * 100)
      flex-direction: column
      background-color: $white
      width: 100%
      z-index: 100
      transition: right .3s
      padding: 85px 16px 40px
      box-sizing: border-box
      align-items: flex-start
      overflow: auto

      &.active
        right: 0

    .header__contacts-phone
      display: none
      +screen(1280)
        display: flex
        +font(22px, 30px, 700)
        margin: auto auto 0
        z-index: 14

    &__item
      +font(18px, 30px, 500)
      position: relative
      transition: .3s color
      +screen($desktop)
        +font(16px, 30px, 500)
      +screen(1280)
        +font(20px, 30px, 500)
        margin-bottom: 38px

      &:after
        content: ''
        width: 0
        height: 4px
        background: $black
        position: absolute
        left: 0
        top: calc(100% + 4px)
        transition: width .3s

      &:hover
        &:after
          width: 100%
          +screen(1280)
            width: 0

  &__search
    display: flex
    height: 45px
    align-items: center
    flex-grow: 1
    margin: 0 15px 0 25px
    position: relative

    &-field
      background-color: rgba(#F5F5F5, .2)
      position: relative
      flex-grow: 0
      border-radius: 25px
      overflow: hidden
      box-sizing: border-box
      margin-left: auto
      height: 40px
      width: 0
      transition: width .3s, flex-grow .3s
      +screen($tablet)
        display: none

      &.active
        width: auto
        flex-grow: 1

      input
        padding: 14px 40px 13px 20px
        width: 100%
        height: 100%


      svg
        position: absolute
        right: 20px
        top: 11px
        width: 18px
        height: 18px

    &:hover
      svg
        path
          fill: $orange

    &-mobile-btn
      display: none
      +screen($tablet)
        display: block

    &-btn
      +screen($tablet)
        display: none

    &-btn, &-mobile-btn
      flex-shrink: 0
      width: 28px
      height: 28px
      cursor: pointer
      position: absolute
      right: 0
      top: 11px
      background: url(../assets/img/header/loupe.svg) no-repeat center/cover
      transition: right .5s, transform .5s, bacground-image .5s, top .5s
      +screen($desktop)
        width: 24px
        height: 24px

      &.disabled
        background-image: url(../assets/img/header/close-black.svg)
        width: 18px
        height: 18px
        right: 20px
        top: 14px
        transform: rotate(360deg)
