@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.main
  &:not(.main_home)
    padding-top: 136px
    +screen(1280)
      padding-top: 69px

  &_home
    .section
      &-title
        +font(66px, 70px, 800)
        +screen($desktop)
          +font(56px, 62px, 800)
        +screen($tablet)
          +font(34px, 38px, 800)

  &_credit
    background: url(../assets/img/credit/credit-bg.svg) 100% 110% no-repeat
    +screen($desktop)
      background: url(../assets/img/credit/credit-bg-desk.svg) 100% 109% no-repeat
    +screen($tablet)
      background: url(../assets/img/credit/credit-bg-mob.svg) 50% 96% no-repeat

