@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.main
  &:not(.main_home)
    padding-top: 136px
    +screen(1280)
      padding-top: 69px

  &_home
    .section
      &-title
        +font(50px, 56px, 900)
        +screen($desktop)
          +font(40px, 52px, 900)
        +screen($tablet)
          +font(30px, 34px, 900)

  &_search
    display: flex
    flex-direction: column

    .search
      flex-grow: 1
      display: flex
      flex-direction: column

      &-results
        flex-grow: 1
