@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.list {
  &__input {
    height: 38px;
    position: relative;

    input {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0;
      box-sizing: border-box;
      padding: 3px 35px 3px 16px;
      outline: none;
      @include font(11px, 11px);

      &::placeholder {
        color: $gray-dark;
      }
    }

    button {
      width: 32px;
      height: 32px;
      border: 2px solid $blue;
      box-sizing: border-box;
      background-color: $blue;
      transition: .4s;
      cursor: pointer;
      position: absolute;
      top: 3px;
      right: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      appearance: none;

      &:hover {
        background-color: $white;

        svg {
          rect {
            fill: $blue
          }
        }
      }
    }
  }

  &__block {
    margin: 10px 0 0;
    padding: 0;
  }

  &__item {
    min-height: 44px;
    background-color: $white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;

    &_hidden {
      min-height: 0;
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0 !important;
    }

    &_closed {
      .list__item {
        &-check {
          &:before {
            content: '';
            width: 5px;
            height: 5px;
            background: $blue;
            border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 2px;
          }
        }

        &-title {
          text-decoration: line-through;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &-check {
      flex-shrink: 0;
      width: 13px;
      height: 13px;
      box-sizing: border-box;
      border: 2px solid $gray-dark;
      margin-right: 10px;
      position: relative;
    }

    &-title {
      @include font(12px, 12px);
      margin-bottom: -2px;
    }

    &-remove {
      flex-shrink: 0;
      margin-left: auto;
      cursor: pointer;
      transition: .4s;
      width: 23px;
      height: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(../assets/img/cross.svg) no-repeat center/8px 8px;

      &:hover {
        background-image: url(../assets/img/cross-blue.svg);
      }
    }
  }
}
