@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.lineup
  position: relative
  overflow: hidden
  padding: 20px 0 50px
  +screen($desktop)
    padding: 16px 0 40px
  +screen($tablet)
    padding: 12px 0 30px

  &__filter
    display: flex
    gap: 14px
    margin-top: 50px
    +screen($desktop)
      margin-top: 40px
    +screen($tablet)
      gap: 32px

    &-item
      box-sizing: border-box
      +font(18px, 22px, 500)
      padding: 10px 24px
      border: 2px solid $gray
      border-radius: 50px
      white-space: nowrap
      color: $black !important
      +screen($desktop)
        +font(16px, 20px, 500)
        padding: 7px 20px
      +screen($tablet)
        border-radius: 40px

      &:hover:not(:active, .active)
        color: $blue !important

      &.active
        color: $white !important
        background-color: $blue
        border-color: $blue

  &__grid
    margin-top: 40px
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 70px 30px
    +screen($desktop)
      margin-top: 30px
    +screen($tablet)
      margin-top: 24px
      grid-template-columns: 1fr

  &__glyphs
    position: absolute
    bottom: -8px
    right: -10px
    +screen($desktop)
      width: 678px
      height: 145px
    +screen($tablet)
      width: 316px
      height: 68px
      right: -4px
      bottom: 0

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
