section.choice
  .choice__bg.slide-right
    img(src=require('@/assets/img/remont/choice.png') alt="")
    img(src=require('@/assets/img/remont/choice-mob.jpg') alt="")
  .container
    .choice__content.slide-up
      h2.section-title.section-title_blue #[span 02] Почему выбирают нас?
      p.choice__txt Компания «Техцентры Сотранс» производит ремонт грузовых автомобилей #[span Mercedes-Benz, Kamaz, Hyundai, Fuso, Jac] различных моделей, а также спецтехники производителей #[span UMG и XCMG.]
      ul.choice__list
        each el in choiceList
          li !{el}



