section.profit
  .container
    h2.section-title.slide-right #[span 01] Выгодные конкурентные преимущества
    .profit__content
      .profit__container.slide-up
        p.profit__txt Квалифицированный персонал выполнит весь спектр ремонтных работ:
        ul.profit__list.section-list
          each el in profitList
            li #{el}
      .profit__container.slide-left
        p.profit__txt Мы обслуживаем и ремонтируем весь модельный ряд грузового коммерческого транспорта марок Mercedes-Benz, Kamaz, Hyundai, Fuso, Jac, а также строительной техники производителей UMG и XCMG. Техническая оснащенность сервиса, квалификация рабочих, а также применение оригинальных запчастей и расходных материалов гарантируют безупречное качество производимых работ.
