.menu
  .menu__close
    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/close.svg')}
  .menu__body
    button.menu__item.menu__item_black(data-section='black') Black
    button.menu__item.menu__item_yellow(data-section='yellow') Yellow
