@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.service-info
  padding: 20px 0 50px
  +screen($desktop)
    padding: 16px 0 40px
  +screen($tablet)
    padding: 12px 0 44px

  .container
    padding-right: 0
    +screen($tablet)
      padding: 0

  .section-title
    +screen($tablet)
      padding: 0 16px

  &__title
    +font(26px, 30px, 700)
    margin-bottom: 16px
    +screen($desktop)
      +font(22px, 30px, 700)
    +screen($tablet)
      margin-bottom: 20px

  &__txt
    +font(18px, 32px, 200)
    +screen($desktop)
      +font(16px, 26px, 200)

    &:last-child:not(:first-child)
      margin-top: 16px

  &__top, &__bottom
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 30px
    +screen($desktop)
      grid-gap: 38px
    +screen($tablet)
      grid-gap: 30px
      grid-template-columns: 1fr

  &__top
    grid-template-columns: 1fr 1.12fr


  &__top
    margin-top: 50px
    +screen($desktop)
      margin-top: 40px
    +screen($tablet)
      margin-top: 32px

    .service-info
      &__title, &__txt
        +screen($tablet)
          padding: 0 16px
          box-sizing: border-box

  &__bottom
    margin-top: 50px
    box-sizing: border-box
    padding-right: 100px
    +screen($desktop)
      padding-right: 60px
      margin-top: 40px
    +screen($tablet)
      margin-top: 30px
      grid-gap: 20px
      padding: 0 16px
      box-sizing: border-box

    .service-info__block
      &:nth-child(2)
        margin-top: 50px
        +screen($desktop)
          margin-top: 40px
        +screen($tablet)
          margin-top: 0

  &__accent
    background: url(../assets/img/service/bg.jpg) no-repeat center/cover
    width: 100%
    height: 100%
    color: $white
    box-sizing: border-box
    padding: 52px 36px

    &-title
      +font(22px, 28px, 700)
      +screen($desktop)
        +font(20px, 32px, 700)
      +screen($tablet)
        +font(20px, 25px, 700)

    &-txt
      margin-top: 12px
      max-width: 562px
      +font(18px, 32px, 200)
      +screen($desktop)
        margin-top: 4px
        +font(16px, 26px, 200)
      +screen($tablet)
        margin-top: 8px

    &-link
      margin-top: 28px
      height: 64px
      width: 250px
      +font(20px, 22px, 500)

      &:hover:not(:active)
        svg
          path
            fill: none
            stroke: $black

      svg
        width: 24px
        height: 24px
