@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.service-map
  &__title
    +font(32px, 32px, 700)
    box-sizing: border-box
    +screen($desktop)
      +font(24px, 32px, 700)
    +screen($tablet)
      +font(22px, 28px, 700)

  &__container
    margin-top: 40px
    height: 600px
    position: relative
    +screen($desktop)
      margin-top: 26px
      height: 420px
    +screen($tablet)
      margin-top: 20px
      height: 460px

  &__top
    max-width: 1920px
    box-sizing: border-box
    padding: 0 100px
    margin: 0 auto
    width: 100%
    display: flex
    justify-content: space-between
    +screen($desktop)
      padding: 0 50px
    +screen($tablet)
      padding: 0 16px
      flex-direction: column
      gap: 20px

  &__link
    box-sizing: border-box
    padding: 14px 24px
    border: 2px solid #EB5C2C
    +font(16px, 18px, 500)
    transition: color .3s
    position: relative

    &:before
      content: ''
      height: 100%
      width: 0
      transition: width .3s
      background-color: #EB5C2C
      position: absolute
      top: 0
      left: 0
      z-index: -1

    &:hover:not(:active)
      color: $white

      &:before
        width: 100%

      svg
        path
          stroke: $white

    align-items: center
    gap: 10px
    color: #EB5C2C
    display: flex
    +screen($tablet)
      justify-content: center

    .arrow
      margin-top: 4px
      +screen($tablet)
        margin-top: 0
        margin-bottom: -4px
