@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.service-form
  padding: 60px 60px 100px
  max-width: 1920px
  margin: 0 auto
  box-sizing: border-box
  background: url(../assets/img/service/service-bg.svg) no-repeat right bottom
  +screen($desktop)
    background: url(../assets/img/service/service-bg-desctop.svg) no-repeat right bottom
    padding: 40px 60px 80px
  +screen($tablet)
    background: none
    padding: 30px 16px 60px

  &__panel
    max-width: 1342px
    margin: 0 auto
    box-sizing: border-box
    padding: 40px 65px
    background: rgba(255, 255, 255, .3)
    mix-blend-mode: normal
    box-shadow: 0 10px 32px rgba(0, 0, 0, .16)
    backdrop-filter: blur(3px)
    +screen($desktop)
      padding: 30px 42px 36px
    +screen($tablet)
      padding: 20px 18px 30px

  &__title
    +font(32px, 33px, 700)
    text-align: center
    +screen($desktop)
      +font(24px, 28px, 700)
    +screen($tablet)
      +font(22px 26px, 700)

  &__txt
    +font(20px, 33px, 500)
    margin-top: 7px
    text-align: center
    +screen($desktop)
      +font(18px, 20px, 500)
    +screen($tablet)
      +font(16px, 20px, 500)
      margin-top: 10px

  &__fields
    margin-top: 40px
    +screen($desktop)
      margin-top: 30px
    +screen($tablet)
      margin-top: 20px

    &-top
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 26px 20px
      +screen($tablet)
        grid-template-columns: 1fr

    &-bottom
      margin-top: 44px
      +screen($desktop)
        margin-top: 36px
      +screen($tablet)
        margin-top: 30px

    &-container
      display: flex
      margin-top: 16px
      gap: 20px
      +screen($tablet)
        margin-top: 26px
        flex-direction: column
        gap: 16px

      &-item
        &:first-child
          flex-grow: 1

        &:last-child
          width: 390px
          display: flex
          flex-direction: column
          justify-content: space-between
          +screen($tablet)
            width: 100%

  .form
    &__field
      margin: 0

      &-placeholder
        font-weight: 200

    &__checkbox
      +font(14px, 20px, 200)
      margin-top: 5px
      padding-left: 28px
      +screen($desktop)
        +font(12px, 14px, 200)
        padding-left: 24px
      +screen($tablet)
        margin-top: 0
        +font(14px, 17px, 200)
        padding-left: 36px

      span
        +screen($tablet)
          display: block

      a
        +screen($desktop)
          font-weight: 200

      input + label:before
        width: 20px
        height: 20px
        top: -1px
        +screen($desktop)
          width: 16px
          height: 16px
          top: 50%
          transform: translateY(-50%)
        +screen($tablet)
          width: 24px
          height: 24px

      input[type="checkbox"]:checked + label:before
        background: #EB5C2C url(../assets/img/service/service-check.svg) no-repeat center
        +screen($desktop)
          background-size: 87%
        +screen($tablet)
          background-size: 80%

    &__textarea
      color: $black
      height: 140px
      +screen($desktop)
        height: 112px
      +screen($tablet)
        height: 174px

    .service-form__submit
      height: 66px
      width: 100% !important
      +font(22px, 22px, 500)
      margin-bottom: 4px
      +screen($desktop)
        +font(18px, 18px, 500)
        height: 56px
      +screen($tablet)
        +font(20px, 20px, 500)
        height: 60px
        margin-top: 30px
