@use 'variables' as *

.best
  display: flex
  flex-direction: column-reverse
  background: center/cover no-repeat url(../src/img/best/best_back.jpg)
  padding: 50px 20px 60px
  +media
    flex-direction: row
    padding: 125px 100px
    justify-content: space-between

  &__right
    margin-bottom: 55px
    +media
      width: 629px
      height: 412px
      margin: 0
  &__left
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    +media
      text-align: left
      align-items: flex-start
    +media(1280px)
      margin-top: 50px

  &__header
    font: 500 28px/35px $font
    text-transform: uppercase
    +media
      text-transform: none
      font-size: 50px
      line-height: 60px
      span
        display: none

  &__subHeader
    font: 500 16px/21px $font
    margin-bottom: 40px
    +media  
      font-size: 20px
      line-height: 27px
  
  &__text
    font: 15px/25px $font
    padding-bottom: 70px
    +media
      max-width: 544px
      padding-bottom: 40px
      font-size: 16px
      line-height: 26px
  &__btn
    width: 144px
    height: 43px
    background: $red
    font: 500 16px/21px $font
    display: flex
    justify-content: center
    align-items: center
    color: $white
    border-radius: 5px
    border: 1px solid $red
    transition: all .3s ease-out
    text-transform: uppercase
    &:active
      background: transparent
      color: $red
    +media
      &:hover
        background: transparent
        color: $red



