@use 'variables' as *

.faq
  &__top
    padding: 100px 10px 70px
    text-align: center
  
  &__header
    font: 500 30px/35px $font
    margin-bottom: 20px
    text-transform: uppercase 

  &__subHeader
    font: 14px/25px $font
    opacity: .8
    span
      display: none
    +media
      display: inline
  
  &__popular 
    .question
      margin-bottom: 10px
      padding: 0 10px
      &:last-child
        margin: 0
      +media  
        margin-bottom: 20px
        padding: 0 100px
      
      &_active
        .question__text
          transition: all .2s ease-out
          color: $red
          +media
            transition: all .5s ease-out !important
        .question__btn
          transition: all .2s ease-out
          transform: rotate(180deg)
          +media
            transition: all .5s ease-out !important
          path
            fill: $red

      &__head
        min-width: 100px
        display: flex
        justify-content: space-between
        align-items: center
        padding: 25px 10px
        background: $lightBlue
        cursor: pointer
        transition: all .2s ease-out
        +media
          transition: all .5s ease-out !important     
          padding: 25px 30px
          &:hover
            .question__text
              transition: all .2s ease-out
              color: $red
            .question__btn
              transition: all .2s ease-out
              path
                fill: $red

      &__text
        color: $white
        font: 500 14px/19px $font
        max-width: 220px
        text-transform: uppercase
        transition: all .2s ease-out
        +media(500px)
          font-size: 18px
          line-height: 20px
        +media(650px)
          max-width: inherit
        +media
          transition: all .5s ease-out !important
          font-size: 22px
          line-height: 24px

      &__btn
        width: 50px
        height: 50px
        border-radius: 50%
        background: $black
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        transition: all .2s ease-out
        +media
          transition: all .5s ease-out !important

      &__content
        background: $lightBlue
        border-top: 1px solid rgba(255, 255, 255, .1)
        max-height: 0
        overflow: hidden
        transition: max-height .2s
        color: rgba(255, 255, 255, .8)
        +media
          transition: max-height .5s !important
        &Container
          padding: 30px 10px
          font: 16px/22px $font
          +media
            padding: 30px
            font-size: 20px
          