@use 'variables' as *

.header
  display: flex
  align-items: center
  justify-content: space-between
  background: $darkBlue
  height: 87px
  padding: 0 10px
  +media
    height: 100px  
    padding: 0 50px
  +media(1400px)
    padding: 0 100px

  &__logo
    margin-right: 40px

  &__left
    display: flex
    align-items: center

  &__menu
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 36px
    height: 27px
    &Line
      width: 36px
      height: 5px
      border-radius: 5px
      background: #fff
    +media
      display: none

  &__nav
    display: none
    &Item
      font: 500 16px/24px $font
      color: $white
      margin-right: 20px
      transition: all .3s ease-out
      &:last-child
        margin: 0
      &:hover
        color: $red
    +media
      display: flex

  &__social
    display: flex
    +media(1300px)
      margin-right: 35px
    svg
      transition: all .3s ease-out
      fill: $white
      &:hover
        fill: $red
    &Item
      display: block
      svg
        width: 44px
        height: 44px
        +media
          width: 24px
          height: 24px
      &:not(:first-child)
        display: none
        +media
          display: block
      &:not(:last-child)
        margin-right: 10px
  
  &__contacts
    display: flex
    align-items: center

  &__address
    display: none
    +media(1300px)
      display: flex 
      flex-direction: column
    &Text
      font: 20px/24px $font
    &PhoneLink
      font: bold 26px/35px $font
      color: $white
       