@use 'variables' as *

.howWork
  +media
    padding: 0 100px
  &__top
    padding: 50px 10px 30px
    min-height: 160px
    background: $blue
    display: flex
    flex-direction: column
    align-items: center
    +media
      padding: 50px 0 30px
      background: transparent

  &__header
    +header
    margin-bottom: 20px

  &__subHeader
    font: 14px/25px $font
    opacity: .8
    span
      display: none
      +media  
        display: inline
  
  &__middle
    .howWork__desc
      display: flex
      flex-flow: row wrap
      justify-content: center
      margin-top: 50px
      +media(1550px)
        justify-content: space-between
        height: 435px
        align-items: flex-start
      .item
        width: 330px
        min-height: 374px
        display: flex
        flex-direction: column
        align-items: center
        margin: 0 0 30px 0
        +media(660px)
          &:not(:nth-child(2n))
            margin-right: 25px
        +media(1040px)
          &:not(:nth-child(2n))
            margin-right: 200px
        +media(1550px)
          &:not(:nth-child(2n))
            margin: 0
            align-self: flex-end        
        &:last-child
          margin: 0
        &__image
          z-index: 10
        &__description
          width: 100%
          min-height: 265px
          position: relative
          background: $lightBlue
          text-align: center
          padding: 60px 0 40px
          margin-top: -62px          
          border-radius: 5px
        &__header
          font: bold 20px/65px $font
          text-transform: uppercase
          &_red
            color: $red
        &__text
          font: 14px/25px $font
          padding: 0 15px
          opacity: .8
          text-align: left
        &__more
          position: absolute
          right: 10px
          bottom: 10px
          color: rgba(255, 255, 255, .8)
          display: block
          background: $red
          font: 12px/14px $font
          width: 100px
          height: 20px
          display: flex
          align-items: center
          justify-content: center
          border-radius: 5px
          text-transform: uppercase
          border: 1px solid $red
          transition: all .3s ease-out
          &:active
            background: transparent
            color: $red
          +media
            &:hover
              background: transparent
              color: $red

