@use 'variables' as *

.map
  display: flex

  &__container
    width: 80%
    +media
      width: 85%

  &__links
    width: 20%
    background: rgba(16, 24, 36, .6)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    +media
      width: 15%

    &Item
      width: 50px
      height: 50px
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      &:not(:last-child)
        margin-bottom: 70px
      +media
        width: 100px
        height: 100px
      a
        display: flex
        justify-content: center
        align-items: center
        img
          display: block
          width: 100%
          cursor: pointer