@use 'variables' as *

.map
  display: flex

  &__container
    width: 70%
    +media
      width: 80%

  &__links
    width: 30%
    background: rgba(16, 24, 36, .6)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    +media
      width: 20%
    &Item
      width: 100px
      height: 100px
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      a
        display: flex
        justify-content: center
        align-items: center
        img
          display: block
          width: 100%
          cursor: pointer