@use 'variables' as *

.showroom
  display: flex
  flex-direction: column
  align-items: center
  background: $blue
  padding: 0 10px
  +media
    background: transparent
    padding: 0 100px
  
  &__top
    padding: 50px 0
    text-align: center  

  &__header
    +header
    margin-bottom: 20px

  &__subHeader
    font: 14px/25px $font
    opacity: .8

  &__gallery
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
    +media(730px)
      flex-direction: row
    +media
      flex-direction: column
    +media(1600px)
      flex-direction: row

    .gallery
      &__left, &__right
        display: flex
        flex-direction: column
        align-items: center
        .row
          width: 355px
          height: 236px
          margin-bottom: 10px
          +media
            width: 690px
            height: 458px
            margin-bottom: 20px
          img
            width: 100%
            height: 100%
          &_first
            border-radius: 10px
            overflow: hidden
          &_second
            display: flex
            justify-content: space-between
            div
              overflow: hidden
              border-radius: 10px
              width: 173px
              +media
                width: 335px
      &__left
        +media(730px)
          margin-right: 10px
        +media
          margin-right: 0
        +media(1600px)
          margin-right: 20px
