$blue: #0F1624
$black: #0E1524
$white: #fff
$red: #D6050A
$darkBlue: #101824
$lightBlue: #1B2745

$font: 'Cera Pro', sans-serif

=media($minWidth: 992px)
  @media screen and (min-width: $minWidth) 
    @content

=header
  font: 500 30px/40px $font
  text-transform: uppercase
  