$blue: #232C4C
$black: #2D2424
$white: #fff
$red: #D6050A
$darkBlue: #101824

$font: 'Cera Pro', sans-serif

=media($minWidth: 992px)
  @media screen and (min-width: $minWidth) 
    @content