html, body {
    height: 100vh;
    position: relative;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e15e83;
}

.triangle {
    width: 100vw;
    height: 100vh;
    background-color: #f4e770;
    /*clip-path: polygon(0 0, 100% 0, 100% 100%);*/
    clip-path: polygon(0 130%, 0 0, 100% 0);
    position: absolute;
    left: -12%;
    z-index: -1;
    pointer-events: none;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    width: 160px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    background: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 12px 4px rgba(34, 60, 80, 0.4);
}

.btn:hover {
    opacity: .7;
}

.btn:active {
    opacity: 1;
}

.modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.modal.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal__container {
    width: 60%;
    height: 90%;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 2px 2px 12px 4px rgba(34, 60, 80, 0.4);
    display: flex;
    flex-direction: column;
}

.modal__header {
    background-color: #e9ebf3;
    height: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.modal__top {
    height: 40%;
    background-color: #dae0e5;
}

.modal__botom {
    flex-grow: 1;
}

.modal__header-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.modal__header-point:not(:last-child) {
    margin-right: 10px;
}

.modal__header-point:first-child{
    background-color: #d65665;
}
.modal__header-point:nth-child(2){
    background-color: #ec9b47;
}
.modal__header-point:last-child{
    background-color: #4fa067;
}
