@use 'components/reset'
@use 'components/fonts'
@use 'components/variables' as *
@use 'components/header'

body 
  min-width: 375px
  color: $white
  position: relative
  
.wrapper
  margin: 0 auto
  max-width: 1600px

.mobile__menu
  position: absolute
  top: 0
  left: - 100vw

svg
  display: block
