@use 'components/reset'
@use 'components/fonts'
@use 'components/variables' as *
@use 'components/header'
@use 'components/best'
@use 'components/howWork'
@use 'components/showroom'
@use 'components/faq'
@use 'components/interior'
@use 'components/footer'

body 
  min-width: 375px
  color: $white
  position: relative

.wrapper
  margin: 0 auto
  max-width: 1600px

.main
  background: 20% 15% repeat-y url(../src/img/global/cat_back_mobile.svg), $blue
  +media
    background-image: url(../src/img/global/cat_back_desktop.svg)

.mobile__menu
  position: absolute
  top: 0
  left: -100vw

svg
  display: block
