header.header
  .container.container_flex
    .header__logo
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/logo.svg')}
    .header__container
      .header__reserve Reserve for #[span ₹]499
      button.header__bureger
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/header/burger.svg')}
