@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.footer
  box-sizing: border-box
  padding: 110px 0
  +screen($tablet-sm)
    padding: 55px 0

  &__title
    +font(48px, 56px, 700)
    color: $white
    text-align: center
    text-transform: uppercase
    +screen($tablet)
      +font(32px, 40px, 700)
    +screen($tablet-sm)
      +font(24px, 32px, 700)
    +screen($tablet-xs)
      +font(20px, 28px, 700)

    span
      color: $orange

  &__price
    margin-top: 85px
    display: flex
    align-items: center
    justify-content: center
    +screen($tablet)
      margin-top: 50px
    +screen($tablet-sm)
      margin-top: 35px

    &-old
      +font(36px, 42px)
      color: $gray
      text-decoration: line-through
      margin-right: 32px
      +screen($tablet)
        +font(20px, 26px)

    &-new
      +font(48px, 56px)
      color: $white
      +screen($tablet)
        +font(32px, 40px)

  &__grid
    margin-top: 60px
    display: flex
    justify-content: space-between
    +screen($tablet-sm)
      margin-top: 35px
      flex-direction: column

  &__item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    +screen($tablet-sm)
      &:not(:first-child)
        margin-top: 40px

    &-txt
      margin-top: 80px
      +font(18px, 22px)
      text-align: center
      color: $white
      +screen($tablet-sm)
        margin-top: 40px

      span
        display: block
        color: $orange

    &:nth-child(2)
      .footer__item
        &-txt
          +font(36px, 42px)
          margin-top: 45px
          +screen($tablet-sm)
            +font(24px, 30px)

          span
            +font(24px, 28px)
            +screen($tablet-sm)
              +font(18px, 24px)

  &__order
    margin-top: 64px
    display: flex
    align-items: center
    justify-content: center

    a
      +font(18px, 18px)
      box-sizing: border-box
      padding: 16px 32px
      background-color: $orange
      border-radius: 7px
      border: 2px solid $orange

      &:hover
        background-color: $black-background
        color: $orange

      &:active
        background-color: $orange
        color: $black
