@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.header
  box-sizing: border-box
  display: flex
  align-items: center
  position: relative

  &:after
    content: ''
    width: 100%
    height: 1px
    background: var(--color)
    position: absolute
    bottom: 0
    left: 0

  &__mobile-nav
    display: none
    +screen($tablet)
      display: block

  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 2020px
    width: 100%
    box-sizing: border-box
    padding: 10px 50px
    margin: 0 auto
    +screen($tablet)
      padding: 8px 30px

  &__nav
    position: relative
    +screen($tablet)
      width: 100vw
      height: 100vh
      position: fixed
      top: -120vh
      left: 0
      z-index: 100
      background: $white
      display: flex
      align-items: center
      transition: top .3s

      &.active
        top: 0

    &-container
      display: flex
      +screen($tablet)
        width: 100%
        flex-direction: column
        align-items: center
        justify-content: center

    &-copyright
      display: none
      +screen($tablet)
        display: flex
        align-items: center
        justify-content: center
        color: $gray
        position: absolute
        left: 50%
        bottom: 23px
        transform: translateX(-50%)
        width: 260px
        height: 19px

    &-close
      display: none
      +screen($tablet)
        display: block
        z-index: 11
        position: absolute
        right: 32px
        top: 11px
        width: 30px
        height: 30px
        background: url(../assets/img/header/close.svg) center/cover no-repeat

      &-line
        width: 20px
        height: 1px
        background: $black

    &-link
      +font(14px, 19px)
      color: $black
      text-transform: uppercase
      position: relative

      &:not(:last-child)
        margin-right: 43px
        +screen($tablet)
          margin: 0 0 58px

      &:after
        content: ''
        position: absolute
        bottom: -8px
        left: 0
        height: 2px
        background: $black
        opacity: 0
        transition: opacity .3s
        +screen($tablet)
          display: none

      &:hover:not(.active)
        &:after
          opacity: 1

      &.active
        &:after
          opacity: 1

      &_merch
        &:after
          background:  url(../assets/img/global/menu/merch.svg) center/cover no-repeat
          width: 42px

      &_collabs
        &:after
          background:  url(../assets/img/global/menu/collabs.svg) center/contain no-repeat
          width: 78px
          left: -4px

      &_apiece
        &:after
          background:  url(../assets/img/global/menu/apiece.svg) center/contain no-repeat
          width: 83px

      &_faq
        &:after
          background:  url(../assets/img/global/menu/faq.svg) center/cover no-repeat
          width: 32px

      &_contacts
        &:after
          background:  url(../assets/img/global/menu/contacts.svg) center/cover no-repeat
          width: 89px
          left: -8px

  &__main-logo
    width: 200px
    height: 107px
    background: url(../assets/img/header/logo.svg) center/contain no-repeat
    +screen($tablet-sm)
      width: 120px
      height: 65px
      background-image: url(../assets/img/header/logo.svg)
      margin-left: -22px

    img
      width: 100%

  &__logo
    width: 86px
    height: 37px
    +screen($tablet)
      width: 46px
      height: 20px

    img
      width: 100%

  &_main-page
    padding: 16px 0
    justify-content: center

    &:after
      display: none

  &__links
    display: flex
    align-items: center
    justify-content: center

    a
      position: relative
      display: flex
      align-items: center
      justify-content: center

      &:nth-child(1)
        width: 26px
        height: 26px
        background: url(../assets/img/header/pa.svg) no-repeat center/contain
        +screen($tablet)
          width: 21px
          height: 21px

        &.active
          background: url(../assets/img/header/pa-black.svg) no-repeat center/contain

      &:nth-child(2)
        width: 26px
        height: 26px
        background: url(../assets/img/header/basket.svg) no-repeat center/contain
        +screen($tablet)
          width: 20px
          height: 20px
          margin-top: -1px

        &.active
          background: url(../assets/img/header/basket-black.svg) no-repeat center/contain

      &:not(:last-child)
        margin-right: 21px

      svg
        transition: .3s

      &:hover:not(.active)
        svg
          opacity: .5

      &:active:not(.active)
        svg
          opacity: 1

    &-counter
      width: 15px
      height: 15px
      border-radius: 50%
      background: var(--color)
      display: flex
      align-items: center
      justify-content: center
      +font(8px, 8px, 700)
      position: absolute
      right: -8px
      top: -1px
      color: $white
      +screen($tablet)
        width: 17px
        height: 17px
        +font(9px, 9px, 700)
        right: -12px
