section.about-grid
  .container
    .about-grid__content
      .about-grid__item
        img(src=require('@/assets/img/about-page/1.jpg') alt="")
      .about-grid__item
        h2 Производственный комплекс расположен в пгт Красный Бор Тосненского района Ленинградской области, его площадь составляет
        p 15 000 м²
      .about-grid__item
        img(src=require('@/assets/img/about-page/2.jpg') alt="")
    .about-grid__certs
      .about-grid__certs-left
        p Продукция Механического завода СОТРАНС комплектуется узлами и деталями известных мировых производителей и соответствует всем современным стандартам качества. Новые модели полуприцепов и техники проходят длительные ресурсные испытания в автопарке компании СОТРАНС в максимально жестких условиях эксплуатации.
        p Тщательный анализ данных, полученных в результате испытаний, позволяет оперативно вносить доработки и усовершенствования в конструкцию, обеспечивая высокий уровень качества продукции идущей в серию.
      .about-grid__certs-right
        .about-grid__certs-image.modal-img
          img(src=require('@/assets/img/about-page/cert-1.jpg') alt="")
        .about-grid__certs-image.modal-img
          img(src=require('@/assets/img/about-page/cert-2.jpg') alt="")



