section.about-top
  .container
    .about-top__left
      h1.about-top__title Механический завод СОТРАНС —
      p.about-top__txt крупный Российский производитель полуприцепов и спецтехники
    .about-top__right
      p Завод производит качественную и востребованную рынком продукцию по полному технологическому циклу: от разработки, изготовления, сборки до сбыта готовой продукции и сервисного обслуживания.
      p Собственное конструкторское бюро компании состоит из профессионалов с 30 летним опытом разработок и проектирования. На заводе установлены комплексы плазменной резки, сварки, гибочные прессы для листового металла, металлорежущие установки и др. современное оборудование, которое регулярно модернизируется.

