@font-face
  font-family: 'Gotham Pro'
  src: local('gothampro')
  src: url('../assets/fonts/gothampro.woff2') format('woff2'), url('../assets/fonts/gothampro.woff') format('woff')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Gotham Pro'
  src: local('gothampro_bold')
  src: url('../assets/fonts/gothampro_bold.woff2') format('woff2'), url('../assets/fonts/gothampro_bold.woff') format('woff')
  font-weight: 700
  font-style: normal
