// font
$font: 'Gotham Pro', sans-serif

// colors
$white: #fff
$white-dirt: #F9F9F9
$black: #020202
$black-light: #484848
$red: #D94B48
$gray: #F9F9F9
$yellow: #FED956
$bluish: #6CA2BE
$black-gradient: linear-gradient(123.99deg, #121212 0%, rgba(18, 18, 18, 0.26) 85.97%)
$blue-gradient: linear-gradient(90deg, #20D6FF 0%, #1ED9FE 19.48%, #1ED9FE 26.67%, #1FD2FF 45.85%, #24C0FF 87.64%, #24C0FF 100%)

// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
