// font
$font: 'Akzidenz-Grotesk', sans-serif
$font-pop: 'Poppins', sans-serif

// colors
$black: #363636
$white: #fff
$orange-rgba: rgba(235, 92, 46, 0.9)
$orange: #ED6C43
$gray-light: #D9D9D9
$gray: #9C9C9C
$gray-dark: #979797

// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
