@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

*
  box-sizing: border-box

html
  font-family: sans-serif

body
  margin: 0

#main-header
  width: 100%
  height: 6rem
  display: flex
  justify-content: center
  align-items: center
  background: #ff0062

  h1
    color: white
    margin: 0

footer
  text-align: center

ul
  list-style: none
  margin: 0
  padding: 0

li
  margin: 1rem 0

section
  margin: 1rem auto
  width: 40rem
  max-width: 90%

  ul
    padding: 1rem
    max-height: 20rem
    overflow: scroll

  > h2
    color: white
    margin: 0

button
  font: inherit
  background: #ff0062
  color: white
  border: 1px solid #ff0062
  padding: 0.5rem 1.5rem
  cursor: pointer

  &.alt
    background: white
    color: #ff0062

  &:focus
    outline: none

  &:hover, &:active
    background: #ff2579
    border-color: #ff2579
    color: white

.card
  border-radius: 10px
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26)
  padding: 1rem
  background: white

#active-projects
  border: 1px solid #870099

  > header
    background: #870099
    padding: 1rem
    display: flex
    justify-content: space-between
    align-items: center

  header h2
    color: white
    margin: 0

#finished-projects
  border: 1px solid #535353

  > header
    background: #535353
    padding: 1rem
    display: flex
    justify-content: space-between
    align-items: center

  header h2
    color: white
    margin: 0

body
  margin: 5rem
  font-family: sans-serif

div
  border: 1px solid #ccc
  padding: 1.5rem 3rem

h2
  margin: 0 0 1rem 0

button
  font: inherit
  font-size: 1.5rem
  padding: 1rem 2rem
  border: 1px solid #ff0055
  background: #ff0055
  color: white
  cursor: pointer
  border-radius: 10px
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26)
  transition: all 0.3s

  &:focus
    outline: none

  &:hover, &:active
    background: #e92f6d
    border-color: #e92f6d
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26)

.droppable
  background-color: #ffe0ec
