footer.footer.footer_policy
  .container
    .footer__top
      a.footer__logo.slide-right(href="index.html")
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/footer-logo.svg')}
      .footer__info.slide-right
        span ООО «Федеральная транспортная компания «Сотранс»
        span ИНН: 7802355025
        span КПП: 471601001
      .footer__contacts.slide-up
        .footer__contacts-name Дмитрий Шарапов
        a.footer__contacts-item.footer__contacts-item_phone(href="tel:+79214245572")
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/phone.svg')}
          span +7 (921) 424-55-72
        a.footer__contacts-item.footer__contacts-item_mail(href="mailto:d.sharapov@sotrans.ru")
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/mail.svg')}
          span d.sharapov@sotrans.ru
    .footer__bottom.slide-left
      span  SOTRANS CARGO | © 2023 | Все права защищены
      a(href="policy.html") Политика конфиденциальности
