//- variables
block variables
  include ../../abstracts/variables

doctype html
html(lang="ru")
  head
    include head
  body
    include ../../components/global/preloader
    include header
    main.main
      block content
    include footer
