@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.about
  padding: 20px 0 50px
  +screen($desktop)
    padding: 16px 0 40px
  +screen($tablet)
    padding: 12px 0 30px

    .container
      padding: 0

    .section-title
      padding: 0 16px

  .container
    &:first-child
      padding-right: 0

  &__txt
    +font(18px, 34px, 200)
    +screen($desktop)
      +font(16px, 26px, 200)

    &_bottom
      position: relative
      box-sizing: border-box
      padding: 30px
      display: flex
      align-items: center
      max-width: 613px
      margin-top: -30px
      flex-shrink: 1
      +screen($desktop)
        max-width: 462px
      +screen($tablet)
        padding: 30px 16px
        width: 100%
        max-width: none
        background: url(../assets/img/about/about-bg-mob.svg) no-repeat center/cover
        min-height: 250px

      span
        z-index: 1

      svg
        position: absolute
        top: -19px
        left: 0
        width: 700px
        height: 412px
        transform: scale(1.11)
        z-index: -1
        +screen($desktop)
          width: 462px
          transform: scale(1.04)
          top: -9px
        +screen($tablet)
          display: none

  &__top
    display: flex
    gap: 30px
    margin-top: 50px
    z-index: 1
    +screen($desktop)
      gap: 20px
      margin-top: 40px
    +screen($tablet)
      gap: 30px
      margin-top: 32px
      flex-direction: column

    .about__txt
      +screen($tablet)
        padding: 0 16px
        box-sizing: border-box

    &-desc
      max-width: 553px
      +screen($desktop)
        max-width: 426px
      +screen($tablet)
        max-width: 100%

      &-image
        display: flex
        margin-top: 40px
        +screen($desktop)
          margin-top: 30px
        +screen($tablet)
          display: none

    &-image
      display: flex
      z-index: 1
      +screen($tablet-xs)
        height: 227px

  &__bottom
    margin-top: 30px
    display: flex
    +screen($desktop)
      margin-top: 20px
    +screen($tablet)
      margin-top: 30px
      flex-direction: column
      gap: 30px

    &-mobile-image
      display: none
      +screen($tablet)
        display: block

    &-image
      display: flex
      +screen($tablet)
        margin-top: -30px

  &__presentation
    height: 342px
    width: 653px
    box-sizing: border-box
    padding: 49px 64px 49px 100px
    display: flex
    flex-direction: column
    justify-content: space-between
    color: $white
    flex-shrink: 0
    background: url(../assets/img/about/presentation.jpg) no-repeat center/cover
    margin-left: -100px
    z-index: 1
    +screen($desktop)
      width: 487px
      height: 263px
      margin-left: -60px
      padding: 34px 60px
    +screen($tablet)
      width: 100%
      height: auto
      margin-left: 0
      padding: 26px 16px 40px
      background: linear-gradient(135deg, #EB5C2C 22.87%, #FE7A4D 78.76%)

    .about__txt
      font-weight: 500

    &-download
      width: 314px
      height: 64px
      border-width: 2px
      +font(20px, 20px, 500)
      gap: 8px
      +screen($desktop)
        width: 292px
        height: 60px
        +font(18px, 18px, 500)
      +screen($tablet)
        margin: 32px auto 0
        gap: 10px
        +font(16px, 16px, 500)
        max-width: 343px
        width: 100%
        height: 52px

      &:hover
        color: $orange

        svg
          path
            fill: $orange

      svg
        flex-shrink: 0
        width: 28px
        height: 28px



