-
  lang = 'ru'

  title = 'Nomercymusic'

  // navigation
  navMenu = [
    {name: 'Главная', href: 'javascript:'},
    {name: 'Афиша', href: 'javascript:'},
    {name: 'Прошедшее', href: 'javascript:'},
    {name: 'Аккредитация', href: 'javascript:'},
    {name: 'О нас', href: 'javascript:'},
    {name: 'Контакты', href: 'javascript:'},
  ]  

  socials = [
    {src: require('!svg-inline-loader!@/assets/img/svg/global/vk.svg'), href: 'javascript:'},
    {src: require('!svg-inline-loader!@/assets/img/svg/global/insta.svg'), href: 'javascript:'},
    {src: require('!svg-inline-loader!@/assets/img/svg/global/fb.svg'), href: 'javascript:'}
  ]

  //footer
  footerLinks = [
    {name: 'Политика конфдициальности', href: 'javascript:'},
    {name: 'Правила сервиса', href: 'javascript:'},
    {name: 'Стать нашим партнером', href: 'javascript:'}
  ]               