@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.breadcrumbs
  width: 100%
  padding: 20px 0 0
  background-color: $white
  z-index: 9
  display: flex
  align-items: center

  &__list
    display: flex
    flex-wrap: wrap

  &__item
    +font(14px, 20px)
    position: relative

    &:last-child
      a
        +font(14px, 20px, 500)
        color: $blue-second

    &:not(:last-child)
      a
        @extend %blue-click

    &:not(:last-child)
      margin-right: 14px

      &:after
        content: '/'
        position: absolute
        right: -10px
        top: 0

