@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.breadcrumbs
  width: 100%
  height: 62px
  background-color: $white
  z-index: 9
  display: flex
  align-items: center
  +screen($tablet)
    display: none

  &__list
    display: flex

  &__item
    +font(18px, 18px, 300, $font-title)
    position: relative

    &:last-child
      a
       color: $blue-light

    &:not(:last-child)
      a
        @extend %blue-click

    &:not(:last-child)
      margin-right: 14px

      &:after
        content: '/'
        position: absolute
        right: -10px
        top: 0

