@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.category-grid
  padding: 100px 0
  +screen($tablet)
    padding: 20px 0

  .container
    +screen($tablet-xs)
      padding: 0

  &__grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(366px, 1fr))
    grid-gap: 20px
    +screen($tablet-xs)
      grid-template-columns: 1fr

  &__item
    background-color: #F9F9F9
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 40px
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25)
    +screen($tablet-xs)
      padding: 20px 19px

    &:hover:not(:active)
      background-color: $blue
      color: $white

      svg
        path[fill="#1187D6"],
        circle[fill="#1187D6"],
        rect[fill="#1187D6"]
          fill: $white

        path[stroke="#1187D6"],
        circle[stroke="#1187D6"],
        rect[stroke="#1187D6"]
          stroke: $white

        path[fill="white"],
        circle[fill="white"],
        rect[fill="white"]
          fill: $blue

        path[stroke="white"],
        circle[stroke="white"],
        rect[stroke="white"]
          stroke: $blue

    &-image
      width: 216px
      height: 110px
      display: flex
      align-items: flex-end
      justify-content: center

    &-txt
      +font(24px, 30px, 700, $font-title)
      margin-top: 30px
