@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.product-specs
  +screen($tablet)
    padding: 0 20px

  &__title
    +font(26px, 28px, 700)

  &__list
    margin-top: 46px

    li
      display: flex
      justify-content: space-between
      align-items: center

      &:not(:first-child)
        margin-top: 16px

      span
        +font(16px, 28px)

        &:nth-child(2)
          flex-grow: 1
          height: 2px
          margin: 0 22px
          background-color: $gray-second-light

        &:last-child
          font-weight: 500

  .call-modal__btn
    margin-top: 50px
