@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.production-slider
  flex-shrink: 0
  +screen($tablet)
    padding-left: 20px

  &_left
    .swiper
      padding-left: 152px
      +screen($tablet)
        padding: 0

      &-button
        &-next
          bottom: 20px !important
          right: 20px !important

        &-prev
          bottom: 20px !important
          right: 74px !important

  &_right
    .swiper
      padding-right: 152px
      +screen($tablet)
        padding: 0

      &-button
        &-next
          bottom: 20px !important
          left: 74px !important

        &-prev
          bottom: 20px !important
          left: 20px !important

  .swiper
    box-sizing: border-box
    max-width: 812px
    width: 100%
    margin: 0
    +screen($tablet)
      max-width: none
      padding: 0 20px 17px 0

    &-pagination
      display: none
      +screen($tablet)
        display: block
        bottom: -8px

        &-bullet
          min-width: 10px
          height: 6px
          border-radius: 7px
          background-color: #E2E2E2
          opacity: 1
          transition: min-width .3s, background-color .3s

          &-active
            background-color: $blue-second
            min-width: 30px

    &-slide
      height: 447px
      max-width: 660px
      width: 100%
      display: flex
      position: relative
      +screen($tablet)
        height: auto
        max-width: none
        box-sizing: border-box

      &-active
        &:after
          visibility: hidden
          opacity: 0
          pointer-events: none

      &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1
        transition: opacity .3s, visibility .3s
        background-color: rgba($blue-second, .8)
        +screen($tablet)
          display: none

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

    &-button
      &-next, &-prev
        border-radius: 50%
        width: 40px
        height: 40px
        background-color: $white
        transition: background-color .3s
        top: auto
        left: auto
        right: auto
        bottom: auto
        box-shadow: 0 7px 14px rgba(0, 0, 0, .16)
        +screen($tablet)
          display: none

        &:after
          display: none

        &:hover:not(:active)
          background-color: $blue-second

          svg
            path
              stroke: $white

      &-next
        svg
          margin-right: -2px

      &-prev
        svg
          margin-left: -2px
