@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.product-slider
  +screen($tablet)
    margin-top: 20px

  .main-slider
    &.swiper
      max-width: 650px
      width: 100%
      margin: 0
      +screen($tablet)
        max-width: none
        padding: 0 0 21px 20px
        box-sizing: border-box

    .swiper
      &-modal-btn
        display: none
        +screen($tablet)
          position: absolute
          bottom: 12px
          right: 12px
          align-items: center
          justify-content: center
          width: 36px
          height: 36px
          border-radius: 50%
          background-color: $blue-second
          z-index: 1
          transition: background-color .3s

          &:active
            background-color: $white

            svg
              path
                fill: $blue-second

      &-slide
        height: 390px
        border-radius: 10px
        display: flex
        overflow: hidden
        position: relative
        cursor: pointer
        +screen($tablet)
          height: auto

        &-active
          .swiper-modal-btn
            display: flex

        img
          width: 100%
          height: 100%
          object-fit: cover
          object-position: center

      &-pagination
        display: none
        +screen($tablet)
          display: block
          bottom: -8px

          &-bullet
            min-width: 10px
            height: 6px
            border-radius: 7px
            background-color: #E2E2E2
            opacity: 1
            transition: min-width .3s, background-color .3s

            &-active
              background-color: $blue-second
              min-width: 30px

      &-button
        &-next, &-prev
          border-radius: 50%
          width: 40px
          height: 40px
          background-color: $white
          transition: background-color .3s
          top: auto
          left: auto
          box-shadow: 0 7px 14px rgba(0, 0, 0, .16)
          +screen($tablet)
            display: none

          &:after
            display: none

          &:hover:not(:active)
            background-color: $blue-second

            svg
              path
                stroke: $white

        &-next
          bottom: 20px
          right: 20px

          svg
            margin-right: -2px

        &-prev
          bottom: 20px
          right: 74px

          svg
            margin-left: -2px

  .thumb-slider
    padding-top: 12px
    +screen($tablet)
      display: none

    &.swiper
      max-width: 650px
      width: 100%
      margin: 0

    .swiper
      &-slide
        width: 122px
        height: 82px
        box-sizing: border-box
        border-radius: 8px
        padding: 3px
        border: 1px solid transparent
        display: flex
        cursor: pointer

        &-thumb-active
          border-color: $blue-second

        &-image
          border-radius: 6px
          overflow: hidden

          img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center

  &__modal
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: rgba(#17263D, .6)
    z-index: 101
    display: flex
    align-items: center
    justify-content: center
    padding: 20px
    box-sizing: border-box
    transition: visibility .3s, opacity .3s
    visibility: hidden
    opacity: 0
    pointer-events: none
    +screen($tablet)
      padding: 0

    &.active
      visibility: visible
      opacity: 1
      pointer-events: auto

    &-body
      display: flex
      justify-content: space-between
      position: relative
      border-radius: 16px
      background-color: $white
      max-width: 1203px
      width: 100%
      height: 637px
      box-sizing: border-box
      padding: 60px 20px 60px 30px
      z-index: 1
      +screen($tablet)
        width: 100vw
        height: 100vh
        border-radius: 0
        padding: 50px 10px
        flex-direction: column-reverse
        justify-content: center

    &-close
      position: absolute
      top: 20px
      right: 20px
      cursor: pointer
      +screen($tablet)
        svg
          path
            stroke: $black

    .main-modal-slider
      &.swiper
        padding: 0 76px
        max-width: 862px
        width: 100%
        margin: 0
        +screen($tablet)
          padding: 0
          margin-top: 105px

      .swiper
        &-button
          &-next, &-prev
            border-radius: 50%
            width: 50px
            height: 50px
            background-color: $white
            transition: background-color .3s
            box-shadow: 0 7px 14px rgba(0, 0, 0, .16)
            +screen($tablet)
              display: none

            &:after
              display: none

            &:hover:not(:active)
              background-color: $blue-second

              svg
                path
                  stroke: $white

          &-next
            svg
              margin-right: -2px

          &-prev
            svg
              margin-left: -2px

        &-slide
          display: flex
          border-radius: 10px
          overflow: hidden

          img
            object-fit: cover
            object-position: center
            width: 100%
            height: 100%

    .thumb-modal-slider
      &.swiper
        width: 98px
        flex-shrink: 0
        margin: 0 20px 0 0
        +screen($tablet)
          margin: 105px 0 0 0
          width: auto
          padding: 0 10px

        .swiper
          &-slide
            width: 98px
            height: 66px
            border-radius: 10px
            padding: 3px
            border: 1px solid transparent
            box-sizing: border-box
            +screen($tablet)
              width: 58px
              height: 40px
              padding: 2px
              border-radius: 4px

            &-thumb-active
              border-color: $blue-second

            &-image
              border-radius: 6px
              overflow: hidden
              display: flex
              height: 100%
              width: 100%
              +screen($tablet)
                border-radius: 2px

              img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center

