// font
$font: 'Rubik', sans-serif

// colors
$black: #000
$black-background: #111
$white: #fff
$orange: #FCB500
$gray: #ADADAD


// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
