@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.home
  margin: 0 auto
  display: flex
  flex-direction: column
  width: 65vw
  box-sizing: border-box
  padding: 60px
  background-color: $white
  +screen($tablet-sm)
    width: 90vw

  &__btn-close
    position: relative
    right: 53%
    top: 20%
    cursor: pointer

  #organization-page, #settings-page
    display: none

  &-user
    &-block
      display: flex
      justify-content: space-between
      align-items: center
      +screen($tablet-sm)
        flex-direction: column
        justify-content: center

      &_info
        display: flex
        align-items: center

        &__name
          margin-left: 17px
          +font(27px, 33px, 600)
          color: $black
          +screen($tablet-sm)
            +font(18px, 23px, 700)
            margin-left: 7px

      &-email
        +font(16px, 19px, 700)
        color: $blue
        +screen($tablet-sm)
          +font(12px, 18px, 700)

  &-toggle
    width: 599px
    height: 40px
    box-shadow: 0 2px 20px rgba(52, 60, 68, 0.08)
    border-radius: 8px
    margin-top: 50px
    +screen($tablet-sm)
       width: 100%
       height: 50px

    &-organization, &-settings
      width: 50%
      height: 100%
      +font(16px, 19px, 400)
      color: $black
      transition: background-color 0.3s, color 0.3s
      border-radius: 8px
      text-align: center

    .active
      background-color: $orange
      color: $white



  &-organization //стили для организации
    display: flex
    width: 100%
    justify-content: space-between
    margin-top: 40px
    +screen($tablet-sm)
      flex-direction: column

    &_left
      max-width: 50%
      +screen($tablet-sm)
        max-width: 100%
        margin-bottom: 50px

    &_left, &_right

      &_label
        +font(20px, 24px 600)
        margin-bottom: 20px

      &__form-container
        box-shadow: 0 2px 20px rgba(52, 60, 68, 0.08)
        border-radius: 20px
        padding: 40px 30px
        box-sizing: border-box

        label
          color: $black

        input, select
          margin: 10px 0 25px 0

          &:last-child
            margin-bottom: 0

        select
          width: 100%
          appearance: none
          -webkit-appearance: none
          -moz-appearance: none
          background-image: url('../assets/img/home/arrow.svg')
          background-repeat: no-repeat
          background-position: right 8px top 50%
          &:focus
            border: 3px solid $gray
            outline: none
          &::after
            content: ''
            right: 10px
            top: 50%
            transform: translateY(-50%)
            border-color: red transparent transparent transparent
            border-width: 5px 5px 0 5px
            border-style: solid

        input[type="checkbox"]
          width: 18px
          height: 18px

        input[type="text"], input[type="number"], select, input[type="email"], input[type="tel"]
          height: 40px
          padding: 12px 10px 11px 10px
          box-sizing: border-box
          border: 1px solid $gray
          border-radius: 8px

    &_right
      max-width: 47%
      +screen($tablet-sm)
        max-width: 100%
      &__form-container
         &:nth-child(n+2)
          margin-bottom: 50px


    &_buttons //стили для кнопок
      margin-top: 50px
      display: flex
      +screen($tablet-sm)
        flex-direction: column
        margin-top: 0

      &-save,&-cancel
        +font(16px, 19px, 700)
        color: $white
        padding: 10.5px 25px
        border-radius: 8px
        box-sizing: border-box
        +screen($tablet-sm)
          margin: 10px auto
          width: 100%

      &-save
        background-color: $orange

      &-cancel
        background-color: $gray
        margin-left: 30px
        +screen($tablet-sm)
          margin-left: 0



  &-settings //стили для настроек полей
    margin-top: 40px
    width: 100%

    &__title
      +font(20px, 24px, 600)
      color: $black
      margin-bottom: 20px
      &_dop
        margin-top: 50px


    &__thead
      width: 100%
      border: 1px solid $gray
      border-radius: 8px
      box-sizing: border-box
      padding: 12px 30px
      display: flex

      span
        +font(12px, 15px, 600)
        min-width: 252px
        +screen($desktop-m)
          min-width: 180px
        +screen($desktop-m)
          min-width: 110px
        +screen($tablet)
          min-width: 90px
        +screen($tablet-sm)
          min-width: 70px
          +font(10px, 13px, 600)

        &:first-child
          min-width: 495px
          +screen($desktop-m)
           min-width: 400px
          +screen($desktop-m)
            min-width: 300px
          +screen($tablet)
            min-width: 235px
          +screen($tablet-sm)
            min-width: 170px
          +screen($tablet-xs)
            min-width: 125px

    &__tbody
      border: 1px solid $gray
      border-radius: 8px
      margin-top: 10px
      width: 100%

      &__line
        box-sizing: border-box
        padding: 10px 27px
        border-bottom: 1px solid $gray
        display: flex

        &:last-child
          border-bottom: none

        &_name
          +font(14px, 17px, 400)
          min-width: 495px
          +screen($desktop-m)
            min-width: 400px
          +screen($desktop-m)
            min-width: 300px
          +screen($tablet)
            min-width: 235px
          +screen($tablet-sm)
            min-width: 170px
            +font(12px, 15px, 400)
          +screen($tablet-xs)
            min-width: 125px
            +font(10px, 13px, 400)

        &_td
          display: flex
          align-items: flex-start
          justify-content: flex-start
          min-width: 252px
          +screen($desktop-m)
            min-width: 180px
          +screen($desktop-m)
            min-width: 110px
          +screen($tablet)
            min-width: 90px
          +screen($tablet-sm)
            min-width: 70px








