@font-face
  font-family: 'Montserrat'
  src: local('Montserrat-Medium')
  src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: local('Montserrat-SemiBold')
  src: url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: local('Montserrat-Bold')
  src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: local('Montserrat-Black')
  src: url('../assets/fonts/Montserrat-Black.woff2') format('woff2')
  font-weight: 800
  font-style: normal
