.header.header_shadow
  .container
    a.header__logo-container(href="#")
      img.header__logo(src=require('@/assets/img/global/logo.png') alt="")
    nav.header__nav
      a.header__link(href="/#rent") Условия аренды
      a.header__link(href="/#specs") Технические характеристики
      a.header__link(href="/#service") Обслуживание
      a.header__link(href="/#faq") FAQ
      a.header__link(href="/#contacts") Контакты
    .header_contacts
      a.header__link(href="tel:+78124954202") +7 (812) 495-42-02
      a.header__button.btn-grad(href="/#request") #[span Оставить заявку]
.header_mobile.header_mobile_shadow
  .header_mobile-container
    a.header__logo-container_mobile(href="#")
      img.header__logo_mobile(src=require('@/assets/img/global/logo.png') alt="")
    .header__burger(id="burger")
      .header__burger-open
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/burger.svg')}
      .header__burger-close
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/menu-close.svg')}
  nav.header__nav_mobile._hidden
    a.header__link_mobile(href="/#rent") Условия аренды
    a.header__link_mobile(href="/#specs") Технические характеристики
    a.header__link_mobile(href="/#service") Обслуживание
    a.header__link_mobile(href="/#faq") FAQ
    a.header__link_mobile(href="/#contacts") Контакты
    .header_contacts_mobile
      a.header__link_mobile(href="tel:+78124954202") +7 (812) 495-42-02
      a.header__button_mobile.btn-grad(href="/#request")
        span Оставить заявку


