@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

html
  min-height: 100vh

body
  max-width: 1920px
  margin: 0 auto
  min-height: 100vh
  display: flex
  flex-direction: column
  font-family: $font
  position: relative
  background-color: $black
  align-items: center
  justify-content: center
  +screen($tablet)
    padding: 10px

a
  text-decoration: none
  color: $white
  display: block
  transition: color .3s, opacity .3s, background-color .3s
  outline: none

h1, h2, h3, h4, p
  margin: 0

button
  appearance: none
  border: none
  cursor: pointer
  padding: 0
  background: transparent
  transition: .3s


.step
  margin: 0 auto
  max-width: 683px
  width: 100%
  display: flex
  box-sizing: border-box
  justify-content: center
  padding: 0 20px

  &__screen
    box-sizing: border-box
    width: 100%

    &-btns
      display: flex
      gap: 33px
      margin-top: 30px

      a
        width: 125px
        height: 51px
        display: flex
        align-items: center
        justify-content: center
        +font(17px, 17px, 500)
        background: linear-gradient(90.12deg, #6DB3FF -1.26%, #78B9FF -1.25%, #338CEE 104.18%)
        box-shadow: 0 6.27775px 8px rgba(0, 0, 0, 0.15), 0 0 69.0553px rgba(62, 174, 255, 0.5)
        border-radius: 12px


    &.hidden
      display: none

    &-message
      background: rgba(255, 255, 255, 0.06)
      border-radius: 24px
      box-sizing: border-box
      padding: 25px 24px 32px
      display: flex
      align-items: center
      flex-direction: column
      position: relative
      width: 100%
      margin: 0 auto

    &-logo
      width: 76px
      height: 76px
      border-radius: 50%
      border: 2px solid $white
      display: flex
      align-items: center
      justify-content: center
      background-color: #000
      position: absolute
      transform: translateX(-50%)
      left: 50%
      top: -65px

    &-title
      +font(20px, 24px, 500)
      color: $white
      text-align: center

    &-txt
      +font(16px, 19px)
      opacity: .5
      margin-top: 10px
      text-align: center
      color: $white
      max-width: 330px

    &-link
      margin-top: 20px
      display: flex
      align-items: center
      position: relative
      width: 100%

      &-field
        width: 100%
        position: relative
        display: flex
        align-items: center

        button
          background: linear-gradient(90.12deg, #6DB3FF -1.26%, #78B9FF -1.25%, #338CEE 104.18%)
          position: absolute
          right: 0
          top: 50%
          transform: translateY(-50%)
          border-radius: 12px
          width: 81px
          height: 81px
          display: flex
          align-items: center
          justify-content: center

        input
          width: 100%
          height: 65px
          border-radius: 16px
          background-color: #333333
          outline: none
          border: none
          box-sizing: border-box
          padding: 12px
          color: #6DB3FF
          text-decoration: underline




