.filter
    .filter-header
      span Фильтры
      button#btnCloseFilter
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/close.svg')}
    .filter-input
      +select('Выберите логиста', 'Антонов Антон Антонович', 'Кибкало Андрей Андреев', 'Сидоров Николай Иванович')
    .filter-input
      +select('Выберите грузовик', '', '', '')
    .filter-input
      +select('Выберите тип грузовика', '', '', '')
    .filter-checkbox
      input(type='checkbox' id='myCarsFilter').check-mark
      label(for='myCarsFilter') Показать только мои машины

