@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.flat
  background-color: $white
  width: 489px
  display: flex
  align-items: stretch
  padding: 20px 0 25px
  box-sizing: border-box
  flex-shrink: 0

  &__check
    width: 66px
    flex-shrink: 0
    display: flex
    align-items: center
    justify-content: center

  &__desc
    display: flex
    flex-wrap: wrap
    align-items: center
    box-sizing: border-box
    padding-right: 20px

  &__price
    +font(15px, 20px, 700)
    color: $red
    margin-right: 16px

  &__about
    box-shadow: 0 0 2px rgba(94, 119, 157, .25)
    border-radius: 32px
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    border: 1px solid $gray
    padding: 5px 16px
    position: relative
    cursor: pointer

    &:hover
      .flat__about-popup
        visibility: visible
        opacity: 1
        pointer-events: auto

    img
      margin-right: 10px

    &-popup
      position: absolute
      left: 40px
      top: calc(100% + 12px)
      box-sizing: border-box
      padding: 12px
      box-shadow: 0 8px 30px -3px rgba(26, 32, 44, 0.1), 0px 4px 6px -2px rgba(26, 32, 44, 0.05)
      white-space: nowrap
      color: $white
      background-color: rgba(0, 0, 0, .5)
      +font(13px, 20px)
      transition: .3s
      opacity: 0
      visibility: hidden
      pointer-events: none

      &:before
        content: ''
        position: absolute
        left: 10px
        bottom: 100%
        border: 6px solid transparent
        border-bottom: 6px solid rgba(0, 0, 0, .5)

  &__name
    width: 100%
    margin-top: 3px
    color: $gray-second

    span
      color: $black

  &__scheme
    width: 157px
    flex-shrink: 0
    justify-content: space-between
    display: flex
    flex-direction: column

  &__info
    width: 100%
    display: flex
    margin-top: 20px
    +font(14px, 25px)

    &-left,
    &-right
      box-sizing: border-box

    &-left
      border-right: 1px solid $gray-darkest
      padding-right: 20px

    &-right
      padding-left: 20px

  &__address
    width: 100%
    margin-top: 16px
    position: relative
    line-height: 21px

    &:before
      content: ''
      width: 13px
      height: 13px
      background: url(../assets/img/icons/mark.svg) no-repeat center/cover
      position: absolute
      top: 4px
      left: -18px

  &__status
    height: 30px
    box-sizing: border-box
    padding: 6px 6px 6px 23px
    +font(13px, 18px)
    white-space: nowrap
    position: relative
    width: fit-content
    margin-left: auto

    &:before
      content: ''
      width: 6px
      height: 6px
      border-radius: 50%
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: 9px

    &_entity
      background-color: $pink
      color: $pink-dark

      &:before
        background-color: $pink-dark

    &_person
      background-color: $blue-light
      color: $blue

      &:before
        background-color: $blue

    &_booked
      background-color: $gray-light
      color: $gray-second-darkest

      &:before
        background-color: $gray-second-darkest

    &_sold
      background-color: $gray-second-light
      color: $gray-second-dark

      &:before
        background-color: $gray-second-dark

  &__image
    margin-top: 28px

  &__date
    +font(13px, 20px)
    color: $gray-second
