@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.counterparty-points
  width: 100%
  height: calc(100vh - 143px)
  margin: 0 auto
  box-sizing: border-box
  position: relative
  padding: 26px 77px 0 110px
  overflow-y: scroll
  scrollbar-width: thin
  scrollbar-color: $gray $gray-light

  &::-webkit-scrollbar
    width: 6px

  &::-webkit-scrollbar-thumb
    background-color: $gray
    border-radius: 100px

  &::-webkit-scrollbar-track
    background-color: $gray-light

  &::-webkit-scrollbar-thumb
    background-color: $gray
    border-radius: 100px

  &::-webkit-scrollbar-track
    background-color: $gray-light

  .close-btn
    position: absolute
    top: 18px
    left: 0

  &-header

    &__title
      +font(16px, 19px, 400)
      color: $black

    &_events
      width: 100%
      display: flex
      justify-content: space-between
      margin-top: 30px
      align-items: center

      &_count

        span
          +font(12px, 15px, 400)
          color: $black

        button
          +font(12px, 15px, 400)
          color: $gray-input
          margin-left: 10px

          &:hover, &:active, &:focus
            color: $black

      &_btns
        display: flex

        &__btn
          margin-left: 10px

          svg
            margin: 0

  &-titles
    display: flex
    border: 1px solid $gray
    border-radius: 8px
    background-color: $gray-bg
    margin-top: 10px

    div
      box-sizing: border-box
      padding: 12px 10px
      border-right: 1px solid $gray-light

      &:last-child
        border: none

      span
        +font(12px, 15px, 600)
        color: $black

      svg
        margin-left: 4px

    &-q
      width: 1.7%
    &-id
      width: 10.2%
    &-name, &-address
      width: 35.37%
    &-using-date
      width: 17.27%


  &-sort
    display: flex
    border: 1px solid $gray
    border-radius: 8px
    background-color: $gray-bg
    margin-top: 10px

    div
      box-sizing: border-box
      padding: 5px

      &:first-child
        padding: 0

      input, select, .counterparty-points-sort-date
        +font(12px, 15px, 400)
        color: $black
        display: flex
        align-items: center
        background-color: $white
        border: 1px solid $gray
        border-radius: 8px
        height: 30px
        box-sizing: border-box
        padding: 0 10px
        &::placeholder
          color: $gray

      input, select
        width: 95%

      .counterparty-points-sort-date
        display: flex
        align-items: center
        padding: 0 9px
        margin-left: 3px

    &-q
      width: 1.7%
    &-id
      width: 10.2%
    &-name, &-address
      width: 35.37%
    &-using-date
      width: 17.27%
      display: flex

  &-list
    border: 1px solid $gray
    border-radius: 8px
    margin-top: 10px
    height: 100%
    overflow: hidden

    &-item
      border-bottom: 1px solid $gray
      display: flex
      padding: 22px 10px
      box-sizing: border-box

      &:last-child
        border-bottom: none

      div
        box-sizing: border-box
        padding-left: 5px
        display: flex
        align-items: flex-start

        span
          +font(12px, 15px, 400)
          color: $gray-input
          margin-left: 5px

      &-q
       width: 1.7%
      &-id
        width: 10.2%
      &-name, &-address
        width: 35.37%
      &-name
        span
          color: $orange !important
      &-using-date
        width: 17.27%
