@font-face
  font-family: 'CeraPro'
  src: url('../assets/fonts/CeraPro.eot')
  src: url('../assets/fonts/CeraPro.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/CeraPro.woff') format('woff'), url('../assets/fonts/CeraPro.ttf') format('truetype'), url("../assets/fonts/CeraPro.otf") format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'CeraPro'
  src: url('../assets/fonts/CeraPro-Bold.eot')
  src: url('../assets/fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/CeraPro-Bold.woff') format('woff'), url('../assets/fonts/CeraPro-Bold.ttf') format('truetype'), url('../assets/fonts/CeraPro-Bold.ttf') format('truetype'), url("../assets/fonts/CeraPro-Bold.otf") format("opentype")
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'CeraPro'
  src: url('../assets/fonts/CeraPro-Medium.eot')
  src: url('../assets/fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/CeraPro-Medium.woff') format('woff'), url('../assets/fonts/CeraPro-Medium.ttf') format('truetype'), url('../assets/fonts/CeraPro-Medium.otf') format('opentype')
  font-weight: 500
  font-style: normal