$font: 'CeraPro', sans-serif

// colors
$black: #000
$white: #fff
$yellow: #e5cb04
$green: #00c0a5

// screen
$desktop-sm: '(max-width: 1260px)'
$tablet: '(max-width: 1024px)'
$tablet-sm: '(max-width: 768px)'
$mobile: '(max-width: 576px)'
$mobile-sm: '(max-width: 375px)'