@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.financial
  padding: 20px 0 187px
  background: url(../assets/img/financial/fin-bg.svg) right bottom no-repeat
  +screen($desktop)
    background: url(../assets/img/financial/fin-bg-desk.svg) right bottom no-repeat
    padding: 16px 0 132px
  +screen($tablet)
    background: url(../assets/img/financial/fin-bg-mob.svg) right bottom no-repeat
    padding: 12px 0 60px

  &__grid
    margin-top: 50px
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 22px
    +screen($desktop)
      grid-gap: 14px
      margin-top: 40px
    +screen($tablet)
      grid-template-columns: 1fr
      grid-gap: 40px
      margin-top: 32px

  &__item
    .more-btn
      +font(26px, 40px, 700)
      margin-top: 22px
      +screen($desktop)
        margin-top: 20px
        +font(20px, 40px, 700)
      +screen($tablet)
        margin-top: 6px

      svg
        path
          stroke: $black

    &:hover
      color: $orange

      .financial__item-image
        transform: scale(1.03)
        filter: drop-shadow(0px 8px 23px rgba(0, 0, 0, 0.25))

      .more-btn
        span
          &:last-child
            &:before
              width: 28px
              background-color: $orange

          svg
            path
              stroke: $orange

    &-image
      display: flex
      transition: transform .3s, filter .3s
