@use './variables' as *
@use './eventSliderCard'

.slider
  display: flex
  align-items: center
  overflow-x: scroll
  &::-webkit-scrollbar
    width: 0
  +media(795px)
      justify-content: center

  &__arrow
    display: none
    stroke: $light
    +media()
      display: block
      &_disabled svg
        stroke: $gray

  &__content
    display: flex
    align-items: center
    height: 435px
    +media()
      margin: 0 42px