@use './variables' as *

.slider__item
  position: relative
  margin-right: 15px
  width: 245px
  min-height: 350px
  box-sizing: border-box
  padding-bottom: 20px
  box-shadow: 0 5px 30px rgba(19, 25, 41, .25)
  border-radius: 10px
  overflow: hidden
  display: flex
  flex-direction: column
  align-items: center
  +media(1240px)
    margin-right: 90px
    &:last-child
      margin: 0
  &_bestseller
    &::after
      content: "хит"
      position: absolute
      top: 10px
      left: 10px
      display: flex
      justify-content: center
      align-items: center
      text-transform: uppercase
      width: 44px
      height: 18px
      border-radius: 5px
      color: #fff
      font: bold 10px/10px $font
      letter-spacing: 0.08em
      background: #3193D6        
  &:first-child
    margin-left: 15px

  .item
    &__image
      display: flex
      justify-content: center
      margin-bottom: 15px
    
    &__name
      font: bold 16px/18px $font
      text-align: center
      margin-bottom: 16px

    &__price
      font: bold 20px/23px $font
      margin-bottom: 16px