@use '../components/variables' as *

.modal
  width: 300px
  border-radius: 5px
  box-shadow: 0 5px 30px rgba(19, 25, 41, .25)
  background: #fff
  +media()
    width: 653px

  &__head
    box-sizing: border-box
    padding: 10px
    border-radius: 5px
    height: 127px
    background: url(../../img/event-store/winter_modal_mobile.jpg) no-repeat
    background-size: cover
    display: flex
    justify-content: space-between
    +media()
      height: 279px
      background: url(../../img/event-store/winter_modal_desktop.jpg) no-repeat
      background-size: cover
    .notifications
      padding: 0
      align-self: flex-start
      +media()
        &__image
          &[alt='age']
            width: 18px
            height: 18px
          &[alt='ocr']
            width: 59px
            height: 18px

  &__close
    width: 17px
    height: 17px
    background: center url(../../img/event-store/close.svg) no-repeat
    cursor: pointer

  &__body
    box-sizing: border-box
    padding: 20px 10px 15px
    +media()
      padding: 20px 50px 15px

  &__name
    font: bold 14px/16px $font
    margin-bottom: 18px
    +media()
      font: bold 16px/20px $font

  &__description
    margin-bottom: 18px
    +media()
      text-align: justify

  .condition
    font-weight: bold
    text-decoration: underline dotted
    &_insurance
      margin-bottom: 20px
  
  &__buy
    box-sizing: border-box
    padding-top: 18px
    border-top: 1px solid $gray
    display: flex
    flex-direction: column
    align-items: center
    +media()
      flex-flow: row wrap
      justify-content: center
  
  &__count
    margin-bottom: 15px
    +media()
      margin-right: 22px
    &Sum
      color: red
      font-weight: bold
  
  &__price
    @extend .modal__count
    +media()
      margin-right: 0
    &Sum
      @extend .modal__countSum

  &__button
    width: 100%
    display: flex
    justify-content: center

  &__select
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    box-sizing: border-box
    padding: 0 0 16px
    transition: .3s all
    &:before
      position: absolute
      content: ''
      width: 12px
      height: 5px
      top: 14px
      right: 50px
      z-index: 1
      background: center url(../../img/event-store/select_arrow.svg) no-repeat
    &:after
      position: absolute
      content: ''
      width: 12px
      height: 5px
      top: 57px
      right: 50px
      z-index: 1
      background: center url(../../img/event-store/select_arrow.svg) no-repeat
    +media()
      flex-direction: row
      &:before
        content: ''
        left: 122px
        top: 14px
      &:after 
        content: ''
        left: 276px
        top: 14px

    .select
      width: 196px
      height: 32px
      border: 1px solid $gray
      box-sizing: border-box
      border-radius: 5px
      padding: 0 10px
      outline: none
      -webkit-appearance: none
      color: $light
      +media()
        width: 144px
        height: 34px

      &:first-child
        margin-bottom: 10px
        +media()
          margin: 0 10px 0 0
      
      option[disabled]
        display: none
        color: $light