// font
$font: 'Open Sans', sans-serif

// colors
$white: #fff
$white-dark: #E2E2E2
$gray: #8C8888
$black: #000
$green: #48C498
$yellow: #EAFA3A
$violet: #9E17CA
$red: #FF5454
$gradient: linear-gradient(90deg, #FFB800 0%, #E33C78 51.04%, #0066FF 100%)

// screen
$tablet: 1023
$container: 924
$tablet-sm: 768
$mobile: 576
$mobile-sm: 375
