@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.service
  position: relative
  padding: 240px 0 120px
  background: url(../assets/img/service/service-bg.jpg) right top/ 40% 100% no-repeat
  +screen($desktop-sm)
    padding: 280px 0 120px
    background: url(../assets/img/service/service-bg-desktop_sm.jpg) right top/ 40% 100% no-repeat
  +screen($tablet)
    padding: 200px 0 80px
    background: url(../assets/img/service/service-bg-tablet.jpg) 100% 0% / 40% 100% no-repeat
  +screen($tablet-sm)
    padding: 120px 0 80px
    background: url(../assets/img/service/service-bg-tablet_sm.jpg) 100% 0% / 40% 100% no-repeat
  +screen($tablet-xs)
    padding: 60px 0
    background: url(../assets/img/service/service-bg-mobile.jpg) right top no-repeat

  &:after
    content: ''
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%)
    transform: matrix(1, 0, 0, -1, 0, 0)
    height: 40px
    width: 100%
    position: absolute
    top: 100%
    left: 0
    +screen($tablet-xs)
      display: none

  .container
    display: flex
    +screen($tablet-xs)
      flex-direction: column

  &__block
    &:first-child
      flex-basis: 65%
      +screen($tablet)
        flex-basis: 64%
      +screen($tablet-sm)
        flex-basis: auto

    &:last-child
      display: flex
      align-items: flex-end
      justify-content: flex-end
      flex-basis: 40%

  &__title
    +font(80px, 80px, 800)
    +screen($desktop-sm)
      +font(70px, 70px, 800)
    +screen($tablet)
      +font(50px, 50px, 800)
    +screen($tablet-xs)
      +font(26px, 26px, 800)
      max-width: 331px
    +screen($mobile)
      max-width: 180px


  &__description
    margin-top: 60px
    +font(26px, 31px)
    +screen($desktop-sm)
      +font(20px, 24px)
    +screen($tablet)
      +font(16px, 19px)
      margin-top: 40px
    +screen($tablet-xs)
      +font(14px, 17px)
      max-width: 180px

      span
        display: none

  &__link
    margin-top: 52px
    width: 412px
    height: 90px
    position: relative
    color: $white
    display: flex
    align-items: center
    justify-content: center
    transition: .3s
    +font(18px, 22px, 700)
    +screen($desktop-sm)
      width: 342px
      height: 74px
      +font(16px, 20px, 700)
    +screen($tablet)
      width: 290px
      height: 60px
      +font(14px, 18px, 700)
      margin-top: 40px
    +screen($tablet-xs)
      width: 100%

    &:hover
      opacity: .65

    span
      z-index: 1
      display: flex
      align-items: center
      margin-left: -30px
      +screen($tablet)
        margin-left: -18px
      +screen($mobile)
        margin: 12px 0 0 0

      img
        margin-right: 15px
        +screen($tablet)
          width: 8px
          height: 12px

    &-bg
      position: absolute
      top: 0
      left: -10px
      +screen($tablet-sm)
        width: 100%
        max-height: 59px
      +screen($mobile)
        left: 0
        max-height: 80px

  &__grid
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__item
    display: flex
    align-items: center
    flex-basis: 50%
    margin-top: 32px
    +screen($tablet)
      flex-basis: 48%
    +screen($tablet-sm)
      flex-basis: 100%
    +screen($tablet-xs)
      flex-basis: 50%
      flex-direction: column

    &-image
      width: 70px
      height: 70px
      background: $white
      box-shadow: 0 10px 30px -6px rgba(35, 25, 4, 0.15)
      border-radius: 10px
      display: flex
      align-items: center
      justify-content: center
      flex-shrink: 0
      margin-right: 20px
      +screen($tablet)
        width: 50px
        height: 50px
        box-sizing: border-box
        padding: 7px
        margin-right: 16px
      +screen($tablet-xs)
        margin: 0 0 16px 0

    &-text
      max-width: 302px
      +font(20px, 28px)
      +screen($desktop-sm)
        +font(18px, 25px)
      +screen($tablet)
        +font(14px, 20px)
      +screen($tablet-xs)
        text-align: center

  &__counter
    background-color: $white
    border-radius: 100px
    padding: 20px 40px
    display: flex
    align-items: center
    box-shadow: 0 10px 30px -6px rgba(35, 25, 4, 0.15)
    +screen($desktop-sm)
     transform: translate(40px, -80px)
    +screen($tablet)
      border-radius: 61px
      padding: 12px 22px 9px
      transform: translate(10px, -60px)
    +screen($tablet-sm)
      transform: translate(0, -40px)
    +screen($tablet-xs)
      transform: none
      margin-top: 24px
      width: 100%
      justify-content: center

    &-num
      +font(50px, 50px, 700)
      background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      margin-right: 10px
      white-space: nowrap
      +screen($tablet)
        +font(28px, 34px, 700)

    &-image
      margin-right: 10px
      flex-shrink: 0
      +screen($tablet)
        width: 50px
        height: 50px

    &-text
      +screen($tablet)
        font-size: 14px

