@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.team
  padding: 120px 0

  &__title
    +font(48px, 48px, 700)
    text-align: center
    max-width: 1200px
    +screen($desktop-sm)
      +font(42px, 42px, 700)
    +screen($tablet)
      +font(36px, 36px, 700)
    +screen($tablet-xs)
      +font(22px, 22px, 700)

  &__subtitle
    +font(26px, 31px)
    text-align: center
    margin-top: 40px
    +screen($desktop-sm)
      +font(20px, 24px)
    +screen($tablet)
      +font(16px, 19px)
      margin-top: 32px
    +screen($tablet-xs)
      +font(14px, 16px)

  .swiper
    padding: 80px 0

    &-pagination
      height: 26px

      &-bullet
        border-radius: 3px
        width: 6px
        height: 6px
        background: $black
        opacity: 1

        &:not(:last-child)
          margin-right: 40px

        &-active
          width: 9px
          height: 9px
          box-sizing: border-box
          border: 3px solid $black
          transform: translateY(1px)
          background: $white

    &-button
      &-prev, &-next
        width: 70px
        height: 70px
        border-radius: 50%
        box-shadow: 0 6px 30px rgba(0, 0, 0, 0.05)
        background: white
        +screen($tablet)
          width: 56px
          height: 56px
        +screen($tablet-xs)
          width: 47px
          height: 47px

        &:after
          display: none

        &:hover
          background-color: $gray-light

        &:active
          background-color: $white

      &-prev
        background: url(../assets/img/svg/team/arrow-left.svg) center  / 15px no-repeat

      &-next
        background: url(../assets/img/svg/team/arrow-right.svg) center / 15px no-repeat

    &-slide
      display: flex
      flex-direction: column
      align-items: center

      &__image
        width: 223px
        height: 223px
        border-radius: 50%
        overflow: hidden

      &__name
        +font(26px, 33px, 700)
        margin-top: 40px
        +screen($desktop-sm)
          +font(22px, 28px, 700)
        +screen($tablet)
          +font(20px, 26px, 700)

      &__desc
        +font(18px, 22px)
        max-width: 328px
        text-align: center
        margin-top: 16px
        +screen($desktop-sm)
          +font(16px, 19px)
        +screen($tablet)
          +font(14px, 16 px)

      &__working
        display: flex
        align-items: center
        margin-top: 32px

        img
          margin-right: 10px

      &__mes
        margin-top: 34px
        box-sizing: border-box
        padding:  16px
        background: $gray-light
        border-radius: 100px
        max-width: 296px
        position: relative
        +screen($tablet)
          +font(12px, 14px )

        &:after
          content: ''
          width: 0
          height: 0
          border-left: 10px solid transparent
          border-right: 10px solid transparent
          border-bottom: 10px solid $gray-light
          position: absolute
          top: -5px
          left: 47%
          transform: translateY(-53%)
