@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/extends' as *;

.user-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.65);
  transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %hide;


  &_active {
    @extend %show;
  }

  &__avatar {
    margin-right: 13px;
  }

  &__content {
    width: 207px;
    height: 66px;
    @include font(13px, 13px, $spartan, 700);
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;

    svg {
      z-index: -1;
    }

    &:hover {
      svg {
        path {
          fill: $blue;
        }
      }
    }
  }
}
