@charset "UTF-8";
.redButton {
  display: block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: #ED1C24;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.3s;
  text-transform: uppercase;
}
.redButton:hover {
  background: transparent;
  color: #ED1C24;
  border: 1px solid #ED1C24;
}
.redButton_big, .redButton_modal, .redButton_card {
  width: 196px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
}
@media screen and (min-width: 992px) {
  .redButton_big, .redButton_modal, .redButton_card {
    width: 160px;
    height: 34px;
    line-height: 34px;
  }
}
@media screen and (min-width: 992px) {
  .redButton_card {
    width: 138px;
    height: 24px;
    line-height: 24px;
  }
}
.redButton_modal_disabled {
  background: #D0D0D0;
}
@media screen and (min-width: 992px) {
  .redButton_modal {
    width: 138px;
    height: 34px;
    line-height: 34px;
  }
}
.redButton_small {
  width: 80px;
  height: 24px;
  font-size: 10px;
  line-height: 24px;
}
@media screen and (min-width: 992px) {
  .redButton_small {
    width: 138px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
  }
}

.formatButton {
  display: block;
  min-width: 144px;
  height: 30px;
  border: 1px solid #262C2E;
  box-sizing: border-box;
  font: bold 14px/30px "Roboto", sans-serif;
  text-align: center;
  border-radius: 5px;
  color: #262C2E;
  margin-right: 20px;
  transition: 0.2s all;
}
.formatButton:last-child {
  margin: 0;
}
@media screen and (min-width: 992px) {
  .formatButton {
    box-sizing: border-box;
    border: none;
    text-decoration: underline dotted !important;
    padding: 0 20px;
    border-radius: 0;
    color: #78818B;
    font: bold 20px/26px "Roboto", sans-serif;
    height: 26px;
    margin-right: 35px;
  }
}
.formatButton_active {
  background: #262C2E;
  color: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid #262C2E;
  border-right: none;
  border-left: none;
  height: 30px;
  text-decoration: none !important;
}

.card {
  width: 300px;
  box-shadow: 0 5px 30px rgba(19, 25, 41, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font: bold 10px/12px "Roboto", sans-serif;
  margin: 10px;
}
@media screen and (min-width: 992px) {
  .card {
    flex-direction: row;
    width: 541px;
  }
}
.card__head {
  border-radius: 10px;
  color: #fff;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  background: center/cover url(../../img/event-store/card/cover_mobile.jpg) no-repeat;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .card__head {
    background: url(../../img/event-store/card/cover_desktop.jpg) no-repeat;
    width: 205px;
    border-radius: 10px 0 0 10px;
  }
}
.card__city {
  margin: 16px 0;
}
@media screen and (min-width: 992px) {
  .card__city {
    margin: 45px 0 25px;
    font: bold 12px/14px "Roboto", sans-serif;
  }
}
.card__event {
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .card__event {
    font: bold 12px/14px "Roboto", sans-serif;
  }
}
.card__header {
  margin-top: 7px;
  color: #fff;
  font: bold 16px/19px "Roboto", sans-serif;
}
@media screen and (min-width: 992px) {
  .card__header {
    font: bold 18px/21px "Roboto", sans-serif;
    margin-top: 10px;
  }
}
.card__body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
}
@media screen and (min-width: 992px) {
  .card__body {
    width: 336px;
    padding: 14px 20px;
  }
}
.card__body .top__block .description {
  display: flex;
  margin-bottom: 10px;
}
.card__body .top__block .description__header {
  font: bold 14px/16px "Roboto", sans-serif;
  margin-right: 15px;
}
.card__body .top__block .description__help {
  position: relative;
  display: flex;
  align-items: center;
}
.card__body .top__block .description__helpImage {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
@media screen and (min-width: 992px) {
  .card__body .top__block .description__helpImage {
    width: 14px;
    height: 14px;
  }
}
.card__body .top__block .description__helpImage:hover + .popUp {
  display: block;
  min-width: 150px;
  top: -113px;
  left: -7px;
}
@media screen and (min-width: 992px) {
  .card__body .top__block .description__helpImage:hover + .popUp {
    min-width: 200px;
    top: -85px;
    left: -8px;
  }
}
@media screen and (min-width: 1240px) {
  .card__body .top__block .description__helpImage:hover + .popUp {
    min-width: 264px;
    top: -75px;
  }
}
.card__body .top__block .description__helpLink {
  color: #78818B;
  text-decoration: underline;
}
@media screen and (min-width: 992px) {
  .card__body .top__block .description__helpLink {
    font: 8px/9px "Roboto", sans-serif;
    text-decoration: none;
  }
}
.card__body .midle__block {
  padding: 10px 0;
  border-top: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  font: 12px/14px "Roboto", sans-serif;
  margin: 16px 0;
}
@media screen and (min-width: 992px) {
  .card__body .midle__block {
    margin: 8px 0;
    font: 10px/12px "Roboto", sans-serif;
  }
}
.card__body .midle__block .date, .card__body .midle__block .ticket {
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .card__body .midle__block .date, .card__body .midle__block .ticket {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}
.card__body .midle__block .date__text, .card__body .midle__block .ticket__text {
  font-weight: bold;
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .card__body .midle__block .date__text, .card__body .midle__block .ticket__text {
    margin: 0;
  }
}
.card__body .midle__block .ticket {
  margin: 0;
}
.card__body .bottom__block {
  font: 12px/14px "Roboto", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 133px;
}
@media screen and (min-width: 992px) {
  .card__body .bottom__block {
    min-height: 75px;
  }
}
.card__body .bottom__block .nextPrice, .card__body .bottom__block .currentPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .card__body .bottom__block .nextPrice, .card__body .bottom__block .currentPrice {
    font: 10px/12px "Roboto", sans-serif;
  }
}
.card__body .bottom__block .currentPrice {
  margin-bottom: 20px;
  font: bold 14px/16px "Roboto", sans-serif;
}
@media screen and (min-width: 992px) {
  .card__body .bottom__block .currentPrice {
    margin-bottom: 8px;
  }
}
.card__body .bottom__block .currentPrice__sum {
  font: bold 16px/19px "Roboto", sans-serif;
  color: red;
}
@media screen and (min-width: 992px) {
  .card__body .bottom__block .currentPrice__sum {
    font: bold 18px/21px "Roboto", sans-serif;
  }
}
.card__body .bottom__block .count {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .card__body .bottom__block .count {
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
}
.card__body .bottom__block .count__minus, .card__body .bottom__block .count__plus {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: center/cover url(../../img/event-store/card/minus_mobile.svg) no-repeat;
  margin-right: 15px;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .card__body .bottom__block .count__minus, .card__body .bottom__block .count__plus {
    background: center url(../../img/event-store/card/minus_desktop.svg) no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    font: 300 14px/14px "Roboto", sans-serif;
  }
}
.card__body .bottom__block .count__number {
  font: bold 16px/26px "Roboto", sans-serif;
  margin-right: 15px;
}
@media screen and (min-width: 992px) {
  .card__body .bottom__block .count__number {
    font: bold 14px/18px "Roboto", sans-serif;
    margin-right: 10px;
  }
}
.card__body .bottom__block .count__plus {
  margin: 0;
  background: center/cover url(../../img/event-store/card/plus_mobile.svg) no-repeat;
}
@media screen and (min-width: 992px) {
  .card__body .bottom__block .count__plus {
    background: center url(../../img/event-store/card/plus_desktop.svg) no-repeat;
    margin-right: 20px;
  }
}
.card__body .bottom__block .count .button {
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .card__body .bottom__block .count .button {
    width: 138px;
    margin: 0;
  }
}

.condition {
  font: 12px/20px "Roboto", sans-serif;
  box-sizing: border-box;
  padding-left: 30px;
  min-height: 20px;
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .condition {
    font-size: 10px;
    margin-bottom: 5px;
  }
}
.condition:last-child {
  margin-bottom: 0;
}
.condition_certificate {
  background: url(../../img/event-store/card/heart.svg) no-repeat 0 0;
}
.condition_insurance {
  background: url(../../img/event-store/card/shield.svg) no-repeat 2px 0;
}

.popUp {
  display: none;
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  background: #262C2E;
  color: #fff;
  font: 10px/12px "Roboto", sans-serif;
  text-align: center;
  transition: 0.3s all;
  z-index: 1;
}
.popUp::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transform: rotate(45deg);
  bottom: -4px;
  left: 10px;
  background: #262C2E;
  z-index: 0;
}

.notifications {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 10px 10px 0;
}
.notifications__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  padding: 4px 10px;
  background: #fff;
  border-radius: 17px;
  margin-right: 6px;
}
.notifications__item:last-child {
  margin: 0;
}
.notifications__item:hover > .popUp {
  display: block;
  min-width: 111px;
  top: -50px;
  left: 0;
}

.offer {
  width: 300px;
  margin: 0 10px;
  box-sizing: border-box;
  padding: 20px 5px;
  border-radius: 10px;
  background: center/cover url(../../img/event-store/offer_mobile.jpg) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
@media screen and (min-width: 992px) {
  .offer {
    width: 690px;
    padding: 45px 0 55px;
    background-image: url(../../img/event-store/offer_desktop.jpg);
  }
}
@media screen and (min-width: 1366px) {
  .offer {
    background: transparent;
  }
}
.offer__header {
  font: bold 14px/16px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}
@media screen and (min-width: 992px) {
  .offer__header {
    font: bold 25px/29px "Roboto", sans-serif;
    margin-bottom: 35px;
  }
}
.offer__header:after {
  content: "";
  position: absolute;
  width: 89px;
  height: 12px;
  background: #ED1C24;
  top: 6px;
  right: -3px;
  z-index: -1;
}
@media screen and (min-width: 992px) {
  .offer__header:after {
    width: 160px;
    top: 17px;
    right: -11px;
  }
}
.offer__text {
  width: 290px;
  font: 12px/14px "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .offer__text {
    font: 16px/19px "Roboto", sans-serif;
    width: 400px;
    margin-bottom: 30px;
  }
}

.slider__item {
  position: relative;
  margin-right: 15px;
  width: 245px;
  min-height: 350px;
  box-sizing: border-box;
  padding-bottom: 20px;
  box-shadow: 0 5px 30px rgba(19, 25, 41, 0.25);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1240px) {
  .slider__item {
    margin-right: 90px;
  }
  .slider__item:last-child {
    margin: 0;
  }
}
.slider__item_bestseller::after {
  content: "хит";
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 44px;
  height: 18px;
  border-radius: 5px;
  color: #fff;
  font: bold 10px/10px "Roboto", sans-serif;
  letter-spacing: 0.08em;
  background: #3193D6;
}
.slider__item:first-child {
  margin-left: 15px;
}
.slider__item .item__image {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.slider__item .item__name {
  font: bold 16px/18px "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 16px;
}
.slider__item .item__price {
  font: bold 20px/23px "Roboto", sans-serif;
  margin-bottom: 16px;
}

.slider {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.slider::-webkit-scrollbar {
  width: 0;
}
@media screen and (min-width: 795px) {
  .slider {
    justify-content: center;
  }
}
.slider__arrow {
  display: none;
  stroke: #78818B;
}
@media screen and (min-width: 992px) {
  .slider__arrow {
    display: block;
  }
  .slider__arrow_disabled svg {
    stroke: #D0D0D0;
  }
}
.slider__content {
  display: flex;
  align-items: center;
  height: 435px;
}
@media screen and (min-width: 992px) {
  .slider__content {
    margin: 0 42px;
  }
}

.modal {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(19, 25, 41, 0.25);
  background: #fff;
}
@media screen and (min-width: 992px) {
  .modal {
    width: 653px;
  }
}
.modal__head {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  height: 127px;
  background: url(../../img/event-store/winter_modal_mobile.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .modal__head {
    height: 279px;
    background: url(../../img/event-store/winter_modal_desktop.jpg) no-repeat;
    background-size: cover;
  }
}
.modal__head .notifications {
  padding: 0;
  align-self: flex-start;
}
@media screen and (min-width: 992px) {
  .modal__head .notifications__image[alt=age] {
    width: 18px;
    height: 18px;
  }
  .modal__head .notifications__image[alt=ocr] {
    width: 59px;
    height: 18px;
  }
}
.modal__close {
  width: 17px;
  height: 17px;
  background: center url(../../img/event-store/close.svg) no-repeat;
  cursor: pointer;
}
.modal__body {
  box-sizing: border-box;
  padding: 20px 10px 15px;
}
@media screen and (min-width: 992px) {
  .modal__body {
    padding: 20px 50px 15px;
  }
}
.modal__name {
  font: bold 14px/16px "Roboto", sans-serif;
  margin-bottom: 18px;
}
@media screen and (min-width: 992px) {
  .modal__name {
    font: bold 16px/20px "Roboto", sans-serif;
  }
}
.modal__description {
  margin-bottom: 18px;
}
@media screen and (min-width: 992px) {
  .modal__description {
    text-align: justify;
  }
}
.modal .condition {
  font-weight: bold;
  text-decoration: underline dotted;
}
.modal .condition_insurance {
  margin-bottom: 20px;
}
.modal__buy {
  box-sizing: border-box;
  padding-top: 18px;
  border-top: 1px solid #D0D0D0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .modal__buy {
    flex-flow: row wrap;
    justify-content: center;
  }
}
.modal__count, .modal__price {
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  .modal__count, .modal__price {
    margin-right: 22px;
  }
}
.modal__countSum, .modal__priceSum {
  color: red;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .modal__price {
    margin-right: 0;
  }
}
.modal__button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal__select {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0 16px;
  transition: 0.3s all;
}
.modal__select:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 5px;
  top: 14px;
  right: 50px;
  z-index: 1;
  background: center url(../../img/event-store/select_arrow.svg) no-repeat;
}
.modal__select:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 5px;
  top: 57px;
  right: 50px;
  z-index: 1;
  background: center url(../../img/event-store/select_arrow.svg) no-repeat;
}
@media screen and (min-width: 992px) {
  .modal__select {
    flex-direction: row;
  }
  .modal__select:before {
    content: "";
    left: 122px;
    top: 14px;
  }
  .modal__select:after {
    content: "";
    left: 276px;
    top: 14px;
  }
}
.modal__select .select {
  width: 196px;
  height: 32px;
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  -webkit-appearance: none;
  color: #78818B;
}
@media screen and (min-width: 992px) {
  .modal__select .select {
    width: 144px;
    height: 34px;
  }
}
.modal__select .select:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .modal__select .select:first-child {
    margin: 0 10px 0 0;
  }
}
.modal__select .select option[disabled] {
  display: none;
  color: #78818B;
}

.event {
  min-width: 320px;
}
.event__mainHeader {
  flex: 0 0 auto;
}
.event__main {
  flex: 1 0 auto;
  background: #E5E5E5;
}
.event__main .participation {
  width: 100%;
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
}
.event__main .participation__header {
  font-weight: bold;
  margin-bottom: 20px;
  align-self: center;
}
.event__main .participation__buttons {
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  overflow-x: scroll;
  height: 50px;
}
.event__main .participation__buttons::-webkit-scrollbar {
  width: 0;
}
@media screen and (min-width: 493px) {
  .event__main .participation__buttons {
    justify-content: center;
  }
}
.event__mainFooter {
  flex: 0 0 auto;
}
.event__head {
  width: 100%;
  padding: 50px 0;
  background: center/cover url(../../img/event-store/winter_2.jpg) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: bold;
}
.event__date {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .event__date {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
  }
}
.event__header {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
  color: #fff;
}
@media screen and (min-width: 992px) {
  .event__header {
    font-size: 30px;
    line-height: 35px;
  }
}
.event__city {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .event__city {
    font-size: 20px;
    line-height: 23px;
  }
}
.event__faq {
  margin-top: 30px;
  border-bottom: 1px dotted #fff;
}
.event__cards {
  background: #fff;
  box-sizing: border-box;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.event__forCompanies {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}
@media screen and (min-width: 992px) {
  .event__forCompanies {
    padding: 30px 0;
  }
}
@media screen and (min-width: 1366px) {
  .event__forCompanies {
    background: center/cover url(../../img/event-store/offer_desktop_big.jpg) no-repeat;
  }
}
.event__slider {
  padding: 30px 0 0;
  background: #fff;
}
.event__sliderHeader {
  font: bold 12px/14px "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .event__sliderHeader {
    font: bold 18px/21px "Roboto", sans-serif;
  }
}
.event__modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(38, 44, 46, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

/*# sourceMappingURL=event-store.css.map */
