// font
$font: 'Roboto', sans-serif

// colors
$black: #000
$white: #fff
$gray: #F7F6F4
$gray-dark: #E5E5E5
$gray-darkest: #C4C4C4
$red: #FF0D29
$yellow: #FCE66F

// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
