@use '../../../abstracts/variables' as *
@use '../../../abstracts/mixins' as *

.vacancies
  padding: 12px 0 60px
  box-sizing: border-box

  .description-text
    width: 690px
    margin-top: 20px

  &-container
    margin-top: 32px
    display: flex
    flex-direction: column
    gap: 16px

  &-item
    border: 1px solid #EAEAEF
