section.products-grid
  .container
    h2.section-title.slide-right Продукция
    .products-grid__block.products-grid__block_trailers
      +category-grid({title: 'Полуприцепы', list: semitrailerList})
    .products-grid__block.products-grid__block_special
      +category-grid({title: 'Спецтехника', list: specialList})





