@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.guarantee
  box-sizing: border-box
  padding-top: 13px
  +screen($tablet)
    padding-top: 20px
