.user-modal
  .user-modal__content
    .user-modal__avatar
      img(src=require("@/assets/img/user-blue.svg") alt="")
    .user-modal__name USER
    .user-modal__close
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cross.svg')}
