// font
$font: 'FuturaPT', sans-serif

// colors
$black:#171717
$white: #FFFFFF
$modalOverlay: rgba($black, .5)
$orange: #E95A2C
$dark-grey: #2D2D2D
$grey: #F4F4F4

// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
