-
  headerMenu = [
    {href: 'javascript:', txt: 'FAQ'},
    {href: 'javascript:', txt: 'Оплата и доставка'},
    {href: 'javascript:', txt: 'Возврат'},
    {href: 'javascript:', txt: 'Исследования'},
    {href: 'javascript:', txt: 'Личный кабинет'},
    {href: 'tel:888006000990', txt: '8 8 (800) 600-09-90'}
  ]
