//- variables
block variables
  include ../../abstracts/variables

//- mixins
include ../../abstracts/mixins/link
include ../../abstracts/mixins/product-card
include ../../abstracts/mixins/txt-link
include ../../abstracts/mixins/news-card
include ../../abstracts/mixins/products-tile

doctype html
html(lang="ru")
  head
    include head
  body
    include ../../sections/global/preloader
    include header
    main.main(class=mainModifier ? `main_${mainModifier}`:'')
      block content
    include footer
    include ../../sections/global/call-modal
    .contact-form__overlay
    button.contact-form-btn
      img(src=require('@/assets/img/global/form-icon.svg') alt="")
    include ../../sections/global/contact-form
