@use '../../../abstracts/variables' as *
@use '../../../abstracts/mixins' as *

.service
  padding-bottom: 60px
  +screen($tablet-sm)
    padding-bottom: 40px
  +screen($tablet-xs)
    margin-top: 20px

  .prev-link
    display: none
    +screen($tablet-xs)
      display: flex

  .subtitle
    margin: 12px 0 20px
    +screen($tablet-sm)
      margin-bottom: 16px

  .description-text
    width: 690px
    +screen($tablet)
      width: 578px
    +screen($tablet-xs)
      width: 100%

  &-container
    display: flex
    gap: 24px
    margin: 32px 0 40px
    +screen($tablet)
      gap: 20px
      margin: 32px 0 28px
    +screen($tablet-sm)
      flex-direction: column
      margin: 28px 0 28px
      gap: 28px
    +screen($tablet-xs)
      margin: 24px 0
      gap: 24px

  &-left
    width: 66%
    +screen($tablet)
      width: 61.65%
    +screen($tablet-sm)
      width: 100%

    &-links
      display: flex
      flex-direction: column
      gap: 12px
      margin-bottom: 40px
      +screen($tablet)
        margin-bottom: 28px
      +screen($tablet-xs)
        margin-bottom: 24px

      &-item
        border: 1px solid $light-gray
        padding: 13px 16px
        height: 48px
        box-sizing: border-box
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        border-radius: 16px
        +screen($tablet)
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1)
          border: 1px solid $white
        +screen($tablet-xs)
          height: 88px
          padding: 12px 16px
          flex-direction: column
          align-items: flex-start
          gap: 12px

        &_name
          +font(16px, 22px, 700)
          color: $black
          transition: color .3s ease

        &_btn
          color: $blue-main
          background-color: $white
          +font(12px, 17px, 700)
          display: flex
          align-items: center
          justify-content: center
          width: 98px
          height: 30px
          border-radius: 8px
          transition: color .3s ease, background-color .3s ease
          +screen($tablet)
            background-color: $blue-main
            color: $white

        &:hover
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1)
          border: 1px solid $white

          .service-left-links-item_name
            color: $blue-main

          .service-left-links-item_btn
            background-color: $blue-main
            color: $white

  &-form
    width: 32%
    background-color: $light-blue
    border-radius: 16px
    padding: 22px
    box-sizing: border-box
    height: 310px
    +screen($tablet)
      width: 36.11%
      height: 298px
      padding: 16px
    +screen($tablet-sm)
      width: 100%
      height: 196px
    +screen($tablet-xs)
      height: 312px

    &-container
      +screen($tablet-sm)
        display: grid
        grid-template-columns: repeat(2, calc(44% + 3px))
        grid-template-rows: repeat(2, 46px)
        grid-column-gap: 54px
        grid-row-gap: 12px
        margin-top: 16px
      +screen($tablet-xs)
        display: flex
        flex-direction: column
        margin-top: 16px
        grid-row-gap: 0

    &-title
      +font(22px, 28px, 900)
      color: $black
      +screen($tablet-sm)
        +font(20px, 28px, 900)

    &-input
      margin-top: 16px
      +screen($tablet-sm)
        margin: 0
      +screen($tablet-xs)
        margin-top: 20px

      &:first-child
        +screen($tablet-xs)
          margin-top: 0

      input
        background-color: $light-blue

    .btn
      width: 100%
      margin: 20px 0 16px
      +screen($tablet-sm)
        margin: 0
        width: auto
      +screen($tablet-xs)
        margin: 32px 0 16px

    .form-checkbox
      +screen($tablet-sm)
        display: flex
        align-items: center

      & input[type=checkbox] + label:before
        +screen($tablet-sm)
          top: 10px

  &_subtitle
    +font(22px, 32px, 900)
    color: $black
    +screen($tablet-sm)
      +font(20px, 32px, 900)

  &-des_text
    margin-top: 16px
    +screen($tablet-sm)
      width: 100% !important
    +screen($tablet-xs)
      margin-top: 12px

  &-price
    margin-top: 12px
    border: 1px solid $light-gray
    border-radius: 16px
    width: 66%
    box-sizing: border-box
    padding: 8px
    +screen($tablet)
      width: 61.65%
    +screen($tablet-sm)
      width: 100%

    &_title
      background-color: $light-blue
      border-radius: 10px
      +font(16px, 19px, 700)
      box-sizing: border-box
      padding: 10px 8px

    &-container
      width: 100%
      margin-bottom: 12px
      box-sizing: border-box
      padding: 0 8px
      +screen($tablet-xs)
        margin-bottom: 16px

      &:last-child
        margin-bottom: 0

    &_subtitle
      +font(14px, 18px, 700)
      color: $black
      margin-bottom: 11px
      +screen($tablet-xs)
        +font(16px, 19px, 700)
        margin-bottom: 10px

    &-item
      display: flex
      justify-content: space-between
      border-bottom: 1px dashed $text-field
      align-items: center
      height: 36px
      +screen($tablet-xs)
        height: 60px
        flex-direction: column
        gap: 12px
        align-items: flex-start
        justify-content: center

      &:last-child
        border-bottom: none

      &-name
        +font(14px, 17px, 400)
        color: $black

      &-cost
        +font(14px, 17px, 700)
        color: $black

  &-registration
    width: 100%
    display: flex
    gap: 24px
    margin-top: 32px
    align-items: flex-start
    background-color: $light-blue
    border-radius: 16px
    box-sizing: border-box
    padding: 24px
    justify-content: space-between
    +screen($tablet)
      gap: 20px !important
      margin-top: 40px
    +screen($tablet-sm)
      margin-top: 28px
      flex-wrap: wrap
    +screen($tablet-xs)
      gap: 0 !important
      margin-top: 24px

    h5
      margin: 0
      +font(24px, 28px, 900)
      color: $black
      width: calc(30% + 3px)
      +screen($tablet)
        +font(22px, 28px, 900)
        width: calc(29.38% + 15px)
      +screen($tablet-sm)
        width: 100%
        +font(20px, 26px, 900)
      +screen($tablet-xs)
        +font(20px, 24px, 900)

    &-form
      width: calc(32% + 16px)
      +screen($tablet)
        width: calc(31.88% + 15px)
      +screen($tablet-sm)
        width: calc(45.17% + 11px)
      +screen($tablet-xs)
        width: 100%
        margin: 20px 0 28px

      &-input

        input
          background-color: $light-blue

        &:first-child
          margin-bottom: 16px
          +screen($tablet-xs)
            margin-bottom: 18px

      .btn
        width: 100%
        margin: 24px 0 20px
        +screen($tablet)
          margin: 20px 0 20px

    &-photo
      +screen($tablet)
        width: calc(29.38% + 15px)
      +screen($tablet-sm)
        width: calc(45.17% + 11px)
      +screen($tablet-xs)
        width: 100%

      &-img
        display: flex
        position: relative
        z-index: 1

        &:before
          position: absolute
          content: ''
          background: url(../assets/img/service/beauty.svg) no-repeat center
          z-index: 3
          height: 68px
          width: 180px
          right: -8px
          bottom: -9px

        img
          border-radius: 16px
          width: 100%
          height: 100%
          object-fit: contain








