@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.search
  padding-top: 50px
  height: 100%
  +screen($desktop)
    padding-top: 40px
  +screen($tablet)
    padding-top: 32px

  &-form
    display: flex
    flex-direction: column
    padding-bottom: 50px
    box-sizing: border-box
    +screen($desktop)
      padding-bottom: 40px

    &-input
      display: flex
      border-bottom: 2px solid $black
      padding-bottom: 13px
      box-sizing: border-box
      +screen($tablet)
        height: 44px
        padding-bottom: 0

      input[type="search"]
        padding: 0
        +font(40px, 40px, 500)
        color: #0B0B14
        +screen($desktop)
          +font(30px, 40px, 500)
        +screen($tablet-xs)
          +font(22px, 40px, 500)
        &::placeholder
          color: #BBBBBB
        &::-webkit-search-cancel-button
          display: none
          -webkit-appearance: none

      button
        display: flex
        align-items: center
        img
          width: 32px
          height: 32px
          +screen($desktop)
            width: 28px
            height: 28px
          +screen($tablet-xs)
            width: 19px
            height: 19px
    &-btn
      display: none
      margin-top: 40px
      background-image: $orange-grad
      box-shadow: 0 11px 25px rgba(235, 92, 44, 0.4)
      height: 64px
      +font(20px, 24px, 500)
      color: $white
      +screen($tablet-xs)
        display: block

  &-results
    box-sizing: border-box
    background-color: $white-gray
    padding: 29px 0 100px 0
    height: 100%
    +screen($desktop)
      padding: 30px 0 80px 0
    +screen($tablet-xs)
      padding-bottom: 60px

    &-text
      +font(18px, 21px)
      color: $black
      +screen($desktop)
        +font(16px, 19px)

    &-items
      margin-top: 40px
      +screen($tablet)
        margin-top: 28px

      &-block
        background-color: $white
        margin-bottom: 20px
        padding: 24px
        box-sizing: border-box

        &:last-child
          margin-bottom: 0

        &__title
          +font(26px, 31px, 700)
          color: $black
          +screen($desktop)
            +font(20px, 24px, 700)
          +screen($tablet-xs)
            font-size: 18px

        &__text
          +font(18px, 24px, 200)
          color: $black
          margin-top: 11px
          +screen($desktop)
            +font(16px, 24px, 200)

        &__link
          display: flex
          box-sizing: border-box
          border: 2px solid $orange
          margin-top: 20px
          align-items: center
          gap: 13px
          height: 60px
          width: 292px
          justify-content: center
          +font(18px, 22px, 500)
          position: relative
          +screen($desktop)
            +font(16px, 20px, 500)
            width: 250px
            height: 52px
          +screen($tablet)
            margin-top: 19px
            width: 100%

          &:hover:not(:active)
            &:before
              width: 100%

            span
              color: $white

            svg
              path
                stroke: $white

          &:before
            content: ''
            width: 0
            height: 100%
            position: absolute
            left: 0
            top: 0
            background: linear-gradient(87.61deg, #D54B1D 2.2%, #FB8057 104.03%)
            transition: width .3s
            z-index: 0

          span
            +font(18px, 21px, 500)
            color: $orange
            transition: color 0.3s
            z-index: 3
            +screen($desktop)
              +font(16px, 19px, 500)

          svg
            z-index: 3
