footer.footer
  .footer__top
    .container
      .footer__top-container
        a.footer__image(href='/')
          img(src=require('@/assets/img/global/footer.svg') alt="")
        .footer__links
          .footer__links-block
            a.footer__link(href="javascript:" data-scroll="rent") Условия аренды
            a.footer__link(href="javascript:" data-scroll="specs") Технические характеристики
            a.footer__link(href="javascript:" data-scroll="service") Обслуживание
          .footer__links-block
            a.footer__link(href="javascript:" data-scroll="faq") FAQ
            a.footer__link(href="javascript:" data-scroll="contacts") Контакты
        .footer__contacts
          a.footer__contact(href="tel:+79111160222")
            img(src=require('@/assets/img/contacts/phone.svg') alt="")
            span +7 (911) 116-02-22
          a.footer__contact(href="mailto:info@mz-sotrans.ru")
            img.footer__contact-image(src=require('@/assets/img/contacts/mail.svg') alt="")
            span info@mz-sotrans.ru
          .footer__contact
            img.footer__contact-image(src=require('@/assets/img/contacts/pin.svg') alt="")
            span п. Красный Бор, ул. Промышленная 3
      .footer__attention *Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.
  .footer__bottom
    .container
      .footer__bottom-text SOTRANS АРЕНДА ПОЛУПРИЦЕПОВ | © 2024 | Все&nbsp;права&nbsp;защищены
      .footer__bottom-links #[a(href="#") Условия пользования сайтом] #[span |] #[a(href="#") Политика конфиденциальности]
