//- variables
block variables
  include ../../abstracts/variables

//- mixins
include ../../components/mixins/intro-items
include ../../components/mixins/section-title
include ../../components/mixins/advantages-cads
include ../../components/mixins/faq-docs
include ../../components/mixins/faq-drop
include ../../components/mixins/main-mixins
include ../../components/mixins/rent-card
include ../../components/mixins/service-card
include ../../components/mixins/product-specs
include ../../components/mixins/product-slider

doctype html
html(lang="ru")
  head
    include head
  body
    include header
    main.main
      block content
    include footer
