-
  newsGridItems = [
    {
      img: require('@/assets/img/1.jpg'),
      desc: 'Студенты в «Сириусе» научились работать над реальными бизнес-задачами для финансового сектора',
      date: '2 марта',
      href: 'javascript:'
    },
    {
      img: require('@/assets/img/2.jpg'),
      desc: 'Ученые создали нейросеть для распознавания химических формул в научных статьях',
      date: '22 февраля',
      href: 'javascript:'
    },
    {
      img: require('@/assets/img/3.jpg'),
      desc: '«Сириус» открывает шесть высокотехнологичных магистерских программ от ведущих мировых ученых и компаний',
      date: '18 февраля',
      href: 'javascript:'
    },
    {
      img: require('@/assets/img/4.jpg'),
      desc: 'Ученые «Сириуса» разрабатывают средства доставки лекарств к раковым клеткам',
      date: '17 февраля',
      href: 'javascript:'
    },
    {
      img: require('@/assets/img/5.jpg'),
      desc: 'Принимай участие в хакатоне от «Газпром нефти» и приезжай учиться в «Сириус» у топовых специалистов нефтегазовой отрасли',
      date: '16 февраля',
      href: 'javascript:'
    }
  ]

  newsListItems = [
    {
      txt: 'Приезжай на интенсивные <br> программы университета.<br> Для студентов всех российских вузов',
      class: 'active',
      href: 'javascript:'
    },
    {
      txt: 'Системы распределённого реестра и цифровые финансовые активы от Финтех Хаб Банка России',
      date: '28 февряля - 18 апреля',
      href: 'javascript:'
    },
    {
      txt: 'Машинное обучение в финансовых сервисах',
      date: '28 февряля - 6 марта',
      href: 'javascript:'
    },
    {
      txt: 'Основы современной вычислительной биологии и биоинформатики',
      date: '10-22 марта',
      href: 'javascript:'
    },
    {
      txt: 'Сервисы платёжной системы от ФинТех Хаба Банка России',
      date: '27 сентября - 21 марта',
      href: 'javascript:'
    },
    {
      txt: 'Динамические системы классической и небесной механики',
      date: '21-25 марта',
      href: 'javascript:'
    },

  ]
