@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.options-accord
  border: 2px solid $white-darkest
  border-bottom: none
  overflow: hidden

  &:last-child
    border-bottom: 2px solid $white-darkest

  &:hover:not(.active)
    .options-accord
      &__visible
        color: $black-light

        svg
          path
            stroke: $black-light

  &.active
    .options-accord
      &__visible
        background-color: #fff
        color: $blue

      &__arrow
        transform: rotate(180deg)

        svg
          path
            stroke: $blue

  &__visible
    height: 100px
    +font(24px, 32px, 500)
    box-sizing: border-box
    padding: 30px 60px
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $white-dark
    cursor: pointer
    color: $gray
    transition: background-color .4s, color .4s
    +screen($tablet)
      padding: 30px
    +screen($tablet-xs)
      padding: 20px
      +font(20px, 28px, 500)
      height: 80px
    +screen(340px)
      padding: 10px

  &__arrow
    transition: transform .4s

  &__hidden
    max-height: 0
    background-color: #fff
    transition: max-height .4s

  &__item
    box-sizing: border-box
    padding: 12px 123px
    display: flex
    justify-content: space-between
    +screen($tablet)
      padding: 12px 60px
    +screen($tablet-xs)
      padding: 12px 20px
    +screen($tablet-xs)
      padding: 10px

    &:nth-child(even)
      background-color: $blue-light

    &-name
      +font(18px, 27px)
      box-sizing: border-box
      padding-right: 20px
      +screen($tablet-xs)
        +font(16px, 22px)

    &-value
      +font(24px, 31px, 500)
      white-space: nowrap
      +screen($tablet-xs)
        +font(20px, 26px, 500)
