@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.bx-sls
  .form-control
    display: block
    width: 100%
    height: 35px
    color: $black
    background-color: #fff
    background-image: none
    border: none
    border-radius: 0

  .dropdown
    position: relative

    &-block
      border: 1px solid $gray
      box-shadow: inset 0 1px 2px #ebebeb
      padding: 0 35px 0 30px
      position: relative
      background-color: $white
      box-sizing: border-box

    &-icon
      background: url(../assets/img/global/loupe.svg) no-repeat center center
      height: 16px
      width: 16px
      position: absolute
      left: 8px
      top: 10px

  input[type="text"]
    position: relative
    border: none !important
    overflow: visible

  .bx-ui
    &-sls
      &-container
        overflow: hidden
        height: 100%

      &-route,
      &-fake
        position: absolute !important
        top: 0
        left: 0
        color: $black !important
        opacity: 1 !important
        background: transparent !important
        border: none !important
        box-shadow: none !important
        padding: 0 !important
        background-position: right 1px
        background-repeat: no-repeat
        height: 35px
        width: 100%
        z-index: 10

      &-route
        z-index: 5

      &-clear
        position: absolute
        width: 35px
        height: 100%
        z-index: 11
        top: 0
        right: 0
        background: url(../assets/img/global/cancel-gray.svg) no-repeat center
        border-left: 1px solid $gray
