@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.product
  display: flex
  justify-content: space-between
  +screen($tablet)
    flex-direction: column
    padding: 0

  &__slider
    width: 420px
    +screen($tablet)
      width: 100%

  &__info
    width: 482px
    padding-bottom: 50px
    +screen($tablet)
      width: 100%
      margin-top: 30px

