@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.page-404
  background-image: url("../assets/img/page-404/background-404.png")
  background-size: cover
  +screen($tablet-xs)
    height: 619px

  &__overlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: linear-gradient(180deg, #14161B 0%, rgba(20, 22, 27, 0) 100%)
    opacity: 0.9
    border: 1px solid #000000
    background-size: cover

    &_dop
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-image: linear-gradient(180deg, #14161B 0%, rgba(20, 22, 27, 0.3) 100%)
      background-size: cover
      transform: matrix(1, 0, 0, -1, 0, 0)

  &__container
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    min-height: 100vh
    top: 300px
    left: 0
    right: 0
    bottom: 0
    +screen($desktop)
      top: 234px
    +screen($tablet-xs)
      top: 160px
      padding: 0 36px

    svg
      width: 626px
      height: 265px
      +screen($desktop)
        width: 466px
        height: 197px
      +screen($tablet-xs)
        width: 285px
        height: 120.5px

    h2
      +font(26px, 31px, 700)
      color: $white
      text-align: center
      +screen($desktop)
        +font(20px, 24px, 700)

    a
      +font(22px, 26px, 500)
      color: $white
      background-image: $orange-grad
      padding: 20px 40px
      box-shadow: 0 11px 30px rgba(235, 92, 44, 0.4)
      margin-top: 72px
      text-align: center
      &:hover
        background-image: $orange-grad-reverse
      +screen($desktop)
        +font(18px, 21px, 500)
        padding: 16px 34px
        margin-top: 45px
      +screen($tablet-xs)
        padding: 18.5px 37.5px

