@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

html
  background: $black
  scroll-behavior: smooth
  min-height: 100%

a
  text-decoration: none

h1, h2, h3, h4, p
  margin: 0

body
  color: $white
  max-width: 1920px
  +font(20px, 24px)
  margin: 0 auto
  position: relative
  overflow-x: hidden

  &.preload
    overflow-y: hidden

.container
  position: relative
  max-width: 1260px
  width: 100%
  height: 100%
  box-sizing: border-box
  padding: 0 40px
  margin: 0 auto
  +screen($tablet)
    padding: 0 20px

.section-title
  text-transform: uppercase
  +font(65px, 80px, $font-dirty)
  padding-top: 66px
  width: 100%
  height: 150px
  text-align: center
  position: absolute
  left: 0
  box-sizing: border-box
  +screen($tablet)
    +font(28px, 50px, $font-dirty)
    height: auto
    display: flex
    flex-direction: column
    align-items: center
    padding: 0
  +screen($mobile)
    +font(40px, 50px, $font-dirty)

  &__link
    display: none
    +screen($mobile)
      display: block
      width: 50px
      height: 30px
      flex-shrink: 0

  span
    +screen($tablet)
      display: block
    +screen($mobile)
      margin-top: 30px

  &_white
    color: $white

    .section-title__link
      &[data-lazyloaded]
        +screen($mobile)
          background: url(../assets/img/global/white_logo_mobile.png) no-repeat scroll center/contain

    &[data-lazyloaded]
      background: url(../assets/img/global/white_logo.png) no-repeat scroll center top
      +screen($tablet)
        background: none

  &_black
    color: $black

    .section-title__link
      &[data-lazyloaded]
        +screen($mobile)
          background: url(../assets/img/global/black_logo_mobile.png) no-repeat scroll center/contain

    &[data-lazyloaded]
      background: url(../assets/img/global/black_logo.png) no-repeat scroll center top
      +screen($tablet)
        background: none

.product__bottle
  display: none
  width: 257px
  height: 263px
  position: absolute
  top: 62px
  left: 300px
  z-index: 2
  text-transform: uppercase
  background: url(../assets/img/products/products_bottle_original.png)

  &-volume
    position: absolute
    top: 193px
    left: 46px
    width: 45px
    transform: rotate(-15deg)
    text-align: center
    +font(18px, 24px)
    color: $green

  &-text
    position: absolute
    top: 210px
    left: 94px
    transform: rotate(-15deg)
    +font(21px, 26px)
    color: $white

.more-btn
  width: 220px
  height: 60px
  text-align: center
  color: #fff
  +font(21px, 60px)
  transition: .2s
  text-transform: uppercase
  display: block
  border: none
  cursor: pointer
  outline: none

  &[data-lazyloaded]
    background: url(../assets/img/products/mobile/products_original_btn.png) center 0 no-repeat

    &:hover
      background: url(../assets/img/products/mobile/products_orange_btn.png) center 0 no-repeat

.green-text
  color: $green

.animated
  opacity: 0

.colored__socials
  position: absolute
  right: 50px
  top: 75px
  width: 208px

  &-item
    display: inline-block
    position: relative
    float: left
    width: 52px
    height: 50px
    transition: .2s

    &::before
      content: ''
      position: absolute
      top: -7px
      right: -7px
      width: 72px
      height: 72px
      transform: scale(0.2)
      opacity: 0
      transition: 0.2s transform ease-out, 0.2s opacity ease-out, 0.2s
      pointer-events: none
      z-index: -1

    &_vk
      &[data-lazyloaded]
        background: url(../assets/img/header/hidden/fixed_menu_vk.png) no-repeat scroll 0 0

      &:hover
        background-image: url(../assets/img/header/hidden/fixed_menu_vk_hover.png)

        &::before
          transform: scale(1)
          opacity: 1
          background: url(../assets/img/header/hidden/fixed_menu_social_vk_hover.png) no-repeat

    &_telegram
      background-size: contain !important

      &[data-lazyloaded]
        background: url(../assets/img/header/hidden/fixed_menu_tg.png) no-repeat scroll 0 0

      &:hover
        background-image: url(../assets/img/header/hidden/fixed_menu_tg_hover.png)

        &::before
          transform: scale(1)
          opacity: 1
          background: url(../assets/img/header/hidden/fixed_menu_social_tg_hover.png) no-repeat

    &_facebook
      display: none
      &[data-lazyloaded]
        background: url(../assets/img/header/hidden/fixed_menu_fb.png) no-repeat scroll 0 0

      &:hover
        background-image: url(../assets/img/header/hidden/fixed_menu_fb_hover.png)

        &::before
          transform: scale(1)
          opacity: 1
          background: url(../assets/img/header/hidden/fixed_menu_social_fb_hover.png) no-repeat

    &_instagram
      display: none
      &[data-lazyloaded]
        background: url(../assets/img/header/hidden/fixed_menu_ig.png) no-repeat scroll 0 0

      &:hover
        background-image: url(../assets/img/header/hidden/fixed_menu_ig_hover.png)

        &::before
          transform: scale(1)
          opacity: 1
          background: url(../assets/img/header/hidden/fixed_menu_social_ig_hover.png) no-repeat

    &_youtube
      &[data-lazyloaded]
        background: url(../assets/img/header/hidden/fixed_menu_yt.png) no-repeat scroll 0 0

      &:hover
        background-image: url(../assets/img/header/hidden/fixed_menu_yt_hover.png)

        &::before
          transform: scale(1)
          opacity: 1
          background: url(../assets/img/header/hidden/fixed_menu_social_yt_hover.png) no-repeat

.hidden
  display: none
