-
  listItems = [
    {text: 'Размещение новостей на сайте', status: 'Выполнено', date: '22.04.2022', modifier: 'active'},
    {text: 'Внедрить Wi-fi для читателей', status: 'В работе', date: '25.03.2022'},
    {text: 'Отредактировать раздел “Доступная среда”', status: 'Выполнено', date: '15.03.2022', modifier: 'active'},
    {text: 'Презентация “Информационные технологии”', status: 'В работе', date: '15.03.2022'},
    {text: 'Счётчики — внедрить дизайн', status: 'В работе', date: '09.03.2022'},
    {text: 'Сверстать новый layout', status: 'В работе', date: '07.03.2022'},
    {text: 'Скролл в новостях', status: 'Выполнено', date: '01.03.2022', modifier: 'active'},
    {text: 'Форма сброса пароля', status: 'В работе', date: '25.02.2022'},
    {text: 'Внедрение модуля Chat', status: 'Выполнено', date: '20.02.2022', modifier: 'active'}
  ]

  filterSelectOptions = [
    {value: 'date', text: 'Дата', modifier: 'active'},
    {value: 'status', text: 'Статус'}
  ]

  tableHeadItems = ['', 'Описание', 'Статус', 'Дата']
