extends ../layouts/other/layout.pug

append variables
  -
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'financial.html',
        txt: 'Финансовые услуги'
      }
    ]

block title
  | Golden Dragon

block content

