extends ../layouts/main/layout.pug

append variables
  -

block title
  | Golden Dragon

block content
  section.development
  .development__background
    .development__overlay
    .development__overlay_dop
    .development__container
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/development/loading.svg')}
      h2.development__container__title Раздел находится
        span в разработке
      a(href="/") Вернуться на главную
