extends ../layouts/other/layout.pug

append variables
  -
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      }
    ]

block title
  | Golden Dragon

block content
  section.financial
    .container
      h2.section-title.opacity-animation Финансовые услуги
      .financial__tile
        a.financial__item(href="javascript:")
          .financial__item-image
            img.cover-image(src=require('@/assets/img/financial/credit.jpg') alt="credit")
          .financial__item-more
            .more-btn
              span Кредит и лизинг
              span !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-right.svg')}
        a.financial__item(href="javascript:")
          .financial__item-image
            img.cover-image(src=require('@/assets/img/financial/trade-in.jpg') alt="credit")
          .financial__item-more
            .more-btn
              span Trade-in
              span !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-right.svg')}

