extends ../layouts/main/layout.pug

append variables
  -
    orderFormTitle = 'Свяжитесь с нами'
    orderFormTxt = 'Оставьте заявку и мы свяжемся с вами в ближайшее время'
    orderFormModifier = 'main'
    headerMain = true

block title
  | Golden Dragon

block content
  include ../components/main-page/main-slider
  include ../components/main-page/main-nums
  include ../components/main-page/main-desc
  include ../components/main-page/main-lineup
  include ../components/main-page/main-dealers
  include ../components/main-page/main-news
  include ../components/gloabal/order-form

