extends ../layouts/other/layout.pug

append variables
  -
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      }
    ]

block title
  | Golden Dragon

block content
  section.news
    .container
      h2.section-title.opacity-animation Новости и акции
      .switcher.slide-right
        button.switcher__btn.active(data-id='0') Новости
        button.switcher__btn(data-id='1') Акции
      .news__content.slide-left
        .news__content-item.switch-content.active(data-id='0')
          each el in newsList
            +promo-card(el)
        .news__content-item.switch-content(data-id='1')
          each el in promoList
            +promo-card(el)







