extends ../layouts/map/layout.pug

append variables

block title
  | Golden Dragon

block content
  .section.service-page
    .container
      a.service-page__back(href="service.html")
        svg(width='25' height='14' viewBox='0 0 25 14' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M24.5 7H2.33144' stroke='#0B0B14' stroke-width='2')
          path(d='M6.9375 1.64697C6.60809 2.00383 3.50614 5.36428 1.99634 6.9999L6.9375 12.3528' stroke='#0B0B14' stroke-width='2')
          span Назад
      h2.service-page__title Сервисные центры Golden Dragon
      .service-page__grid
        .service-card
          .service-card__item.service-card__item_city Санкт-Петербург
          .service-card__item.service-card__item_title ООО «Техцентры Сотранс» (ГК Сотранс)
          .service-card__item.service-card__item_address
            span Адрес:
            span  г. Санкт-Петербург, ул. Верхняя, д.16 (промзона Парнас)
          .service-card__item.service-card__item_work
            span Режим работы:
            span 09:00-22:00
          .service-card__item.service-card__item_contacts
            a.service-card__contacts-item(href=`tel:+7812448-06-25`) +7 (812) 448-06-25
            a.service-card__contacts-item(href=`mailto:support@sotrans.ru`) support@sotrans.ru
        .service-card
          .service-card__item.service-card__item_city Ленинградская область
          .service-card__item.service-card__item_title ООО «Техцентры Сотранс» (ГК Сотранс)

          .service-card__item.service-card__item_address
            span Адрес:
            span  Ленинградская обл., Тосненский р-н, пгт. Красный Бор, ул. Промышленная 3
          .service-card__item.service-card__item_work
            span Режим работы:
            span 09:00-22:00
          .service-card__item.service-card__item_contacts
            a.service-card__contacts-item(href=`tel:+78124954320`) +7 (812) 495-43-20
            a.service-card__contacts-item(href=`mailto:support@sotrans.ru`) support@sotrans.ru
        .service-card
          .service-card__item.service-card__item_city Москва
          .service-card__item.service-card__item_title ООО «Техцентры Сотранс» (ГК Сотранс)
          .service-card__item.service-card__item_address
            span Адрес:
            span Московская область, Раменский р-н, сельское поселение Гжельское, село Речицы
          .service-card__item.service-card__item_work
            span Режим работы:
            span 09:00-21:00
          .service-card__item.service-card__item_contacts
            a.service-card__contacts-item(href=`tel:+79219931469`) +7 (921) 993-14-69
            a.service-card__contacts-item(href=`mailto:support@sotrans.ru`) support@sotrans.ru
        .service-card
          .service-card__item.service-card__item_city Елабуга
          .service-card__item.service-card__item_title ООО «Техцентры Сотранс» (ГК Сотранс)
          .service-card__item.service-card__item_address
            span Адрес:
            span Республика Татарстан, Елабужский район, Федеральная трасса М7, 1023 км
          .service-card__item.service-card__item_work
            span Режим работы:
            span 09:00-22:00
          .service-card__item.service-card__item_contacts
            a.service-card__contacts-item(href=`tel:+79214389849`) +7 (921) 438-98-49
            a.service-card__contacts-item(href=`mailto:support@sotrans.ru`) support@sotrans.ru
        .service-card
          .service-card__item.service-card__item_city Иркутск
          .service-card__item.service-card__item_title ООО «Техцентры Сотранс» (ГК Сотранс)
          .service-card__item.service-card__item_address
            span Адрес:
            span Иркутская обл., г. Шелехов. ул. Ивана Кочубея, 56Д
          .service-card__item.service-card__item_work
            span Режим работы:
            span 09:00-22:00
          .service-card__item.service-card__item_contacts
            a.service-card__contacts-item(href=`tel:79213071872`) +7 (921) 307-18-72
            a.service-card__contacts-item(href=`mailto:support@sotrans.ru`) support@sotrans.ru
        .service-card
          .service-card__item.service-card__item_city Ростов-на-Дону
          .service-card__item.service-card__item_title ЗАО ТСЦ «Русавтопром-Ростов»
          .service-card__item.service-card__item_address
            span Адрес:
            span г. Ростов-на-Дону, пр. Шолохова, 288Г
          .service-card__item.service-card__item_work
            span Режим работы:
            span 08:30-17:30
          .service-card__item.service-card__item_contacts
            a.service-card__contacts-item(href=`tel:+78632908030`) +7 (863) 290-80-30
            a.service-card__contacts-item(href=`mailto:gvf@gvf.ru`) gvf@gvf.ru
