extends ../layouts/map/layout.pug

append variables

block title
  | Golden Dragon

block content
  include ../components/service/service-info
  include ../components/service/service-map
  include ../components/service/service-form
