extends ../layouts/other/layout.pug

append variables
  -
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'financial.html',
        txt: 'Финансовые услуги'
      }
    ]

block title
  | Golden Dragon

block content
  section.trade
    .container
      h2.section-title Trade-in
      p.trade__txt Одним из наиболее выгодных способов обновления подвижного состава является программа TRADE-IN, которая заключается в одновременной продаже техники с пробегом и покупке нового транспортного средства. Стоимость старой технике становится первым взносом в счет оплаты новой.
      p.trade__txt
        b TRADE-IN существенно экономит Ваше время и денежные средства, а также гарантирует безопасность сделки.
      .trade__grid
        .trade__item
          .trade__item-icon
            span 01/
            span
              img(src=require('@/assets/img/trade-in/1.svg') alt="")
          .trade__item


