// font
$font: 'Stem', sans-serif
$font-title: 'Oswald', sans-serif

// colors
$black: #363636
$white: #fff
$blue-light: #5CB0E8

// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
