// font
$font: 'Stem', sans-serif
$font-title: 'Oswald', sans-serif

// colors
$black: #363636
$white: #fff
$blue-lightest: #E7F3FC
$blue-light: #5CB0E8
$gray: #DEDEDE
$gray-dark: #A2A2A2
$gray-darkest: #808080
$yellow: #FEC80B

// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
