// font
$font: 'Stem', sans-serif
$font-title: 'Oswald', sans-serif

// colors
$black: #363636
$white: #fff
$blue-lightest: #E7F3FC
$blue-light: #5CB0E8
$blue: #118BDD
$gray-lightest: #D9D9D9
$gray-light: #ECECEC
$gray: #DEDEDE
$gray-dark: #A2A2A2
$gray-darkest: #808080
$yellow: #FEC80B
$image-mask: linear-gradient(270deg, rgba(230, 243, 251, .5) 0%, rgba(230, 243, 251, .15) 100%)
$image-mask-mob: linear-gradient(270deg, rgba(230, 243, 251, 0.5) -28.13%, rgba(230, 243, 251, 0) 71.87%)

// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
