//- variables
block variables
  include ../../abstracts/variables

//- mixins
include ../../components/mixins/modal
include ../../components/mixins/news-card

doctype html
html(lang="ru")
  head
    include head
  body
    include ../../components/gloabal/preloader
    include header
    main.main
      block content
    include footer
