// font
$font: 'Montserrat', sans-serif;

// colors
$black: #000;
$white: #fff;
$gray: #888888;
$blue-light: #10B2D0;
$blue: #0050EF;
$blue-dark: #011846;

// screen
$desktop-sm: 1281;
$tablet: 1025;
$tablet-sm: 769;
$tablet-xs: 577;
$mobile: 376;
