.call-modal
  .call-modal__body
    .call-modal__close
      img(src=require('@/assets/img/global/close.svg') alt="")
    form.call-modal__form
      h2.call-modal__title Заказать звонок
      .call-modal__fields
        .call-modal__input.error
          input#modal-name(type="text" name="name" placeholder="Ваше Имя")
          .call-modal__error Поле не может быть пустым
        .call-modal__input
          input#modal-phone(type="tel" name="tel" placeholder="Ваш телефон")
          .call-modal__error Поле не может быть пустым
        button.call-modal__submit(type="submit") Оставить заявку

include sent-modal
