.map-mob.slide-up
  .map-mob__switcher
    each el, index in mapSwitcher
      .map-mob__btn
        button(data-index=index) #{el}
  .map-mob__maps
    .map-mob__item.active(data-index='0')
      #red-forest-map
    .map-mob__item(data-index='1')
      #parnas-map
    .map-mob__item(data-index='2')
      #elna-map
    .map-mob__item(data-index='3')
      #elabuga-map
