.pagination.slide-up
  button.pagination__btn.pagination__btn_prev(disabled)
    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/pag-left.svg')}
    span пред.
  ul.pagination__list
    each el, index in paginationList
      li
        a(href="javascript:" class=index === 0 ? 'active' : '') #{el}
  button.pagination__btn.pagination__btn_next
    span след.
    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/pag-right.svg')}
