.sent-modal
  .sent-modal-container
    .sent-modal_close#sentModalClose
      img(src=require('@/assets/img/global/close.svg') alt="" loading="lazy")
    h1.sent-modal__title Ваша заявка успешно отправлена
    h4.sent-modal__txt Представитель завода свяжится с вами в ближайшее время
