section.top
  .container
    if (topSecBreadcrumbs)
      +breadcrumbs(breadCrumbsList)
    .top__content.slide-right
      h1.top__title !{topTitle}
      if (topTxt)
        p.top__txt !{topTxt}
    if (callModal)
      .top__btn.slide-right.call-modal__btn
        button.btn.btn_orange Заказать звонок
