@font-face
  font-family: 'ConfidentialC'
  src: local('ConfidentialC')
  src: url('../assets/fonts/ConfidentialC.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'DirtyHeadlineCyrillic'
  src: local('DirtyHeadlineCyrillic')
  src: url('../assets/fonts/DirtyHeadlineCyrillic.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'IntroHeadB_Base'
  src: local('IntroHeadB-Base')
  src: url('../assets/fonts/IntroHeadB-Base.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Rubik'
  src: local('Rubik-Regular')
  src: url('../assets/fonts/Rubik-Regular.woff2') format('woff2')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Rubik'
  src: local('Rubik-Bold')
  src: url('../assets/fonts/Rubik-Bold.woff2') format('woff2')
  font-weight: 700
  font-style: normal