$font-conf: 'ConfidentialC', sans-serif
$font-dirty: 'DirtyHeadlineCyrillic', sans-serif
$font-intro: 'IntroHeadB_Base', sans-serif
$font-rubik: 'Rubik', sans-serif

// colors
$white: #FFFFFF
$black: #000
$black-lightest: #222
$green: #92d400
$orange-light: #ff9c28
$orange: #ff6319
$peach: #fe895f
$lemon: #fee800
$lychee: #FF3E6F
$mango: #f5b01d
$yellow:  #ffB612
$yellow-light:  #f7de00
$blue: #009fda
$blue-dark: #395e88
$red-light: #ce1312
$red: #c60c30
$error: #cb1312
$pink: #d82a98
$gray: #e4e4e4
$gray-dark: #acacac
$sugar: #029abf

// screen
$desktop-sm: '(max-width: 1260px)'
$tablet: '(max-width: 1024px)'
$tablet-sm: '(max-width: 768px)'
$mobile: '(max-width: 576px)'
$mobile-sm: '(max-width: 375px)'
