@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.modal__message
  .form
    box-sizing: border-box
    padding: 50px 0 0
    +screen($tablet)
      padding: 40px 0 0

    &__header
      width: 100%
      height: 70px
      text-align: center
      +font(48px, 70px, $font-dirty)
      text-transform: uppercase
      background: url(../assets/img/global/feedback_title_stroke.png) center 5px no-repeat
      +screen($tablet)
        +font(28px, 30px, $font-dirty)
        height: auto
        background: none

    &__text
      width: 100%
      text-align: center
      +font(20px, 28px, $font-intro)
      text-transform: none
      +screen($tablet)
        +font(16px, 24px, $font-intro)
        margin-top: 20px

      &_success
        margin-top: 18px
        +font(24px, 32px, $font-intro)

    &__container
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      max-width: 787px
      margin: 0 auto
      +screen($tablet)
        flex-wrap: nowrap
        flex-direction: column
        max-width: 280px
        margin-top: 0

    &__item
      margin-top: 40px

    &__captcha
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      margin-top: 25px
      +screen($tablet)
        flex-direction: column
        margin-top: 30px

      &-image
        width: 160px
        height: 40px

        img
          width: 100%
          height: 100%

      .form__item
        margin: 0 0 0 40px
        +screen($tablet)
          margin: 30px 0 0

    &__submit
      width: 100%
      display: flex
      justify-content: center
      box-sizing: border-box
      padding-bottom: 30px
