extends ../layouts/main/layout.pug

block title
  | Ремонт топливных систем

block content
  include ../components/sections/repair
  include ../components/sections/about
  include ../components/sections/promo
  include ../components/sections/equipment
  include ../components/sections/pluses
  include ../components/sections/price
  include ../components/sections/contacts
