@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.header
  background-color: $black
  height: 60px
  display: flex
  justify-content: end
  align-items: center
  padding: 0 33px

  &-content
    display: flex
    align-items: center

    &__user
      margin-right: 14px

    &__username
      color: $white
      margin-right: 34px
      +font(16px, 19px, 700)

