@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.menu-container
  position: absolute
  height: calc(100vh - 30px)
  width: 3vw
  transition: width 0.6s ease
  box-sizing: border-box
.menu-container-max
  width: 14vw
  transition: width 0.6s ease

.menu
  height: 100vh
  width: 3vw
  background-color: #2B2B33
  position: absolute
  top: 0
  left: 0
  padding: 14px 10px 30px 10px
  display: flex
  flex-direction: column
  justify-content: space-between
  transition: width 0.6s ease
  z-index: 980
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15)

  &__logo
    display: none
    transition: width 0.3s ease
    width: 224px
    margin: 0 auto
    +screen($desktop-sm)
      width: 150px
    +screen($tablet-sm)
      width: 120px
  &__logo-min
    display: block
    transition: width 0.3s ease
    width: 60px
    margin: 0 auto
    +screen($desktop-sm)
      width: 50px
    +screen($tablet-sm)
      width: 43px

  &__list
    position: relative

    &-logo
      margin-bottom: 0 !important
      border-radius: 0
      height: auto !important
      padding-left: 5px !important
      +screen($desktop-sm)
        padding: 0 !important
      &:hover
        background-color: inherit !important

    &__img
      position: relative

      &__counter
        background-color: $orange
        position: absolute
        border-radius: 50%
        width: 17px
        height: 17px
        display: flex
        align-items: center
        justify-content: center
        bottom: 50%
        left: 50%
        overflow: hidden

        p
          +font(12px, 15px, 400)
          color: $white

    ul
      box-sizing: border-box
      padding-top: 89px

    a
      display: flex
      align-items: center
      justify-content: center
      margin-bottom: 10px
      border-radius: 8px
      height: 50px
      padding-left: 21.5px
      transition: background-color 0.3s ease
      box-sizing: border-box
      +screen($desktop-sm)
         padding: 9px
      &:hover , &:focus
        background-color: rgba(238, 238, 238, 0.1)

      div
        width: 20px
        margin-right: 18px
        +screen($desktop-sm)
          margin-right: 13px
      span
        display: none
        +font(16px, 19px, 400)
        color: $white
        transition: color 0.3s ease
        +screen($tablet-sm)
          font-size: 13px
        +screen($tablet-xs)
          display: none

      .list__img svg path
        transition: fill 0.3s ease

      &:hover span, &:hover .list__img svg path, &:focus span, &:active .list__img svg path
        color: $orange
        fill: $orange

  &__btn
    background-color: $orange
    +font(14px, 17px, 400)
    color: $white
    display: flex
    align-items: center
    justify-content: center
    border-radius: 8px
    transition: 0.3s ease
    margin: 0 auto
    width: 40px
    height: 40px
    padding: 0
    img
      display: block
      transition: 0.3s ease
    span
      transition: 0.3s ease
      display: none

.menu__toggle
    background-color: $orange
    width: 30px
    height: 30px
    border-radius: 8px
    position: absolute
    top: 15px
    right: -40px
    z-index: 500
    transition: right 0.6s ease
    img
      transform: rotate(180deg)
    +screen($tablet-xs)
      display: none
    &:hover
      right: -44px
      background-image: $orange-grad

.menu-max
  padding-left: 9px
  width: 15vw
  align-items: flex-start
  box-sizing: border-box
  height: 103vh

  .menu__logo
    display: block
    width: 100%
    +screen($desktop-sm)
      width: 45px

  .menu__logo-min
    display: none

  .menu__list
    width: 100%
    a
      padding: 5px 21px
      justify-content: flex-start
      div
        width: 20px
        margin-right: 0
      span
        display: block
        margin-left: 25px


  .menu__btn
    box-sizing: border-box
    padding: 11.5px
    width: 100%
    transition: 0.3s ease
    span
      display: block
      transition: 0.3s ease
    img
      display: none
      transition: 0.3s ease

.menu__toggle-max
  img
    transform: rotate(0deg)
