@use '../../../abstracts/variables' as *
@use '../../../abstracts/mixins' as *

.doctor
  padding: 28px 0 80px

  &-container
    margin-top: 28px
    display: flex
    gap: 24px

  &-photo
    width: 32%

    &-img
      position: relative
      border-radius: 16px

      img
        width: 100%
        height: 100%
        object-fit: cover

      &:before
        content: ''
        width: 196px
        height: 84px
        background: url(../assets/img/global/beauty.svg) no-repeat center
        position: absolute
        bottom: -42px
        left: -41px

  &-info
    width: 66%

    h4
      +font(26px, 32px, 700)
      color: $black

    &_prof
      color: $blue-main
      +font(16px, 20px, 500)
      margin-top: 16px

    &_years
      color: $black
      +font(16px, 20px, 500)
      margin-top: 8px

    &-contacts
      display: flex
      gap: 16px
      margin-top: 32px

      .btn
        width: 227px

      &_link
        cursor: pointer
        width: 46px
        height: 46px
        display: flex
        align-items: center
        justify-content: center
        background-color: $light-blue
        border-radius: 10px

    &-about
      background-color: $light-blue
      border-radius: 16px
      box-sizing: border-box
      padding: 20px
      margin-top: 32px

    &-text
      +font(14px, 20px, 400)
      color: $black

    h5
      margin: 36px 0 16px
      color: $black
      +font(20px, 24px, 700)

    &-education
      display: flex
      flex-direction: column
      gap: 12px

      &-point
        display: flex
        gap: 24px
        width: 100%

      &-year
        width: 78px
        height: 30px
        display: flex
        align-items: center
        justify-content: center
        color: $blue-main
        +font(14px, 20px, 700)
        background-color: $light-blue
        border-radius: 8px
        box-sizing: border-box
        padding: 5px 15px
        white-space: nowrap

      &-text
        +font(14px, 20px, 400)
        color: $black

  &-slider

    .swiper
      padding: 0 24px
      +screen($tablet-sm)
        overflow: visible
        padding: 0 0 36px
      +screen($tablet-xs)
        padding-bottom: 34px

      &-pagination
        display: none
        +screen($tablet-xs)
          display: block
          bottom: 0

      &-button
        width: 40px
        height: 40px
        border-radius: 50%
        background-color: rgba(255, 255, 255, 0.3)
        background-repeat: no-repeat
        background-position: center
        transition: opacity 0.3s
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2)
        top: 50%
        +screen($tablet)
          display: none

        &:hover
          background-color: $white

        &-disabled
          display: none

        &-prev
          left: 5px
          background-image: url(../assets/img/index/doctors/arrow-left-gray.svg)

          &:hover
            background-image: url(../assets/img/global/arrow-left.svg)

        &-next
          right: 5px
          background-image: url(../assets/img/index/doctors/arrow-right-gray.svg)

          &:hover
            background-image: url(../assets/img/global/arrow-right.svg)




