.planning-filter-points
  .planning-filter-points-items
    .planning-filter-points-items-item
      select.planning-filter-points-item__input
        option(value='') Город / регион
    .planning-filter-points-items-item
      select.planning-filter-points-item__input
        option(value='') Логист
    .planning-filter-points-items-item
      select.planning-filter-points-item__input
        option(value='') Колонна
    .planning-filter-points-items-item
      select.planning-filter-points-item__input
        option(value='') Машина
  .planning-filter-points-items
    .planning-filter-points-items-count.count-green
      span.planning-filter-points-items-count__title Запланирована заявка по приезду в город
      .planning-filter-points-items-count_num.count-num-green
        span 49
    .planning-filter-points-items-count.count-orange
      span.planning-filter-points-items-count__title Не запланирована заявка по приезду в город
      .planning-filter-points-items-count_num.count-num-orange
        span 209
    .planning-filter-points-items-count.count-light-blue
      span.planning-filter-points-items-count__title На выгрузке
      .planning-filter-points-items-count_num.count-num-light-blue
        span 10
    .planning-filter-points-items-count.count-reds
      span.planning-filter-points-items-count__title Простаивет в городе без заявок
      .planning-filter-points-items-count_num.count-num-reds
        span 159
    .planning-filter-points-items-count.count-blue
      span.planning-filter-points-items-count__title Авто не на линии
      .planning-filter-points-items-count_num.count-num-blue
        span 12
    .planning-filter-points-items-count.count-grey
      span.planning-filter-points-items-count__title Привлеченный парк
      .planning-filter-points-items-count_num.count-num-grey
        span 15
