.planning-filter-head
  h4.planning-filter-head__title Фильтр:
  button.planning-filter-head__toggle#btnToggleFilterPlan
    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-report/toggle.svg')}
