@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.one-application-creating
  background-color: $white
  position: absolute
  z-index: 800
  margin: 0 0 0 3vw
  transition: all 0.6s ease-in-out
  box-shadow: 10px 0 15px rgba(37, 37, 45, 0.1)
  height: calc(100vh - 35px)
  overflow: hidden


  &_header
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    padding: 27px 12px 0 27px
    margin-bottom: 30px


    &_btn-close
      width: 17px
      height: 17px

    &__title
      +font(16px, 19px, 400)
      color: $black
      margin-left: -25%

    &__name
      width: 108px

  &_form
    box-sizing: border-box
    padding: 0 30px 33px 30px
    overflow-y: scroll
    max-height: 90vh
    margin-right: 12px

    &::-webkit-scrollbar
      width: 6px

    &::-webkit-scrollbar-thumb
      background-color: $gray
      border-radius: 100px

    &::-webkit-scrollbar-track
      background-color: $gray-light

    &__title
      margin-top: 0 !important

      &__btn
        display: flex
        align-items: center

        span
          +font(14px, 17px, 400)
          color: $gray-dark
          margin-right: 6px

        span, svg path
          transition: color 0.3s ease-in-out, fill 0.3s ease-in-out

        &:hover span, &:hover svg path
          color: $orange
          fill: $orange

    &_item
      display: flex
      align-items: center
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0

      &__label
        width: 30%
        margin: 0 20px 0 20px
        +font(14px, 17px, 700)
        color: $gray-dark

      &__input
        width: 70%
        border: 1px solid $gray
        border-radius: 8px
        box-sizing: border-box
        padding: 12px 10px 11px 10px

        input, textarea
          +font(14px, 17px, 400)
          color: $gray-dark
          &::placeholder
            color: $gray

        select
          +font(14px, 17px, 400)
          color: $gray

        select
          width: 100%
          border: none
          -webkit-appearance: none
          -moz-appearance: none
          appearance: none
          background-image: url('../assets/img/one-application-creating/select.svg')
          background-repeat: no-repeat
          background-position-x: 100%
          background-position-y: 50%
          &:focus
            border: none
            outline: none

      &_radio-container
        display: flex

        input
          margin-right: 7px

        label
          margin-right: 22px
          &:last-child
            margin-right: 0

      &_loading-types

        .one-application-creating_form_item__input
          width: 100%
          color: $gray

        &__checkboxes
          display: flex
          align-items: center
          margin-top: 10px

          &__item
            display: flex
            align-items: center
            margin-right: 5px
            border: 1px solid $gray-light
            border-radius: 16px
            box-sizing: border-box
            padding: 5px 10px 5px 11px
            transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out
            &:last-child
              margin-right: 0
            &:hover
              background-color: $gray-hover

            &__img
              margin-right: 6px

            label
              color: $gray-input
              +font(12px, 15px, 400)

          .select-checkbox
            background-color: $orange
            border: 1px solid $orange

            &-label
              color: $white

    &_buttons
      display: flex
