@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.plan-indicators
  display: flex
  background-color: $white
  z-index: 608
  width: 100vw
  max-height: 80px
  box-sizing: border-box
  padding: 10px 17vw
  position: absolute
  left: 633px

  &_item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-right: 60px

    &:last-child
      margin-right: 0

    &__title
      +font(16px, 19px, 700)
      color: $black

    &_cont
      display: flex
      margin-top: 5px

      &_point
        margin-right: 10px

        &:last-child
          margin-right: 0

        &__title
          +font(12px, 15px, 600)
          color: $gray-dark
          white-space: nowrap

        &__text
          +font(12px, 15px, 400)
          color: $gray-input
          display: flex
          align-items: center
          white-space: nowrap

          svg
            margin-left: 4px


