@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.route
  position: absolute
  z-index: 180
  top: 20%
  left: 130%

.icon-description
  position: absolute
  background-color: $white
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)
  border-radius: 8px
  box-sizing: border-box
  padding: 15px
  display: none

  &_item
    display: flex
    align-items: center
    margin-top: 10px

    &:first-child
      margin-top: 0

    &__img
      width: 23px
      display: flex
      align-items: center
      justify-content: center

    span
      +font(12px, 15px, 400)
      color: $gray-dark
      margin-left: 5px

