@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.modal__poster
  &-image
    max-width: 460px
    text-align: right
    +screen($mobile)
      margin-top: 36px

    img
      width: 100%

  &-info
    max-width: 565px
    +font(18px, 22px, $font-intro)
    padding-left: 40px
    +screen($desktop-sm)
      box-sizing: border-box
      max-width: 480px
    +screen($tablet)
      padding: 0

    h2
      position: relative
      +font(45px, 60px, $font-dirty)
      max-width: 500px
      z-index: 1
      margin-bottom: 36px
      +screen($tablet)
        display: none

      &::after
        content: ''
        position: absolute
        width: 70%
        height: 70px
        top: 50%
        left: -20px
        transform: translateY(-50%)
        z-index: -1
        background: url(../assets/img/global/feedback_title_stroke.png) center/contain no-repeat

    h3
      margin: 36px 0 18px 0

    p
      margin: 18px 0

    ul
      padding: 0
      margin: 18px 0

      li
        padding: 0 0 8px 22px
        list-style-type: none
        background: url(../assets/img/global/li.png) 1px 7px no-repeat

    a
      display: block
      color: #ff6319
      +font(20px, 22px)
      padding-left: 30px
      transition: .2s
      text-transform: uppercase
      background: url(../assets/img/modals/poster_more.png) no-repeat

      &:hover
        color: $yellow

  .modal
    &__content
      padding: 86px 40px 40px
      display: flex
      justify-content: space-between
      +screen($tablet)
        flex-direction: column
        align-items: center
        padding: 20px 40px 40px
