@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.black
  background: url(../assets/img/black/ola.svg) center no-repeat
  position: relative

  &__image
    position: absolute
    left: 50%
    top: 0
    transform: translateX(-50%)
    max-width: 450px
    max-height: 800px

    .pop-up-point
      position: absolute

      &_first
        top: 35px
        right: 50px

        .pop-up-point__modal
          left: calc(100% + 20px)
          top: calc(100% + 10px)

      &_second
        top: 18%
        left: 50px

        .pop-up-point__modal
          right: calc(100% + 20px)
          top: calc(100% + 10px)

      &_third
        top: 35%
        right: 40%

        .pop-up-point__modal
          left: calc(100% + 20px)
          top: calc(100% + 10px)

      &_fourth
        top: 52%
        left: 35%

        .pop-up-point__modal
          right: calc(100% + 20px)
          top: calc(100% + 10px)
