@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.black
  background: url(../assets/img/black/ola.svg) center no-repeat
  position: relative

  &__image
    position: absolute
    left: 50%
    top: 0
    transform: translateX(-50%)
    max-width: 450px
    max-height: 800px
