@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

.black
  background: url(../assets/img/black/ola.svg) center no-repeat
  position: relative

  &__image
    position: absolute
    left: 50%
    top: 0
    transform: translateX(-50%)
    max-width: 450px
    max-height: 800px

    .pop-up-point
      position: absolute

      &_first
        top: 35px
        right: 50px

        .pop-up-point__modal
          @extend %right

      &_second
        top: 18%
        left: 50px

        .pop-up-point__modal
          @extend %left

      &_third
        top: 35%
        right: 40%

        .pop-up-point__modal
          @extend %right

      &_fourth
        top: 52%
        left: 35%

        .pop-up-point__modal
          @extend %left
