@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

.yellow
  .footer
    margin-top: 20px

  &__image
    position: absolute
    top: 0
    left: 0
    display: block
    z-index: 0

    img
      display: block
      object-fit: cover

    .pop-up-point
      position: absolute

      &_first
        right: 38%
        top: 10%

        .pop-up-point__modal
          @extend %right

      &_second
        top: 43%
        right: 36%

        .pop-up-point__modal
          @extend %right


      &_third
        top: 40%
        left: 39%

        .pop-up-point__modal
          @extend %left

