@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.product-slider
  +screen($tablet)
    margin-top: 20px

  .main-slider
    &.swiper
      max-width: 650px
      width: 100%
      margin: 0
      +screen($tablet)
        max-width: none
        padding: 0 0 21px 20px
        box-sizing: border-box
        height: 205px

    .swiper
      &-modal-btn
        display: none
        +screen($tablet)
          position: absolute
          bottom: 12px
          right: 12px
          align-items: center
          justify-content: center
          width: 36px
          height: 36px
          border-radius: 50%
          background-color: $orange
          z-index: 1
          transition: background-color .3s

          &:active
            background-color: $white

            svg
              path
                fill: $orange

      &-slide
        height: 390px
        border-radius: 10px
        display: flex
        overflow: hidden
        position: relative
        cursor: pointer
        +screen($tablet)
          height: auto

        &-active
          .swiper-modal-btn
            +screen($tablet)
              display: flex

        img
          width: 100%
          height: 100%
          object-fit: cover
          object-position: center

      &-pagination
        display: none
        +screen($tablet)
          display: block
          bottom: -8px

          &-bullet
            min-width: 10px
            height: 6px
            border-radius: 7px
            background-color: #E2E2E2
            opacity: 1
            transition: min-width .3s, background-color .3s

            &-active
              background-color: $orange
              min-width: 30px

      &-button
        &-next, &-prev
          border-radius: 50%
          width: 40px
          height: 40px
          background-color: $white
          transition: background-color .3s
          top: auto
          left: auto
          box-shadow: 0 7px 14px rgba(0, 0, 0, .16)
          +screen($tablet)
            display: none

          &:after
            display: none

          &:hover:not(:active)
            background-color: $orange

            svg
              path
                stroke: $white

        &-next
          bottom: 20px
          right: 20px

          svg
            margin-right: -2px

        &-prev
          bottom: 20px
          right: 74px

          svg
            margin-left: -2px

  .thumb-slider
    padding-top: 12px
    +screen($tablet)
      display: none

    &.swiper
      max-width: 650px
      width: 100%
      margin: 0

    .swiper
      &-slide
        width: 122px
        height: 82px
        box-sizing: border-box
        border-radius: 8px
        padding: 3px
        border: 2px solid transparent
        display: flex
        cursor: pointer
        justify-content: center

        &-thumb-active
          border-color: $orange

        &-image
          border-radius: 6px
          overflow: hidden

          img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center


  &__modal
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 100vw
    height: 100vh
    background-color: rgba(#17263D, .6)
    z-index: 101
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    transition: visibility .3s, opacity .3s
    visibility: hidden
    opacity: 0
    pointer-events: none
    +screen($tablet)
      padding: 0

    &.active
      visibility: visible
      opacity: 1
      pointer-events: auto

    &-body
      display: flex
      justify-content: space-between
      position: relative
      background-color: $white
      box-sizing: border-box
      padding: 70px 60px
      z-index: 1
      width: 100%
      height: 100%
      +screen($tablet)
        border-radius: 0
        padding: 50px 10px
        flex-direction: column-reverse
        justify-content: flex-start
      +landscape
        padding: 10px

    &-close
      position: absolute
      top: 30px
      right: 60px
      cursor: pointer
      +screen($tablet)
        top: 20px
        right: 20px

      +landscape
        z-index: 10
        svg
          path
            stroke: $orange

    .main-modal-slider
      &.swiper
        padding: 0 76px
        width: 100%
        margin: 0
        +screen($tablet)
          max-width: none
          padding: 0
        +landscape
          margin-top: 0

      .swiper
        &-button
          &-next, &-prev
            border-radius: 50%
            width: 50px
            height: 50px
            background-color: $white
            transition: background-color .3s
            box-shadow: 0 7px 14px rgba(0, 0, 0, .16)
            +screen($tablet)
              display: none

            &:after
              display: none

            &:hover:not(:active)
              background-color: $orange

              svg
                path
                  stroke: $white

          &-next
            svg
              margin-right: -2px

          &-prev
            svg
              margin-left: -2px

        &-slide
          display: flex
          border-radius: 10px
          overflow: hidden
          justify-content: center
          +screen($tablet)
            align-items: center
            min-height: 310px
            flex-shrink: 0

          &-image
            +screen($tablet)
              height: auto

          img
            object-fit: contain
            object-position: center
            width: 100%
            height: 100%
            border-radius: 10px
            display: block

    .thumb-modal-slider
      transform: translateY(-40px)
      &.swiper
        width: 98px
        flex-shrink: 0
        margin: 0 20px 0 0
        +screen($tablet)
          margin: 105px 0 0 0
          width: auto
          padding: 0 10px
        +landscape
          display: none

        .swiper
          &-slide
            width: 98px
            height: 66px
            border-radius: 10px
            padding: 3px
            border: 2px solid transparent
            box-sizing: border-box
            +screen($tablet)
              width: 58px
              height: 40px
              padding: 2px
              border-radius: 4px

            &-thumb-active
              border-color: $orange

            &-image
              border-radius: 6px
              overflow: hidden
              display: flex
              height: 100%
              width: 100%
              +screen($tablet)
                border-radius: 2px

              img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center


.product-slider.product-slider_landing
  +screen($tablet)
    margin-top: 0

  .swiper
    &.main-slider
      .swiper
        &-slide
          height: 325px
          +screen($tablet)
            height: 184px

        &-button
          &-next, &-prev
            svg
              margin: 0

    &.thumb-slider
      padding-top: 6px

      .swiper-slide
        padding: 3px
        border-width: 3px
        border-radius: 12px
        width: 124px
        height: 84px

        &:hover:not(.swiper-slide-thumb-active)
          border-color: #E8E8E8

        &-image
          border-radius: 8px
