@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.product-slider

  .main-slider
    &.swiper
      width: 100%
      max-width: 648px
      margin: 0
      border-radius: 16px
      overflow: hidden
      +screen($tablet)
        border-radius: 0
        max-width: none
        padding: 0 16px 12px
        box-sizing: border-box
        height: 205px

    .swiper
      &-slide
        height: 384px
        border-radius: 16px
        display: flex
        overflow: hidden
        position: relative
        cursor: pointer
        +screen($tablet)
          height: auto
          border-radius: 12px

        &-active
          .swiper-modal-btn
            +screen($tablet)
              display: flex

        img
          width: 100%
          height: 100%
          object-fit: cover
          object-position: center

      &-pagination
        display: none
        +screen($tablet)
          display: block
          bottom: -8px

          &-bullet
            min-width: 8px
            height: 4px
            border-radius: 4px
            background-color: #E2E2E2
            opacity: 1
            transition: min-width .3s, background-color .3s
            margin: 0 2px

            &-active
              background-color: $orange
              min-width: 20px

      &-button
        &-next, &-prev
          border-radius: 50%
          width: 40px
          height: 40px
          background-color: $white
          box-shadow: 0 7px 14px 0 #00000029
          top: auto
          left: auto
          +screen($tablet)
            display: none

          svg
            path
              transition: none

          &:after
            display: none

          &:hover:not(:active)

            svg
              path
                fill: $white

        &-next
          bottom: 20px
          right: 24px

          &:hover:not(:active)
            background: linear-gradient(90deg, #E95A2C 0%, #E9A92C 100%)


          svg
            margin-right: -2px

        &-prev
          bottom: 20px
          right: 80px

          &:hover:not(:active)
            background: linear-gradient(270deg, #E95A2C 0%, #E9A92C 100%)

          svg
            margin-left: -2px

  .thumb-slider
    padding-top: 16px
    +screen($tablet)
      display: none

    &.swiper
      max-width: 648px

    .swiper
      &-wrapper
        justify-content: space-between

      &-slide
        width: 116px
        height: 68px
        box-sizing: border-box
        border-radius: 6px
        overflow: hidden
        display: flex
        cursor: pointer
        justify-content: center

        &-thumb-active
          border: 2px solid $orange

        &-image
          overflow: hidden
          width: 100%
          height: 100%
          border-radius: 1px

          img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center

