@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.section-title
  +font(36px, 48px, 700)
  letter-spacing: .04em
  margin-bottom: 40px
  +screen($tablet)
    +font(24px, 28px, 700)
    letter-spacing: .02em
    margin-bottom: 28px
