@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.section-title
    color: $black
    font-family: Stem
    font-size: 36px
    font-style: normal
    font-weight: 700
    line-height: 48px
    letter-spacing: 1.44px
    margin-bottom: 40px
    +screen(1024)
        margin-bottom: 28px
