// font
$font: 'FuturaPT', sans-serif

// colors
$black: #001731
$black-light: #3F4E65
$white: #FBFBFB
$white-dark: #F4F4F4
$white-darkest: #E3E3E3
$gray-lightest:#FAFAFA
$gray-light: #E8EFF7
$gray: #979797
$gray-placeholder: #C0C0C0
$blue-light: #E8EFF7
$blue: #005BC3
$green: #9CC300
$red: #C34600
$wt: #00E676
$tg: #40B3E0

// screen
$desktop-m: 1420
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
