section.gto
  .container
    .gto__container.slide-right
      h2.section-title.section-title_blue #[span 03] ГТО
      p.gto__txt В дилерском центре СОТРАНС можно пройти #[span государственный техосмотр грузовых транспортных средств и получить диагностическую карту]
      p.gto__txt #[span Для прохождения ТО] необходимо иметь документы:
      ul.gto__list.section-list
        each el in gtoList
          li #{el}
    .gto__container.slide-left
      h2.section-title.section-title_blue #[span 04] СПС
      p.gto__txt Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года.
      p.gto__txt Информация размещена на официальном сайте ФБУ «Росавтотранс»
      p.gto__txt На данный момент свидетельство #[span СПС необходимо получать на каждое транспортное средство, перевозящее скоропортящиеся пищевые продукты, требующие особых условий перевозки и хранения.]
