section.service
  .container
    h2.section-title.slide-right #[span 01] Грузовой сервис
    .service__content
      .service__container.slide-up
        p.service__txt Квалифицированный персонал выполнит весь спектр ремонтных работ:
        ul.service__list.section-list
          each el in serviceList
            li #{el}
      .service__container.slide-left
        p.service__txt Мы обслуживаем и ремонтируем весь модельный ряд грузового коммерческого транспорта марок Mercedes-Benz, Kamaz, Hyundai, Fuso, Jac, а также строительной техники производителей UMG и XCMG. Техническая оснащенность сервиса, квалификация рабочих, а также применение оригинальных запчастей и расходных материалов гарантируют безупречное качество производимых работ.

