section.service-map
  .container
    h2.section-title.section-title_blue #[span 05] Мы ждем вас по адресам:
    .service-map__screen
  .service-map__image
    img(src=require('@/assets/img/service/map.jpg') alt="")
    .service-map__addres.slide-left
      .service-map__addres-logo
        img(src=require('@/assets/img/service/logo.svg') alt="")
      .service-map__addres-txt Санкт-Петербург, Парнас, ул. Верхняя 16, лит А
      .service-map__addres-hours Режим работы: Пн-Пт с 9:00 до 18:00
      .service-map__addres-phone
        span Телефон:
        span #[a(href="tel:+78124480625") +7 (812) 448-06-25]
    .service-map__addres.slide-up
      .service-map__addres-logo
        img(src=require('@/assets/img/service/logo.svg') alt="")
      .service-map__addres-txt Ленинградская обл., Тосненский р-н, пгт Красный Бор, ул. Промышленная, д. 3 (трасса М10/Е105, 39-й км Московского шоссе)
      .service-map__addres-hours Режим работы: ежедневно, с 10.00 до 21.00
      .service-map__addres-phone
        span Телефон:
        span #[a(href="tel:+78124954320") +7(812) 495 43 20] #[a(href="tel:+79216953701") +7(921) 695 37 01]

