@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

body
  width: 100%
  font-family: $font
  background: center/cover no-repeat url(../assets/img/back.jpg)
  position: relative
  box-sizing: border-box
  padding: 30px
  +screen($tablet)
    padding: 0

img
  max-width: 100%

a
  text-decoration: none
  letter-spacing: 0.15px

p
  letter-spacing: 0.15px

.wrapper
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  box-sizing: border-box
  padding: 0 20px
  width: 100%
  max-width: 1280px
  margin: 0 auto
  +screen($mobile)
    padding: 0 10px