@use 'components/reset'
@use 'components/fonts'
@use 'components/variables' as *
@use 'components/header'
@use 'components/adventure'
@use 'components/geography'
@use 'components/yourTeam' 
@use 'components/format' 
@use 'components/checked' 
@use 'components/anyLevel' 
@use 'components/legendary' 
@use 'components/declare' 
@use 'components/emotions' 
@use 'components/company' 
@use 'components/request' 
@use 'components/footer' 

body 
  min-width: 375px
  color: $black
  background:  #E5E5E5

  .wrapper
    max-width: 1440px
    margin: 0 auto
    overflow: hidden
    padding-top: 67px
    +media
      padding: 0

    

svg
  display: block

.previous-slide
  left: -100%
.current-slide
  left: 50%
  transform: translateX(-50%)
.next-slide
  left: 100%