@use 'components/fonts'
@use 'components/variables' as *
@use 'components/header'
@use 'components/adventure'
@use 'components/geography' 

body 
  min-width: 375px
  color: $black
  
svg
  display: block

.redBtn
  display: block
  color: $white
  background: $red
  text-transform: uppercase
  text-align: center
  letter-spacing: .04em