@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.about
  padding: 50px 0 64px

  &__content
    margin-top: 35px
    display: flex
    justify-content: space-between
    gap: 55px
    +screen(1200)
      gap: 20px

    &-block
      &:first-child
        flex-basis: 46.21%

      &:last-child
        flex-basis: 49.62%


      p
        +screen(1200)
          +font(16px, 26px)
        &:not(:first-child)
          margin-top: 30px

  &__image
    position: relative

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center

    &-caption
      position: absolute
      bottom: -14px
      right: -14px
      box-sizing: border-box
      padding: 16px
      color: $white
      +font(16px, 26px, 500)
      background-color: $blue-second
      max-width: 451px
