@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.index-news, .news
  padding: 25px 0 76px
  +screen($tablet)
    padding: 40px 0 59px

  &__grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 16px

  &__item
    margin-top: 40px

    &_new
      .index-news__item-image
        &:before
          content: 'Новое'
          width: 138px
          height: 45px
          display: flex
          align-items: center
          justify-content: center
          background-color: $yellow
          bottom: 0
          left: 0
          position: absolute

    &-image
      position: relative
      height: 232px

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

    &-content
      display: flex
      flex-direction: column

    &-date
      box-sizing: border-box
      padding-left: 25px
      position: relative
      color: $gray-second-light
      +font(14px, 18px, 350)
      margin-top: 30px

      &:before
        content: ''
        width: 16px
        height: 16px
        background: url(../assets/img/index/news/clock.svg) no-repeat center/cover
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 0

    &-title
      +font(18px, 24px, 700, $font-title)
      margin-top: 18px

    &-txt
      margin-top: 18px

    &-link
      margin-top: 30px
      width: 156px
