@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.partners
  padding: 0 0 88px
  +screen($tablet)
    padding: 0 0 40px

  &__desc
    max-width: 686px
    +screen($tablet)
      max-width: none
      width: 100%

  &__txt
    margin-top: 28px
    +screen($tablet)
      margin-top: 20px

  &__list
    display: flex
    margin: 56px auto 0
    align-items: center
    justify-content: space-between
    box-sizing: border-box
    padding: 0 72px
    gap: 20px
    +screen($tablet)
      margin-top: 20px
      padding: 0 10px
      gap: 0 34px
      justify-content: center
      flex-wrap: wrap

    li
      &:nth-child(1)
        +screen($tablet)
          width: 120px

      &:nth-child(2)
        +screen($tablet)
          width: 94px

      &:nth-child(3)
        +screen($tablet)
          width: 102px

      &:nth-child(4)
        margin-top: -38px
        +screen($tablet)
          width: 95px
          margin: 0

      &:nth-child(5)
        margin-top: -25px
        +screen($tablet)
          width: 98px
          margin: 0

      img
        max-width: 100%
        max-height: 100%
