@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.about-top
  padding: 46px 0 20px
  z-index: 2
  position: relative

  .container
    display: flex
    justify-content: space-between
    gap: 68px
    +screen($tablet)
      flex-direction: column
      gap: 30px

  &__txt
    &:not(:first-child)
      margin-top: 30px

  &__left
    height: 427px
    width: 427px
    flex-shrink: 0
    background-color: $blue-dark
    box-sizing: border-box
    padding:  0 36px
    margin-top: -125px
    color: $white
    display: flex
    flex-direction: column
    justify-content: center
    +screen($tablet)
      width: 100%
      margin-top: -90px
      height: 300px

    .about-top__txt
      +font(22px, 34px, 500)
      +screen($tablet)
        +font(20px, 28px, 500)

  &__title
    +font(28px, 38px, 500)
    +screen($tablet)
      +font(24px, 32px, 500)

