@use './variables' as *
  
=font($fontSize, $lineHeight, $fontFamily: $font-conf, $weight: 400)
  font: $weight #{$fontSize}/#{$lineHeight} $fontFamily

=screen($size)
  @if $size == $tablet
    @media only screen and #{$tablet}
      @content
  @else if $size == $mobile
    @media only screen and #{$mobile}
      @content
  @else
    @media only screen and #{$size}
      @content

=cancel-position
  position: inherit
  top: inherit
  bottom: inherit
  left: inherit
  right: inherit
  transform: none