$font-conf: 'ConfidentialC', sans-serif 
$font-dirty: 'DirtyHeadlineCyrillic', sans-serif 
$font-intro: 'IntroHeadB_Base', sans-serif 

// colors
$white: #FFFFFF
$black: #000
$black-lightest: #222
$green: #92d400
$orange: #ff6319
$yellow:  rgb(255, 182, 18)
$blue: #009fda
$blue-dark: #395e88
$red-light: #ce1312
$red: #c60c30
$error: #cb1312
$pink: #d82a98
$gray: #e4e4e4
$gray-dark: #acacac

// screen
$desktop-sm: '(max-width: 1260px)'
$tablet: '(max-width: 1024px)'
$tablet-sm: '(max-width: 768px)'
$mobile: '(max-width: 576px)'
$mobile-sm: '(max-width: 375px)'