.list
  .container
    .list__input
      input(type="text" name="addTask" id="addTask" placeholder="Поле ввода")
      button
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/plus.svg')}
    ul.list__block
