.controllers
  .controllers_container
    btn.controllers__btn.controllers__btn-plus
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/home/plus.svg')}
  .controllers_container
    btn.controllers__btn
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/home/minus.svg')}
