.page.map-filter
  .map-filter-img#map-filter
    | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/map/Mask.svg')}
  .map-filter-list
    .map-filter-list-item
      input(type='radio' name='filterMap' id='filterMap1').check-round
      label(for='filterMap1') OSM
    .map-filter-list-item
      input(type='radio' name='filterMap' id='filterMap2').check-round
      label(for='filterMap2') СНГ
    .map-filter-list-item
      input(type='radio' name='filterMap' id='filterMap3').check-round
      label(for='filterMap3') OSM1
    .map-filter-list-item
      input(type='radio' name='filterMap' id='filterMap4').check-round
      label(for='filterMap4') OSM2
    .map-filter-list-item
      input(type='radio' name='filterMap' id='filterMap5').check-round
      label(for='filterMap5') OSM3
