header.header
  .container
    .header__logo
      img(src=require('@/assets/img/header/logo.svg') alt="SOTRANS")
    .header__menu
      nav.menu
        each el in headerMenu
          a(hjref=el.url) #{el.txt}
      button.header__request.header__request_mobile.orange-btn Оставить заявку
    button.header__request.orange-btn Оставить заявку
    button.header__burger

