//- variables
block variables
  include ../../abstracts/variables

//- mixins
include ../../mixins/rent-point

doctype html
html(lang="en")
  head
    include head
  body
    include header
    main.main
      block content
    include footer
