//- variables
block variables
  include ../../abstracts/variables

//- mixins
include ../../mixins/rent-point

doctype html
html(lang="en")
  head
    include head
  body
    <!-- Preloader -->
    include ../../components/preloader
    <!-- Contact form -->
    button.contact-form-btn
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/contact-form/form-icon.svg')}
    include ../../components/contact-form
    include header
    main.main
      block content
    include footer
