@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.faq
  .container
    display: flex
    flex-direction: column

    .drops
      display: flex
      flex-direction: column
      gap: 8px

      .drop-container
        transition: height ease 0.5s
        overflow: hidden
        display: flex
        flex-direction: column
        border-radius: 12px
        border: 2px solid $grey

        .drop
          transition: height ease-in-out 0.3s
          overflow: hidden

          .drop__top
            cursor: pointer
            align-items: center
            padding: 24px
            display: flex
            justify-content: space-between
            gap: 8px

            &:hover
              .drop__title
                color: $orange

            svg
              transition: transform ease 0.3s
              min-width: 24px
              min-height: 24px

            &.active
              svg
                transform: rotate(180deg)

          .drop__title
            transition: color ease 0.3s
            font-weight: 500
            font-size: 20px
            line-height: 24px
            letter-spacing: 0.2px
            +screen(1024)
              font-size: 16px


          .drop__bottom
            transition: height ease-in-out 0.5s
            overflow: hidden
            padding: 24px
            padding-top: 0

            .drop__text
              +screen(1024)
                font-size: 14px

    .docs
      margin-top: 32px
      display: grid
      grid-template-columns: repeat(auto-fill, minmax(312px, 1fr))
      grid-gap: 24px
      +screen(1024)
        grid-gap: 16px
        margin-top: 20px

      .docs__card
        cursor: pointer
        border-radius: 12px
        background-color: $grey
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 16px
        padding: 24px

        &:hover
          .docs__card-title
            color: $orange

        .docs__card-title
          transition: color ease 0.3s
          font-weight: 500
          font-size: 20px
          text-align: center
          line-height: 24px
          +screen(1024)
            font-size: 16px

        .docs__card-button
          display: flex
          align-items: center
          justify-content: center
          gap: 8px
          font-weight: 500
          font-size: 16px
          line-height: 20px
          border: none
          border-radius: 8px
          width: 100%
          padding: 14px 85px
          background: linear-gradient(90deg, #E95A2C 0%, #E9A92C 100%)
          color: $white
          +screen(1024)
            font-size: 16px










