@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.rent
  .container
    display: flex
    flex-direction: column

    .rent__cards-container
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(312px, 1fr))
      grid-gap: 24px

      .rent__card
        border-radius: 12px
        background: $grey
        padding: 24px
        display: flex
        flex-direction: column
        gap: 20px
        +screen($tablet)
          padding: 20px

        .card__top
          display: flex
          gap: 12px

          .card__icon
            width: 48px
            height: 48px
            svg
              width: 48px
              height: 48px

          .card__title
            width: min-content
            font-size: 20px
            font-weight: 500
            line-height: 24px
            letter-spacing: 0.2px

        .card__bottom
          .card__list
            display: flex
            gap: 12px
            flex-direction: column
            .card__list-item
              +font(16px, 24px)

  &__maps
    margin-top: 40px
    +screen($tablet)
      margin-top: 32px

    &-map
      height: 100%
      border-radius: 16px
      overflow: hidden
      pointer-events: auto
      +screen($tablet)
        height: 312px

    &-container
      margin-top: 32px
      display: flex
      gap: 24px
      +screen($tablet)
        margin-top: 20px

    &-title
      +font(24px, 32px, 700)
      +screen($tablet)
        +font(20px, 24px, 500)

    &-items,
    &-buttons
      width: calc(50% - 12px)
      +screen($tablet)
        width: 100%

    &-items
      display: flex
      +screen($tablet)

    &-item
      h4
        display: none
        +screen($tablet)
          margin-top: 8px
          display: flex
          min-height: 120px
          align-items: center
          justify-content: center
          border-radius: 12px
          background-color: $grey
          padding: 20px
          gap: 15px
          +font(16px, 20px, 500)

      svg
        flex-shrink: 0

    &-buttons
      height: 344px
      +screen($tablet)
        display: none

    &-btn
      cursor: pointer
      padding: 16px
      border-radius: 12px
      background-color: $grey
      display: flex
      gap: 15px
      align-items: center
      +font(16px, 20px, 500)

      &.swiper-slide-thumb-active
        background: linear-gradient(90deg, #E95A2C 0%, #E9A92C 100%)
        color: $white

        svg
          path
            fill: $white

      svg
        flex-shrink: 0

    .swiper
      &.swiper_main
        +screen($tablet)
          padding-bottom: 12px

        .swiper
          &-pagination
            display: none
            +screen($tablet)
              display: flex
              gap: 4px
              align-items: center
              justify-content: center
              top: calc(100% - 2px)

            &-bullet
              margin: 0
              width: 8px
              height: 4px
              border-radius: 4px
              transition: width .3s
              background-color: #E8E8E8
              opacity: 1

              &-active
                width: 20px
                background-color: $orange
