@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.rent
  .container
    display: flex
    flex-direction: column

    .rent__cards-container
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(312px, 1fr))
      grid-gap: 24px

      .rent__card
        border-radius: 12px
        background: $grey
        padding: 24px
        display: flex
        flex-direction: column
        gap: 20px
        +screen($tablet)
          padding: 20px

        .card__top
          display: flex
          gap: 12px

          .card__icon
            width: 48px
            height: 48px
            svg
              width: 48px
              height: 48px

          .card__title
            width: min-content
            font-size: 20px
            font-weight: 500
            line-height: 24px
            letter-spacing: 0.2px

        .card__bottom
          .card__list
            display: flex
            gap: 12px
            flex-direction: column
            .card__list-item
              +font(16px, 24px)



