// font
$font: 'Geologica', sans-serif

// colors
$black-light: rgba(255, 255, 255, 0.2)
$black: #020A0A
$white: #fff
$orange-light: #F96A38
$orange: #EA5C2A

// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
