@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

.breadcrumbs
  width: 100%
  padding-top: 20px
  background-color: $white
  z-index: 9
  display: flex
  align-items: center
  +screen($tablet)
    padding-top: 16px

  &__list
    display: flex
    flex-wrap: wrap

  &__item
    +font(16px, 20px)
    position: relative
    +screen($desktop)
      +font(14px, 20px)

    a
      color: #A8A8A8
      &:hover:not(:active)
        color: $black

    &:not(:last-child)
      margin-right: 17px

      &:after
        content: '/'
        position: absolute
        right: -13px
        top: 0
        color: #A8A8A8

