@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.news-card
  position: relative
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: flex-start
  transition: filter .3s, margin-top .3s

  &:hover
    .news-card
      &__title
        color: $orange

      &__image
        &:after
          visibility: visible
          opacity: 1

  &__image
    height: 220px
    width: 100%
    position: relative
    +screen($desktop)
      height: 170px
    +screen($tablet)
      height: 184px

    &:after
      content: ''
      width: 50px
      height: 50px
      background: $orange url(../assets/img/news/arrow.svg) center no-repeat
      position: absolute
      bottom: 0
      right: 0
      visibility: hidden
      opacity: 0
      transition: opacity .3s, visibility .3s
      +screen($desktop)
        width: 40px
        height: 40px


    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center

  &__date
    box-sizing: border-box
    +font(16px, 26px)
    margin-top: 10px
    color: #A8A8A8
    +screen($desktop)
      +font(14px, 26px)

  &__title
    +font(20px, 23px, 700)
    margin-top: 12px
    height: 48px
    +txt-overflow(2)
    transition: color .3s
    +screen($desktop)
      height: 42px
      margin-top: 8px
      +font(18px, 24px, 700)
