-
  //- header
  headerLinks = [
    {
      txt: 'О компании',
      href: ''
    }, {
      txt: 'Продукция',
      href: ''
    },
    {
      txt: 'Оборудование',
      href: ''
    },
    {
      txt: 'Дилерство',
      href: ''
    },
    {
      txt: 'Новости',
      href: ''
    },
    {
      txt: 'Контакты',
      href: ''
    },
    {
      txt: 'Поиск по сайту',
      href: ''
    },
  ]

  //- questions
  questionsList = [
    'У вас есть собственный тягач, но уровень дохода вас не устраивает?',
    'Вы до сих пор ищите рейсы в АТИ?',
    'Вы все еще ждёте оплаты от непроверенных заказчиков?',
    'Ремонт в незнакомых сервисах некачественный и дорогой?',
    'Вы терпите высокие издержки на топливо?',
    'Вам приходится  покупать дорогие запчасти?'
  ]
