-
  //- header
  headerLinks = [
    {
      txt: 'О компании',
      href: ''
    }, {
      txt: 'Продукция',
      href: ''
    },
    {
      txt: 'Оборудование',
      href: ''
    },
    {
      txt: 'Дилерство',
      href: ''
    },
    {
      txt: 'Новости',
      href: ''
    },
    {
      txt: 'Контакты',
      href: ''
    },
    {
      txt: 'Поиск по сайту',
      href: ''
    },
  ]

  //- questions
  questionsList = [
    'У вас есть собственный тягач, но уровень дохода вас не устраивает?',
    'Вы до сих пор ищите рейсы в АТИ?',
    'Вы все еще ждёте оплаты от непроверенных заказчиков?',
    'Ремонт в незнакомых сервисах некачественный и дорогой?',
    'Вы терпите высокие издержки на топливо?',
    'Вам приходится  покупать дорогие запчасти?'
  ]

  //- actions
  actionsList = [
    '<span>1</span> Свяжитесь с нами или оставьте контактную информацию',
    '<span>2</span> Узнайте подробности о сотрудничестве у нашего специалиста',
    '<span>3</span> Заключите договор с нашей компанией',
    '<span>4</span> Передайте технику и водителя под наше управление',
    '<span>5</span> Получайте прибыль!',
  ]

  //- pluses
  plusesList = [
    {
      img: require('@/assets/img/pluses/trailer.svg'),
      txt: 'Аренда нового прицепа <br> БЕСПЛАТНО'
    },
    {
      img: require('@/assets/img/pluses/repair.svg'),
      txt: 'Быстрая замена прицепа при <br> техническом обслуживании'
    },    {
      img: require('@/assets/img/pluses/shipment.svg'),
      txt: 'Гарантированная погрузка во <br> всех городах России'
    },
    {
      img: require('@/assets/img/pluses/payment.svg'),
      txt: 'Оплаты в срок (за пробег <br> или за смену)'
    },
    {
      img: require('@/assets/img/pluses/hours.svg'),
      txt: 'Диспетчеризация ваших водителей <br> 24/7'
    },
    {
      img: require('@/assets/img/pluses/map.svg'),
      txt: 'Точки сдачи документов в 15 <br> городах РФ'
    },
  ]
