-
  //- header
  headerLinks = [
    {
      txt: 'О компании',
      href: ''
    }, {
      txt: 'Продукция',
      href: ''
    },
    {
      txt: 'Оборудование',
      href: ''
    },
    {
      txt: 'Дилерство',
      href: ''
    },
    {
      txt: 'Новости',
      href: ''
    },
    {
      txt: 'Контакты',
      href: ''
    },
    {
      txt: 'Поиск по сайту',
      href: ''
    },
  ]

  //- questions
  questionsList = [
    'У вас есть собственный тягач, но уровень дохода вас не устраивает?',
    'Вы до сих пор ищите рейсы в АТИ?',
    'Вы все еще ждёте оплаты от непроверенных заказчиков?',
    'Ремонт в незнакомых сервисах некачественный и дорогой?',
    'Вы терпите высокие издержки на топливо?',
    'Вам приходится  покупать дорогие запчасти?'
  ]

  //- actions
  actionsList = [
    '<span>1</span> Свяжитесь с нами или оставьте контактную информацию',
    '<span>2</span> Узнайте подробности о сотрудничестве у нашего специалиста',
    '<span>3</span> Заключите договор с нашей компанией',
    '<span>4</span> Передайте технику и водителя под наше управление',
    '<span>5</span> Получайте прибыль!',
  ]

  //- pluses
  plusesList = [
    {
      img: require('@/assets/img/pluses/trailer.svg'),
      txt: 'Аренда нового прицепа <br> БЕСПЛАТНО',
    },
    {
      img: require('@/assets/img/pluses/repair.svg'),
      txt: 'Быстрая замена прицепа при <br> техническом обслуживании',
      delay: 150
    },    {
      img: require('@/assets/img/pluses/shipment.svg'),
      txt: 'Гарантированная погрузка во <br> всех городах России',
      delay: 300
    },
    {
      img: require('@/assets/img/pluses/payment.svg'),
      txt: 'Оплаты в срок (за пробег <br> или за смену)'
    },
    {
      img: require('@/assets/img/pluses/hours.svg'),
      txt: 'Диспетчеризация ваших водителей <br> 24/7',
      delay: 150
    },
    {
      img: require('@/assets/img/pluses/map.svg'),
      txt: 'Точки сдачи документов в 15 <br> городах РФ',
      delay: 300
    },
  ]

  //- extra
  extraList =[
    'Выгодные цены на топливо, топливные карты с авансом на рейс',
    'Индивидуальные условия на автозапчасти и шины в федеральной сети магазинов Сотранс',
    'Скидки на ремонт и ГТО в сети СТО Техцентры Сотранс',
    'Особые условия на полисы КАСКО/ОСАГО'
  ]

  //- production
  productionSlider = [
    {
      img: require('@/assets/img/production/1.jpg'),
      txt: 'Кузов - шторный, тентованный, есть возможность полной растентовки.'
    },
    {
      img: require('@/assets/img/production/2.jpg'),
      txt: 'Комплектующие премиального уровня, высокая степень локализации'
    },
    {
      img: require('@/assets/img/production/3.jpg'),
      txt: 'Пневматическая подвеска'
    },
    {
      img: require('@/assets/img/production/4.jpg'),
      txt: 'Дисковая тормозная система'
    },
    {
      img: require('@/assets/img/production/5.jpg'),
      txt: 'Качественные всесезонные покрышки'
    },
    {
      img: require('@/assets/img/production/6.jpg'),
      txt: 'Электронная система торможения (EBS)'
    },
  ]

  //- rent
  rentPoints = [
    {
      modifier: 'top-left',
      icon: require('@/assets/img/rent/icons/semi-trailer.svg'),
      point: require('@/assets/img/rent/points/top-left.svg'),
      txt: 'Кузов и все элементы <br> рамы полностью <br> оцинкованы.',
      delay: 300
    },
    {
      modifier: 'top-right',
      icon: require('@/assets/img/rent/icons/brake.svg'),
      point: require('@/assets/img/rent/points/top-right.svg'),
      txt: 'Электронная система торможения Wabco (EBS)',
      delay: 600
    },
    {
      modifier: 'bottom-left',
      icon: require('@/assets/img/rent/icons/fittings.svg'),
      point: require('@/assets/img/rent/points/bottom-left.svg'),
      txt: 'Качественная фурнитура: 4 петли и 2 <br> штанги на дверь (штанги внутри <br> алюминиевого профиля  дверей)',
      delay: 600
    },
    {
      modifier: 'bottom-center',
      icon: require('@/assets/img/rent/icons/wheel.svg'),
      point: require('@/assets/img/rent/points/bottom-center.svg'),
      txt: 'Колеса с бескамерными шинами <br> 385/65 R22,5 рисунок протектора <br> дорожный.',
      delay: 150
    },
    {
      modifier: 'bottom-right',
      icon: require('@/assets/img/rent/icons/axis.svg'),
      point: require('@/assets/img/rent/points/bottom-right.svg'),
      txt: 'Оси BPW и SAF',
      delay: 150
    },
    {
      modifier: 'middle',
      icon: require('@/assets/img/rent/icons/frame.svg'),
      point: require('@/assets/img/rent/points/middle.svg'),
      txt: 'Рама шасси - из высокопрочной <br> стали Powerweld/Powerform',
      delay: 300
    }
  ]
