-
  //- header
  headerLinks = [
    {
      txt: 'О компании',
      href: ''
    }, {
      txt: 'Продукция',
      href: ''
    },
    {
      txt: 'Оборудование',
      href: ''
    },
    {
      txt: 'Дилерство',
      href: ''
    },
    {
      txt: 'Новости',
      href: ''
    },
    {
      txt: 'Контакты',
      href: ''
    },
    {
      txt: 'Поиск по сайту',
      href: ''
    },
  ]
