@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.colored-point
  width: 72px
  height: 72px
  position: relative
  z-index: 1
  display: flex
  align-items: center
  justify-content: center

  &.active
    .colored-point__inner
      width: 48px
      height: 48px

  &__inner
    border-radius: 50%
    width: 32px
    height: 32px
    position: relative
    transition: .4s

    &:after
      animation: pulse 4s infinite
      content: ''
      position: absolute
      width: 48px
      height: 48px
      border-radius: 50%
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      z-index: 0
      opacity: .3

    &:hover
      &:after
        width: 48px
        height: 48px

@each $modifier, $color in $colored-list
  .colored-point__inner_#{$modifier}
    background-color: $color

    &:after
      background-color: $color

