@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.desc-item
  text-transform: uppercase
  text-align: right

  &__title
    +font(36px, 36px, 700)

    span
      font-size: 30px

  &__sub-title
    +font(20px, 20px)
    margin-top: 4px
