@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.contacts
  padding-bottom: 40px

  .section-title
    margin-bottom: 48px
    +screen($tablet)
      margin-bottom: 28px

  &__grid
    display: grid
    grid-gap: 36px
    grid-template-columns: repeat(3, 1fr)
    +screen($desktop)
      grid-gap: 24px
    +screen($tablet)
      grid-template-columns: 1fr
      grid-gap: 20px

  &__item
    background-color: $grey-light
    border-radius: 24px
    overflow: hidden


    &-title
      margin-bottom: 20px
      +font(28px, 32px, 700)
      +screen($desktop)
        margin-bottom: 16px
        +font(24px, 28px, 700)
      +screen($tablet)
        +font(20px, 24px, 700)

    &-phone, &-mail, &-time
      box-sizing: border-box
      padding-left: 40px
      position: relative
      +font(24px, 36px)

      &:before
        content: ''
        width: 24px
        height: 24px
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)

    &-phone
      &:before
        background: url(../assets/img/contacts/phone.svg) no-repeat center/contain

    &-mail
      &:before
        background: url(../assets/img/contacts/mail.svg) no-repeat center/contain

    &-time
      &:before
        background: url(../assets/img/contacts/time.svg) no-repeat center/contain

