@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.pluses
  .section-title
    margin-bottom: 48px
    +screen($tablet)
      margin-bottom: 28px

  &__grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(416px, 1fr))
    grid-gap: 24px
    +screen($tablet)
      grid-template-columns: 1fr

  &__item
    box-sizing: border-box
    padding: 24px
    border-radius: 24px
    display: flex
    flex-direction: column
    gap: 16px
    background: $grey-light url(../assets/img/advantage/card.png) no-repeat top right
    +screen($tablet)
      padding: 16px
      min-height: 160px

    &-title
      +font(36px, 48px, 500)
      +screen($desktop)
        +font(32px, 40px, 500)
      +screen($tablet)
        +font(28px, 36px, 500)

    &-txt
      +font(24px, 36px)
      +screen($desktop)
        +font(20px, 24px)
      +screen($tablet)
        +font(16px, 20px)

    &-img
      width: 360px
      margin: auto
      +screen($desktop)
        width: 300px
      +screen($tablet)
        width: 222px
