@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.promo
  .section-block
    +screen($tablet)
      flex-basis: auto !important

    &:first-child
      flex-basis: 67.27%
      flex-shrink: 0

    &:last-child
      flex-basis: 32.73%

  .section-image
    display: flex
    +screen($tablet)
      min-height: 200px
      align-items: center

  &__content
    background-color: #F4F4F4
    border-radius: 40px
    display: flex
    gap: 36px
    width: 100%
    box-sizing: border-box
    padding: 54px 64px
    +screen($desktop)
      padding: 40px 48px
      gap: 24px
    +screen($tablet)
      padding: 16px
      gap: 24px
      flex-direction: column

