@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.repair
  box-sizing: border-box
  padding: 252px 0 152px
  background: url(../assets/img/repair/bg.jpg) no-repeat center/cover
  +screen($desktop)
    padding: 300px 0 232px
  +screen($tablet)
    padding: 191px 0 128px

  .container
    display: flex
    justify-content: space-between
    align-items: center
    gap: 40px
    +screen($tablet)
      flex-direction: column-reverse
      align-items: flex-start
      gap: 28px

  &__image
    flex-basis: 57.23%
    +screen($tablet)
      flex-basis: auto

    img
      width: 100%
      height: 100%
      object-fit: contain
      object-position: center

  &__title
    flex-basis: calc(42.77% - 40px)
    display: flex
    flex-direction: column
    +font(112px, 88px, 700)
    justify-content: center
    +screen($desktop)
      +font(86px, 64px, 700)
    +screen($tablet)
      +font(40px, 36px, 700)
      flex-basis: auto

    span
      color: $orange
