-
  sliderItems = [
    {
      image: require("@/assets/img/slider/slide.png"),
      title: 'Как бизнесу сохранять <br>IT-кадры на фоне кризиса',
      desc: 'Инструменты, которые могут использовать компании для удержания сотрудников',
      btn: 'Подробнее',
      btnHref: 'javascript:'
    },
    {
      image: require("@/assets/img/slider/slide.png"),
      title: 'Как бизнесу сохранять <br> IT-кадры на фоне кризиса',
      desc: 'Инструменты, которые могут использовать компании для удержания сотрудников',
      btn: 'Подробнее',
      btnHref: 'javascript:'
    },
    {
      image: require("@/assets/img/slider/slide.png"),
      title: 'Как бизнесу сохранять <br> IT-кадры на фоне кризиса',
      desc: 'Инструменты, которые могут использовать компании для удержания сотрудников',
      btn: 'Подробнее',
      btnHref: 'javascript:'
    }
  ]

  footerContacts = [
    {txt: 'Готовые решения', href: 'javascript:'},
    {txt: 'О нас', href: 'javascript:'},
    {txt: 'Блог', href: 'javascript:'},
    {txt: 'Контакты', href: 'javascript:'}
  ]

  footerSocials = [
    {icon: require("@/assets/img/socials/tg.svg"), href: 'javascript:', alt: 'telegram'},
    {icon: require("@/assets/img/socials/vk.svg"), href: 'javascript:', alt: 'vk'},
    {icon: require("@/assets/img/socials/t.svg"), href: 'javascript:', alt: 'twitter'},
    {icon: require("@/assets/img/socials/y.svg"), href: 'javascript:', alt: 'youtube'}
  ]
