-
  footerContacts = [
    {txt: 'Готовые решения', href: 'javascript:'},
    {txt: 'О нас', href: 'javascript:'},
    {txt: 'Блог', href: 'javascript:'},
    {txt: 'Контакты', href: 'javascript:'}
  ]

  footerSocials = [
    {icon: require("@/assets/img/socials/tg.svg"), href: 'javascript:', alt: 'telegram'},
    {icon: require("@/assets/img/socials/vk.svg"), href: 'javascript:', alt: 'vk'},
    {icon: require("@/assets/img/socials/t.svg"), href: 'javascript:', alt: 'twitter'},
    {icon: require("@/assets/img/socials/y.svg"), href: 'javascript:', alt: 'youtube'}
  ]
