@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.footer
  background-color:  #F4F4F4

  &__top
    display: flex
    align-items: center
    justify-content: space-between
    padding: 40px 0
    height: 136px
    box-sizing: border-box

  &__logo
    width: 223px
    height: 56px

  &__info
    +font(14px, 20px)
    display: flex
    align-items: center
    justify-content: center
    gap: 30px
    flex-wrap: wrap

  &__contacts
    box-sizing: border-box
    padding: 22px 20px 27px 67px
    background-color: white
    margin-top: -43px

    &-item
      display: flex
      position: relative
      +font(18px, 28px, 500)

      svg
        +centering-y

      &_phone
        margin-top: 15px
        position: relative

        &:after
          content: 'круглосуточно'
          position: absolute
          top: 100%
          left: 0
          +font(16px, 17px)
          color: #898989

        svg
          width: 19px
          height: 20px
          left: -31px

          path
            fill: $orange

      &_mail
        margin-top: 30px

        svg
          width: 22px
          height: 14px
          left: -32px

  &__bottom
    display: flex
    justify-content: center
    padding: 7px 0
    +font(12px, 19px)
    border-top: 1px solid #DFDFDF

