@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.footer
  background-color:  #F4F4F4
  z-index: 1

  .container
    +screen($tablet)
      padding: 0 20px

  &_policy
    .footer__contacts
      box-shadow: 0 8px 29px rgba(0, 0, 0, 0.2)

  &__top
    display: flex
    align-items: center
    justify-content: space-between
    padding: 40px 0
    height: 136px
    box-sizing: border-box
    +screen($tablet)
      flex-direction: column
      height: auto
      align-items: flex-start
      gap: 30px
      padding: 30px 0 0

  &__logo
    width: 280px
    height: 70px
    +screen(1500)
      width: 223px
      height: 56px

  &__info
    +font(14px, 20px)
    display: flex
    align-items: center
    justify-content: center
    gap: 30px
    flex-wrap: wrap
    +screen($tablet)
      +font(16px, 20px)
      flex-direction: column
      align-items: flex-start
      gap: 20px

  &__contacts
    box-sizing: border-box
    padding: 22px 50px 27px 67px
    background-color: white
    margin-top: -43px
    +screen($tablet)
      margin: 0
      width: 100%
      padding: 22px 20px 27px 54px

    &-item
      display: flex
      position: relative
      +font(18px, 28px, 500)

      svg
        +centering-y

      &_phone
        margin-top: 15px
        position: relative

        &:after
          content: 'круглосуточно'
          position: absolute
          top: 100%
          left: 0
          +font(16px, 17px)
          color: #898989

        svg
          width: 19px
          height: 20px
          left: -31px

          path
            fill: $orange

      &_mail
        margin-top: 30px

        svg
          width: 22px
          height: 14px
          left: -32px

  &__bottom
    display: flex
    justify-content: space-between
    align-items: center
    +font(15px, 19px)
    border-top: 1px solid #DFDFDF
    text-align: center
    padding: 15px 0
    +screen(1500)
      padding: 7px 0
      +font(12px, 19px)
    +screen($tablet)
      border: none
      padding: 16px
      +font(13px, 19px)

    a
      position: relative

      &:after
        content: ''
        width: 100%
        height: 1px
        background-color: $black
        position: absolute
        left: 0
        bottom: 2px
