@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.header
  height: 70px
  padding-top: 25px
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 10

  .container
    display: flex
    align-items: center
    justify-content: space-between

  &__logo
    width: 182px
    height: 45px

  &__menu
    display: flex
    align-items: center
    gap: 38px

    &-item
      +font(18px, 32px, 500)
      color: $white
      position: relative

      &:after
        content: ''
        width: 5px
        height: 5px
        border-radius: 50%
        background-color: $white
        transition: opacity .3s, visibility .3s
        +centering-x
        top: calc(100% + 1px)
        visibility: hidden
        opacity: 0

      &:hover
        &:after
          visibility: visible
          opacity: 1

  &__phone
    display: flex
    align-items: center
    +font(16px, 32px, 500)
    color: $white

    span
      margin-left: 6px

    svg
      width: 13px
      height: 14px
