extends ../layouts/dev/layout

block title
  | Аренда полуприцепов SOTRANS

block content
  .dev
    .dev__logo
      img(src=require('@/assets/img/dev/logo.svg') alt="")
    .dev__title На сайте ведутся #[br] технические работы
    .dev__image
      img(src=require('@/assets/img/dev/img.svg') alt="")
    .dev__contacts
      a.dev__link(href="tel:78124954202")
        img(src=require('@/assets/img/dev/phone.svg') alt="")
        span +7 (812) 495-42-02
      a.dev__link(href="mailto:info@mz-sotrans.ru")
        img(src=require('@/assets/img/dev/mail.svg') alt="")
        span info@mz-sotrans.ru

