extends ../layouts/main/layout.pug

append variables
  -
    tabButtons = tabButtonsSemitrailerCurtain
    tabLeftDesc = tabLeftDescSemitrailerCurtain
    tabLeftImage = tabLeftImageSemitrailerCurtain
    tabLeftGif = tabLeftGifSemitrailerCurtain
    tabRightDesc = tabRightDescSemitrailerCurtain
    tabRightImage = tabRightImageSemitrailerCurtain

block title
  | Аренда полуприцепов SOTRANS

block content
  include ../sections/main/intro-section.pug
  include ../sections/main/rent-condition-section.pug
  include ../sections/main/specs
  include ../sections/main/service-section.pug
  include ../sections/main/product-tabs
  include ../sections/main/cert
  include ../sections/main/advantages-section.pug
  include ../sections/main/faq-section.pug
  include ../sections/main/request
  include ../sections/main/map-section.pug

