extends ../layouts/docs/layout.pug

block title
  | Аренда полуприцепов SOTRANS

block content
  section.docs
    .container
      h2.section-title Политика в отношении обработки персональных данных
      .docs__container
        each el in policyList
          .docs__block
            h3.docs__block-title #{el.title}
            .docs__block-txt
              each item in el.txt
                p #{item}
