@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.catalog
  box-sizing: border-box
  padding-top: 125px
  z-index: 1
  +screen($tablet-sm)
    padding-top: 200px
  +screen($tablet-xs)
    padding-top: 130px
  +screen($mobile)
    padding-top: 50px

  &[data-lazyloaded]
    background: url(../../../assets/img/catalog-l.webp) 25% center no-repeat, url(../../../assets/img/catalog-r.png) 75% center no-repeat

  .container
    +screen($tablet-sm)
      padding: 0 20px
      box-sizing: border-box

  .catalog-card
    margin: 15px
    +screen($tablet-xs)
      margin: 15px 0

  &__cards
    display: flex
    justify-content: center
    flex-wrap: wrap
    +screen($tablet-xs)
      flex-flow: column nowrap
      align-items: center
      justify-content: flex-start

    .catalog-card
      +screen($tablet-xs)
        &__bottom
          border-left: none

  &__link
    margin-top: 108px
    align-self: center
    +screen($tablet-xs)
      margin-top: 15px
      width: 100%
      height: 60px
      +font(16px, 22px, bold)
