@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.production
  box-sizing: border-box
  padding: 40px 0

  .container
    box-sizing: border-box
    +screen($tablet-sm)
      padding: 0 20px

  .content
    padding: 0
