@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.service
  box-sizing: border-box
  padding-top: 125px
  z-index: 1
  position: relative
  +screen($tablet-xs)
    padding-top: 65px

  .container
    +screen($tablet)
      padding: 0 20px
      box-sizing: border-box

  &__back
    position: absolute
    top: 0
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    max-width: 1920px
    width: 100%
    height: 1378px
    +screen($mobile)
      height: 1555px

    &[data-lazyloaded]
      background: url(../../../assets/img/bg-service.png) no-repeat center

  &__decor
    position: absolute
    right: 0
    top: 58%
    transform: translateY(-42%)
    +screen($tablet)
      display: none

  &__grid
    display: flex
    flex-wrap: wrap
    align-items: flex-start

  &__item
    position: relative
    flex-shrink: 0
    box-sizing: border-box
    padding: 0 15px
    color: $white
    overflow: hidden
    +screen($desktop-m)
      width: 25% !important
    +screen($tablet)
      width: calc(100%/3 - 20px/3) !important
      height: 200px !important
      padding: 0 !important
    +screen($tablet-sm)
      width: calc( 50% - 5px) !important
    +screen($tablet-xs)
      width: 100% !important
      height: 225px !important

    &-image
      z-index: 1
      width: 100%
      height: 100%
      overflow: hidden
      position: relative

      img
        object-fit: cover
        vertical-align: middle
        width: 100%
        height: 100%

    &:before
      content: ''
      position: absolute
      left: 25px
      right: 25px
      top: 10px
      bottom: 10px
      display: block
      border: 2px solid $white
      z-index: 2
      transition: .3s ease-out
      +screen($tablet)
        border: 1px solid $white
        left: 10px
        right: 10px

    &:after
      content: ''
      position: absolute
      left: 15px
      right: 15px
      top: 0
      bottom: 0
      display: block
      background-color: $black-base
      z-index: 1
      opacity: .5
      transition: .3s ease-out
      +screen($tablet)
        left: 0
        right: 0

    &:hover
      &:before
        left: 21px
        right: 21px
        top: 6px
        bottom: 6px
        border-width: 4px
        +screen($tablet)
          display: none

      &:after
        opacity: .8

      .service__item-link
        height: 40px
        border: 2px solid $white
        margin-top: 20%
        +screen($tablet)
          margin-top: 0

    &-desc
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      z-index: 3
      text-align: center
      display: flex
      flex-direction: column
      align-items: center
      +screen($tablet)
        width: calc(100% - 20px)
        height: 100%
        box-sizing: border-box
        padding: 40px 0
        justify-content: center
      +screen($tablet-xs)
        padding: 30px 0

    &-text
      color: $white
      +font(16px, 20px, 700)
      text-transform: uppercase
      +screen($tablet)
        width: 100%
        font-size: 14px
        box-sizing: border-box
        padding: 10px 20px

    &-link
      color: $white
      height: 0
      margin-top: 0
      border: none
      transition-duration: .4s
      padding: 0 20px
      +screen($tablet)
        padding: 0 15px
        height: 40px
        border: 2px solid $white
        margin: 10px 0

      &:hover
        color: $black
        background-color: $white

    &:first-child
      margin-top: 80px
      width: 300px
      height: 225px
      +screen($tablet)
        margin: 15px 0

    &:nth-child(2)
      width: 225px
      height: 370px

    &:nth-child(3)
      margin-top: 40px
      width: 225px
      height: 250px
      +screen($tablet)
        margin: 15px 0

    &:nth-child(4)
      margin-top: 120px
      width: 225px
      height: 225px
      +screen($tablet)
        margin: 15px 0

    &:nth-child(5)
      margin: -35px 0 0 75px
      width: 225px
      height: 225px
      +screen($desktop-m)
        margin: -35px 0 0 0
      +screen($tablet)
        margin: 15px 0

    &:nth-child(6)
      margin-top: 30px
      width: 225px
      height: 250px
      +screen($tablet)
        margin: 15px 0

    &:nth-child(7)
      margin-top: -50px
      width: 225px
      height: 370px
      +screen($tablet)
        margin: 15px 0

    &:nth-child(8)
      margin-top: 5px
      width: 300px
      height: 225px
      +screen($tablet)
        margin: 15px 0

  &__item
    +screen($tablet)
      margin: 15px 0

    &:nth-child(3n+1),
    &:nth-child(3n+2)
      +screen($tablet)
        margin-right: 10px
      +screen($tablet-sm)
        margin-right: 0

    &:nth-child(2n+1)
      +screen($tablet-sm)
        margin-right: 10px
      +screen($tablet-xs)
        margin-right: 0
