.pagination
  .pagination-container
    .pagination-btn-prev.disabled
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/arrow-lef-light.svg')}
    .pagination-line
      .pagination-line-btn.active
        span 1
      .pagination-line-btn.next
        span 2
      .pagination-line-btn
        span 3
      .pagination-line-btn
        span 4
      .pagination-line-btn
        span 5
      .pagination-line-btn
        span ...
      .pagination-line-btn
        span 10
    .pagination-btn-next.active
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/arrow-next-black.svg')}
