@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.about
  background-color: $orange
  color: $white
  padding: 70px 0 90px
  +screen($tablet)
    padding: 61px 0 36px

  .container
    display: flex
    gap: 70px
    +screen($tablet)
      flex-direction: column
      gap: 36px

  &__container
    &:first-child
      flex-basis: 52%
      +screen($tablet)
        flex-basis: auto

    &:last-child
      display: flex
      flex-direction: column
      justify-content: space-between
      padding-top: 20px
      +screen($tablet)
        gap: 30px

    p
      margin-top: 25px
      +font(18px, 31px, 500)
      +screen($tablet)
        +font(16px, 28px, 500)

  &__item
    display: flex
    align-items: center
    +font(22px, 28px, 700)
    +screen($tablet)
      +font(20px, 24px, 700)
      align-items: flex-start

    b
      +font(36px, 28px, 700)
      +screen($tablet)
        +font(30px, 30px, 700)

    span
      display: block
      +font(18px, 28px)
      +screen($tablet)
        +font(16px, 23px)

    .about__item-image
      width: 79px
      height: 52px
      display: flex
      align-items: center
      justify-content: center
      margin-right: 30px
      flex-shrink: 0

    &:nth-child(1)
      .about__item-image
        svg
          width: 77px
          height: 43px

    &:nth-child(2)
      .about__item-image
        svg
          width: 79px
          height: 52px

    &:nth-child(3)
      .about__item-image
        svg
          width: 62px
          height: 39px



