@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.top
  position: relative
  height: 100vh
  background: url(../assets/img/top/top-bg.jpg) no-repeat center/cover

  &:before,
  &:after
    content: ''
    width: 100%
    position: absolute
    left: 0

  &:before
    height: 62%
    top: 0
    z-index: 1
    background: linear-gradient(180deg, #020A0A 0%, rgba(20, 22, 27, 0) 100%)
    opacity: .85

  &:after
    height: 83%
    bottom: 0
    background: linear-gradient(0deg, #EA5C2A 0%, rgba(234, 92, 42, 0) 100%)
    z-index: 2

  .container
    height: 100%
    padding-top: 230px
    z-index: 3
    display: flex
    flex-direction: column
    justify-content: space-between

  &__title
    +font(68px, 72px, 800)
    max-width: 832px

  &__txt
    margin-top: 40px
    +font(26px, 32px, 500)
    max-width: 252px

  &__container
    color: $white
    z-index: 3

    &:last-child
      display: flex
      align-items: center
      justify-content: space-between
      height: 140px

  &__down
    width: 50px
    height: 50px
    border-radius: 50%
    box-sizing: border-box
    border: 2px solid $white
    display: flex
    align-items: center
    justify-content: center

    img
      margin-bottom: -2px

  &__list
    display: flex
    box-sizing: border-box
    padding: 37px 0
    background-color: rgba(255, 255, 255, .1)
    margin-right: -60px

    &-item
      box-sizing: border-box

      &-name
        +font(18px, 32px)

      &-value
        display: flex
        gap: 8px
        align-items: flex-end

        span
          &:first-child
            +font(30px, 32px, 700)

          &:last-child
            +font(16px, 16px, 700)

      &:nth-child(1)
        padding: 0 69px 0 63px

        span
          &:last-child
            margin-bottom: 2px

      &:nth-child(2)
        padding: 0 50px

      &:nth-child(3)
        padding: 0 78px 0 49px

      &:not(:last-child)
        border-right: 2px solid $white


