extends ../layouts/main/layout.pug

block title
  | Федеральная транспортная компания Сотранс

block content
  include ../components/sections/top
  include ../components/sections/about
  include ../components/sections/year
  include ../components/sections/services
  include ../components/sections/production
  include ../components/sections/offer
