@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.product-top
  padding: 60px 0 80px

  .container
    +screen($tablet)
      padding: 0

  &__slider
    display: flex
    flex-direction: row-reverse
    height: 564px
    gap: 36px
    justify-content: flex-end
    +screen($desktop)
      height: 413px
    +screen($tablet)
      height: auto

    .swiper
      margin: 0

      &_main
        max-width: 1036px
        width: 100%
        +screen($desktop)
          max-width: 759px
        +screen($tablet)
          height: 413px
          max-width: none
          box-sizing: border-box
          padding-bottom: 6px
        +screen($tablet-xs)
          height: auto

        .swiper
          &-slide
            cursor: pointer
            flex-shrink: 0
            display: flex
            +screen($tablet-xs)
              height: 202px

          &-pagination
            display: none
            +screen($tablet)
              height: 6px
              display: block
              background-color: #D9D9D9
              top: auto
              bottom: 0

              &-progressbar-fill
                background-color: $orange


