section.platform
  .container
    h2.section-title #[span 03] Надстройка полуприцепа –шторная платформа со сдвижной конструкцией тента (сдвижная крыша и боковые шторы).
    .platform__content
      .platform__image
        img(src=require('@/assets/img/polupritsepy/platform.jpg') alt="")
      .platform__options.platform__options_top
        each el in platformOptionsTop
          p !{el}
      .platform__options.platform__options_bottom
        each el in platformOptionsBottom
          p !{el}
