section.contacts-map
  .container
    .contacts-map__image.slide-right
      img(src=require('@/assets/img/contacts/map.jpg') alt="")
      img(src=require('@/assets/img/contacts/map-mob.jpg') alt="")
      .contacts-map__image-desc
        img(src=require('@/assets/img/contacts/logo.svg') alt="")
        h1 Посёлок Красный Бор, Промышленная улица, 3


