.help-modal#helpModal
  .help-modal_content
    .help-modal_content-top
      h2.help-modal_content-top__title Чем мы можем вам помочь?
      a(href='#').help-modal_content-top__link
        span База знаний
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/base-known.svg')}
    .help-modal_content-articles
      h4.help-modal_content-articles__title Рекомендуемые статьи:
      .help-modal_content-articles_list
        a(href='#').help-modal_content-articles_list__item
          span.help-modal_content-articles_list__item__title Фильтры поиска заявок
          span.help-modal_content-articles_list__item__text Для удобства просмотра и поиска заявок существуют разные виды фильтров. Для того чтобы их включить нужно: 1. Зайти на страницу всех заявок; 2. На странице заявок нажать...

        a(href='#').help-modal_content-articles_list__item
          span.help-modal_content-articles_list__item__title Статусы заявок
          span.help-modal_content-articles_list__item__text Для удобства просмотра и поиска заявок существуют разные виды фильтров. Для того чтобы их включить нужно: 1. Зайти на страницу всех заявок; 2. На странице заявок нажать...

        a(href='#').help-modal_content-articles_list__item
          span.help-modal_content-articles_list__item__title Почему у заявки неправильный статус?
          span.help-modal_content-articles_list__item__text Для удобства просмотра и поиска заявок существуют разные виды фильтров. Для того чтобы их включить нужно: 1. Зайти на страницу всех заявок; 2. На странице заявок нажать...

        a(href='#').help-modal_content-articles_list__item
          span.help-modal_content-articles_list__item__title Почему у заявки опоздание? Отмечена красным
          span.help-modal_content-articles_list__item__text Для удобства просмотра и поиска заявок существуют разные виды фильтров. Для того чтобы их включить нужно: 1. Зайти на страницу всех заявок; 2. На странице заявок нажать...
