@use "./abstracts/variables.sass" as *
@use "./abstracts/mixins.sass" as *
@import "../assets/fonts/fonts.css"
@import "./base/section.sass"
@import "mixins/main-mixins.sass"
@import "sections/intro-section.sass"
@import "sections/rent-section.sass"
@import "sections/service-section.sass"
@import "sections/advantages-section.sass"
@import "sections/faq-section.sass"
@import "base/header.sass"
@import "base/footer.sass"

*
  font-family: Stem, SansSerif
  color: $black
  text-decoration: none
  box-sizing: border-box
  padding: 0
  margin: 0
  font-size: 16px
  font-weight: 350


.container
  max-width: 1440px
  padding: 0 60px
  margin-bottom: 80px
  margin-right: auto
  margin-left: auto
  +screen(1024)
    margin-bottom: 40px
    padding: 0 16px

