extends ../layouts/main/layout.pug

append variables
  -
    sectionBreadcrumbs = [
      {txt: 'Новости и акции'},
    ]

    imageModal = true

block title
  | Almamed

block content
  include ../sections/global/section-upper
  include ../sections/all-news/all-news
  include ../sections/index/doctors
  include ../sections/index/docs
  include ../sections/index/reviews
  include ../sections/index/answers
  include ../sections/index/symptoms
  include ../sections/index/contacts
  include ../sections/index/seo

