extends ../layouts/main/layout.pug

append variables
  -
    sectionBreadcrumbs = [
      {txt: 'Контакты'},
    ]

block title
  | Almamed

block content
  include ../sections/global/section-upper
  include ../sections/contacts/contacts-main
  include ../sections/index/doctors
  include ../sections/index/docs
  include ../sections/index/reviews
  .indent
  include ../sections/index/news
  .indent
