extends ../layouts/main/layout.pug

block title
  | Almamed

append variables
  -
    sectionBreadcrumbs = [
      {txt: 'Специалисты'}
    ]
    imageModal = true

block content
  include ../sections/doctor/doctor
  include ../sections/index/doctors
  include ../sections/index/docs
  include ../sections/index/reviews
  .indent
  include ../sections/index/news
  .indent
  include ../sections/index/contacts
  include ../sections/index/seo
