extends ../layouts/main/layout.pug

append variables
  -
    askQuestion = true
    signUpModal = true

block title
  | Almamed

block content
  include ../sections/index/main-page
  include ../sections/index/about
  include ../sections/index/treatment
  include ../sections/index/doctors
  include ../sections/index/docs
  include ../sections/index/reviews
  include ../sections/index/answers
  include ../sections/index/news
  include ../sections/index/symptoms
  include ../sections/index/contacts
  include ../sections/index/seo


