extends ../layouts/main/layout.pug

block title
  | Almamed

block content
  include ../sections/one-news/one-news
  .indent
  include ../sections/one-news/another-news
  .indent
  include ../sections/index/contacts
  include ../sections/index/seo
