extends ../layouts/main/layout.pug

append variables
  -
    sectionBreadcrumbs = [
      {txt: 'Отзывы'},
    ]
    imageModal = true

block title
  | Almamed

block content
  include ../sections/global/section-upper
  include ../sections/reviews/reviews-main
  include ../sections/index/doctors
  include ../sections/index/docs
  include ../sections/index/reviews
  .indent
  include ../sections/index/news
  .indent
  include ../sections/index/contacts
  include ../sections/index/seo
