+modal({modifier: 'modal_call-request'})
  h2.modal__title Заказать звонок
  p.modal__txt Ответим на любой вопрос о лечении и запишем к специалисту на прием
  form.modal__form
    +input({type: 'text', name: 'lastName', id: 'callRequestLastName', label: 'Фамилия *'})
    +input({type: 'text', name: 'firstName', id: 'callRequestFirstName', label: 'Имя *'})
    +input({type: 'tel', name: 'tel', id: 'callRequestPhone', placeholder: '+7 (___) ___-__-__', class: 'form-input_tel'})
    .form-textarea
      textarea(name="comment" placeholder="Комментарий")
    .form-checkbox.form-checkbox_modal
      input(type="checkbox" name="policy" id="callRequestPolicy" checked)
      label(for="callRequestPolicy") Нажимая на кнопку вы соглашаетесь на #[a(href="javascript:") обработку персональных данных]
    button.btn.btn-fill.form-submit(type="submit" disabled) Отправить заявку
