@use './abstracts/variables' as *
@use './abstracts/mixins' as *
@use './abstracts/reset'

html
  min-height: 100vh

*
  box-sizing: border-box

body
  background-color: #f4f4f4
  max-width: 1920px
  margin: 0 auto
  min-height: 100vh
  +font(16px, 18px)
  
.app-header
  text-align: center
  padding: 0 0 40px

  h1
    +font(34px, 40px, 500)


  span
    +font(40px, 44px, 700)

#__nuxt
  min-height: 100vh
  display: flex

  & > div
    padding: 40px
    width: 100%
    display: flex
    flex-direction: column

.app-container
  display: flex
  gap: 20px
  flex-grow: 1

  &__left
    width: 25%
    +font(20px, 24px, 500)

  &__right
    flex-basis: calc(100% - 25% - 20px)

    h2
      +font(24px, 28px, 700)

    p
      +font(20px, 20px, 400)
      margin-top: 30px

  &__left, &__right
    background-color: $white
    padding: 20px
    border-radius: 20px

  .sec-title
    +font(24px, 28px, 700)
    color: cornflowerblue

  .fir-title
    +font(24px, 28px, 700)

  .less-title
    margin-top: 20px

  .сhap-title
    +font(20px, 24px, 700)

  .video-link
    +font(18px, 22px, 600)
    margin-top: 20px
    color: $black
    display: block

