@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.application
  width: 1470px
  height: 100vh
  margin: 0 auto
  padding-top: 26px
  box-sizing: border-box
  display: flex
  flex-direction: column

  &__title
    +font(16px, 19px, 400)
    margin-bottom: 30px
    color: $black

  &_search
    width: 100%
    box-shadow: 0 2px 15px rgba(52, 60, 68, 0.1)
    border-radius: 8px

    &_toggle

      &__title
        display: none

    &_form
      display: flex
      justify-content: space-between

      &-closed

        &__input
          display: flex
          align-items: center
          svg
            margin-right: 13px

      &-disclosed
        display: none

      &_buttons
        display: flex

        button
          padding: 7px 13px 7px 10px
          border-radius: 5px
          display: flex
          align-items: center
          span
            +font(14px, 17px, 400)
            margin-right: 7px

        button[type="submit"]
          border: 1px solid $orange
          span
            color: $orange

        button[type="reset"], button[type="button"]
          border: 1px solid $gray-dark
          span
            color: $gray-dark

        button[type="reset"]
          display: none




