@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.application
  transition: all 0.3s ease-in-out
  width: 79vw
  height: calc(100vh - 90px)
  margin: 0 auto
  padding: 26px 0 0 50px
  box-sizing: border-box
  display: flex
  flex-direction: column
  position: relative
  overflow: scroll

  &::-webkit-scrollbar
    display: none

  .close-btn
    position: absolute
    top: 18px
    left: 0

  &__title
    +font(16px, 19px, 400)
    margin-bottom: 30px
    color: $black

  &_search
    width: 100%
    box-shadow: 0 2px 15px rgba(52, 60, 68, 0.1)
    border-radius: 8px
    display: flex
    justify-content: space-between
    flex-direction: row-reverse
    padding: 14px 25px 15px 23px
    align-items: center
    box-sizing: border-box

    .header-for-long-form
      padding: 20px 20px 0 20px
      box-sizing: border-box

    &_toggle

      &__title
        display: none

      &__btn
        max-width: 15px
        margin-left: 25px

    &_form
      width: 100%
      display: flex
      justify-content: space-between

      &-closed

        &__input
          display: flex
          align-items: center
          width: 58vw
          justify-content: center
          margin-top: 8px
          svg
            margin-right: 13px
          input
            display: flex
            align-items: center
            +font(16px, 19px, 400)
            color: $gray-input

      &-disclosed
        display: none

        &_form

          &-top
            display: flex

            &_inputs, &_input
              display: flex
              align-items: center
              justify-content: center

              select
                border: none
                width: 100%
                color: $gray

              &::placeholder
                color: $gray-dark

            &_input
              select, input
                margin-left: 10px

            &_inputs
              select
                margin-right: 6px

      &_buttons
        display: flex

        button
          padding: 7px 13px 7px 10px
          border-radius: 5px
          display: flex
          align-items: center
          max-height: 31px
          box-sizing: border-box
          span
            +font(14px, 17px, 400)
            margin-right: 7px

        button
          margin-left: 10px

          &:first-child
            margin-left: 0

        button[type="reset"]
          border: 1px solid $gray-dark
          span
            color: $gray-dark
          &:hover
            border: 1px solid $orange
            span
              color: $orange
            svg
              path
                fill: $orange

        button[type="reset"]
          display: none


  &_search-long-type
    flex-direction: column
    width: 100%
    align-items: start
    padding: 0

    .application_search_toggle
      display: flex
      justify-content: space-between
      width: 100%

      &__title
        +font(14px, 17px, 400)
        color: $black

    .application_search_form
      display: flex
      flex-direction: column

      &-disclosed

        &_form
          padding: 0 20px 20px 20px

          &-top
            margin-top: 10px
            display: flex
            width: 100%
            justify-content: space-between
            +screen($tablet-sm)
              display: flex
              flex-direction: column

            &_input
              border: 1px solid $gray
              border-radius: 8px
              box-sizing: border-box
              padding: 14px 17px 11px 0
              display: flex
              align-items: center
              width: 463px
              height: 40px
              position: relative
              transition: border 0.3s
              +screen($desktop-m)
                width: 403px
              +screen($desktop-sm)
                width: 310px
              +screen($tablet)
                width: 245px
              +screen($tablet-sm)
                width: 100%
                margin: 20px 0 0 0

              svg
                margin: 0 6px 0 11px
                max-width: 14px

              &__text
                color: $black
                width: 100%

              &__text::placeholder
                color: $gray
                transition: color 0.3s

              button
                display: flex
                align-items: center

              &_from-cityes, &_to-cityes
                position: absolute
                background-color: $white
                width: 100%
                top: calc(100% + 1px)
                left: 0
                z-index: 3
                border: 1px solid $gray
                border-radius: 8px
                box-sizing: border-box
                transition: border 0.3s
                display: none
                overflow: hidden

                ul
                  background-color: $white

                  li
                    display: flex
                    +font(14px, 17px, 400)
                    color: $gray
                    padding: 12px 12px 10px 12px
                    border-bottom: 1px solid $gray
                    align-items: center
                    box-sizing: border-box

                    input[type="radio"] + label
                      padding-left: 0
                      box-sizing: border-box
                      &:not(:first-child)
                        margin-top: 0

                    input[type="radio"]:checked + label
                      color: $gray-dark
                      +font(14px, 17px, 400)

                    &:last-child
                      border-bottom: none

                    input[type='radio']
                      margin-right: 7px

                .display-none-container
                  display: none

            .application-input-focus
              border: 1px solid $gray-input

              svg
                path
                  fill: $gray-input

              .application_search_form-disclosed_form-top_input__text::placeholder
                color: $gray-input

              .application_search_form-disclosed_form-top_input_from-cityes
                border: 1px solid $gray-input


            &_date
              display: flex
              margin: 0 20px 0 20px
              height: 40px
              +screen($tablet-sm)
                margin: 20px 0 0 0

              div
                padding: 12px 10px 11px 10px
                border: 1px solid $gray
                border-radius: 8px
                width: 226px
                box-sizing: border-box
                display: flex
                align-items: center
                +screen($desktop-m)
                  width: 200px
                +screen($desktop-sm)
                  width: 150px
                +screen($tablet)
                  width: 130px
                +screen($tablet-sm)
                  width: 100%
                &:first-child
                  margin-right: 10px

            &_inputs
              display: flex
              height: 40px
              +screen($tablet-sm)
                margin: 20px 0 0 0

              &_item
                box-sizing: border-box
                padding: 12px 10px 11px 10px
                border: 1px solid $gray
                border-radius: 8px
                display: flex
                justify-content: space-between
                align-items: center
                width: 226px
                +screen($desktop-m)
                  width: 200px
                +screen($desktop-sm)
                  width: 150px
                +screen($tablet)
                  width: 130px
                +screen($tablet-sm)
                  width: 100%

                &:first-child
                  margin-right: 10px

        &_checkboxes
          border-top: 1px solid $gray
          border-bottom: 1px solid $gray
          box-sizing: border-box
          padding: 20px 20px 10px 20px
          display: flex
          flex-wrap: wrap

          &__item
            border: 1px solid $gray
            border-radius: 16px
            padding: 5px 10px 5px 11px
            box-sizing: border-box
            display: flex
            align-items: center
            margin: 0 20px 10px 0
            cursor: pointer

            &__img
              margin-right: 6px
              width: 12px

            input[type='checkbox']
              display: none

            label
              +font(12px, 15px, 400)
              color: $gray-input
              cursor: pointer

          .select-checkbox
            background-color: $orange
            border: 1px solid $orange

            &-label
              color: $white

      &_buttons
        width: 100%
        justify-content: start

        button[type="submit"], button[type="reset"]
          margin-right: 10px

      .buttons-for-long-form
        box-sizing: border-box
        padding: 20px


  &-list
    margin-top: 30px
    overflow: hidden

    &-header
      display: flex
      justify-content: space-between
      width: 100%
      background-color: $gray-bg
      box-sizing: border-box
      padding: 12px 20px 13px
      border: 1px solid $gray
      border-radius: 8px

      &-name
        display: flex
        align-items: center
        span
          +font(12px, 15px, 600)
          color: $black
        svg
          margin-left: 3px

        &-number
          width: 20px

        &-id
          width: 100px

        &-from, &-to
          width: 300px

        &-cargo-car-driver
          width: 150px

        &-cost-counterparty
          width: 205px

        &-status
          width: 110px


    &-main
      border: 1px solid $gray
      border-radius: 8px
      box-sizing: border-box
      margin-top: 10px

      &-item
        box-sizing: border-box
        padding: 12px 20px 11px 20px
        border-bottom: 1px solid $gray
        display: flex
        justify-content: space-between
        &:last-child
          border: none

        &-name

          span
            color: $gray-input
            +font(12px, 15px, 400)

          &-number
            width: 20px

          &-id
            width: 100px
            display: flex
            flex-direction: column
            span
              display: flex
              align-items: center
              svg
                margin-left: 3px

          &-from, &-to
            width: 300px

          &-cargo-car-driver
            width: 150px

            &-car, &-driver
              display: flex
              align-items: center
              flex-direction: row

              svg, span
                margin-right: 5px

          &-cost-counterparty
            width: 205px
            display: flex
            flex-direction: column

          &-status
            width: 110px

            &-item
              width: 100%
              border: 1px solid $gray
              border-radius: 100px
              display: flex
              align-items: center
              justify-content: center
              box-sizing: border-box
              padding: 2px
              margin-top: 7px

              &:first-child
                margin-top: 0

              span
                +font(10px, 12px, 600)
                color: $black

              &_green
                background-color: $green
                border: 1px solid $green
                span
                  color: $white
              &_blue
                background-color: $blue-light
                border: 1px solid $blue-light
                span
                  color: $white
              &_orange
                background-color: $orange
                border: 1px solid $orange
                span
                  color: $white
              &_red
                background-color: $red
                border: 1px solid $red
                span
                  color: $white
