header.header
  .header-content
    img.header-content__user(src=require('@/assets/img/header/user.svg') alt="" loading='lazy')
    span.header-content__username webmaster@sortans.ru
    btn.header-content__btn
      img(src=require('@/assets/img/header/exit.svg') alt="exit" loading='lazy')
