//- variables
block variables
  include ../../abstracts/variables

//- mixins
include ../../components/mixins/modal
include ../../components/mixins/button
include ../../components/mixins/number
include ../../components/mixins/page-header

doctype html
html(lang="ru")
  head
    include head
  body
    header
    include header
    main.main
      block content
    footer
    include footer
    include menu

