//- variables
block variables
  include ../../abstracts/variables

//- mixins
include ../../components/mixins/modal
include ../../components/mixins/button
include ../../components/mixins/number
include ../../components/mixins/page-header
include ../../components/mixins/dis-number
include ../../components/mixins/car
include ../../components/mixins/select


doctype html
html(lang="ru")
  head
    include head
  body
    header
      include header
    main.main
      block content
    footer
      include map
      include ../../components/global/help-modal
      include footer
    include menu
