section.map
  .map__container#map
    +car('B000BB999', 'gray', 'home.html', '700px', '23vh')
    include ../../components/layouts/main/map/filter-mini
  include ../../components/layouts/main/map/filter







