@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.actions
  padding: 30px 0 40px
  box-sizing: border-box
  +screen($tablet)
    padding: 40px 0 0

  .container
    +screen($tablet)
      padding: 0

  &__container
    margin-top: 50px
    display: flex
    justify-content: space-between
    +screen($tablet)
      margin-top: 35px
      justify-content: flex-start
      flex-direction: column

  &__image
    flex-basis: 49%
    +screen($tablet)
      flex-basis: auto

    img
      width: 100%
      height: 100%
      object-position: center
      object-fit: cover

  &__list
    flex-basis: 49.5%
    display: flex
    flex-direction: column
    justify-content: space-between
    +screen($tablet)
      flex-basis: auto
      margin-top: 21px
      box-sizing: border-box
      padding: 0 10px

    li
      display: flex
      align-items: center
      +font(20px, 20px, 500)
      +screen($tablet)
        +font(16px, 20px, 500)
        margin-top: 15px
        align-items: flex-start

      span
        +font(48px, 34px, 700, $font-pop)
        color: $orange
        margin-right: 25px
        width: 30px
        display: flex
        align-items: flex-end
        +screen($tablet)
          align-items: flex-start
          +font(40px, 60px, 700)
          margin: -15px 10px 0 0
          width: auto


