@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.extra
  padding: 50px 0

  &__container
    display: flex
    margin-top: 50px
    justify-content: space-between

  &__list
    flex-basis: 47%
    display: flex
    flex-direction: column
    justify-content: space-between

    &-item
      display: flex

      &-image
        flex-shrink: 0
        margin-right: 19px

      &-txt
        +font(26px, 32px, 500)

  &__image
    flex-basis: 48%

    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center


