@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.feedback
  margin-bottom: 80px

  .section__title
    text-align: left

  .container
    display: flex
    justify-content: space-between

  &__form
    margin-top: 26px

    &-grid
      display: grid
      grid-template: auto / repeat(2, 280px)
      grid-gap: 30px 30px
      +screen($tablet)
        grid-gap: 10px 0
        grid-template: auto / 1fr

    &-input, &-textarea
      border: 1px solid $gray-dark
      border-radius: 8px
      +font(14px, 22px)

    &-input
      position: relative
      height: 44px

      input
        padding: 11px 13px

      span
        display: block
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 13px
        +font(14px, 14px)
        color: $gray
        pointer-events: none
        transition: .2s
        +screen($tablet)
          transition: 0s

        &.active
          margin-top: -35px
          left: 0
          +font(12px, 12px)
          +screen($tablet)
            left: 13px
            margin-top: 0
            +font(14px, 14px)
            opacity: 0

        &:after
          content: '*'
          color: $orange

    &-textarea
      height: 192px
      grid-row: 1 / 4
      grid-column: 2 / 3
      +screen($tablet)
        grid-row: auto
        grid-column: auto

      textarea
        padding: 11px 13px

        &::placeholder
          color: $gray

    &-bottom
      margin-top: 34px
      display: flex
      align-items: flex-end
      +screen($tablet)
        flex-direction: column-reverse
        align-items: flex-start
        margin-top: 10px

    &-submit
      width: 206px
      height: 44px
      box-sizing: border-box
      border: 2px solid $orange
      display: flex
      align-items: center
      justify-content: center
      border-radius: 8px
      +font(18px, 18px, 500)
      color: $orange
      margin-right: 20px

      &:hover
        background-color: $orange
        color: $white

      &:active
        background-color: $white
        color: $orange

    &-policy
      display: flex
      flex-direction: column
      align-items: flex-start
      margin-top: 10px

      span, a
        color: $gray

      a
        position: relative

        &:after
          content: ''
          width: 100%
          height: 1px
          background-color: $gray-dark
          position: absolute
          bottom: 0
          left: 0

  &__contacts
    +font(24px, 28px)

    &-name
      +font(36px, 36px, 500)
      margin: 26px 0 15px

    span
      +font(24px, 28px, 500)



