@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.production
  padding-bottom: 60px
  +screen($tablet)
    padding-bottom: 40px

  .container
    padding: 0 65px
    +screen($tablet)
      padding: 0

  &__txt
    +font(28px, 28px)
    color: $gray
    margin-top: 36px
    text-align: center
    +screen($tablet)
      +font(16px, 16px)
      box-sizing: border-box
      padding: 0 10px
      margin-top: 20px

  .swiper
    margin-top: 60px
    box-sizing: border-box
    padding: 10px
    +screen($tablet)
      margin-top: 30px

    &-button-next
      display: flex
      width: 76px
      height: 76px
      border-radius: 50%
      background-color: rgba(255, 255, 255, 0.7)
      transition: opacity .3s
      top: 140px
      right: 77px
      +screen($tablet)
        right: 11px

      &:hover
        opacity: .6

      &:active
        opacity: 1

      &:after
        display: none

    &-slide
      height: auto
      display: flex
      flex-direction: column

    &-image
      display: flex
      align-items: flex-end

      img
        width: 100%
        height: 100%
        object-position: center
        object-fit: cover

    &-txt
      flex-grow: 1
      box-sizing: border-box
      padding: 26px 22px 22px
      +font(22px, 22px)
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
      +screen($tablet)
        +font(16px, 16px)
        padding: 16px



