@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.production
  padding-bottom: 60px

  .container
    padding: 0 65px

  &__txt
    +font(28px, 28px)
    color: $gray
    margin-top: 36px
    text-align: center

  .swiper
    margin-top: 60px
    box-sizing: border-box
    padding: 10px

    &-slide
      height: auto
      display: flex
      flex-direction: column

    &-image
      display: flex
      align-items: flex-end

      img
        width: 100%
        height: 100%
        object-position: center
        object-fit: cover

    &-txt
      flex-grow: 1
      box-sizing: border-box
      padding: 26px 22px 22px
      +font(22px, 22px)
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)


