@use 'variables' as *
/*-------------------------------------- aboutUs ----------------------------------------------------*/
.aboutUs
  margin-top: -141px
  z-index: 94
  width: 100%
  padding: 80px
  background: $black
  display: flex
  flex-direction: column
  align-items: center

  &__topVector
    z-index: 99
    margin-top: -178px
    width: 100%
    display: flex
    justify-content: space-between
    +media(1150px)
      margin-top: -174px
    +media(1120px)
      margin-top: -170px
  &__header
    font: bold 28px/34px $font
    margin-bottom: 80px

  &__content
    width: 100%
    display: flex
    justify-content: space-between
  
  &__item
    display: flex
    flex-direction: column
    align-items: center

  &__number
    font: bold 63px/77px $font
    margin-bottom: 25px
    span
      font: bold 18px/22px $font

  &__separator
    width: 96px
    height: 5px
    background: $white
    margin-bottom: 25px
  
  &__text
    text-align: center
    max-width: 220px
    font: 18px/22px $font

  &__bottomVector
    margin-top: -76px
    z-index: 94