@use 'variables' as *
/*------------------------------------- contacts ----------------------------------------------------*/

.contacts
  padding: 180px 125px
  background: $black
  width: 100%
  margin-top: -140px
  z-index: 89
