@use 'variables' as *
/*------------------------------------- examination -------------------------------------------------*/
.examination
  margin-top: -50px
  padding: 100px 199px 30px 
  z-index: 97
  max-width: 100%
  border-radius: 100px
  background: $white
  display: flex
  flex-direction: column
  align-items: center
  color: $black
  +media(1220px)
    max-width: 98%



  &__header
    font: bold 28px/34px $font
    margin-bottom: 20px

  &__subHeader
    font: bold 20px/24px $font
    margin-bottom: 45px
  
  &__tvSet
    border: 20px solid $gray
    border-radius: 70px
    padding: 25px
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 20px

    .tvSet
      &__screen
        width: 761px
        height: 495px
        border-radius: 60px
        overflow: hidden
        margin-bottom: 20px

      &__slider
        display: flex
        justify-content: space-around
        width: 100%
        &Arrow
          width: 26px
          height: 50px
          background: #404044
          border-radius: 30px
          display: flex
          align-items: center
          justify-content: center

        &Content
          max-width: 480px
          display: flex
          overflow-x: scroll
          &::-webkit-scrollbar
            width: 0
            height: 0         

        &Container
          display: flex        

        &Item
          width: 50px
          height: 50px
          border-radius: 8px
          overflow: hidden
          margin-right: 10px
    
  &__description
    font: bold 20px/24px $font
    margin-bottom: 15px
    color: $grayFont
  
  &__text
    max-width: 819px
    font: 16px/20px $font
    margin-bottom: 20px

  &__orderNow
    margin-top: 20px
    &Link
      display: block
      width: 295px
      height: 40px
      border-radius: 30px
      background: $black
      color: $white
      font: bold 14px/40px $btnFont
      text-transform: uppercase
      text-align: center
      margin-bottom: 20px

  &__social
    display: flex
    align-items: center
    &Text
      font: 12px/24px $font
      margin-right: 20px
    .leaveRequest__socialIconsItem
      margin-right: 10px

  &__bottomVector
    display: flex 
    justify-content: center
    margin-top: -76px
    z-index: 96
    +media(1150px)
      width: 84%
      margin-top: -72px
    +media(1120px)
      margin-top: -70px
  &__subBottomVector
    margin-top: -56px
    z-index: 95
    +media(1150px)
      margin-top: -52px
    +media(1120px)
      margin-top: - 51px