@use 'variables' as *
/*------------------------------------- footer -------------------------------------------------*/

.main__footer
  margin-top: -146px
  z-index: 100000
  .offers__bottom
    .tabs__buttons
      z-index: 101
    .tabs__content
      z-index: 100
      border-radius: 0
    .tabs__arrows
      z-index: 100
