@use 'variables' as *
/*--------------------------------------- header ----------------------------------------------------*/
.main__header
  height: 52px
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 20px
  background: $white

  .menu
    display: none
    +media
      display: flex
      flex-direction: column
      align-items: flex-end
      &__line
        width: 25px
        height: 3px
        border-radius: 3px
        background: #404044
        &:last-child
          width: 19px
        &:not(:last-child)
          margin-bottom: 3px

  .logo
    +media
      width: 75px
      height: 23px

  .nav
    display: flex
    justify-content: flex-end
    flex-basis: 50%
    +media(1150px)
      flex-basis: 40%
    +media
      display: none
    &__item
      font: bold 14px/17px $font
      color: $black
      margin-right: 55px
      &:last-child
        margin: 0
  
  .header__contacts
    display: flex
    align-items: center
    .contacts__phone
      font: bold 18px/22px $font
      color: $black
      margin-right: 60px
      +media
        display: none
    .contacts__request
      display: block
      font: bold 12px/30px $btnFont
      text-align: center
      text-transform: uppercase
      height: 30px
      width: 156px
      border-radius: 50px
      background: $black
      color: $white
      +media
        width: 96px
        height: 18px
        font: bold 8px/18px $btnFont
