@use 'variables' as *
/*-------------------------------------- trustUs ----------------------------------------------------*/
.trustUs
  width: 100%
  padding: 100px
  background: $white
  margin-top: -141px

  &__topVector
    z-index: 99
    margin-top: -178px
    width: 100%
    display: flex
    justify-content: space-between