@use 'variables' as *
/*-------------------------------------- trustUs ----------------------------------------------------*/
.trustUs
  width: 100%
  padding: 100px
  background: $white
  margin-top: -54px
  display: flex
  flex-direction: column
  align-items: center
  z-index: 91

  &__topVector
    z-index: 99
    margin-top: -178px
    width: 100%
    display: flex
    justify-content: space-between

  &__header
    font: bold 24px/34px $font
    color: $black
    text-align: center

  &__partners

    &Content
      padding: 50px 0
      overflow: hidden
      max-height: 200px
      display: flex
      flex-flow: row wrap
      align-items: center
      justify-content: space-between
      transition: max-height .5s ease-out

    &Item
      margin-bottom: 50px
      &:not(:last-child)
        margin-right: 50px

  &__btn
    display: flex
    align-items: center
    justify-content: center
    color: $black
    border: 1px solid $black
    border-radius: 30px
    width: 295px
    height: 40px
    transition: all .3s ease-out
    font: bold 14px/16px $font
    text-transform: uppercase
    span
      margin: 0 5px
    &:active
      background: $black
      color: $white
  
  &__bottomVector
    margin-top: -76px
    z-index: 90



