$black: #1D1D1D
$white: #fff
$lightGray: #E5E5E5
$gray: #DFDFDF
$darkGray: #7B7B7B
$grayFont: #8F8F8F

$font: 'Montserrat', sans-serif
$btnFont: 'Roboto', sans-serif

=media($maxWidth: 992px)
  @media screen and (max-width: $maxWidth) 
    @content