$black: #1D1D1D
$white: #fff
$lightGray: #DFDFDF
$darkGray: #7B7B7B
$grayFont: #8F8F8F

$font: 'Montserrat', sans-serif

=media($minWidth: 992px)
  @media screen and (min-width: $minWidth) 
    @content