section.about
  .container.container_xs
    h2.other-page-title.slide-right ООО «Техцентры СОТРАНС» — официальный дилер ПАО «КАМАЗ»
    p.section-txt.slide-up ООО «Техцентры СОТРАНС» входит в ГК «СОТРАНС» и с 2019 года является официальным дилером ПАО «КАМАЗ» по реализации автомобилей, автобусов, прицепной техники, запчастей, оказанию услуг по техническому обслуживанию и ремонту продукции КАМАЗ, в т. ч. газобаллонным и газодизельным автомобилями на территории Санкт-Петербурга и Ленинградской области. С 2020 года мы, как официальный дилер ПАО «КАМАЗ», получили право на обслуживание автомобилей семейства К5.
    .about__image.slide-right
      img(src=require('@/assets/img/about/1.jpg') alt="")
    p.section-txt.slide-up СОТРАНС — одно из крупнейших транспортных предприятий в России, которое ведет деятельность с 1992 года. Основными направлениями деятельности являются — автомобильные грузоперевозки, логистика, сервисное обслуживание коммерческого транспорта, поставка запасных частей, финансовые услуги. Компания располагает двумя сервисными станциями в Санкт-Петербурге и площадкой в Москве.
    .about__image.slide-right
      img(src=require('@/assets/img/about/2.jpg') alt="")
    p.section-txt.slide-up Мы предлагаем к реализации как серийные автомобили производства КАМАЗ, такие как седельные тягачи, самосвалы, бортовые автомобили, так и спецтехнику под различные нужды, в том числе: автомобили с крано- и гидроманипуляторами, экскаваторы-планировщики, вакуумно-погрузочные машины, автомобили для нефтяной, строительной, лесной отрасли, коммунальную и дорожную технику и т. д. Каждый автомобиль проходит качественную предпродажную подготовку и, в случае необходимости, комплекс работ по ТО.
    p.section-txt.slide-up Сертифицированный сервисный центр «Техцентры СОТРАНС» оказывает полный перечень услуг по техническому обслуживанию, гарантийному ремонту, восстановлению аварийных автомобилей КАМАЗ, а также укомплектование автомобилей дополнительным оборудованием под различные нужды (ДОПОГ, «Северное исполнение», «Южное исполнение» и т.д.).
    .about__image.slide-right
      img(src=require('@/assets/img/about/3.jpg') alt="")
    p.section-txt.slide-up Помимо автотехники в наш ассортимент включен и богатейший выбор запасных частей к автомобилям марки КАМАЗ с адресной доставкой на выгодных условиях. Немаловажной для наших клиентов оказывается и возможность пройти быстрое и качественное гарантийное обслуживание.
    p.section-txt.slide-up ООО «Техцентры СОТРАНС» — ваш лучший друг в выборе коммерческого транспорта. #[br] Позвоните нам и убедитесь в этом лично!
    .about__image.slide-right
      img(src=require('@/assets/img/about/4.jpg') alt="")
