section.brake-system
  .container.container_xs
    h2.brake-system__title.section-title.slide-right Тормозная система #[br] KNORR-BREMSE
    p.section-txt.slide-up Тормозная система KNORR-BREMSE TEBS G2.2 с ABS и системой устойчивости в поворотах RSP, #[span двухпроводная, стояночная тормозная система с энергоаккумуляторами на 2-ой, 3-ей оси.]
    .brake-system__image.slide-right
      img(src=require('@/assets/img/brake-system/brake-system.png') alt="")
