section.bus-options
  .container.container_xs
    h2.section-title Дополнительные #[br] опции
    .bus-options__container
      +list(busOptionsList)
      img.slide-right(src=require('@/assets/img/bus-options/options.png') alt="")
