section.bus
  .container.container_xs
    h2.section-title.slide-right Нефаз 5299
    p.section-txt.slide-right Низкопольный городской автобус НЕФАЗ-5299 предназначен для работы на маршрутах с интенсивным пассажиропотоком, преимуществами которого являются:
    +list(busListFirst)
  .bus__image.slide-right
    img(src=require('@/assets/img/bus/bus.jpg') alt="")
  .container.container_xs
    .bus__desc
      .bus__container
        p.section-txt.slide-up Сердцем НЕФАЗ 5299-40-57 является шестицилиндровый газовый двигатель китайской корпорации Weichai Power – WP7NG:
        +list(busListSecond)
        h3.section-sub-title #[span.num-anim 984] л
        p.section-txt 8 газовых баллонов на крыше, общим объемом 984 литра. Оснащен автоматической коробкой передач
      .bus__container
        img.slide-right(src=require('@/assets/img/bus/bus-engine.png') alt="")
