section.cabin
  .container.container_sm
    h2.cabin__title.section-title.slide-right Кабина
    p.cabin__txt.slide-up На автомобиле KAMAZ-54901 установлена современная комфортабельная кабина, в которой есть все необходимое для удобства работы и отдыха:
  .container
    .cabin__grid
      each el in cabinGridItems
        .cabin__item
          .cabin__item-desc
            h3.cabin__item-title !{el.title}
            if (el.txt)
              p.cabin__item-txt !{el.txt}
          .cabin__item-svg
            | !{el.svg}
