section.chassis-desc
  .container.container_xs
    h2.section-title.slide-right Комплектация шасси
    +list(chassisList)
    p.section-txt.slide-up В зависимости от комплектации шасси КамАЗ-43118 может оснащаться лебедкой, коробкой отбора мощности, прочим дополнительным оборудованием или аксессуарами.
    p.section-txt.slide-up Мы продает машины Камского автозавода в любых вариантах исполнения. Это позволяет заказать модификацию, соответствующую предъявляемым требованиям. Вы можете купить грузовик в кредит или на условиях лизинга, а также с использованием системы трейд-ин.
