form.contact-form(action="")
  .contact-form__head
    h2.contact-form__title Ответим на #[br] ваши вопросы
    button.contact-form__close
      |!{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/contact-form/close-btn.svg')}
  .contact-form__links
    a(href="https://tlgg.ru/@tc_sotrans" target="_blank" rel="noopener noreferrer")
      img(src=require('@/assets/img/contact-form/tg.svg') alt="")
      span в Telegram
    a(href="https://tlgg.ru/@tc_sotrans" target="_blank" rel="noopener noreferrer")
      img(src=require('@/assets/img/contact-form/wa.svg') alt="")
      span в Whatsapp
    a(href="tel:89219611416") #[span ]
      img(src=require('@/assets/img/contact-form/phone.svg') alt="")
      span Позвонить нам
  .contact-form__fields
    .contact-form__input.form-input
      input(type="text" name="name" required)
      span Ваше имя
    .contact-form__input.form-input
      input(type="tel" name="tel" required)
      span Ваш телефон
    .contact-form__textarea
      textarea(name="comment" placeholder="Комментарий")
    .contact-form__file
      input#file.contact-form__file-input(type="file" name="attachment")
      label.contact-form__file-label(for="file")
        span.contact-form__file-txt Прикрепить файл
  button.contact-form__submit.btn(type="submit" name="submit" id="submit") Отправить
  .contact-form__policy.feedback__form-policy
    span Продолжая, вы принимаете нашу
    a(href="javascript:") Политику конфиденциальности
