section.crane
  .container.container_xs
    h2.section-title PALFINGER INMAN IT 150
    h3.section-sub-title более #[span.num-anim 7]т
    p.section-txt Тросовый кран-манипулятор PALFINGER INMAN IT 150 российского производства, по сути стал «народным» за   свою надежность и   доступность для потребителей. Данной модели манипулятора уже исполнилось 5   лет. INMAN IT   150 обладает повышенной грузоподъемностью более 7 т, новым верхним постом управления, износостойкими пластиковыми рукоятками управления гидрораспределителем, а   также надежными и   удобными пневматическими опорами, которые в разы упрощают работу оператора. При этом INMAN IT 150 имеет максимальный 19-метровый вылет стрелы.
  .container
    .crane__image
      img(src=require('@/assets/img/crane/crane.png') alt="")
  .container.container_xs
    +list(craneList)
