section.dump-truck
  .container.container_xs
    h2.section-title.slide-right Камаз 65115
    p.section-txt.slide-up Более современный самосвал, сохранивший положительные качества предшественника, но получивший при этом более комфортабельную кабину с высокой крышей, удобным и эргономичным интерьером, а также сидениями с большим диапазоном регулировок и качественной пневмоподвеской.
    +list(truckList)
  .dump-truck__image.slide-right
    img(src=require('@/assets/img/dump-truck/dump-truck.jpg') alt="")
