section.engine
  .container.container_sm
    h2.engine__title.section-title.slide-right Новый рядный #[br] 6-цилиндровый #[br] двигатель
    .engine__desc
      .engine__desc-left
        .engine__desc-txt Тягач KAMAZ-54901 оснащен новым двигателем KAMAZ-910.15-450 мощностью 450 л.с. и крутящим моментом 2300 Нм.
        .engine__desc-feature до #[span 120] #[br] тыс.км
        .engine__desc-feature -#[span 10]% #[br] расход
      .engine__desc-right
        .engine__desc-feature #[span 450] л.с. #[br] #[span 2300] Нм
        .engine__desc-txt Применение современных высокотехнологичных конструктивных решений позволило увеличить межсервисный интервал до 120 тысяч км, а ресурс двигателя до 1,5млн.км.
        .engine__desc-txt При этом снизить расход топлива на 10% по сравнению с автомобилем предыдущего поколения.
    .engine__lottie.slide-top
