section.flatbed-desc
  .flatbed-desc__image.slide-right
    img(src=require('@/assets/img/flatbed-desc/flatbed-desc.jpg') alt="")
  .container.container_xs
    .flatbed-desc__container
      p.section-txt.slide-up Данная модель обладает непревзойденной проходимостью. КАМАЗ 65117 идеально подходит для доставки на:
      +list(flatbedDescList)
    .flatbed-desc__container
      p.section-txt.slide-up Ресталинговая модель имеет стильный и современный дизайн - аэродинамический козырёк, высокую кабину, спальное место, обеспечивающее комфортный отдых водителя в длительных поездках.
      img.slide-up(src=require('@/assets/img/flatbed-desc/flatbed-desc.png') alt="")
