section.guarantee
  .container.container_xs
    h2.other-page-title.slide-right Гарантия на автомобили
    p.section-txt.slide-up Публичное Акционерное Общество «КАМАЗ» предоставляет следующую гарантию качества любой автомобильной техники с маркой «КАМАЗ» (в т. ч. автомобильные шасси КАМАЗ в составе спецтехники других изготовителей) с даты её продажи уполномоченной организацией (дилером) покупателю (владельцу):
    ul.guarantee__list.slide-right
      each el in guaranteeList
        li.guarantee__list-item
          each txt in el
            span #{txt}
    p.section-txt.slide-up В зависимости от того, какое из обстоятельств наступит раньше, при условии соблюдения требований, а также правил хранения, эксплуатации и обслуживания, изложенных в Руководстве по эксплуатации и Сервисной книжке. В течение гарантийного срока эксплуатации и наработки предприятие-изготовитель производит бесплатное устранение производственных дефектов реализованной автотехники и безвозмездную замену всех её составных частей, преждевременно вышедших из строя по вине предприятия-изготовителя.
    p.section-txt.slide-up Гарантия поддерживается в любом регионе России и за рубежом через фирменную дилерскую сеть — гарантийное обслуживание осуществляется в аттестованных ПАО «КАМАЗ» дилерских (сервисных) центрах в течение всего срока гарантии. Перечень аттестованных сервисных центров размещен на сайте ПАО КАМАЗ в разделе — Найти дилера в своём регионе.
    p.section-txt.slide-up Гарантийные обязательства ПАО «КАМАЗ» выполняются при условии, если:
    p.section-txt.slide-up — перед реализацией автомобильной техники проведена предпродажная подготовка в соответствии с требованиями, указанными в «Сервисной книжке».
    p.section-txt.slide-up — автомобильная техника реализована покупателю (владельцу) в течение трех лет со дня изготовления;
    p.section-txt.slide-up — автомобильная техника поставлена на учет в аттестованных дилерских (сервисных) центрах, которыми проведены все необходимые виды технического обслуживания в гарантийный период эксплуатации.
    p.section-txt.slide-up Рекламации по качеству автомобильной техники КАМАЗ не подлежат рассмотрению и претензии предприятием-изготовителем не удовлетворяются в случаях нарушения требований и рекомендаций, изложенных в Руководстве по эксплуатации и Сервисной книжке;
    p.section-txt.slide-up Рекламации по качеству спецнадстроек и специального оборудования, рассматриваются и удовлетворяются заводами комплектации в соответствии с техническими условиями, руководствами по эксплуатации спецнадстроек (спецоборудования).
    h2.other-page-title.slide-right Гарантия на запасные части
    p.section-txt.slide-up 1. Общие условия гарантии.
    p.section-txt.slide-up 1.1. Гарантийный срок на запасные части устанавливается Продавцом и исчисляется с даты реализации Потребителю:
    p.section-txt.slide-up — на запасные части производства ПАО «КАМАЗ» гарантийный срок установлен в зависимости от артикула каждого изделия, в установленных ТУ пределах и указывается в паспорте изделия (при его наличии);
    p.section-txt.slide-up — на запасные части производства заводов-смежников, действует гарантия качества завода-изготовителя.
    p.section-txt.slide-up 1.2. Претензии по качеству запасных частей до ввода их в эксплуатацию принимаются при условии приобретения их у официальных дилеров ПАО «КАМАЗ».
    p.section-txt.slide-up 1.3. В случае обнаружения в товаре недостатков, если они не были оговорены продавцом, по своему выбору потребитель вправе потребовать:
    p.section-txt.slide-up — замены товара;
    p.section-txt.slide-up — соразмерного уменьшения покупной цены;
    p.section-txt.slide-up — незамедлительного безвозмездного устранения недостатков;
    p.section-txt.slide-up — отказаться от исполнения договора купли-продажи и потребовать возврата уплаченной за товар суммы. По требованию продавца и за его счет потребитель должен возвратить товар с недостатками.
    p.section-txt.slide-up 1.4. Если гарантийный срок или срок годности на товар не установлен, то потребитель вправе предъявить требования, если недостатки товаров обнаружены в разумный срок, но в пределах двух лет с момента передачи товара, если более длительные сроки не установлены законом или договором.
    p.section-txt.slide-up 1.5.Претензии по качеству запасных частей в процессе их эксплуатации принимаются при соблюдении следующих условий:
    p.section-txt.slide-up — запасная часть приобретена у официальных дилеров ПАО «КАМАЗ»;
    p.section-txt.slide-up — установка запасной части на автомобиль произведена в сертифицированных сервисных центрах ПАО «КАМАЗ» (что подтверждается отметкой в паспорте изделия или актом выполненных работ);
    p.section-txt.slide-up — соблюдены нормы периодичности проведения ТО на автомобиль.
    p.section-txt.slide-up 1.6. Для выполнения гарантийных обязательств, предоставляемых Продавцом Потребителю необходимо представить документы, указанные в п.2 настоящих условий.
    p.section-txt.slide-up 1.7. Гарантийные обязательства не распространяются на:
    p.section-txt.slide-up 1.7.1. Детали, подвергающиеся износу, зависящему от интенсивности и условий эксплуатации автомобиля и на детали с регламентированным пробегом: тормозные накладки, накладки ведомого диска сцепления, щетки стеклоочистителей, фильтроэлементы любые и т. п.
    p.section-txt.slide-up 1.7.2. Запасные части, используемые не по назначению;
    p.section-txt.slide-up 1.7.3. Запасные части, хранение, эксплуатация и обслуживание которых производилась с нарушением требований и рекомендаций, изложенных в паспорте (руководстве по эксплуатации) изделия;
    p.section-txt.slide-up 1.7.4. Запасные части с нарушением или отсутствием заводской пломбировки (маркировки);
    p.section-txt.slide-up 1.7.5. Запасные части, поврежденные в результате ударов или других механических, термических и химических воздействий;
    p.section-txt.slide-up 1.7.6. Запасные части, подвергшиеся конструктивным изменениям, не согласованным с заводом-изготовителем;
    p.section-txt.slide-up 2. Порядок рассмотрения обращений потребителя:
    p.section-txt.slide-up 2.1. В случае выявления дефекта приобретенной запасной части до ввода её в эксплуатацию, Потребителю необходимо обратиться к Продавцу (официальному дилеру ПАО «КАМАЗ») с предоставлением следующих документов:
    p.section-txt.slide-up — заявления в произвольной форме с обязательным указанием фамилии, имени, отчества, паспортных данных (для физ.лиц);
    p.section-txt.slide-up — обращения на бланке организации с реквизитами: исх № письма, дата, подпись уполномоченного лица, печать (для юридических лиц);
    p.section-txt.slide-up — документов, подтверждающих приобретение запасной части (накладная, счет-фактура, кассовый чек, товарный чек);
    p.section-txt.slide-up — заполненного гарантийного талона (при наличии);
    p.section-txt.slide-up — паспорта двигателя, силового агрегата (при рекламации этих агрегатов, полученных в качестве запасных частей).
    p.section-txt.slide-up 2.2. В случае выявления дефекта приобретенной запасной части в процессе её эксплуатации, Потребителю необходимо обратиться в сертифицированный сервисный центр ПАО «КАМАЗ», производивший установку запасной части на автомобиль (либо в любой другой сертифицированный сервисный центр ПАО «КАМАЗ», адреса субъектов сервисной сети приведены на официальной сайте ПАО «КАМАЗ» www.kamaz.ru) с предоставлением следующих документов:
    p.section-txt.slide-up — заявления в произвольной форме с обязательным указанием фамилии, имени, отчества, паспортных данных (для физических лиц);
    p.section-txt.slide-up — обращения на бланке организации с реквизитами: исх № письма, дата, подпись уполномоченного лица, печать (для юридических лиц);
    p.section-txt.slide-up — документов, подтверждающих приобретение запасной части (накладная, счет-фактура, кассовый чек, товарный чек);
    p.section-txt.slide-up — копии заказ-наряда и акта выполненных работ, подтверждающих установку запасной части на автомобиль в сертифицированном сервисном центре ПАО «КАМАЗ»;
    p.section-txt.slide-up — заполненного гарантийного талона (при наличии);
    p.section-txt.slide-up — паспорта двигателя, силового агрегата (при рекламации этих агрегатов, полученных в качестве запасных частей);
    p.section-txt.slide-up — документов, подтверждающих проведение регламентного технического обслуживания на автомобиле.
    p.section-txt.slide-up 2.3. При отсутствии у Потребителя документов указанных в п. 2.1. (п.2.2.), Продавец (сертифицированный сервисный центр ПАО «КАМАЗ») оставляет за собой право отказать в рассмотрении обращения.
    p.section-txt.slide-up При обращении к Продавцу Потребитель юридическое лицо должен руководствоваться условиями договора и нормами гражданского законодательства РФ. Потребитель физическое лицо при обращении к Продавцу руководствуется договором, при его наличии, и законом РФ от 07.02.1992 № 2300-1 «О защите прав потребителей».
