section.kamaz-special
  .container.container_xs
    h2.kamaz-special__title.section-title.slide-right Камаз 43118
    p.section-txt.slide-up Бортовой автомобиль КамАЗ-43118 с  тросовым краном-манипулятором INMAN IT  150 предназначен для производства погрузочно-разгрузочных работ и  перевозки крупногабаритных грузов. Кран-борт многофункционален и  может заменить сразу два вида техники  — автокран и  грузовик.
    p.section-txt.slide-up Это позволяет снизить финансовые и  временные затраты, так как управление кран-бортом возможно с  помощью одного человека, который включает в  себя должность крановщика и  водителя, в  следствие чего не  придется перерасходовать средства на  рабочую силу и  дополнительную спецтехнику.
    h3.section-sub-title с #[span.num-anim 1995] года
    p.section-txt.slide-up КамАЗ-43118 один из наиболее популярных грузовиков продаваемых на территории России, выпускается Камским автомобильным заводом с 1995 года. В настоящий момент произведено более 100 000 автомобилей данной модели.
  .kamaz-special__image.slide-right
    img(src=require('@/assets/img/kamaz-special/kamaz-special.jpg') alt="")
