section.kamaz-flatbed
  .container.container_xs
    h2.section-title Камаз 65117
    .kamaz-flatbed__container
      .kamaz-flatbed__item
        h3.section-sub-title #[span.num-anim 300] л.с.
        p.section-txt.slide-up Грузовик с двигателем Cummins мощностью 300л.с., трансмиссией ZF9 и колесной формулой 6×4
      .kamaz-flatbed__item
        h3.section-sub-title #[span.num-anim 14],5 т
        p.section-txt.slide-up Автомобиль имеет грузоподъемность 14,5 тонн. Данную модель можно использовать в качестве бортового либо тентованного грузовика.
      .kamaz-flatbed__item
        h3.section-sub-title #[span.num-anim 500] л
        p.section-txt.slide-up Бак объемом 500 л. обеспечивает длительный запас хода для работы без дозаправки.
      .kamaz-flatbed__image.slide-right
        img(src=require('@/assets/img/kamaz-flatbed/kamaz-flatbed.png') alt="")
