section.kamaz-chassis
  .container.container_xs
    h2.section__title.slide-right Камаз 43118
    p.section-txt.slide-up Шасси КамАЗ-43118 оснащено системой контроля давления в колесах. Регулировка давление позволяет изменять площадь контакта с дорогой. В качестве трансмиссии на шасси КамАЗ-43 118 устанавливается 9-ступенчатая механическая коробка передач производства немецкой компании ZF. Совместно с двигателем они обеспечивают превосходную динамику и тяговые характеристики.
    p.section-txt.slide-up В базовой комплектации шасси КамАЗ-43118 поставляется с кабиной, не имеющей спального места.
  .kamaz-chassis__image.slide-right
    img(src=require('@/assets/img/kamaz-chassis/kamaz-chassis.jpg') alt="")
