section.leasing
  .container.container_xs
    h2.other-page-title.slide-right Лизинг от производителя – самый выгодный способ приобретения автотехники КАМАЗ
    p.section-txt.slide-up Лизинговая компания «КАМАЗ» работает на рынке лизинговых услуг с 2002 года и реализовала за эти годы более 64 тысяч единиц автотехники. Единственная лизинговая компания, работающая напрямую от производителя — ПАО «КАМАЗ
    h3.other-page-sub-title.slide-right Наши преимущества:
    +list(leasingList)
    p.section-txt.slide-up
    h3.other-page-sub-title.slide-right Как взять технику в лизинг?
    .leasing__links
      each el in leasingLinks
        a.leasing__links-item.slide-up(href=el.href)
          span.leasing__links-item-num #{el.num}
          span.leasing__links-item-txt #{el.txt}
          if (el.rectTxt)
            span.leasing__links-item-rect #{el.rectTxt}

