.mobile-menu
  .mobile-menu__head
    a.mobile-menu__logo(href="https://sotrans.ru/")
      img(src=require('@/assets/img/header/logo-sotr.svg') alt="")
    a.mobile-menu__logo(href="https://kamaz.sotrans.ru/")
      img(src=require('@/assets/img/header/logo-kamaz-mobile.svg') alt="")
  form.mobile-menu__search
    input(type="text" name="" placeholder="Поиск по сайту")
  .mobile-menu__links
    ul.mobile-menu__links-list
      each el in rightMenu
        li.mobile-menu__links-list-item
          a(href=el.href) #{el.txt}
