section.partners
  .container
    h2.partners__title.section-title.slide-right Нам доверяют
  .partners__slider.swiper
    ul.swiper-wrapper
      each el in partnersBlock
        li.swiper-slide
          img(src=el alt="")
  .container
    .partners__desc
      .partners__desc-item
        .partners__desc-num
          span.num-anim  12
        .partners__desc-txt.slide-up Сервисных центров #[br] по все стране
      .partners__desc-item
        .partners__desc-num
          span.num-anim  3594
          | +
        .partners__desc-txt.slide-up Проданных единиц #[br] техники
      .partners__desc-item
        .partners__desc-num
          span.num-anim  30
        .partners__desc-txt.slide-up Лет на рынке продажи #[br] и обслуживания техники
