section.product-modifications#product-modifications
  .container.container_sm
    h2.product-modifications__title.slide-right Доступные модификации
    .product-modifications__container.slide-up
      each el in productModificationsItems
        .product-modifications__item
          .product-modifications__item-top
            h3.product-modifications__item-title #{el.title}
            .product-modifications__item-container
              if (el.status === 'stock')
                .product-status-stock В наличии
              if (el.status === 'order')
                .product-status-order Под заказ
              .product-modifications__item-price #{el.price}
              a.product-modifications__item-call.btn.btn_blue(href="javascript:") Заказать звонок
          +characteristic-list(el.characteristics)
          .options
            each options in el.optionsAccord
              +options-accord(options)
    +btn-more('Показать еще')
