section.safety
  .container
    h2.safety__title.slide-right Системы безопасности
    .safety__grid
      each el in safetyItems
        .safety__item
          h3.safety__item-title !{el.txt}
          .safety__item-image
            img(src=el.img alt="")
