section.semitrailer
  .container.container_sm
    h2.semitrailer__title.section-title.slide-right Шторный полуприцеп #[br] ТЗА 588510-08
    .semitrailer__length #[span 91] м#[sup 2]
    .semitrailer__desc
      each el in semitrailerItems
        p.semitrailer__desc-item.slide-up #{el}
  .semitrailer__image.slide-right
    img(src=require('@/assets/img/semitrailer/semitrailer.jpg') alt="")
