section.services
  .container
    h2.services__title.section-title.slide-right Наши услуги
    .services__grid
      each el in servicesBlock
        .services__item
          .services__item-desc !{el.txt}
          .services__item-image
            img(src=el.img alt="")
