section.service
  .container.container_xs
    h2.other-page-title.slide-right Ремонт и обслуживание высочайшего уровня в соответсвии с регламентом производителя.
    p.section-txt.slide-up Своевременная диагностика и качественный ремонт продлевают эксплуатацию автомобиля. Являясь официальным дилером, компания СОТРАНС обслуживает грузовые автомобили «КАМАЗ» на высочайшем уровне в соответсвии с регламентом производителя.
    .other-page-image.slide-right
      img(src=require('@/assets/img/service/1.jpg') alt="")
    p.section-txt.slide-up Наша компания предоставляет комплексные услуги для автомобилей «КАМАЗ» как в гарантийный, так и в послегарантийный период:
    +list(serviceList)
