section.suspension
  .container.container_xs
    h2.suspension__title.section-title.slide-right Пневматическая #[br] подвеска SAF или BPW
    h3.suspension__sub-title.slide-right Ø #[span.num-anim 360] мм
    .suspension__txt.slide-up Подвеска SAF Intra сварная балка с увеличенной пневморессорой Ø 360 мм и усиленными амортизаторами. #[br] Подвеска BPW классическая с полурессорой, комплектуется увеличенной пневморессорой #[br] Ø 360 мм и усиленным аммортизатором серии HD.
    .suspension__image.slide-right
      img(src=require('@/assets/img/suspension/suspension.png') alt="")
    h3.suspension__sub-title.slide-right Высокопрочная рама
    .suspension__txt.slide-up Рама шторного полуприцепа изготовлена из высокопрочной стали, сварная из #[br] лонжеронов двутаврового сечения, соединенная поперечинами и грузоподъемностью свыше 32 тонн
