section.transmission
  .container.container_sm
    h2.transmission__title.section-title.slide-right Автоматизированная #[br] коробка передач ZF Traxon
    .transmission__txt.slide-up Автомобиль оснащен новой 12-ступенчатой автоматизированной коробкой передач ZF Traxon. Данная коробка передач создавалась специально для коммерческого транспорта и обладает рядом преимуществ
    +list(transmissionTopList)
    .transmission__image.slide-right
      img(src=require('@/assets/img/transmission/transmission.png') alt="")
    .transmission__txt.slide-up Для повышения экономичности и комфорта управления автомобилем в коробке передач имеются следующие функции:
    +list(transmissionBottomList)
