section.truck-engine
  .container.container_xs
    h2.section-title.slide-right Cummins 6ISBe
    p.section-txt.slide-up Двигатель для самосвала остался один и на его роль выбран более экономичный и в то же время более #[span мощный дизельный агрегат Cummins 6ISBe 300 с 6-ю цилиндрами рядного расположения.]
    .truck-engine__container
      .truck-engine__container-block.slide-right
        img(src=require('@/assets/img/truck-engine/truck-engine.png') alt="")
      .truck-engine__container-block
        h3.section-sub-title #[span.num-anim 6],7 л
        p.section-txt.slide-up объем двигателя
        h3.section-sub-title #[span.num-anim 1100] Нм
        p.section-txt.slide-up пик крутящего момента
    p.section-txt.slide-up Самосвалы КАМАЗ — проверенные временем и  недорогие автомобили. Экономный расход топлива, простота и  удобство в  обслуживании, удобная кабина, нейтральный дизайн- идеальный выбор для представителей малого и  среднего бизнеса.
