section.types
  .container
    h2.section-title.slide-right Выберете тип транспорта
    .types__grid
      each el in typesImages
        a.types__item(href=el.href)
          .types__item-image
            img(src=el.img alt="")
          .types__item-txt #{el.txt}

