section.types
  .container
    h2.section-title.slide-right Выберете тип транспорта
    .types__grid
      each el in typesImages
        .types__item
          .types__item-image
            | !{el}

