@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.footer
  +font(24px, 28px)
  .container
    display: flex
    align-items: center
    justify-content: space-between
    +screen($tablet)
      display: flex
      flex-direction: column
      align-items: flex-start
      gap: 40px

  &__top
    background-color: #484543
    padding: 40px 0

    a
      color: $white

      &:before
        background-color: $white

    .menu
      +screen($tablet)
        flex-direction: column
        gap: 20px
        align-items: flex-start

  &__bottom
    background-color: #1D1D1B
    padding: 36px 0
    +screen($tablet)
      padding: 24px 0

    a
      color: #707070
      +screen($desktop)
        +font(20px, 24px)
      +screen($tablet)
        +font(16px, 20px)

      &:hover:not(:active)
        +mf-screen(1025)
          color: #F4F4F4

  &__docs
    display: flex
    gap: 24px
    +screen($tablet)
      flex-direction: column
      gap: 16px

  &__copyright
    color: #707070

  &__socials
    display: flex
    align-items: center
    gap: 24px

    a
      display: flex
      align-items: center

      &:hover:not(:active)
        +mf-screen(1025)
          svg
            path[fill="#707070"]
              fill: #1D1D1B

