@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.header
  height: 100px
  padding: 28px 0
  position: fixed
  left: 0
  top: 0
  width: 100%
  box-sizing: border-box
  z-index: 100
  +screen($tablet)
    height: 72px
    padding: 16px

  &.sticky
    background-color: $white
    box-shadow: 0 4px 12px 0 #1D1D1B1F

  .container
    display: flex
    align-items: center
    justify-content: space-between
    +screen($tablet)
      padding: 0

  &__logo
    img
      +screen($tablet)
        width: 158px

  &__menu
    +screen($tablet)
      box-sizing: border-box
      padding: 16px
      position: fixed
      background-color: #F4F4F4
      width: 100%
      display: flex
      top: 72px
      left: -100vw
      z-index: 100
      flex-direction: column
      align-items: flex-start
      height: calc(100vh - 72px)
      transition: left .3s

      &.active
        left: 0

      .menu
        display: flex
        flex-direction: column
        align-items: flex-start

    .header__request
      display: none
      +screen($tablet)
        margin-top: 20px
        display: block

  &__burger
    display: none
    +screen($tablet)
      width: 40px
      height: 40px
      background: url(../assets/img/header/burger.svg) no-repeat center
      display: block

      &.active
        background: url(../assets/img/header/close.svg) no-repeat center


  &__request
    +screen($tablet)
      display: none
