@use '../../../abstracts/variables' as *
@use '../../../abstracts/mixins' as *

.about
  background-color: $light-blue
  box-sizing: border-box
  padding: 24px 0 60px
  width: 100%
  +screen($tablet)
    padding: 24px 0 0
  +screen($tablet-sm)
    padding: 24px 0

  &-container
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr
    grid-column-gap: 24px
    grid-row-gap: 0
    position: relative
    +screen($tablet)
      grid-column-gap: 20px
    +screen($tablet-sm)
      display: flex
      flex-direction: column

  &-info
    grid-area: 1 / 1 / 2 / 2

    p
      margin-top: 16px

    &-btns
      display: flex
      gap: 16px
      margin-top: 36px
      +screen($tablet-sm)
        gap: 20px
        margin-top: 28px
        justify-content: center
      +screen($tablet-xs)
        flex-direction: column
        gap: 16px

      button
        width: 150px
        white-space: nowrap
        +screen($tablet-sm)
          width: 251px
        +screen($tablet-xs)
          width: 100%

  &-slider
    grid-area: 1 / 2 / 2 / 3
    overflow: hidden
    border-radius: 16px
    +screen($tablet-sm)
      display: none

    &-mobile
      display: none
      +screen($tablet-sm)
        display: flex
        align-items: center
        justify-content: center
        margin-top: 28px
      +screen($tablet-xs)
        width: 100%


  &-beauty
    position: absolute
    right: -42px
    bottom: -42px
    +screen($tablet)
      width: 196px
      height: 132px
      overflow: hidden
      right: -23px
      bottom: 40px

  .swiper
    max-height: 304px
    position: relative
    +screen($tablet-sm)
      width: 100%
      box-sizing: border-box
      margin: 0 30px
    +screen($tablet-xs)
      padding-bottom: 24px
      margin: 0

    &-pagination
      display: none
      +screen($tablet-xs)
        display: block
        bottom: 0


    &-slide
      display: flex
      border-radius: 16px
      +screen($tablet-sm)
        display: flex
        justify-content: center
      +screen($tablet-xs)
        width: 100%

      img
        border-radius: 16px
        +screen($desktop-sm)
          width: 523px
          overflow: hidden
        +screen($tablet-xs)
          width: 100%

  .swiper-button
    width: 30px
    height: 30px
    border-radius: 50%
    background-color: $blue-main
    background-repeat: no-repeat
    background-position: center
    position: absolute
    bottom: 20px
    +screen($tablet-sm)
      width: 40px
      height: 40px
    +screen($tablet-xs)
      display: none

    &-prev
      background-image: url(../assets/img/index/about/arrow-left.svg)
      right: 62px
      +screen($tablet-sm)
        right: auto
        left: 0

    &-next
      background-image: url(../assets/img/index/about/arrow-right.svg)
      right: 20px
      +screen($tablet-sm)
        right: 0

    &-prev, &-next
      top: auto
      left: auto
      +screen($tablet-sm)
        top: 50%





