@use '../../../abstracts/variables' as *
@use '../../../abstracts/mixins' as *

.answers
  box-sizing: border-box
  padding: 40px 0
  +screen($tablet-sm)
    padding: 36px 0
  +screen($tablet-xs)
    padding: 32px 0

  &-container
    display: flex
    justify-content: space-between
    margin-top: 28px
    +screen($tablet-sm)
      flex-direction: column
      gap: 28px
    +screen($tablet-xs)
      margin-top: 24px

  &-left
    width: 66%
    margin-right: 24px
    display: flex
    flex-direction: column
    justify-content: space-between
    +screen($tablet)
      width: 61.7%
      margin-right: 20px
    +screen($tablet-sm)
      width: 100%
      margin-right: 0

    &-info
      display: flex
      margin-top: 32px
      align-items: flex-start
      +screen($tablet-sm)
        margin-top: 20px
      +screen($tablet-xs)
        margin-top: 24px

      span
        +font(12px, 16px, 400)
        color: $black
        margin-left: 5px

        a
          +font(12px, 16px, 600)
          text-decoration: underline
          color: $blue-main
          display: inline

  &-card
    border: 1px solid $light-gray
    border-radius: 16px
    box-sizing: border-box
    padding: 14px 16px
    margin-bottom: 12px
    cursor: pointer
    +screen($tablet-xs)
      margin-bottom: 16px

    &:last-child
      margin-bottom: 0

    &-top
      display: flex
      justify-content: space-between
      position: relative
      align-items: center
      z-index: 3

      &_title
        +font(16px, 19px, 700)
        color: $black
        margin: 0
        transition: color .3s ease

      &_btn
        width: 24px
        height: 24px
        border-radius: 50%
        border: 2px solid $blue-main
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        background-color: $white
        transition: background-color .3s ease
        box-sizing: border-box

        &-minus
          display: none

        &-plus
          padding-top: 1px

        &-minus, &-plus
          height: 100%
          width: 100%
          align-items: center
          justify-content: center
          object-fit: cover
          margin: 0 auto

    &:hover

      & .answers-card-top_title
        color: $blue-main

      & .answers-card-top_btn
        background-color: $blue-main

        &-minus svg path, &-plus svg path
          stroke: $white

    &-text
      opacity: 0
      height: 0
      margin-top: 0
      transition: height .3s ease, margin-top .3s ease
      +font(14px, 20px, 400)
      color: $black

      p
        margin: 0

    &.active
      border: 1px solid $white
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1)

      .answers-card-text
        opacity: 1
        height: auto
        transition: height .3s ease, margin-top .3s ease
        margin-top: 12px

      .answers-card-top_btn-plus
        display: none

      .answers-card-top_btn-minus
        display: flex

  &-form
    height: 422px
    width: 32%
    background-color: $light-blue
    border-radius: 16px
    display: flex
    flex-direction: column
    justify-content: space-between
    box-sizing: border-box
    padding: 22px
    +screen($tablet)
      width: 36.1%
      padding: 16px 13px 16px 16px
    +screen($tablet-sm)
      width: 100%
      height: auto
      padding: 16px

    &-container
      display: flex
      flex-direction: column
      gap: 16px
      +screen($tablet-sm)
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)
        grid-column-gap: 54px
        grid-row-gap: 28px
        margin-top: 16px
      +screen($tablet-xs)
        display: flex
        flex-direction: column
        gap: 16px

    &-title
      +font(22px, 28px, 900)
      color: $black
      +screen($tablet-sm)
        +font(20px, 28px, 900)

    &-input

      input
        border: 1px solid $text-field
        background-color: $light-blue

    & .btn
      width: 100%

    &-contacts
      margin-top: 24px
      +screen($tablet-sm)
        margin-top: 16px

      h4
        margin-bottom: 16px

      ul
        display: flex
        flex-direction: column
        gap: 8px
        +screen($tablet-sm)
          flex-direction: row
          gap: 73px
        +screen($tablet-sm)
          flex-direction: column
          gap: 8px

        li a
          display: flex
          align-items: center
          gap: 4px
          +font(14px, 17px, 600)
          color: $black





