@use '../../../abstracts/variables' as *
@use '../../../abstracts/mixins' as *

.main-page
  padding-top: 20px
  padding-bottom: 40px
  box-sizing: border-box
  +screen($tablet-sm)
    padding-bottom: 36px
  +screen($tablet-xs)
    padding-bottom: 12px

  &.container
    +screen($tablet)
      padding: 0

  .main-slider:hover .swiper-button
    opacity: 1 !important
    transition: opacity 0.3s

  .swiper-pagination-bullet
    background: rgba(255, 255, 255, 1)

  .swiper-button
    opacity: 0
    width: 40px
    height: 40px
    border-radius: 50%
    background-color: rgba(255, 255, 255, 0.3)
    background-repeat: no-repeat
    background-position: center
    transition: opacity 0.3s
    +screen($tablet-xs)
      display: none

    &:hover
      background-color: $white

    &-prev
      background-image: url(../assets/img/global/arrow-left.svg)

    &-next
      background-image: url(../assets/img/global/arrow-right.svg)

  #main-slider
    +screen($tablet-xs)
      display: none

  .swiper
    border-radius: 16px
    overflow: hidden
    +screen($tablet)
      padding: 0 16px
      margin-top: 20px

    &-pagination
      +screen($tablet-xs)
        bottom: 0

      &-bullet
        background: $text-field

        &-active
          +screen($tablet-xs)
            background: $blue-light

    &-slide
      display: flex
      align-items: center
      box-sizing: border-box
      border-radius: 16px
      position: relative
      overflow: hidden
      max-height: 380px
      +screen($tablet-xs)
        max-height: 472px

      img
        max-width: 100%
        width: 100%
        object-fit: contain
        object-position: top

  #main-slider-mobile
    display: none
    +screen($tablet-xs)
      display: block

  &-cards
    margin-top: 16px
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-column-gap: 24px
    grid-row-gap: 0
    +screen($tablet)
      grid-column-gap: 20px
    +screen($tablet-sm)
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, 1fr)
      grid-column-gap: 12px
      grid-row-gap: 20px
    +screen($tablet-xs)
      display: grid
      grid-template-columns: repeat(4, 292px)
      grid-template-rows: 160px
      grid-column-gap: 20px
      grid-row-gap: 0
      margin-top: 8px
      overflow-x: scroll
      overflow-y: visible
      padding: 20px
      box-sizing: border-box
      -ms-overflow-style: none /* IE и Edge */
      scrollbar-width: none /* Firefox */

    &::-webkit-scrollbar
      display: none

    &-item
      box-shadow: 0 4px 20px 0 rgba(14, 17, 97, 0.1)
      padding: 16px
      box-sizing: border-box
      display: flex
      flex-direction: column
      border-radius: 16px
      +screen($tablet-xs)

      &__img
        width: 32px
        height: 32px
        display: flex
        align-items: center
        justify-content: center
        background-color: $light-blue
        border-radius: 8px

      &_title
        +font(16px, 20px, 700)
        color: $black
        margin: 8px 0






