@use '../../../abstracts/variables' as *
@use '../../../abstracts/mixins' as *

.main-page
  padding-top: 20px
  padding-bottom: 40px
  box-sizing: border-box
  +screen($tablet-sm)
    padding-bottom: 36px
  +screen($tablet-xs)
    padding-bottom: 12px

  .main-slider:hover .swiper-button
    opacity: 1 !important
    transition: opacity 0.3s

  .swiper-pagination-bullet
    background: rgba(255, 255, 255, 1)

  .swiper-button
    opacity: 0
    width: 40px
    height: 40px
    border-radius: 50%
    background-color: rgba(255, 255, 255, 0.3)
    background-repeat: no-repeat
    background-position: center
    transition: opacity 0.3s
    +screen($tablet-xs)
      display: none

    &:hover
      background-color: $white

    &-prev
      background-image: url(../assets/img/global/arrow-left.svg)

    &-next
      background-image: url(../assets/img/global/arrow-right.svg)

  .swiper
    border-radius: 16px
    overflow: hidden
    +screen($tablet-xs)
      padding-bottom: 28px

    &-pagination
      +screen($tablet-xs)
        bottom: 0

      &-bullet
        background: $text-field

        &-active
          +screen($tablet-xs)
            background: $blue-light

  .swiper-slide
    height: 380px
    display: flex
    align-items: center
    padding-left: 78px
    box-sizing: border-box
    border-radius: 16px
    position: relative
    overflow: hidden
    +screen($tablet)
      padding-left: 56px
    +screen($tablet-sm)
      height: 286px
      padding-left: 44px
    +screen($tablet-xs)
      height: 471px
      padding: 12px 16px
      align-items: flex-end

    &-overlay
      background: linear-gradient(269.82deg, rgba(237, 249, 255, 0.95), rgba(56, 165, 225, 2))
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      +screen($tablet-xs)
        background: linear-gradient(178.31deg, rgba(255, 255, 255, 0) 1.03%, #DBF0FC 98.19%)

    &_img
      height: 100%
      width: 100%
      position: absolute
      left: 0
      top: 0
      z-index: -1
      display: flex
      justify-content: flex-end
      +screen($tablet-xs)
        justify-content: center

      img
        height: 100%
        object-fit: contain
        object-position: center


    &-main-btns
      display: flex
      gap: 16px
      +screen($tablet-xs)
        flex-direction: column

      button
        width: 150px
        +screen($tablet-xs)
          width: 100%

    .main-page-swiper-slide-info
      width: 408px
      position: relative
      z-index: 4
      +screen($tablet-xs)
        width: 100%

      h2
        +font(30px, 36px, 900)
        color: $black
        margin-bottom: 12px
        +screen($tablet-sm)
          +font(24px, 28px, 900)
          margin-bottom: 8px
        +screen($tablet-xs)
          +font(26px, 30px, 900)
          margin-bottom: 12px

      p
        +font(14px, 20px, 400)
        color: $black
        margin-bottom: 36px
        +screen($tablet-sm)
          margin-bottom: 24px
        +screen($tablet-xs)
          +font(12px, 16px, 400)
          margin-bottom: 28px

  &-cards
    margin-top: 16px
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-column-gap: 24px
    grid-row-gap: 0
    +screen($tablet)
      grid-column-gap: 20px
    +screen($tablet-sm)
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, 1fr)
      grid-column-gap: 12px
      grid-row-gap: 20px
    +screen($tablet-xs)
      display: grid
      grid-template-columns: repeat(4, 292px)
      grid-template-rows: 160px
      grid-column-gap: 20px
      grid-row-gap: 0
      margin-top: 8px
      overflow-x: scroll
      overflow-y: visible
      padding: 20px 0
      box-sizing: border-box
      -ms-overflow-style: none /* IE и Edge */
      scrollbar-width: none /* Firefox */

    &::-webkit-scrollbar
      display: none

    &-item
      box-shadow: 0 4px 20px 0 rgba(14, 17, 97, 0.1)
      padding: 16px
      box-sizing: border-box
      display: flex
      flex-direction: column
      border-radius: 16px
      +screen($tablet-xs)

      &__img
        width: 32px
        height: 32px
        display: flex
        align-items: center
        justify-content: center
        background-color: $light-blue
        border-radius: 8px

      &_title
        +font(16px, 20px, 700)
        color: $black
        margin: 8px 0






