@use '../../../abstracts/variables' as *
@use '../../../abstracts/mixins' as *

.news

  &-top
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-bottom: 28px

  &-container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: 1fr
    grid-column-gap: 24px
    grid-row-gap: 0

  &-card
    display: flex
    flex-direction: column
    justify-content: space-between
    padding-bottom: 16px
    box-sizing: border-box
    border-radius: 16px
    overflow: hidden
    height: 344px
    +screen($tablet)
      height: 326px
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1)

    .news-title
      white-space: pre-line
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical

    &_img
      border-radius: 16px
      overflow: hidden
      display: flex

      img
        width: 100%
        object-fit: cover

    &-top
      display: flex
      gap: 4px
      align-items: center
      margin: 16px 16px 0

      &_dot
        width: 4px
        height: 4px
        border-radius: 50%
        background-color: $grey

      span
        color: $grey
        +font(14px, 18px, 400)
        +screen($tablet)
          +font(14px, 20px, 400)

    h5
      color: $black
      +font(16px, 20px, 700)
      margin: 8px 16px 0

    .btn
      display: none
      width: 150px
      margin: 0 16px
      +screen($tablet)
        width: calc(100% - 32px)
        display: block


    &:hover
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1)

      .btn
        display: block

      h5
        color: $blue-main




