@use '../../../abstracts/variables' as *
@use '../../../abstracts/mixins' as *

.reviews
  background-color: $blue-main
  padding: 28px 0

  &-top
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-bottom: 28px

  &-container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 1fr
    grid-column-gap: 24px
    grid-row-gap: 0
    position: relative
    z-index: 5

    &-beauty
      position: absolute
      bottom: -23px
      left: -150px
      z-index: 1

  &-card
    height: 290px
    display: flex
    position: relative
    z-index: 6
    flex-direction: column
    justify-content: space-between
    background-color: $blue-dark
    border-radius: 16px
    overflow: hidden
    box-sizing: border-box
    padding: 16px

    &_name
      margin: 0 0 4px
      color: $white
      +font(16px, 22px, 700)

    &_title
      +font(12px, 16px, 700)
      color: $blue-light
      margin: 0 0 8px

    &_text
      +font(14px, 20px, 400)
      color: $white

    &_date
      +font(12px, 16px, 400)
      color: $menu-static

