@use '../../../abstracts/variables' as *
@use '../../../abstracts/mixins' as *

.seo
  box-sizing: border-box
  padding-bottom: 40px
  +screen($tablet-sm)
    padding-bottom: 36px

  p
    margin-top: 16px
    +font(14px, 20px, 400)
    color: $black
    max-width: 766px

