@use '../../../abstracts/variables' as *
@use '../../../abstracts/mixins' as *

.treatment
  box-sizing: border-box
  padding: 40px 0
  overflow: hidden
  +screen($tablet-sm)
    padding: 36px 0

  .description-text
    margin: 16px 0 28px
    max-width: 588px
    +screen($tablet)
      max-width: 460px
    +screen($tablet-sm)
      max-width: 100%

  &-switcher
    position: relative
    margin: 0 40px 20px
    +screen($tablet)
      padding-bottom: 6px
      overflow-x: scroll
      -ms-overflow-style: none /* IE и Edge */
      scrollbar-width: none /* Firefox */
      height: 82px
      margin: 0 0 16px 52px
    +screen($tablet-sm)

    +screen($tablet-xs)
      margin: 0 0 20px

    &::-webkit-scrollbar
      display: none

    &-btns
      position: relative
      z-index: 6
      height: 80px
      display: grid
      grid-template-columns: repeat(5, 181px)
      grid-template-rows: 1fr
      grid-column-gap: 64px
      grid-row-gap: 0
      box-sizing: border-box
      padding-bottom: 10px
      -ms-overflow-style: none /* IE и Edge */
      scrollbar-width: none /* Firefox */
      +screen($tablet)
        width: 100%
        position: absolute
        top: 0
        left: 0
        height: 82px
        overflow-x: scroll
        overflow-y: scroll
        grid-column-gap: 48px
      +screen($tablet-sm)
        grid-column-gap: 40px
      +screen($tablet-xs)
        grid-template-columns: repeat(5, 260px)
        grid-column-gap: 20px
        padding-bottom: 17px

      &::-webkit-scrollbar
        display: none

    &-indificator-line
      position: absolute
      height: 6px
      width: 100%
      border-radius: 6px
      background-color: $light-blue
      z-index: 1
      +screen($tablet)
        bottom: 6px


    &-btn
      position: relative
      top: 6px
      display: flex
      flex-direction: column
      justify-content: flex-end
      z-index: 7
      +screen($tablet)
        top: 0
        height: 100%
        justify-content: space-between

      h5
        text-align: start
        color: $gray-medium
        +font(14px, 17px, 700)
        transition: color 0.3s ease
        white-space: nowrap
        margin: 0
        +screen($tablet-xs)
          +font(16px, 22px, 700)

        &:hover
          transition: color 0.3s ease
          color: $blue-main

      p
        text-align: start
        +font(12px, 15px, 400)
        color: $black
        margin-top: 8px
        overflow: hidden
        opacity: 0
        height: 0
        transition: opacity 0.3s ease, height 0.5s ease
        +screen($tablet)
          height: 45px
          opacity: 1
          color: $gray-medium
        +screen($tablet-xs)
          +font(14px, 20px, 400)
          height: 40px

      &_indicator
        position: relative
        transform: scaleX(0)
        transform-origin: left
        transition: transform 0.5s ease
        z-index: 4
        +screen($tablet)
          position: absolute
          bottom: 0
          height: 6px
          border-radius: 6px

      &.active

        h5
          color: $blue-main
        p
          display: block
          height: 45px
          opacity: 1
          +screen($tablet-xs)
            height: 40px

        .treatment-switcher-btn_indicator
          transform: scaleX(1)
          width: 100%
          height: 6px
          border-radius: 6px
          background-color: $blue-main
          position: absolute
          bottom: -10px

  &-service-card
    opacity: 0
    visibility: hidden
    max-height: 0
    overflow: hidden
    transition: opacity 1s ease, visibility 1s ease

    &.active
      display: flex
      opacity: 1
      visibility: visible
      max-height: min-content
      transition: opacity 1s ease, visibility 1s ease, transform 1s ease
      background-color: $light-blue
      border-radius: 16px
      overflow: hidden
      box-sizing: border-box
      padding: 20px
      justify-content: space-between
      gap: 24px
      +screen($tablet)
        gap: 20px
      +screen($tablet-sm)
        padding: 16px

    &-img
      display: flex
      border-radius: 16px
      overflow: hidden
      +screen($tablet-sm)
        width: 235px
        height: 145px
      +screen($tablet-xs)
        display: none

        img
          width: 100%
          object-fit: cover

      &-mobile
        display: none
        +screen($tablet-xs)
          display: flex
          border-radius: 16px
          overflow: hidden
          width: 100%
          height: auto
          margin-bottom: 24px

        img
          width: 100%
          object-fit: cover

    &-info
      width: 64.3%
      +screen($tablet)
        width: 59.5%
      +screen($tablet-xs)
        width: 100%

      &-btns
        display: flex
        margin-top: 16px
        gap: 16px
        +screen($tablet-xs)
          flex-direction: column

        button
          width: 150px
          +screen($tablet-xs)
            width: 100%

      h4
        +font(20px, 24px, 700)
        color: $black
        margin-bottom: 12px
        +screen($tablet)
          +font(18px, 22px, 700)
        +screen($tablet-xs)
          +font(20px, 24px, 700)

      &_text
        +font(14px, 20px, 400)
        color: $black
        margin-bottom: 20px
        +screen($tablet)
          +font(14px, 20px, 400)
        +screen($tablet-xs)
          +font(16px, 22px, 400)

      &_price
        +font(14px, 17px, 600)
        color: $black
        +screen($tablet-xs)
          +font(16px, 19px, 600)

        span
          +font(30px, 36px, 900)
          color: $blue-main

      &_date
        color: $grey
        +font(12px, 14px, 400)
        margin-top: 4px
        +screen($tablet-xs)
          +font(14px, 20px, 400)
