@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.brake-system
  box-sizing: border-box
  padding-top: 120px

  &__txt
    margin-top: 60px
    +font(18px, 27px)

  &__image
    margin-top: 60px
