@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.bus-options
  &__container
    display: flex
    justify-content: space-between
    +screen($tablet-xs)
      flex-direction: column
      justify-content: flex-start
    +screen($mobile)
      flex-direction: column
      justify-content: flex-start

    img
      +screen($tablet-sm)
        max-width: 300px
      +screen($tablet-xs)
        max-width: none
        margin-top: 40px
