@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.bus
  padding: 120px 0

  &__image
    margin-top: 80px

  &__desc
    margin-top: 120px
    display: flex

  &__container
    &:first-child
      max-width: 372px
