@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.bus
  padding: 120px 0
  +screen($tablet)
    padding: 60px 0

  &__image
    margin-top: 80px
    +screen($tablet)
      margin-top: 40px

  &__desc
    margin-top: 120px
    display: flex
    +screen($tablet)
      margin-top: 20px
    +screen($mobile)
      flex-direction: column

  &__container
    &:first-child
      max-width: 372px
      +screen($mobile)
        max-width: none

    &:last-child
      +screen($mobile)
        margin-top: 40px
