@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

.cabin
  background: url(../assets/img/cabin/cabin-bg.jpg) no-repeat center/cover
  box-sizing: border-box
  padding: 130px 0
  color: $white
  height: 944px
  +screen($tablet)
    padding: 60px 0
    height: auto

  .container
    height: auto

  &__txt
    +font(18px, 27px)
    margin-top: 60px
    max-width: 600px
    +screen($tablet)
      max-width: none
      margin-top: 30px

  &__grid
    margin-top: 40px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 30px
    +screen($tablet)
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 20px
    +screen($tablet-sm)
      grid-template-columns: 1fr
      grid-gap: 10px

  &__item
    color: $white
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    height: 130px
    border: 3px solid $white
    box-sizing: border-box
    padding: 18px 26px
    transition: background-color .5s, color .5s, margin-top .5s, box-shadow .5s
    +screen($tablet)
      height: auto
      align-items: flex-start

    &:nth-child(7)
      grid-column: span 2
      +screen($tablet)
        grid-row: 5 / 6
      +screen($tablet-sm)
        grid-column: auto
        grid-row: 8 / 9

      .cabin__item-svg
        +screen(1280)
          padding-left: 15px

    &:nth-child(8)
      +screen($tablet)
        grid-column: span 2
      +screen($tablet-sm)
        grid-column: auto

    &:hover
      background-color: $white
      color: $black-light
      margin-top: -10px
      box-shadow: 0 4px 4px rgb(0 91 195 / 20%)
      +screen($tablet)
        margin-top: 0

      svg
        path[fill]
          fill: $black-light

        path[stroke]
          stroke: $black-light

    &-svg
      flex-shrink: 0
      width: 48px
      height: 48px

    &-desc
      display: flex
      flex-direction: column
      height: 100%
      justify-content: space-between

    &-title
      +font(22px, 28px, 500)
      +screen($tablet-xs)
        +font(18px, 22px, 600)

    &-txt
      +font(16px, 20px, 300)
      max-width: 766px
      +screen($tablet)
        margin-top: 20px
        max-width: none
