@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

.catalog
  padding: 0 0 80px

  .container
    &:last-child
      display: flex
      +screen($tablet)
        flex-direction: column

  &__main
    margin-right: 45px
    +screen($tablet)
      margin-right: 0

  &__aside
    flex-shrink: 0
    +screen($tablet)
      margin-top: 60px
      display: flex
      justify-content: center

  &__form
    &-fields
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 20px 20px
      box-sizing: border-box
      padding: 22px 39px 0
      +screen($tablet-sm)
        grid-template-columns: auto
        padding: 20px 20px 0
      +screen($tablet-xs)
        padding: 20px 10px 0

      .catalog__form-filter
        max-width: none

      & input:checked + label
        color: #005BC3
        cursor: pointer

        &:before
          background: $blue url(../assets/img/catalog/check.svg) no-repeat center/10px 10px
          border-color: $blue

      & input + label
        font-style: normal
        +font(18px, 27px)
        box-sizing: border-box
        padding: 0 20px 0 26px
        color: $black-light
        cursor: pointer
        position: relative

        &:before
          content: ''
          width: 16px
          height: 16px
          border: 1px solid $black-light
          border-radius: 3px
          position: absolute
          top: 5px
          left: 0

    &-inputs
      display: flex

      .catalog__form-filter
        flex-basis: 50%

        &:last-child
          border-left: none

    &-panel
      box-sizing: border-box
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
      margin-bottom: 24px

    &-filter
      padding: 8.5px 13px
      border: 1px solid $black-light
      font-style: normal
      +font(18px, 27px)
      appearance: none
      background: $white url(../assets/img/catalog/arrow-gray.svg) no-repeat center right 19px
      outline: none
      color: $black-light
      max-width: 280px
      width: 100%
      transition: background-color .4s, border-color .4s
      +screen($tablet-sm)
        max-width: none

      &:hover
        background: $blue-light url(../assets/img/catalog/arrow-black.svg) no-repeat center right 19px
        border-color: $blue
        color: $blue

        &::placeholder
          color: $blue

      &::placeholder
        color: $black-light

    select
      &.catalog__form-filter
        padding-right: 30px

    input
      &.catalog__form-filter
        background-image: none
        max-width: none

    &-checkboxes
      display: flex
      align-items: center

      label
        white-space: nowrap
        margin: 0

    &-optional
      display: flex
      flex-wrap: wrap
      margin-top: 10px
      padding: 0 29px
      +screen($tablet-sm)
        padding: 0 20px
      +screen($tablet-xs)
        padding: 0

      & input + label
        box-sizing: border-box
        padding: 10px 20px
        +font(18px, 27px)
        border-radius: 20px
        background-color: $white-dark
        border: 1px solid $white-dark
        transition: .3s
        margin: 10px
        +screen($tablet-sm)

      & input:checked + label
        background-color: $blue-light
        border-color: $blue
        color: $blue

    &-buttons
      margin-top: 33px
      display: flex
      justify-content: space-between
      box-sizing: border-box
      padding: 0 39px 22px
      +screen($tablet-sm)
        padding: 0 20px 20px
      +screen($tablet-xs)
        margin-top: 30px
        padding: 0 10px 20px
        flex-direction: column-reverse

    &-submit
      width: auto
      box-sizing: border-box
      padding: 0 60px
      +screen($tablet-xs)
        width: 100%
        padding: 0 10px

    .btn-more
      margin: 0
      +screen($tablet-xs)
        margin-top: 30px

  &__products
    margin-top: 40px

  &__product
    box-sizing: border-box
    padding: 25px
    transition: background-color .3s
    border: 2px solid $white-darkest
    border-bottom: 0
    +screen($tablet)
      background-color: #fff
      border-bottom: 2px solid $white-darkest
    +screen($tablet-xs)
      padding: 15px

    &:not(:first-child)
      +screen($tablet)
        margin-top: 10px

    &:last-child
      border-bottom: 2px solid $white-darkest

    &-container
      display: flex
      align-items: center
      +screen($tablet-xs)
        flex-direction: column
        align-items: flex-start

    &-price
      +font(24px, 32px, 500)
      white-space: nowrap

    &-top
      display: flex
      justify-content: space-between
      +screen($tablet)
        flex-direction: column

    &-title
      +font(32px, 38px, 500)

    &-middle
      margin-top: 16px
      display: flex
      +screen($tablet-xs)
        flex-direction: column

    &-bottom
      margin-top: 30px
      display: flex
      justify-content: flex-end

      .btn
        max-width: 280px
        +screen($tablet)
          max-width: none

    &-images
      width: 210px
      height: 160px
      display: flex
      overflow: hidden
      position: relative
      +screen($tablet-xs)
        margin: 0 auto
        width: 100%
        height: auto

      img
        display: block
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

    .characteristic-list
      +screen($tablet-sm)
        grid-template-columns: repeat(2, 1fr)
      +screen($tablet-xs)
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
        margin: 30px 0 0

      &__item
        span
          &:first-child
            +font(18px, 27px, 500)
            color: $gray

    .hvr
      &__images
        width: 210px
        height: 160px
        +screen($tablet-xs)
          width: 100%
          height: auto
      &__dot
        width: 100%
        margin: -20px 5px 0 0

        &:first-child
          margin-left: 7px

        &:last-child
          margin-right: 7px
