@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

.contacts
  padding: 60px 0 90px
  +screen($tablet)
    padding: 30px 0 60px

  &__item
    visibility: hidden
    opacity: 0
    display: none
    +screen($tablet-sm)
      flex-direction: column

    &.active
      display: flex
      visibility: visible
      opacity: 1

    &:not(:first-child)
      margin-top: 35px

    &-image
      flex-shrink: 0
      width: 315px
      height: 352px
      +screen($tablet-sm)
        width: 100%
        height: auto

      img
        width: 100%
        height: 100%
        object-position: center
        object-fit: cover

    &-info
      flex-grow: 1
      box-sizing: border-box
      padding: 0 35px
      display: flex
      flex-direction: column
      justify-content: center
      +screen($tablet-sm)
        padding: 0

    &-name
      +font(32px, 38px, 500)
      +screen($tablet-xs)
        +font(26px, 32px, 500)

    &-position
      +font(18px, 27px)
      margin-top: 15px
      +screen($tablet-xs)
        +font(16px, 24px)

    &-tel
      +font(22px, 28px, 500)
      margin-top: 15px
      +screen($tablet-xs)
        +font(18px, 24px, 500)

    &-mail
      +font(18px, 27px, 500)
      margin-top: 15px
      +screen($tablet-xs)
        +font(16px, 24px, 600)

  &__map
    margin-top: 35px

    &-buttons
      margin-top: 50px
      display: flex
      justify-content: space-between
      +screen($tablet-xs)
        flex-direction: column
        align-items: flex-start
        margin-top: 30px

    &-btn
      height: 55px
      width: 30%
      +font(24px, 31px, 600)
      color: $gray-light
      transition: color .3s
      +screen($tablet-xs)
        +font(20px, 26px, 600)
        width: auto
        height: 30px


      &:hover:not(.active)
        color: $black

      &:active:not(.active)
        color: $blue

      &.active
        color: $blue

    &-container
      margin-top: 40px
      width: 100%
      height: 485px
      +screen($tablet-xs)
        height: 300px

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

    &-address
      margin-top: 35px
      +font(24px, 31px, 600)
      +screen($tablet-xs)
        +font(20px, 24px, 500)
        margin-top: 20px

    &-hours
      display: flex
      flex-direction: column
      +font(18px, 27px)
      margin-top: 40px
      +screen($tablet-xs)
        margin-top: 20px
        +font(16px, 20px)
