@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.crane
  &__image
    display: flex
    justify-content: center

  .list
    margin-top: -175px
    +screen(1120)
      margin-left: 60px
    +screen($tablet)
      margin: 0
