@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

.engine
  box-sizing: border-box
  padding: 120px 0
  background-color: #fff
  +screen($tablet)
    padding: 60px 0

  &__desc
    margin-top: 60px
    display: flex
    justify-content: space-between
    +screen($tablet)
      flex-direction: column
      margin-top: 30px

    &-left
      order: 0
      z-index: 3
      max-width: 364px
      +screen($tablet)
        max-width: none

      div
        &:nth-child(2)
          margin-top: 88px
          +screen($tablet)

        &:last-child
          margin-top: 188px
          +screen($tablet)

    &-right
      z-index: 3
      max-width: 281px
      +screen($tablet)
        order: 2
        max-width: none

        .engine__desc-feature
          margin-top: 0 !important

      p
        +screen($tablet)
          margin-top: 30px

      div
        &:nth-child(2)
          margin-top: 100px
          +screen($tablet)
            margin-top: 30px

        &:last-child
          margin-top: 163px
          +screen($tablet)
            margin-top: 40px

    &-left, &-right
      +screen($tablet)
        display: flex
        flex-direction: column
        align-items: center

    &-feature
      +font(64px, 70px, 600)
      color: $blue
      +screen($tablet)
        line-height: 64px
        margin-top: 40px !important
        text-align: center

    &-txt
      +font(18px, 27px)
      +screen($tablet)
        width: 100%

  &__lottie
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 0
    display: flex
    justify-content: center
    align-items: flex-end
    +screen($tablet)
      order: 1
      top: auto
      left: auto
      position: inherit

    &-container
      width: 100%
      height: 100%
      position: relative
      max-width: 650px
      max-height: 650px
      margin-left: -80px
      +screen($tablet)
        margin-left: 0

      &:after
        content: ''
        height: 100%
        width: 3px
        background-color: #fff
        position: absolute
        right: -1px
        top: 0

