@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

.feedback
  background-color: #fff
  padding: 60px 0 190px
  +screen($tablet)
    padding: 0 0 60px

  .container
    max-width: 1165px

  &__form
    margin-top: 75px
    display: flex
    justify-content: space-between
    +screen($tablet)
      margin-top: 0
      flex-direction: column-reverse
      justify-content: flex-start
      align-items: center

    &-fields
      +screen($tablet)
        width: 100%
        margin-top: -20px
        z-index: 2
        position: relative

    &-grid
      display: grid
      grid-template: auto / repeat(2, 280px)
      grid-gap: 30px 30px
      +screen($tablet)
        grid-gap: 10px 0
        grid-template: auto / 1fr

    &-input, &-textarea
      border: 1px solid $gray

    &-input
      position: relative
      height: 44px

      input
        padding: 11px 13px

      span
        display: block
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 13px
        +font(14px, 14px)
        color: $gray
        pointer-events: none
        transition: .2s
        +screen($tablet)
          transition: 0s

        &.active
          margin-top: -35px
          left: 0
          +font(12px, 12px)
          +screen($tablet)
            left: 13px
            margin-top: 0
            +font(14px, 14px)
            opacity: 0

        &:after
          content: '*'
          color: $red

    &-textarea
      height: 192px
      grid-row: 1 / 4
      grid-column: 2 / 3
      +screen($tablet)
        grid-row: auto
        grid-column: auto

      textarea
        padding: 6px 13px

        &::placeholder
          color: $gray

    &-bottom
      margin-top: 34px
      display: flex
      align-items: flex-end
      +screen($tablet)
        flex-direction: column-reverse
        align-items: flex-start
        margin-top: 10px

    &-policy
      display: flex
      flex-direction: column
      align-items: flex-start
      margin-top: 10px

      span, a
        color: $gray

      a
        position: relative
        @extend %opacity-link

        &:after
          content: ''
          position: absolute
          left: 0
          width: 100%
          height: 1px
          bottom: 1px
          background-color: $gray

    &-submit
      margin-right: 26px
      +screen($tablet)
        margin: 20px 0 0

    &-lottie
      max-width: 398px
      margin-top: -100px
      +screen($tablet)
        margin-top: -15px
        max-width: 300px
