@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.kamaz-chassis
  padding: 120px 0
  +screen($tablet)
    padding: 60px 0

  &__image
    margin-top: 80px
    +screen($tablet)
      margin-top: 40px
