@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.leasing
  padding-top: 30px

  &__links
    margin-top: 35px
    +screen($tablet)
      margin-top: 20px

    &-item
      display: flex
      align-items: center
      color: $white-darkest
      +screen($tablet-xs)
        flex-wrap: wrap

      &:not(:first-child)
        margin-top: 35px
        +screen($tablet-xs)
          margin-top: 25px

      &:hover
        span
          &.leasing__links-item-num
            color: $blue

          &.leasing__links-item-txt
            color: $black

          &.leasing__links-item-rect
            border-color: $blue
            background-color: $blue
            color: $white

      &:active
        span
          &.leasing__links-item-num
            color: $white-darkest

          &.leasing__links-item-txt
            color: $white-darkest

          &.leasing__links-item-rect
            border-color: $white-darkest
            background-color: transparent
            color: $white-darkest

      span
        transition: color .4s, border-color .4s, background-color .4s

        &.leasing__links-item-num
          +font(86px, 94px, 600)
          margin-right: 30px
          +screen($tablet-sm)
            +font(64px, 72px, 600)
          +screen($tablet-xs)
            +font(44px, 52px, 600)
            margin-right: 10px

        &.leasing__links-item-txt
          +font(32px, 38px, 500)
          +screen($tablet-sm)
            +font(26px, 32px, 500)
            margin-right: 20px
          +screen($tablet-xs)
            +font(18px, 24px, 500)
            margin-right: 0

        &.leasing__links-item-rect
          margin-left: auto
          +font(18px, 20px, 500)
          display: flex
          align-items: center
          justify-content: center
          border: 3px solid $white-darkest
          box-sizing: border-box
          width: 190px
          height: 44px
          flex-shrink: 0
          +screen($tablet-xs)
            width: 100%
            margin: 5px 0 0
