@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.popular
  position: relative

  &__title
    +screen($tablet)
      padding: 0 10px

  .container
    padding: 0
    max-width: 1372px

  &__slider
    margin-top: 60px
    +screen($tablet)
      margin-top: 26px

  &__item
    max-width: 396px

    &-gallery
      width: 100%
      height: 238px
      display: flex
      overflow: hidden

      img
        display: block
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

  &__content
    box-sizing: border-box
    padding: 8px 24px 18px
    border: 2px solid $white-dark
    overflow: hidden
    display: flex
    flex-direction: column

  &__head
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-end

    &-title
      +font(32px, 38px, 500)
      +screen($tablet-xs)
        +font(28px, 34px, 500)


    &-type
      +font(18px, 28px)
      +screen($tablet-xs)
        +font(16px, 24px)

    &-status
      +font(18px, 28px, 500)
      width: 100%

      &_stock
        color: $green

      &_order
        color: $red

  &__desc
    display: flex
    flex-wrap: wrap
    margin: 10px 0

    &-item
      display: flex
      flex-direction: column

      &:nth-child(odd)
        flex-basis: 45%

      &:nth-child(even)
        flex-basis: 55%

      span
        &:first-child
          +font(18px, 27px)
          color: $gray
          +screen($tablet-xs)
            +font(15px, 28px)

        &:last-child
          +font(24px, 30px, 500)
          +screen($tablet-xs)
            +font(20px, 26px, 500)

  &__price
    +font(32px, 38px, 500)
    margin-top: auto
    +screen($tablet-xs)
      +font(28px, 34px, 500)

  &__link
    margin-top: 10px

