@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.product-info
  padding-bottom: 80px
  +screen($tablet)
    padding: 30px 0 60px

  .container
    display: flex
    justify-content: space-between
    +screen($tablet)
      flex-direction: column
      align-items: center

  &__slider
    max-width: 446px
    +screen($tablet)
      max-width: none
      width: 100%

    .swiper
      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

      &__main
        margin-top: 50px
        +screen($tablet)
          margin-top: 30px

        .swiper
          &-slide
            width: 446px
            height: 354px
            +screen($tablet)
              width: 100%
              height: auto

          &-pagination
            &-bullet
              max-width: 45px
              width: 100%
              height: 2px
              background-color: $white
              opacity: 1

              &-active
                background-color: $blue

      &__thumbs
        margin-top: 30px

        .swiper
          &-slide
            width: 86px
            height: 70px
            cursor: pointer
            opacity: .6
            +screen($tablet)
              width: auto
              height: auto

            &-thumb-active
              opacity: 1
  &__panel
    max-width: 581px
    width: 100%
    box-sizing: border-box
    padding: 50px 40px
    border: 2px solid $white-darkest
    background-color: $white-dark
    +screen($tablet)
      padding: 20px
      margin-top: 60px
      max-width: 100%

    &-container
      display: flex
      justify-content: space-between
      align-items: center
      +screen($tablet)
        flex-direction: column
        align-items: flex-start

    &-call
      max-width: 284px
      +screen($tablet)
        max-width: none
        margin-top: 30px

    &-price
      flex-shrink: 0
      +font(28px, 34px, 600)
      box-sizing: border-box
      padding-right: 20px

    .characteristic-list
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 46px 20px
      margin: 40px 0 0
      +screen($tablet)
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
      +screen($tablet-sm)
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))


    &-modifications
      margin-top: 60px
      +font(18px, 20px, 500)
      color: $gray

      svg
        margin-right: 12px

      &:hover
        color: $blue

        svg
          path
            stroke: $blue


