@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.safety
  &__grid
    margin-top: 90px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 30px 30px
    +screen($desktop-sm)
      grid-template-columns: repeat(2, 1fr)
    +screen($tablet)
      margin-top: 30px
      grid-template-columns: 1fr
      grid-gap: 10px

  &__item
    box-sizing: border-box
    padding: 25px 26px
    display: flex
    align-items: center
    justify-content: space-between
    border: 3px solid $white-darkest
    height: 200px
    transition: background-color .5s, color .5s, margin-top .5s, box-shadow .5s, border-color .5s
    +screen($tablet)
      height: auto

    &:hover
      background-color: $blue
      border-color: $blue
      color: $white
      margin-top: -10px
      box-shadow: 0 4px 4px rgb(0 91 195 / 20%)
      +screen($desktop-sm)
        margin-top: 0

      img
        filter: grayscale(100%) brightness(1000%)

    &-title
      +font(22px, 28px, 500)
      +screen($tablet-xs)
        +font(18px, 22px, 500)

    &-image
      flex-shrink: 0
      width: 60px
      height: 60px
      display: flex
      align-items: center
      padding-left: 40px
      +screen($tablet-xs)
        width: 48px
        height: 48px
        padding-left: 20px
