@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.semitrailer
  box-sizing: border-box
  padding: 120px 0

  &__length
    +font(64px, 70px, 600)
    color: $blue
    margin-top: 40px

  &__desc
    margin-top: 30px
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    &-item
      +font(18px, 27px)
      flex-basis: 50%

      &:first-child
        +font(24px, 30px, 500)

      &:nth-child(n + 3)
        margin-top: 25px

  &__image
    margin-top: 60px
