@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.transmission
  box-sizing: border-box
  padding: 120px 0
  +screen($tablet)
    padding: 60px 0

  &__txt
    margin-top: 60px
    max-width: 902px
    +font(18px, 27px)

  p
    &:nth-of-type(2)
      max-width: 517px
      margin-top: -177px
      +screen(550)
        margin-top: -100px
      +screen(400)
        margin-top: -70px

  &__image
    max-width: 1008px
    +screen($tablet)
      margin: 30px 0 0

  &__title
    +font(86px, 94px, 600)
    +screen($tablet)
      +font(56px, 64px, 600)
    +screen($tablet-sm)
      +font(36px, 42px, 600)
    +screen($mobile)
      +font(31px, 37px, 600)
