@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.transmission
  box-sizing: border-box
  padding: 120px 0

  &__txt
    margin-top: 60px
    max-width: 902px
    +font(18px, 27px)

  p
    &:nth-of-type(2)
      max-width: 517px
      margin-top: -177px

  &__image
    max-width: 1008px
