@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.truck-engine
  .section-txt
    &:last-child
      margin-top: 80px
      +screen($tablet-xs)
        margin-top: 40px

  &__container
    display: flex
    justify-content: space-between
    margin-top: 30px
    +screen($tablet-xs)
      flex-direction: column

    &-block
      width: 100%

      &:first-child
        max-width: 383px
        +screen($tablet-xs)
          max-width: none
          display: flex
          justify-content: center

      &:last-child
        max-width: 443px
        padding-left: 30px
        +screen($tablet-xs)
          max-width: none
          padding: 0

      .section-txt
        margin-top: 10px !important
