@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.trucks
  box-sizing: border-box
  padding: 130px 0 160px
  overflow: hidden
  +screen($tablet)
    padding: 60px 0

  &__grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 60px 117px
    +screen(1360)
      grid-template-columns: repeat(2, 1fr)
    +screen($tablet)
      grid-template-columns: 1fr
      grid-gap: 20px 0

  &__item
    width: 350px
    height: 200px
    border: 2px solid $white-dark
    padding: 26px
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    +screen($tablet)
      width: 100%
      padding: 18px

      &:first-child
        img
          width: 200px
          right: -40px

      &:nth-child(2)
        img
          right: 4px

      &:nth-child(3)
        img
          width: 195px
          right: -17px

      &:nth-child(4)
        img
          right: 4px

      &:nth-child(5)
        img
          right: -10px

      &:nth-child(6)
        img
          right: -17px

      &:nth-child(7)
        img
          right: -15px

    &:nth-child(6)
      .trucks__item-title
        margin-top: -15px

    &:hover
      color: $white
      background-color: $blue
      +screen($tablet)
        color: $black
        background-color: transparent

      .trucks__item-count
        color: $white-darkest
        +screen($tablet)
          color: $gray

      svg
        path
          stroke: $white
          +screen($tablet)
            stroke: $blue

    &:active
      background-color: transparent
      color: $black
      +screen($tablet)
        color: $white
        background-color: $blue

      .trucks__item-count
        color: $gray
        +screen($tablet)
          color: $white-darkest

      svg
        path
          stroke: $blue
          +screen($tablet)
            stroke: $white

    &:last-child
      flex-direction: row

    svg
      margin-top: 17px

    &-title
      +font(32px, 38px, 500)

    &-count
      +font(18px, 27px)
      color: $gray

    img
      display: block
      width: 247px
      height: 146px
      position: absolute
      top: 26px
      right: -97px
      +screen($tablet)
        width: 177px
        height: 121px
        top: auto
        bottom: 17px
        right: 0
