@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.types
  padding: 60px 0

  .section-title
    padding: 0

  &__grid
    margin-top: 60px
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr))
    grid-gap: 20px

  &__item
    &-image
      transition: background-color .4s, border-color .4s
      height: 330px
      background-color: $white-dark
      box-sizing: border-box
      border: 2px solid $white-darkest
      padding: 20px
      display: flex
      align-items: center
      justify-content: center

    &-txt
      transition: .4s color
      +font(32px, 48px)
      text-align: center
      margin-top: 15px

    &:hover
      .types__item
        &-image
          background-color: $blue
          border-color: $blue

          img
            filter: grayscale(100%) brightness(1000%)

        &-txt
          color: $blue

    &:active
      .types__item
        &-image
          background-color: $white-dark
          border-color: $white-darkest

          img
            filter: none

        &-txt
          color: $black


