@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.working
  padding-top: 65px

  &__item
    background-color: #fff
    overflow: hidden
    border: 2px solid $white-darkest
    border-bottom: 0

    &:last-child
      border-bottom: 2px solid $white-darkest

    &-pad
      padding: 20px 0
      +screen($tablet-sm)
        padding: 10px 0

    .list
      +font(18px, 27px)
      margin: 0 !important

      &__item
        margin-top: 5px

    &_trade-in
      p + .list
        margin-top: 20px !important

      .working__item-switch-content
        p
          margin-top: 5px

    &_inshurance
      .list
        margin-top: 25px !important

        &__item
          margin-top: 15px !important

    &-visible
      min-height: 128px
      box-sizing: border-box
      padding: 0 40px
      display: flex
      align-items: center
      cursor: pointer
      +screen($tablet-sm)
        padding: 0 20px
        min-height: 100px
      +screen($tablet-xs)
        padding: 0 10px

      .other-page-title
        color: $gray-light
        transition: color .5s

      &:hover, &.active
        .other-page-title
          color: $black

        svg
          path[stroke]
            stroke: $blue

          path[fill]
            fill: $blue

    &-svg
      margin-right: 30px
      width: 48px
      height: 48px

    &-hidden
      overflow: hidden
      box-sizing: border-box
      padding: 0 40px
      transition: max-height .4s
      max-height: 0
      +screen($tablet-sm)
        padding: 0 20px
      +screen($tablet-xs)
        padding: 0 10px

    &-images
      position: relative
      display: flex
      overflow: hidden
      width: 100%
      height: 100%
      max-height: 420px

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

    &-switch
      &-buttons
        display: flex
        margin: 30px 0 15px
        +screen($tablet-xs)

      &-btn
        width: 150px
        +font(24px, 31px, 600)
        color: $gray-light
        transition: color .3s
        +screen($tablet-xs)
          width: auto

        &:hover:not(.active)
          color: $black

        &.active
          color: $blue

        &:not(:last-child)
          margin-right: 60px
          +screen($tablet-xs)
            margin-right: 20px
          +screen(340)
            margin-right: 15px

      &-container
        display: flex

      &-content
        visibility: hidden
        opacity: 0
        display: none
        transition: visibility .4s

        &.active
          display: block
          visibility: visible
          opacity: 1

    &-steps
      margin-top: 30px

      &-content
        margin-top: 10px
        display: none

        &.active
          display: block

        .other-page-title
          +screen($tablet-xs)
            display: flex
            flex-direction: column

      &-input
        max-width: 280px
        margin-top: 25px
        width: 100%
        +screen($tablet-sm)
          max-width: none

      &-num
        display: flex

        span
          transition: background-color .5s
          display: flex
          align-items: center
          justify-content: center
          max-width: 111px
          width: 100%
          height: 29px
          color: $white
          background-color: $white-darkest

          &.active
            background-color: $blue

      &-radio
        margin-top: 12px
        display: flex
        flex-direction: column

      &-map
        margin-top: 10px
        height: 370px
        +screen($tablet-xs)
          height: 300px

        img
          width: 100%
          height: 100%
          object-fit: cover
          object-position: center

      &-fields
        display: flex
        justify-content: space-between
        +screen($tablet-sm)
          flex-direction: column

        .working__item-steps-input
          &:not(:first-child)
            margin-left: 10px
            +screen($tablet-sm)
              margin: 10px 0 0

      &-buttons
        margin-top: 30px
        display: flex
        flex-wrap: wrap
        +screen($tablet-xs)
          flex-direction: column
          flex-wrap: nowrap
          align-items: center

      &-btn
        &:first-child
          max-width: 163px
          width: 100%
          +screen($tablet-xs)
            max-width: none

        &:nth-child(2)
          width: 181px
          height: 44px
          display: flex
          justify-content: center
          align-items: center
          +font(18px, 20px)
          color: $gray-light
          transition: color .4s, opacity .4s

          &:hover
            color: $blue

          &:active
            color: $gray-light

          &.disabled
            opacity: 0
            pointer-events: none
            visibility: hidden

      &-policy
        width: 100%
        margin-top: 10px
        color: $gray
        +screen($tablet-xs)
          display: flex
          flex-direction: column
          align-items: center

        a
          display: inline
          color: $gray
          position: relative

          &:after
            content: ''
            position: absolute
            left: 0
            width: 100%
            height: 1px
            bottom: 2px
            background-color: $gray

        &.disabled
          display: none

