section.about#about
  .container.container_flex
    .section-block
      h2.section-title О компании
      p.section-txt ООО «Техцентры Сотранс» имеют большой опыт диагностики и специализированного ремонта топливных систем дизельных двигателей. А высокая квалификация сотрудников центров и организованная поставка запасных частей обеспечивают проведение ремонта в короткие сроки.
    .section-block
      .section-image
        img(src=require("@/assets/img/about/about.jpg") alt="")
