section.contacts#contacts
  .container
    h3.section-title Контакты
    .contacts__grid
      .contacts__item
        h4.contacts__item-title Телефоны
        a(href="tel:+78124954320").contacts__item-phone +7 (812) 495-43-20, доб. 3150, 3145
        a(href="tel:+79214199950").contacts__item-phone +7 (921) 419-99-50
        a(href="tel:+79217058703").contacts__item-phone +7 (921) 705-87-03
        h4.contacts__item-title Электронная почта
        a(href="mailto:service@sotrans.ru").contacts__item-mail service@sotrans.ru
        h4.contacts__item-title Время работы
        .contacts__item-time Ежедневно с 08.00 до 21.00
      .contacts__item
        .contacts__item-map
          img(src=require("@/assets/img/contacts/1.jpg") alt="")
          .contacts__item-address
            img(src=require("@/assets/img/contacts/pin.svg") alt="")
            span Санкт-Петербург, промзона Парнас, ул. Верхняя, д.16
      .contacts__item
        .contacts__item-map
          img(src=require("@/assets/img/contacts/2.jpg") alt="")
          .contacts__item-address
            img(src=require("@/assets/img/contacts/pin.svg") alt="")
            span Посёлок Красный Бор, Промышленная улица, 3


