section.price#price
  .container
    h3.section-title Стоимость услуг
    .price__table
      .price__table-header
        .price__table-cell Тип работы
        .price__table-cell Цена (с НДС)
      each el in priceTable
        .price__table-row
          .price__table-cell !{el.job}
          .price__table-cell !{el.price}

