section.promo#promo
  .container.container_flex
    .promo__content
      .section-block
        h3.section-title Акция
        p.section-txt С 1 ноября по 31 декабря 2023 года ООО «Техцентры Сотранс» предлагают выгодные условия на диагностику и ремонт топливных систем дизельных двигателей:
        ul.section-list
          li диагностика форсунки Common Rail – #[span бесплатно]
          li ремонт форсунки Common Rail – #[span 1 900 руб]
      .section-block
        .section-image
          img(src=require("@/assets/img/promo/promo.png") alt="promo")
