extends ../layouts/main/layout.pug

append variables
  -
    mainModifier = 'catalog'
    menuBtnColor = 'black'

block title
  | Kamaz Sotrans

block content
  .container.container_m
    +breadcrumbs(catalogBreadcrumbs)
  include ../components/catalog
  include ../components/popular
  include ../components/offers
  include ../components/feedback
