extends ../layouts/main/layout.pug

append variables
  -
    mainModifier = 'catalog'

block title
  | Kamaz Sotrans

block content
  include ../components/catalog
  include ../components/popular
  include ../components/offers
  include ../components/feedback
