extends ../layouts/main/layout.pug

append variables

block title
  | Kamaz Sotrans

block content
  include ../components/top-slider
  include ../components/trucks
  include ../components/popular
  include ../components/partners
  include ../components/services
  include ../components/offers
