extends ../layouts/main/layout.pug

append variables
  -
    mainModifier = 'other-pages'
    topSliderTitle = 'Лизинг'
    topSliderSlides = topSliderOther
    otherPageForm = true

block title
  | Kamaz Sotrans

block content
  include ../components/top-slider
  include ../components/leasing
  include ../components/feedback
