extends ../layouts/main/layout.pug

append variables
  -
    mainModifier = 'category'
    topSliderTitle = '<span>Прицепы</span><span>и полуприцепы</span>'
    topSliderText = '<span>с заводской гарантией от официального дилера.</span><span>Продажа и сервисное обслуживание техники по всей России.</span>'

block title
  | Kamaz Sotrans

block content
  include ../components/top-slider
  include ../components/semitrailer
  include ../components/offers
  include ../components/popular
