extends ../layouts/main/layout.pug

append variables
  -
    mainModifier = 'product-page'

block title
  | Kamaz Sotrans

block content
  .container.container_sm
    +breadcrumbs(productPageBreadcrumbs)
  include ../components/product-info
  include ../components/popular
  include ../components/offers
  include ../components/feedback
