extends ../layouts/main/layout.pug

append variables
  -
    mainModifier = 'product-page'
    otherPageForm = true

block title
  | Kamaz Sotrans

block content
  .container.container_sm
    +breadcrumbs(productPageBreadcrumbs)
  include ../components/product-info
  include ../components/product-options
  .container.container_sm
    include ../components/catalog-form
  include ../components/product-modifications
  include ../components/popular
  include ../components/offers
  include ../components/feedback
