extends ../layouts/main/layout.pug

append variables
  -
    serviceForm = true
    mainModifier = 'other-pages'
    topSliderTitle = 'О компании'
    topSliderSlides = topSliderOther

block title
  | Kamaz Sotrans

block content
  include ../components/top-slider
  include ../components/service
  include ../components/feedback
