extends ../layouts/main/layout.pug

append variables
  -
    mainModifier = 'category'
    topSliderTitle = 'Спецтехника'
    topSliderText = '<span>С заводской гарантией от официального дилера.</span><span>Продажа и сервисное обслуживание техники по всей России.</span>'

block title
  | Kamaz Sotrans

block content
  include ../components/top-slider
  include ../components/kamaz-special
  include ../components/crane
  include ../components/offers
  include ../components/popular
