/*---------------------------------------------- reset -------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a:link, a:visited, a:active {
  outline: none;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

:focus {
  outline: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after {
  content: "";
}

q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/*---------------------------------------------- fonts -------------------------------------------*/
@font-face {
  font-family: "Cera Pro";
  src: url("../src/fonts/cera_pro/CeraPro.eot");
  src: local("Cera Pro"), local("CeraPro");
  src: url("../src/fonts/cera_pro/CeraPro.eot?#iefix") format("embedded-opentype");
  src: url("../src/fonts/cera_pro/CeraPro.woff2") format("woff2");
  src: url("../src/fonts/cera_pro/CeraPro.woff") format("woff");
  src: url("../src/fonts/cera_pro/CeraPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../src/fonts/cera_pro/CeraPro-Medium.eot");
  src: local("Cera Pro Medium"), local("CeraPro-Medium");
  src: url("../src/fonts/cera_pro/CeraPro-Medium.eot?#iefix") format("embedded-opentype");
  src: url("../src/fonts/cera_pro/CeraPro-Medium.woff2") format("woff2");
  src: url("../src/fonts/cera_pro/CeraPro-Medium.woff") format("woff");
  src: url("../src/fonts/cera_pro/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../src/fonts/cera_pro/CeraPro-Bold.eot");
  src: local("Cera Pro Bold"), local("CeraPro-Bold");
  src: url("../src/fonts/cera_pro/CeraPro-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../src/fonts/cera_pro/CeraPro-Bold.woff2") format("woff2");
  src: url("../src/fonts/cera_pro/CeraPro-Bold.woff") format("woff");
  src: url("../src/fonts/cera_pro/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../src/fonts/cera_pro/CeraPro-Black.eot");
  src: local("Cera Pro Black"), local("CeraPro-Black");
  src: url("../src/fonts/cera_pro/CeraPro-Black.eot?#iefix") format("embedded-opentype");
  src: url("../src/fonts/cera_pro/CeraPro-Black.woff2") format("woff2");
  src: url("../src/fonts/cera_pro/CeraPro-Black.woff") format("woff");
  src: url("../src/fonts/cera_pro/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #101824;
  height: 87px;
  padding: 0 10px;
}
.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36px;
  height: 27px;
}
.header__menuLine {
  width: 36px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
}
.header__nav {
  display: none;
}
.header__social {
  display: flex;
}
.header__social svg {
  transition: all 0.2s ease-out;
  fill: #fff;
}
.header__social svg:hover {
  fill: #D6050A;
}
.header__socialItem svg {
  width: 44px;
  height: 44px;
}
.header__socialItem:not(:first-child) {
  display: none;
}
.header__address {
  display: none;
}

.best {
  display: flex;
  flex-direction: column-reverse;
  background: center/cover no-repeat url(../src/img/best/best_back.jpg);
  padding: 50px 20px 60px;
}
.best__right {
  margin-bottom: 55px;
}
.best__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.best__header {
  font: 500 28px/35px "Cera Pro", sans-serif;
  margin-bottom: 10px;
}
.best__header.desktop {
  display: none;
}
.best__header.mobile {
  text-align: center;
  text-transform: uppercase;
}
.best__subHeader {
  text-align: center;
  font: 500 16px/21px "Cera Pro", sans-serif;
  margin-bottom: 40px;
}
.best__text {
  font: 15px/25px "Cera Pro", sans-serif;
  text-align: center;
  padding-bottom: 70px;
}
.best__btn {
  width: 144px;
  height: 43px;
  background: #D6050A;
  font: 500 16px/21px "Cera Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
}

.howWork__top {
  padding: 50px 10px 30px;
  min-height: 160px;
  background: #0F1624;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howWork__header {
  font: 500 30px/40px "Cera Pro", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.howWork__subHeader {
  font: 14px/25px "Cera Pro", sans-serif;
  opacity: 0.8;
}
.howWork__subHeader span {
  display: none;
}
.howWork__middle .howWork__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.howWork__middle .howWork__desc .item {
  width: 330px;
  min-height: 374px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 30px 0;
}
.howWork__middle .howWork__desc .item:last-child {
  margin: 0;
}
.howWork__middle .howWork__desc .item__image {
  z-index: 10;
}
.howWork__middle .howWork__desc .item__description {
  background: #1B2745;
  text-align: center;
  padding: 60px 0 40px;
  margin-top: -62px;
  border-radius: 5px;
}
.howWork__middle .howWork__desc .item__header {
  font: bold 20px/65px "Cera Pro", sans-serif;
  text-transform: uppercase;
}
.howWork__middle .howWork__desc .item__header_red {
  color: #D6050A;
}
.howWork__middle .howWork__desc .item__text {
  font: 14px/25px "Cera Pro", sans-serif;
  padding: 0 15px;
  opacity: 0.8;
}

.showroom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0F1624;
  padding: 0 10px;
}
.showroom__top {
  padding: 50px 0;
  text-align: center;
}
.showroom__header {
  font: 500 30px/40px "Cera Pro", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.showroom__subHeader {
  font: 14px/25px "Cera Pro", sans-serif;
  opacity: 0.8;
}
.showroom__gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showroom__gallery .gallery__left, .showroom__gallery .gallery__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showroom__gallery .gallery__left .row, .showroom__gallery .gallery__right .row {
  width: 355px;
  height: 236px;
  margin-bottom: 10px;
}
.showroom__gallery .gallery__left .row_first, .showroom__gallery .gallery__right .row_first {
  border-radius: 5px;
  overflow: hidden;
}
.showroom__gallery .gallery__left .row_second, .showroom__gallery .gallery__right .row_second {
  display: flex;
  justify-content: space-between;
}
.showroom__gallery .gallery__left .row_second div, .showroom__gallery .gallery__right .row_second div {
  overflow: hidden;
  border-radius: 5px;
  width: 173px;
}

.faq__top {
  padding: 100px 10px 70px;
  text-align: center;
}
.faq__header {
  font: 500 30px/35px "Cera Pro", sans-serif;
  margin-bottom: 20px;
}
.faq__subHeader {
  font: 14px/25px "Cera Pro", sans-serif;
  opacity: 0.8;
}
.faq__subHeader span {
  display: none;
}
.faq__popular .question {
  margin-bottom: 10px;
  padding: 0 10px;
}
.faq__popular .question:last-child {
  margin: 0;
}
.faq__popular .question__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  background: #1B2745;
}
.faq__popular .question__text {
  font: 500 14px/19px "Cera Pro", sans-serif;
  max-width: 220px;
}
.faq__popular .question__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0E1524;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq__popular .question__content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s;
  font: 12px/22px "Cera Pro", sans-serif;
  opacity: 0.8;
}

.interior {
  height: 192px;
  padding: 60px 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #0F1624;
}
.interior__container {
  width: 100%;
  height: 132px;
  background: center/cover no-repeat url(../src/img/interior/back_desktop.png);
}

.footer {
  min-height: 100px;
  background: #0F1624;
  padding: 30px 10px;
}
.footer__nav {
  display: none;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__social svg {
  transition: all 0.2s ease-out;
  fill: #fff;
}
.footer__social svg:hover {
  fill: #D6050A;
}

body {
  min-width: 375px;
  color: #fff;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
}

.main {
  background: 20% 16% repeat-y url(../src/img/global/cat_back_mobile.svg), #0F1624;
}

.mobile__menu {
  position: absolute;
  top: 0;
  left: -100vw;
}

svg {
  display: block;
}

/*# sourceMappingURL=main.css.map */
