$font: 'Rubik', sans-serif

// base
$white: #FFFFFF

// screen
$desktop-sm: '(max-width: 1279px)'
$desktop-xs: '(max-width: 1099px)'
$tablet: '(max-width: 1024px)'
$mobile: '(max-width: 770px)'
$shop-break-point: '(max-width: 600px)'
$mobile-sm: '(max-width: 540px)'