$font: 'Rubik', sans-serif

// colors

// base
$white: #FFFFFF
$base-lightest: #F8F8F8
$base-light: #E0E1EB
$base: #B5BBBE
$base-dark: #637281
$base-darkest: #333333

// main
$main-lightest: #DAF3FB
$main-light: #95DAE5
$main: #5CBFCF
$main-dark: #00A3C7

$accent-light: #FFD056
$accent: #FABE24
$accent-dark: #EA8C00

$additional-first-light: #46B1E1
$additional-first: #009EEF

$additional-second-light: #EC4E9A
$additional-second: #D03C83

// status
$color-danger: #EE1B24
$color-success: #11C3A3

// mask
$mask: rgba(18, 51, 72, .4)

// screen
$desktop-sm: '(max-width: 1279px)'
$desktop-xs: '(max-width: 1099px)'
$tablet: '(max-width: 1024px)'
$mobile: '(max-width: 770px)'
$shop-break-point: '(max-width: 600px)'
$mobile-sm: '(max-width: 540px)'


// product details
$detailsColors: ('lilac': #BFC1DA, 'gold': #E6C595, 'cornflower': #95DAE6, 'pale-blue': #C6F2F4, 'smoky-white': #F8F8F8, 'snow-white': #FFF0F0, 'sky-blue': #EFFDFF, 'white': $white)
$detailsDesign: ('dot-red': url(../assets/img/content/product-details/dot-red.jpg), 'dot-white': url(../assets/img/content/product-details/dot-white.jpg), 'cell': url(../assets/img/content/product-details/cell.jpg) )