section.doctor
  .container
    +prev-link('Назад ко всем врачам', 'javascript:')
    .doctor-container
      .doctor-photo
        .doctor-photo-img
          img(src=require('@/assets/img/doctor/ivan.jpg'))
      .doctor-info
        h4
          | Куимов
          br
          | Иван Анатольевич
        p.doctor-info_prof Кистевой хирург, мануальный терапевт, ортопед, травматолог
        p.doctor-info_years Стаж работы: 10 лет
        .doctor-info-contacts
          button.btn.btn-fill(data-modal="") Записаться на прием
          button.btn.btn-trans(data-modal="") Задать вопрос
          a.doctor-info-contacts_link(href='javascript:')
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/doctor/whatsapp.svg')}
        .doctor-info-about
          p.doctor-info-text Иван Анатольевич— врач-невролог, владеющий всеми современными методиками для оказания помощи. Занимается диагностикой и лечением заболеваний нервной системы как у детей, так и у взрослых. Владеет нейрофизиологическими методами исследований: НСГ (нейросонография) (УЗИ головного мозга), ЭЭГ (электроэнцефалография). Компетентно интерпретирует данные КТ (компьютерной) и МРТ (магнитно-резонансной) томографии головного мозга и позвоночника.
        h5 Образование:
        .doctor-info-education
          .doctor-info-education-point
            .doctor-info-education-year 1999 г.
            p.doctor-info-text Интернатура поспециальности «Неврология», Детская клиническая больница имени Пичугина
          .doctor-info-education-point
            .doctor-info-education-year 1998 г.
            p.doctor-info-text Диплом по специальности «Педиатрия», Пермская государственная медицинская академия им.академика Вагнера
        h5 Профессиональные навыки:
        p.doctor-info-text Занимается диагностикой и лечением заболеваний нервной системы как у детей, так и у взрослых. Владеет нейрофизиологическими методами исследований: НСГ (нейросонография) (УЗИ головного мозга), ЭЭГ (электроэнцефалография). Компетентно интерпретирует данные КТ (компьютерной) и МРТ (магнитно-резонансной) томографии головного мозга и позвоночника.
        h5 Сертификаты:
        .doctor-slider#doctor-slider
          .swiper
            .swiper-wrapper
              each doc in docs
                .swiper-slide
                  .docs-card
                    img(src=doc alt="")
            .swiper-button-prev.swiper-button
            .swiper-button-next.swiper-button




