//- variables
block variables
  include ../../abstracts/variables

//- mixins
include ../../components/mixins/modal
include ../../components/mixins/all-link
include ../../components/mixins/prev-link
include ../../components/mixins/breadcrumbs
include ../../components/mixins/form

doctype html
html(lang="ru")
  head
    include head
  body
    include ../../components/global/mobile-menu
    include header
    main.main
      block content
    include footer
    .overlay
    include ../../components/modals/modal-call-request
    if (askQuestion)
      include ../../components/modals/modal-ask-quesiton
    if (signUpModal)
      include ../../components/modals/modal-sign-up

