mixin modal(params)
  .modal(class=params.modifier)
    .modal__body
      .modal__close
        img(src=require('@/assets/img/global/modal-close.svg') alt="")
      h2.modal__title #{params.title}
      block
