mixin product-specs(params)
  .product-specs.slide-right
    h3.product-specs__title Технические характеристики
    ul.product-specs__list
      each el in params
        li
          span !{el.name}
          span
          span !{el.value}
    if (productSpecsMore)
      button.product-specs__more Развернуть характеристики
    if (productSpecsCallBtn)
      button.btn.btn_orange.call-modal__btn Получить предложение
