mixin products-tile(params)
  section.products-tile
    .container
      h2.section-title.slide-right  #{params.title}
      .products-tile__grid
        each el in params.list
          +product-card(el)
      if (params.txtLink)
        +txt-link({ txt: 'Вся продукция', url: 'products.html', class: 'slide-up' })


