@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

html
  scroll-behavior: smooth
  min-height: 100vh

body
  margin: 0 auto
  min-height: 100vh
  display: flex
  flex-direction: column
  +font(18px, 28px)
  position: relative
  background-color: $white
  color: $black

  &.loaded_hiding
    .preloader
      transition: .3s opacity
      opacity: 0

  &.loaded
    .preloader
      display: none

.body_fix
  overflow: hidden

.container
  position: relative
  width: 100%
  box-sizing: border-box
  max-width: 1920px
  padding: 0 60px
  margin: 0 auto
  +screen(1180)
    padding: 0 18px 0 30px

a
  text-decoration: none
  display: block
  color: $black
  transition: color .3s, opacity .3s, background-color .3s
  outline: none

h1, h2, h3, h4, p
  margin: 0

button
  appearance: none
  border: none
  cursor: pointer
  padding: 0
  background: transparent
  transition: .3s

svg
  width: 100%
  height: 100%

  path, circle, rect
    transition: .3s

ul
  padding: 0
  margin: 0

  li
    list-style-type: none

input, textarea
  border-radius: 0
  border: none
  appearance: none
  outline: none
  width: 100%
  height: 100%
  background: transparent
  box-sizing: border-box
  padding: 0

  &::placeholder
    color: $black

textarea
  resize: none

.slide-right, .slide-up, .slide-left, .slide-down
  opacity: 0

.anim-num

.section
  &-title
    position: relative
    box-sizing: border-box
    +font(66px, 66px, 800)
    +screen(1500)
      +font(50px, 62px, 800)
    +screen(1180)
      +font(34px, 34px, 800)

    span
      display: block
      +font(30px, 30px, 500)
      +screen(1180)
        +font(22px, 26px,500)
        margin-top: 10px

    &:before
      content: ''
      width: 40px
      height: 40px
      +centering-y
      left: -60px
      background-color: #FDDEBA
      color: $black
      +screen(1180)
        width: 20px
        height: 20px
        left: -30px

    &_white
      color: $white
      &:before
        background-color: white

.btn
  width: 201px
  height: 52px
  display: flex
  align-items: center
  justify-content: center
  box-sizing: border-box
  background-color: $orange
  gap: 16px
  transition: background-color .5s
  position: relative
  margin-bottom: 3px
  +font(18px, 18px, 700)
  color: $white
  +screen($tablet)
    width: 217px

  &:hover
    background-color: #F96A38

    &:after
      width: 100%

  &:after
    content: ''
    position: absolute
    top: 100%
    left: 0
    width: 141px
    height: 3px
    background-color: $white
    transition: width .5s
    +screen($tablet)
      width: 100%

  &_prod
    &:after
      background-color: $black

    &_mobile
      display: none
      +screen($tablet)
        display: flex
        margin: 10px auto 0
        order: 0

  &_trans
    background-color: transparent
    border: 2px solid $white
    +screen($tablet)
      &:after
        width: calc(100% + 4px)

    &:after
      left: -2px
      top: calc(100% + 2px)


    &:hover
      background-color: rgba(255, 255, 255, 0.2)

      &:after
        width: calc(100% + 4px)
