.application-list
  .application-list-header
    .application-list-header-name.application-list-header-name-number
      span #
    .application-list-header-name.application-list-header-name-id
      span ID
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/more.svg')}
    .application-list-header-name.application-list-header-name-from
      span Откуда
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/more.svg')}
    .application-list-header-name.application-list-header-name-to
      span Куда
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/application/more.svg')}
    .application-list-header-name.application-list-header-name-cargo-car-driver
      span Груз, машина, водитель
    .application-list-header-name.application-list-header-name-cost-counterparty
      span Стоимость, контрагент
    .application-list-header-name.application-list-header-name-status
      span Статус

  .application-list-main
    +appItem('1', '42537370', '(45698235476)', 'село Саваслейка', ', Нижегородская область', 'План: 02.06.2021 12:00 (+04:00)', 'Екатеринбург', ', Свердловская область', 'План: 02.06.2021 12:00 (+04:00)', 'Мин вода', 'В297РХ47', 'Москалев Д.Ю', '82 000,00', 'Джусто ТК (Широкий карамыш) ООО', 'Выполнена', 'green' )
    +appItem('2', '42537370', '(45698235476)', 'село Саваслейка', ', Нижегородская область', 'План: 02.06.2021 12:00 (+04:00)', 'Екатеринбург', ', Свердловская область', 'План: 02.06.2021 12:00 (+04:00)', 'Мин вода', 'В297РХ47', 'Москалев Д.Ю', '82 000,00', 'Джусто ТК (Широкий карамыш) ООО', 'Запланирована' )
    +appItem('3', '42537370', '(45698235476)', 'село Саваслейка', ', Нижегородская область', 'План: 02.06.2021 12:00 (+04:00)', 'Екатеринбург', ', Свердловская область', 'План: 02.06.2021 12:00 (+04:00)', 'Мин вода', 'В297РХ47', 'Москалев Д.Ю', '82 000,00', 'Джусто ТК (Широкий карамыш) ООО', 'На загрузке', 'blue' )
    +appItem('4', '42537370', '(45698235476)', 'село Саваслейка', ', Нижегородская область', 'План: 02.06.2021 12:00 (+04:00)', 'Екатеринбург', ', Свердловская область', 'План: 02.06.2021 12:00 (+04:00)', 'Мин вода', 'В297РХ47', 'Москалев Д.Ю', '82 000,00', 'Джусто ТК (Широкий карамыш) ООО', 'Черновик' )
    +appItem('5', '42537370', '(45698235476)', 'село Саваслейка', ', Нижегородская область', 'План: 02.06.2021 12:00 (+04:00)', 'Екатеринбург', ', Свердловская область', 'План: 02.06.2021 12:00 (+04:00)', 'Мин вода', 'В297РХ47', 'Москалев Д.Ю', '82 000,00', 'Джусто ТК (Широкий карамыш) ООО', 'Начата', 'orange', '3ч 24 м', 'red' )
