@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.form
  &__fields
    display: flex
    flex-direction: column
    gap: 24px
    margin-top: 32px
    max-width: 426px
    width: 100%
    +screen($tablet)
      margin-top: 28px

  &__input
    position: relative

    &-error
      color: #E04646
      position: absolute
      left: 16px
      top: 100%
      +font(12px, 16px)

    &.error
      input
        border-color: #E04646 !important

    input
      box-sizing: border-box
      padding: 20px 16px 8px
      border-radius: 4px
      border: 1px solid #E8E8E8
      outline: none
      height: 50px !important
      +font(14px, 16px)
      font-weight: 500 !important
      width: 100%
      color: $black

      &:focus
        border-color: $black !important

    label
      position: absolute
      left: 16px
      top: 16px
      +font(14px, 14px)
      color: #949494
      transition: font-size .3s, top .3s

      &.active
        bottom: auto
        top: 8px
        +font(12px, 12px)

  &__file
    position: relative
    display: flex
    padding: 0
    width: 100%
    align-items: flex-start
    justify-content: start
    margin: 30px 0 0
    flex-direction: column
    gap: 4px
    +screen($tablet)
      margin: 38px 0 0

    &:hover:not(:active, .fill)
      .form__file-label
        background-color: #DDE7F5

    &.fill
      .form__file-btn
        &-add
          display: none

        &-clear
          display: flex

      &:hover:not(:active)
        .form__file-btn-clear
          svg
            path
              stroke: $black

    &.error
      .form__file-label
        border-color: #E04646

      .form__file-error
        display: block

    svg
      position: relative

    span
      color: $black
      +font(12px, 13px, 500)
      +screen($tablet)
        +font(14px, 18px, 500)

    input[type="file"]
      display: none

    &-txt
      +font(12px, 14px)
      color: #949494

    &-label
      border-radius: 4px
      background-color: $gray-teh
      box-sizing: border-box
      padding: 7px 10px
      height: 30px
      display: flex
      align-items: center
      justify-content: center
      transition: background-color .2s
      gap: 6px
      cursor: pointer
      border: 1px solid $gray-teh
      position: relative
      +screen($tablet)
        width: 100%
        height: 40px
        justify-content: space-between

    &-error
      +font(12px, 14px)
      color: #E04646
      display: none

    &-btn
      &-add, &-clear
        display: flex
        justify-content: center
        align-items: center
        gap: 6px
        width: 16px
        height: 16px

      &-clear
        display: none
        position: relative
        z-index: 10

        svg
          path
            stroke: #949494

  &__check
    position: relative
    padding-left: 24px
    display: flex
    align-items: flex-start
    +font(12px, 16px)
    margin-top: 20px
    +screen($tablet)
      padding-left: 28px

    span
      display: block
      +screen($tablet)
        display: inline

    a
      +font(12px, 16px)
      color: #F06518
      position: relative
      width: fit-content
      display: inline-block

      &:after
        content: ''
        width: 100%
        height: 1px
        position: absolute
        bottom: 0
        left: 0
        background-color: #F06518

    input[type="checkbox"] + label
      cursor: pointer

    input[type="checkbox"] + label:before
      content: ''
      width: 16px
      height: 16px
      border-radius: 2px
      border: 1px solid #E8E8E8
      left: -24px
      top: -1px
      transform: none
      transition: border-color .3s, background-color .3s
      +screen($tablet)
        top: -4px
        left: -28px
        width: 20px
        height: 20px
      +screen($tablet-xs)
        top: -2px

    input[type="checkbox"] + label:hover:before
      border-color: #0B5CA0

    input[type="checkbox"]:checked + label:before
      background: #0B5CA0 url(../assets/img/vacancies/check.svg) center/10px 10px no-repeat
      border-color: #0B5CA0
      +screen($tablet)
        border-color: #0B5CA0
        background: #0B5CA0 url(../assets/img/vacancies/check.svg) center/12px 12px no-repeat


  &__submit
    margin-top: 32px

    button
      width: 330px
      height: 50px
      background-color: #0B5CA0
      border-radius: 4px
      color: $white
      +font(16px, 17px, 500)
      display: flex
      align-items: center
      justify-content: center
      transition: background-color .3s
      margin: 0 auto
      +screen($tablet)
        width: 100%

  &__select
    position: relative
    cursor: pointer

    &.disabled
      cursor: auto
      .custom-select
        &__value
          background-color: #F4F4F4
          color: #929292

    &.open
      .form__select
        &-value
          border-color: $black

          &-arrow
            transform: rotate(180deg)

            svg
              path
                stroke: $black

        &-options
          visibility: visible
          opacity: 1
          pointer-events: auto

    &-value
      display: flex
      justify-content: space-between
      align-items: center
      border-radius: 4px
      box-sizing: border-box
      padding: 0 12px
      height: 48px
      border: 1px solid #DFDFE1
      +font(14px, 16px, 500)
      gap: 10px

      &-txt
        white-space: nowrap
        overflow: hidden

        &.default
          color: #929292
          font-weight: 350

      &-arrow
        transition: transform .3s

      svg
        path
          fill: none
          transition: stroke .3s

    &-options
      position: absolute
      left: 0
      top: calc(100% + 4px)
      width: 100%
      border-radius: 4px
      background-color: $white
      box-shadow: 0 4px 16px rgba(0, 0, 0, .16)
      z-index: 10
      box-sizing: border-box
      transition: visibility .3s, opacity .3s
      visibility: hidden
      opacity: 0
      pointer-events: none

      &-container
        overflow: auto
        max-height: 192px
        list-style-type: none
        display: flex
        flex-direction: column
        box-sizing: border-box
        scrollbar-width: thin
        scrollbar-color: #DFDFE1 $white

        &::-webkit-scrollbar
          width: 4px

        &::-webkit-scrollbar-thumb
          border-radius: 2px
          background-color: #929292

      &-item
        height: 48px
        box-sizing: border-box
        display: flex
        align-items: center
        transition: color .3s
        flex-shrink: 0
        +font(14px, 16px, 500)
        padding-left: 12px
        position: relative
        z-index: 10

        &:hover:not(:active, .active)
          color: #F06518

        &:before
          content: ''
          position: absolute
          right: 12px
          top: 16px
          width: 16px
          height: 16px
          background: url(/images/ordering/check.svg) no-repeat center/cover
          display: none
          z-index: 10

        &.active
          background-color: #F4F4F4

          &:before,
          &:after
            display: block

        span
          z-index: 1

        &-time
          display: none

        &-hidden
          display: none

  &__subtitle
    +font(16px, 18px, 500)
    align-self: flex-start

  &__bottom
    max-width: 426px
    width: 100%
    margin-top: 32px
    +screen($tablet)
      max-width: none
      flex-grow: 1
      display: flex
      flex-direction: column

      .form__submit
        +screen($tablet)
          margin-top: auto

    .form__select
      margin-top: 8px
      width: 223px
      +screen($tablet)
        width: 100%
