@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

#map, #red-forest-map, #parnas-map, #elna-map, #elabuga-map
  [class*="copyrights-pane"]
    display: none !important

#map
  height: 702px
  max-width: 1440px
  width: 100%
