@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

#map, #red-forest-map, #parnas-map, #elna-map, #elabuga-map
  [class*="copyrights-pane"]
    display: none !important

  .map
    &__address
      background-color: $white
      width: fit-content
      box-sizing: border-box
      padding: 14px
      border-radius: 8px
      +font(10px, 12px, 700, $font-title)
      color: #02327F
      text-align: left
      box-shadow: 0 4px 4px rgba(0, 0, 0, .25)

      a
        color: #02327F
        @extend %opacity-click

      &-txt
        margin-top: 6px

      &-hours
        margin-top: 6px

      &-phone
        display: flex
        margin-top: 12px

        span:first-child
          margin-right: 6px

        a:last-child:not(:first-child)
          margin-top: 4px

#map
  height: 702px
  max-width: 1440px
  width: 100%
  +screen($tablet)
    display: none

  .map
    &__address
      &-body
        &_red-forest
          width: 294px
          height: 104px

        &_parnas
          width: 138px
          height: 110px

        &_elna
          width: 101px
          height: 66px

        &_elabuga
          width: 144px
          height: 56px

#red-forest-map, #parnas-map, #elna-map, #elabuga-map
  height: 461px
  width: 100%
  flex-shrink: 0

  .map__address
    &-body
      &_red-forest
        width: 130px
        height: 164px

      &_parnas
        width: 138px
        height: 114px

      &_elna
        width: 138px
        height: 70px

      &_elabuga
        width: 118px
        height: 66px

.map-mob
  display: none
  +screen($tablet)
    display: block

  &__switcher
    box-sizing: border-box
    padding: 0 6px
    display: flex
    overflow: auto
    scrollbar-width: none

    &::-webkit-scrollbar
      width: 0
      height: 0
      display: none
      visibility: hidden

  &__btn
    box-sizing: border-box
    padding: 0 4px

    button
      box-sizing: border-box
      border-radius: 4px
      padding: 6px 8px
      +font(14px, 14px, 500)
      background-color: $yellow
      display: flex
      white-space: nowrap

  &__item
    display: none

    &.active
      display: block

  &__maps
    margin-top: 33px


