@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

#map
  height: 702px
  max-width: 1440px
  width: 100%

  [class*="copyrights-pane"]
    display: none !important

  //[class*="controls__control"]:not([class*="controls__control_toolbar"])
  //  inset: 108px 10px auto auto !important
  //
  //[class*="controls__control_toolbar"]
  //  position: absolute !important
  //  right: 10px
  //  top: 10px
  //  width: 40px !important
  //  height: 40px !important
  //  border-radius: 12px !important
  //
  //[class*="float-button"]
  //  width: 100% !important
  //  height: 100% !important

