@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.products-slider
  .container
    padding: 0 66px
    +screen($tablet)
      padding: 0

  &__top
    box-sizing: border-box
    padding: 0 10px

  .swiper
    padding: 10px
    margin-top: 40px
    +screen($tablet)
      margin-top: 30px

    &-button
      &-next
        top: 26%
        right: 14px
        width: 87px
        height: 87px
        border-radius: 50%
        background-color: rgba($white, .8)
        +screen($tablet)
          width: 52px
          height: 52px

          img
            width: 14px
            height: 15px

        &:after
          content: ''

    &-slide
      box-shadow: 0 4px 4px rgba(0, 0, 0, .25)

      &-image
        width: 100%
        height: 285px

        img
          width: 100%
          height: 100%
          object-position: center
          object-fit: cover

      &-content
        box-sizing: border-box
        padding: 25px 16px

      &-title
        +font(20px, 24px, 700, $font-title)

      &-list
        padding: 24px 0

        li
          display: flex
          flex-direction: column

          &:not(:first-child)
            margin-top: 8px

        span
          &:first-child
            +font(14px, 26px, 500)

          &:last-child
            +font(14px, 26px, 500, $font-title)
            color: $gray-second


      &-btns
        display: flex
        justify-content: space-between

        a
          flex-basis: calc(50% - 3px)
          +font(14px, 14px, 500)
          display: flex
          align-items: center
          justify-content: center
          border-radius: 4px
          height: 38px

          &:first-child
            background-color: $yellow
            @extend %opacity-click

          &:last-child
            box-sizing: border-box
            border: 1px solid $yellow
            color: $yellow

            &:hover
              background-color: $yellow
              color: $white

            &:active
              background-color: transparent
              color: $yellow
