@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.search
  padding: 30px
  box-sizing: border-box
  max-width: 1111px
  width: 100%
  margin: 0 auto
  +screen(1280)
    display: none

  &__field
    display: flex
    overflow: hidden
    position: relative

    &:after
      content: ''
      width: 183px
      height: 40px
      background-color: $white
      position: absolute
      top: 0
      right: 0
      z-index: 0

    input
      height: 40px
      border-radius: 14px 0 0 14px
      border: 2px solid $blue-light
      flex-grow: 1
      //transition: transform .3s, opacity 3s
      transform: translateX(100%)
      animation: search .8s ease-out forwards

    button
      height: 40px
      z-index: 2
      border-radius: 0 14px 14px 0
      border: 2px solid $blue-light
      background-color: $blue-light
      color: $white
      +font(18px, 18px, 500)
      width: 184px
      position: relative
      flex-shrink: 0

@keyframes search
  0%
    transform: translateX(100%)
    opacity: 0

  100%
    transform: translateX(0)
    opacity: 1
