@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.top
  height: 585px
  position: relative
  color: $white
  box-sizing: border-box
  +screen($tablet)
    height: 460px

  &__container
    max-width: 1320px
    margin: 0 auto
    width: 100%

  .breadcrumbs
    position: absolute
    left: 0
    background-color: transparent
    top: 0

    &__item
      a
        color: $white

      &:last-child
        a
          font-weight: 500
          color: $white

    .container
      width: 100%
      height: auto
      padding: 0 60px
      background: transparent
      +screen($tablet)
        padding: 0 20px

      &:before
        display: none

  .container
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    padding: 112px 60px
    background: url(../assets/img/index/top-bg.jpg) no-repeat center/cover
    +screen($tablet)
      padding: 64px 20px
      justify-content: flex-end
    +screen($tablet-xs)
      background: url(../assets/img/index/top-bg-mob.jpg) no-repeat center/cover

    &:before
      content: ''
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(90deg, #17263D 0%, rgba(23, 38, 61, 0) 100%)
      opacity: 0.96
      pointer-events: none
      +screen($tablet-xs)
        background: linear-gradient(0, #17263D 10.33%, rgba(23, 38, 61, 0) 140%)

  &__title
    max-width: 800px
    +font(60px, 66px, 700, $font-title)
    +screen($tablet)
      +font(32px, 36px, 700, $font-title)

  &__txt
    +font(24px, 39px)
    margin-top: 14px
    +screen($tablet)
      +font(14px, 19px)
      margin-top: 18px

  &__btn
    margin-top: 57px
    +screen($tablet)
      margin-top: 26px
