@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.txt
  padding: 40px 0 80px
  +screen($tablet)
    padding-top: 30px

  h1
    +font(26px, 40px, 700, $font-title)
    +screen($tablet)
      +font(22px, 28px, 700, $font-title)

  h2, p
    +font(14px, 20px, 500)

  h2
    margin-top: 20px

  p
    margin-top: 30px

  ul
    li
      +font(14px, 24px)
