-
  //-mixins

  //-planning

  infoTitlesPlanning = [
    {
      title: 'Регион'
    },
    {
      title: 'Город'
    },
    {
      title: '11.06.2021'
    },
    {
      title: '12.06.2021'
    },
    {
      title: '13.06.2021'
    },
    {
      title: '14.06.2021'
    },
    {
      title: '15.06.2021'
    },
    {
      title: '16.06.2021'
    },
    {
      title: '17.06.2021'
    },
  ]

  datesCountPlanning = [
    {
      count: '10'
    },
    {
      count: '5'
    },
    {
      count: '3'
    },
    {
      count: '2'
    },
    {
      count: '7'
    },
    {
      count: '8'
    },
    {
      count: '10'
    },
    {
      count: '3'
    },
  ]

  planningCountCars = [
    {
      region: 'Алтайский край',
      city: 'Алейск',
      cars1 : {
        car1: {
          numberTitle: 'Е244ОВ198',
          numberColor: 'red',
          stopIcon: true,
          grafIcon: true,
          time: '(21.06 18:00 / 20:55)',
          timeColor: 'green',
          infoIcon: true
        }
      },
      cars2: '',
      cars3: '',
      cars4: '',
      cars5: '',
      cars6: '',
      cars7: ''
    },
    {
      region: 'Алтайский край',
      city: 'Барнаул',
      cars1: {
        car1: {
          numberTitle: 'Е244ОВ194',
          numberColor: 'red',
          stopIcon: false,
          grafIcon: true,
          time: '(без заявки 18ч. 38м)',
          timeColor: 'red',
          infoIcon: true
        }
      },
      cars2: '',
      cars3: {
        car1: {
          numberTitle: 'Е244ОВ114',
          numberColor: 'green',
          stopIcon: true,
          grafIcon: true,
          time: '(без заявки 18ч. 38м)',
          timeColor: 'red',
          infoIcon: true
        },
        car2: {
          numberTitle: 'Е244ОВ114',
          numberColor: 'orange',
          stopIcon: true,
          grafIcon: true,
          time: '(без заявки 18ч. 38м)',
          timeColor: 'red',
          infoIcon: false
        }
      },
      cars4: '',
      cars5: '',
      cars6: '',
      cars7: ''
    },
  ]



