$textFont: 'Fira Sans', sans-serif;
$lightColor:#009BE2;
$darkColor: #3D3868;
$darkColor_2: #844F9C;
$svgFill: #211D49;
$svgFillActive: #fff;
@mixin respondTo($device) {
  @if $device==phones {
    @media (max-width: 479px) {
      @content
    }
  }
  @else if $device==wide-phones {
    @media (min-width: 480px) and (max-width: 767px) {
      @content
    }
  }
  @else if $device==tablets {
    @media (min-width: 768px) and (max-width: 991px) {
      @content
    }
  }
  @else if $device==small-desktops {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content
    }
  }
  @else if $device==lg-desktops {
    @media (min-width: 1200px) and (max-width: 1440px) {
      @content
    }
  }
  @else if $device==xlg-desktops {
    @media (min-width: 1441px) {
      @content
    }
  }
}
@mixin customRespondTo($_minWidth, $_maxWidth) {
  @media (min-width: $_minWidth) and (max-width: $_maxWidth) {
    @content
  }
}

@mixin container {
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}