$textFont: 'IBM Plex Mono', monospace;
$headerFont: 'Roboto Slab', serif;
$lightColor:#009BE2;
$darkColor: #3D3868;
$darkColor_2: #844F9C;
$svgFill: #211D49;
$svgFillActive: #fff;

@mixin customRespondTo($_minWidth, $_maxWidth) {
  @media (min-width: $_minWidth) and (max-width: $_maxWidth) {
    @content;
  }
}

@mixin customRespondMobile($_minWidth) {
  @media (min-width: $_minWidth) {
    @content;
  }
}

@mixin container {
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}
@mixin blockHeader {
  font: bold 20px/24px $headerFont;
  box-sizing: border-box;
}
@mixin btnBlue {
  width: 260px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: $lightColor;
  font: bold 20px/24px $textFont;
  color: #FEFEFE;
}
@mixin btnViolet {
  width: 260px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #844F9C;
  font: bold 20px/24px $textFont;
  color: #FEFEFE;
}
@mixin btnGray {
  width: 260px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #68648C;
  font: bold 20px/24px $textFont;
  color: #FEFEFE;
}
@mixin more {
  margin: 20px 0 30px 0;
  width: 106px;
  height: 23px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: $lightColor;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@mixin input {
  width: 260px;
  height: 48px;
  border: 1px solid #68648C;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 3px;
  font: 16px/48px $textFont;
  &::placeholder {
    color: #68648C;
  }
}