@import "_variables";
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #131929;
}
/*----------------------------------------------------HEADER----------------------------------------------------*/
@import "libs/_header";
/*-----------------------------------------------------MAIN-----------------------------------------------------*/
@import "libs/_main";
/*----------------------------------------------------FOOTER----------------------------------------------------*/
@import "libs/_footer";
/*--------------------------------------------------MY--PROFILE-------------------------------------------------*/
@import "libs/_myProfile";
/*---------------------------------------------PARTNERS--FAQ--SUPPORT-------------------------------------------*/
@import "libs/_tab";
@import "libs/_partners";
@import "libs/_faq";
@import "libs/_support";
@import "libs/_partnerInside";
/*-------------------------------------------------CHAT--ROOM---------------------------------------------------*/
@import "libs/_chatRoom";
/*----------------------------------------------------404-------------------------------------------------------*/
@import "libs/_404";
/*----------------------------------------------------SHOP------------------------------------------------------*/
@import "libs/_shop";
/*---------------------------------------------------VOUCHER----------------------------------------------------*/
@import "libs/_voucher";
/*------------------------------------------------- task_list --------------------------------------------------*/
@import "libs/_taskList";