@import '_variables';
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #131929;
  min-height: 100vh;
}
/*-----------------------------------------------GLOBAL---ELEMENTS----------------------------------------------*/
@import 'libs/_global.scss';
/*------------------------------------------------------QR------------------------------------------------------*/
@import 'libs/_qr.scss';
/*----------------------------------------------------HEADER----------------------------------------------------*/
@import 'libs/_header';
/*-----------------------------------------------------MAIN-----------------------------------------------------*/
@import 'libs/_main';
/*----------------------------------------------------FOOTER----------------------------------------------------*/
@import 'libs/_footer';
/*--------------------------------------------------MY--PROFILE-------------------------------------------------*/
@import 'libs/_myProfile';
/*---------------------------------------------PARTNERS--FAQ--SUPPORT-------------------------------------------*/
@import 'libs/_tab';
@import 'libs/_partners';
@import 'libs/_faq';
@import 'libs/_support';
@import 'libs/_partnerInside';
/*-------------------------------------------------CHAT--ROOM---------------------------------------------------*/
@import 'libs/_chatRoom';
/*----------------------------------------------------404-------------------------------------------------------*/
@import 'libs/_404';
/*----------------------------------------------------SHOP------------------------------------------------------*/
@import 'libs/_shop';
/*---------------------------------------------------VOUCHER----------------------------------------------------*/
@import 'libs/_voucher';
/*------------------------------------------------- task_list --------------------------------------------------*/
@import 'libs/_taskList';
/*--------------------------------------------------CONGRATS----------------------------------------------------*/
@import 'libs/_congrats.scss';
/*------------------------------------------------NOTIFICATIONS-------------------------------------------------*/
@import 'libs/_notifications';
/*---------------------------------------------------RATING-----------------------------------------------------*/
@import 'libs/_rating.scss';
/*-----------------------------------------------PUBLIC--PROFILE------------------------------------------------*/
@import 'libs/_publicProfile.scss';
/*---------------------------------------------------ADMIN------------------------------------------------------*/
@import 'libs/_admin.scss';

