@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.product-tile
  padding: 20px
  min-height: calc(100vh - 270px)

  &__top
    display: flex
    align-items: center
    justify-content: space-between

  &__switcher
    +screen($tablet)
      display: none

    &-btn
      cursor: pointer

      &:first-child
        margin-right: 14px

      &.active
        svg
          rect
            fill: #02327F

  &__item
    background: #F9F9F9
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25)

    &-btns
      display: flex
      justify-content: space-between

      a
        border-radius: 4px
        display: flex
        align-items: center
        justify-content: center
        +font(14px, 14px, 500)
        height: 38px
        flex-basis: calc(50% - 5px)

        &:first-child
          background-color: $yellow
          @extend %opacity-click

        &:last-child
          background-color: transparent
          color: $yellow
          border: 1px solid $yellow

          &:hover
            background-color: $yellow
            color: $white

          &:active
            background-color: transparent
            color: $yellow

    &-image
      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: left

    &-desc
      box-sizing: border-box
      padding: 20px 17px

    &-options
      margin-top: 20px

      li
        display: flex
        flex-direction: column
        &:not(:first-child)
          margin-top: 14px

        span
          &:first-child
            +font(14px, 20px, 500)
          &:last-child
            +font(14px, 20px, 500, $font-title)
            color: #6A6A6A

    &-title
      +font(20px, 26px, 700, $font-title)

  &__grid
    margin-top: 30px
    +screen($tablet)
      .product-tile__item
        flex-direction: column

        &-image
          height: 288px !important
          flex-basis: auto !important

        &-desc
          flex-basis: auto !important
        &-top
          .product-tile__item-btns
            display: none !important

        &-btns
          display: flex !important
          margin-top: 23px

    &_horizontal
      display: grid
      grid-gap: 30px
      grid-template-columns: repeat(auto-fill, minmax(284px, 1fr))

      .product-tile__item
        &-top
          .product-tile__item-btns
            display: none

        &-btns
          margin-top: 23px

        &-image
          height: 288px

    &_vertical
      display: grid
      grid-template-columns: 1fr
      grid-gap: 30px

      .product-tile__item
        display: flex

        &-image
          height: 100%
          flex-basis: 40%

        &-top
          display: flex
          justify-content: space-between
          align-items: center
          width: 100%

          .product-tile__item-btns
            display: flex
            width: 322px

        &-desc
          flex-basis: 60%

        &-options
          li
            flex-direction: row

            span
              &:first-child
                margin-right: 10px

        &-btns
          display: none









