section.service-map
  .service-map__top
    h2.service-map__title Карта сервисных центров и магазинов запчастей
    a.service-map__link(href="services-page.html")
      span Список сервисных центров
      span.arrow
        svg(width='40' height='16' viewbox='0 0 40 16' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M0 8H37.5977' stroke='#EB5C2C' stroke-width='2')
          path(d='M32 1.5C32.4 1.93333 36.1667 6.01389 38 8L32 14.5' stroke='#EB5C2C' stroke-width='2')
  .service-map__container#serviceMap
