section.service-info
  .container
    h2.section-title Сервисная сеть
    .service-info__top
      .service-info__block
        h3.service-info__title Сервисное обслуживание и ремонт
        p.service-info__txt Компания «Техцентры СОТСРАНС» производит сервисное обслуживание и любые виды ремонта всего модельного ряда автобусов GOLDEN DRAGON . Работы осуществляются квалифицированными специалистами с большим опытом работы, которые регулярно проходит обучение в учебных центрах, повышая свой профессиональный уровень.
        p.service-info__txt Отличная техническая база, профессиональная подготовка, оснащенность сервисных центрова всем необходимым оборудованием и специнструментом, позволяет проводить обслуживание и ремонтные работы в самые сжатые сроки. «Техцентры СОТСРАНС», являясь эксклюзивным дистрибьютором GOLDEN DRAGON, обеспечивает высокое качество работ обусловленное строгим соблюдением стандартов производителя.
      .service-info__image
        img(src=require('@/assets/img/service/info.jpg') alt="")
    .service-info__bottom
      .service-info__block
        h3.service-info__title Запчасти
        p.service-info__txt Компания ООО "Техцентры СОТРАНС" занимается реализацией оригинальных запасных частей Golden Dragon, комплектующих, агрегатов и расходных материалов. Оригинальные детали имеют сертификат и гарантию от производителя.
        p.service-info__txt Завод-производитель постоянно вносит изменения в конструкцию, направленные на улучшение потребительских и технических свойств техники. Так, например, в пределах одной модели комплектация узлами и агрегатами может сильно отличаться. Обратившись к сторонней компании — велика вероятность, что Вам предложат запасные части, которые не подойдут именно к Вашей технике.
      .service-info__block
        p.service-info__txt Приобретая запчасти у эксклюзивного дистрибьютора Golden Dragon, вы получаете только оригинальную, качественную и сертифицированную продукцию от завода-изготовителя. Все необходимые запчасти есть в наличии в сервисных центрах или на складе в Санкт-Петербурге.
        .service-info__accent
          .service-info__accent-image
            img(src=require('@/assets/img/service/wrench.svg') alt="")
          p.service-info__accent-txt Мы осуществляем продажу запчастей по ценам завода!




