section.service-form
  form.form
    .service-form__panel
      h2.service-form__title Обратная связь
      p.service-form__txt заполните форму и специалист свяжется с Вами в рабочее время
      .service-form__fields
        .service-form__fields-top
          .form__field
            input.form__field-input(type="text" required name="firstName")
            span.form__field-placeholder Имя
            span.form__field-error Это поле не может быть пустым
          .form__field
            input.form__field-input(type="text" name="lastName")
            span.form__field-placeholder Фамилия
          .form__field
            input.form__field-input(type="text" name="organization")
            span.form__field-placeholder Организация
          .form__field.error
            input.form__field-input(type="text" required name="phone")
            span.form__field-placeholder Телефон
            span.form__field-error Это поле не может быть пустым
          .form__field
            input.form__field-input(type="text" name="city")
            span.form__field-placeholder Город
          .form__field
            input.form__field-input(type="email" name="email")
            span.form__field-placeholder Email
        .service-form__fields-bottom
          .form__radios
            .form__radios-title Выберите тему обращения#[span *]
            .form__radios-container
              input(type="radio" name='appealTheme' id="appealTheme1" checked)
              label(for="appealTheme1") сервис
              input(type="radio" name='appealTheme' id="appealTheme2")
              label(for="appealTheme2") запчасти
          .service-form__fields-container
            .service-form__fields-container-item
              textarea.form__textarea(placeholder='Сообщение')
            .service-form__fields-container-item
              .form__checkbox
                input#orderFormPolicy(type="checkbox" required)
                label(for="orderFormPolicy") Я согласен с #[a(href="javascript:") Политикой конфидициальности]
              button.btn.btn_trans.btn_trans_orange.service-form__submit(type="submit")
                span Отправить



