section.docs
  .container
    .docs-top
      h3.subtitle Лицензии
      .desktop-link
        +all-link('Все документы', 'javascript:')
    .docs-container
      each doc in docs
        .docs-card
          img(src=doc alt="")
    .mobile-link
      +all-link('Все документы', 'javascript:')



