section.docs
  .docs-top.container
    h3.subtitle Лицензии
    .desktop-link
      +all-link('Все документы', 'javascript:')
  .docs-container
    each doc in docs
      .docs-card.docs-card-item
        img(src=doc alt="")
  .container
    .mobile-link
      +all-link('Все документы', 'javascript:')



