section.main-slider#main-slider
  .swiper
    .swiper-wrapper
      .swiper-slide
        h2 Уникальное торговое предложение
        p Мы вынуждены отталкиваться от того, что экономическая повестка сегодняшнего дня прекрасно подходит для реализации самодостаточных.
        .swiper-slide-main-btns
          button Записаться
          button Подробнее
      .swiper-slide
        h2 2 slide
        p Мы вынуждены отталкиваться от того, что экономическая повестка сегодняшнего дня прекрасно подходит для реализации самодостаточных.
        .swiper-slide-main-btns
          button Записаться
          button Подробнее
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
