section.seo
  .container
    h3.subtitle Услуги неврологии и ортопедии в Перми (seo)
    p Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе.
