@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.articles-main__grid
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr))
  grid-gap: 30px 30px
  justify-items: center
  grid-auto-flow: dense
  box-sizing: border-box
  +screen(820)
    padding: 0 20px
  +screen($tablet-sm)
    grid-template-columns: 1fr

  .article-card
    width: 100%

    &_horizontal
      grid-column: span 2
      +screen($tablet-sm)
        grid-column: span 1

      .article-card
        &__preview
          -webkit-line-clamp: 1

        &__bottom
          max-height: 80px

      &:hover
        .article-card__bottom
          max-height: 150px
          +screen($tablet)
            max-height: none
            height: auto

  & + .card-grid__more
    a
      background: $black
      color: $white

      &:hover
        background: $white
        color: $black

      &:active
        background: $black
        color: $white
