@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.request
  width: 100%

  &_article
    .article-card
      &:not(:first-child)
        margin-top: 40px

  &__image
    width: 100%
    height: 306px
    +screen($tablet)
      display: none

    img
      width: 100%
      height: 100%

  &__offer
    +font(16px, 22px)
    +screen($tablet)
      text-align: center
      display: flex
      flex-direction: column
      align-items: center

    span
      font-weight: 700

    &-text
      margin-top: 25px
      text-transform: uppercase
      +screen($tablet)
        width: 280px

    &-btn
      margin-top: 22px
      +screen($tablet)
        margin-top: 30px
        width: 100%

  &__container
    margin-top: 30px

