@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.cemetery
  &-list
    width: 261px
    max-height: 969px
    flex-shrink: 0
    overflow: hidden
    border-right: 1px solid $gray-second
    box-sizing: border-box
    padding-right: 2px
    display: flex
    position: relative
    flex-direction: column
    +screen($tablet)
      position: fixed
      height: 100vh
      top: 0
      left: 0
      width: 100%
      background-color: $white
      z-index: 700
      border: none
      align-items: center
      padding: 56px 0 0 0
      transform: translateY(-120vh)
      transition: .4s ease-out
      visibility: hidden
      opacity: 0
      pointer-events: none

    &_active
      transform: translateY(0)
      visibility: visible
      opacity: 1
      pointer-events: auto

    &__mobile-head
      display: none
      +screen($tablet)
        position: absolute
        width: 100%
        height: 56px
        display: flex
        align-items: center
        justify-content: center
        top: 0
        left: 0
        +font(16px, 22px, 700)
        box-shadow: 0 4px 25px rgba(0, 0, 0, .25)

      &-close
        position: absolute
        width: 30px
        height: 30px
        top: 50%
        right: 20px
        transform: translateY(-50%)

        &[data-lazyloaded]
          background: url(../../../assets/img/close.svg) center/16px 16px no-repeat

    &__inner
      overflow: auto
      scrollbar-width: thin
      +screen($tablet)
        width: 100%
        padding: 0 10px
        box-sizing: border-box
        display: flex
        flex-direction: column
        align-items: center

      &::-webkit-scrollbar
        width: 4px
        background: $white

        &-thumb
          background: #B8B8B8
          border-radius: 6px

    a
      width: 246px
      +font(14px, 18px, 700)
      box-sizing: border-box
      padding: 15px 22px
      color: $black-base
      transition: color .4s ease-out, opacity .4s ease-out
      text-transform: uppercase
      +screen($tablet)
        width: 300px

      &.active
        background-color: $black-base
        color: $white

      &:hover:not(.active)
        opacity: .5

  &-contacts
    box-sizing: border-box
    padding: 0 30px
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%
    +screen($tablet)
      padding: 0

    &__btn
      display: none
      +screen($tablet)
        align-self: center
        display: flex
        justify-content: center
        margin-bottom: 30px
        width: 280px
        height: 42px
        display: flex
        align-items: center
        justify-content: center
        +font(14px, 14px, 700)
        color: $white
        background-color: $black-base
        transition: .3s

        &:active
          background-color: lighten($black-base, 30%)

        img
          display: block
          margin-right: 11px

    .content
      padding: 45px 0 30px
      +screen($tablet)
        padding: 40px 20px

    &__title
      width: 100%
      +font(24px, 24px, 700)
      margin: 0 0 30px 0
      +screen($tablet)
        +font(20px, 22px, 700)
        padding: 0 20px

    .map
      width: 100%
      height: 484px
      +screen($tablet)
        height: 255px

    &__items
      display: flex
      justify-content: space-between
      +screen($tablet)
        flex-direction: column
        padding: 0 20px

    &__item
      max-width: 278px
      +screen($tablet)
        max-width: 100%
        width: 100%

        &:not(:first-child)
          margin-top: 40px

      &-title
        +font(16px, 20px, 700)
        text-transform: uppercase
        position: relative
        margin-bottom: 23px

        &:before
          content: ''
          width: 40px
          height: 3px
          background: $red
          position: absolute
          bottom: -5px
          left: 0
          display: block

      &-text
        +font(16px, 22px)

      &-phone
        color: $black-base
        white-space: nowrap
