@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.form
  display: flex
  position: relative
  background: $white
  box-shadow: 0 4px 25px rgba(0, 0, 0, .25)
  align-items: center
  justify-content: center


  &__container
    display: flex
    flex-direction: column
    max-width: 412px
    width: 100%
    box-sizing: border-box
    padding: 60px
    position: relative

  &__response
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: $white
    z-index: 3
    justify-content: center
    box-sizing: border-box
    padding: 60px
    display: flex
    flex-direction: column
    visibility: hidden
    opacity: 0
    pointer-events: none
    transition: .4s ease-out
    +screen($tablet)
      align-items: center

    &-text
      margin-top: 20px
      +font(18px, 28px)
      +screen($tablet)
        +font(16px, 24px)
        text-align: center

    &_active
      visibility: visible
      opacity: 1
      pointer-events: auto

  &__title
    +font(20px, 20px, 900)
    text-transform: uppercase
    text-align: center
    position: relative
    align-self: center
    margin-bottom: 5px
    width: 100%

    &:before
      content: ''
      width: 34px
      height: 34px
      display: block
      position: absolute
      top: -10px
      left: -8px

    &[data-lazyloaded]
      &:before
        background: url(../../../assets/img/square.svg) no-repeat center/contain


  &__text
    +font(14px, 20px)
    margin-top: 17px

  &__input
    width: 100%
    border-bottom: 1px solid $black-base
    box-sizing: border-box
    padding: 5px 0
    position: relative
    margin-top: 30px

    &_error
      border-color: $red

      .form__input-error
        display: block

    input
      background: transparent
      border: none
      outline: none !important
      +font(14px, 20px, 700)
      width: 100%
      padding: 0
      color: $black-base

      &::placeholder
        +font(14px, 20px)
        color: $gray-second

    &-error
      +font(10px, 14px)
      color: $red
      position: absolute
      top: calc(100% + 2px)
      left: 0
      display: none

  &__submit
    margin-top: 50px

  &__agreement
    margin-top: 20px
    color: $gray-second
    +font(11px, 13px)

    a
      display: inline-block
      color: $black-base !important
      position: relative
      transition: .3s

      &:after
        content: ''
        display: block
        width: 100%
        height: 1px
        background: $black-base
        position: absolute
        left: 0
        bottom: 0
        transition: .3s

      &:hover
        color: lighten($black-base, 50%) !important

        &:after
          background: lighten($black-base, 50%) !important

  &__image
    max-width: 222px
    margin: auto 0
    +screen($tablet)
      display: none

    img
      width: 100%

  &_product
    display: flex
    align-items: center
    justify-content: center
    background: transparent
    z-index: 1

    .form
      &__title
        align-self: flex-start
        text-align: left

        &:before
          left: -16px

      &__image
        width: 158px
        height: 350px


  &-footer
    &__container_contacts
      top: -110%
      +screen($tablet-sm)
        top: auto
        left: auto
        bottom: auto
        right: auto
        transform: none

      .form
        transform: translateY(-18%)
        +screen($tablet-sm)
          transform: none

    &_contacts
      +screen($tablet-sm)
        order: 1

        .form__title
          +screen($tablet-sm)
            align-self: flex-start
            padding-left: 10px

            &:before
              left: 0
