section.one-application-info#pageOneApplicationInfo
    .one-application-info-header
      button#btnCloseOneApplicationInfo
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-creating/close.svg')}
      .one-application-info-header-title
        .one-application-info-header-title__name Е527НР198, Заявка
          span №30963507
        img(src=require('@/assets/img/one-application-info/avatar.svg') alt="" loading="lazy")
    .one-application-info-main
      .one-application-info-main-date
        .one-application-info-main-date-text 15-го апр. 2021
      .one-application-info-main-chat
        .one-application-info-main-message
          .one-application-info-main-message-info
            span.one-application-info-main-message-info__text 09:04
            .one-application-info-main-message-info-users
              span.one-application-info-main-message-info__text Для: Зубков Вадим
          .one-application-info-main-message-content
            span.one-application-info-main-message-content__text Водитель (Е527НР198) прибыл на точку выгрузки в Коркино по заявке №30963507, 15.04.2021 10:49 (+5) (автоматическое определение по координатам).
        .one-application-info-main-message
          .one-application-info-main-message-info
            span.one-application-info-main-message-info__text 12:22
            .one-application-info-main-message-info-users
              span.one-application-info-main-message-info__text Для: Берёзкин Алексей Сергеевич
          .one-application-info-main-message-content
            span.one-application-info-main-message-content__text Заявка отправлена на перерасчет.
        .one-application-info-main-message
          .one-application-info-main-message-info
            span.one-application-info-main-message-info__text 12:22
            .one-application-info-main-message-info-users
              span.one-application-info-main-message-info__text От Айрапетов Андраник
              span.one-application-info-main-message-info__text Для: Бисерова Светлана
          .one-application-info-main-message-content
            .one-application-info-main-message-content-file
              .one-application-info-main-message-content-file__name Ставка 89200.pdf
              button.one-application-info-main-message-content-file__btn
                span скачать файл
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-info/check.svg')}
        .one-application-info-main-message
          .one-application-info-main-message-info
            span.one-application-info-main-message-info__text 12:22
            .one-application-info-main-message-info-users
              span.one-application-info-main-message-info__text Для: Берёзкин Алексей Сергеевич
          .one-application-info-main-message-content
            span.one-application-info-main-message-content__text Заявка отправлена на перерасчет.
        .one-application-info-main-message
          .one-application-info-main-message-info
            span.one-application-info-main-message-info__text 12:22
            .one-application-info-main-message-info-users
              span.one-application-info-main-message-info__text Для: Берёзкин Алексей Сергеевич
          .one-application-info-main-message-content
            span.one-application-info-main-message-content__text Заявка отправлена на перерасчет
        .one-application-info-main-message
          .one-application-info-main-message-info
            span.one-application-info-main-message-info__text 12:22
            .one-application-info-main-message-info-users
              span.one-application-info-main-message-info__text Для: Берёзкин Алексей Сергеевич
          .one-application-info-main-message-content
            span.one-application-info-main-message-content__text Заявка отправлена на перерасчет.
        .one-application-info-main-message
          .one-application-info-main-message-info
            span.one-application-info-main-message-info__text 12:22
            .one-application-info-main-message-info-users
              span.one-application-info-main-message-info__text Для: Берёзкин Алексей Сергеевич
          .one-application-info-main-message-content
            span.one-application-info-main-message-content__text Заявка отправлена на перерасчет.
        .one-application-info-main-message
          .one-application-info-main-message-info
            span.one-application-info-main-message-info__text 12:22
            .one-application-info-main-message-info-users
              span.one-application-info-main-message-info__text Для: Берёзкин Алексей Сергеевич
          .one-application-info-main-message-content
            span.one-application-info-main-message-content__text Заявка отправлена на перерасчет.
        .one-application-info-main-message
          .one-application-info-main-message-info
            span.one-application-info-main-message-info__text 12:22
            .one-application-info-main-message-info-users
              span.one-application-info-main-message-info__text Для: Берёзкин Алексей Сергеевич
          .one-application-info-main-message-content
            span.one-application-info-main-message-content__text Заявка отправлена на перерасчет.







