.plan-indicators
  .plan-indicators_item
    h4.plan-indicators_item__title Плановые показатели
    .plan-indicators_item_cont
      .plan-indicators_item_cont_point
        .plan-indicators_item_cont_point__title
          span 186 км
        .plan-indicators_item_cont_point__text
          span Расстояние
      .plan-indicators_item_cont_point
        .plan-indicators_item_cont_point__title
          span 86,16
          span   &#8381;
        .plan-indicators_item_cont_point__text
          span руб/км
      .plan-indicators_item_cont_point
        .plan-indicators_item_cont_point__title
          span 768 ч 00 м
        .plan-indicators_item_cont_point__text
          span Время в пути
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application/question.svg')}
      .plan-indicators_item_cont_point
        .plan-indicators_item_cont_point__title
          span 15.04.21
          span 09:00
        .plan-indicators_item_cont_point__text
          span Время прибытия
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application/question.svg')}

  .plan-indicators_item
    h4.plan-indicators_item__title Плановые показатели
    .plan-indicators_item_cont
      .plan-indicators_item_cont_point
        .plan-indicators_item_cont_point__title
          span 186 км
        .plan-indicators_item_cont_point__text
          span Расстояние
      .plan-indicators_item_cont_point
        .plan-indicators_item_cont_point__title
          span 86,16
          span   &#8381;
        .plan-indicators_item_cont_point__text
          span руб/км
      .plan-indicators_item_cont_point
        .plan-indicators_item_cont_point__title
          span 768 ч 00 м
        .plan-indicators_item_cont_point__text
          span Время в пути
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application/question.svg')}
      .plan-indicators_item_cont_point
        .plan-indicators_item_cont_point__title
          span 15.04.21
          span 09:00
        .plan-indicators_item_cont_point__text
          span Время прибытия
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application/question.svg')}




