@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.modal__fighter
  .modal
    &__about
      +screen($tablet)
        flex-direction: column
        align-items: center

      &-header
        &::after
          width: 127%
          top: calc(100% - 69px)
          left: -40px

      &-title
        margin: 0 0 0 15px
        +screen($tablet)
          margin: 0

      &-item
        flex-direction: column
        align-items: flex-start
        +screen($tablet)
          align-items: center

        &:not(:nth-child(2))
          margin-top: 25px

    &__slider
      +screen($tablet)
        display: none