@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.modal
  padding: 20px
  +screen($tablet)
    padding: 0

  &__mobile-header
    display: none
    +screen($tablet)
      text-align: center
      +font(40px, 50px, $font-dirty)
      display: flex
      align-items: center
      flex-direction: column
      text-transform: uppercase

    span
      +font(20px, 30px, $font-dirty)

    &-link
      display: block
      width: 50px
      height: 40px
      flex-shrink: 0
      margin-bottom: 30px
      background: url(../assets/img/global/black_logo_mobile.png) center/contain no-repeat

  &__wrap
    max-width: 1135px
    width: 100%
    min-height: 600px
    position: relative
    background: url(../assets/img/modals/rider_bg.png) no-repeat #fff
    +screen($tablet)
      min-height: 100vh

    &-lt
      top: -40px
      left: -40px
      position: absolute
      z-index: 99
      width: 40px
      height: 40px
      background: url(../assets/img/modals/modal_content_lt.png) no-repeat right bottom
      +screen($tablet)
        display: none

    &-ct
      top: -40px
      width: 100%
      position: absolute
      z-index: 99
      height: 40px
      background: url(../assets/img/modals/modal_content_ct.png) repeat-x left bottom
      +screen($tablet)
        display: none

    &-rt
      position: absolute
      z-index: 99
      width: 40px
      height: 40px
      right: -40px
      top: -40px
      background: url(../assets/img/modals/modal_content_rt.png) no-repeat left bottom
      +screen($tablet)
        display: none

    &-lc
      position: absolute
      z-index: 99
      width: 40px
      top: 0
      left: -40px
      height: 100%
      background: url(../assets/img/modals/modal_content_lc.png) repeat-y right top
      +screen($tablet)
        display: none

    &-rc
      position: absolute
      z-index: 99
      width: 40px
      top: 0
      right: -40px
      height: 100%
      background: url(../assets/img/modals/modal_content_rc.png) repeat-y left top
      +screen($tablet)
        display: none

    &-lb
      position: absolute
      z-index: 99
      width: 40px
      height: 45px
      bottom: -40px
      left: -40px
      background: url(../assets/img/modals/modal_content_lb.png) no-repeat right top
      +screen($tablet)
        display: none

    &-cb
      position: absolute
      z-index: 99
      height: 40px
      bottom: -40px
      width: 100%
      background: url(../assets/img/modals/modal_content_cb.png) repeat-x left top
      +screen($tablet)
        display: none

    &-rb
      position: absolute
      z-index: 99
      width: 41px
      height: 47px
      right: -40px
      bottom: -40px
      background: url(../assets/img/modals/modal_content_rb.png) no-repeat left top
      +screen($tablet)
        display: none

  &__body
    max-width: 1135px
    width: 100%
    min-height: 600px
    padding: 20px
    box-sizing: border-box
    +screen($tablet)
      padding: 0
      min-height: 100vh

  &__top
    display: flex
    flex-wrap: wrap
    +screen($tablet)
      min-height: 100%
      flex-direction: column
      flex-wrap: nowrap
      align-items: center

  &__photo
    width: 510px
    height: 520px
    background-position: center 40px
    background-repeat: no-repeat
    +screen($tablet)
      height: 450px
      background: no-repeat center 20px / auto 520px

  &__socials
    width: 100%
    z-index: 101
    +screen($tablet)
      width: auto

    .colored__socials
      +cancel-position
      width: fit-content
      height: 50px
      margin-left: 180px
      +screen($tablet)
        margin-left: 0

      &-item
        +screen($tablet)
          width: 58px
          height: 56px

        &:not(:last-child)
          +screen($tablet)
            margin-right: 20px

        &_vk
          +screen($tablet)
            background: url(../assets/img/global/social_vk.png) no-repeat center/contain

        &_fb
          +screen($tablet)
            background: url(../assets/img/global/social_fb.png) no-repeat center/contain

        &_ig
          +screen($tablet)
            background: url(../assets/img/global/social_ig.png) no-repeat center/contain

        &_yt
          +screen($tablet)
            background: url(../assets/img/global/social_yt.png) no-repeat center/contain

  &__about
    box-sizing: border-box
    padding: 80px 0 0 70px
    text-transform: uppercase
    +screen($desktop-sm)
      padding-left: 0
    +screen($tablet)
      padding: 0
      order: 1
      max-width: 600px
      width: 100%
      display: flex
      flex-wrap: wrap
    +screen($mobile-sm)
      flex-direction: column
      flex-wrap: nowrap
      align-items: center

    &-header
      +font(45px, 50px, $font-dirty)
      position: relative
      z-index: 1
      margin-bottom: 60px
      max-width: 300px
      width: 100%
      +screen($tablet)
        display: none

      span
        display: block
        +font(22px, 45px, $font-dirty)
        text-transform: uppercase

      &::after
        content: ''
        position: absolute
        top: calc(100% - 25px)
        left: -80px
        width: 120%
        height: 60px
        z-index: -1
        background: url(../assets/img/global/feedback_title_stroke.png) center no-repeat

    &-stats
      display: flex
      margin-top: 25px
      +screen($tablet)
        margin-top: 15px

      &-item
        width: 100px
        text-align: center

        &-icon
          width: 100%
          height: 40px
          display: flex
          justify-content: center
          align-items: center

        &-num
          width: 100%
          height: 70px
          display: flex
          justify-content: center
          align-items: center
          background: url(../assets/img/modals/fighter-stat-icon.png) center no-repeat

    &-item
      display: flex
      align-items: center
      +screen($tablet)
        flex-direction: column
        width: 50%
      +screen($mobile-sm)
        width: 100%

      &:not(:first-child)
        margin-top: 35px

    &-title
      margin-right: 40px
      height: 24px
      width: 150px
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      +font(16px, 16px)
      position: relative
      color: $white
      z-index: 1
      +screen($tablet)
        width: auto
        height: auto
        +font(24px, 30px)
        color: $blue
        margin: 0

      &::after
        content: ''
        width: 120%
        height: 50px
        position: absolute
        top: 50%
        left: 52%
        transform: translateX(-48%) translateY(-50%)
        z-index: -14
        background: url(../assets/img/modals/rider_info_stroke.png) center/contain no-repeat
        +screen($tablet)
          display: none

    &-text
      +font(25px, 30px)
      +screen($tablet)
        +font(18px, 30px)

  &__info
    width: 100%
    box-sizing: border-box
    padding: 100px 60px 40px
    columns: 400px auto
    +screen($tablet)
      padding: 20px 40px 20px

    h3
      margin: 36px 0 18px 0
      height: 24px
      width: 150px
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      +font(16px, 16px)
      position: relative
      color: $white
      z-index: 1
      +screen($tablet)
        width: auto
        height: auto
        +font(24px, 30px)
        color: $blue

      &:first-child
        margin-top: 0

      &::after
        content: ''
        width: 120%
        height: 50px
        position: absolute
        top: 50%
        left: 52%
        transform: translateX(-48%) translateY(-50%)
        z-index: -1
        background: url(../assets/img/modals/rider_info_stroke.png) center/contain no-repeat
        +screen($tablet)
          display: none

    p,
    ul
      margin-bottom: 18px
      +font(18px, 22px, $font-intro)
      text-transform: none
      break-inside: avoid

      &:last-child
        margin-bottom: 0

    ul
      padding: 0

      li
        list-style-type: none
        padding: 0 0 8px 22px
        background: url(../assets/img/global/li.png) 1px 7px no-repeat
