mixin pageHeader(title)
  .page-header
    .page-header__title= title
    .page-header_events
      .page-header_events_count
        span Выводить на странице:
        button 30
        button 50
        button 100
        button 200
      .page-header_events_btns
        button
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-report/printer.svg')}
        +button(null, 'orange', 'trucks/download.svg', null, null)
