// font
$font: 'Montserrat', sans-serif

// colors
$black: #232323
$white: #fff
$light-blue: #F5F7FD
$gray-medium: #AAB0C5
$blue-light: #27A0E2
$blue: #3A62C6
$blue-main: #1D45AA
$blue-dark: #133792
$overlay: rgba(7, 18, 48, .6)
$text-field: #E2E2E8
$error: #EB5757
$grey: #6B6B6B
$menu-static: #A1B6ED


// screen
$desktop-m: 1440
$desktop-sm: 1280
$desktop-xs: 1240
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 360
