-
  //- global
  sectionBreadcrumbs = null

  //- header
  headerTopMenu = [
    {txt: 'О клинике', url: 'javascript:'},
    {txt: 'Специалисты', url: 'javascript:'},
    {txt: 'Прайс', url: 'javascript:'},
    {txt: 'Отзывы', url: 'javascript:'},
    {txt: 'Новости и акции', url: 'javascript:'},
    {txt: 'Вакансии', url: 'javascript:'},
    {txt: 'Контакты ', url: 'javascript:'},
  ]

  headerBottomMenu = [
    [
      {
        txt: 'Направления',
        url: 'javascript:',
        id: 0,
        buttons: [
          {
            txt: 'Физиотерапия',
            links: [
              {txt: 'Шейно-воротниковой зоны', url: 'javascript:'},
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Пояснично-крестцового отдела', url: 'javascript:'},
              {txt: 'Спины', url: 'javascript:'},
              {txt: 'Сустава', url: 'javascript:'},
              {txt: 'Верхней конености', url: 'javascript:'},
              {txt: 'Стопы', url: 'javascript:'},
              {txt: 'Общий массаж', url: 'javascript:'},
              {txt: 'Точечный массаж', url: 'javascript:'},
              {txt: 'Кинезиотейпирование', url: 'javascript:'},
            ]
          },
          {
            txt: 'Регенераторная терапия',
            links: [
              {txt: 'Шейно-воротниковой зоны', url: 'javascript:'},
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Стопы', url: 'javascript:'},
              {txt: 'Общий массаж', url: 'javascript:'},
              {txt: 'Точечный массаж', url: 'javascript:'},
              {txt: 'Кинезиотейпирование', url: 'javascript:'},
            ]
          },
          {
            txt: 'Введение препаратов',
            links: [
              {txt: 'Шейно-воротниковой зоны', url: 'javascript:'},
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Пояснично-крестцового отдела', url: 'javascript:'},
              {txt: 'Спины', url: 'javascript:'},
            ]
          },
          {
            txt: 'Массаж',
            links: [
              {txt: 'Шейно-воротниковой зоны', url: 'javascript:'},
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Сустава', url: 'javascript:'},
              {txt: 'Верхней конености', url: 'javascript:'},
              {txt: 'Стопы', url: 'javascript:'},
              {txt: 'Кинезиотейпирование', url: 'javascript:'},
            ]
          },
          {
            txt: 'ИРТ',
            links: [
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Пояснично-крестцового отдела', url: 'javascript:'},
              {txt: 'Спины', url: 'javascript:'},
              {txt: 'Верхней конености', url: 'javascript:'},
              {txt: 'Общий массаж', url: 'javascript:'},
              {txt: 'Точечный массаж', url: 'javascript:'},
              {txt: 'Кинезиотейпирование', url: 'javascript:'},
            ]
          },
        ]
      },
      {
        txt: 'Заболевания',
        url: 'javascript:',
        id: 1,
        links: [
          {txt: 'Боль в плече', url: 'javascript:'},
          {txt: 'Боль в ноге', url: 'javascript:'},
          {txt: 'Боль в шее', url: 'javascript:'},
          {txt: 'Гемотома', url: 'javascript:'},
          {txt: 'Боль в руке', url: 'javascript:'},
          {txt: 'Боль в кисти', url: 'javascript:'},
          {txt: 'Боль в лодышке', url: 'javascript:'},
          {txt: 'Головная боль', url: 'javascript:'},
          {txt: 'Мигрень', url: 'javascript:'},
          {txt: 'Шум в ушах', url: 'javascript:'},
          {txt: 'Нарушение сенсорного восприятия', url: 'javascript:'},
          {txt: 'Снижение чувствительности', url: 'javascript:'},
          {txt: 'Головокружение', url: 'javascript:'},
          {txt: 'Обмороки', url: 'javascript:'},
          {txt: 'Расстройство сна', url: 'javascript:'},
          {txt: 'Нарушение памяти', url: 'javascript:'},
          {txt: 'Шум координации движения', url: 'javascript:'},
          {txt: 'Нервозность', url: 'javascript:'},
          {txt: 'Раздражительность', url: 'javascript:'},
          {txt: 'Повышенная тревожность', url: 'javascript:'},
        ]
      },
      {
        txt: 'Методики',
        url: 'javascript:',
        id: 2,
        links: [
          {txt: 'Комлексное лечение боли в передней части коленного сустава', url: 'javascript:'},
          {txt: 'Комлексное лечение синдрома илиотибиального тракта', url: 'javascript:'},
          {txt: 'Комлексное лечение болей в стопе', url: 'javascript:'},
          {txt: 'Комлексное лечение эпикрндилита', url: 'javascript:'},
          {txt: 'Мануальная терапия плече - лопаточного комплекса', url: 'javascript:'},
          {txt: 'Дюпюитрена — однократная лечебно - медикаментозная блокада', url: 'javascript:'},
          {txt: 'Комлексное лечение эпикондилита', url: 'javascript:'},
          {txt: 'Введение триамцинолона в узлы ладонного апоневроза', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение контрактуры Дюрюитрена Ост', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение синдрома Де Кервена', url: 'javascript:'},
          {txt: 'Комлексное лечение эпикондилита', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение «щелкающего» пальца', url: 'javascript:'},
          {txt: 'Комлексное лечение артроза 1 пальца(ризартроза)', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение синдрома карпального канала', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение повреждения разгибателя ногтевой фаланги', url: 'javascript:'},
        ]
      },
    ],
    [
      {
        txt: 'Консультации',
        url: 'javascript:',
        id: 3,
        links: [
          {txt: 'Прием невролога', url: 'javascript:'},
          {txt: 'Прием врача иглорефлексотерапевта', url: 'javascript:'},
          {txt: 'Прием врача мануального терапевта', url: 'javascript:'},
          {txt: 'Прием травматолога - ортопеда', url: 'javascript:'},
          {txt: 'Прием травматолога', url: 'javascript:'},
          {txt: 'Прием кистевого хирурга', url: 'javascript:'},
          {txt: 'Прием специалиста по реабилитации кисти', url: 'javascript:'},
        ]
      },
      {
        txt: 'Диагностика',
        url: 'javascript:',
        id: 4,
        links: [
          {txt: 'Пункция сустава лечебно-диагностическая', url: 'javascript:'},
          {txt: 'УЗИ суставов', url: 'javascript:'},
          {txt: 'УЗИ локтевого сустава', url: 'javascript:'},
          {txt: 'УЗИ лучезапястного сустава', url: 'javascript:'},
          {txt: 'УЗИ стопы', url: 'javascript:'},
          {txt: 'УЗИ суставов кисти', url: 'javascript:'},
          {txt: 'УЗИ верхних конечностей', url: 'javascript:'},
          {txt: 'УЗИ голеностопного сустава', url: 'javascript:'},
        ]
      },
      {
        txt: 'Реабилитация',
        url: 'javascript:',
        id: 5,
        links: [
          {txt: 'Реабилитация после травм и операций сухожилий сгибателей', url: 'javascript:'},
          {txt: 'Реабилитация после операции по поводу контрактуры Дюпюитрена', url: 'javascript:'},
          {txt: 'Реабилитация после травм и операций сухожилий сгибателей', url: 'javascript:'},
        ]
      },
      {
        txt: 'Спортивная медицина',
        url: 'javascript:',
        id: 6,
        buttons: [
          {
            txt: 'ЛФК',
            links: [
              {txt: 'Ортез неопреновый для ревматоидной кисти', url: 'javascript:'},
              {txt: 'Ортез динамический большой', url: 'javascript:'},
              {txt: 'Ортез маленький', url: 'javascript:'},
              {txt: 'Ортез средний', url: 'javascript:'},
              {txt: 'Ортез  большой', url: 'javascript:'},
              {txt: 'Пальцевая тяга', url: 'javascript:'},
              {txt: 'Занятия на канадском столе', url: 'javascript:'},
              {txt: 'Коррекция стелек', url: 'javascript:'},
              {txt: 'Изготовление индивидуальных ортезов стопы Formthotics', url: 'javascript:'}
            ]
          },
          {
            txt: 'Индивидуальное ортезирование',
            links: [
              {txt: 'Ортез неопреновый для ревматоидной кисти', url: 'javascript:'},
              {txt: 'Пальцевая тяга', url: 'javascript:'},
              {txt: 'Занятия на канадском столе', url: 'javascript:'},
              {txt: 'Коррекция стелек', url: 'javascript:'},
              {txt: 'Изготовление индивидуальных ортезов стопы Formthotics', url: 'javascript:'}
            ]
          },
        ]
      },
    ]
  ]

  hiddenMenu = [
    {
      id: 0,
      leftMenu: [
        {txt: 'Физиотерапия', id: '0'},
        {txt: 'Регенераторная терапия', id: '1'},
        {txt: 'Введение препаратов', id: '2'},
        {txt: 'Массаж', id: '3'},
        {txt: 'ИРТ', id: '4'}
      ],
      links: [
          [
            {txt: 'Шейно-воротниковой зоны', url: 'javascript:'},
            {txt: 'Шейно-грудного отдела', url: 'javascript:'},
            {txt: 'Пояснично-крестцового отдела', url: 'javascript:'},
            {txt: 'Спины', url: 'javascript:'},
            {txt: 'Сустава', url: 'javascript:'},
          ],
          [
            {txt: 'Верхней конености', url: 'javascript:'},
            {txt: 'Стопы', url: 'javascript:'},
            {txt: 'Общий массаж', url: 'javascript:'},
            {txt: 'Точечный массаж', url: 'javascript:'},
            {txt: 'Кинезиотейпирование', url: 'javascript:'},
          ]
      ]
    },
    {
      id: 1,
      links: [
        [
          {txt: 'Боль в плече', url: 'javascript:'},
          {txt: 'Боль в ноге', url: 'javascript:'},
          {txt: 'Боль в шее', url: 'javascript:'},
          {txt: 'Гемотома', url: 'javascript:'},
          {txt: 'Боль в руке', url: 'javascript:'},
        ],
        [
          {txt: 'Боль в кисти', url: 'javascript:'},
          {txt: 'Боль в лодышке', url: 'javascript:'},
          {txt: 'Головная боль', url: 'javascript:'},
          {txt: 'Мигрень', url: 'javascript:'},
          {txt: 'Шум в ушах', url: 'javascript:'},
        ],
        [
          {txt: 'Нарушение сенсорного восприятия', url: 'javascript:'},
          {txt: 'Снижение чувствительности', url: 'javascript:'},
          {txt: 'Головокружение', url: 'javascript:'},
          {txt: 'Обмороки', url: 'javascript:'},
          {txt: 'Расстройство сна', url: 'javascript:'},
        ],
        [
          {txt: 'Нарушение памяти', url: 'javascript:'},
          {txt: 'Шум координации движения', url: 'javascript:'},
          {txt: 'Нервозность', url: 'javascript:'},
          {txt: 'Раздражительность', url: 'javascript:'},
          {txt: 'Повышенная тревожность', url: 'javascript:'},
        ]
      ]
    },
    {
      id: 2,
      links: [
        [
          {txt: 'Комлексное лечение боли в передней части коленного сустава', url: 'javascript:'},
          {txt: 'Комлексное лечение синдрома илиотибиального тракта', url: 'javascript:'},
          {txt: 'Комлексное лечение болей в стопе', url: 'javascript:'},
          {txt: 'Комлексное лечение эпикрндилита', url: 'javascript:'},
          {txt: 'Мануальная терапия плече - лопаточного комплекса', url: 'javascript:'},
        ],
        [
          {txt: 'Дюпюитрена — однократная лечебно - медикаментозная блокада', url: 'javascript:'},
          {txt: 'Комлексное лечение эпикондилита', url: 'javascript:'},
          {txt: 'Введение триамцинолона в узлы ладонного апоневроза', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение контрактуры Дюрюитрена Ост', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение синдрома Де Кервена', url: 'javascript:'},
        ],
        [
          {txt: 'Комлексное лечение эпикондилита', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение «щелкающего» пальца', url: 'javascript:'},
          {txt: 'Комлексное лечение артроза 1 пальца(ризартроза)', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение синдрома карпального канала', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение повреждения разгибателя ногтевой фаланги', url: 'javascript:'},
        ]
      ]
    },
    {
      id: 3,
      links: [
        [
          {txt: 'Прием невролога', url: 'javascript:'},
          {txt: 'Прием врача иглорефлексотерапевта', url: 'javascript:'},
          {txt: 'Прием врача мануального терапевта', url: 'javascript:'},
          {txt: 'Прием травматолога - ортопеда', url: 'javascript:'},
          {txt: 'Прием травматолога', url: 'javascript:'},
        ],
        [
          {txt: 'Прием кистевого хирурга', url: 'javascript:'},
          {txt: 'Прием специалиста по реабилитации кисти', url: 'javascript:'},
        ],
      ]
    },
    {
      id: 4,
      links: [
        [
          {txt: 'Пункция сустава лечебно-диагностическая', url: 'javascript:'},
          {txt: 'УЗИ суставов', url: 'javascript:'},
          {txt: 'УЗИ локтевого сустава', url: 'javascript:'},
          {txt: 'УЗИ лучезапястного сустава', url: 'javascript:'},
          {txt: 'УЗИ стопы', url: 'javascript:'},
        ],
        [
          {txt: 'УЗИ суставов кисти', url: 'javascript:'},
          {txt: 'УЗИ верхних конечностей', url: 'javascript:'},
          {txt: 'УЗИ голеностопного сустава', url: 'javascript:'},
        ]
      ]
    },
    {
      id: 5,
      links: [
        [
          {txt: 'Реабилитация после травм и операций сухожилий сгибателей', url: 'javascript:'},
          {txt: 'Реабилитация после операции по поводу контрактуры Дюпюитрена', url: 'javascript:'},
          {txt: 'Реабилитация после травм и операций сухожилий сгибателей', url: 'javascript:'},
        ]
      ]
    },
    {
      id: 6,
      leftMenu: [
        {txt: 'ЛФК', id: '0'},
        {txt: 'Индивидуальное ортезирование', id: '1'},
      ],
      links: [
        [
          {txt: 'Ортез неопреновый для ревматоидной кисти', url: 'javascript:'},
          {txt: 'Ортез динамический большой', url: 'javascript:'},
          {txt: 'Ортез маленький', url: 'javascript:'},
          {txt: 'Ортез средний', url: 'javascript:'},
          {txt: 'Ортез  большой', url: 'javascript:'},
        ],
        [
          {txt: 'Пальцевая тяга', url: 'javascript:'},
          {txt: 'Занятия на канадском столе', url: 'javascript:'},
          {txt: 'Коррекция стелек', url: 'javascript:'},
          {txt: 'Изготовление индивидуальных ортезов стопы Formthotics', url: 'javascript:'}
        ],
      ]
    }
  ]

  // mobile menu
    mobileTopMenu = [
      {
        txt: 'Направления',
        url: 'javascript:',
        id: 0,
        buttons: [
          {
            txt: 'Физиотерапия',
            links: [
              {txt: 'Шейно-воротниковой зоны', url: 'javascript:'},
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Пояснично-крестцового отдела', url: 'javascript:'},
              {txt: 'Спины', url: 'javascript:'},
              {txt: 'Сустава', url: 'javascript:'},
              {txt: 'Верхней конености', url: 'javascript:'},
              {txt: 'Стопы', url: 'javascript:'},
              {txt: 'Общий массаж', url: 'javascript:'},
              {txt: 'Точечный массаж', url: 'javascript:'},
              {txt: 'Кинезиотейпирование', url: 'javascript:'},
            ]
          },
          {
            txt: 'Регенераторная терапия',
            links: [
              {txt: 'Шейно-воротниковой зоны', url: 'javascript:'},
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Стопы', url: 'javascript:'},
              {txt: 'Общий массаж', url: 'javascript:'},
              {txt: 'Точечный массаж', url: 'javascript:'},
              {txt: 'Кинезиотейпирование', url: 'javascript:'},
            ]
          },
          {
            txt: 'Введение препаратов',
            links: [
              {txt: 'Шейно-воротниковой зоны', url: 'javascript:'},
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Пояснично-крестцового отдела', url: 'javascript:'},
              {txt: 'Спины', url: 'javascript:'},
            ]
          },
          {
            txt: 'Массаж',
            links: [
              {txt: 'Шейно-воротниковой зоны', url: 'javascript:'},
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Сустава', url: 'javascript:'},
              {txt: 'Верхней конености', url: 'javascript:'},
              {txt: 'Стопы', url: 'javascript:'},
              {txt: 'Кинезиотейпирование', url: 'javascript:'},
            ]
          },
          {
            txt: 'ИРТ',
            links: [
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Пояснично-крестцового отдела', url: 'javascript:'},
              {txt: 'Спины', url: 'javascript:'},
              {txt: 'Верхней конености', url: 'javascript:'},
              {txt: 'Общий массаж', url: 'javascript:'},
              {txt: 'Точечный массаж', url: 'javascript:'},
              {txt: 'Кинезиотейпирование', url: 'javascript:'},
            ]
          },
        ]
      },
      {
        txt: 'Заболевания',
        url: 'javascript:',
        id: 1,
        links: [
          {txt: 'Боль в плече', url: 'javascript:'},
          {txt: 'Боль в ноге', url: 'javascript:'},
          {txt: 'Боль в шее', url: 'javascript:'},
          {txt: 'Гемотома', url: 'javascript:'},
          {txt: 'Боль в руке', url: 'javascript:'},
          {txt: 'Боль в кисти', url: 'javascript:'},
          {txt: 'Боль в лодышке', url: 'javascript:'},
          {txt: 'Головная боль', url: 'javascript:'},
          {txt: 'Мигрень', url: 'javascript:'},
          {txt: 'Шум в ушах', url: 'javascript:'},
          {txt: 'Нарушение сенсорного восприятия', url: 'javascript:'},
          {txt: 'Снижение чувствительности', url: 'javascript:'},
          {txt: 'Головокружение', url: 'javascript:'},
          {txt: 'Обмороки', url: 'javascript:'},
          {txt: 'Расстройство сна', url: 'javascript:'},
          {txt: 'Нарушение памяти', url: 'javascript:'},
          {txt: 'Шум координации движения', url: 'javascript:'},
          {txt: 'Нервозность', url: 'javascript:'},
          {txt: 'Раздражительность', url: 'javascript:'},
          {txt: 'Повышенная тревожность', url: 'javascript:'},
        ]
      },
      {
        txt: 'Методики',
        url: 'javascript:',
        id: 2,
        links: [
          {txt: 'Комлексное лечение боли в передней части коленного сустава', url: 'javascript:'},
          {txt: 'Комлексное лечение синдрома илиотибиального тракта', url: 'javascript:'},
          {txt: 'Комлексное лечение болей в стопе', url: 'javascript:'},
          {txt: 'Комлексное лечение эпикрндилита', url: 'javascript:'},
          {txt: 'Мануальная терапия плече - лопаточного комплекса', url: 'javascript:'},
          {txt: 'Дюпюитрена — однократная лечебно - медикаментозная блокада', url: 'javascript:'},
          {txt: 'Комлексное лечение эпикондилита', url: 'javascript:'},
          {txt: 'Введение триамцинолона в узлы ладонного апоневроза', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение контрактуры Дюрюитрена Ост', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение синдрома Де Кервена', url: 'javascript:'},
          {txt: 'Комлексное лечение эпикондилита', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение «щелкающего» пальца', url: 'javascript:'},
          {txt: 'Комлексное лечение артроза 1 пальца(ризартроза)', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение синдрома карпального канала', url: 'javascript:'},
          {txt: 'Комплексное консервативное лечение повреждения разгибателя ногтевой фаланги', url: 'javascript:'},
        ]
      },
      {
        txt: 'Консультации',
        url: 'javascript:',
        id: 3,
        links: [
          {txt: 'Прием невролога', url: 'javascript:'},
          {txt: 'Прием врача иглорефлексотерапевта', url: 'javascript:'},
          {txt: 'Прием врача мануального терапевта', url: 'javascript:'},
          {txt: 'Прием травматолога - ортопеда', url: 'javascript:'},
          {txt: 'Прием травматолога', url: 'javascript:'},
          {txt: 'Прием кистевого хирурга', url: 'javascript:'},
          {txt: 'Прием специалиста по реабилитации кисти', url: 'javascript:'},
        ]
      },
      {
        txt: 'Диагностика',
        url: 'javascript:',
        id: 4,
        links: [
          {txt: 'Пункция сустава лечебно-диагностическая', url: 'javascript:'},
          {txt: 'УЗИ суставов', url: 'javascript:'},
          {txt: 'УЗИ локтевого сустава', url: 'javascript:'},
          {txt: 'УЗИ лучезапястного сустава', url: 'javascript:'},
          {txt: 'УЗИ стопы', url: 'javascript:'},
          {txt: 'УЗИ суставов кисти', url: 'javascript:'},
          {txt: 'УЗИ верхних конечностей', url: 'javascript:'},
          {txt: 'УЗИ голеностопного сустава', url: 'javascript:'},
        ]
      },
      {
        txt: 'Реабилитация',
        url: 'javascript:',
        id: 5,
        links: [
          {txt: 'Реабилитация после травм и операций сухожилий сгибателей', url: 'javascript:'},
          {txt: 'Реабилитация после операции по поводу контрактуры Дюпюитрена', url: 'javascript:'},
          {txt: 'Реабилитация после травм и операций сухожилий сгибателей', url: 'javascript:'},
        ]
      },
      {
        txt: 'Спортивная медицина',
        url: 'javascript:',
        id: 6,
        buttons: [
          {
            txt: 'ЛФК',
            links: [
              {txt: 'Ортез неопреновый для ревматоидной кисти', url: 'javascript:'},
              {txt: 'Ортез динамический большой', url: 'javascript:'},
              {txt: 'Ортез маленький', url: 'javascript:'},
              {txt: 'Ортез средний', url: 'javascript:'},
              {txt: 'Ортез  большой', url: 'javascript:'},
              {txt: 'Пальцевая тяга', url: 'javascript:'},
              {txt: 'Занятия на канадском столе', url: 'javascript:'},
              {txt: 'Коррекция стелек', url: 'javascript:'},
              {txt: 'Изготовление индивидуальных ортезов стопы Formthotics', url: 'javascript:'}
            ]
          },
          {
            txt: 'Индивидуальное ортезирование',
            links: [
              {txt: 'Ортез неопреновый для ревматоидной кисти', url: 'javascript:'},
              {txt: 'Пальцевая тяга', url: 'javascript:'},
              {txt: 'Занятия на канадском столе', url: 'javascript:'},
              {txt: 'Коррекция стелек', url: 'javascript:'},
              {txt: 'Изготовление индивидуальных ортезов стопы Formthotics', url: 'javascript:'}
            ]
          },
        ]
      },
    ]


  //- footer
  footerMenu = [
    [
      {txt: 'О клинике', url: 'javascript:'},
      {txt: 'Специалисты', url: 'javascript:'},
      {txt: 'Прайс', url: 'javascript:'},
      {txt: 'Отзывы', url: 'javascript:'},
    ],
    [
      {txt: 'Новости и акции', url: 'javascript:'},
      {txt: 'Вакансии', url: 'javascript:'},
      {txt: 'Контакты', url: 'javascript:'},
    ]
  ]

  mainPageCards = [
    {
      img: require('@/assets/img/index/main-page/years.svg'),
      title: 'Более 10 лет работы',
      text: 'Высокое качество исследований обеспечивает участие в формировании прогресса',
    }, {
      img: require('@/assets/img/index/main-page/doctor.svg'),
      title: 'Лучший штат врачей',
      text: 'Высокое качество исследований обеспечивает участие в формировании прогресса',
    }, {
      img: require('@/assets/img/index/main-page/methods.svg'),
      title: 'Современные методики',
      text: 'Высокое качество исследований обеспечивает участие в формировании прогресса',
    }, {
      img: require('@/assets/img/index/main-page/prices.svg'),
      title: 'Самые низкие цены',
      text: 'Высокое качество исследований обеспечивает участие в формировании прогресса',
    }
  ]

  aboutSlides = [
    require('@/assets/img/index/about/slide1.jpg'),
    require('@/assets/img/index/about/slide1.jpg'),
  ]

  switcherButtons = [
    {
      title: 'Консультации врачей',
      description: 'Профессиональные специалисты с большим стажем',
    }, {
      title: 'Лечение заболеваний',
      description: 'Профессиональные специалисты с большим стажем',
    }, {
      title: 'Реабилитация',
      description: 'Профессиональные специалисты с большим стажем',
    }, {
      title: 'Массажи',
      description: 'Профессиональные специалисты с большим стажем',
    }, {
      title: 'Терапия',
      description: 'Профессиональные специалисты с большим стажем',
    },
  ]

  treatmentServiceCard = [
    {
      title: 'Название продвигаемой услуги 1',
      description: 'Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе.',
      price: ' 1400 ₽',
      date: '15.07.2023',
      img: require('@/assets/img/index/treatment/nevrologiya.jpg'),
    }, {
      title: 'Название продвигаемой услуги 2',
      description: 'Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе.',
      price: ' 14620 ₽',
      date: '15.11.2041',
      img: require('@/assets/img/index/treatment/nevrologiya.jpg'),
    }, {
      title: 'Название продвигаемой услуги 3',
      description: 'Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе.',
      price: ' 2350 ₽',
      date: '15.07.2027',
      img: require('@/assets/img/index/treatment/nevrologiya.jpg'),
    }, {
      title: 'Название продвигаемой услуги 4',
      description: 'Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе.',
      price: ' 1200 ₽',
      date: '15.07.2123',
      img: require('@/assets/img/index/treatment/nevrologiya.jpg'),
    }, {
      title: 'Название продвигаемой услуги 5',
      description: 'Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе.',
      price: ' 2300 ₽',
      date: '07.07.2007',
      img: require('@/assets/img/index/treatment/nevrologiya.jpg'),
    },
  ]

  doctors = [
    {
      img: require('@/assets/img/index/doctors/natalia.png'),
      name: 'Наталья Леонидовна',
      lastName: 'Данилова',
      prof: 'невролог, врач УЗИ',
      experience: 'стаж: 29 лет'
    }, {
      img: require('@/assets/img/index/doctors/olga.png'),
      name: 'Ольга Владимировна',
      lastName: 'Пепеляева',
      prof: 'невролог, рефлексотерапевт',
      experience: 'стаж: 11 лет'
    }, {
      img: require('@/assets/img/index/doctors/elena.png'),
      name: 'Елена Валериевна',
      lastName: 'Володина',
      prof: 'невролог',
      experience: 'стаж: 29 лет'
    }, {
      img: require('@/assets/img/index/doctors/ivan.png'),
      name: 'Иван Анатольевич',
      lastName: 'Куимов',
      prof: 'кистевой хирург, мануальный терапевт, ортопед, травматолог',
      experience: 'стаж: 12 лет'
    }, {
      img: require('@/assets/img/index/doctors/ilya.png'),
      name: 'Илья Владимирович',
      lastName: 'Богучаркий',
      prof: 'невролог, врач УЗИ',
      experience: 'стаж: 29 лет'
    },
  ]

  docs = [
    require('@/assets/img/index/docs/doc.jpg'),
    require('@/assets/img/index/docs/doc.jpg'),
    require('@/assets/img/index/docs/doc.jpg'),
    require('@/assets/img/index/docs/doc.jpg'),
    require('@/assets/img/index/docs/doc.jpg'),
    require('@/assets/img/index/docs/doc.jpg'),
  ]

  mainPageSlides = [
    {
      title: 'Уникальное торговое предложение',
      text: 'Мы вынуждены отталкиваться от того, что экономическая повестка сегодняшнего дня прекрасно подходит для реализации самодостаточных.',
      img: require('@/assets/img/index/main-page/slide1.jpg'),
      // imgTablet: require('@/assets/img/index/main-page/slideTablet1.jpg'),
      // imgMobile: require('@/assets/img/index/main-page/slideMobile1.jpg'),
    }, {
      title: 'Уникальное торговое предложение2',
      text: 'Мы вынуждены отталкиваться от того, что экономическая повестка сегодняшнего дня прекрасно подходит для реализации самодостаточных.',
      img: require('@/assets/img/index/main-page/slide1.jpg'),
    },
  ]

  reviews = [
    {
      name: 'Иван К.',
      title: 'Реабилитация',
      text: 'Наблюдаемся у врача Елены Валериевны Володиной всей семьёй в течение уже многих лет. Хочу отметить высокий профессионализм, чуткое отношение к пациентам. Постоянно рекомендую этого доктора всем своим родственникам, знакомым и коллегам. И от них также слышу только отличные отзывы о докторе Володиной.',
      date: '2 июн 2023'
    }, {
      name: 'Людмила З.',
      title: 'Спортивная медицина',
      text: 'Ходила за заключением по сколиозу 3 степени при беременности. Было страшно, что сколиоз может спрогрессировать, но Иван Анатольевич успокоил по этому поводу, дал все рекомендации, чтобы беременность прошла наикомфортнейшим способом, врач меня тщательно осмотрел, просмотрел все заключения из истории болезни и МРТ.',
      date: '2 июн 2023',
    }, {
      name: 'Ольга Г.',
      title: 'Физиотерапия',
      text: 'Хочу выразить благодарность неврологу Даниловой Наталье Леонидовне за профессионализм и внимание к пациентам. Обратилась в клинику в мае 2019 с сильными болями в шейном отделе позвоночника. После назначенного лечения с болью я попрощалась! Приятно ощущать себя в руках настоящего профессионала своего дела! Спасибо вам за работу!',
      date: '2 июн 2023',
    },
  ]

  questions = [
    {
      title: 'Самый частозадаваемый вопрос №1',
      answer: 'Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе.'
    }, {
      title: 'Самый частозадаваемый вопрос №2',
      answer: 'Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе.'
    }, {
      title: 'Самый частозадаваемый вопрос №3',
      answer: 'Ответ'
    }, {
      title: 'Самый частозадаваемый вопрос №4',
      answer: 'Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе.'
    }, {
      title: 'Самый частозадаваемый вопрос №5',
      answer: 'Противоположная точка зрения подразумевает, что представители современных социальных резервов лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе.'
    }
  ]

  newsCards = [
    {
      img: require('@/assets/img/index/news/usi.jpg'),
      date: '12 июн 2023',
      name: 'акция',
      title: '-50% на консультацию, узи и диагностику',
    }, {
      img: require('@/assets/img/index/news/3d.jpg'),
      date: '10 июн 2023',
      name: 'новость',
      title: 'Все, что вам необходимо знать про 3D-печать',
    }, {
      img: require('@/assets/img/index/news/test.jpg'),
      date: '9 июн 2023',
      name: 'новость',
      title: 'Тест за 10 секунд на проверку локтей',
    },{
      img: require('@/assets/img/index/news/3d.jpg'),
      date: '10 июн 2023',
      name: 'новость',
      title: 'Все, что вам необходимо знать про 3D-печать и еще про много какой информации',
    },
  ]

  symptoms =[
    {
      text: 'Боли в руках',
      link: 'javascript:',
    }, {
      text: 'Ломит суставы',
      link: 'javascript:',
    }, {
      text: 'Боль под лопаткой',
      link: 'javascript:',
    }, {
      text: 'Боли в ногах',
      link: 'javascript:',
    }, {
      text: 'Опухла рука',
      link: 'javascript:',
    }, {
      text: 'Боли в руках',
      link: 'javascript:',
    }, {
      text: 'Боли в руках',
      link: 'javascript:',
    }, {
      text: 'Ломит суставы',
      link: 'javascript:',
    }, {
      text: 'Боль под лопаткой',
      link: 'javascript:',
    }, {
      text: 'Боли в ногах',
      link: 'javascript:',
    }, {
      text: 'Опухла рука',
      link: 'javascript:',
    }, {
      text: 'Боли в руках',
      link: 'javascript:',
    }, {
      text: 'Боли в руках',
      link: 'javascript:',
    }, {
      text: 'Ломит суставы',
      link: 'javascript:',
    }, {
      text: 'Боль под лопаткой',
      link: 'javascript:',
    }, {
      text: 'Боли в ногах',
      link: 'javascript:',
    }, {
      text: 'Опухла рука',
      link: 'javascript:',
    }, {
      text: 'Боли в руках',
      link: 'javascript:',
    }, {
      text: 'Боли в руках',
      link: 'javascript:',
    }, {
      text: 'Ломит суставы',
      link: 'javascript:',
    }, {
      text: 'Боль под лопаткой',
      link: 'javascript:',
    }, {
      text: 'Боли в ногах',
      link: 'javascript:',
    }, {
      text: 'Опухла рука',
      link: 'javascript:',
    }, {
      text: 'Боли в руках',
      link: 'javascript:',
    },
  ]

  contacts = [
    {
      img: require('@/assets/img/index/contacts/location.svg'),
      link: '',
      text: 'г. Пермь, ул. Николая Островского, д. 30',
      time: 'Пн.-Cб.: 9:00-21:00',
    }, {
      img: require('@/assets/img/index/contacts/phone.svg'),
      link: 'tel:+73422583747',
      text: '+7 (342) 258-37-47',
      time: '',
    }, {
      img: require('@/assets/img/index/contacts/email.svg'),
      link: 'mailto:info@almamed-perm.ru',
      text: 'info@almamed-perm.ru',
      time: '',
    },
  ]

  contactsPage = [
    {
      name: 'Адрес',
      link: '',
      text: 'г. Пермь, ул. Николая Островского, д. 30',
    }, {
      name: 'Телефон',
      link: 'tel:+73422583747',
      text: '+7 (342) 258-37-47',
    }, {
      name: 'Режим работы',
      link: '',
      text: 'Пн.-Пт.: 9:00-21:00',
    }, {
      name: 'Электронная почта',
      link: 'mailto:info@almamed-perm.ru',
      text: 'info@almamed-perm.ru',
    }
  ]

  vacancies = [
    {
      title: 'Врач-невролог первой категории',
      salary: 'от 30 000 руб.',
      txtTop: 'В связи с расширением услуг клиники открыта вакансия врача невролога. Знания по иглорефлексотерапии и мануальной терапии приветствуются.',
      txtMiddle: [
        'Требуемый опыт работы: от 2 лет.',
        'График работы: 5/2.',
        'Оформление трудового договора.',
      ],
      txtBottom: [
        'Обязанности :',
        'амбулаторный приём пациентов с неврологической патологией',
        'экспертиза нетрудоспособности',
        'назначение плана дообследование на основании принятых клинических рекомендаций и стандартов',
        'умение работать с информационными системами',
      ],
    }, {
      title: 'Врач-невролог первой категории',
      salary: 'от 30 000 руб.',
      txtTop: 'В связи с расширением услуг клиники открыта вакансия врача невролога. Знания по иглорефлексотерапии и мануальной терапии приветствуются.',
      txtMiddle: [
        'Требуемый опыт работы: от 2 лет.',
        'График работы: 5/2.',
        'Оформление трудового договора.',
      ],
      txtBottom: [
        'Обязанности :',
        'амбулаторный приём пациентов с неврологической патологией',
        'экспертиза нетрудоспособности',
        'назначение плана дообследование на основании принятых клинических рекомендаций и стандартов',
        'умение работать с информационными системами',
      ],
    }, {
      title: 'Медецинская сестра',
      salary: 'от 20 000 руб.',
      txtTop: 'В связи с расширением услуг клиники открыта вакансия врача невролога. Знания по иглорефлексотерапии и мануальной терапии приветствуются.',
      txtMiddle: [
        'Требуемый опыт работы: от 2 лет.',
        'График работы: 5/2.',
        'Оформление трудового договора.',
      ],
      txtBottom: [
        'Обязанности :',
        'амбулаторный приём пациентов с неврологической патологией',
        'экспертиза нетрудоспособности',
        'назначение плана дообследование на основании принятых клинических рекомендаций и стандартов',
        'умение работать с информационными системами',
      ],
    }, {
      title: 'Врач-терапевт первой категории',
      salary: 'от 30 000 руб.',
      txtTop: 'В связи с расширением услуг клиники открыта вакансия врача невролога. Знания по иглорефлексотерапии и мануальной терапии приветствуются.',
      txtMiddle: [
        'Требуемый опыт работы: от 2 лет.',
        'График работы: 5/2.',
        'Оформление трудового договора.',
      ],
      txtBottom: [
        'Обязанности :',
        'амбулаторный приём пациентов с неврологической патологией',
        'экспертиза нетрудоспособности',
        'назначение плана дообследование на основании принятых клинических рекомендаций и стандартов',
        'умение работать с информационными системами',
      ],
    }, {
      title: 'Кистевой хирург',
      salary: 'от 50 000 руб.',
      txtTop: 'В связи с расширением услуг клиники открыта вакансия врача невролога. Знания по иглорефлексотерапии и мануальной терапии приветствуются.',
      txtMiddle: [
        'Требуемый опыт работы: от 2 лет.',
        'График работы: 5/2.',
        'Оформление трудового договора.',
      ],
      txtBottom: [
        'Обязанности :',
        'амбулаторный приём пациентов с неврологической патологией',
        'экспертиза нетрудоспособности',
        'назначение плана дообследование на основании принятых клинических рекомендаций и стандартов',
        'умение работать с информационными системами',
      ],
    },
  ]

  reviewsMain = [
    {
      date: '2 июл 2023',
      name: 'Владислав З.',
      title: 'Спортивная медицина',
      img: require('@/assets/img/index/reviews/2gis.svg'),
      text: 'Современные технологии достигли такого уровня, что экономическая повестка сегодняшнего дня не оставляет шанса для приоретизации разума над эмоциями. Не следует, однако, забывать, что курс на социально-ориентированный национальный проект, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты.',
    }, {
      date: '30 июн 2023',
      name: 'Иван К.',
      title: 'Реабилитация',
      img: require('@/assets/img/index/reviews/prodoctorov.svg'),
      text: 'Задача организации, в особенности же понимание сути ресурсосберегающих технологий однозначно определяет каждого участника как способного принимать собственные решения касаемо стандартных подходов.',
    }, {
      date: '14 мая 2023',
      name: 'Анна С.',
      title: 'Физиотерапия',
      img: require('@/assets/img/index/reviews/Ymaps.svg'),
      text: 'Как уже неоднократно упомянуто, акционеры крупнейших компаний лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Каждый из нас понимает очевидную вещь: курс на социально-ориентированный национальный проект не даёт нам иного выбора, кроме определения прогресса профессионального сообщества. В своём стремлении повысить качество жизни, они забывают, что разбавленное изрядной долей эмпатии, рациональное мышление создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса поставленных обществом задач. С другой стороны, высокотехнологичная концепция общественного уклада однозначно фиксирует необходимость глубокомысленных рассуждений. Таким образом, высококачественный прототип будущего проекта является качественно новой ступенью кластеризации усилий.',
    }, {
      date: '14 мая 2023',
      name: 'Анна С.',
      title: 'Физиотерапия',
      img: require('@/assets/img/index/reviews/2gis.svg'),
      text: 'Как уже неоднократно упомянуто, акционеры крупнейших компаний лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Каждый из нас понимает очевидную вещь: курс на социально-ориентированный национальный проект не даёт нам ',
    }, {
      date: '29 апр 2023',
      name: 'Анастасия С.',
      title: 'Реабилитация',
      img: require('@/assets/img/index/reviews/prodoctorov.svg'),
      text: 'Задача организации, в особенности же понимание сути ресурсосберегающих технологий однозначно определяет каждого участника как способного принимать собственные решения касаемо стандартных подходов.',
    }, {
      date: '2 июл 2023',
      name: 'Владислав З.',
      title: 'Спортивная медицина',
      img: require('@/assets/img/index/reviews/Ymaps.svg'),
      text: 'Современные технологии достигли такого уровня, что экономическая повестка сегодняшнего дня не оставляет шанса для приоретизации разума над эмоциями. Не следует, однако, забывать, что курс на социально-ориентированный национальный проект, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты.',
    }, {
      date: '14 мая 2023',
      name: 'Анна С.',
      title: 'Физиотерапия',
      img: require('@/assets/img/index/reviews/2gis.svg'),
      text: 'Как уже неоднократно упомянуто, акционеры крупнейших компаний лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Каждый из нас понимает очевидную вещь: курс на социально-ориентированный национальный проект не даёт нам иного выбора, кроме определения прогресса профессионального ',
    }, {
      date: '14 мая 2023',
      name: 'Анна С.',
      title: 'Физиотерапия',
      img: require('@/assets/img/index/reviews/Ymaps.svg'),
      text: 'Как уже неоднократно упомянуто, акционеры крупнейших компаний лишь добавляют фракционных разногласий и в равной степени предоставлены сами себе. Каждый из нас понимает очевидную вещь: курс на социально-ориентированный национальный проект не даёт нам иного выбора, кроме определения прогресса профессионального ',
    }, {
      date: '12 июл 2023',
      name: 'Владислав З.',
      title: 'Спортивная медицина',
      img: require('@/assets/img/index/reviews/prodoctorov.svg'),
      text: 'Современные технологии достигли такого уровня, что экономическая повестка сегодняшнего дня не оставляет шанса для приоретизации разума над эмоциями. Не следует, однако, забывать, что курс на социально-ориентированный национальный проект, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты.',
    }, {
      date: '30 июн 2023',
      name: 'Иван К.',
      title: 'Реабилитация',
      img: require('@/assets/img/index/reviews/prodoctorov.svg'),
      text: 'Задача организации, в особенности же понимание сути ресурсосберегающих технологий однозначно определяет каждого участника как способного принимать собственные решения касаемо стандартных подходов.',
    },
  ]



