-
  //- header
  headerTopMenu = [
    {txt: 'О клинике', url: 'javascript:'},
    {txt: 'Специалисты', url: 'javascript:'},
    {txt: 'Прайс', url: 'javascript:'},
    {txt: 'Отзывы', url: 'javascript:'},
    {txt: 'Новости и акции', url: 'javascript:'},
    {txt: 'Вакансии', url: 'javascript:'},
    {txt: 'Контакты ', url: 'javascript:'},
  ]

  headerBottomMenu = [
    [
      {
        txt: 'Направления',
        options: {
          leftMenu: [
            {txt: 'Физиотерапия', id: '0'},
            {txt: 'Регенераторная терапия', id: '1'},
            {txt: 'Введение препаратов', id: '2'},
            {txt: 'Массаж', id: '3'},
            {txt: 'ИРТ', id: '4'}
          ],
          links: [
            [
              {txt: 'Шейно-воротниковой зоны', url: 'javascript:'},
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Пояснично-крестцового отдела', url: 'javascript:'},
              {txt: 'Спины', url: 'javascript:'},
              {txt: 'Сустава', url: 'javascript:'},
            ],
            [
              {txt: 'Верхней конености', url: 'javascript:'},
              {txt: 'Стопы', url: 'javascript:'},
              {txt: 'Общий массаж', url: 'javascript:'},
              {txt: 'Точечный массаж', url: 'javascript:'},
              {txt: 'Кинезиотейпирование', url: 'javascript:'},
            ]
          ]
        }
      },
      {
        txt: 'Заболевания',
        options: {
          links: [
            [
              {txt: 'Боль в плече', url: 'javascript:'},
              {txt: 'Боль в ноге', url: 'javascript:'},
              {txt: 'Боль в шее', url: 'javascript:'},
              {txt: 'Гемотома', url: 'javascript:'},
              {txt: 'Боль в руке', url: 'javascript:'},
            ],
            [
              {txt: 'Боль в кисти', url: 'javascript:'},
              {txt: 'Боль в лодышке', url: 'javascript:'},
              {txt: 'Головная боль', url: 'javascript:'},
              {txt: 'Мигрень', url: 'javascript:'},
              {txt: 'Шум в ушах', url: 'javascript:'},
            ],
            [
              {txt: 'Нарушение сенсорного восприятия', url: 'javascript:'},
              {txt: 'Снижение чувствительности', url: 'javascript:'},
              {txt: 'Головокружение', url: 'javascript:'},
              {txt: 'Обмороки', url: 'javascript:'},
              {txt: 'Расстройство сна', url: 'javascript:'},
            ],
            [
              {txt: 'Нарушение памяти', url: 'javascript:'},
              {txt: 'Шум координации движения', url: 'javascript:'},
              {txt: 'Нервозность', url: 'javascript:'},
              {txt: 'Раздражительность', url: 'javascript:'},
              {txt: 'Повышенная тревожность', url: 'javascript:'},
            ]
          ]
        }
      },
      {
        txt: 'Методики',
        options: {
          links: [
            [
              {txt: 'Комлексное лечение боли в передней части коленного сустава', url: 'javascript:'},
              {txt: 'Комлексное лечение синдрома илиотибиального тракта', url: 'javascript:'},
              {txt: 'Комлексное лечение болей в стопе', url: 'javascript:'},
              {txt: 'Комлексное лечение эпикрндилита', url: 'javascript:'},
              {txt: 'Мануальная терапия плече - лопаточного комплекса', url: 'javascript:'},
            ],
            [
              {txt: 'Дюпюитрена — однократная лечебно - медикаментозная блокада', url: 'javascript:'},
              {txt: 'Комлексное лечение эпикондилита', url: 'javascript:'},
              {txt: 'Введение триамцинолона в узлы ладонного апоневроза', url: 'javascript:'},
              {txt: 'Комплексное консервативное лечение контрактуры Дюрюитрена Ост', url: 'javascript:'},
              {txt: 'Комплексное консервативное лечение синдрома Де Кервена', url: 'javascript:'},
            ],
            [
              {txt: 'Комлексное лечение эпикондилита', url: 'javascript:'},
              {txt: 'Комплексное консервативное лечение «щелкающего» пальца', url: 'javascript:'},
              {txt: 'Комлексное лечение артроза 1 пальца(ризартроза)', url: 'javascript:'},
              {txt: 'Комплексное консервативное лечение синдрома карпального канала', url: 'javascript:'},
              {txt: 'Комплексное консервативное лечение повреждения разгибателя ногтевой фаланги', url: 'javascript:'},
            ]
          ]
        }
      },
    ],
    [
      {
        txt: 'Консультации',
        options: {
          links: [
            [
              {txt: 'Прием невролога', url: 'javascript:'},
              {txt: 'Прием врача иглорефлексотерапевта', url: 'javascript:'},
              {txt: 'Прием врача мануального терапевта', url: 'javascript:'},
              {txt: 'Прием травматолога - ортопеда', url: 'javascript:'},
              {txt: 'Прием травматолога', url: 'javascript:'},
            ],
            [
              {txt: 'Прием кистевого хирурга', url: 'javascript:'},
              {txt: 'Прием специалиста по реабилитации кисти', url: 'javascript:'},
            ]
          ]
        }
      },
      {
        txt: 'Диагностика',
        options: {
          links: [
            [
              {txt: 'Пункция сустава лечебно-диагностическая', url: 'javascript:'},
              {txt: 'УЗИ суставов', url: 'javascript:'},
              {txt: 'УЗИ локтевого сустава', url: 'javascript:'},
              {txt: 'УЗИ лучезапястного сустава', url: 'javascript:'},
              {txt: 'УЗИ стопы', url: 'javascript:'}
            ],
            [
              {txt: 'УЗИ суставов кисти', url: 'javascript:'},
              {txt: 'УЗИ верхних конечностей', url: 'javascript:'},
              {txt: 'УЗИ голеностопного сустава', url: 'javascript:'},
            ]
          ]
        }
      },
      {
        txt: 'Реабилитация',
        options: {
          links: [
            [
              {txt: 'Реабилитация после травм и операций сухожилий сгибателей', url: 'javascript:'},
              {txt: 'Реабилитация после операции по поводу контрактуры Дюпюитрена', url: 'javascript:'},
              {txt: 'Реабилитация после травм и операций сухожилий сгибателей', url: 'javascript:'},
            ]
          ]
        }
      },
      {
        txt: 'Спортивная медицина',
        options: {
          leftMenu: [
            {txt: 'ЛФК', id: '0'},
            {txt: 'Индивидуальное ортезирование', id: '1'},
          ],
          links: [
            [
              {txt: 'Ортез неопреновый для ревматоидной кисти', url: 'javascript:'},
              {txt: 'Ортез динамический большой', url: 'javascript:'},
              {txt: 'Ортез маленький', url: 'javascript:'},
              {txt: 'Ортез средний', url: 'javascript:'},
              {txt: 'Ортез  большой', url: 'javascript:'}
            ],
            [
              {txt: 'Пальцевая тяга', url: 'javascript:'},
              {txt: 'Занятия на канадском столе', url: 'javascript:'},
              {txt: 'Коррекция стелек', url: 'javascript:'},
              {txt: 'Изготовление индивидуальных ортезов стопы Formthotics', url: 'javascript:'}
            ]
          ]
        }
      },
    ]
  ]

  //- footer
  footerMenu = [
    [
      {txt: 'О клинике', url: 'javascript:'},
      {txt: 'Специалисты', url: 'javascript:'},
      {txt: 'Прайс', url: 'javascript:'},
      {txt: 'Отзывы', url: 'javascript:'},
    ],
    [
      {txt: 'Новости и акции', url: 'javascript:'},
      {txt: 'Вакансии', url: 'javascript:'},
      {txt: 'Контакты', url: 'javascript:'},
    ]
  ]

  mainPageCards = [
    {
      img: require('@/assets/img/index/main-page/years.svg'),
      title: 'Более 10 лет работы',
      text: 'Высокое качество исследований обеспечивает участие в формировании прогресса',
    }, {
      img: require('@/assets/img/index/main-page/doctor.svg'),
      title: 'Лучший штат врачей',
      text: 'Высокое качество исследований обеспечивает участие в формировании прогресса',
    }, {
      img: require('@/assets/img/index/main-page/methods.svg'),
      title: 'Современные методики',
      text: 'Высокое качество исследований обеспечивает участие в формировании прогресса',
    }, {
      img: require('@/assets/img/index/main-page/prices.svg'),
      title: 'Самые низкие цены',
      text: 'Высокое качество исследований обеспечивает участие в формировании прогресса',
    }
  ]

  aboutSlides = [
    require('@/assets/img/index/about/slide1.jpg'),
    require('@/assets/img/index/about/slide1.jpg'),
  ]
