-
  //- header
  headerTopMenu = [
    {txt: 'О клинике', url: 'javascript:'},
    {txt: 'Специалисты', url: 'javascript:'},
    {txt: 'Прайс', url: 'javascript:'},
    {txt: 'Отзывы', url: 'javascript:'},
    {txt: 'Новости и акции', url: 'javascript:'},
    {txt: 'Вакансии', url: 'javascript:'},
    {txt: 'Контакты ', url: 'javascript:'},
  ]

  headerBottomMenu = [
    [
      {
        txt: 'Направления',
        options: {
          leftMenu: [
            {txt: 'Физиотерапия', id: '0'},
            {txt: 'Регенераторная терапия', id: '1'},
            {txt: 'Введение препаратов', id: '2'},
            {txt: 'Массаж', id: '3'},
            {txt: 'ИРТ', id: '4'}
          ],
          links: [
            [
              {txt: 'Шейно-воротниковой зоны', url: 'javascript:'},
              {txt: 'Шейно-грудного отдела', url: 'javascript:'},
              {txt: 'Пояснично-крестцового отдела', url: 'javascript:'},
              {txt: 'Спины', url: 'javascript:'},
              {txt: 'Сустава', url: 'javascript:'},
            ],
            [
              {txt: 'Верхней конености', url: 'javascript:'},
              {txt: 'Стопы', url: 'javascript:'},
              {txt: 'Общий массаж', url: 'javascript:'},
              {txt: 'Точечный массаж', url: 'javascript:'},
              {txt: 'Кинезиотейпирование', url: 'javascript:'},
            ]
          ]
        }
      },
      {
        txt: 'Заболевания',
        options: {
          links: [
            [
              {txt: 'Боль в плече', url: 'javascript:'},
              {txt: 'Боль в ноге', url: 'javascript:'},
              {txt: 'Боль в шее', url: 'javascript:'},
              {txt: 'Гемотома', url: 'javascript:'},
              {txt: 'Боль в руке', url: 'javascript:'},
            ],
            [
              {txt: 'Боль в кисти', url: 'javascript:'},
              {txt: 'Боль в лодышке', url: 'javascript:'},
              {txt: 'Головная боль', url: 'javascript:'},
              {txt: 'Мигрень', url: 'javascript:'},
              {txt: 'Шум в ушах', url: 'javascript:'},
            ],
            [
              {txt: 'Нарушение сенсорного восприятия', url: 'javascript:'},
              {txt: 'Снижение чувствительности', url: 'javascript:'},
              {txt: 'Головокружение', url: 'javascript:'},
              {txt: 'Обмороки', url: 'javascript:'},
              {txt: 'Расстройство сна', url: 'javascript:'},
            ],
            [
              {txt: 'Нарушение памяти', url: 'javascript:'},
              {txt: 'Шум координации движения', url: 'javascript:'},
              {txt: 'Нервозность', url: 'javascript:'},
              {txt: 'Раздражительность', url: 'javascript:'},
              {txt: 'Повышенная тревожность', url: 'javascript:'},
            ]
          ]
        }
      },
      {
        txt: 'Методики',
        options: {
          links: [
            [
              {txt: 'Комлексное лечение боли в передней части коленного сустава', url: 'javascript:'},
              {txt: 'Комлексное лечение синдрома илиотибиального тракта', url: 'javascript:'},
              {txt: 'Комлексное лечение болей в стопе', url: 'javascript:'},
              {txt: 'Комлексное лечение эпикрндилита', url: 'javascript:'},
              {txt: 'Мануальная терапия плече - лопаточного комплекса', url: 'javascript:'},
            ],
            [
              {txt: 'Дюпюитрена — однократная лечебно - медикаментозная блокада', url: 'javascript:'},
              {txt: 'Комлексное лечение эпикондилита', url: 'javascript:'},
              {txt: 'Введение триамцинолона в узлы ладонного апоневроза', url: 'javascript:'},
              {txt: 'Комплексное консервативное лечение контрактуры Дюрюитрена Ост', url: 'javascript:'},
              {txt: 'Комплексное консервативное лечение синдрома Де Кервена', url: 'javascript:'},
            ],
            [
              {txt: 'Комлексное лечение эпикондилита', url: 'javascript:'},
              {txt: 'Комплексное консервативное лечение «щелкающего» пальца', url: 'javascript:'},
              {txt: 'Комлексное лечение артроза 1 пальца(ризартроза)', url: 'javascript:'},
              {txt: 'Комплексное консервативное лечение синдрома карпального канала', url: 'javascript:'},
              {txt: 'Комплексное консервативное лечение повреждения разгибателя ногтевой фаланги', url: 'javascript:'},
            ]
          ]
        }
      },
    ],
    [
      {
        txt: 'Консультации',
        options: {
          links: [
            [
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
            ],
            [
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
            ]
          ]
        }
      },
      {
        txt: 'Диагностика',
        options: {
          leftMenu: [
            {txt: '', id: '0'},
            {txt: '', id: '1'},
            {txt: '', id: '2'},
            {txt: '', id: '3'},
            {txt: '', id: '4'}
          ],
          links: [
            [
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'}
            ],
            [
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'},
              {txt: '', url: 'javascript:'}
            ]
          ]
        }
      },
    ]
  ]
