-
  //- global
  orderFormTitle = ''
  orderFormTxt = ''
  orderFormModifier = ''
  breadCrumbsList = null
  productPage = false

  // header
  headerMenu = [
    {
      txt: 'О компании',
      url: '#'
    },
    {
      txt: 'Модельный ряд',
      url: 'lineup.html'
    },
    {
      txt: 'Технологии',
      url: '#'
    },
    {
      txt: 'Сервисная сеть',
      url: '#'
    },
    {
      txt: 'Финансовые услуги',
      url: 'finances.html'
    },
    {
      txt: 'Дилерская сеть',
      url: '#'
    },
    {
      txt: 'Новости и акции',
      url: '#'
    },
    {
      txt: 'Медиа',
      url: '#'
    },
    {
      txt: 'Контакты',
      url: '#'
    }
  ]

  //- footer
  footerMenu = {
    first: [
      {txt: 'Главная', url: '#'},
      {txt: 'О компании', url: '#'},
      {txt: 'Модельный ряд', url: '#'},
      {txt: 'Технологии', url: '#'},
      {txt: 'Сервис', url: '#'},
    ],
    second: [
      {txt: 'Финансовые услуги', url: '#'},
      {txt: 'Дилерская сеть', url: '#'},
      {txt: 'Новости и акции', url: '#'},
      {txt: 'Медиа', url: '#'},
      {txt: 'Контакты', url: '#'},
    ],
  }

  //- main

  //- slider
  mainSlides = [
    {
      slide: require('@/assets/img/main-page/1.jpg'),
      slideTitle: 'Сотранс <span></span> эксклюзивный дистрибьютор',
      slideTxt: 'Golden Dragon <br> в Российской Федерации',
      slideUrl: 'about.html',
      main: true
    },
    {
      slide: require('@/assets/img/main-page/1.jpg'),
      slideTitle: 'Сотранс <span></span> эксклюзивный дистрибьютор',
      slideTxt: 'Golden Dragon <br> в Российской Федерации',
      slideUrl: 'about.html',
      main: true
    },
    {
      slide: require('@/assets/img/main-page/1.jpg'),
      slideTitle: 'Сотранс <span></span> эксклюзивный дистрибьютор',
      slideTxt: 'Golden Dragon <br> в Российской Федерации',
      slideUrl: 'about.html',
      main: true
    },
  ]

  //- lineup
  lineupSlides = [
    {
      slideImage: require('@/assets/img/main-page/lineup-slides/1.png'),
      slideNums: '<span>01/</span><span>04</span>',
      slideTitle: 'Городские автобусы',
      slideSeats: '45-50',
      slideWidth: '5-10 м',
      slidePower: '200-400 л.с',
      slideUrl: 'javascript:'
    },
    {
      slideImage: require('@/assets/img/main-page/lineup-slides/1.png'),
      slideNums: '<span>02/</span><span>04</span>',
      slideTitle: 'Городские автобусы',
      slideSeats: '45-50',
      slideWidth: '5-10 м',
      slidePower: '200-400 л.с',
      slideUrl: 'javascript:'
    },
    {
      slideImage: require('@/assets/img/main-page/lineup-slides/1.png'),
      slideNums: '<span>03/</span><span>04</span>',
      slideTitle: 'Городские автобусы',
      slideSeats: '45-50',
      slideWidth: '5-10 м',
      slidePower: '200-400 л.с',
      slideUrl: 'javascript:'
    },
    {
      slideImage: require('@/assets/img/main-page/lineup-slides/1.png'),
      slideNums: '<span>04/</span><span>04</span>',
      slideTitle: 'Городские автобусы',
      slideSeats: '45-50',
      slideWidth: '5-10 м',
      slidePower: '200-400 л.с',
      slideUrl: 'javascript:'
    },
  ]

  //- nums
  mainNums = [
    {num: '<span class="anim-num">1992</span>', txt: 'год <br> основания'},
    {num: '<span class="anim-num">3</span>', txt: 'количество <br> заводов'},
    {num: '<span class="anim-num">960</span> <span>тыс. м<sup>2</sup></span>', txt: 'общая площадь <br> заводов'},
    {num: '<span class="anim-num">4</span> 000', txt: 'человек <br> персонала'},
    {num: '<span class="anim-num">40</span> 000', txt: 'автобусов <br> в год'}
  ]

  //- news
  mainNews = [
    {
      date: '13 фев 2023',
      title: 'Заголовок новости в 1 строчку',
      url: 'javascript:',
      image: require('@/assets/img/main-page/news/1.jpg')
    },
    {
      date: '13 фев 2023',
      title: 'Большой заголовок новости в 2 строчки',
      url: 'javascript:',
      image: require('@/assets/img/main-page/news/2.jpg')
    },
    {
      date: '13 фев 2023',
      title: 'Возможный длинный заголовок новости длинной в 3 строчки',
      url: 'javascript:',
      image: require('@/assets/img/main-page/news/3.jpg')
    },
    {
      date: '13 фев 2023',
      title: 'Большой заголовок новости в 2 строчки',
      url: 'javascript:',
      image: require('@/assets/img/main-page/news/4.jpg')
    }
  ]

  //- lineup
  lineupCards = [
    {
      image: require('@/assets/img/lineup/1.jpg'),
      title: 'Triumph XML6126.JR',
      type: 'Городской',
      fuel: 'diesel',
      fuelName: 'дизель',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      title: 'Triumph XML6126.JR.ML6126.JR',
      type: 'Туристический',
      fuel: 'electricity',
      fuelName: 'электричество',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/2.jpg'),
      title: 'Triumph XML6126.JR.6126.J.6126.J',
      type: 'Междугородний',
      fuel: 'gas',
      fuelName: 'газ',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      title: 'Triumph XML6126.JR.ML6126.JR',
      type: 'Элекстрический транспорт',
      fuel: 'electricity',
      fuelName: 'электричество',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/1.jpg'),
      title: 'Triumph XML6126.JR.6126.J.6126.J',
      type: 'Междугородний',
      fuel: 'gas',
      fuelName: 'газ',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/2.jpg'),
      title: 'Triumph XML6126.JR',
      type: 'Городской',
      fuel: 'diesel',
      fuelName: 'дизель',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/1.jpg'),
      title: 'Triumph XML6126.JR.ML6126.JR',
      type: 'Туристический',
      fuel: 'electricity',
      fuelName: 'электричество',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/1.jpg'),
      title: 'Triumph XML6126.JR.6126.J.6126.J',
      type: 'Междугородний',
      fuel: 'gas',
      fuelName: 'газ',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      title: 'Triumph XML6126.JR.ML6126.JR',
      type: 'Элекстрический транспорт',
      fuel: 'electricity',
      fuelName: 'электричество',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/2.jpg'),
      title: 'Triumph XML6126.JR.6126.J.6126.J',
      type: 'Междугородний',
      fuel: 'gas',
      fuelName: 'газ',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
  ]

  //- product
  productSlider = [
    require('@/assets/img/product/1.jpg'),
    require('@/assets/img/product/2.jpg'),
    require('@/assets/img/product/3.jpg'),
    require('@/assets/img/product/4.jpg'),
    require('@/assets/img/product/5.jpg'),
    require('@/assets/img/product/6.jpg'),
    require('@/assets/img/product/7.jpg'),
    require('@/assets/img/product/8.jpg'),
    require('@/assets/img/product/9.jpg'),
    require('@/assets/img/product/11.jpg'),
    require('@/assets/img/product/12.jpg'),
    require('@/assets/img/product/13.jpg'),
    require('@/assets/img/product/14.jpg'),
    require('@/assets/img/product/15.jpg'),
    require('@/assets/img/product/16.jpg'),
    require('@/assets/img/product/17.jpg'),
    require('@/assets/img/product/18.jpg'),
    require('@/assets/img/product/19.jpg'),
    require('@/assets/img/product/20.jpg'),
    require('@/assets/img/product/21.jpg'),
    require('@/assets/img/product/22.jpg'),
    require('@/assets/img/product/23.jpg'),
    require('@/assets/img/product/24.jpg'),
    require('@/assets/img/product/25.jpg'),
    require('@/assets/img/product/26.jpg'),
    require('@/assets/img/product/27.jpg')
  ]
