-
  // header
  headerMenu = [
    {
      txt: 'О компании',
      url: '#'
    },
    {
      txt: 'Модельный ряд',
      drop: [
        {txt: '', url: ''},
        {txt: '', url: ''},
        {txt: '', url: ''},
        {txt: '', url: ''},
      ]
    },
    {
      txt: 'Технологии',
      url: '#'
    },
    {
      txt: 'Сервис',
      drop: [
        {txt: '', url: ''},
        {txt: '', url: ''},
        {txt: '', url: ''},
        {txt: '', url: ''},
      ]
    },
    {
      txt: 'Финансовые услуги',
      drop: [
        {txt: '', url: ''},
        {txt: '', url: ''},
        {txt: '', url: ''},
        {txt: '', url: ''},
      ]
    },
    {
      txt: 'Дилерская сеть',
      url: '#'
    },
    {
      txt: 'Новости и акции',
      url: '#'
    },
    {
      txt: 'Медиа',
      url: '#'
    },
    {
      txt: 'Контакты',
      url: '#'
    }
  ]

  //- footer
  footerMenu = {
    first: [
      {txt: 'Главная', url: '#'},
      {txt: 'О компании', url: '#'},
      {txt: 'Модельный ряд', url: '#'},
      {txt: 'Технологии', url: '#'},
      {txt: 'Сервис', url: '#'},
    ],
    second: [
      {txt: 'Финансовые услуги', url: '#'},
      {txt: 'Дилерская сеть', url: '#'},
      {txt: 'Новости и акции', url: '#'},
      {txt: 'Медиа', url: '#'},
      {txt: 'Контакты', url: '#'},
    ],
  }

  //- main slider
  mainSlides = [
    require('@/assets/img/main-page/1.jpg'),
    require('@/assets/img/main-page/1.jpg'),
    require('@/assets/img/main-page/1.jpg'),
  ]
