-
  //- global
  orderFormTitle = ''
  orderFormTxt = ''
  orderFormModifier = ''
  breadCrumbsList = null
  productPage = false
  mainModifier = ''
  mediaPage = false

  // header
  headerMenu = [
    {
      txt: 'О компании',
      url: 'about.html'
    },
    {
      txt: 'Модельный ряд',
      url: 'lineup.html'
    },
    {
      txt: 'Технологии',
      url: 'technology.html'
    },
    {
      txt: 'Сервисная сеть',
      url: 'service.html'
    },
    {
      txt: 'Финансовые услуги',
      url: 'financial.html'
    },
    {
      txt: 'Дилерская сеть',
      url: 'dealers.html'
    },
    {
      txt: 'Новости и акции',
      url: 'news.html'
    },
    {
      txt: 'Медиа',
      url: 'media.html'
    },
    {
      txt: 'Контакты',
      url: 'contacts.html'
    }
  ]

  //- footer
  footerMenu = {
    first: [
      {txt: 'Главная', url: '#'},
      {txt: 'О компании', url: '#'},
      {txt: 'Модельный ряд', url: '#'},
      {txt: 'Технологии', url: '#'},
      {txt: 'Сервис', url: '#'},
    ],
    second: [
      {txt: 'Финансовые услуги', url: '#'},
      {txt: 'Дилерская сеть', url: '#'},
      {txt: 'Новости и акции', url: '#'},
      {txt: 'Медиа', url: '#'},
      {txt: 'Контакты', url: '#'},
    ],
  }

  //- main slider
  mainSlides = [
    {
      slide: require('@/assets/img/main-page/1.jpg'),
      slideTitle: 'Сотранс <span></span> эксклюзивный дистрибьютор',
      slideTxt: 'Golden Dragon <br> в Российской Федерации',
      slideUrl: 'about.html',
      main: true
    },
    {
      slide: require('@/assets/img/main-page/1.jpg'),
      slideTitle: 'Сотранс <span></span> эксклюзивный дистрибьютор',
      slideTxt: 'Golden Dragon <br> в Российской Федерации',
      slideUrl: 'about.html',
      main: true
    },
    {
      slide: require('@/assets/img/main-page/1.jpg'),
      slideTitle: 'Сотранс <span></span> эксклюзивный дистрибьютор',
      slideTxt: 'Golden Dragon <br> в Российской Федерации',
      slideUrl: 'about.html',
      main: true
    },
  ]

  //- lineup
  lineupSlides = [
    {
      slideImage: require('@/assets/img/main-page/lineup-slides/1.png'),
      slideNums: '<span>01/</span><span>04</span>',
      slideTitle: 'Городские автобусы',
      slideSeats: '45-50',
      slideWidth: '5-10 м',
      slidePower: '200-400 л.с',
      slideUrl: 'javascript:'
    },
    {
      slideImage: require('@/assets/img/main-page/lineup-slides/1.png'),
      slideNums: '<span>02/</span><span>04</span>',
      slideTitle: 'Городские автобусы',
      slideSeats: '45-50',
      slideWidth: '5-10 м',
      slidePower: '200-400 л.с',
      slideUrl: 'javascript:'
    },
    {
      slideImage: require('@/assets/img/main-page/lineup-slides/1.png'),
      slideNums: '<span>03/</span><span>04</span>',
      slideTitle: 'Городские автобусы',
      slideSeats: '45-50',
      slideWidth: '5-10 м',
      slidePower: '200-400 л.с',
      slideUrl: 'javascript:'
    },
    {
      slideImage: require('@/assets/img/main-page/lineup-slides/1.png'),
      slideNums: '<span>04/</span><span>04</span>',
      slideTitle: 'Городские автобусы',
      slideSeats: '45-50',
      slideWidth: '5-10 м',
      slidePower: '200-400 л.с',
      slideUrl: 'javascript:'
    },
  ]

  //- nums
  mainNums = [
    {num: '<span class="anim-num">1992</span>', txt: 'год <br> основания'},
    {num: '<span class="anim-num">3</span>', txt: 'количество <br> заводов'},
    {num: '<span class="anim-num">960</span> <span>тыс. м<sup>2</sup></span>', txt: 'общая площадь <br> заводов'},
    {num: '<span class="anim-num">4</span> 000', txt: 'человек <br> персонала'},
    {num: '<span class="anim-num">40</span> 000', txt: 'автобусов <br> в год'}
  ]

  //- news
  mainNews = [
    {
      date: '13 фев 2023',
      title: 'Заголовок новости в 1 строчку',
      url: 'javascript:',
      image: require('@/assets/img/main-page/news/1.jpg')
    },
    {
      date: '13 фев 2023',
      title: 'Большой заголовок новости в 2 строчки',
      url: 'javascript:',
      image: require('@/assets/img/main-page/news/2.jpg')
    },
    {
      date: '13 фев 2023',
      title: 'Возможный длинный заголовок новости длинной в 3 строчки',
      url: 'javascript:',
      image: require('@/assets/img/main-page/news/3.jpg')
    },
    {
      date: '13 фев 2023',
      title: 'Большой заголовок новости в 2 строчки',
      url: 'javascript:',
      image: require('@/assets/img/main-page/news/4.jpg')
    }
  ]

  //- lineup cards
  lineupCards = [
    {
      image: require('@/assets/img/lineup/1.jpg'),
      title: 'Triumph XML6126.JR',
      type: 'Городской',
      fuel: 'diesel',
      fuelName: 'дизель',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      title: 'Triumph XML6126.JR.ML6126.JR',
      type: 'Туристический',
      fuel: 'electricity',
      fuelName: 'электричество',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/2.jpg'),
      title: 'Triumph XML6126.JR.6126.J.6126.J',
      type: 'Междугородний',
      fuel: 'gas',
      fuelName: 'газ',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      title: 'Triumph XML6126.JR.ML6126.JR',
      type: 'Элекстрический транспорт',
      fuel: 'electricity',
      fuelName: 'электричество',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/1.jpg'),
      title: 'Triumph XML6126.JR.6126.J.6126.J',
      type: 'Междугородний',
      fuel: 'gas',
      fuelName: 'газ',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/2.jpg'),
      title: 'Triumph XML6126.JR',
      type: 'Городской',
      fuel: 'diesel',
      fuelName: 'дизель',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/1.jpg'),
      title: 'Triumph XML6126.JR.ML6126.JR',
      type: 'Туристический',
      fuel: 'electricity',
      fuelName: 'электричество',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/1.jpg'),
      title: 'Triumph XML6126.JR.6126.J.6126.J',
      type: 'Междугородний',
      fuel: 'gas',
      fuelName: 'газ',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      title: 'Triumph XML6126.JR.ML6126.JR',
      type: 'Элекстрический транспорт',
      fuel: 'electricity',
      fuelName: 'электричество',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
    {
      image: require('@/assets/img/lineup/2.jpg'),
      title: 'Triumph XML6126.JR.6126.J.6126.J',
      type: 'Междугородний',
      fuel: 'gas',
      fuelName: 'газ',
      options: [
        {name: 'Габариты', value: '12 000 х 2 550 х 3 790 мм'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A (340 л/с)'},
        {name: 'Багажное отделение', value: '10 м3'}
      ]
    },
  ]

  //- product
  productSlider = [
    require('@/assets/img/product/slides/1.jpg'),
    require('@/assets/img/product/slides/2.jpg'),
    require('@/assets/img/product/slides/3.jpg'),
    require('@/assets/img/product/slides/4.jpg'),
    require('@/assets/img/product/slides/5.jpg'),
    require('@/assets/img/product/slides/6.jpg'),
    require('@/assets/img/product/slides/7.jpg'),
    require('@/assets/img/product/slides/8.jpg'),
    require('@/assets/img/product/slides/9.jpg'),
    require('@/assets/img/product/slides/10.jpg'),
    require('@/assets/img/product/slides/11.jpg'),
    require('@/assets/img/product/slides/12.jpg'),
    require('@/assets/img/product/slides/13.jpg'),
    require('@/assets/img/product/slides/14.jpg'),
    require('@/assets/img/product/slides/15.jpg'),
    require('@/assets/img/product/slides/16.jpg'),
    require('@/assets/img/product/slides/17.jpg'),
    require('@/assets/img/product/slides/18.jpg'),
    require('@/assets/img/product/slides/19.jpg'),
    require('@/assets/img/product/slides/20.jpg'),
    require('@/assets/img/product/slides/21.jpg'),
    require('@/assets/img/product/slides/22.jpg'),
    require('@/assets/img/product/slides/23.jpg'),
    require('@/assets/img/product/slides/24.jpg'),
    require('@/assets/img/product/slides/25.jpg'),
    require('@/assets/img/product/slides/26.jpg'),
    require('@/assets/img/product/slides/27.jpg')
  ]

  productOptions = [
    {
      title: 'Основные характеристики',
      items: [
        {name: 'Серия', value: 'Triumph'},
        {name: 'Модель', value: 'XML6126.JR'},
        {name: 'Габаритные размеры, мм', value: '12 000 х 2 550 х 3 790'},
        {name: 'Мест для сидения', value: '51+1+1'},
        {name: 'Всего мест', value: '52'},
        {name: 'Шины', value: 'WESTLAKE 295/80 R225，18PR, Спереди обычные, сзади всесезонные'},
        {name: 'Сцепление', value: 'SACHS 430, однодисковое, сухое, гидравлическое'},
        {name: 'Коробка передач', value: 'FAST 6DSX180T, 6-ступенчатая'},
        {name: 'Задний мост', value: 'Dongfeng 13 000 кг'},
        {name: 'Подвеска', value: 'Пневматическая'},
        {name: 'Передняя ось, балка', value: 'Dongfeng 6 500 кг'},
        {name: 'Рулевая система', value: 'BOSCH 8098, с гидроусилителем'},
        {name: 'Колесная База', value: '6 000 мм'},
        {name: 'Тормозная система', value: 'Спереди дисковая (Knorr), сзади барабанная'},
      ]
    },
    {
      title: 'Двигатель',
      items: [
        {name: 'Двигатель', value: 'Cummins ISL9.5-385E51A'},
        {name: 'Обём двигателя', value: '9,46 л'},
        {name: 'Мощность двигателя', value: '282 кВт / 1900 об. мин.'},
        {name: 'Максимальный крутящий момент', value: '1600 Нм / 1900 об. мин.'},
        {name: 'Экологический класс', value: 'EURO 5'},
        {name: 'Максимальная скорость', value: '105 км/ч'},
        {name: 'Объём топливного бака', value: '600 л (заправка с 2-х сторон)'},
        {name: 'Ретардер', value: 'есть'}
      ]
    },
    {
      title: 'Кузов',
      items: [
        {name: 'Окраска', value: 'стандартная'},
        {name: 'Цвета и рисунки', value: 'нет'},
        {name: 'Окно водителя', value: 'cтеклопакет'},
        {name: 'Боковые стекла', value: 'cтеклопакет (включая заднее стекло), с темно-серой тонировкой'},
        {name: 'Дверь багажного отделения', value: 'открываются параллельно кузову'},
        {name: 'Передняя пассажирская дверь', value: 'пневматическая , одностворчатая, открывающиеся наружу, со стеклопакетом'},
        {name: 'Средняя пассажирская дверь', value: 'пневматическая, одностворчатая, открывающиеся наружу'},
        {name: 'Зеркала заднего вида', value: 'электроуправляемые, с подогревом'},
        {name: 'Защита кузова', value: 'антикоррозийная защита внутренних и внешних поверхностей кузова катофорезным грунтованием'},
      ]
    },
    {
      title: 'Салон',
      items: [
        {name: 'Объём багажного отделения', value: '10 м3'},
        {name: 'Молоток (аварийный)', value: 'есть'},
        {name: 'Туалет', value: 'нет'},
        {name: 'Спальные места', value: 'нет'},
        {name: 'Занавески', value: 'есть'},
        {name: 'Надписи в салоне', value: 'на русском'},
        {name: 'Электронные часы', value: 'есть'},
        {name: 'Аудио-видео система', value: 'DVD'},
        {name: 'Монитор передней части салона', value: '19" цветной'},
        {name: 'Монитор центральной части салона', value: '19" цветной'},
        {name: 'Монитор для движения задним ходом', value: 'цветная камера заднего хода + монитор, с реверсивным радаром'},
        {name: 'Система видеонаблюдения', value: 'камера напротив средней двери'},
        {name: 'Отопление', value: 'отопитель SPHEROS T350 + 10 радиаторов + 2 радиатора ступени + радиатор для водителя'},
        {name: 'Покрытие пола салона', value: 'имитация текстуры дерева'},
        {name: 'Вид салона', value: 'стандартный'},
        {name: 'Багажные полки в салоне', value: 'есть'},
        {name: 'Люки в крыше', value: '2 с вентиляцией и с электроприводом'},
        {name: 'Сиденье водителя', value: 'пневматическое с 3-х точечным ремнем безопасности и подлокотниками'},
        {name: 'Сиденье для гида', value: 'с 3-х точечным ремнем безопасности'},
        {name: 'Сидения для пассажиров', value: 'с 3-х точечными ремнями безопасностирегулируемые спинки, поперечнно сдвигаются в проход, с подлокотниками и подножками, с сеткой на спинке'},
        {name: 'Солнцезащитные шторки', value: 'у водителя и гида, электроуправляемые'},
        {name: 'Обдув ветрового стекла', value: 'CS-14H-30，380W'},
        {name: 'Кондиционер', value: 'Songz 28500-34400 Ккал/ч'},
        {name: 'Микрофон', value: 'есть'},
        {name: 'Прикуриватели', value: 'есть, 2 шт.'},
        {name: 'Зарядные разъёмы', value: 'USB на месте водителя 2 шт.'},
        {name: '220В 150В розетка в салоне', value: 'есть, 2 шт.'},
        {name: 'Автомат с питьевой водой', value: 'есть'},
        {name: 'Холодильник', value: 'есть'},
      ]
    },
    {
      title: 'Электронные системы',
      items: [
        {name: 'Система ЭРА-ГЛОНАСС', value: 'есть'},
        {name: 'ESC', value: 'есть'},
        {name: 'Бортовой компьютер', value: 'ACTIA, на русском'},
        {name: 'Верхний стоп-сигнал', value: 'есть'},
        {name: 'Электронная система управления температурой двигателя', value: 'есть'},
        {name: 'Подогреватель двигателя и топлива', value: 'есть'},
        {name: 'Электронная система управления температурой двигателя', value: 'есть'},
        {name: 'Автоматическая противопожарная установка для мотоотсекаи отсека', value: 'есть'},
        {name: 'Генератор', value: '140А'},
        {name: 'Аккумулятор', value: '225Ач х 2'},
        {name: 'Электрический/ пневматический клаксон', value: 'есть'},
        {name: 'Тахограф', value: 'проводка для подключения'},
      ]
    },
    {
      title: 'Дополнительные опции',
      items: [
        {name: 'Cнять 2 сидения', value: 'да'},
        {name: 'Убрать подножки сидений', value: 'да'},
        {name: 'Убрать DVD и телевизоры', value: 'да'},
        {name: 'Солнцезащитная шторка механическая', value: 'да'},
        {name: 'Полное оборудование ЖК-мониторами', value: 'да'},
        {name: 'Окраска металик', value: 'да'},
        {name: 'Окраска перламутр', value: 'да'},
        {name: 'Холодильник', value: 'да'},
        {name: 'Кулер для воды', value: 'да'},
        {name: 'USB-разъем для зарядки', value: 'да'},
        {name: 'Доплнительная подсветка для прохода салона', value: 'да'},
        {name: 'Тахограф VDO', value: 'да'},
        {name: 'Hапольное покрытие Gerflor (Франция)', value: 'да'},
        {name: 'ECAS', value: 'да'},
        {name: 'Шины MICHELIN', value: 'да'},
        {name: 'Спальная кабина', value: 'да'},
        {name: 'Дисковые тормоза заднего моста', value: 'да'},
        {name: 'ASR', value: 'да'},
        {name: 'Пассажирские сидения с 2-х точечными ремнями', value: 'да'},
        {name: 'Боковые стекла без тонировки', value: 'да'},
      ]
    },
  ]

  // similar products
  similarProducts = [
    {
      image: require('@/assets/img/lineup/1.jpg'),
      title: 'Triumph XML6126.JR',
      type: 'Городской',
      fuel: 'diesel',
    },
    {
      title: 'Triumph XML6126.JR.ML6126.JR',
      type: 'Туристический',
      fuel: 'electricity',
    },
    {
      image: require('@/assets/img/lineup/2.jpg'),
      title: 'Triumph XML6126.JR.6126.J.6126.J',
      type: 'Междугородний',
      fuel: 'gas'
    },
  ]

  // technology
  techBlocks = [
    {
      title: '<span>02/</span> Выбор поставщиков',
      txt: 'Поставщики комплектующих проходят регулярную проверку для получения доступа на конвейер. Все материалы строго проверяются и тестируются по техническим параметрам'
    },
    {
      title: '<span>03/</span> Управление качеством 5S',
      txt: 'Система управления качеством 5S сформирована в каждом цехе. Рабочие инструкции, выданные техническим центром, определяют направление совершенствования системы.'
    },
    {
      title: '<span>04/</span> Технологические инновации',
      txt: 'Golden Dragon имеет <span>более 150 инженеров</span>, обладающих опытом в полной комплектации транспортных средств, комплектации шасси и электрооборудования. Компания расширяет сотрудничество в областях шасси и других узлов и деталей автобуса с такими международными компаниями, как MAN, ZF, Bosch, Wabco, Voith, Hino и Hyundai. Кроме того, Golden Dragon удачно сотрудничает с бельгийским Enthoven и итальянским Bonetto в проектировании кузовов нескольких моделей автобусов. Такой международный обмен и сотрудничество помогают компании развивать свои основные технологии. Golden Dragon считает, что технологические инновации могут создать дополнительную ценность благодаря низкой стоимости обслуживания, меньшему расходу топлива и альтернативным зеленым видам топлива.'
    },
    {
      image: require('@/assets/img/technology/2.jpg')
    },
    {
      title: '<span>05/</span> Технология Монокок',
      txt: 'Технология Монокок снижает массу транспортного средства, что способствует снижению расхода топлива и меньшему загрязнению. Применение данной технологии повышает эффективность работы всех типов шин.'
    },
    {
      title: '<span>06/</span> Катодный электрофорез',
      txt: 'Применение катодного электрофореза рамы обеспечивает её антикоррозионную стойкость на 10 лет, продлевая срок службы кузова и снижая затраты на обслуживание.'
    },
  ]

  // credit partners
  creditPartners = [
    require('@/assets/img/credit/partners/sber.svg'),
    require('@/assets/img/credit/partners/alfa.svg'),
    require('@/assets/img/credit/partners/vtb.svg'),
    require('@/assets/img/credit/partners/ural.svg'),
    require('@/assets/img/credit/partners/plan.svg'),
    require('@/assets/img/credit/partners/gas.svg'),
    require('@/assets/img/credit/partners/balt.svg'),
    require('@/assets/img/credit/partners/reso.svg'),
    require('@/assets/img/credit/partners/pioner.jpg'),
  ]

  // news
  newsList = [
    {
      image: require('@/assets/img/news/1.jpg'),
      title: 'Большой заголовок новости, если он будет в 2 строчки',
      date: '31 мар 2023',
      url: 'javascript:'
    },
    {
      image: require('@/assets/img/news/2.jpg'),
      title: 'Заголовок новости в 1 строчку',
      date: '31 мар 2023',
      url: 'javascript:'
    },
    {
      image: require('@/assets/img/news/3.jpg'),
      title: 'Большой заголовок новости, если вдруг он будет 2-3 строчки, то ставить строчки, то ставить ',
      date: '31 мар 2023',
      url: 'javascript:'
    },
    {
      image: require('@/assets/img/news/1.jpg'),
      title: 'Большой заголовок новости, если он будет в 2 строчки',
      date: '31 мар 2023',
      url: 'javascript:'
    },
    {
      image: require('@/assets/img/news/2.jpg'),
      title: 'Заголовок новости в 1 строчку',
      date: '31 мар 2023',
      url: 'javascript:'
    },
    {
      image: require('@/assets/img/news/3.jpg'),
      title: 'Большой заголовок новости, если вдруг он будет 2-3 строчки, то ставить строчки, то ставить ',
      date: '31 мар 2023',
      url: 'javascript:'
    },
    {
      image: require('@/assets/img/news/1.jpg'),
      title: 'Большой заголовок новости, если вдруг он будет 2-3 строчки, то ставить строчки, то ставить ',
      date: '31 мар 2023',
      url: 'javascript:'
    },
  ]

  promoList = [
    {
      image: require('@/assets/img/news/promo.jpg'),
      title: 'Большой заголовок новости, если вдруг он будет 2-3 строчки, то ставить строчки, то ставить если вдруг он будет 2-3 строчки, то ставить строчки, то ставить',
      date: '31 мар 2023',
      url: 'javascript:'
    },
    {
      image: require('@/assets/img/news/promo.jpg'),
      title: 'Большой заголовок новости, если вдруг он будет 2-3 строчки, то ставить строчки, то ставить если вдруг он будет 2-3 строчки, то ставить строчки, то ставить',
      date: '31 мар 2023',
      url: 'javascript:'
    },
    {
      image: require('@/assets/img/news/promo.jpg'),
      title: 'Большой заголовок новости, если вдруг он будет 2-3 строчки, то ставить строчки, то ставить если вдруг он будет 2-3 строчки, то ставить строчки, то ставить',
      date: '31 мар 2023',
      url: 'javascript:'
    }
  ]

  // media
  mediaPhotos = [
    require('@/assets/img/media/photos/1.jpg'),
    require('@/assets/img/media/photos/2.jpg'),
    require('@/assets/img/media/photos/3.jpg'),
    require('@/assets/img/media/photos/4.jpg'),
    require('@/assets/img/media/photos/5.jpg'),
    require('@/assets/img/media/photos/6.jpg'),
    require('@/assets/img/media/photos/7.jpg'),
    require('@/assets/img/media/photos/8.jpg'),
    require('@/assets/img/media/photos/9.jpg'),
    require('@/assets/img/media/photos/10.jpg'),
    require('@/assets/img/media/photos/11.jpg'),
    require('@/assets/img/media/photos/12.jpg'),
    require('@/assets/img/media/photos/13.jpg'),
    require('@/assets/img/media/photos/14.jpg'),
    require('@/assets/img/media/photos/15.jpg'),
    require('@/assets/img/media/photos/16.jpg'),
    require('@/assets/img/media/photos/17.jpg'),
    require('@/assets/img/media/photos/18.jpg'),
    require('@/assets/img/media/photos/19.jpg'),
    require('@/assets/img/media/photos/20.jpg'),
    require('@/assets/img/media/photos/21.jpg'),
    require('@/assets/img/media/photos/22.jpg'),
    require('@/assets/img/media/photos/23.jpg'),
    require('@/assets/img/media/photos/24.jpg')
  ]

  mediaVideos = [
    require('@/assets/img/media/video.jpg'),
    require('@/assets/img/media/video.jpg'),
  ]

  //- contacts
  contactsList = [
    'СПб Красный бор',
    'СПб Парнас',
    'Москва',
    'Елабуга',
    'Ростов-на-Дону',
    'Екатеринбург',
    'Хабаровск',
  ]

  contactsItems = [
    {
      image: require('@/assets/img/contacts/contact.jpg'),
      position: 'Генеральный директор',
      name: 'Клубачук Александр',
      telTxt: '+7 (921) 439-32-11',
      telUrl: 'tel:+79214393211',
      mail: 'k.aa@tc-sotrans.ru'
    },
    {
      image: require('@/assets/img/contacts/contact.jpg'),
      position: 'Генеральный директор',
      name: 'Клубачук Александр',
      telTxt: '+7 (921) 439-32-11',
      telUrl: 'tel:+79214393211',
      mail: 'k.aa@tc-sotrans.ru'
    },
    {
      image: require('@/assets/img/contacts/contact.jpg'),
      position: 'Генеральный директор',
      name: 'Клубачук Александр',
      telTxt: '+7 (921) 439-32-11',
      telUrl: 'tel:+79214393211',
      mail: 'k.aa@tc-sotrans.ru'
    },
    {
      image: require('@/assets/img/contacts/contact.jpg'),
      position: 'Генеральный директор',
      name: 'Клубачук Александр',
      telTxt: '+7 (921) 439-32-11',
      telUrl: 'tel:+79214393211',
      mail: 'k.aa@tc-sotrans.ru'
    },
    {
      image: require('@/assets/img/contacts/contact.jpg'),
      position: 'Генеральный директор',
      name: 'Клубачук Александр',
      telTxt: '+7 (921) 439-32-11',
      telUrl: 'tel:+79214393211',
      mail: 'k.aa@tc-sotrans.ru'
    },
    {
      image: require('@/assets/img/contacts/contact.jpg'),
      position: 'Генеральный директор',
      name: 'Клубачук Александр',
      telTxt: '+7 (921) 439-32-11',
      telUrl: 'tel:+79214393211',
      mail: 'k.aa@tc-sotrans.ru'
    },
    {
      image: require('@/assets/img/contacts/contact.jpg'),
      position: 'Генеральный директор',
      name: 'Клубачук Александр',
      telTxt: '+7 (921) 439-32-11',
      telUrl: 'tel:+79214393211',
      mail: 'k.aa@tc-sotrans.ru'
    }
  ]
