extends ../layouts/main/layout.pug

block title
  | CARGOшеринг

block content
  include ../components/sharing
  include ../components/rent
  include ../components/questions
  include ../components/offers
  include ../components/actions
  include ../components/pluses
  include ../components/extra
  include ../components/production
  include ../components/feedback
