-
  introItems = [
    '99 000 рублей / месяц',
    'Новая техника – полуприцепы не старше 3 лет',
    'КАСКО c опцией GAP',
    'Бесплатное обслуживание',
    'Оформление за 1 день',
    'Возможность выкупа',

  ]


  rentItems = [
    {
      image: require('@/assets/img/rent/1.png'),
      title: 'Конкурентная цена',
      list: [
        '• Обеспечительный платеж (100 000 рублей)',
        '• Стоимость аренды 99 000 рублей / месяц'
      ]
    },
    {
      image: require('@/assets/img/rent/2.png'),
      title: 'Индивидуальные условия',
      list: [
        '• Аренда полуприцепа от 1 месяца без выкупа / с выкупом)',
        '• Любое количество техники '
      ]
    },
    {
      image: require('@/assets/img/rent/3.png'),
      title: 'Страхование включено',
      list: [
        '• В стоимость аренды включен страховой полис КАСКО c опцией GAP',
      ]
    },
    {
      image: require('@/assets/img/rent/4.png'),
      title: 'Быстрое оформление',
      list: [
        '• Проверка документов, подписание договора и получение техники за 1 рабочий день',
      ]
    }
  ]

  serviceItems = [
    {
      image: require('@/assets/img/service/1.png'),
      text: 'Бесплатная замена шин'
    },
    {
      image: require('@/assets/img/service/2.png'),
      text: 'Бесплатные текущие ремонты'
    },
    {
      image: require('@/assets/img/service/3.png'),
      text: 'Бесплатная замена расходных материалов при естественном износе'
    },
    {
      image: require('@/assets/img/service/4.png'),
      text: 'Регулярное техническое обслуживание на собственных СТО в различных регионах РФ'
    },
  ]

  advantagesItems = [
    {
      image: 'src/assets/images/advantages-card.png',
      text: 'Шторный полуприцеп с полной растентовкой, передняя стенка из алюминиевого профиля'
    },
    {
      image: 'src/assets/images/advantages-card.png',
      text: 'Дисковые тормозные механизмы, пневмоподвеска, система EBS'
    },
    {
      image: 'src/assets/images/advantages-card.png',
      text: '3 пары средних сдвижных стоек. Карманы для вставных досок деревянной обрешетки'
    },
    {
      image: 'src/assets/images/advantages-card.png',
      text: 'Сдвижной механизм крыши для удобства погрузки-выгрузки'
    },
    {
      image: 'src/assets/images/advantages-card.png',
      text: 'Болтовая конструкция рамы шасси. Оцинковка всех элементов'
    },
  ]

  faqItems = [
    {
      title: 'Как производится оплата аренды?',
      text: 'С юридическими лицами оплата производится по безналичному расчету на основании договора. ',
      highlight: ''
    },
    {
      title: 'Если арендованный полуприцеп выйдет из строя, компания предоставит подменный на время ремонтных работ?',
      text: 'В случае если арендованный полуприцеп вышел из строя по причинам, не связанным с неправильной эксплуатацией, а также после ДТП, произошедшем не по вине арендатора, могут быть предложены 2 варианта: замена техники на срок ремонта или приостановка начисления арендных платежей. ',
      highlight: ''
    },
    {
      title: 'Почему аренда полуприцепа выгодна?',
      text: 'Как известно, лизинговые компании накладывают ограничения на количество приобретаемой с помощью лизинга техники. При аренде полуприцепа не растет кредитный портфель клиента, что позволяет приобрести большее количество тягачей в рамках установленных лимитов, тем самым нарастив собственный автопарк.',
      highlight: ''
    },
    {
      title: 'Можно ли оформить договор аренды с последующим выкупом?',
      text: 'Да, мы можем в таком случае оформить договор, а также предложить клиентам оформление лизинга на полуприцепы SOTRANS WALLAROO. Для этого вы можете оставить заявку на сайте или позвонить по телефону:',
      highlight: '+ 7 (812) 495-42-02.'
    },
  ]

  faqDocs = [
    {
      text: 'Акт передачи ТС в аренду.doc',
    },
    {
      text: 'Спецификация к договору аренды ТС.doc',
    },
    {
      text: 'Договор аренды ТС.doc',
    },
    {
      text: 'Акт о возврате ТС арендодателю.doc',
    },
  ]

  // specs
  productSpecs = [
    {
      name: 'Длинна грузовой платформы',
      value: '13 600 мм'
    },
    {
      name: 'Ширина грузовой платформы',
      value: '2 470 мм'
    },
    {
      name: 'Высота в свету под крышей',
      value: '2 710 мм'
    },
    {
      name: 'Общая длина',
      value: '13 900 мм'
    },
    {
      name: 'Общая ширина',
      value: '2 550 мм'
    },
    {
      name: 'Межосевое расстояние',
      value: '1 310 мм'
    },
    {
      name: 'Допустимый общий вес',
      value: '35 000 кг'
    },
    {
      name: 'Технически возможный общий вес',
      value: '38 000 кг'
    },
    {
      name: 'Общая допустимая нагрузка <br> на осевой агрегат',
      value: '24 000 кг (на каждую ось по 8 000 кг)'
    },
    {
      name: 'Технически возможная нагрузка <br> на агрегат',
      value: '27 000 кг (на каждую ось по 9 000 кг)'
    },
    {
      name: 'Собственный вес в базовой комплектации',
      value: '6 650 кг'
    },
    {
      name: 'Высота седельного устройства',
      value: '1 150 мм'
    },
    {
      name: 'Допустимая нагрузка на седельное устройство',
      value: '11 500 кг'
    }
  ]

  productSlides = [
    require('@/assets/img/specs/slides/1.jpg'),
    require('@/assets/img/specs/slides/2.jpg'),
    require('@/assets/img/specs/slides/3.jpg'),
    require('@/assets/img/specs/slides/4.jpg'),
    require('@/assets/img/specs/slides/5.jpg'),
  ]

  // product tabs
  tabButtons = null
  tabLeftDesc = null
  tabLeftImage = null
  tabLeftGif = null
  tabRightDesc = null
  tabRightImage = null

  //- semitrailer
  tabButtonsSemitrailerCurtain = ['Конструкция', 'Надстройка полуприцепа']
  tabLeftDescSemitrailerCurtain = [
    {title: 'Рама шасси', value: 'конструкция из высокопрочной стали. Несущие лонжероны двутаврового профиля, интегрированные поперечные траверсы. Рама полностью оцинкована'},
    {title: 'Агрегат трехосный', value: 'с пневмоподвеской, тормозные механизмы – дисковые'},
    {title: 'Тормозная система', value: 'EBS: двухпроводная, ABS 2S/2M. Розетка ABS 7 контактная'},
    {title: 'Шкворень', value: 'OMS, 2 дюйма, сменный, тарельчатого типа'},
    {title: 'Опорное устройство', value: 'с двухступенчатым редуктором'},
    {title: 'Электрооборудование', value: 'Ermax, выполнено по двухпроводной схеме'},
    {title: 'Колеса', value: '385/65 R22,5, бескамерные шины с дорожным протектором'},
    {title: 'Кронштейн запасного колеса', value: 'для двух запасных колес (не входят в комплектацию)'},
    {title: 'Боковая защита', value: 'из алюминиевого профиля'},
    {title: 'Напольное покрытие', value: 'водостойкая ламинированная фанера 30 мм. В отбортовке рамы отверстия для крепления груза по всей её длине'},
  ]
  tabLeftImageSemitrailerCurtain = require('@/assets/img/products/semitrailers/curtain/diagram.jpg')
  tabLeftGifSemitrailerCurtain = require('@/assets/img/products/semitrailers/curtain/trailer.gif')
  tabRightDescSemitrailerCurtain = [
    {title: 'Тип надстройки', value: 'шторная, со сдвижной конструкцией тента (сдвижная крыша и боковые шторы)'},
    {title: 'Механизм натяжения тента в задней части'},
    {title: 'Передняя стенка', value: 'алюминиевые наборные профили, усиление из фанерного листа 30 мм'},
    {title: 'Бортовые стойки', value: 'сдвижные'},
    {title: 'Тент боковых штор', value: 'плотностью 850-900 г/м2'},
    {title: 'Тент крыши', value: 'светопроникающий материал белого цвета, плотностью 650-680 г/м2'},
    {title: 'Дверной портал', value: 'оцинкованная сталь, имеет роликовые демпферы'},
    {title: 'Двери распашные', value: 'двухстворчатые, с углом открывания 270°. Дверное полотно — наборный алюминий.'}
  ]
  tabRightImageSemitrailerCurtain = require('@/assets/img/products/semitrailers/curtain/tab-image.jpg')
