-
  introItems = [
    '99 000 рублей / месяц',
    'Новая техника – полуприцепы не старше 3 лет',
    'КАСКО c опцией GAP',
    'Бесплатное обслуживание',
    'Оформление за 1 день',
    'Возможность выкупа',

  ]


  rentItems = [
    {
      image: 'src/assets/images/rent-card-first.png',
      title: 'Конкурентная цена',
      list: [
        '• Обеспечительный платеж (100 000 рублей)',
        '• Стоимость аренды 99 000 рублей / месяц'
      ]
    },
    {
      image: 'src/assets/images/rent-card-second.png',
      title: 'Индивидуальные условия',
      list: [
        '• Аренда полуприцепа от 1 месяца без выкупа / с выкупом)',
        '• Любое количество техники '
      ]
    },
    {
      image: 'src/assets/images/rent-card-third.png',
      title: 'Страхование включено',
      list: [
        '• В стоимость аренды включен страховой полис КАСКО c опцией GAP',
      ]
    },
    {
      image: 'src/assets/images/rent-card-fourth.png',
      title: 'Быстрое оформление',
      list: [
        '• Проверка документов, подписание договора и получение техники за 1 рабочий день',
      ]
    }
  ]

  serviceItems = [
    {
      image: 'src/assets/images/service-card-first.png',
      text: 'Бесплатная замена шин'
    },
    {
      image: 'src/assets/images/service-card-second.png',
      text: 'Бесплатные текущие ремонты'
    },
    {
      image: 'src/assets/images/service-card-third.png',
      text: 'Бесплатная замена расходных материалов при естественном износе'
    },
    {
      image: 'src/assets/images/service-card-fourth.png',
      text: 'Регулярное техническое обслуживание на собственных СТО в различных регионах РФ'
    },
  ]

  advantagesItems = [
    {
      image: 'src/assets/images/advantages-card.png',
      text: 'Шторный полуприцеп с полной растентовкой, передняя стенка из алюминиевого профиля'
    },
    {
      image: 'src/assets/images/advantages-card.png',
      text: 'Дисковые тормозные механизмы, пневмоподвеска, система EBS'
    },
    {
      image: 'src/assets/images/advantages-card.png',
      text: '3 пары средних сдвижных стоек. Карманы для вставных досок деревянной обрешетки'
    },
    {
      image: 'src/assets/images/advantages-card.png',
      text: 'Сдвижной механизм крыши для удобства погрузки-выгрузки'
    },
    {
      image: 'src/assets/images/advantages-card.png',
      text: 'Болтовая конструкция рамы шасси. Оцинковка всех элементов'
    },
  ]

  faqItems = [
    {
      title: 'Как производится оплата аренды?',
      text: 'С юридическими лицами оплата производится по безналичному расчету на основании договора. ',
      highlight: ''
    },
    {
      title: 'Если арендованный полуприцеп выйдет из строя, компания предоставит подменный на время ремонтных работ?',
      text: 'В случае если арендованный полуприцеп вышел из строя по причинам, не связанным с неправильной эксплуатацией, а также после ДТП, произошедшем не по вине арендатора, могут быть предложены 2 варианта: замена техники на срок ремонта или приостановка начисления арендных платежей. ',
      highlight: ''
    },
    {
      title: 'Почему аренда полуприцепа выгодна?',
      text: 'Как известно, лизинговые компании накладывают ограничения на количество приобретаемой с помощью лизинга техники. При аренде полуприцепа не растет кредитный портфель клиента, что позволяет приобрести большее количество тягачей в рамках установленных лимитов, тем самым нарастив собственный автопарк.',
      highlight: ''
    },
    {
      title: 'Можно ли оформить договор аренды с последующим выкупом?',
      text: 'Да, мы можем в таком случае оформить договор, а также предложить клиентам оформление лизинга на полуприцепы SOTRANS WALLAROO. Для этого вы можете оставить заявку на сайте или позвонить по телефону:',
      highlight: '+ 7 (812) 495-42-02.'
    },
  ]

  faqDocs = [
    {
      text: 'Акт передачи ТС в аренду.doc',
    },
    {
      text: 'Спецификация к договору аренды ТС.doc',
    },
    {
      text: 'Договор аренды ТС.doc',
    },
    {
      text: 'Акт о возврате ТС арендодателю.doc',
    },
  ]
