@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.contacts
  padding: 20px 0 34px
  +screen($desktop)
    padding: 16px 0 30px
  +screen($tablet)
    padding: 12px 0 0

  .container
    padding-right: 60px
    +screen($desktop)
      padding-right: 50px
    +screen($tablet)
      padding: 0

  .section-title
    +screen($tablet)
      padding: 0 16px

  &__container
    display: flex
    gap: 20px
    margin-top: 50px
    +screen($desktop)
      margin-top: 40px
    +screen($tablet)
      margin-top: 32px
      flex-direction: column

  &__switcher
    flex-shrink: 0
    background-color: #F5F5F5
    position: relative
    transition: max-height .3s
    width: 407px
    +screen($desktop)
      width: 314px
    +screen($tablet)
      width: calc(100% - 32px)
      background-color: $white
      max-height: 54px
      overflow: hidden
      margin: 0 auto

      &.open
        overflow: visible

        &:before
          visibility: visible
          opacity: 1

        .contacts__switcher-btn:first-child
          &:after
            transform: rotate(180deg)

      &:before
        content: ''
        width: 100%
        height: calc(100% - 58px)
        position: absolute
        bottom: 0
        left: 0
        box-shadow: 0 7px 20px rgba(0, 0, 0, .25)

    &-btn
      box-sizing: border-box
      padding: 20px
      +font(20px, 26px, 500)
      width: 100%
      position: relative
      text-align: left
      +screen($desktop)
        +font(16px, 26px, 500)
        padding: 12px 20px
      +screen($tablet)
        padding: 14px 18px
        background-color: $white
        z-index: 10

      &:nth-child(2)
        +screen($tablet)
          margin-top: 4px

      &:hover:not(.active)
        color: $orange

      &.active
        color: $white
        background-color: $orange

      //&:first-child
      //  +screen($tablet)
      //     &:after
      //       content: ''
      //       width: 16px
      //       height: 9px
      //       position: absolute
      //       right: 19px
      //       top: 25px
      //       background: url(../assets/img/contacts/vector-down.svg) no-repeat center
      //       transition: transform .3s

  &__content
    max-width: 100%
    width: 100%
    box-sizing: border-box

    &-item
      display: none

      &.active
        display: block

  &__info, &__list, &__map
    box-sizing: border-box
    padding: 0 40px
    +screen($desktop)
      padding: 0 30px
    +screen($tablet)
      padding: 0

  &__info
    +screen($tablet)
      padding: 0 16px
      box-sizing: border-box

    &-name
      +font(22px, 29px, 700)
      +screen($desktop)
        +font(18px, 29px, 700)
      +screen($tablet)
        +font(20px, 29px, 700)

    &-address
      +font(18px, 21px)
      margin-top: 20px
      +screen($desktop)
        margin-top: 10px
        +font(16px, 18px)
      +screen($tablet)
        margin-top: 14px
        +font(16px, 24px)

    &-container
      display: flex
      gap: 30px
      margin-top: 8px
      +screen($desktop)
        margin-top: 10px
        gap: 26px
      +screen($tablet)
        gap: 8px
        margin-top: 14px
        flex-direction: column

    &-mail, &-time
      display: flex
      align-items: center
      gap: 9px
      +font(18px, 18px)
      +screen($desktop)
        +font(16px, 16px)

  &__list
    margin-top: 20px
    height: 172px
    max-width: calc(100% - 407px)
    +screen($desktop)
      max-width: calc(100% - 314px)
      height: 136px
      margin-top: 16px
    +screen(1150)
      height: 146px
    +screen($tablet)
      display: none

    &-mobile
      display: none
      +screen($tablet)
        display: block
        box-sizing: border-box
        padding: 26px 16px 20px

    &:after
      content: ''
      width: 40px
      height: 100%
      background-color: $white
      position: absolute
      top: 0
      right: 0
      z-index: 1

    .swiper
      &-button
        &-prev, &-next
          width: 40px
          height: 40px
          transition: background-color .3s
          border-radius: 50%
          +screen($desktop)
            width: 30px
            height: 30px

          &:hover:not(:active)
            background-color: #F5F5F5

        &-prev
          left: 0

        &-next
          right: 0


  &__card
    display: flex
    box-sizing: border-box
    padding: 26px 16px
    gap: 10px
    +screen($desktop)
      padding: 20px 16px
    +screen($tablet)
      align-items: center
      padding: 30px 16px

    &__image
      border-radius: 50%
      overflow: hidden
      flex-shrink: 0
      width: 120px
      height: 120px
      +screen($desktop)
        width: 96px
        height: 96px
      +screen($tablet)
        width: 70px
        height: 70px

    &__info
      +font(16px, 18px)
      +screen($desktop)
        +font(13px, 15px)
      +screen($tablet)
        +font(15px, 17px)

      &-position
        font-weight: 700

      &-name
        margin-top: 6px

      &-phone
        margin-top: 18px

      &-mail
        margin-top: 6px


  &__map
    height: 301px
    width: calc(100% - 407px)
    +screen($desktop)
      width: calc(100% - 314px)
    +screen($tablet)
      width: 100%


