<script>
  ymaps.ready(function () {
    // desktop maps
    const map = new ymaps.Map('map', {
      center: [57.08939925644734, 44.98963160999127],
      zoom: 6,
      controls: [],
    })

    const iconContentLayout = ymaps.templateLayoutFactory.createClass(
      '<div class="map__address">$[properties.iconContent]</div>'
    )

    const redForestLayout = `<div class="map__address-body map__address-body_red-forest"><h2><img src="assets/img/global/map-logo.svg"></h2>
                            <div class="map__address-txt">Ленингракдская обл., Тосненский р-н, пгт Красный Бор, ул. Промышленная, д. 3 (трасса М10/Е105, 39-й км Московского шоссе)</div>
                            <div class="map__address-hours">Режим работы: ежедневно, с 10.00 до 21.00</div>
                            <div class="map__address-phone">
                              <span>Телефон:</span>
                              <span>
                                <a href="tel:+78124954320">+7(812) 495 43 20</a>
                                <a href="tel:+79216953701">+7(921) 695 37 01</a>
                              </span>
                            </div></div>`

    const parnasLayout = `<div class="map__address-body map__address-body_parnas"><h2><img src="assets/img/global/map-logo.svg"></h2>
                          <div class="map__address-txt">Санкт-Петербург 194292, Парнас, ул. Верхняя, дом 16</div>
                          <div class="map__address-hours">Режим работы: Пн-Пт с 9:00 до 18:00</div>
                          <div class="map__address-phone">
                            <span>Телефон:</span>
                            <span>
                              <a href="tel:+78124954320">+7(812) 495 43 20</a>
                              <a href="tel:+79216953701">+7(921) 695 37 01</a>
                            </span>
                          </div></div>`

    const elnaLayout = `<div class="map__address-body map__address-body_elna"><h2><img src="assets/img/global/map-logo.svg"></h2>
                        <div class="map__address-txt">Московская область, Богородский городской округ, деревня Ельня, Новая улица, 16А</div></div>`

    const elabugaLayout = `<div class="map__address-body map__address-body_elabuga"><h2><img src="assets/img/global/map-logo.svg"></h2>
                           <div class="map__address-txt">Республика Татарстан, Елабужский район, Федеральная трасса М7, 1023 км</div></div>`

    const redForest = new ymaps.Placemark([59.66768456450318, 30.651756999999925], {
      iconContent: redForestLayout
    }, {
      iconLayout: 'default#imageWithContent',
      iconImageHref: 'assets/img/global/marker.png',
      iconImageSize: [30, 36],
      iconContentOffset: [-34, 40],
      iconContentLayout: iconContentLayout
    })

    const parnas = new ymaps.Placemark([60.055807064037396, 30.375390499999998], {
      iconContent: parnasLayout
    }, {
      iconLayout: 'default#imageWithContent',
      iconImageHref: 'assets/img/global/marker.png',
      iconImageSize: [30, 36],
      iconContentOffset: [50, -80],
      iconContentLayout: iconContentLayout
    })

    const elna = new ymaps.Placemark([55.84744206891417, 38.342234499999975], {
      iconContent: elnaLayout
    }, {
      iconLayout: 'default#imageWithContent',
      iconImageHref: 'assets/img/global/marker.png',
      iconImageSize: [30, 36],
      iconContentOffset: [40, 0],
      iconContentLayout: iconContentLayout
    })

    const elabuga = new ymaps.Placemark([55.813485500338615, 52.09983400000002], {
      iconContent: elabugaLayout
    }, {
      iconLayout: 'default#imageWithContent',
      iconImageHref: 'assets/img/global/marker.png',
      iconImageSize: [30, 36],
      iconContentOffset: [40, 0],
      iconContentLayout: iconContentLayout
    })

    // mobile maps
    const mapRedForest = new ymaps.Map('red-forest-map', {
      center: [59.43134964126753,30.570080256624546],
      zoom: 8,
      controls: [],
      behaviors: ['drag', 'multiTouch'],
    })

    const mapParnas = new ymaps.Map('parnas-map', {
      center: [59.808423948048194,30.479443049593293],
      zoom: 8,
      controls: [],
      behaviors: ['drag', 'multiTouch'],
    })

    const mapElna = new ymaps.Map('elna-map', {
      center: [55.83469205479343,38.31957519824215],
      zoom: 12,
      controls: [],
      behaviors: ['drag', 'multiTouch'],
    })

    const mapElabuga = new ymaps.Map('elabuga-map', {
      center: [55.76386728069934,52.13897279394529],
      zoom: 11,
      controls: [],
      behaviors: ['drag', 'multiTouch'],
    })

    const redForestMob = new ymaps.Placemark([59.66768456450318, 30.651756999999925], {
      iconContent: redForestLayout
    }, {
      iconLayout: 'default#imageWithContent',
      iconImageHref: 'assets/img/global/marker.png',
      iconImageSize: [30, 36],
      iconContentOffset: [-160, -130],
      iconContentLayout: iconContentLayout
    })

    const parnasMob = new ymaps.Placemark([60.055807064037396, 30.375390499999998], {
      iconContent: parnasLayout
    }, {
      iconLayout: 'default#imageWithContent',
      iconImageHref: 'assets/img/global/marker.png',
      iconImageSize: [30, 36],
      iconContentOffset: [-40, 40],
      iconContentLayout: iconContentLayout
    })

    const elnaMob = new ymaps.Placemark([55.84744206891417,38.342234499999975], {
      iconContent: elnaLayout
    }, {
      iconLayout: 'default#imageWithContent',
      iconImageHref: 'assets/img/global/marker.png',
      iconImageSize: [30, 36],
      iconContentOffset: [-170, -40],
      iconContentLayout: iconContentLayout
    })

    const elabugaMob = new ymaps.Placemark([55.813485500338615, 52.09983400000002], {
      iconContent: elabugaLayout
    }, {
      iconLayout: 'default#imageWithContent',
      iconImageHref: 'assets/img/global/marker.png',
      iconImageSize: [30, 36],
      iconContentOffset: [-50, 35],
      iconContentLayout: iconContentLayout
    })

    map.controls.add('zoomControl', {
      position: {
        top: 280,
        left: 'auto',
        right: 10,
        bottom: 'auto'
      },
      size: 'small'
    })
    map.controls.add('geolocationControl', {
      position: {
        top: 360,
        left: 'auto',
        right: 10,
        bottom: 'auto'
      }
    })

    map.geoObjects
      .add(parnas)
      .add(elna)
      .add(elabuga)
      .add(redForest)

    mapRedForest.geoObjects
      .add(redForestMob)

    mapParnas.geoObjects
      .add(parnasMob)

    mapElna.geoObjects
      .add(elnaMob)

    mapElabuga.geoObjects
      .add(elabugaMob)
  });
</script>
