section.product-similar
  .container
    h2.product-similar__title.opacity-animation Другие модели автобусов
    .product-similar__grid.slide-left
      each el in similarProducts
        +product-card(el)


