section.product-top
  .container
    .product-top__slider.slide-right
      .swiper.swiper_main
        .swiper-wrapper
          each el in productSlider
            .swiper-slide
              img.cover-image(src=el alt="")
        .swiper-pagination
      .swiper.swiper_thumb(thumbsSlider="")
        .swiper-wrapper
          each el in productSlider
            .swiper-slide
              img.cover-image(src=el alt="")
        .swiper-button-prev
          img(src=require('@/assets/img/global/vector-up-product.svg') alt="")
        .swiper-button-next
          img(src=require('@/assets/img/global/vector-down-product.svg') alt="")
    .product-top__desc.slide-down
      .product-top__desc-type Туристический автобус
      h3.product-top__desc-title Triumph XML6126.JR
      .product-top__desc-params
        .fuel.fuel_diesel #[span]
        .stock.stock_in
      .product-top__desc-guarantee #[span Гарантия:] #[span 2 года или 150 000 км]
    .product-top__links.slide-up
      a.btn.btn_orange(href="javascript:")
        span Заказать
      .product-top__links-item.product-top__links-item_leasing
        .product-top__links-item-icon
        a.product-top__links-item-link(href="javascript:") Лизинг и кредит
      .product-top__links-item.product-top__links-item_trade-in
        .product-top__links-item-icon
        a.product-top__links-item-link(href="javascript:") Трейд-ин
      .product-top__links-item.product-top__links-item_service
        .product-top__links-item-icon
        a.product-top__links-item-link(href="javascript:") Сервис и запчасти




