section.product-options
  .container
    .product-options__top
      h2.product-options__title Технические характеристики
      button.product-options__more Развернуть все
    .product-options__container
      each el in productOptions
        .product-options__acc
          .product-options__acc-visible
            h3.product-options__acc-title #{el.title}
            button.product-options__acc-btn
              | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-down-blue.svg')}
          .product-options__acc-hidden
            each item in el.items
              .product-options__item
                .product-options__item-name #{item.name}
                .product-options__item-value #{item.value}

