@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.development
  background-image: url("../assets/img/development/background.png")
  background-size: cover

  &__overlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: linear-gradient(180deg, #14161B 0%, rgba(20, 22, 27, 0.6) 100%)
    opacity: 0.9
    border: 1px solid #000000
    background-size: cover
  &_dop
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: linear-gradient(180deg, #131B21 25%, rgba(20, 22, 27, 0.7) 10%)
    transform: matrix(1, 0, 0, -1, 0, 0)

  &__container
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 385px
    position: relative
    +screen($desktop)
      padding-top: 296px
      height: 713px
    +screen($tablet-xs)
      padding-top: 193px
      height: 619px

    svg
      width: 80px
      height: 80px
      +screen($desktop)
        width: 60px
        height: 60px
      +screen($tablet-xs)
        width: 50px
        height: 50px



    &__title
      +font(50px, 64px, 800)
      color: $white
      margin: 15px 0 56px 0
      text-align: center
      +screen($desktop)
        +font(40px, 64px, 800)
        margin: 10px 0 37px 0
      +screen($tablet-xs)
        display:  flex
        margin: 8px 0 49px 0
        flex-direction: column
        +font(30px, 35px, 800)

      span
        color: $orange
        margin-left: 10px

    .development__btn
      +font(22px, 26px, 500)
      color: $white
      background-image: $orange-grad
      padding: 20px 40px
      box-shadow: 0 11px 30px rgba(235, 92, 44, 0.4)
      &:hover
        background-image: $orange-grad-reverse
      +screen($desktop)
        +font(18px, 21px, 500)
        padding: 16px 34px
      +screen($tablet-xs)
        padding: 18.5px 37.5px
