mixin breadcrumbs(params)
  ul.breadcrumbs.slide-right
    li.breadcrumbs__item
      a(href="/")
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/catalog/home.svg')}
    each el in params
      li.breadcrumbs__item
        a(
          href=el.href
          class=el.active ? 'active' : ''
        ) #{el.txt}
