mixin header-menu(params)
  ul.header__menu
    each el in params
      li.header__menu-item
        if (el.label)
          a(
            href=el.href
            aria-label=el.label
          )
        else
          a(href=el.href) #{el.txt}
