@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

html
  scroll-behavior: smooth
  min-height: 100vh

.body_fix
  overflow: hidden

body
  max-width: 1920px
  margin: 0 auto
  min-height: 100vh
  display: flex
  flex-direction: column
  font-family: $font
  position: relative
  background-color: $white
  +screen($tablet)
    background-color: #fff

  &.loaded_hiding
    .preloader
      transition: .3s opacity
      opacity: 0

  &.loaded
    .preloader
      display: none


  .header, .footer
    flex: 0 1 auto

  .main
    padding-top: 85px
    flex: 1 0 auto
    +screen($tablet)
      padding-top: 25px
a
  text-decoration: none
  display: block
  color: $black
  transition: color .5s, opacity .5s, background-color .5s
  outline: none

h1, h2, h3, h4, p
  margin: 0

button
  appearance: none
  border: none
  cursor: pointer
  padding: 0
  background: transparent
  transition: .5s

.section-title
  +font(64px, 70px, 600)
  box-sizing: border-box
  padding-left: 100px
  +screen($tablet)
    +font(34px, 38px, 600)
    padding-left: 0

.btn
  width: 100%
  height: 44px
  +font(18px, 18px, 500)
  border: 3px solid $blue
  color: $blue
  display: flex
  align-items: center
  justify-content: center
  box-sizing: border-box
  cursor: pointer
  flex-shrink: 0

  &:hover
    background-color: $blue
    color: $white

  &:active
    color: $blue
    background-color: $white

  &_sm
    max-width: 196px
    +screen($tablet)
      max-width: none

  &_slider
    max-width: 190px
    color: $white
    border-color: $white
    +screen($tablet)
      max-width: none

    &:hover
      background-color: $white
      color: $blue

    &:active
      color: $white
      border-color: $white

.container
  max-width: 1420px
  box-sizing: border-box
  width: 100%
  height: 100%
  margin: 0 auto
  padding: 0 20px
  position: relative
  +screen($tablet)
    padding: 0 30px
  +screen($tablet-sm)
    padding: 0 10px

  &_header-menu
    max-width: 1027px
    padding: 0
    +screen($desktop-m)
      max-width: 768px
    +screen($desktop-sm)
      max-width: 700px

svg,
img
  max-width: 100%
  max-height: 100%
  flex-shrink: 0

svg
  path, circle, rect
    transition: .5s

ul
  padding: 0
  margin: 0

  li
    list-style-type: none

input, textarea
  border-radius: 0
  border: none
  appearance: none
  outline: none
  width: 100%
  height: 100%
  background: transparent
  box-sizing: border-box
  padding: 0
  +font(14px, 22px)

  &::placeholder
    color: $gray-placeholder

textarea
  resize: none

.hvr
  flex-shrink: 0

  &__images
    position: relative
    height: 100%

  &__sectors
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex

  &__sector
    flex-grow: 1

  &__dots
    display: flex
    align-items: center
    justify-content: center

  &__dot
    width: 32px
    height: 2px
    margin: -20px 2px 0
    background: $white
    z-index: 2

  &__dot--active
    background: $blue

.swiper
  &-button
    &-prev, &-next
      top: 59%
      z-index: 5
      +screen($tablet)
        display: none

      &:after
        font-size: 24px
        color: $gray

      &:hover
        opacity: .6

      &:active
        opacity: 1

    &-disabled
      visibility: hidden
      +screen(1400)
        visibility: visible

    &-prev
      left: 130px
      +screen(1700)
        left: 10px
      +screen(1400)
        top: 80px
        left: auto
        right: 40px

    &-next
      right: 130px
      +screen(1700)
        right: 10px
      +screen(1400)
        top: 80px
