extends ../layouts/main/layout.pug

block title
  | Title

block content
  .step
    .step__screen.step__screen_first
      .step__screen-message
        .step__screen-logo
          img(src=require("@/assets/img/logo.svg") alt="logo")
        h2.step__screen-title Скопируйте код доступа
        p.step__screen-txt Скопируйте этот код, чтобы  подключиться к серверу через приложение Outline.
      .step__screen-link
        .step__screen-link-field
          input#key(type="text" value="" name="key")
        button.step__screen-link-btn
          img(src=require("@/assets/img/copy.svg") alt="copy")
    .step__screen.step__screen_second.hidden
      .step__screen-message
        .step__screen-logo
          img(src=require("@/assets/img/logo.svg") alt="logo")
        h2.step__screen-title У вас установлен Outline?
        p.step__screen-txt Для подключения к серверам Free Surfer VPN вам потребуется приложение Outline.
