@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.footer
  width: 100%
  height: 680px
  margin-top: -580px
  +font(18px, 22px)
  position: relative
  z-index: 15
  pointer-events: none
  box-sizing: border-box
  overflow: hidden
  +screen($desktop-sm)
    padding-bottom: 40px

  .container
    display: flex
    align-items: flex-end

  &.lazyloaded
    background: url(../assets/img/footer/footer_bg.png) no-repeat 49.999% 0

  &__content
    display: flex
    align-items: center
    position: relative
    justify-content: space-between
    width: 100%
    +screen($tablet)
      justify-content: center

    .header__socials
      pointer-events: auto
      +cancel-position
      align-items: center
      display: flex
      +screen($tablet)
        display: none

      &-link
        +cancel-position
        position: relative

        &:not(:last-child)
          margin-right: 20px

  &__copyright
    +screen($tablet)
      display: flex
      flex-direction: column
      align-items: center

  &__design
    display: flex
    flex-direction: column

    +screen($tablet)
      display: none

  &__design,
  &__copyright
    +screen($desktop-sm)
      +font(15px, 17px)
