@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.blocks
  padding: 120px 0

  .clearfix
    overflow: auto

    &:after
      content: ''
      clear: both
      display: table

  &__grid
    +screen($tablet)
      display: flex
      flex-direction: column

  &__item
    max-width: 55%
    border-radius: 20px
    box-sizing: border-box
    padding: 40px
    border: 1px solid $black
    +font(26px, 36px)
    +screen($tablet)
      max-width: none
      +font(14px, 20px)

      &:not(.blocks__item_yellow)
        margin: 20px 0 0 0

    &_yellow
      color: $yellow
      border-color: $yellow
      +screen($tablet)
        order: -1

    &_gray
      max-width: 38%
      float: right
      color: $gray
      border-color: $gray
      margin-right: 0
      +screen($tablet)
        float: none
        max-width: none

    &_black
      margin-top: 60px
