.modal-success.modal
  .modal__body
    .modal__close
      .modal__close
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/modal/cancel.svg')}
    .modal__image
      img(src=require("@/assets/img/modal/check.svg") alt="check")
    h3.modal__title Спасибо за заявку!
    p.modal__txt Мы свяжемся с Вами в ближайшее время
