@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.footer
  position: relative
  box-sizing: border-box

  a
    @extend %opacity-link

  &__up-btn
    position: absolute
    top: 67px
    right: 62px
    display: flex
    align-items: center
    color: $white-darkest
    +font(14px, 22px)
    @extend %opacity-link
    +screen($tablet)
      top: 17px
      right: auto
      left: 30px
    +screen($tablet-sm)
      left: 10px

    img
      margin-right: 9px

  &__content
    background-color: $black-light
    box-sizing: border-box
    padding: 44px 179px 96px
    +screen($tablet)
      padding: 60px 30px 20px
    +screen($tablet-sm)
      padding: 60px 10px 20px

    .container
      +screen(1100)
        padding: 0

  &__top, &__bottom
    display: flex
    justify-content: space-between
    +screen($tablet)
      flex-direction: column
    +screen($tablet)
      flex-direction: row
    +screen($tablet-sm)
      flex-direction: column

  &__top
    align-items: center
    +screen($tablet)

  &__bottom
    margin-top: 30px

    &-left
      max-width: 627px
      +screen(1600)
        max-width: 476px
      +screen(1320)
        max-width: 350px
      +screen(1100)
        max-width: 300px
      +screen($tablet-sm)
        display: none

      p
        color: $white-darkest
        +font(18px, 27px, 300)

        &:not(:first-child)
          margin-top: 40px

    &-right
      display: flex
      color: $white-darkest
      max-width: 434px
      width: 100%
      justify-content: space-between
      +font(14px, 22px)
      +screen(1200)
        max-width: 340px
      +screen($tablet-sm)
        max-width: none
        flex-wrap: wrap

      a
        color: $white-darkest

  &__list
    +screen($tablet-sm)
      &:first-child
        flex-basis: 47%

      &:nth-child(2)
        flex-basis: 53%

    &-item
      &:not(:first-child)
        margin-top: 30px

  &__contacts
    +screen($tablet-sm)
      order: -1
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-end
      margin-top: -288px

    &-block
      +screen($tablet-sm)
        max-width: 53%
        width: 100%

      &:nth-child(2)
        margin: 40px 0 14px
        +screen($tablet-sm)
          margin: 0 0 14px

        span
          display: block
          margin-top: 4px

      &:last-child
        display: flex

        a
          &:not(:last-child)
            margin-right: 20px

  &__menu
    max-width: 692px
    width: 100%
    display: flex
    align-items: center
    flex-wrap: wrap
    +font(18px, 29px, 500)
    +screen(1700)
      max-width: 592px
    +screen(1500)
      +font(16px, 27px, 500)
      max-width: 436px
    +screen(1200)
      max-width: 340px
    +screen($tablet-sm)
      flex-direction: column
      flex-wrap: nowrap
      align-items: flex-start
      max-height: none
      max-width: none
      +font(18px, 28px, 500)
      margin-top: 15px

    a
      white-space: nowrap
      color: $white
      margin: 5px 10px 0 0
      +screen($tablet-sm)
        &:not(:first-child)
          margin: 30px 0 0

  &__logo
    flex-shrink: 0
    +screen(1600)
      width: 476px
    +screen(1320)
      width: 350px
      height: 37px
    +screen(1100)
      width: 300px
      height: 32px
    +screen($tablet-sm)
      margin: 0 auto

    &:hover
      opacity: .6 !important

    &:active
      opacity: 1 !important

  &__copiryght
    background-color: $white
    height: 25px
    +font(14px, 22px)
    color: $black
    +screen($tablet-sm)
      padding: 5px 0
      height: auto

    a
      color: $black
      position: relative
      +screen($tablet-sm)
        margin-top: 15px
        width: fit-content

      &:before
        content: ''
        position: absolute
        left: 0
        bottom: 6px
        height: 1px
        width: 100%
        background-color: $black
        +screen($tablet-sm)
          bottom: 4px

    .container
      display: flex
      justify-content: space-between
      +screen($tablet-sm)
        flex-direction: column

        span
          display: block
