@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.header
  z-index: 10
  position: fixed
  top: 0
  left: 0
  width: 100%
  &__desktop
    +screen($tablet)
      display: none

  &__top
    background-color: $blue-light
    +font(14px, 22px)
    height: 25px
    z-index: 4
    position: relative

    .header__menu
      a + a
        margin-left: 1em

      a
        position: relative

        &:before, &:after
          content: attr(aria-label)
          text-decoration: inherit

        &:before
          font-weight: 500
          visibility: hidden

        &:after
          position: absolute
          left: 0
          top: 0
          right: 0
          bottom: 0

        &:hover:before
          visibility: visible

        &:hover:after
          display: none

  &__middle
    background-color: $white
    +font(18px, 28px, 500)
    min-height: 60px
    position: relative
    display: flex
    flex-direction: column-reverse
    justify-content: center
    box-sizing: border-box
    padding: 15px 0
    box-shadow: 0 0 15px rgba(0, 0, 0, .1)
    +screen($desktop-m)
      +font(16px, 26px, 500)

    a
      &:hover
        color: $blue

      &:active
        color: $black

  &__menu
    display: flex
    align-items: center
    justify-content: space-between
    height: 100%

    a
      transition: color .5s

  &__logo
    position: absolute
    z-index: 3

    &_sotrans
      left: 45px
      top: 19px
      width: 150px
      height: 26px
      +screen($desktop-m)
        left: 25px
        width: 120px
        height: 22px

    &_kamaz
      right: 45px
      top: 0
      width: 66px
      height: 128px
      +screen($desktop-m)
        width: 46px
        height: 89px
        right: 25px

      img
        transition: .5s

      &_first
        position: absolute
        top: 0
        left: 0

      &_second
        position: absolute
        top: -100px
        left: 50%
        transform: translateX(-50%)

      &.active
        .header__logo_kamaz
          &_first
            top: -150px

          &_second
            top: 18px

  &__mobile
    display: none
    height: 25px
    background-color: $white
    filter: drop-shadow(10px 0px 15px rgba(42, 42, 42, 0.05))
    position: relative
    z-index: 10
    +screen($tablet)
      display: block

    .container
      display: flex
      align-items: center
      justify-content: space-between

    &-btn
      width: 50px
      height: 50px
      border-radius: 7px
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      background-color: $white
      box-sizing: border-box
      padding: 10px
      display: flex
      justify-content: center
      align-items: flex-end

  &__search
    display: flex
    justify-content: center
    overflow: hidden
    max-height: 0
    min-height: 0
    transition: min-height .5s
    background-color: $white
    align-items: center
    z-index: 2
    position: relative
    box-shadow: 0 15px 15px rgba(0, 0, 0, .05)

    &.active
      min-height: 70px

    &-input
      width: 438px
      height: 44px
      box-sizing: border-box
      border: 1px solid $blue
      padding-right: 28px
      background: url(../assets/img/header/loupe.svg) no-repeat 97% center

      input
        padding: 11px 0 11px 13px

