section.news
  .container
    .news-top
      h1.subtitle Другие новости
      .desktop-link
        +all-link('Все новости и акции', 'javascript:')
    .news-container
      each card in newsCards
        .news-card
          .news-card-info
            .news-card_img
              img(src=card.img)
            .news-card-top
              span=card.date
              .news-card-top_dot
              span=card.name
            h5(class='news-title')=card.title
          button.btn.btn-fill Подробнее
    .mobile-link
      +all-link('Все новости и акции', 'javascript:')
