section.one-news
  .container
    +prev-link('Назад', 'javascript:')
    h3.subtitle Тест за 10 секунд на проверку локтей
    .one-news-date
      span 9 июн 2023
      .one-news-date-dot
      span новость
    .one-news-container
      .one-news-container-left
        .one-news-photo
          img(src=require('@/assets/img/one-news/news.jpg'))
        .one-news-btns
          button.btn.btn-fill(data-modal="") Задать вопрос
          button.btn.btn-share(data-modal="")
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-news/share.svg')}
      .one-news-container-right
        p Кристина Анатольевна — врач-невролог, владеющий всеми современными методиками для оказания помощи. Занимается диагностикой и лечением заболеваний нервной системы как у детей, так и у взрослых.
        each el in articles
          h4=el.title
          p=el.txt

