section.special
  .container
    .special__grid
      each el in specialList
        a.special__item(href=el.url)
          .special__item-image
            | !{el.image}
          .special__item-txt #{el.txt}
