.news-content
  .news-content__text
    each el in newsTxt
      p.slide-up #{el}
  .news-content__tile.slide-right
    each el in newsImages
      div
        img(src=el alt="")
  .swiper
    .swiper-wrapper
      each el in newsImages
        .swiper-slide
          img(src=el alt="")
    .swiper-button-next
      img(src=require('@/assets/img/novost/vector-right.svg') alt="")

