.address
  .container
    .address__grid
      .address__item
        img(src=require("@/assets/img/address/1.jpg") alt="")
      .address__item
        h2 Сервисные центры
        p Первый сервисный центр Белый Сервис распахнул свои двери 28 марта 2012 года по адресу г. Челябинск, ул. Энгельса 75.
        p На текущий момент «Белый Сервис» имеет три филиала со своими приемщиками и мастерами. Гибко распределяем рабочую нагрузку: если персонал на одной из точек перегружен заказами, то часть работ передается их менее загруженным коллегам из другого филиала.
        a(href="javascript:") Показать адреса
      .address__item
        img(src=require("@/assets/img/address/2.jpg") alt="")
      .address__item
        img(src=require("@/assets/img/address/3.jpg") alt="")
