+modal({title: 'Заказать звонок', modifier: 'modal_vacancies-call'})
  .form__fields
    .form__input
      input(type="text" name="lastName" required)
      label ФИО *
    .form__input
      input(type="tel" name="tel" required)
      label Номер телефона *
  .form__bottom
    h3.form__subtitle Удобное время для звонка
    .form__select
      input(type='hidden' name='' value='' required)
      .form__select-value
        .form__select-value-txt.default Выберите время
        .form__select-value-arrow
          svg(width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M11 1L6 5L1 1' stroke='#929292' stroke-width='2' stroke-linecap='round')
      .form__select-options
        ul.form__select-options-container
          li.form__select-options-item 09:00-10:00
          li.form__select-options-item 10:00-11:00
          li.form__select-options-item 11:00-12:00
          li.form__select-options-item 12:00-13:00
          li.form__select-options-item 13:00-14:00
          li.form__select-options-item 14:00-15:00
          li.form__select-options-item 16:00-17:00
          li.form__select-options-item 17:00-18:00
    .form__check
      input(type="checkbox" name="policy" id="callVacanciesPolicy" required)
      label(for="callVacanciesPolicy") Я согласен на обработку персональных данных в соответстви #[span с #[a(href="#") Политикой конфидициальности ]]
    .form__submit
      button(type="submit") Отправить
