+modal({title: 'Откликнуться на вакансию', modifier: 'modal_vacancies-summary', dataset: 'modal_vacancies-summary'})
  form.modal__form.form
    .form__fields
      .form__input
        input(type="text" name="lastName")
        label ФИО *
      .form__input.form__input_vacancy
        input(type="text" name="lastName")
        label Вакансия *
      .form__input
        input(type="tel" name="tel")
        label Номер телефона *
      .form__input.error
        input(type="email" name="email")
        label Электронная почта *
        .form__input-error Поле обязательное
    .form__file
      input(type="file" name="document")#summaryFile
      label.form__file-label(for='summaryFile')#summaryLabel
        span Прикрепить резюме
        .form__file-btn
          .form__file-btn-add
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/pin-black.svg')}
          .form__file-btn-clear
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/file-clear.svg')}
        .form__file-error Неверный тип документа
      .form__file-txt Прикрепите файл в формате PDF, DOCX, DOC, или PPTX
    .form__check
      input(type="checkbox" name="policy" id="vacanciesPolicy")
      label(for="vacanciesPolicy") Я согласен на обработку персональных данных в соответстви #[br] с #[a(href="#") Политикой конфидициальности ]
    .form__submit
      button(type="submit") Отправить
