+modal({title: 'Откликнуться на вакансию', modifier: 'modal_vacancies-summary'})
  block modal-content
    .modal__form.form
      .form__input
        input(type="text" name="lastName")
        label ФИО *
