@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

html
  min-height: 100vh

body
  position: relative
  overflow-x: hidden
  min-height: 100vh
  font-family: $font
  display: flex
  flex-direction: column

.body
  &_black
    background: $black-gradient, #333333
    color: $white

    .header
      &__reserve
        background: $white
        color: $black

  &_yellow
    background: $blue-gradient
    color: $black

    .header
      &__reserve
        background: $black
        color: $white

a
  text-decoration: none
  display: block

h1, h2, h3, h4, p
  margin: 0

section
  padding: 80px 0 34px
  width: 100%
  min-height: 600px

.header, footer
  flex: 0 0 auto

.footer
  margin-top: -70px

.main
  flex: 1 0 auto
  display: flex

button
  appearance: none
  border: none
  cursor: pointer
  padding: 0
  background: transparent

.container
  max-width: 1440px
  height: 100%
  margin: 0 auto
  padding: 0 80px
  box-sizing: border-box
  position: relative

  &_flex
    display: flex
    justify-content: space-between
    align-items: center

svg,
img
  max-width: 100%

svg
  path, rect, circle
    transition: .4s


// ----------------- Animations

@keyframes colored-pulse
  0%
    width: 0
    height: 0

  50%
    width: calc(100% + 45%)
    height: calc(100% + 45%)

  100%
    width: 0
    height: 0
