@import '_variables';
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.mainHeader,
.mainFooter {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 40px 60px;
    height: 100px;
    background: $mainColor;
    border: solid 1px #707070;
    box-sizing: border-box;
    .navigation {
        &__link {
            text-decoration: none;
            color: $lightColor;
            font: 20px $headerFont;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                color: $hoverColor;
                transition: color .3s ease-out;
            }
        }
    }
    .adress {
        display: block;
        text-decoration: none;
        font: 20px $headerFont;
        color: $lightColor;
        &:hover {
            color: $hoverColor;
            transition: color .3s ease-out;
            cursor: pointer;
        }
    }
}

.section {
    width: 100%;
    height: 900px;
    display: flex;
    box-sizing: border-box;
    .desc {
        display: flex;
        flex-direction: column;
        &__header {
            margin: 20px 0;
            font: 50px/1.5 $headerFont;
            text-transform: uppercase;
        }
        &__underline {
            width: 228px;
            height: 4px;
            background: $hoverColor;
        }
        &__text {
            opacity: 0.9;
            text-transform: uppercase;
            font-family: $textFont;
            line-height: 1.5;
        }
    }
    &__image {
        display: block;
    }
    &_main {
        justify-content: space-around;
        background: url('../packages/img/desktop/cemicircle/gray_right.svg') right center no-repeat;
        .desc {
            margin: 0 0 -30px 0 0;
            align-self: center;
            &__header {
                margin-left: 60px;
                font-size: 45px;
            }
            &__underline {
                height: 7px;
                width: 595px;
            }
            &__text {
                margin-left: 60px;
                font: 30px/1.5 $textFont;
            }
        }
    }
    &_exchange {
        align-content: center;
        background: url('../packages/img/desktop/back.jpg') no-repeat;
        flex-direction: column;
        justify-content: center;
        .desc {
            text-align: center;
            &__header {
                margin: 0;
            }
            &__underline {
                margin: 20px 0 0 0;
                align-self: center;
            }
            &__text {
                font-size: 20px;
            }
            &__gallery {
                overflow: hidden;
                margin: 89px 0 60px 0;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                &Image {
                    display: block;
                    margin-right: 60px;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
    &_features {
        align-items: center;
        justify-content: space-around;
        background: url('../packages/img/desktop/cemicircle/gray_left.svg') left center no-repeat;
        .section__image {
            display: block;
        }
        .desc {
            &__underline {
                height: 4px;
                width: 228px;
            }
            &__lists {
                display: flex;
                flex-flow: row nowrap;
                &Item {
                    padding: 0;
                    list-style: none;
                    font: 20px/2 $textFont;
                    text-transform: uppercase;
                    color: #323657;
                    &:first-child {
                        margin-right: 90px;
                    }
                }
            }
        }
    }
    &_orders {
        align-items: center;
        justify-content: space-around;
        background: url('../packages/img/desktop/cemicircle/white_right.svg') right center no-repeat, url('../packages/img/desktop/back.jpg') no-repeat;
        .desc {
            &__text {
                margin: 60px 0 0 0;
                font: 30px $headerFont;
            }
            &__list {
                list-style: none;
                font: 30px/1.5 $textFont;
                &Item {
                    display: flex;
                    &::before {
                        align-self: center;
                        content: "";
                        background: $hoverColor;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        margin: 0 10px 0 0;
                    }
                }
            }
        }
        .section__image {
            width: 466px;
            height: 580px;
        }
    }
    &_charts {
        background: url('../packages/img/desktop/cemicircle/gray_left.svg') left center no-repeat;
        justify-content: space-around;
        align-items: center;
        .section__image {
            width: 466px;
            height: 580px;
        }
        .desc {
            &__list {
                padding: 0;
                list-style: none;
                text-transform: uppercase;
                font: 30px/1.5 $headerFont;
                &Item {
                    &Span {
                        color: $hoverColor;
                    }
                }
            }
            &__text {
                font-size: 20px;
            }
        }
    }
    &_orderbook {
        background: url('../packages/img/desktop/cemicircle/white_right.svg') right center no-repeat, url('../packages/img/desktop/back.jpg') no-repeat;
        justify-content: space-around;
        align-items: center;
        .desc {
            margin-top: 60px;
            &__text {
                margin-top: 60px;
                font: 30px $headerFont;
                text-transform: uppercase;
                opacity: 1;
            }
        }
        .section__image {
            margin: 0 -45px 0 0;
            width: 326px;
            height: 580px;
        }
    }
    &_timeline {
        align-items: center;
        justify-content: space-around;
        background: url('../packages/img/desktop/cemicircle/gray_left.svg') left center no-repeat;
        .section__image {
            width: 466px;
            height: 580px;
        }
        .desc {
            &__text {
                font: 30px $headerFont;
            }
        }
    }
    &_demo {
        background: url('../packages/img/desktop/cemicircle/white_right.svg') right center no-repeat, url('../packages/img/desktop/back.jpg') no-repeat;
        justify-content: space-around;
        align-items: center;
        .desc {
            &__text {
                margin-top: 60px;
                font: 20px $headerFont;
            }
        }
    }
}