// fonts
$font: 'Gilory', sans-serif

// colors
$white: #fff
$black: #000
$body-color: #f4f4f4
$green: #07999C
$green-dark: #07999C
$gray: #E5E5E5

// screen
$desktop-sm: 1200
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
