@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.form__checkbox
  width: 100%
  max-width: 280px

  label
    width: 100%
    display: flex

    input
      margin-right: 6px

    span
      +font(12px, 14px)

      a
        display: inline
        color: $black
        text-decoration: underline
        transition: opacity .3s

        &:hover
          opacity: .5

        &:active
          opacity: 1
