@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.col-head
  .container
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    font-weight: 300
    padding: 0

  &__logos
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 40px

  &__logo
    width: 240px
    height: 110px
    +screen($mobile)
      width: 120px
      height: 56px

    img
      object-fit: contain
      width: 100%
      height: 100%

    &-sep
      width: 13px
      height: 25px
      flex-shrink: 0
      background: url(../assets/img/collabs/x.svg) center/contain no-repeat
      margin: 0 10px
      +screen($mobile)
        width: 8px
        height: 20px

  &__title
    +font(18px, 24px)

  p
    font-weight: 300
    margin: 15px 0

  a
    color: var(--color)
    text-decoration: none
    transition: .3s

    &:hover
      opacity: .5

    &:active
      opacity: 1
