@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.order-card
  box-sizing: border-box
  border: 1px solid $gray

  &__head
    height: 48px
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    padding: 0 40px
    border-bottom: 1px solid $gray
    +screen($tablet-sm)
      padding: 0 16px

  &__number
    text-transform: uppercase

  &__status
    display: flex
    align-items: center

    &-text
      text-transform: uppercase

    &-popup
      margin-left: 7px
      width: 13px
      height: 13px
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      border: 1px solid $black
      +font(10px, 10px)
      cursor: pointer
      position: relative
      transition: .3s
      flex-shrink: 0

      svg
        path
          transition: .3s

      &-hidden
        position: absolute
        min-width: 224px
        text-align: center
        background: $black
        color: $white
        box-sizing: border-box
        padding: 15px 10px
        +font(10px, 14px)
        top: -67px
        left: 10%
        transform: translateX(-90%)
        display: none
        z-index: 5
        +screen($mobile)
          padding: 5px 12px
          top: -40px

        &:after
          content: ''
          position: absolute
          width: 9px
          height: 9px
          top: calc(100% - 1px)
          right: 13px
          background: url(../assets/img/global/treangle.svg) center/cover no-repeat

      &:hover
        background: $black
        +screen($tablet)
          background: transparent

        .order-card__status-popup
          &-hidden
            display: block
            +screen($tablet)
              display: none

        svg
          path
            fill: $white
            +screen($tablet)
              fill: $black

      &.active
        background: $black

        .order-card__status-popup
          &-hidden
            display: block

        svg
          path
            fill: $white

  &__number,
  &__status
    +screen($tablet-sm)
      +font(12px, 16px)

  &__desc
    box-sizing: border-box
    padding: 25px 40px
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    +screen($tablet-sm)
      padding: 50px 15px 20px

    &:not(:last-child)
      border-bottom: 1px solid $gray

    & > div
      display: flex
      align-items: center

  &__count,
  &__price,
  &__view
    +font(18px, 24px)
    +screen($tablet-sm)
      +font(16px, 22px)

  &__view
    align-items: center
    width: 50%
    justify-content: flex-start
    +screen($tablet-sm)
      width: auto

    &-image
      width: 80px
      height: 80px
      flex-shrink: 0
      margin-right: 40px
      +screen($tablet-sm)
        margin-right: 20px
        width: 50px
        height: 50px

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

    &-name
      +screen($tablet-sm)
        position: absolute
        top: 15px
        left: 15px
        width: calc(100% - 30px)
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

  &__size
    width: 10%
    justify-content: center
    +screen($tablet-sm)
      margin-right: 25px
      width: auto
      justify-content: flex-end
      box-sizing: border-box

    &_spot
      .order-card__size-image
        border: none
        width: auto
        white-space: nowrap
        +font(18px, 24px)
        +screen($tablet-sm)
          +font(10px, 12px)

    &-image
      width: 28px
      height: 28px
      box-sizing: border-box
      border: 1px solid $black
      display: flex
      align-items: center
      justify-content: center
      padding: 5px

      svg
        max-width: 100%

  &__count
    width: 25%
    justify-content: center
    +screen($mobile)
      width: auto
      justify-content: flex-start
      box-sizing: border-box

  &__price
    width: 15%
    justify-content: flex-end
    +screen($tablet-sm)
      width: auto
      margin-left: auto

  &__bottom
    height: 60px
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    padding: 0 40px
    border-top: 1px solid $gray
    +screen($tablet-sm)
      height: auto
      flex-direction: column
      padding: 15px 15px 20px

    a:last-child,
    form:last-child
      margin-left: auto
      +screen($tablet-sm)
        margin: 10px 0 0 0


  &__more
    color: $black
    text-transform: uppercase
    transition: opacity .3s
    width: 266px
    height: 36px
    box-sizing: border-box
    border: 1px solid $black
    display: flex
    align-items: center
    justify-content: center
    +screen($tablet-sm)
      +font(12px, 16px)
      width: 100%

    &:hover
      opacity: .5

    &:active
      opacity: 1

  &__repeat,
  &__cancel
    width: 266px
    height: 36px
    color: $black
    transition: opacity .3s
    text-transform: uppercase
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    border: 1px solid $black
    +screen($tablet-sm)
      width: 100%
      +font(12px, 16px)

    &:hover
      opacity: .5

    &:active
      opacity: .1
