@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.pa
  width: 100%

  .container
    &.container_bg
      +screen($mobile)
        padding: 0 15px

  &__menu
    max-width: 924px
    margin: 0 auto
    position: relative
    +screen($tablet)
      box-sizing: border-box
      padding: 0 30px
    +screen(512)
      padding: 0 15px
      display: flex
      overflow: auto
      scrollbar-width: none

      &:after
        content: ' '
        display: block
        width: 15px
        height: 30px
        flex-shrink: 0

    &::-webkit-scrollbar
      width: 0
      height: 0
      display: none
      background: transparent

    &-overlay
      display: none
      +screen($mobile)
        display: block
        pointer-events: none
        width: 100%
        height: 100%
        position: fixed
        top: 57px
        left: 0

        &:after,
        &:before
          content: ''
          position: absolute
          width: 11px
          height: 30px
          top: 0
          background: linear-gradient(270deg, #FFFFFF 9.09%, rgba(255, 255, 255, 0) 95.45%)

        &:after
          right: 0

        &:before
          left: 0
          transform: rotate(180deg)

    &-container
      display: flex

    a
      display: flex
      justify-content: center
      align-items: center
      color: $black
      width: 25%
      height: 38px
      text-transform: uppercase
      box-sizing: border-box
      transition: opacity .3s
      border: 1px solid $gray
      +screen($tablet)
        flex-grow: 1
        height: 30px
        +font(11px, 11px)
      +screen(512)
        width: 120px
        flex-shrink: 0

      &:not(:last-child)
        border-right: none

      &.active
        background-color: $black
        border-color: $black
        color: $white

      &:hover:not(.active)
        opacity: .5

      &:active:not(.active)
        opacity: 1
