@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.info
  padding: 1px
  box-sizing: border-box
  background: var(--color)

  &__not-available
    color: var(--color)
    margin-top: 15px
    text-transform: uppercase

  &__title
    +font(16px, 20px)
    text-transform: uppercase

  &__link
    text-decoration: underline
    margin-top: 12px
    color: $black
    transition: opacity .3s
    font-weight: 300
    display: block

    &_color
      text-decoration: none

      & + .info__sizes > .info__sizes-item
        +screen($tablet-sm)
          min-width: 100px

        &.disabled
          &:after,
          &:before
            content: ''
            width: 100%
            height: 100%
            background-color: $gray
            position: absolute
            top: 0
            left: 0

          &:after
            background: url(../assets/img/sizes/vector-left.svg) no-repeat center/cover

          &:before
            background: url(../assets/img/sizes/vector-right.svg) no-repeat center/cover

        & > .info__sizes-item-image
          box-sizing: border-box
          padding: 1px

          img
            width: 100%
            height: 100%
            object-fit: cover

    &_cert
      text-decoration: none

      &:hover
        opacity: 1

      & + .info__sizes > .info__sizes-item
        width: 100px
        +screen($tablet-sm)
          min-width: 100px

        & > .info__sizes-item-image
          box-sizing: border-box
          padding: 14px
          +screen($tablet)
            padding: 9px 14px

    &:hover
      opacity: .5

    &:active
      opacity: 1

  &__wrap
    background: $white

  &__top
    box-sizing: border-box
    padding: 46px 40px
    +screen($mobile)
      padding: 20px

  &__name
    +font(16px, 22px)
    text-transform: uppercase
    margin-bottom: 15px
    +screen($tablet)
      +font(18px, 24px)

  &__sizes
    margin-top: 6px
    display: flex
    +screen($mobile)
      flex-wrap: wrap

    &-item
      width: 47px
      height: 47px
      background-color: $black
      box-sizing: border-box
      padding: 1px
      position: relative
      cursor: pointer
      transition: background-color .3s
      flex-shrink: 0
      +screen($mobile)
        width: 36px
        height: 36px
        margin-top: 5px
        margin-bottom: 5px

      input[type='checkbox']
        position: absolute
        top: 0
        left: 0
        visibility: hidden
        pointer-events: none

      &-check
        position: absolute
        right: -3px
        top: -3px
        width: 13px
        height: 13px
        box-sizing: border-box
        display: none
        align-items: center
        justify-content: center
        background: $white
        border: 1px solid var(--color)


      svg
        path
          transition: .3s

      &:hover
        background: var(--color)

        svg
          path[fill]
            fill: var(--color)
          path[stroke]
            stroke: var(--color)

      &.disabled
        background-color: $gray

        svg
          path[fill]
            fill: $gray
          path[stroke]
            stroke: $gray

      &.active:not(.disabled)
        background: var(--color)

        .info__sizes-item-check
          display: flex

        svg
          path[fill]
            fill: var(--color)
          path[stroke]
            stroke: var(--color)

      &-image
        width: 100%
        height: 100%
        background: $white
        display: flex
        align-items: center
        justify-content: center

        svg
          width: 100%

        &_cert
          width: 100%
          height: 100%
          padding: 13px !important
          +screen(576)
            padding: 9px !important

          &[title="10000"]
            padding: 10px !important
            +screen(576)
              padding: 9px !important

          svg
            height: 100%


      &:not(:last-child)
        margin-right: 9px

  &__desc
    margin-top: 30px
    font-weight: 300

  &__price
    margin-top: 25px
    font-weight: 300

  &__submit
    width: 126px
    height: 36px
    box-sizing: border-box
    padding: 1px
    background: var(--color)
    margin-top: 15px

    a
      width: 100%
      height: 100%
      background-color: $white
      padding: 0
      text-transform: uppercase
      color: var(--color)
      display: flex
      align-items: center
      justify-content: center

    &:hover
      opacity: .5

    &:active
      opacity: 1

  &__item
    position: relative
    font-weight: 300

    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 1px
      background: var(--color)

    &-visible
      display: flex
      box-sizing: border-box
      padding: 15px 40px
      justify-content: space-between
      align-items: center
      cursor: pointer
      +screen($mobile)
        padding: 13px 20px

    &-title
      text-transform: uppercase

    &-arrow
      flex-shrink: 0
      width: 18px
      height: 15px
      background: url(../assets/img/global/arrow-down.svg) center/cover no-repeat
      transition: transform .3s

      &.active
        transform: rotate(180deg)

    &-hidden
      max-height: 0
      overflow: hidden
      box-sizing: border-box
      padding: 0 40px
      transition: max-height .3s
      +screen($mobile)
        padding: 0 20px

      &.active
        padding-bottom: 20px

      a
        color: $black
        text-decoration: underline
        transition: opacity .3s

        &:hover
          opacity: .5

        &:active
          opacity: 1


