@font-face {
  font-family: 'NotoSans';
  src: local('NotoSans-Regular');
  src: url('../assets/fonts/NotoSans-Regular.woff2') format('woff2');
  src: url('../assets/fonts/NotoSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: local('NotoSans-Bold');
  src: url('../assets/fonts/NotoSans-Bold.woff2') format('woff2');
  src: url('../assets/fonts/NotoSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan-Regular');
  src: url('../assets/fonts/Spartan-Regular.woff2') format('woff2');
  src: url('../assets/fonts/Spartan-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('Spartan-Bold');
  src: url('../assets/fonts/Spartan-Bold.woff2') format('woff2');
  src: url('../assets/fonts/Spartan-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
