// fonts
$noto: 'NotoSans', sans-serif;
$spartan: 'Spartan', sans-serif;
$roboto: 'Roboto', sans-serif;

// colors
$white: #fff;
$black: #171E29;
$blue: #55B8FF;
$gray: #BFC6D0;
$body: #f2f2f2;

// screen
$desktop-sm: 1200;
$tablet: 1024;
$tablet-sm: 768;
$tablet-xs: 576;
