@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.filter
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 34px

  &__search
    box-sizing: border-box
    width: 260px
    height: 20px
    padding-left: 34px
    background: url(../assets/img/loupe.svg) center left no-repeat

    input
      border: none
      outline: none
      padding: 0
      width: 100%

      &::placeholder
        color: $gray

  &__sort
    display: flex
    padding-right: 20px
    position: relative

    &-txt
      margin-right: 15px

    &-select
      transition: .4s
      position: relative
      cursor: pointer

      &_active
        .filter__sort-select
          &-options
            opacity: 1
            visibility: visible
            pointer-events: auto

          &-arrow
            transform: rotate(180deg)
            top: 0

      &-arrow
        position: absolute
        right: -17px
        top: -2px
        transition: transform .4s

      &-options
        background-color: $white
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25)
        border-radius: 6px
        position: absolute
        left: -20px
        top: 100%
        opacity: 0
        visibility: hidden
        pointer-events: none

      &-item
        box-sizing: border-box
        padding: 10px 20px

        &_active
          background-color: $blue-dark
          color: $white

        &:hover:not(.active)
          background-color: $blue-light



