@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.list
  &__table
    margin-top: 30px

    &-head
      display: flex
      justify-content: space-between
      box-sizing: border-box
      padding-bottom: 16px

      &-item
        border-left: 1px solid $gray
        box-sizing: border-box
        padding-left: 20px
        height: 32px
        display: flex
        align-items: center
        flex-shrink: 0

        &:first-child
          flex-basis: 8%
          padding: 0
          border: none

        &:nth-child(2)
          flex-basis: 67%

        &:nth-child(3)
          flex-basis: 15%

        &:last-child
          flex-basis: 10%

  &__item
    display: flex
    align-items: center
    padding: 20px 0
    border-bottom: 1px solid $gray-light
    box-sizing: border-box

    &_active
      background-color: $blue-lightest

      .list__item
        &-check
          border-color: $blue

          button
            border-color: $blue
            background: url(../assets/img/check.svg) center 45%/65% 65% no-repeat, $white

        &-status
          color: $blue

    & > div
      padding: 0 20px
      box-sizing: border-box
      display: flex
      align-items: center
      flex-shrink: 0

    &-check
      flex-basis: 8%
      padding: 0 0 0 40px !important

      button
        width: 20px
        height: 20px
        border-radius: 50%
        box-sizing: border-box
        border: 1px solid $black
        transition: none

    &-text
      flex-basis: 67%

    &-status
      flex-basis: 15%
      color: $orange

    &-desc
      flex-basis: 10%


