extends ../layouts/main/layout.pug

block title
  | TRUCKS.POINT

block content
  section.application
    a.close-btn(href='index.html')
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/close.svg')}
    h3.application__title
      | Список заявок (Отображены
      strong  1-30
      |  из
      strong  5101
      |  )
    include ../components/application/search
    include ../components/application/list
  include ../components/global/pagination
























