extends ../layouts/main/layout-map

block title
  | TRUCKS.POINT

block content
  section.one-application
    .one-application_header
      button.one-application-creating_header_btn-close
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-creating/close.svg')}


