extends ../layouts/main/layout-map

block title
  | TRUCKS.POINT

block content
  section.one-trailer.page
    .one-trailer-header
      .one-trailer-header-title
        button
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-creating/close.svg')}
        h4 Прицеп
      button
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-car/printer.svg')}
    .one-trailer-content
      .one-trailer-content-title
        span Информация о прицепе
      .one-trailer-content-item
        span.one-trailer-content-item__title Госномер*
        input(type='text' name='Госномер' required='').one-trailer-content-item__input
      .one-trailer-content-item
        span.one-trailer-content-item__title Марка*
        input(type='text' name='Марка' required='').one-trailer-content-item__input
      .one-trailer-content-item
        span.one-trailer-content-item__title Тип прицепа*
        .one-car-content-item__input
          select(name='Тип прицепа' required='').one-trailer-content-item__input
            option(value='')
            option(value='Рефрижератор') Рефрижератор
      .one-trailer-content-item
        span.one-trailer-content-item__title Тип загрузки/выгрузки
        .one-car-content-item__input
          select(name='Тип загрузки/выгрузки' required='').one-trailer-content-item__input
            option(value='')
      .one-trailer-content-item.one-trailer-content-item-docks
        span.one-car-content-item__title Cсылки на документы
        textarea(name='docks').one-car-content-item__input
