extends ../layouts/main/layout-map

block title
  | TRUCKS.POINT

block content
  section.one-contractor.page
    .one-contractor-header
      .one-contractor-header-title
        button
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-application-creating/close.svg')}
        h4 Контрагент
      button
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-car/printer.svg')}
    form.one-contractor-content
      .one-contractor-content-title
        span Информация о контрагенте
      .one-contractor-content-item
        .one-contractor-content-item__title
          span Наименование
          span.text-red *
        input(type='text' name='Naming' required='').one-contractor-content-item__input
      .one-contractor-content-item
        span.one-contractor-content-item__title Статус
        input(type='text' name='Status').one-contractor-content-item__input
      .one-contractor-content-item
        span.one-contractor-content-item__title Тип
        input(type='text' name='Type').one-contractor-content-item__input
      .one-contractor-content-item
        .one-contractor-content-item__title
          span ИНН
          span.text-red *
        input(type='text' name='inn' required='').one-contractor-content-item__input
      .one-contractor-content-item
        .one-contractor-content-item__title
          span КПП
          span.text-red *
        input(type='text' name='kpp' required='').one-contractor-content-item__input
      a.one-contractor-content-link(href='counterparties.html' target='_blank')
        span Список адресов контрагента
        | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/one-contractor/arrow.svg')}
