extends ../layouts/main/layout.pug

block title
  | TRUCKS.POINT

block content
  section.planning
    button.close-btn
      | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/trucks/close.svg')}
    .planning-container
      include ../components/planning/header
    include ../components/planning/filter
    include ../components/planning/titles
    include ../components/planning/info

