section.main-news
  .container
    h2.section-title Новости
    .main-news__tile
      each el in  mainNews
        +news-card(el)
    a.btn.btn_orange.btn_orange_xs.main-news__link(href="news.html")
      span Все новости
