// font
$font: 'Roboto', sans-serif

// colors
$black: #1D1D1B
$white: #fff
$orange: #EB5A0A
$modalOverlay: rgba($black, .5)

// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
