// font
$font: 'Roboto', sans-serif

// colors
$black: #1D1D1B
$white: #fff
$orange: #EB5A0A
$red: #DA1F15
$grey-light: #F4F4F4
$grey: #B2B2B2
$grey-dark: #707070
$modalOverlay: rgba(29, 29, 27, 0.6)

// screen
$desktop: 1440
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
