@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.news
  padding: 26px 0 100px
  +screen($desktop)
    padding: 20px 0 80px
  +screen($tablet)
    padding: 17px 0 60px

  &__content
    margin-top: 40px
    +screen($desktop)
      margin-top: 30px
    +screen($tablet)
      margin-top: 20px

    &-item
      grid-gap: 50px 30px
      +screen($desktop)
        grid-gap: 40px 20px
      +screen($tablet)
        grid-gap: 30px
        grid-template-columns: 1fr !important

      &:first-child
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr))
        +screen($desktop)
          grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))

        .promo-card
          &__image
            aspect-ratio: 16/9

          &__title
            +font(20px, 23px, 700)
            margin-top: 16px
            height: 46px
            +screen($desktop)
              +font(18px, 21px, 700)
              margin-top: 10px

      &:last-child
        grid-template-columns: repeat(auto-fit, minmax(650px, 1fr))

        .promo-card
          &__image
            aspect-ratio: 20/8

          &__title
            +font(22px, 26px, 700)
            margin-top: 16px
            height: 52px
            +screen($desktop)
              +font(20px, 23px, 700)
              margin-top: 10px
            +screen($tablet)
              height: 43px
              +font(18px, 21px, 700)
