@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.news
  padding: 26px 0 100px
  +screen($desktop)
    padding: 20px 0 80px
  +screen($tablet)
    padding: 17px 0 60px

  &__switcher
    display: flex
    gap: 14px
    margin-top: 40px
    +screen($desktop)
      margin-top: 30px
    +screen($tablet)
      gap: 8px

    &-btn
      width: 135px
      height: 50px
      box-sizing: border-box
      border: 2px solid #E8E8E8
      border-radius: 50px
      +font(20px, 20px, 500)
      +screen($desktop)
        width: 119px
        height: 42px
        +font(18px, 18px, 500)
      +screen($tablet)
        width: 101px
        height: 38px
        +font(16px, 16px, 500)

      &:hover:not(.active)
        color: $blue

      &.active
        background-color: $blue
        border-color: $blue
        color: $white

  &__content
    margin-top: 40px
    +screen($desktop)
      margin-top: 30px
    +screen($tablet)
      margin-top: 20px

    &-item
      grid-gap: 50px 30px
      display: none
      +screen($desktop)
        grid-gap: 40px 20px
      +screen($tablet)
        grid-gap: 30px
        grid-template-columns: 1fr !important

      &.active
        display: grid

      &:first-child
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr))
        +screen($desktop)
          grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))

        .promo-card
          &__image
            aspect-ratio: 16/9

          &__title
            +font(20px, 23px, 700)
            margin-top: 16px
            height: 46px
            +screen($desktop)
              +font(18px, 21px, 700)
              margin-top: 10px

      &:last-child
        grid-template-columns: repeat(auto-fit, minmax(650px, 1fr))

        .promo-card
          &__image
            aspect-ratio: 20/8

          &__title
            +font(22px, 26px, 700)
            margin-top: 16px
            height: 52px
            +screen($desktop)
              +font(20px, 23px, 700)
              margin-top: 10px
            +screen($tablet)
              height: 43px
              +font(18px, 21px, 700)
