@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.news-page
  margin: 0 auto
  box-sizing: border-box
  padding: 20px 0 0
  width: 780px
  +screen($desktop)
    width: 594px
  +screen($tablet)
    width: 100%
    padding: 0 16px

  .back__btn
   display: flex
   width: 78px
   align-items: center
   svg
    margin-right: 9px
    path
     stroke: $black
   span
    +font(16px, 20px, 500)
    transition: color 0.1s
    +screen($tablet)
      font-size: 14px
   &:hover span, &:hover svg path
     color: $orange
     stroke: $orange

  &__date
    +font(16px, 19px, 500)
    color: $gray-medium
    margin: 26px 0 8px 0
    +screen($desktop)
      +font(16px, 19px, 500)
      margin-top: 22px
    +screen($tablet)
      line-height: 26px
      margin: 20px 0 6px 0

  &__title
    +font(40px, 47px, 800)
    color: $black
    margin-bottom: 30px
    +screen($desktop)
      +font(30px, 35px, 800)
      margin-bottom: 22px
    +screen($tablet)
      +font(20px, 24px, 800)
      margin-bottom: 26px

  &__img
    margin-bottom: 26px
    +screen($desktop)
      padding-bottom: 20px
    +screen($tablet)

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

  &__text
    +font(20px, 34px)
    color: $black
    +screen($desktop)
      +font(16px, 26px)

  &__swiper-wrapper
    margin: 26px 0 26px 0
    +screen($desktop)
      margin: 20px 0 20px 0

  .swiper
    position: relative

    &-slide
      img
        +screen($tablet)
          width: 100%
          height: 100%
          object-position: center
          object-fit: cover

    &-button
      &-prev, &-next
        height: 99%
        width: 40px
        top: 0
        margin: 0
        +screen($desktop)
         width: 30px
        +screen($tablet-xs)
          display: none

        &:hover:not(:active)
          background-color: rgba(11, 11, 20, 0.2)

      &-next
        margin-right: -12px
        margin-left: 0

      &-prev
        margin-right: 0
        margin-left: -12px

    &-pagination
      +screen($tablet-xs)
        display: none


      &-bullet
        background-color: rgba(255, 255, 255, 0.4)
        opacity: 1
        width: 6px
        height: 6px

        &-active
          background-color: $white

  &__link
    display: flex
    background-color: $white-gray
    padding: 6px 16px
    width: 180px
    align-items: center
    justify-content: space-between
    margin: 20px 0 100px 0
    +screen($desktop)
      padding: 4px 16px
      width: 150px


    img
     margin-right: 6px

    p
     +font(18px, 34px, 500)
     color: $black
     +screen($desktop)
      font-size: 14px






