-
  // header
  headerTopMenu = [
    {href: 'javascript:', txt: 'Контакты', label: 'Контакты'},
    {href: 'javascript:', txt: 'О компании', label: 'О компании'},
    {href: 'javascript:', txt: 'Услуги', label: 'Услуги'},
    {href: 'javascript:', txt: 'Сервис', label: 'Сервис'},
    {href: 'javascript:', txt: 'Запчасти', label: 'Запчасти'},
    {href: 'javascript:', txt: 'Лизинг и кредит', label: 'Лизинг и кредит'},
    {href: 'javascript:', txt: 'Лицензия', label: 'Лицензия'},
    {href: 'javascript:', txt: 'Гарантия', label: 'Гарантия'},
    {href: 'javascript:', txt: 'Поиск по сайту', label: 'Поиск по сайту', searchBtn: true}
  ]

  headerMiddleMenu = [
    {href: 'javascript:', txt: 'Седельные тягачи'},
    {href: 'javascript:', txt: 'Бортовые автомобили'},
    {href: 'javascript:', txt: 'Самосвалы'},
    {href: 'javascript:', txt: 'Спецтехника'},
    {href: 'javascript:', txt: 'Шасcи'},
    {href: 'javascript:', txt: 'Прицепы и полуприцепы'}
  ]

  // footer
  footerMenu = [
    {href: 'javascript:', txt: 'Седельные тягачи'},
    {href: 'javascript:', txt: 'Бортовые автомобили'},
    {href: 'javascript:', txt: 'Самосвалы'},
    {href: 'javascript:', txt: 'Шасcи'},
    {href: 'javascript:', txt: 'Спецтехника'}
  ]

  footerList = [
    [
      {href: 'javascript:', txt: 'О компании'},
      {href: 'javascript:', txt: 'Услуги'},
      {href: 'javascript:', txt: 'Сервис'},
      {href: 'javascript:', txt: 'Запчасти'}
    ],
    [
      {href: 'javascript:', txt: 'Лизинг и кредит'},
      {href: 'javascript:', txt: 'Лицензия'},
      {href: 'javascript:', txt: 'Гарантия'}
    ]
  ]

  // mobileMenu
  leftMenu = [
    {href: 'javascript:', txt: 'Сидельные тягачи'},
    {href: 'javascript:', txt: 'Бортовые автомобили'},
    {href: 'javascript:', txt: 'Самосвалы'},
    {href: 'javascript:', txt: 'Спецтехника'},
    {href: 'javascript:', txt: 'Шасcи'},
    {href: 'javascript:', txt: 'Прицепы и полуприцепы'}
  ]
  rightMenu = [
    {href: 'javascript:', txt: 'О компании'},
    {href: 'javascript:', txt: 'Услуги'},
    {href: 'javascript:', txt: 'Сервис'},
    {href: 'javascript:', txt: 'Запчасти'},
    {href: 'javascript:', txt: 'Лизинг и кредит'},
    {href: 'javascript:', txt: 'Лицензия'},
    {href: 'javascript:', txt: 'Гарантия'},
    {href: 'javascript:', txt: 'Контакты'}
  ]

  // top slider
  topSliderDesktop = [
    require('@/assets/img/top-slider/slides/1.jpg'),
    require('@/assets/img/top-slider/slides/2.jpg'),
    require('@/assets/img/top-slider/slides/3.jpg'),
    require('@/assets/img/top-slider/slides/4.jpg'),
    require('@/assets/img/top-slider/slides/5.jpg'),
    require('@/assets/img/top-slider/slides/6.jpg'),
    require('@/assets/img/top-slider/slides/7.jpg'),
    require('@/assets/img/top-slider/slides/8.jpg')
  ]

  // trucks
  trucksGrid = [
    {txt: 'Cедельные <br> тягачи', href: 'javascript:', img: require('@/assets/img/trucks/saddle-min.png'), count: 32},
    {txt: 'Бортовые <br> автомобили', href: 'javascript:', img: require('@/assets/img/trucks/onboard-min.png'), count: 15},
    {txt: 'Самосвалы', href: 'javascript:', img: require('@/assets/img/trucks/dump-min.png'), count: 67},
    {txt: 'Спецтехника', href: 'javascript:', img: require('@/assets/img/trucks/special-min.png'), count: 95},
    {txt: 'Шасси', href: 'javascript:', img: require('@/assets/img/trucks/chassis-min.png'), count: 15},
    {txt: 'Прицепы <br> и полу <br> прицепы', href: 'javascript:', img: require('@/assets/img/trucks/trailers-min.png'), count: 65},
    {txt: 'Автобусы', href: 'javascript:', img: require('@/assets/img/trucks/bus-min.png'), count: 95}
  ]
