-
  // header

  headerTopMenu = [
    {href: 'javascript:', txt: 'Контакты', label: 'Контакты'},
    {href: 'javascript:', txt: 'О компании', label: 'О компании'},
    {href: 'javascript:', txt: 'Услуги', label: 'Услуги'},
    {href: 'javascript:', txt: 'Сервис', label: 'Сервис'},
    {href: 'javascript:', txt: 'Запчасти', label: 'Запчасти'},
    {href: 'javascript:', txt: 'Лизинг и кредит', label: 'Лизинг и кредит'},
    {href: 'javascript:', txt: 'Лицензия', label: 'Лицензия'},
    {href: 'javascript:', txt: 'Гарантия', label: 'Гарантия'},
    {href: 'javascript:', txt: 'Поиск по сайту', label: 'Поиск по сайту'}
  ]

  headerMiddleMenu = [
    {href: 'javascript:', txt: 'Седельные тягачи'},
    {href: 'javascript:', txt: 'Бортовые автомобили'},
    {href: 'javascript:', txt: 'Самосвалы'},
    {href: 'javascript:', txt: 'Спецтехника'},
    {href: 'javascript:', txt: 'Шасcи'},
    {href: 'javascript:', txt: 'Прицепы и полуприцепы'}
  ]

  // footer

  footerMenu = [
    {href: 'javascript:', txt: 'Седельные тягачи'},
    {href: 'javascript:', txt: 'Бортовые автомобили'},
    {href: 'javascript:', txt: 'Самосвалы'},
    {href: 'javascript:', txt: 'Шасcи'},
    {href: 'javascript:', txt: 'Спецтехника'}
  ]

  footerList = [
    [
      {href: 'javascript:', txt: 'О компании'},
      {href: 'javascript:', txt: 'Услуги'},
      {href: 'javascript:', txt: 'Сервис'},
      {href: 'javascript:', txt: 'Запчасти'}
    ],
    [
      {href: 'javascript:', txt: 'Лизинг и кредит'},
      {href: 'javascript:', txt: 'Лицензия'},
      {href: 'javascript:', txt: 'Гарантия'}
    ]
  ]
