-
  //- global
  mainModifier = null

  //- header
  headerTopMenu = [
    {href: ' kontakty.html', txt: 'Контакты', label: 'Контакты'},
    {href: 'o-kompanii.html', txt: 'О компании', label: 'О компании'},
    {href: 'uslugi.html', txt: 'Услуги', label: 'Услуги'},
    {href: 'servis.html', txt: 'Сервис', label: 'Сервис'},
    {href: 'zapchasti.html', txt: 'Запчасти', label: 'Запчасти'},
    {href: 'lizing-i-kredit.html', txt: 'Лизинг и кредит', label: 'Лизинг и кредит'},
    {href: 'javascript:', txt: 'Лицензия', label: 'Лицензия'},
    {href: 'garantiya.html', txt: 'Гарантия', label: 'Гарантия'},
    {href: 'javascript:', txt: 'Поиск по сайту', label: 'Поиск по сайту', searchBtn: true}
  ]

  headerMiddleMenu = [
    {href: 'sedelnye-tyagachi.html', txt: 'Седельные тягачи'},
    {href: 'bortovye-avtomobili.html', txt: 'Бортовые автомобили'},
    {href: 'samosvaly.html', txt: 'Самосвалы'},
    {href: 'spectehnika.html', txt: 'Спецтехника'},
    {href: 'shassi.html', txt: 'Шасcи'},
    {href: 'pricepy-i-polupricepy.html', txt: 'Прицепы и полуприцепы'},
    {href: 'avtobusy.html', txt: 'Автобусы'}
  ]

  //- footer
  footerMenu = [
    {href: 'sedelnye-tyagachi.html', txt: 'Седельные тягачи'},
    {href: 'bortovye-avtomobili.html', txt: 'Бортовые автомобили'},
    {href: 'samosvaly.html', txt: 'Самосвалы'},
    {href: 'shassi.html', txt: 'Шасcи'},
    {href: 'spectehnika.html', txt: 'Спецтехника'}
  ]

  footerList = [
    [
      {href: 'o-kompanii.html', txt: 'О компании'},
      {href: 'uslugi.html', txt: 'Услуги'},
      {href: 'servis.html', txt: 'Сервис'},
      {href: 'zapchasti.html', txt: 'Запчасти'}
    ],
    [
      {href: 'lizing-i-kredit.html', txt: 'Лизинг и кредит'},
      {href: 'javascript:', txt: 'Лицензия'},
      {href: 'garantiya.html', txt: 'Гарантия'}
    ]
  ]

  //- mobileMenu
  leftMenu = [
    {href: 'sedelnye-tyagachi.html', txt: 'Седельные тягачи'},
    {href: 'bortovye-avtomobili.html', txt: 'Бортовые автомобили'},
    {href: 'samosvaly.html', txt: 'Самосвалы'},
    {href: 'spectehnika.html', txt: 'Спецтехника'},
    {href: 'shassi.html', txt: 'Шасси'},
    {href: 'pricepy-i-polupricepy.html', txt: 'Прицепы и полуприцепы'}
  ]
  rightMenu = [
    {href: 'o-kompanii.html', txt: 'О компании'},
    {href: 'uslugi.html', txt: 'Услуги'},
    {href: 'servis.html', txt: 'Сервис'},
    {href: 'zapchasti.html', txt: 'Запчасти'},
    {href: 'lizing-i-kredit.html', txt: 'Лизинг и кредит'},
    {href: 'javascript:', txt: 'Лицензия'},
    {href: 'garantiya.html', txt: 'Гарантия'},
    {href: ' kontakty.html', txt: 'Контакты'}
  ]

  //- top slider
  topSliderTitle = null
  topSliderText = null
  txtModifier = null

  topSliderDesktop = [
    require('@/assets/img/top-slider/slides/1.jpg'),
    require('@/assets/img/top-slider/slides/2.jpg'),
    require('@/assets/img/top-slider/slides/3.jpg'),
    require('@/assets/img/top-slider/slides/4.jpg'),
    require('@/assets/img/top-slider/slides/5.jpg'),
    require('@/assets/img/top-slider/slides/6.jpg'),
    require('@/assets/img/top-slider/slides/7.jpg'),
    require('@/assets/img/top-slider/slides/8.jpg')
  ]

  topSliderOther = [
    require('@/assets/img/top-slider/slides/9.jpg'),
    require('@/assets/img/top-slider/slides/10.jpg'),
    require('@/assets/img/top-slider/slides/11.jpg'),
    require('@/assets/img/top-slider/slides/12.jpg'),
    require('@/assets/img/top-slider/slides/13.jpg')
  ]

  topSliderSlides = topSliderDesktop

  //- trucks
  trucksGrid = [
    {txt: 'Cедельные <br> тягачи', href: 'sedelnye-tyagachi.html', img: require('@/assets/img/trucks/saddle-min.png'), count: 32},
    {txt: 'Бортовые <br> автомобили', href: 'bortovye-avtomobili.html', img: require('@/assets/img/trucks/onboard-min.png'), count: 15},
    {txt: 'Самосвалы', href: 'samosvaly.html', img: require('@/assets/img/trucks/dump-min.png'), count: 67},
    {txt: 'Спецтехника', href: 'spectehnika.html', img: require('@/assets/img/trucks/special-min.png'), count: 95},
    {txt: 'Шасси', href: 'shassi.html', img: require('@/assets/img/trucks/chassis-min.png'), count: 15},
    {txt: 'Прицепы <br> и полу <br> прицепы', href: 'pricepy-i-polupricepy.html', img: require('@/assets/img/trucks/trailers-min.png'), count: 65},
    {txt: 'Автобусы', href: 'avtobusy.html', img: require('@/assets/img/trucks/bus-min.png'), count: 95}
  ]

  //- popular slider
  popularSlider = [
    {
      images: [require('@/assets/img/popular/1.jpg'), require('@/assets/img/popular/2.jpg'), require('@/assets/img/popular/3.jpg'), require('@/assets/img/popular/4.jpg'), require('@/assets/img/popular/5.jpg'), require('@/assets/img/popular/6.jpg')],
      name: 'КАМАЗ 5490',
      type: 'Тягач',
      status: 'В наличии',
      statusModifier: 'stock',
      year: '2019',
      power: '298 л.с.',
      price: '3 299 999 руб',
      link: 'product-page.html'
    },
    {
      images: [require('@/assets/img/popular/2.jpg'), require('@/assets/img/popular/3.jpg'), require('@/assets/img/popular/4.jpg'), require('@/assets/img/popular/5.jpg'), require('@/assets/img/popular/6.jpg'), require('@/assets/img/popular/1.jpg')],
      name: 'КАМАЗ 6517',
      type: 'Бортовой',
      status: 'В наличии',
      statusModifier: 'stock',
      year: '2019',
      power: '298 л.с.',
      price: '4 299 999 руб',
      link: 'product-page.html'
    },
    {
      images: [require('@/assets/img/popular/3.jpg'), require('@/assets/img/popular/4.jpg'), require('@/assets/img/popular/5.jpg'), require('@/assets/img/popular/6.jpg'), require('@/assets/img/popular/1.jpg'), require('@/assets/img/popular/2.jpg')],
      name: 'КАМАЗ 43118',
      type: 'Тягач',
      status: 'Под заказ',
      statusModifier: 'order',
      year: '2015',
      power: '298 л.с.',
      price: '2 299 999 руб',
      link: 'product-page.html'
    },
    {
      images: [require('@/assets/img/popular/1.jpg'), require('@/assets/img/popular/2.jpg'), require('@/assets/img/popular/3.jpg'), require('@/assets/img/popular/4.jpg'), require('@/assets/img/popular/5.jpg'), require('@/assets/img/popular/6.jpg')],
      name: 'КАМАЗ 6517',
      type: 'Бортовой',
      status: 'В наличии',
      statusModifier: 'stock',
      year: '2019',
      power: '298 л.с.',
      price: '4 299 999 руб',
      link: 'product-page.html'
    },
    {
      images: [require('@/assets/img/popular/1.jpg'), require('@/assets/img/popular/2.jpg'), require('@/assets/img/popular/3.jpg'), require('@/assets/img/popular/4.jpg'), require('@/assets/img/popular/5.jpg'), require('@/assets/img/popular/6.jpg')],
      name: 'КАМАЗ 43118',
      type: 'Тягач',
      status: 'Под заказ',
      statusModifier: 'order',
      year: '2015',
      power: '298 л.с.',
      price: '2 299 999 руб',
      link: 'product-page.html'
    }
  ]

  //- partners
  partnersBlock = [
    require('@/assets/img/partners/gazprom.png'),
    require('@/assets/img/partners/skolkovo.png'),
    require('@/assets/img/partners/yandex.png'),
    require('@/assets/img/partners/rosneft.png'),
    require('@/assets/img/partners/lukoil.png'),
    require('@/assets/img/partners/gazprom.png'),
    require('@/assets/img/partners/skolkovo.png'),
    require('@/assets/img/partners/yandex.png'),
    require('@/assets/img/partners/rosneft.png'),
    require('@/assets/img/partners/lukoil.png'),
    require('@/assets/img/partners/gazprom.png'),
    require('@/assets/img/partners/skolkovo.png'),
    require('@/assets/img/partners/yandex.png'),
    require('@/assets/img/partners/rosneft.png'),
    require('@/assets/img/partners/lukoil.png'),
    require('@/assets/img/partners/gazprom.png'),
    require('@/assets/img/partners/skolkovo.png'),
    require('@/assets/img/partners/yandex.png'),
    require('@/assets/img/partners/rosneft.png'),
    require('@/assets/img/partners/lukoil.png')
  ]

  //- services
  servicesBlock = [
    {img: require('@/assets/img/services/remake.svg'), txt: 'Переоборудование <br> автомобиля', href: 'javascript:'},
    {img: require('@/assets/img/services/recycle.svg'), txt: 'Trade in', href: 'javascript:'},
    {img: require('@/assets/img/services/cap.svg'), txt: 'Обучение водителей', href: 'javascript:'},
    {img: require('@/assets/img/services/clipboard.svg'), txt: 'Регистрация <br> траспортного средства', href: 'javascript:'},
    {img: require('@/assets/img/services/vector.svg'), txt: 'Доставка автомобилей <span>+ калькулятор стоимости</span>', href: 'javascript:'},
    {img: require('@/assets/img/services/calculator.svg'), txt: 'Страхование <br> коммерческих ТС <span>+ калькулятор стоимости</span>', href: 'javascript:'}
  ]

  //- special offers
  offersBlock = [
    {
      images: [require('@/assets/img/offers/slide.jpg'), require('@/assets/img/top-slider/slides/2.jpg'), require('@/assets/img/top-slider/slides/1.jpg'), require('@/assets/img/top-slider/slides/6.jpg'), require('@/assets/img/top-slider/slides/8.jpg'), require('@/assets/img/top-slider/slides/4.jpg'), require('@/assets/img/top-slider/slides/3.jpg')],
      title: 'Линейка газовых автомобилей',
      status: 'Новинка',
      txt: 'Особенно это касается коммерческих перевозчиков, ежегодные пробеги которых измеряются в сотнях тысяч километров. При этом нужно учи тывать, что парки крупных перевозчиков включают не одну-две единицы транспорта, а несколько десятков или сотен машин. В таких условиях каждый литр топлива, помноженный на пробег и количество машин в парке, может очень существенно ударить по бюджету компании.'
    },
    {
      images: [require('@/assets/img/offers/slide.jpg'), require('@/assets/img/top-slider/slides/2.jpg'), require('@/assets/img/top-slider/slides/1.jpg'), require('@/assets/img/top-slider/slides/6.jpg'), require('@/assets/img/top-slider/slides/8.jpg'), require('@/assets/img/top-slider/slides/4.jpg'), require('@/assets/img/top-slider/slides/3.jpg')],
      title: 'Линейка газовых автомобилей',
      status: 'Новинка',
      txt: 'Особенно это касается коммерческих перевозчиков, ежегодные пробеги которых измеряются в сотнях тысяч километров. При этом нужно учитывать, что парки крупных перевозчиков включают не одну-две единицы транспорта, а несколько десятков или сотен машин. В таких условиях каждый литр топлива, помноженный на пробег и количество машин в парке, может очень существенно ударить по бюджету компании.'
    },
    {
      images: [require('@/assets/img/offers/slide.jpg'), require('@/assets/img/top-slider/slides/2.jpg'), require('@/assets/img/top-slider/slides/1.jpg'), require('@/assets/img/top-slider/slides/6.jpg'), require('@/assets/img/top-slider/slides/8.jpg'), require('@/assets/img/top-slider/slides/4.jpg'), require('@/assets/img/top-slider/slides/3.jpg')],
      title: 'Линейка газовых автомобилей',
      status: 'Новинка',
      txt: 'Особенно это касается коммерческих перевозчиков, ежегодные пробеги которых измеряются в сотнях тысяч километров. При этом нужно учитывать, что парки крупных перевозчиков включают не одну-две единицы транспорта, а несколько десятков или сотен машин. В таких условиях каждый литр топлива, помноженный на пробег и количество машин в парке, может очень существенно ударить по бюджету компании.'
    },
    {
      images: [require('@/assets/img/offers/slide.jpg'), require('@/assets/img/top-slider/slides/2.jpg'), require('@/assets/img/top-slider/slides/1.jpg'), require('@/assets/img/top-slider/slides/6.jpg'), require('@/assets/img/top-slider/slides/8.jpg'), require('@/assets/img/top-slider/slides/4.jpg'), require('@/assets/img/top-slider/slides/3.jpg')],
      title: 'Линейка газовых автомобилей',
      status: 'Новинка',
      txt: 'Особенно это касается коммерческих перевозчиков, ежегодные пробеги которых измеряются в сотнях тысяч километров. При этом нужно учитывать, что парки крупных перевозчиков включают не одну-две единицы транспорта, а несколько десятков или сотен машин. В таких условиях каждый литр топлива, помноженный на пробег и количество машин в парке, может очень существенно ударить по бюджету компании.'
    }
  ]

  //- form
  mainForm = null
  serviceForm = null
  otherPageForm = null

  //- cabin
  cabinGridItems = [
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/recycle.svg'), title: 'Сиденье на пневмоподвеске с подогревом', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/recycle.svg'), title: 'Мультифункциональное рулевое колесо', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/cap.svg'), title: 'Кондиционер', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/clipboard.svg'), title: 'Автономный отопитель кабины на 4 кВт', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/vector.svg'), title: 'Два спальных места с ортопедическим матрасом', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/calculator.svg'), title: 'Холодильник', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/clipboard.svg'), title: 'Мультимедийная система с сенсорным дисплеем 10”', txt: 'с функциями навигатора, радио, системы громкой связи, воспроизведения музыки, просмотра видео online или offline, контроля параметров автомобиля, управления отопителем кабины и предпусковым подогревателем', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/clipboard.svg'), title: 'Сиденье на пневмоподвеске с подогревом', href: 'javascript:'}
  ]

  //- transmission
  transmissionTopList =[
    'низкий уровень шума',
    'максимальный КПД в соответствующем классе',
    'снижение расхода топлива на 6-8%'
  ]

  transmissionBottomList =[
    '2 режима: экономичный и мощностной',
    'функция ограничения скорости при маневрировании',
    'снижение расхода топлива на 6-8%',
    'помощь при трогании на подъеме – не позволяет автомобилю скатываться при трогании в гору',
    'движение накатом – позволяет размыкать сцепление, временно выключая из работы коробку, что снижает сопротивление при движении на спуске',
    'раскачивание – позволяет добиться эффекта раскачивания автомобиля для выезда из ям и ложбин'
  ]

  //- safety
  safetyItems = [
    {txt: 'Дисковые тормозные механизмы с датчиками износа тормозных колодок', img: require('@/assets/img/safety/brake.svg'), href: 'javascript:'},
    {txt: 'Полностью светодиодная оптика обеспечивает прекрасную видимость на дороге', img: require('@/assets/img/safety/led.svg'), href: 'javascript:'},
    {txt: 'Антиблокировочная система ', img: require('@/assets/img/safety/abs.svg'), href: 'javascript:'},
    {txt: 'Система курсовой устойчивости', img: require('@/assets/img/safety/esp.svg'), href: 'javascript:'},
    {txt: 'Противобуксовочная система', img: require('@/assets/img/safety/asr.svg'), href: 'javascript:'},
    {txt: 'Электронные помощники водителя', img: require('@/assets/img/safety/adas.svg'), href: 'javascript:'}
  ]

  //- semitrailer
  semitrailerItems = [
    'Платформа полуприцепа шторной конструкции объемом 91м3 - вместимость 33 европаллета.',
    'Боковины и крыша полуприцепа сдвигаются без разборки конструкции, Боковой тент и крышу можно сдвинуть как вместе, так и по отдельности.',
    'Предназначен для эксплуатации в составе автопоезда с магистральными тягачами. Шторная конструкция минимизурует загрузку и выгрузку, облегчает труд водителя.',
    'На площадке полуприцепа предусмотрены дополнительные петли, утопленные в настил пола, для фиксации груза'
  ]

  //- crane
  craneList = [
    'максимальная грузоподъемность 7 050 кг',
    'максимальный вылет стрелы 19 м',
    'грузподъемность на максимальном вылете 300 кг',
    'максимальная высота подъема 19,6 м',
    'максимальная глубина опускания 19 м'
  ]

  //- flatbed description
  flatbedDescList = [
    'строительные площадки',
    'точки дорожного строительства',
    'иные объекты с вязким грунтом',
    'эффективной работы в составе автопоезда'
  ]

  //- chassis description
  chassisList = [
    'межколесный и межосевой дифференциалы',
    'топливный насос высокого давления производства BOSCH',
    'два аккумулятора (бортовое напряжение — 24 В)',
    'система Common Rail',
    'два топливных бака вместительностью 350 и 210 л.'
  ]

  //- bus
  busListFirst = [
    'низкий расход топлива',
    'умеренная стоимость техобслуживания',
    'большой срок эксплуатации, благодаря технологиям <br> изготовления кузова'
  ]

  busListSecond = [
    'Евро–5',
    '260 л.с.',
    '1 000 Нм'
  ]

  //- bus options
  busOptionsList = [
    'речевой информатор',
    'бегущая строка в салоне',
    'климатическая система',
    'видеонаблюдение',
    'откидные сиденья'
  ]

  //- dump truck
  truckList = [
    'низкий расход топлива',
    'подвеска  с колесными формулами 4х2, 6х4',
    'механическая  10-ступенчатая коробка переключения передач ZF',
    'комфортная и эргономичная кабина'
  ]

  //- catalog
  catalogItems = [
    {
      name: 'КАМАЗ - 43502',
      images: [require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg')],
      status: 'stock',
      price: '10 999 999 руб.',
      items: [
        {name: 'Колесная формула', value: '4х4'},
        {name: 'Грузоподъемность', value: '11 700 кг'},
        {name: 'Двигатель', value: 'КАМАЗ'},
        {name: 'Мощность двигателя', value: '285 - 300 л.с.'},
        {name: 'Тип', value: 'борт/шасси'}
      ],
      link: 'product-page.html'
    },
    {
      name: 'КАМАЗ - 43118',
      images: [require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg')],
      status: 'order',
      price: '12 299 999 руб.',
      items: [
        {name: 'Колесная формула', value: '4х2'},
        {name: 'ТСУ (высота ССУ)', value: '1 530 мм'},
        {name: 'Двигатель', value: 'Weichai'},
        {name: 'Мощность двигателя', value: '300 л.с.'},
        {name: 'Тип', value: 'тягач'}
      ],
      link: 'product-page.html'
    },
    {
      name: 'КАМАЗ - 53504',
      images: [require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg')],
      status: 'stock',
      price: '15 299 999 руб.',
      items: [
        {name: 'Колесная формула', value: '6х6'},
        {name: 'Грузоподъемность', value: '11 700 кг'},
        {name: 'Двигатель', value: 'КАМАЗ или Cummins'},
        {name: 'Мощность двигателя', value: '450-550 л.с.'},
        {name: 'Тип', value: 'самосвал/шасси'}
      ],
      link: 'product-page.html'
    },
    {
      name: 'КАМАЗ - 5490',
      images: [require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg')],
      status: 'stock',
      price: '10 999 999 руб.',
      items: [
        {name: 'Колесная формула', value: '4х4'},
        {name: 'Грузоподъемность', value: '11 700 кг'},
        {name: 'Двигатель', value: 'КАМАЗ'},
        {name: 'Мощность двигателя', value: '285 - 300 л.с.'},
        {name: 'Тип', value: 'борт/шасси'}
      ],
      link: 'product-page.html'
    },
    {
      name: 'КАМАЗ - 65111',
      images: [require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg')],
      status: 'order',
      price: '12 299 999 руб.',
      items: [
        {name: 'Колесная формула', value: '4х2'},
        {name: 'ТСУ (высота ССУ)', value: '1 530 мм'},
        {name: 'Двигатель', value: 'Weichai'},
        {name: 'Мощность двигателя', value: '300 л.с.'},
        {name: 'Тип', value: 'тягач'}
      ],
      link: 'product-page.html'
    },
    {
      name: 'КАМАЗ - 53605',
      images: [require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg')],
      status: 'stock',
      price: '15 299 999 руб.',
      items: [
        {name: 'Колесная формула', value: '6х6'},
        {name: 'Грузоподъемность', value: '11 700 кг'},
        {name: 'Двигатель', value: 'КАМАЗ или Cummins'},
        {name: 'Мощность двигателя', value: '450-550 л.с.'},
        {name: 'Тип', value: 'самосвал/шасси'}
      ],
      link: 'product-page.html'
    }
  ]

  catalogBreadcrumbs = [
    {href: 'catalog.html', txt: 'Каталог', active: true}
  ]

  //- product-page
  productPageBreadcrumbs = [
    {href: 'catalog.html', txt: 'Каталог'},
    {href: 'sedelnye-tyagachi', txt: 'Сидельные тягачи'},
    {href: 'product-page.html', txt: 'Kamaz 54901', active: true}
  ]

  productPageSlider = [
    require('@/assets/img/popular/7.jpg'),
    require('@/assets/img/popular/1.jpg'),
    require('@/assets/img/popular/2.jpg'),
    require('@/assets/img/popular/3.jpg')
  ]

  productPagePanelItems = [
    { name: 'Колесная формула', value: '6х6'},
    { name: 'Грузоподъемность', value: '11 225 кг'},
    { name: 'Двигатель', value: 'КАМАЗ или Cummins'},
    { name: 'Мощность двигателя', value: '300 л.с.'},
    { name: 'Тип', value: 'борт/шасси'}
  ]

  //- product options
  productOptionsItems = [
    {
      title: 'Весовые параметры',
      options: [
        {option: 'Нагрузка на седельно-сцепное устройство', value: '10 430 кг'},
        {option: 'Полная масса а/м', value: '19 500 кг'},
        {option: '- нагрузка на задний мост', value: '11 500 кг'},
        {option: '- нагрузка на переднюю ось', value: '8 000 кг'},
        {option: 'Полная масса автопоезда', value: '44 000 кг'},
        {option: 'Полная масса полуприцепа', value: '34 930 кг'},
        {option: 'Снаряженная масса', value: '9 070 кг'},
        {option: '- нагрузка на задний мост', value: '2 770 кг'},
        {option: '- нагрузка на переднюю ось', value: '6 300 кг'}
      ]
    },
    {
      title: 'Двигатель',
      options: [
        {option: 'Нагрузка на седельно-сцепное устройство', value: '10 430 кг'},
        {option: 'Полная масса а/м', value: '19 500 кг'},
        {option: '- нагрузка на задний мост', value: '11 500 кг'},
        {option: '- нагрузка на переднюю ось', value: '8 000 кг'},
        {option: 'Полная масса автопоезда', value: '44 000 кг'},
        {option: 'Полная масса полуприцепа', value: '34 930 кг'},
        {option: 'Снаряженная масса', value: '9 070 кг'},
        {option: '- нагрузка на задний мост', value: '2 770 кг'},
        {option: '- нагрузка на переднюю ось', value: '6 300 кг'}
      ]
    },
    {
      title: 'Коробка передач',
      options: [
        {option: 'Нагрузка на седельно-сцепное устройство', value: '10 430 кг'},
        {option: 'Полная масса а/м', value: '19 500 кг'},
        {option: '- нагрузка на задний мост', value: '11 500 кг'},
        {option: '- нагрузка на переднюю ось', value: '8 000 кг'},
        {option: 'Полная масса автопоезда', value: '44 000 кг'},
        {option: 'Полная масса полуприцепа', value: '34 930 кг'},
        {option: 'Снаряженная масса', value: '9 070 кг'},
        {option: '- нагрузка на задний мост', value: '2 770 кг'},
        {option: '- нагрузка на переднюю ось', value: '6 300 кг'}
      ]
    },
    {
      title: 'Главная передача',
      options: [
        {option: 'Нагрузка на седельно-сцепное устройство', value: '10 430 кг'},
        {option: 'Полная масса а/м', value: '19 500 кг'},
        {option: '- нагрузка на задний мост', value: '11 500 кг'},
        {option: '- нагрузка на переднюю ось', value: '8 000 кг'},
        {option: 'Полная масса автопоезда', value: '44 000 кг'},
        {option: 'Полная масса полуприцепа', value: '34 930 кг'},
        {option: 'Снаряженная масса', value: '9 070 кг'},
        {option: '- нагрузка на задний мост', value: '2 770 кг'},
        {option: '- нагрузка на переднюю ось', value: '6 300 кг'}
      ]
    }
  ]

  //- product modifications
  productModificationsItems = [
    {
      title: '54901-22-92 (4х2)',
      characteristics: [
        {name: 'Двигатель', value: 'Р6 910.12-450 (Евро-5)'},
        {name: 'Мощность двигателя', value: '280 л.с.'},
        {name: 'ТСУ (высота ССУ)', value: '1 150 мм'},
        {name: 'Колесная формула', value: '4x2'},
        {name: 'КПП', value: 'ZF 12 ТХ2210ТD'}
      ],
      optionsAccord: [
        {
          title: 'Комплектация',
          options: [
            {option: 'Кабина К5 c двумя спальными местами, высокая крыша'},
            {option: 'Механизм опрокидывания кабины (МОК) электрический'},
            {option: 'Холодильник'},
            {option: 'Держатель запасного колеса на раме в базе'},
            {option: 'Дисковые колеса 9.00 - 22,5 стальные, шины бескамерные 315/70 R22,5 '},
            {option: 'Полная масса полуприцепа'},
            {option: 'Размещение АКБ слева на раме'}
          ]
        },
        {
          title: 'Дополнительные опции',
          options: [
            {option: 'Кабина К5 c двумя спальными местами, высокая крыша'},
            {option: 'Механизм опрокидывания кабины (МОК) электрический'},
            {option: 'Холодильник'},
            {option: 'Держатель запасного колеса на раме в базе'},
            {option: 'Дисковые колеса 9.00 - 22,5 стальные, шины бескамерные 315/70 R22,5 '},
            {option: 'Полная масса полуприцепа'},
            {option: 'Размещение АКБ слева на раме'}
          ]
        },
      ]
    },
    {
      title: '54901-53-92 (4х2)',
      characteristics: [
        {name: 'Двигатель', value: 'Р6 910.12-450 (Евро-5)'},
        {name: 'Мощность двигателя', value: '420 л.с.'},
        {name: 'ТСУ (высота ССУ)', value: '1 700 мм'},
        {name: 'Колесная формула', value: '4x2'},
        {name: 'КПП', value: 'ZF 12 ТХ2210ТD'}
      ],
      optionsAccord: [
        {
          title: 'Комплектация',
          options: [
            {option: 'Кабина К5 c двумя спальными местами, высокая крыша'},
            {option: 'Механизм опрокидывания кабины (МОК) электрический'},
            {option: 'Холодильник'},
            {option: 'Держатель запасного колеса на раме в базе'},
            {option: 'Дисковые колеса 9.00 - 22,5 стальные, шины бескамерные 315/70 R22,5 '},
            {option: 'Полная масса полуприцепа'},
            {option: 'Размещение АКБ слева на раме'}
          ]
        },
        {
          title: 'Дополнительные опции',
          options: [
            {option: 'Кабина К5 c двумя спальными местами, высокая крыша'},
            {option: 'Механизм опрокидывания кабины (МОК) электрический'},
            {option: 'Холодильник'},
            {option: 'Держатель запасного колеса на раме в базе'},
            {option: 'Дисковые колеса 9.00 - 22,5 стальные, шины бескамерные 315/70 R22,5 '},
            {option: 'Полная масса полуприцепа'},
            {option: 'Размещение АКБ слева на раме'}
          ]
        },
      ]
    }
  ]

  //- service
  serviceList = [
    'Техническое обслуживание автомобилей',
    'Гарантийный и постгарантийный ремонт автомобилей',
    'Ремонт двигателей и КПП'
  ]

  //- leasing
  leasingList = [
    'Срок рассмотрения заявки — от 1 часа',
    'Всегда широкий выбор программ и акций',
    'Скидки и субсидии. Участие во всех госпрограммах поддержки отрасли',
    'Полное КАСКО по беспрецедентно низкой ставке',
    'Лидер в своем сегменте. 20 лет на рынке',
    'География предоставления услуг – вся территория РФ'
  ]

  leasingLinks = [
    {num: '1', txt: 'Выберите технику',  rectTxt: 'В каталог', href: 'catalog.html'},
    {num: '2', txt: 'Оставьте заявку',  rectTxt: 'Написать', href: 'javascript:'},
    {num: '3', txt: 'Заключите договор',  rectTxt: 'Документы', href: 'javascript:'},
    {num: '4', txt: 'Получите технику у дилера',  rectTxt: 'Контакты', href: ' kontakty.html'},
    {num: '5', txt: 'Оплачивайте лизинговые платежи',  rectTxt: 'Калькулятор', href: 'https://kamazleasing.ru/#2'},
    {num: '6', txt: 'Получите технику в собственность!', href: 'javascript:'}
  ]

  //- guarantee
  guaranteeList = [
    [
      'Грузовые автомобили КАМАЗ Евро–4 всех моделей (кроме КАМАЗ 5460, 6360, 6460, 4308, 5308, 53082)',
      '100 000 км',
      '24 мес'
    ],
    [
      'Грузовые автомобили КАМАЗ Евро–4 модели 5460, 6360, 6460',
      '120 000 км',
      '24 мес'
    ],
    [
      'Грузовые автомобили КАМАЗ Евро–4 модели 4308, 5308, 53082',
      'Без ограничения',
      '24 мес'
    ],
    [
      'Грузовой автомобиль КАМАЗ Евро–5 модель 5490',
      '200 000 км',
      '24 мес'
    ],
    [
      'Грузовой автомобиль КАМАЗ Евро–5 модели 65206, 65207, 65802, 6580, 65801, 65806',
      '150 000 км',
      '24 мес'
    ],
    [
      'Автомобильные дизельные двигатели ISBe, произведенные ЗАО «КАММИНС КАМА» с 01.01.2017 г.',
      '200 000 км',
      '36 мес'
    ]
  ]

  //- contacts
  contactsItemsRed = [
    {
      image: require('@/assets/img/contacts/1.jpg'),
      name: 'Клубачук Александр Александрович',
      position: 'генеральный директор ООО «Техцентры СОТРАНС»',
      telFirst: '+7 (812) 495 43 20',
      telSecond: '+7 (921) 439 32 11',
      additional: '(доб. 3044)',
      mail: 'k.aa@tc-sotrans.ru',
      dataId: 0,
      active: true
    },
    {
      image: require('@/assets/img/contacts/2.jpg'),
      name: 'Нурутдинова Лейсан Рамилевна',
      position: 'руководитель отдела продаж КАМАЗ',
      telFirst: '+7 (812) 495 43 20',
      telSecond: '+7 (921) 961 14 16',
      additional: '(доб. 3044)',
      mail: 'leysan.n@tc-sotrans.ru',
      dataId: 0,
      active: true
    },
    {
      image: require('@/assets/img/contacts/3.jpg'),
      name: 'Щербин Григорий Григорьевич',
      position: 'руководитель отдела продаж запчастей',
      telFirst: '+7 (812) 495 43 20',
      telSecond: '+7 (921) 978 11 23',
      additional: '(доб. 1013)',
      mail: 'g.shcherbin@sotrans.ru',
      dataId: 0,
      active: true
    },
    {
      image: require('@/assets/img/contacts/4.jpg'),
      name: 'Лоскутников Степан Владимирович',
      position: 'руководитель отдела сервиса',
      telFirst: '+7 (812) 495 43 20',
      telSecond: '+7 (921) 437 75 17',
      additional: '(доб. 1272)',
      mail: 's.loskutnikov@sotrans.ru',
      dataId: 0,
      active: true
    },
    {
      image: require('@/assets/img/contacts/5.jpg'),
      name: 'Резванов Павел Дмитриевич',
      position: 'менеджер отдела продаж',
      telFirst: '+7 (812) 495 43 20',
      telSecond: '+7 (921) 091 08 97',
      additional: '(доб. 3006)',
      mail: 'p.rezvanov@tc-sotrans.ru',
      dataId: 0,
      active: true
    },
  ]

   contactsItemsParnas = [
    {
      image: require('@/assets/img/contacts/6.jpg'),
      name: 'Чернов Павел Викторович',
      position: 'менеджер отдела продаж',
      telFirst: '+7 (812) 448 06 30',
      telSecond: '+7 (911) 795 11 70',
      additional: '(доб. 2019)',
      mail: 'p.chernov@tc-sotrans.ru',
      dataId: 1
    },
    {
      image: require('@/assets/img/contacts/7.jpg'),
      name: 'Маликов Константин Николаевич',
      position: 'руководитель отдела сервиса',
      telFirst: '+7 (812) 448 06 25',
      telSecond: '+7 (919) 197 84 54',
      additional: '(доб. 2224)',
      mail: 'p.rezvanov@tc-sotrans.ru',
      dataId: 1
    },
  ]

  contactsItemsElab = [
    {
      image: require('@/assets/img/contacts/8.jpg'),
      name: 'Минязов Алмаз Владикович',
      position: 'менеджер отдела продаж',
      telFirst: '+7 (917) 747 09 08',
      mail: 'а.minyazov@tc-sotrans.ru',
      dataId: 2
    }
  ]

  //- working
  workingItemImagesFirst = [
    require('@/assets/img/working/1.jpg'),
    require('@/assets/img/working/2.jpg'),
    require('@/assets/img/working/3.jpg'),
    require('@/assets/img/working/4.jpg')
  ]

  workingItemImagesSecond = [
    require('@/assets/img/working/2.jpg'),
    require('@/assets/img/working/3.jpg'),
    require('@/assets/img/working/4.jpg'),
    require('@/assets/img/working/1.jpg')
  ]

  workingItemImagesThird = [
    require('@/assets/img/working/3.jpg'),
    require('@/assets/img/working/4.jpg'),
    require('@/assets/img/working/1.jpg'),
    require('@/assets/img/working/2.jpg')
  ]

  workingItemImagesFourth = [
    require('@/assets/img/working/4.jpg'),
    require('@/assets/img/working/1.jpg'),
    require('@/assets/img/working/2.jpg'),
    require('@/assets/img/working/3.jpg')
  ]

  refactoringList = [
    'бортовых',
    'тентованных',
    'лесовозных'
  ]

  traidInList = [
    'не нужно отвлекать сотрудников для продажи',
    'нет скованного капитала',
    'нет необходимости тратиться на предпродажную подготовку'
  ]

  traidInListProfit = [
    'принимаются грузовики любых производителей, без ограничений, в качестве первоначального взноса',
    'автомобили закупаются напрямую у владельцев',
    'ценовое предложение на подержанный грузовик в течении суток',
    'оптимальная цена на рынке за Ваш грузовик с пробегом',
    'надежность и гарантия юридической чистоты сделки'
  ]

  traidInListComfort = [
    'предварительный осмотр и ценовое предложение по фотографиям',
    'выбор нового автомобиля у официального дилера ПАО «КАМАЗ»',
    'комплексная диагностика сдаваемого грузовика силами сервисного центра',
    'заключение договора обратного выкупа'
  ]

  inshuranceList = [
    'ОСАГО',
    'КАСКО',
    'Зеленая карта'
  ]
