-
  //- global
  mainModifier = null

  //- header
  headerTopMenu = [
    {href: 'javascript:', txt: 'Контакты', label: 'Контакты'},
    {href: 'javascript:', txt: 'О компании', label: 'О компании'},
    {href: 'javascript:', txt: 'Услуги', label: 'Услуги'},
    {href: 'javascript:', txt: 'Сервис', label: 'Сервис'},
    {href: 'javascript:', txt: 'Запчасти', label: 'Запчасти'},
    {href: 'javascript:', txt: 'Лизинг и кредит', label: 'Лизинг и кредит'},
    {href: 'javascript:', txt: 'Лицензия', label: 'Лицензия'},
    {href: 'javascript:', txt: 'Гарантия', label: 'Гарантия'},
    {href: 'javascript:', txt: 'Поиск по сайту', label: 'Поиск по сайту', searchBtn: true}
  ]

  headerMiddleMenu = [
    {href: 'sedelnye-tyagachi.html', txt: 'Седельные тягачи'},
    {href: 'bortovye-avtomobili.html', txt: 'Бортовые автомобили'},
    {href: 'samosvaly.html', txt: 'Самосвалы'},
    {href: 'spectehnika.html', txt: 'Спецтехника'},
    {href: 'shassi.html', txt: 'Шасcи'},
    {href: 'pricepy-i-polupricepy.html', txt: 'Прицепы и полуприцепы'}
  ]

  //- footer
  footerMenu = [
    {href: 'sedelnye-tyagachi.html', txt: 'Седельные тягачи'},
    {href: 'bortovye-avtomobili.html', txt: 'Бортовые автомобили'},
    {href: 'samosvaly.html', txt: 'Самосвалы'},
    {href: 'shassi.html', txt: 'Шасcи'},
    {href: 'spectehnika.html', txt: 'Спецтехника'}
  ]

  footerList = [
    [
      {href: 'javascript:', txt: 'О компании'},
      {href: 'javascript:', txt: 'Услуги'},
      {href: 'javascript:', txt: 'Сервис'},
      {href: 'javascript:', txt: 'Запчасти'}
    ],
    [
      {href: 'javascript:', txt: 'Лизинг и кредит'},
      {href: 'javascript:', txt: 'Лицензия'},
      {href: 'javascript:', txt: 'Гарантия'}
    ]
  ]

  //- mobileMenu
  leftMenu = [
    {href: 'javascript:', txt: 'Сидельные тягачи'},
    {href: 'bortovye-avtomobili.html', txt: 'Бортовые автомобили'},
    {href: 'samosvaly.html', txt: 'Самосвалы'},
    {href: 'spectehnika.html', txt: 'Спецтехника'},
    {href: 'shassi.html', txt: 'Шасси'},
    {href: 'pricepy-i-polupricepy.html', txt: 'Прицепы и полуприцепы'}
  ]
  rightMenu = [
    {href: 'javascript:', txt: 'О компании'},
    {href: 'javascript:', txt: 'Услуги'},
    {href: 'javascript:', txt: 'Сервис'},
    {href: 'javascript:', txt: 'Запчасти'},
    {href: 'javascript:', txt: 'Лизинг и кредит'},
    {href: 'javascript:', txt: 'Лицензия'},
    {href: 'javascript:', txt: 'Гарантия'},
    {href: 'javascript:', txt: 'Контакты'}
  ]

  //- top slider
  topSliderTitle = null
  topSliderText = null
  txtModifier = null

  topSliderDesktop = [
    require('@/assets/img/top-slider/slides/1.jpg'),
    require('@/assets/img/top-slider/slides/2.jpg'),
    require('@/assets/img/top-slider/slides/3.jpg'),
    require('@/assets/img/top-slider/slides/4.jpg'),
    require('@/assets/img/top-slider/slides/5.jpg'),
    require('@/assets/img/top-slider/slides/6.jpg'),
    require('@/assets/img/top-slider/slides/7.jpg'),
    require('@/assets/img/top-slider/slides/8.jpg')
  ]

  //- trucks
  trucksGrid = [
    {txt: 'Cедельные <br> тягачи', href: 'sedelnye-tyagachi.html', img: require('@/assets/img/trucks/saddle-min.png'), count: 32},
    {txt: 'Бортовые <br> автомобили', href: 'bortovye-avtomobili.html', img: require('@/assets/img/trucks/onboard-min.png'), count: 15},
    {txt: 'Самосвалы', href: 'samosvaly.html', img: require('@/assets/img/trucks/dump-min.png'), count: 67},
    {txt: 'Спецтехника', href: 'spectehnika.html', img: require('@/assets/img/trucks/special-min.png'), count: 95},
    {txt: 'Шасси', href: 'shassi.html', img: require('@/assets/img/trucks/chassis-min.png'), count: 15},
    {txt: 'Прицепы <br> и полу <br> прицепы', href: 'pricepy-i-polupricepy.html', img: require('@/assets/img/trucks/trailers-min.png'), count: 65},
    {txt: 'Автобусы', href: 'avtobusy.html', img: require('@/assets/img/trucks/bus-min.png'), count: 95}
  ]

  //- popular slider
  popularSlider = [
    {
      images: [require('@/assets/img/popular/1.jpg'), require('@/assets/img/popular/2.jpg'), require('@/assets/img/popular/3.jpg'), require('@/assets/img/popular/4.jpg'), require('@/assets/img/popular/5.jpg'), require('@/assets/img/popular/6.jpg')],
      name: 'КАМАЗ 5490',
      type: 'Тягач',
      status: 'В наличии',
      statusModifier: 'stock',
      year: '2019',
      power: '298 л.с.',
      price: '3 299 999 руб',
      link: 'javascript:'
    },
    {
      images: [require('@/assets/img/popular/2.jpg'), require('@/assets/img/popular/3.jpg'), require('@/assets/img/popular/4.jpg'), require('@/assets/img/popular/5.jpg'), require('@/assets/img/popular/6.jpg'), require('@/assets/img/popular/1.jpg')],
      name: 'КАМАЗ 6517',
      type: 'Бортовой',
      status: 'В наличии',
      statusModifier: 'stock',
      year: '2019',
      power: '298 л.с.',
      price: '4 299 999 руб',
      link: 'javascript:'
    },
    {
      images: [require('@/assets/img/popular/3.jpg'), require('@/assets/img/popular/4.jpg'), require('@/assets/img/popular/5.jpg'), require('@/assets/img/popular/6.jpg'), require('@/assets/img/popular/1.jpg'), require('@/assets/img/popular/2.jpg')],
      name: 'КАМАЗ 43118',
      type: 'Тягач',
      status: 'Под заказ',
      statusModifier: 'order',
      year: '2015',
      power: '298 л.с.',
      price: '2 299 999 руб',
      link: 'javascript:'
    },
    {
      images: [require('@/assets/img/popular/1.jpg'), require('@/assets/img/popular/2.jpg'), require('@/assets/img/popular/3.jpg'), require('@/assets/img/popular/4.jpg'), require('@/assets/img/popular/5.jpg'), require('@/assets/img/popular/6.jpg')],
      name: 'КАМАЗ 6517',
      type: 'Бортовой',
      status: 'В наличии',
      statusModifier: 'stock',
      year: '2019',
      power: '298 л.с.',
      price: '4 299 999 руб',
      link: 'javascript:'
    },
    {
      images: [require('@/assets/img/popular/1.jpg'), require('@/assets/img/popular/2.jpg'), require('@/assets/img/popular/3.jpg'), require('@/assets/img/popular/4.jpg'), require('@/assets/img/popular/5.jpg'), require('@/assets/img/popular/6.jpg')],
      name: 'КАМАЗ 43118',
      type: 'Тягач',
      status: 'Под заказ',
      statusModifier: 'order',
      year: '2015',
      power: '298 л.с.',
      price: '2 299 999 руб',
      link: 'javascript:'
    }
  ]

  //- partners
  partnersBlock = [
    require('@/assets/img/partners/gazprom.png'),
    require('@/assets/img/partners/skolkovo.png'),
    require('@/assets/img/partners/yandex.png'),
    require('@/assets/img/partners/rosneft.png'),
    require('@/assets/img/partners/lukoil.png'),
    require('@/assets/img/partners/gazprom.png'),
    require('@/assets/img/partners/skolkovo.png'),
    require('@/assets/img/partners/yandex.png'),
    require('@/assets/img/partners/rosneft.png'),
    require('@/assets/img/partners/lukoil.png'),
    require('@/assets/img/partners/gazprom.png'),
    require('@/assets/img/partners/skolkovo.png'),
    require('@/assets/img/partners/yandex.png'),
    require('@/assets/img/partners/rosneft.png'),
    require('@/assets/img/partners/lukoil.png'),
    require('@/assets/img/partners/gazprom.png'),
    require('@/assets/img/partners/skolkovo.png'),
    require('@/assets/img/partners/yandex.png'),
    require('@/assets/img/partners/rosneft.png'),
    require('@/assets/img/partners/lukoil.png')
  ]

  //- services
  servicesBlock = [
    {img: require('@/assets/img/services/remake.svg'), txt: 'Переоборудование <br> автомобиля', href: 'javascript:'},
    {img: require('@/assets/img/services/recycle.svg'), txt: 'Trade in', href: 'javascript:'},
    {img: require('@/assets/img/services/cap.svg'), txt: 'Обучение водителей', href: 'javascript:'},
    {img: require('@/assets/img/services/clipboard.svg'), txt: 'Регистрация <br> траспортного средства', href: 'javascript:'},
    {img: require('@/assets/img/services/vector.svg'), txt: 'Доставка автомобилей <span>+ калькулятор стоимости</span>', href: 'javascript:'},
    {img: require('@/assets/img/services/calculator.svg'), txt: 'Страхование <br> коммерческих ТС <span>+ калькулятор стоимости</span>', href: 'javascript:'}
  ]

  //- special offers
  offersBlock = [
    {
      images: [require('@/assets/img/offers/slide.jpg'), require('@/assets/img/top-slider/slides/2.jpg'), require('@/assets/img/top-slider/slides/1.jpg'), require('@/assets/img/top-slider/slides/6.jpg'), require('@/assets/img/top-slider/slides/8.jpg'), require('@/assets/img/top-slider/slides/4.jpg'), require('@/assets/img/top-slider/slides/3.jpg')],
      title: 'Линейка газовых автомобилей',
      status: 'Новинка',
      txt: 'Особенно это касается коммерческих перевозчиков, ежегодные пробеги которых измеряются в сотнях тысяч километров. При этом нужно учи тывать, что парки крупных перевозчиков включают не одну-две единицы транспорта, а несколько десятков или сотен машин. В таких условиях каждый литр топлива, помноженный на пробег и количество машин в парке, может очень существенно ударить по бюджету компании.'
    },
    {
      images: [require('@/assets/img/offers/slide.jpg'), require('@/assets/img/top-slider/slides/2.jpg'), require('@/assets/img/top-slider/slides/1.jpg'), require('@/assets/img/top-slider/slides/6.jpg'), require('@/assets/img/top-slider/slides/8.jpg'), require('@/assets/img/top-slider/slides/4.jpg'), require('@/assets/img/top-slider/slides/3.jpg')],
      title: 'Линейка газовых автомобилей',
      status: 'Новинка',
      txt: 'Особенно это касается коммерческих перевозчиков, ежегодные пробеги которых измеряются в сотнях тысяч километров. При этом нужно учитывать, что парки крупных перевозчиков включают не одну-две единицы транспорта, а несколько десятков или сотен машин. В таких условиях каждый литр топлива, помноженный на пробег и количество машин в парке, может очень существенно ударить по бюджету компании.'
    },
    {
      images: [require('@/assets/img/offers/slide.jpg'), require('@/assets/img/top-slider/slides/2.jpg'), require('@/assets/img/top-slider/slides/1.jpg'), require('@/assets/img/top-slider/slides/6.jpg'), require('@/assets/img/top-slider/slides/8.jpg'), require('@/assets/img/top-slider/slides/4.jpg'), require('@/assets/img/top-slider/slides/3.jpg')],
      title: 'Линейка газовых автомобилей',
      status: 'Новинка',
      txt: 'Особенно это касается коммерческих перевозчиков, ежегодные пробеги которых измеряются в сотнях тысяч километров. При этом нужно учитывать, что парки крупных перевозчиков включают не одну-две единицы транспорта, а несколько десятков или сотен машин. В таких условиях каждый литр топлива, помноженный на пробег и количество машин в парке, может очень существенно ударить по бюджету компании.'
    },
    {
      images: [require('@/assets/img/offers/slide.jpg'), require('@/assets/img/top-slider/slides/2.jpg'), require('@/assets/img/top-slider/slides/1.jpg'), require('@/assets/img/top-slider/slides/6.jpg'), require('@/assets/img/top-slider/slides/8.jpg'), require('@/assets/img/top-slider/slides/4.jpg'), require('@/assets/img/top-slider/slides/3.jpg')],
      title: 'Линейка газовых автомобилей',
      status: 'Новинка',
      txt: 'Особенно это касается коммерческих перевозчиков, ежегодные пробеги которых измеряются в сотнях тысяч километров. При этом нужно учитывать, что парки крупных перевозчиков включают не одну-две единицы транспорта, а несколько десятков или сотен машин. В таких условиях каждый литр топлива, помноженный на пробег и количество машин в парке, может очень существенно ударить по бюджету компании.'
    }
  ]

  //- form
  mainForm = null

  //- cabin
  cabinGridItems = [
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/recycle.svg'), title: 'Сиденье на пневмоподвеске <br> с подогревом', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/recycle.svg'), title: 'Мультифункциональное рулевое <br> колесо', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/cap.svg'), title: 'Кондиционер', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/clipboard.svg'), title: 'Автономный отопитель <br> кабины на 4 кВт', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/vector.svg'), title: 'Два спальных места <br> с ортопедическим матрасом', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/calculator.svg'), title: 'Холодильник', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/clipboard.svg'), title: 'Мультимедийная система с сенсорным дисплеем 10”', txt: 'с функциями навигатора, радио, системы громкой связи, воспроизведения музыки, просмотра видео online или offline, контроля параметров автомобиля, управления отопителем кабины и предпусковым подогревателем', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/cabin/clipboard.svg'), title: 'Сиденье на пневмоподвеске <br> с подогревом', href: 'javascript:'}
  ]

  //- transmission
  transmissionTopList =[
    'низкий уровень шума',
    'максимальный КПД в соответствующем классе',
    'снижение расхода топлива на 6-8%'
  ]

  transmissionBottomList =[
    '2 режима: экономичный и мощностной',
    'функция ограничения скорости при маневрировании',
    'снижение расхода топлива на 6-8%',
    'помощь при трогании на подъеме – не позволяет автомобилю скатываться при трогании в гору',
    'движение накатом – позволяет размыкать сцепление, временно выключая из работы коробку, что снижает сопротивление при движении на спуске',
    'раскачивание – позволяет добиться эффекта раскачивания автомобиля для выезда из ям и ложбин'
  ]

  //- safety
  safetyItems = [
    {txt: 'Дисковые тормозные <br> механизмы с датчиками <br> износа тормозных колодок', img: require('@/assets/img/safety/brake.svg'), href: 'javascript:'},
    {txt: 'Полностью светодиодная <br> оптика обеспечивает <br> прекрасную видимость <br> на дороге', img: require('@/assets/img/safety/led.svg'), href: 'javascript:'},
    {txt: 'Антиблокировочная система ', img: require('@/assets/img/safety/abs.svg'), href: 'javascript:'},
    {txt: 'Система курсовой <br> устойчивости', img: require('@/assets/img/safety/esp.svg'), href: 'javascript:'},
    {txt: 'Противобуксовочная система', img: require('@/assets/img/safety/asr.svg'), href: 'javascript:'},
    {txt: 'Электронные <br> помощники водителя', img: require('@/assets/img/safety/adas.svg'), href: 'javascript:'}
  ]

  //- semitrailer
  semitrailerItems = [
    'Платформа полуприцепа шторной конструкции объемом 91м3 - вместимость 33 европаллета.',
    'Боковины и крыша полуприцепа сдвигаются без разборки конструкции, Боковой тент и крышу можно сдвинуть как вместе, так и по отдельности.',
    'Предназначен для эксплуатации в составе автопоезда с магистральными тягачами. Шторная конструкция минимизурует загрузку и выгрузку, облегчает труд водителя.',
    'На площадке полуприцепа предусмотрены дополнительные петли, утопленные в настил пола, для фиксации груза'
  ]

  //- crane
  craneList = [
    'максимальная грузоподъемность 7 050 кг',
    'максимальный вылет стрелы 19 м',
    'грузподъемность на максимальном вылете 300 кг',
    'максимальная высота подъема 19,6 м',
    'максимальная глубина опускания 19 м'
  ]

  //- flatbed description
  flatbedDescList = [
    'строительные площадки',
    'точки дорожного строительства',
    'иные объекты с вязким грунтом',
    'эффективной работы в составе автопоезда'
  ]

  //- chassis description
  chassisList = [
    'межколесный и межосевой дифференциалы',
    'топливный насос высокого давления производства BOSCH',
    'два аккумулятора (бортовое напряжение — 24 В)',
    'система Common Rail',
    'два топливных бака вместительностью 350 и 210 л.'
  ]

  //- bus
  busListFirst = [
    'низкий расход топлива',
    'умеренная стоимость техобслуживания',
    'большой срок эксплуатации, благодаря технологиям <br> изготовления кузова'
  ]

  busListSecond = [
    'Евро–5',
    '260 л.с.',
    '1 000 Нм'
  ]

  //- bus options
  busOptionsList = [
    'речевой информатор',
    'бегущая строка в салоне',
    'климатическая система',
    'видеонаблюдение',
    'откидные сиденья'
  ]

  //- dump truck
  truckList = [
    'низкий расход топлива',
    'подвеска  с колесными формулами 4х2, 6х4',
    'механическая  10-ступенчатая коробка переключения передач ZF',
    'комфортная и эргономичная кабина'
  ]

  //- catalog
  catalogItems = [
    {
      name: 'КАМАЗ - 43502',
      images: [require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg')],
      status: 'stock',
      price: '10 999 999 руб.',
      items: [
        {name: 'Колесная формула', value: '4х4'},
        {name: 'Грузоподъемность', value: '11 700 кг'},
        {name: 'Двигатель', value: 'КАМАЗ'},
        {name: 'Мощность двигателя', value: '285 - 300 л.с.'},
        {name: 'Тип', value: 'борт/шасси'}
      ],
      link: 'product-page.html'
    },
    {
      name: 'КАМАЗ - 43118',
      images: [require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg')],
      status: 'order',
      price: '12 299 999 руб.',
      items: [
        {name: 'Колесная формула', value: '4х2'},
        {name: 'ТСУ (высота ССУ)', value: '1 530 мм'},
        {name: 'Двигатель', value: 'Weichai'},
        {name: 'Мощность двигателя', value: '300 л.с.'},
        {name: 'Тип', value: 'тягач'}
      ],
      link: 'product-page.html'
    },
    {
      name: 'КАМАЗ - 53504',
      images: [require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg')],
      status: 'stock',
      price: '15 299 999 руб.',
      items: [
        {name: 'Колесная формула', value: '6х6'},
        {name: 'Грузоподъемность', value: '11 700 кг'},
        {name: 'Двигатель', value: 'КАМАЗ или Cummins'},
        {name: 'Мощность двигателя', value: '450-550 л.с.'},
        {name: 'Тип', value: 'самосвал/шасси'}
      ],
      link: 'product-page.html'
    },
    {
      name: 'КАМАЗ - 5490',
      images: [require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg')],
      status: 'stock',
      price: '10 999 999 руб.',
      items: [
        {name: 'Колесная формула', value: '4х4'},
        {name: 'Грузоподъемность', value: '11 700 кг'},
        {name: 'Двигатель', value: 'КАМАЗ'},
        {name: 'Мощность двигателя', value: '285 - 300 л.с.'},
        {name: 'Тип', value: 'борт/шасси'}
      ],
      link: 'product-page.html'
    },
    {
      name: 'КАМАЗ - 65111',
      images: [require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg')],
      status: 'order',
      price: '12 299 999 руб.',
      items: [
        {name: 'Колесная формула', value: '4х2'},
        {name: 'ТСУ (высота ССУ)', value: '1 530 мм'},
        {name: 'Двигатель', value: 'Weichai'},
        {name: 'Мощность двигателя', value: '300 л.с.'},
        {name: 'Тип', value: 'тягач'}
      ],
      link: 'product-page.html'
    },
    {
      name: 'КАМАЗ - 53605',
      images: [require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg'), require('@/assets/img/catalog/trucks/2.jpg'), require('@/assets/img/catalog/trucks/1.jpg')],
      status: 'stock',
      price: '15 299 999 руб.',
      items: [
        {name: 'Колесная формула', value: '6х6'},
        {name: 'Грузоподъемность', value: '11 700 кг'},
        {name: 'Двигатель', value: 'КАМАЗ или Cummins'},
        {name: 'Мощность двигателя', value: '450-550 л.с.'},
        {name: 'Тип', value: 'самосвал/шасси'}
      ],
      link: 'product-page.html'
    }
  ]

  catalogBreadcrumbs = [
    {href: 'catalog.html', txt: 'Каталог', active: true}
  ]

  //- product-page
  productPageBreadcrumbs = [
    {href: 'catalog.html', txt: 'Каталог'},
    {href: 'sedelnye-tyagachi', txt: 'Сидельные тягачи'},
    {href: 'product-page.html', txt: 'Kamaz 54901', active: true}
  ]

  productPageSlider = [
    require('@/assets/img/popular/7.jpg'),
    require('@/assets/img/popular/1.jpg'),
    require('@/assets/img/popular/2.jpg'),
    require('@/assets/img/popular/3.jpg')
  ]

  productPagePanelItems = [
    { name: 'Колесная формула', value: '6х6'},
    { name: 'Грузоподъемность', value: '11 225 кг'},
    { name: 'Двигатель', value: 'КАМАЗ или Cummins'},
    { name: 'Мощность двигателя', value: '300 л.с.'},
    { name: 'Тип', value: 'борт/шасси'}
  ]

  //- product options
  productOptionsItems = [
    {
      title: 'Весовые параметры',
      options: [
        {option: 'Нагрузка на седельно-сцепное устройство', value: '10 430 кг'},
        {option: 'Полная масса а/м', value: '19 500 кг'},
        {option: '- нагрузка на задний мост', value: '11 500 кг'},
        {option: '- нагрузка на переднюю ось', value: '8 000 кг'},
        {option: 'Полная масса автопоезда', value: '44 000 кг'},
        {option: 'Полная масса полуприцепа', value: '34 930 кг'},
        {option: 'Снаряженная масса', value: '9 070 кг'},
        {option: '- нагрузка на задний мост', value: '2 770 кг'},
        {option: '- нагрузка на переднюю ось', value: '6 300 кг'}
      ]
    },
    {
      title: 'Двигатель',
      options: [
        {option: 'Нагрузка на седельно-сцепное устройство', value: '10 430 кг'},
        {option: 'Полная масса а/м', value: '19 500 кг'},
        {option: '- нагрузка на задний мост', value: '11 500 кг'},
        {option: '- нагрузка на переднюю ось', value: '8 000 кг'},
        {option: 'Полная масса автопоезда', value: '44 000 кг'},
        {option: 'Полная масса полуприцепа', value: '34 930 кг'},
        {option: 'Снаряженная масса', value: '9 070 кг'},
        {option: '- нагрузка на задний мост', value: '2 770 кг'},
        {option: '- нагрузка на переднюю ось', value: '6 300 кг'}
      ]
    },
    {
      title: 'Коробка передач',
      options: [
        {option: 'Нагрузка на седельно-сцепное устройство', value: '10 430 кг'},
        {option: 'Полная масса а/м', value: '19 500 кг'},
        {option: '- нагрузка на задний мост', value: '11 500 кг'},
        {option: '- нагрузка на переднюю ось', value: '8 000 кг'},
        {option: 'Полная масса автопоезда', value: '44 000 кг'},
        {option: 'Полная масса полуприцепа', value: '34 930 кг'},
        {option: 'Снаряженная масса', value: '9 070 кг'},
        {option: '- нагрузка на задний мост', value: '2 770 кг'},
        {option: '- нагрузка на переднюю ось', value: '6 300 кг'}
      ]
    },
    {
      title: 'Главная передача',
      options: [
        {option: 'Нагрузка на седельно-сцепное устройство', value: '10 430 кг'},
        {option: 'Полная масса а/м', value: '19 500 кг'},
        {option: '- нагрузка на задний мост', value: '11 500 кг'},
        {option: '- нагрузка на переднюю ось', value: '8 000 кг'},
        {option: 'Полная масса автопоезда', value: '44 000 кг'},
        {option: 'Полная масса полуприцепа', value: '34 930 кг'},
        {option: 'Снаряженная масса', value: '9 070 кг'},
        {option: '- нагрузка на задний мост', value: '2 770 кг'},
        {option: '- нагрузка на переднюю ось', value: '6 300 кг'}
      ]
    }
  ]

  //- product modifications
  productModificationsItems = [
    {
      title: '54901-22-92 (4х2)',
      characteristics: [
        {name: 'Двигатель', value: 'Р6 910.12-450 (Евро-5)'},
        {name: 'Мощность двигателя', value: '280 л.с.'},
        {name: 'ТСУ (высота ССУ)', value: '1 150 мм'},
        {name: 'Колесная формула', value: '4x2'},
        {name: 'КПП', value: 'ZF 12 ТХ2210ТD'}
      ],
      optionsAccord: [
        {
          title: 'Комплектация',
          options: [
            {option: 'Кабина К5 c двумя спальными местами, высокая крыша'},
            {option: 'Механизм опрокидывания кабины (МОК) электрический'},
            {option: 'Холодильник'},
            {option: 'Держатель запасного колеса на раме в базе'},
            {option: 'Дисковые колеса 9.00 - 22,5 стальные, шины бескамерные 315/70 R22,5 '},
            {option: 'Полная масса полуприцепа'},
            {option: 'Размещение АКБ слева на раме'}
          ]
        },
        {
          title: 'Дополнительные опции',
          options: [
            {option: 'Кабина К5 c двумя спальными местами, высокая крыша'},
            {option: 'Механизм опрокидывания кабины (МОК) электрический'},
            {option: 'Холодильник'},
            {option: 'Держатель запасного колеса на раме в базе'},
            {option: 'Дисковые колеса 9.00 - 22,5 стальные, шины бескамерные 315/70 R22,5 '},
            {option: 'Полная масса полуприцепа'},
            {option: 'Размещение АКБ слева на раме'}
          ]
        },
      ]
    },
    {
      title: '54901-53-92 (4х2)',
      characteristics: [
        {name: 'Двигатель', value: 'Р6 910.12-450 (Евро-5)'},
        {name: 'Мощность двигателя', value: '420 л.с.'},
        {name: 'ТСУ (высота ССУ)', value: '1 700 мм'},
        {name: 'Колесная формула', value: '4x2'},
        {name: 'КПП', value: 'ZF 12 ТХ2210ТD'}
      ],
      optionsAccord: [
        {
          title: 'Комплектация',
          options: [
            {option: 'Кабина К5 c двумя спальными местами, высокая крыша'},
            {option: 'Механизм опрокидывания кабины (МОК) электрический'},
            {option: 'Холодильник'},
            {option: 'Держатель запасного колеса на раме в базе'},
            {option: 'Дисковые колеса 9.00 - 22,5 стальные, шины бескамерные 315/70 R22,5 '},
            {option: 'Полная масса полуприцепа'},
            {option: 'Размещение АКБ слева на раме'}
          ]
        },
        {
          title: 'Дополнительные опции',
          options: [
            {option: 'Кабина К5 c двумя спальными местами, высокая крыша'},
            {option: 'Механизм опрокидывания кабины (МОК) электрический'},
            {option: 'Холодильник'},
            {option: 'Держатель запасного колеса на раме в базе'},
            {option: 'Дисковые колеса 9.00 - 22,5 стальные, шины бескамерные 315/70 R22,5 '},
            {option: 'Полная масса полуприцепа'},
            {option: 'Размещение АКБ слева на раме'}
          ]
        },
      ]
    }
  ]
