@use 'components/variables' as *
@use 'components/header'
@use 'components/offers'

/*--------------------------------------- global ----------------------------------------------------*/
body
  background: #E5E5E5

.wrapper
  color: $white
  background: $lightGray
  position: relative
  box-sizing: border-box
  max-width: 1280px
  margin: 0 auto
  overflow: hidden
