@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.technology
  padding: 20px 0 0
  +screen($desktop)
    padding: 16px 0 0
  +screen($tablet)
    background: none
    padding: 12px 0 0

  &__top
    position: relative
    padding: 50px 0 51px
    +screen($desktop)
      padding: 40px 0 41px
    +screen($tablet)
      padding: 32px 0

    .container
      padding-left: 0
      +screen($tablet)
        padding: 0

    &-image
      display: flex
      +screen($desktop)
        max-width: 761px
        max-height: 390px
      +screen($tablet)
        max-width: none
        max-height: none

    .technology__block
      position: absolute
      bottom: -51px
      right: 0
      max-width: 945px
      box-sizing: border-box
      width: 100%
      +screen($desktop)
        bottom: -41px
        max-width: 710px
      +screen($tablet)
        max-width: none
        position: relative
        bottom: auto
        right: auto
        margin-top: 37px
        padding: 0 8px

      &-desc
        box-sizing: border-box
        padding: 51px 100px 51px 64px
        background-color: $blue
        color: $white
        +screen($desktop)
          padding: 47px 60px 46px 49px
        +screen($tablet)
          padding: 22px 20px 22px 14px

        p
          +font(20px, 30px)
          +screen($desktop)
            +font(16px, 26px)
          +screen($tablet)
            +font(16px, 28px)

          &:first-child
            margin-bottom: 24px
            +font(28px, 36px, 700)
            +screen($desktop)
              margin-bottom: 14px
              +font(20px, 28px, 700)
            +screen($tablet)
              margin-bottom: 23px

          &:last-child
            margin-top: 40px
            +screen($desktop)
              margin-top: 30px

      &-title
        color: $blue
        +font(80px, 94px, 700)
        box-sizing: border-box
        padding-right: 100px
        text-align: right
        transform: translateY(18px)
        +screen($desktop)
          transform: translateY(13px)
          padding-right: 60px
          +font(60px, 70px, 700)
        +screen($tablet)
          transform: translateY(10px)
          padding: 0
          +font(46px, 54px, 700)

        span
          color: $black
          +font(42px, 42px, 700)
          transform: translateY(-60px)
          +screen($desktop)
            transform: translateY(-48px)
            +font(33px, 40px, 700)
          +screen($tablet)
            transform: translateY(-36px)
            +font(28px, 40px, 700)

  &__block
    &-title
      +font(32px, 40px, 700)
      +screen($desktop)
        +font(24px, 40px, 700)
      +screen($tablet)
        +font(22px, 28px, 700)

      span
        display: inline-block
        +font(34px, 40px, 700)
        color: $blue
        transform: translateY(-26px)
        +screen($desktop)
          transform: translateY(-13px)
          +font(26px, 40px, 700)
        +screen($tablet)
          +font(20px, 40px, 700)

    &-txt
      +font(20px, 34px)
      margin-top: 12px
      +screen($desktop)
        margin-top: 2px
        +font(16px, 26px)
      +screen($tablet)
        margin-top: 10px

      span
        font-weight: 700
        color: $orange

  &__middle
    padding: 50px 0 0
    +screen($desktop)
      padding: 40px 0 0

    .container
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 50px
      padding-right: 0
      +screen($desktop)
        grid-gap: 40px 37px
      +screen($tablet)
        grid-template-columns: 1fr
        grid-gap: 30px
        padding: 0

    .technology__block
      +screen($tablet)
        margin: 0 26px 0 8px

      &-title
        padding-top: 26px
        +screen($desktop)
          padding-top: 10px
        +screen($tablet)
          padding-top: 6px

      &-txt
        padding-left: 68px
        +screen($desktop)
          padding-left: 51px
        +screen($tablet)
          padding-left: 39px

      &:nth-child(2),
      &:nth-child(6)
        .technology__block-txt
          padding-right: 145px
          +screen($tablet)
            padding-right: 0

  &__image
    height: 528px
    width: 945px
    display: flex
    +screen(1680)
      width: 700px
    +screen($desktop)
      width: 710px
      height: 390px
    +screen(1300)
      width: auto
      height: auto

  &__bottom
    .container
      background: url(../assets/img/technology/tech-bg.svg) 102% 104%/contain no-repeat
      display: flex
      padding: 50px 100px
      gap: 28px
      align-items: center
      +screen($desktop)
        background: url(../assets/img/technology/tech-bg-desk.svg) 100% 104%/contain no-repeat
        padding: 40px 60px
      +screen($tablet)
        padding: 40px 60px 0
        gap: 50px
        flex-direction: column

    .technology__block
      +screen($tablet)
        margin: 0 26px 0 8px

      &-txt
        padding-left: 63px
        +screen($desktop)
          padding-left: 48px
        +screen($tablet)
          padding-left: 38px

  &__grid
    display: grid
    grid-template: repeat(2, 250px) / 488px 427px
    grid-gap: 28px 30px
    flex-shrink: 0
    +screen($desktop)
      grid-template: repeat(2, 188px) / 374px 315px
      grid-gap: 20px 21px
    +screen($tablet-xs)
      grid-gap: 20px
      grid-template: 397px 106px / repeat(2, 1fr)

    img
      &:first-child
        grid-row: span 2
        +screen($tablet)
          grid-row: auto
          grid-column: span 2
