-
  searchSelect = {
    id: 'status',
    options: ['Забронированно', 'Проданно', 'Активно'],
    name: 'status'
  }

  searchActions = [
    {
      text: 'все',
      modifier: 'main'
    },
    {
      text: 'Сохранить',
      img: require("@/assets/img/icons/save.svg")
    },
    {
      text: 'Отправить',
      img: require("@/assets/img/icons/tg.svg")
    },
    {
      text: 'Удалить',
      img: require("@/assets/img/icons/trash.svg")
    },
  ]

  flatCards = [
    {
      price: '7 733 300 руб.',
      about: {
        img: require('@/assets/img/icons/flat.svg'),
        text: 'Квартира'
      },
      name: '<span>Чистое Небо,</span> корпус 10, III кв. 2022 г.',
      number: 'кв. 62',
      count: '1 комн. кв.',
      meters: '234.38 м²',
      floor: '7 этаж',
      status: {
        modifier: 'entity',
        text: 'Уступка от юр. лица'
      },
      address: 'Лен. область, Всеволожский район, д. Кудрово, ул. Столичная, д. 5, к. 1',
      img: require('@/assets/img/layout.png'),
      date: 'Добавлено 21/11/2020'
    },
    // {
    //   price: '7 733 300 руб.',
    //   address: '<span>Чистое Небо,</span> корпус 10, III кв. 2022 г.',
    //   number: 'кв. 62',
    //   count: '1 комн. кв.',
    //   meters: '234.38 м²',
    //   floor: '7 этаж',
    //   status: {
    //     modifier: 'entity',
    //     text: 'Уступка от юр. лица'
    //   },
    //   address: 'Комендантский пр., уч. 1 Каменка',
    //   img: require('@/assets/img/layout.png'),
    //   date: 'Добавлено 21/11/2020'
    // },
    // {
    //   price: '7 733 300 руб.',
    //   about: {
    //     img: require('@/assets/img/icons/car.svg'),
    //     text: 'Квартира'
    //   },
    //   address: '<span>Чистое Небо,</span> корпус 10, III кв. 2022 г.',
    //   number: 'кв. 62',
    //   count: '1 комн. кв.',
    //   meters: '234.38 м²',
    //   floor: '7 этаж',
    //   status: {
    //     modifier: 'entity',
    //     text: 'Уступка от юр. лица'
    //   },
    //   address: 'Ленинградская область, Всеволожский район, д. Кудрово, ул. Столичная, д. 5, к. 1',
    //   img: require('@/assets/img/layout.png'),
    //   date: 'Добавлено 21/11/2020'
    // },
    // {
    //   price: '7 733 300 руб.',
    //   about: {
    //     img: require('@/assets/img/icons/car.svg'),
    //     text: 'Квартира'
    //   },
    //   address: '<span>Чистое Небо,</span> корпус 10, III кв. 2022 г.',
    //   number: 'кв. 62',
    //   count: '1 комн. кв.',
    //   meters: '234.38 м²',
    //   floor: '7 этаж',
    //   status: {
    //     modifier: 'entity',
    //     text: 'Уступка от юр. лица'
    //   },
    //   address: 'Лен. область, Всеволожский район, д. Кудрово, ул. Столичная, д. 5, к. 1',
    //   img: require('@/assets/img/layout.png'),
    //   date: 'Добавлено 21/11/2020'
    // }
  ]

