-
  headerTopMenu = [
    {text: 'Контакты', href: 'javascript:'},
    {text: 'Отзывы', href: 'javascript:', modifier: 'star'},
    {text: 'Гарантия', href: 'javascript:'}
  ]

  headerNav = [
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/catalog.svg'), text: 'Каталог', href: 'javascript:'},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/apple.svg'), text: 'Ремонт Apple', href: 'javascript:', arrow: true},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/mobile.svg'), text: 'Ремонт смартфонов', href: 'javascript:', arrow: true},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/tablet.svg'), text: 'Ремонт планшетов', href: 'javascript:', arrow: true},
    {svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/notebook.svg'), text: 'Ремонт ноутбуков', href: 'javascript:', arrow: true}
  ]

  headerMobileMenu = [
    {
      svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/mobile/apple.svg'),
      text: 'Ремонт Apple',
      href: 'javascript:'
    },
    {
      svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/mobile/mobile.svg'),
      text: 'Ремонт смартфонов',
      href: 'javascript:'
    },
    {
      svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/mobile/tablet.svg'),
      text: 'Ремонт планшетов',
      href: 'javascript:'
    },
    {
      svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/mobile/notebook.svg'),
      text: 'Ремонт ноутбуков',
      href: 'javascript:'
    },
    {
      svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/svg/header/mobile/console.svg'),
      text: 'Ремонт игровых приставок',
      href: 'javascript:'
    }
  ]

  serviceItems = [
    {
      svg: require('@/assets/img/svg/service/screwdriver.svg'),
      text: 'Починим даже то, от чего отказались другие'
    },
    {
      svg: require('@/assets/img/svg/service/shield.svg'),
      text: 'Гарантия нашего <br> сервиса 3 месяца'
    },
    {
      svg: require('@/assets/img/svg/service/bb.svg'),
      text: 'Собственная выгодная бонусная система'
    },
    {
      svg: require('@/assets/img/svg/service/loupe.svg'),
      text: 'Бесплатная диагностика даже при отказе от ремонта'
    }
  ]

  teamItems = [
    {
      img: require('@/assets/img/team/1.jpg'),
      name: 'Илья',
      desc: 'Мастер по ремонту, опыт 5 лет. В «Белом Сервисе» с июля 2020',
      working: 'Более 4 800 выполненных работ',
      mes: 'Определю любую причину поломки!'
    },
    {
      img: require('@/assets/img/team/2.jpg'),
      name: 'Александр',
      desc: 'Мастер по ремонту, опыт 4,5 года. В «Белом Сервисе» с августа 2020',
      working: 'Более 5 200 выполненных работ',
      mes: 'Верну к жизни, как самые первые модели, так и новинки  смартфонов.'
    },
    {
      img: require('@/assets/img/team/3.jpg'),
      name: 'Андрей',
      desc: 'Мастер по ремонту и переклейке дисплеев, опыт 5 лет. В «Белом Сервисе» с сентября 2020',
      working: 'Более 4 000 выполненных работ',
      mes: 'Ремонт Apple – мой конек!'
    },
    {
      img: require('@/assets/img/team/4.jpg'),
      name: 'Дмитрий',
      desc: 'Мастер по ремонту, опыт 5 лет. В «Белом Сервисе» с июля 2020',
      working: 'Более 4 800 выполненных работ',
      mes: 'Определю любую причину поломки!'
    },
  ]
