extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'about'
    topSecBreadcrumbs = true
    topTitle = 'О компании'
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'about-company.html',
        txt: 'О компании'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/global/top-sec
  include ../sections/about-page/about-top
  include ../sections/about-page/about-grid
  include ../sections/about-page/about-slider


