extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'products'
    map = true
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'contacts.html',
        txt: 'Контакты'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/contacts/contacts-map
  //include ../sections/contacts/sales
