extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'dev'
    breadCrumbsList = false
    topSecBreadcrumbs = true

block title
  | МЕХ ЗАВОД SOTRANS

block content
  section.dev-page
    .dev-page__image.dev-page__image_top.slide-left
      img(src=require('@/assets/img/dev/top.svg') alt="")
    h1.section-title.slide-right Раздел находится в разработке
    .dev-page__image.dev-page__image_bottom.slide-up
      img(src=require('@/assets/img/dev/bottom.svg') alt="")
