extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'dealership'
    breadCrumbsList = [
      {
        url: 'dilerstvo.html',
        txt: 'Дилерство'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/dillerstvo/dealership
