extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'product'
    callModal = true
    productSpecs = hook390Page.specs
    productSlides = hookMan.slides
    productTopTitle = 'Крюковой погрузчик MAN TGS 33.440'
    additionalTitle = 'Дополнительные характеристики'
    additionalOptions = hook390Page.additional
    additionalDiagram = hook390Page.diagram
    additionalContentModifier = 'product-additional__content_flex-row'
    productSpecsCallBtn = true
    productTopGuarantee = true
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'products.html',
        txt: 'Продукция'
      },
      {
        url: 'hooklifts.html',
        txt: 'Крюковые погрузчики'
      },
      {
        url: 'hook-390.html',
        txt: 'Крюковой погрузчик FAW J6P-390'
      }
    ]
block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/product/product-top
  include ../sections/product/product-additional
