extends ../layouts/main/layout.pug

append variables
  -
    topTitle = 'Делаем серьезную технику на века'
    topTxt = 'Первый кузовостроительный завод в СЗФО'
    mainModifier = 'home'
    productsTitleTxt = 'Продукция'
    callModal = true

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/global/top-sec
  include ../sections/index/nums
  //include ../sections/index/about
  //include ../sections/index/best
  //include ../sections/index/projects
  //include ../sections/index/benefits
  //include ../sections/index/partners
  //include ../sections/global/products-slider
  //include ../sections/index/index-news
  //include ../sections/index/why
