extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'news'
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'news.html',
        txt: 'Новости'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/news/news-grid
