extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'tail-lift'
    callModal = true
    productSpecs = onboard.specs
    productSlides = onboard.slides
    productTopTitle = 'Бортовая Платформа с КМУ Hyva HB 80 E2'
    additionalTitle = 'Комплектация:'
    productSpecsCallBtn = true
    additionalEquipment = true
    productSpecsMore = true
    additionalEquipmentLists = onboard.equipment.lists
    additionalEquipmentImage = onboard.equipment.image
    additionalEquipmentCaption = onboard.equipment.caption
    productTopGuarantee = true
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'products.html',
        txt: 'Продукция'
      },
      {
        url: 'javascript:',
        txt: 'Спецтехника'
      },
      {
        url: 'tail-lift.html',
        txt: 'Гидроборт'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/product/product-top
  include ../sections/product/product-additional
  include ../sections/product/product-diagrams
  include ../sections/product/product-platform
