extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'semitrailer'
    breadCrumbsList = [
      {
        url: 'proizvodstvo.html',
        txt: 'Оборудование'
      },
      {
        url: 'polupritsepy.html',
        txt: 'Полуприцепы'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
