extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'products'
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'products.html',
        txt: 'Продукция'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/products/products-grid
