extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'production'
    topSecBreadcrumbs = true
    topTitle = 'Производство'
    txtLink = true
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'production.html',
        txt: 'Производство'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/global/top-sec
  include ../sections/production/production-about
  include ../sections/production/production-workshop
  include ../sections/production/production-aside
  +products-tile({title: 'Продукция', list: productsList})
  include ../sections/contacts/contacts-form


