extends ../layouts/other-pages/layout.pug

append variables
  -
    callModal = true
    mainModifier = 'product-page'
    productsTitleNum = '04'
    productsTitleTxt = 'Другие модели Грузовых погрузчиков'
    breadCrumbsList = [
      {
        url: 'proizvodstvo.html',
        txt: 'Оборудование'
      },
      {
        url: 'javascript:',
        txt: 'Бортовые платформы'
      },
      {
        url: 'product.html',
        txt: 'Бортовая Платформа с КМУ Hyva HB 80 E2'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  //include ../sections/product/product-slider
  //include ../sections/product/product-specs
  //include ../sections/product/diagram
  //include ../abstracts/mixins/products-tile
