extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'repair'
    topTitle = 'Ремонт тентов и надстроек'
    callModal = true
    breadCrumbsList = [
      {
        url: 'remont.html',
        txt: 'Ремонт'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/global/top-sec
  include ../sections/remont/profit
  include ../sections/remont/choice
  include ../sections/remont/repair
  include ../sections/remont/bulkhead
