extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'search'
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'search-results.html',
        txt: 'Поиск'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  section.search-results
  .container
    h1.section-title.slide-right Результаты поиска
    form.search-results__field.slide-up
      input(type="text" name="search")
      .search-results__icon
        img(src=require('@/assets/img/global/loupe-blue.svg') alt="search")
    .search-results__tile
      each num in [1, 2, 3]
        .search-results__item.slide-up
          .search-results__item-title Полуприцепы шторные
          .search-results__item-txt Технические характеристики. Длинна грузовой платформы 13 600 мм. Ширина грузовой платформы 2 470 мм. Высота в свету под крышей 2 710 мм. Общая длина 13 900 мм. Общая ширина 2 550 мм. Межосевое расстояние 1 310 мм. Допустимый общий вес 35 000 кг. Технически возможный общий вес 38 000 кг. Общая ...
          a.search-results__item-link(href="javascript:")
            span Перейти на страницу
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/global/vector-right-blue.svg')}

