extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'semitrailer-curtain'
    topSecBreadcrumbs = true
    topTitle = 'Полуприцепы шторные'
    callModal = true
    productSpecs = semitrailersCurtain.specs
    productSlides = semitrailersCurtain.slides
    tabLeftDesc = semitrailersCurtain.tabLeft.desc
    tabLeftImage = semitrailersCurtain.tabLeft.image
    tabLeftVideo = semitrailersCurtain.tabLeft.video
    tabRightDesc = semitrailersCurtain.tabRight.desc
    tabRightImage = semitrailersCurtain.tabRight.image
    tabButtons = ['Конструкция', 'Надстройка полуприцепа']
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'products.html',
        txt: 'Продукция'
      },
      {
        url: 'javascript:',
        txt: 'Полуприцепы'
      },
      {
        url: 'semitrailers-curtain.html',
        txt: 'Шторные полуприцепы'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/global/top-sec
  include ../sections/product/product-top
  include ../sections/product/product-tabs
