extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'special'
    breadCrumbsList = [
      {
        url: 'proizvodstvo.html',
        txt: 'Оборудование'
      },
      {
        url: 'spetstehnika.html',
        txt: 'Спецтехника'
      }
    ]
block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/global/search
  +category-grid({title: 'Спецтехника' ,list: specialList})
