extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'special'
    breadCrumbsList = [
      {
        url: 'javascript:',
        txt: 'Оборудование'
      },
      {
        url: 'javascript:',
        txt: 'Спецтехника'
      }
    ]
block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/global/search
  +category-grid(specialList)
