extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'tail-lift'
    callModal = true
    productSpecs = tailLift.specs
    productSlides = tailLift.slides
    productTopTitle = 'Гидроборт LTK -1000ST/Al'
    additionalTitle = 'Комплектация:'
    productSpecsCallBtn = true
    additionalEquipment = true
    additionalEquipmentLists = tailLift.equipment.lists
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'products.html',
        txt: 'Продукция'
      },
      {
        url: 'javascript:',
        txt: 'Спецтехника'
      },
      {
        url: 'tail-lift.html',
        txt: 'Гидроборт'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/product/product-top
  include ../sections/product/product-additional
  include ../sections/product/product-benefits
