extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'txt'
    breadCrumbsList = false
    topSecBreadcrumbs = true

block title
  | МЕХ ЗАВОД SOTRANS

block content
  section.txt
    .container.container_sm
      h1 Пользовательское соглашение
      .txt__content
        each el in termsList
          h2 #{el.title}
          ul
            each item in el.txt
              li #{item}
      p Обновлено «1» февраля 2023г.
