extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'vacancies'
    topSecBreadcrumbs = true
    topTitle = 'Вакансии'
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'vacancies.html',
        txt: 'О компании'
      }
    ]

block content
  include ../sections/global/top-sec
  include ../sections/vacancies/vacancies-offer
  include ../sections/vacancies/vacancies-desc

block modals
  include ../modals/vacancies/call-request-modal
  include ../modals/vacancies/success-modal
  include ../modals/vacancies/summary-modal
