extends ../layouts/other-pages/layout.pug

append variables
  -
    mainModifier = 'vans-tech'
    callModal = true
    productSpecs = vansTech.specs
    productSlides = vansTech.slides
    productTopTitle = 'Автомобиль технической помощи'
    productSpecsCallBtn = true
    productSpecsMore = true
    productTopGuarantee = true
    tabButtons = [
      'Описание',
      'Наполнение отсека',
      'Доп. оборудование для автомобиля'
    ]
    breadCrumbsList = [
      {
        url: '/',
        txt: 'Главная'
      },
      {
        url: 'products.html',
        txt: 'Продукция'
      },
      {
        url: 'javascript:',
        txt: 'Фургоны'
      },
      {
        url: 'vans-tech.html',
        txt: 'Автомобиль технической помощи'
      }
    ]

block title
  | МЕХ ЗАВОД SOTRANS

block content
  include ../sections/product/product-top
  section.product-tabs.slide-left
    .container
      .product-tabs__switcher
        each el,index in tabButtons
          if (index === 0)
            button.active(data-id=0) !{el}
          else
            button(data-id=index) !{el}
      .product-tabs__content
        .product-tabs__block.active(data-id=0)
          p Фургон имеет один технический отсек, с расположенным внутри оборудованием. Слева и справа по ходу движения устанавливаются рулонные двери — они необходимы для обеспечения воздухом, установленной внутри, дизель-генераторной установки. В задней части установлены распашные ворота для легкого доступа к установленному внутри оборудованию и стеллажам. Для облегчения погрузки тяжелых баллонов — установлен гидроборт.
        .product-tabs__block(data-id=1)
          .product-tabs__block-item
            h3 Шкафы для газовых баллонов
            p 2 шкафа под 2 баллона, с креплениями. Шкафы имеют естественную вентиляцию для выхода газа, в случае утечки, наружу, для обеспечения чистоты кислородных баллонов и минимизации риска контакта кислорода с гидравлическим маслом оборудованы рулонными дверьми (характеристики, аналогичные боковым люкам), размером 360х1750. Непосредственный доступ к баллонам осуществляется из грузового отделения.
          .product-tabs__block-item
            h3 Стеллаж
            p для размещения станции гидравлической.
          .product-tabs__block-item
            h3 Задний портал
            p 3мм, нержавеющая сталь
          .product-tabs__block-item
            h3 Боковые люки
            p алюминиевые рулонные двери. Размер двери 1100×1500 мм.
          .product-tabs__block-item
            h3 Освещение отсека
            p 2 светодиодных светильника, работающие от бортовой сети автомобиля, 12В
          .product-tabs__block-item
            h3 Стены/крыша, задние двери
            p состоят из следующих слоев: #[br] 1. Пластик белого цвета #[br] 2. Влагостойка фанера #[br] 3. Пенополиуретан #[br] 4. Влагостойка фанера #[br] 5. Пластик белого цвета
          .product-tabs__block-item
            h3 Пол
            p состоит из следующих слоев: #[br] 1. Алюминиевый рифленый лист с отбортовкой #[br] 2. Влагостойка фанера #[br] 3. Пенополиуретан #[br] 4. Влагостойка фанера #[br] 5. Пластик белого цвета
          .product-tabs__block-item
            h3 Передняя стенка
            p состоит из следующих слоев: #[br] 1. Алюминиевый рифленый лист #[br] 2. Влагостойка фанера #[br] 3. Пенополиуретан #[br] 4. Влагостойка фанера #[br] 5. Пластик белого цвета
        .product-tabs__block(data-id=2)
          .product-tabs__block-item
            h3 Телематическая система
            p SMART-S2435 #[br] Все установленные емкостные датчики (с ДГУ и из бака автомобиля) подключаются к этому блоку.
          .product-tabs__block-item
            h3 Датчик уровня топлива
            p Емкостный датчик уровня топлива ТД-150
          .product-tabs__block-item
            h3 Дополнительная комплектация
            p Домкрат 4т, огнетушитель, знак аварийной остановки, аптечка первой помощи.
  include ../sections/product/product-benefits

