include ../../mixins/custom-select
include ../../mixins/flat-card
include ../../mixins/check

block vaiables
  include ../../abstracts/variables

doctype html
html(lang="en")
  head
    include head
  body
    include header
    main
      block content
    include footer
