block variables
  include ../../abstracts/variables

//- mixins

doctype html
html(lang=lang)
  head
    include head
  body
    include ../../components/hidden-menu
    include header
    block content
    include footer
    block modals
