-
  //- header
  headerMenu = [
    {name: 'О компании', url: '#about'},
    {name: '2022 год в цифрах', url: '#year'},
    {name: 'Услуги', url: '#services'},
    {name: 'Собственное производство', url: '#production'}
  ]

  //- year
  yearList  = [
    {num: '<span class="anim-num">57779</span>', txt: 'перевезено грузов <br> в сегменте FTL'},
    {num: '<span class="anim-num">6550</span>', txt: 'перевезено <br> контенеров'},
    {num: '<span class="anim-num">950005</span> тонн', txt: 'перевезено <br> грузов'},
    {num: '<span class="anim-num">59500000</span> км', txt: 'проделанный <br> путь'}
  ]

  //- services
  servicesItems = [
    {
      title: 'Автомобильные грузоперевозки FTL',
      txt: 'Многолетний опыт в данном сегменте, собственный парк, филиальная сеть и АТП в 6 регионах РФ позволяют предоставлять нашим клиентам качественные сервис по конкурентной стоимости.',
    },
    {
      title: 'Мультимодальные перевозки',
      txt: 'Используя богатый опыт поставки запасных частей для собственного парка из различных стран мира, готовы предложить имеющиеся ЖД и морские сервисы для доставки ваших товаров из-за рубежа.',
    },
    {
      title: 'Контейнерные перевозки',
      txt: 'Собственный парк контейнеровозов, базирующийся в Москве и Санкт-Петербурге, позволяет обеспечивать "последней милей" импортные грузы. Партнёрские отношения со всеми ЖД терминалами и морскими портами способствуют рациональном использованию ресурса автопарка и доставке грузов до получателей в кратчайшие сроки.',
    },
    {
      title: 'Экспедирование',
      txt: 'Помимо перевозок собственным парком, предлагаем любые транспортные решения за счет большого количества подрядчиков во всех регионах страны и СНГ.',
    },
    {
      title: 'Складские услуги',
      txt: 'Склады в городах: Москва (РФ), Санкт-Петербург (РФ), Алматы (Казахстан) и New Jersey (США)',
    }
  ]

