-
  //- header
  headerMenu = [
    {name: 'О компании', url: '#about'},
    {name: '2022 год в цифрах', url: '#year'},
    {name: 'Услуги', url: '#services'},
    {name: 'Собственное производство', url: '#production'}
  ]

  //- year
  yearList  = [
    {num: '<span class="anim-num">57779</span>', txt: 'перевезено грузов <br> в сегменте FTL'},
    {num: '<span class="anim-num">6550</span>', txt: 'перевезено <br> контенеров'},
    {num: '<span class="anim-num">950005</span> тонн', txt: 'перевезено <br> грузов'},
    {num: '<span class="anim-num">59500000</span> км', txt: 'проделанный <br> путь'}
  ]

