-
  //- header
  headerMenu = [
    {name: 'О компании', url: '#about'},
    {name: '2022 год в цифрах', url: '#year'},
    {name: 'Услуги', url: '#services'},
    {name: 'Собственное производство', url: '#production'}
  ]


