@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.sales
  padding: 50px 0 100px

  &__contacts
    margin-top: 54px

    &-list
      margin-top: 40px
      display: grid
      grid-template-columns: repeat(auto-fit, 417px)
      grid-gap: 18px
      justify-content: center
      +screen($tablet-xs)
        grid-template-columns: 1fr

  &__item
    &-position
      margin-top: 33px
      +font(32px, 39px, 700, $font-title)

    &-name
      +font(24px, 32px, 700, $font-title)

    &-image
      height: 376px
      +screen($tablet-xs)
        height: 273px

      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

