section.actions
  .container
    h2.section__title.slide-right Ваши действия
    .actions__container
      .actions__image.slide-right
        img(src=require('@/assets/img/actions/cars.jpg') alt="")
      ul.actions__list
        each el in actionsList
          li.slide-up !{el}

