section.extra
  .container
    h2.section__title Дополнительно Вы получаете
    .extra__container
      ul.extra__list
        each el in extraList
          li.extra__list-item
            .extra__list-item-image
              img(src=require('@/assets/img/extra/list-item.svg') alt="")
            .extra__list-item-txt !{el}
      .extra__image
        img(src=require('@/assets/img/extra/man.jpg') alt="")


