section.production
  .container
    h2.section__title.slide-right Собственное производство
    p.production__txt.slide-up Компания Sotrans занимается производством собственных Полуприцепов
    .production__slider.swiper
      .swiper-wrapper
        each el, index in productionSlider
          .swiper-slide.slide-up(data-delay=`${index * 200}`)
            .swiper-image
              img(src=el.img alt="")
            .swiper-txt #{el.txt}
      .swiper-button-next
        img(src=require('@/assets/img/production/arrow.svg') alt="")
