section.questions
  .container
    ul.questions__list
      each el in questionsList
        li
          h3 !{el}
    .questions__image
      img(src=require('@/assets/img/questions/man.jpg') alt="")
