section.rent#rent
  .container
    h2.section__title.slide-right(data-delay="300") Аренда нового полуприцепа #[span Бесплатно]
    .rent__content
      .rent__image.slide-right(data-start="-800")
        img(src=require('@/assets/img/rent/truck.png') alt="")
      each el in rentPoints
        +rent-point(el)

