section.sharing
  .container.container_lg
    .sharing__path
      .sharing__content.slide-right
        h1.sharing__title CARGOшеринг
        a.sharing__anchor(href="#") Оставить заявку
  .container
    p.sharing__txt.slide-up
      span Группа компаний
      | &nbsp;
      img(src=require('@/assets/img/sharing/logo.svg') alt="")
      | &nbsp;
      span Занимается изготовлением собственных #[wbr] ПОЛУПРИЦЕПОВ высокого качества

