section.sharing
  .container.container_lg
    .sharing__path
      .sharing__content
        h1.sharing__title CARGOшеринг
        a.sharing__anchor(href="#") Оставить заявку
  .container
    p.sharing__txt
      | Группа компаний
      | &nbsp;
      img(src=require('@/assets/img/sharing/logo.svg') alt="")
      | &nbsp;
      | Занимается изготовлением собственных ПОЛУПРИЦЕПОВ высокого качества

