@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.human-card
  display: block
  width: 380px
  height: 600px
  position: relative
  flex-shrink: 0

  &__image,
  &__image-hover
    height: 440px
    position: absolute
    top: 0
    left: -10px

  &__image-hover
    opacity: 0

  &:hover
    .human-card__image
      opacity: 0

    .human-card__image-hover
      opacity: 1

    .human-card__info-more
      &.lazyloaded
        background: url(../assets/img/products/mobile/products_orange_btn.png) center 0 no-repeat !important

  &__info
    display: block
    position: absolute
    top: 404px
    width: 380px
    height: 196px
    text-align: center
    text-transform: uppercase

    &-shadow
      position: absolute
      left: 39px
      top: 27px
      width: 300px
      height: 140px
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, .25)

    &-name
      color: $black
      font-size: 25px
      height: 196px
      line-height: 30px
      padding-top: 55px
      text-align: center
      position: absolute
      top: -25px
      width: 100%

      &.lazyloaded
        background: url(../assets/img/riders/riders_rider_name.png) no-repeat scroll center center

      span
        display: block
        margin-top: 25px

    &-discipline
      display: inline-block
      position: relative
      top: 0
      min-width: 168px
      height: 37px
      padding: 0 30px
      color: #fff
      font-size: 20px
      line-height: 38px
      box-sizing: border-box

      &.lazyloaded
        background: url(../assets/img/riders/riders_rider_stroke.png) no-repeat scroll center center / 100% 100%

    &-more
      position: absolute
      bottom: 0
      width: 100%

