@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.human-slider
  position: absolute
  top: 370px
  left: 50%
  transform: translateX(-50%)
  width: 100%
  height: 670px
  z-index: 0
  pointer-events: auto
  overflow: hidden
  +screen($desktop-sm)
    transform: translateX(-50%) scale(.85)
  +screen($tablet)
    +cancel-position
    height: 640px
    width: 100%
    max-width: 380px
    margin: 0 auto
    position: relative

  &__arrow
    position: absolute
    top: 254px
    width: 90px
    height: 74px
    z-index: 2
    cursor: pointer
    +screen($tablet)
      width: 21px
      height: 16px
      top: inherit
      bottom: 3px

    &_disabled
      &[data-lazyloaded]
        background-position: 0 -148px !important
        +screen($tablet)
          background-position: 0 0 !important

    &:hover:not(&_disabled),
    &:active:not(&_disabled)
      background-position: 0 -74px !important
      +screen($tablet)
        background-position: 0 0 !important

    &_left
      left: 20px

      &[data-lazyloaded]
        background: url(../assets/img/riders/riders_gallery_arr_left.png) no-repeat 0 0
        +screen($tablet)
          background: url(../assets/img/riders/mobile/riders_gallery_arr_left.png) no-repeat center/contain !important

    &_right
      right: 20px

      &[data-lazyloaded]
        background: url(../assets/img/riders/riders_gallery_arr_right.png) no-repeat 0 0
        +screen($tablet)
          background: url(../assets/img/riders/mobile/riders_gallery_arr_right.png) no-repeat center/contain !important

  &__content
    display: flex

  &__pager
    width: 100%
    color: $black
    text-transform: uppercase
    text-align: center
    margin-top: 35px
    +font(25px, 30px)
    +screen($tablet)
      +font(18px, 18px)
      color: $orange
      position: absolute
      bottom: 0
      left: 0
