@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.select
  width: 160px
  min-height: 30px
  position: relative
  color: $black
  text-transform: uppercase
  display: none
  z-index: 5
  +font(22px, 24px)
  +screen($tablet)
    +font(18px, 18px)
    text-transform: none
    width: 100%

  &_active
    display: block

  &__container
    height: 30px
    box-sizing: border-box
    position: relative

  &__input
    width: 100%
    height: 100%
    text-transform: uppercase

    .select
      &__item
        height: 100%
        padding: 0
        color: $orange

      &__text
        position: relative
        white-space: nowrap

        &::after
          content: ''
          position: absolute
          top: 50%
          transform: translateY(-50%)
          width: 43px
          height: 45px
          right: -40px

        &::before
          position: absolute
          content: ''
          width: 100%
          height: 2px
          bottom: -3px
          left: 0

        &[data-lazyloaded]
          &::before
            background: url(../assets/img/riders/riders_filter_discipline_underline.png) repeat-x


        &[data-lazyloaded]
          &::after
            background: url(../assets/img/riders/riders_filter_discipline_arr.png) center/contain

    &_active
      .select__text
        &[data-lazyloaded]
          &::after
            transform: translateY(-50%) rotate(180deg)

  &__options
    position: absolute
    top: calc(100% + 8px)
    left: -25px
    width: 226px
    height: 0
    z-index: 10
    overflow: hidden
    box-sizing: border-box
    +screen($tablet)
      left: 50%
      transform: translateX(-50%)

    &::before
      position: absolute
      top: 5px
      left: 5px
      width: 216px
      height: 297px
      box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.25)
      content: ''

    &_active
      height: 297px
      overflow: visible

    &-head
      position: absolute
      top: 0
      left: 0
      height: 8px
      width: 226px

      &[data-lazyloaded]
        background: url(../assets/img/riders/filter_discipline_select_top_bg.png) no-repeat center top

    &-wrap
      position: absolute
      top: 8px
      left: 0
      width: 226px
      height: 297px

      &[data-lazyloaded]
        background: url(../assets/img/riders/filter_discipline_select_bottom_bg.png) center/contain


    &-content
      overflow-y: auto
      width: 100%
      height: 297px

      &[data-lazyloaded]
        &::-webkit-scrollbar
          background: url(../assets/img/riders/dropdown_scrollbar_bg.png) repeat-y 13px 0

        &::-webkit-scrollbar-thumb
          background: url(../assets/img/riders/dropdown_scrollbar_handle.png) repeat-y 13px 0

  &__item
    display: flex
    height: 50px
    align-items: center
    box-sizing: border-box
    padding-left: 20px
    cursor: pointer
    transition: color .2s
    text-transform: uppercase

    &:hover,
    &_active
      color: $orange

  &__arrow
    width: 12px
    height: 7px
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 7px

    &[data-lazyloaded]
      background: url(../assets/img/riders/riders_filter_discipline_arr.png) center/contain no-repeat

    &_active
      transform: translateY(-50%) rotate(180deg)

  &__hidden
    display: none
