section.product-top
  .container
    if (productTopTitle)
      h2.section-title.slide-right #{productTopTitle}
    .product-top__container
      +product-specs(productSpecs)
      +product-slider(productSlides)
