section.product-slider
  .container
    .product-slider__top
      h2.product-slider__title Бортовая Платформа с КМУ Hyva HB 80 E2
      .call-modal__btn
        button Заказать звонок
    .swiper
      .swiper-wrapper
        each el in productSlides
          .swiper-slide
            .swiper-slide-image
              img(src=el alt="")
      .swiper-button-next
        img(src=require('@/assets/img/product/slides/vector-right.svg') alt="")
