section.product-diagrams
  .container
    h2.section-title.section-title_sm.slide-right Технические схемы
    .product-diagrams__grid
      each el in onboard.diagrams
        .product-diagrams__item
          img(src=el alt="")
