section.product-platform
  .container
    h2.section-title.section-title_sm.slide-right Бортовая алюминиевая платформа
    p.product-platform__txt.slide-right Материалы изготовления фургона:
    ul.product-platform__list
      each el in onboard.platform
        li.slide-up
          span #{el.name}
          span #{el.value}
