aside.product-cert
  .container
    .product__video
      .product__video-btn
        button
          img(src=require('@/assets/img/global/play-btn.svg') alt="")
      video(loop muted controls)
        source(src=require('@/assets/video/semitrailer.mp4') type="video/mp4")
    .product-cert__image
      img(src=require('@/assets/img/product/semitrailers/curtain/cert.jpg') alt="")

