section.product-optional
  .container
    h2.section-title.section-title_sm Дополнительное оборудование
    .product-optional__grid
      each el in semitrailersCurtain.optional
        .product-optional__item
          .product-optional__item-image
            img(src=el.image alt=el.txt)
          .product-optional__item-txt !{el.txt}
    button.btn.btn_orange.call-modal__btn Заказать звонок
