footer.footer
    .container
        .footer__top
            .footer__top-container
                .footer__image-container
                    img.footer__image(src="/src/assets/images/footer-image.png")
                .footer__links-container
                    a.footer__link Условия аренды
                    a.footer__link Технические характеристики
                    a.footer__link Обслуживание
                    a.footer__link FAQ
                    a.footer__link Контакты
                .footer__contacts-container
                    .footer__contact
                        img.footer__contact-image(src="/src/assets/images/contacts.png")
                        a.footer__contact-text + 7 (812) 495-42-02
                    .footer__contact
                        img.footer__contact-image(src="/src/assets/images/contacts1.png")
                        a.footer__contact-text info@mz-sotrans.ru
                    .footer__contact
                        img.footer__contact-image(src="/src/assets/images/contacts3.png")
                        a.footer__contact-text п. Красный Бор, ул. Промышленная
            .footer__attention *Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.
.separator
.footer__bottom
    .container
        .bottom__text SOTRANS АРЕНДА ПОЛУПРИЦЕПОВ | © 2024 | Все права защищены
        .bottom__links-container
            a.bottom__link Условия пользования сайтом
            | |
            a.bottom__link Политика конфиденциальности
