-
  headerLinks = [
    {
      modifier: 'mail',
      href: 'javascript:',
      svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/mail.svg')
    },
    {
      modifier: 'user',
      href: 'javascript:',
      svg: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/user.svg')
    },
  ]

  filterOptions = [
    {
      txt: 'Все',
      modifier: 'active'
    },
    {
      txt: 'Выполненные',
    },    {
      txt: 'В работе',
    },
  ]
