@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.product-diagrams
  padding: 50px 0
  +screen($tablet)
    padding: 33px 0 50px

  &__grid
    margin-top: 30px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr))
    grid-gap: 20px
    +screen($tablet-xs)
      grid-template-columns: 1fr
      margin-top: 25px

  &__item
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    padding: 3px 15px
    border-radius: 10px
    border: 2px solid #ECECEC
    height: 315px

    img
      width: 100%
      height: 100%
      object-fit: contain
      object-position: center
