@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.reports
  height: 100vh

  &-header
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    padding: 26px 32px 30px 26px

    &-title
      display: flex
      align-items: center

      button
        margin-right: 30px

  &-content
    overflow-y: scroll
    padding: 0 12px 30px
    box-sizing: border-box
    margin: 0 12px 0 30px
    height: 90vh

    &::-webkit-scrollbar
      width: 6px

    &::-webkit-scrollbar-thumb
      background-color: $gray
      border-radius: 100px

    &::-webkit-scrollbar-track
      background-color: $gray-light

    &-title
      box-shadow: 0 2px 20px rgba(52, 60, 68, 0.08)
      border-radius: 8px
      box-sizing: border-box
      padding: 11px 20px
      margin-bottom: 10px
      overflow: hidden

      span
        +font(16px, 19px, 700)
        color: $black

    &-item
      display: flex
      align-items: center
      margin-top: 15px
      box-sizing: border-box
      border: 1px solid $gray-light
      border-radius: 8px
      padding: 11px 12px 11px 20px
      transition: all 0.3s ease

      &:hover > &__title, &:hover > svg path
        color: $orange
        fill: $orange

      &:hover
        border: 1px solid $orange

      &__title
        width: 25vw
        +font(14px,17px, 400)
        color: $gray-dark
        margin-right: 13px


