@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.pagination
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  +screen($tablet-sm)
    display: none

  &-container
    display: flex
    gap: 20px

  &-line
    display: flex
    gap: 8px
    background-color: $light-blue
    border-radius: 8px

    &-btn
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      width: 36px
      height: 36px
      border-radius: 8px

      span
        color: $black
        +font(16px, 20px, 700)

      &.active
        background-color: $blue-main
        box-shadow: 0 4px 10px 0 rgba(29, 69, 170, 0.3)

        span
          color: $white

      &.next

        span
          color: $blue-main

  &-btn-prev, &-btn-next
    background-color: $light-blue
    border-radius: 50%
    width: 36px
    height: 36px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer

    &.disabled

      svg path
        stroke: #D3D3DE

    &.active

      svg path
        stroke: $black



