@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.carcass
  height: 702px
  +screen($tablet)
    height: auto
    flex-direction: column-reverse
    display: flex

  .container
    +screen($tablet)
      margin-top: 0
