@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.service-map
  .container:nth-child(2)
    padding: 0
    height: 100%
    margin: 44px auto 100px
    +screen($tablet)
      margin: 40px auto 0

