@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.all-link
  display: flex
  align-items: center
  gap: 4px

  span
    +font(14px, 20px, 600)
    color: $blue-main

  &:hover

    span
      color: $blue-dark

    svg path
      stroke: $blue-dark

  &-white

    span
      color: $white

    svg path
      stroke: $white

    &:hover

      span
        color: $white

      svg path
        stroke: $white



