@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.products-grid
  padding: 15px 0 146px
  +screen($tablet)
    padding: 20px 0 45px

  &__block
    margin-top: 60px
    +screen($tablet)
      margin-top: 50px

    &_trailers
      .category-grid__item
        &:nth-child(1)
          .category-grid__item-image
            +screen($tablet)
              width: 113px
              height: 66px

        &:nth-child(2)
          .category-grid__item-image
            width: 127px
            height: 74px
            +screen($tablet)
              width: 112px
              height: 66px

    &_special
      .category-grid__item
        &:nth-child(1)
          .category-grid__item-image
            +screen($tablet)
              width: 112px
              height: 81px

        &:nth-child(2)
          .category-grid__item-image
            width: 138px
            height: 99px
            +screen($tablet)
              width: 122px
              height: 86px

        &:nth-child(3)
          .category-grid__item-image
            margin-left: -10px
            +screen($tablet)
              margin-left: -30px
              width: 143px
              height: 57px

            svg
              transform: translateY(10px)

    &_vans
      .category-grid__item
        padding: 20px
        min-height: 226px
        +screen($tablet)
          min-height: 160px

        &-image
          +screen($tablet)
            width: 96px
            height: 51px


