@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *
@use '../../abstracts/extends' as *

.products-grid
  padding: 15px 0 66px
  +screen($tablet)
    padding: 20px 0 70px

  &__block
    margin-top: 60px
    +screen($tablet)
      margin-top: 50px

    &:nth-child(2)
      .category-grid__item
        &:nth-child(1)
          .category-grid__item-image
            width: 127px
            height: 74px
            +screen($tablet)
              width: 113px
              height: 66px

        &:nth-child(2)
          .category-grid__item-image
            width: 127px
            height: 74px
            +screen($tablet)
              width: 112px
              height: 66px

    &:nth-child(3)
      .category-grid__item
        &:nth-child(1)
          .category-grid__item-image
            +screen($tablet)
              width: 112px
              height: 81px

        &:nth-child(2)
          .category-grid__item-image
            width: 145px
            height: 105px
            +screen($tablet)
              width: 149px
              height: 53px
              margin-left: -33px

          &:nth-child(3)
            .category-grid__item-image
              width: 138px
              height: 99px
              +screen($tablet)
                width: 123px
                height: 87px

    &:nth-child(4)
      .category-grid__item
        +screen($tablet)
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3)
            .category-grid__item-image
              width: 100px
              height: 53px
