@import '_variables';

body {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}
/*-----------------------------------------------GLOBAL---ELEMENTS----------------------------------------------*/
@import 'libs/_global.scss';
/*------------------------------------------------------QR------------------------------------------------------*/
@import 'libs/_qr.scss';
/*----------------------------------------------------HEADER----------------------------------------------------*/
@import 'libs/_header';
/*-----------------------------------------------------MAIN-----------------------------------------------------*/
@import 'libs/_main';
/*----------------------------------------------------FOOTER----------------------------------------------------*/
@import 'libs/_footer';
/*--------------------------------------------------MY--PROFILE-------------------------------------------------*/
@import 'libs/_myProfile';
/*---------------------------------------------PARTNERS--FAQ--SUPPORT-------------------------------------------*/
@import 'libs/_tab';
@import 'libs/_partners';
@import 'libs/_faq';
@import 'libs/_support';
@import 'libs/_partnerInside';
/*-------------------------------------------------CHAT--ROOM---------------------------------------------------*/
@import 'libs/_chatRoom';
/*----------------------------------------------------404-------------------------------------------------------*/
@import './libs/_404';
/*----------------------------------------------------SHOP------------------------------------------------------*/
@import 'libs/_shop';
/*---------------------------------------------------VOUCHER----------------------------------------------------*/
@import 'libs/_voucher';
/*------------------------------------------------- task_list --------------------------------------------------*/
@import 'libs/_taskList';
/*--------------------------------------------------CONGRATS----------------------------------------------------*/
@import 'libs/_congrats';
/*------------------------------------------------NOTIFICATIONS-------------------------------------------------*/
@import 'libs/_notifications';
/*---------------------------------------------------RATING-----------------------------------------------------*/
@import 'libs/_rating';
/*-----------------------------------------------PUBLIC--PROFILE------------------------------------------------*/
@import 'libs/_publicProfile';
/*---------------------------------------------------ADMIN------------------------------------------------------*/
@import 'libs/_admin';
/*-------------------------------------------------GIVE--PRIZE--------------------------------------------------*/
@import 'libs/_givePrize';
/*------------------------------------------------MEMBER--PRIZE-------------------------------------------------*/
@import 'libs/_memberPrize';
/*--------------------------------------------PRIZE--BY--MODERATOR----------------------------------------------*/
@import 'libs/_prizeByModerator';
/*---------------------------------------------AFTER--THE--PRIZE------------------------------------------------*/
@import 'libs/_afterThePrize';
/*----------------------------------------------MODERATOR--STORY------------------------------------------------*/
@import 'libs/_moderatorStory';
/*---------------------------------------------APPROVE--THE--TASK-----------------------------------------------*/
@import 'libs/_approveTask';
/*-----------------------------------------------CONGRATS--PRIZE------------------------------------------------*/
@import 'libs/_congratsPrize';
/*-----------------------------------------------preloader------------------------------------------------*/
@import 'libs/_preloader';
/*-----------------------------------------------anotherBrowser------------------------------------------------*/
@import 'libs/_anotherBrowser';
/*-----------------------------------------------team------------------------------------------------*/
@import 'libs/_team';
@import 'libs/_team-1';
/*------------------------------------------------TIMETABLE-------------------------------------------*/  
@import 'libs/_timetable';
/*-------------------------------------------------------MAP-------------------------------------------*/  
@import 'libs/_map';