block variables
  include ../../abstracts/variables

//- mixins
include ../../mixins/header-menu

doctype html
html(lang="ru")
  head
    include head
  body
    <!-- Preloader -->
    include ../../components/preloader
    <!-- Mobile menu -->
    include ../../components/mobile-menu
    <!-- Header -->
    include header
    <!-- Content -->
    main.main
      block content
    <!-- Footer -->
    include footer
