block variables
  include ../../abstracts/variables

//- mixins
include ../../mixins/header-menu
include ../../mixins/list
include ../../mixins/breadcrumbs

doctype html
html(lang="ru")
  head
    include head
  body
    <!-- Preloader -->
    include ../../components/preloader
    <!-- Mobile menu -->
    include ../../components/mobile-menu
    <!-- Header -->
    include header
    <!-- Content -->
    main.main(class=mainModifier ? `main_${mainModifier}` : '')
      block content
    <!-- Footer -->
    include footer
