-
  //- global
  mainModifier = null
  topTitle = null
  topTxt = null
  breadCrumbsList = null
  callModal = false
  map = false
  txtLink = false
  productSpecs = null
  productSlides = null
  additionalTitle = null
  additionalSubtitle = null
  additionalOptions = null
  additionalDiagram = null
  additionalContentModifier = null
  topSecBreadcrumbs = false
  productTopTitle = null
  productSpecsCallBtn = null
  tabButtons = null
  tabLeftDesc = null
  tabLeftImage = null
  tabLeftVideo = null
  tabRightDesc = null
  tabRightImage = null
  tabRightVideo = null
  additionalEquipment = null
  additionalEquipmentLists = null
  additionalEquipmentImage = null
  additionalEquipmentCaption = null
  productSpecsMore = null
  productDiagrams = null


  //- header
  headerMenu = [
    {
      url: 'index.html',
      txt: 'О компании'
    },
    {
      url: 'products.html',
      txt: 'Продукция'
    },
    {
      url: 'production.html',
      txt: 'Производство'
    },
    {
      url: 'remont.html',
      txt: 'Ремонт'
    },
    {
      url: 'dilerstvo.html',
      txt: 'Дилерство'
    },
    {
      url: 'servis-i-garantiya.html',
      txt: 'Гарантия и сервис'
    },
    {
      url: 'novosti.html',
      txt: 'Новости'
    },
    {
      url: 'contacts.html',
      txt: 'Контакты'
    }
  ]

  //- footer
  footerContactsList = [
    {
      icon: require('@/assets/img/footer/phone.svg'),
      url: 'tel:79216953701',
      txt: '+ 7 (921) 695 37 01'
    },
    {
      icon: require('@/assets/img/footer/mail.svg'),
      url: 'mailto:info@mz-sotrans.ru',
      txt: 'info@mz-sotrans.ru'
    },
    {
      icon: require('@/assets/img/footer/home.svg'),
      txt: 'п. Красный Бор, ул. Промышленная 3'
    }
  ]

  //- about
  aboutTileItems = [
    {
      num: '17',
      txt: 'проектов <br> завершено',
      img: require('@/assets/img/about/1.jpg'),
    },
    {
      num: '8',
      txt: 'проектов <br> в работе',
      img: require('@/assets/img/about/2.jpg'),
    },
    {
      num: '45',
      txt: 'партнеров',
      img: require('@/assets/img/about/3.jpg'),
    }
  ]

  //- benefits
  benefitsSlides = [
    {
      title: 'Современное оборудование и инструменты',
      txt: 'Современные машины и станки позволяют в считаные минуты справляться с самыми сложными задачами, помогая значительно оптимизировать производство и повышать его производительность',
      img: require('@/assets/img/index/benefits_slides/1.jpg'),
      num: '01'
    },
    {
      title: 'Соответствие мировым стандартам',
      txt: 'Сертификат ISO 9001-2015 № MSNQ.01.A.010104 от 01.04.2021',
      img: require('@/assets/img/index/benefits_slides/2.jpg'),
      num: '02',
      logo: true
    },
    {
      title: 'Качественные комплектующие',
      txt: 'Мы выбрали в качестве партнеров передовых поставщиков, таких как BPW, SAF, Wabco, Jost и др.',
      img: require('@/assets/img/index/benefits_slides/3.jpg'),
      num: '03'
    },
    {
      title: 'Высокая квалификация сотрудников',
      txt: 'Высокая квалификация специалистов помогает освоить современные методы решения сложных задач и ускорить процессы на производстве',
      img: require('@/assets/img/index/benefits_slides/4.jpg'),
      num: '04'
    }
  ]

  //- partners
  partnersList = [
    require('@/assets/img/index/partners/1.png'),
    require('@/assets/img/index/partners/2.png'),
    require('@/assets/img/index/partners/3.svg'),
    require('@/assets/img/index/partners/4.png'),
    require('@/assets/img/index/partners/5.png')
  ]

  //- products
  productsTitleNum = null
  productsTitleTxt = null
  productsList = [
    {
      img: require('@/assets/img/index/products/1.jpg'),
      title: 'Крюковой погрузчик HINO 500',
      options: [
        {
          title: 'Грузоподъёмность номинальная',
          txt: '22 т'
        },
        {
          title: 'Длина погрузчика монтажная (L):',
          txt: '5010 мм'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5300 мм'
        }
      ],
      url: 'hook-hino.html'
    },
    {
      img: require('@/assets/img/index/products/2.jpg'),
      title: 'Гидроборт LTK -1000ST/Al',
      options: [
        {
          title: 'Максимальная грузоподъемность',
          txt: '1000 кг на 600 мм'
        },
        {
          title: 'Высота подъема',
          txt: 'до 1250 мм'
        },
        {
          title: 'Размеры грузовой платформы',
          txt: '1700 х 2200 мм'
        }
      ],
      url: 'tail-lift.html'
    },
    {
      img: require('@/assets/img/index/products/3.jpg'),
      title: 'Крюковой погрузчик FAW J6P-390',
      options: [
        {
          title: 'Грузоподъёмность номинальная',
          txt: '22 т'
        },
        {
          title: 'Высота крюка',
          txt: '1570 мм (DIN 30722)'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5100 мм'
        }
      ],
      url: 'hook-390.html'
    },
    {
      img: require('@/assets/img/index/products/4.jpg'),
      title: 'Бортовая Платформа с КМУ Hyva HB 80 E2',
      options: [
        {
          title: 'Собственный вес',
          txt: '930 кг'
        },
        {
          title: 'Угол поворота',
          txt: '400°'
        },
        {
          title: 'Размеры',
          txt: '2300 х 1940 х 600 мм'
        }
      ],
      url: 'onboard.html'
    }
  ]
  hookLiftsList = [
    {
      img: require('@/assets/img/index/products/hook/1.jpg'),
      title: 'Крюковой погрузчик FAW J6P-390',
      options: [
        {
          title: 'Грузоподъёмность номинальная',
          txt: '22 т'
        },
        {
          title: 'Высота крюка',
          txt: '1570 мм (DIN 30722)'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5100 мм'
        }
      ],
      url: 'hook-390.html'
    },
    {
      img: require('@/assets/img/index/products/hook/2.jpg'),
      title: 'Крюковой погрузчик HINO 500',
      options: [
        {
          title: 'Грузоподъёмность номинальная',
          txt: '22 т'
        },
        {
          title: 'Высота крюка',
          txt: '1570 мм (DIN 30722)'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5100 мм'
        }
      ],
      url: 'hook-hino.html'
    },
    {
      img: require('@/assets/img/index/products/hook/3.jpg'),
      title: 'Крюковой погрузчик MAN TGS 33.440',
      options: [
        {
          title: 'Грузоподъёмность номинальная',
          txt: '22 т'
        },
        {
          title: 'Высота крюка',
          txt: '1570 мм (DIN 30722)'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5100 мм'
        }
      ],
      url: 'hook-man.html'
    }
  ]

  //- index news
  newsList = [
    {
      img: require('@/assets/img/index/news/1.jpg'),
      date: '11 янв 2023',
      title: 'SOTRANS — Эксперты по СПС',
      txt: 'Компания SOTRANS — включена в перечень экспертов по перевозке скоропортящихся пищевых продуктов. Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года. Информация размещена на официальном сайте официальном сайте ФБУ «Росавтотранс»',
      url: 'javascript:'
    },
    {
      img: require('@/assets/img/index/news/2.jpg'),
      date: '6 июня, 2022',
      title: 'SOTRANS — Эксперты по СПС',
      txt: 'Компания SOTRANS — включена в перечень экспертов по перевозке скоропортящихся пищевых продуктов. Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года. Информация размещена на официальном сайте официальном сайте ФБУ «Росавтотранс»',
      url: 'javascript:'
    },
    {
      img: require('@/assets/img/index/news/3.jpg'),
      date: '6 июня, 2022',
      title: 'SOTRANS — Эксперты по СПС',
      txt: 'Компания SOTRANS — включена в перечень экспертов по перевозке скоропортящихся пищевых продуктов. Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года. Информация размещена на официальном сайте официальном сайте ФБУ «Росавтотранс»',
      url: 'javascript:'
    },
    {
      img: require('@/assets/img/index/news/1.jpg'),
      date: '6 июня, 2022',
      title: 'SOTRANS — Эксперты по СПС',
      txt: 'Компания SOTRANS — включена в перечень экспертов по перевозке скоропортящихся пищевых продуктов. Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года. Информация размещена на официальном сайте официальном сайте ФБУ «Росавтотранс»',
      url: 'javascript:'
    }
  ]

  newsListSecond = []

  //- why
  whyList = [
    {
      icon: require('@/assets/img/index/why/1.svg'),
      txt: 'Гарантия'
    },
    {
      icon: require('@/assets/img/index/why/2.svg'),
      txt: '<span>Быстрый</span> <span>ремонт</span>'
    },
    {
      icon: require('@/assets/img/index/why/3.svg'),
      txt: '<span>Оригинальные</span> <span>запчасти</span>'
    },
    {
      icon: require('@/assets/img/index/why/4.svg'),
      txt: '<span>Современные</span> <span>технологии</span>'
    },
    {
      icon: require('@/assets/img/index/why/5.svg'),
      txt: 'Поддержка'
    },
    {
      icon: require('@/assets/img/index/why/6.svg'),
      txt: '<span>Индивидуальный</span> <span>подход</span>'
    }
  ]


  // product page
  hook390Page = {
    slides: [require('@/assets/img/product/hook/slides/1.jpg'), require('@/assets/img/product/hook/slides/2.jpg')],
    specs: [
      {
        name: 'Класс погрузчика',
        value: 'Т22'
      },
      {
        name: 'Грузоподъёмность номинальная ',
        value: '22 т'
      },
      {
        name: 'Длинна погрузчика рабочая (R)',
        value: '5100 мм'
      },
      {
        name: 'Длинна погрузчика монтажная (L)',
        value: '5300 мм'
      },
      {
        name: 'Высота крюка',
        value: '1570 мм (DIN 30722)'
      },
      {
        name: 'Собственный вес',
        value: '2250 кг'
      }
    ],
    additional: [
      {name: 'Мин. внутр. длинна сменного кузова', value: '5000 мм (с гидравлическими замками кузова)'},
      {name: 'Макс. внутр. длинна сменного кузова', value: '6200 мм (свес от края погрузчика — 1384 мм)'},
      {name: 'Расстояние гидравлических замков кузова (D)', value: '620 мм'},
      {name: 'Рабочая ширина опор кузова', value: '1060 мм'},
      {name: 'Высота опор кузова', value: '240 мм'},
      {name: 'Угол опрокидывания', value: '44 с/49c  60 см3/об'},
      {name: 'Время погрузки/опрокидывания кузова', value: '310 бар'},
      {name: 'Рабочее давление гидравлической системы', value: '48°'},
      {name: 'Рекомендуемая подача гидронасоса', value: '61-81 л/мин'},
      {name: 'Рабочее давление пневматической системы', value: '6-8 бар'},
      {name: 'Тип управления', value: 'электрическая система управления'},
      {name: 'Покрытие', value: 'финишная окраска'},
    ],
    diagram: require('@/assets/img/product/hook/hook-390-diagram.jpg')
  }
  hookHino = {
    slides: [require('@/assets/img/product/hook/hino/1.jpg'), require('@/assets/img/product/hook/hino/2.jpg'), require('@/assets/img/product/hook/hino/3.jpg')],
  }
  hookMan = {
    slides: [require('@/assets/img/product/hook/man/1.jpg'), require('@/assets/img/product/hook/man/2.jpg'), require('@/assets/img/product/hook/man/3.jpg')],
  }
  semitrailersCurtain = {
    slides: [
      require('@/assets/img/product/semitrailers/curtain/1.jpg'),
      require('@/assets/img/product/semitrailers/curtain/2.jpg'),
      require('@/assets/img/product/semitrailers/curtain/3.jpg'),
      require('@/assets/img/product/semitrailers/curtain/4.jpg'),
      require('@/assets/img/product/semitrailers/curtain/5.jpg'),
    ],
    specs: [
      {
        name: 'Длинна грузовой платформы',
        value: '13 600 мм'
      },
      {
        name: 'Ширина грузовой платформы',
        value: '2 470 мм'
      },
      {
        name: 'Высота в свету под крышей',
        value: '2 710 мм'
      },
      {
        name: 'Общая длина',
        value: '13 900 мм'
      },
      {
        name: 'Общая ширина',
        value: '2 550 мм'
      },
      {
        name: 'Межосевое расстояние',
        value: '1 310 мм'
      },
      {
        name: 'Допустимый общий вес',
        value: '35 000 кг'
      },
      {
        name: 'Технически возможный общий вес',
        value: '38 000 кг'
      },
      {
        name: 'Общая допустимая нагрузка <br> на осевой агрегат',
        value: '24 000 кг (на каждую ось по 8 000 кг)'
      },
      {
        name: 'Технически возможная нагрузка <br> на агрегат',
        value: '27 000 кг (на каждую ось по 9 000 кг)'
      },
      {
        name: 'Собственный вес в базовой комплектации',
        value: '6 650 кг'
      },
      {
        name: 'Высота седельного устройства',
        value: '1 150 кг'
      },
      {
        name: 'Допустимая нагрузка на седельное устройство',
        value: '11 500 кг'
      }
    ],
    tabLeft: {
      desc: [
        {title: 'Рама шасси', value: 'конструкция из высокопрочной стали Powerweld и Poweform (Россия). Несущие лонжероны двутаврового профиля, интегрированные поперечные траверсы. Рама полностью оцинкована.'},
        {title: 'Агрегат трехосный', value: 'BPW/JOST/SAF/OSMAN KOÇ с пневмоподвеской, тормозные механизмы – дисковые.'},
        {title: 'Тормозная система', value: 'EBS Wabco: двухпроводная, ABS 2S/2M. Розетка ABS 7 контактная.'},
        {title: 'Шкворень', value: 'OMS, 2 дюйма, сменный, тарельчатого типа.'},
        {title: 'Опорное устройство', value: 'BPW/JOST/FUWA, с двухступенчатым редуктором.'},
        {title: 'Электрооборудование', value: 'Ermax, выполнено по двухпроводной схеме'},
        {title: 'Колеса', value: '385/65 R22,5, бескамерные шины с дорожным протектором'},
        {title: 'Кронштейн запасного колеса', value: 'для двух запасных колес (не входят в комплектацию)'},
        {title: 'Боковая защита', value: 'из алюминиевого профиля'},
        {title: 'Напольное покрытие', value: 'водостойкая ламинированная фанера 30 мм. В отбортовке рамы отверстия для крепления груза по всей её длине.'},
      ],
      image: require('@/assets/img/product/semitrailers/curtain/diagram.jpg'),
      video: require('@/assets/video/tab-video.mp4')
    },
    tabRight: {
      desc: [
        {title: 'Тип надстройки', value: 'шторная, со сдвижной конструкцией тента (сдвижная крыша и боковые шторы).'},
        {title: 'Механизм сдвижной крыши и штор', value: 'Versus, с механизмом натяжения тента в задней части'},
        {title: 'Передняя стенка', value: 'алюминиевые наборные профиля, лист фанеры с внутренней стороны.'},
        {title: 'Бортовые стойки', value: 'Adaico, сдвижные'},
        {title: 'Тент боковых штор', value: 'полиэстер покрытый пастой ПВХ плотностью 850-900 г/м2'},
        {title: 'Тент крыши', value: 'светопроникающий материал белого цвета, плотностью 650-680 г/м2'},
        {title: 'Дверной портал', value: 'оцинкованная сталь, имеет роликовые демпферы'},
        {title: 'Двери распашные', value: 'HESTAL, двухстворчатые, с углом открывания 270°. Дверное полотно — наборный алюминий.'},
      ],
      image: require('@/assets/img/product/semitrailers/curtain/tab-image.jpg')
    },
    optional: [
      {image: require('@/assets/img/product/semitrailers/curtain/optional-1.jpg'), txt: 'Выдвижная оцинкованная лестница'},
      {image: require('@/assets/img/product/semitrailers/curtain/optional-2.jpg'), txt: 'Инструментальный пластиковый ящик'},
      {image: require('@/assets/img/product/semitrailers/curtain/optional-3.jpg'), txt: '4 пластиковых крыла с брызговиками'},
      {image: require('@/assets/img/product/semitrailers/curtain/optional-4.jpg'), txt: 'Кронштейн для подключения тормозной и осветительной системы в передней части шасси'}
    ]
  }
  tailLift = {
    slides: [require('@/assets/img/product/hook/tail-lift/1.jpg'), require('@/assets/img/product/hook/tail-lift/2.jpg'), require('@/assets/img/product/hook/tail-lift/3.jpg'), require('@/assets/img/product/hook/tail-lift/4.jpg')],
    specs: [
      {
        name: 'Максимальная грузоподъемность',
        value: '1000 кг на 600 мм'
      },
      {
        name: 'Материал грузовой платформы',
        value: 'алюминий'
      },
      {
        name: 'Размеры грузовой платформы',
        value: '1700  х 2200 мм'
      },
      {
        name: 'Высота подъема',
        value: 'до 1250 мм'
      },
      {
        name: 'Питание от сети',
        value: '24 В'
      }
    ],
    equipment: {
      lists: [
        {
          title: 'Подъёмный механизм: четырех цилиндровый, 2 опускания, 2 на поворот',
          items: [
            'Четырехкнопочное(основное) управление на гидростанции под герметичной крышкой',
            'Вспомогательный пульт двухкнопочный выносной, на кабеле',
            'Гидравлический агрегат, защищённый в алюминиевом корпусе',
            'Подъёмный механизм оцинкованный, обработка — горячее оцинкование',
            'Подшипники, не требующие частого обслуживания, с возможностью смазывания',
            'Гидравлические цилиндры с защитными кожухами',
            'Гидравлические шланги с механическим клапаном разрыва.Автоматический наклон к земле при помощи механического шарнира',
            'Быстрый монтаж — минимум слесарных работ',
            'Противоподкатный брус из 3 - х сварных частей',
            'Сертификат соответствия',
            'Поставляется в собранном состоянии, с маслом в системе и проверен'
          ]
        }  ,
        {
          title: 'Алюминиевая платформа — высота 1700 мм, ширина 2200 мм',
          items: [
            'Профиль кромки: стандартный',
            'Рольстопы: да',
            'Поверхность платформы: без обработки (не аннодированная)'
          ]
        },
        {
          title: 'Силовой кабель плюс/минус 25 мм² x 12000мм, с раздельным предохранителем'
        },
        {
          title: 'Гидравлическое масло, биологически расщепляемое, для работы при низких температурах до -30°C'
        }
      ]
    }
  }
  onboard = {
    slides: [require('@/assets/img/product/hook/onboard/1.jpg'), require('@/assets/img/product/hook/onboard/2.jpg'), require('@/assets/img/product/hook/onboard/3.jpg'), require('@/assets/img/product/hook/onboard/4.jpg')],
    specs: [
      {
        name: 'Грузовой момент, Т.м.',
        value: '8'
      },
      {
        name: 'Максимальный  вертикальный вылет',
        value: '10,2 м'
      },
      {
        name: 'Угол поворота',
        value: '4000'
      },
      {
        name: 'Время оборота',
        value: '15 c'
      },
      {
        name: 'Рабочее давление',
        value: '285 бар'
      },
      {
        name: 'Собственный вес',
        value: '930 кг'
      },
      {
        name: 'Объем гидробака',
        value: '35 л'
      },
      {
        name: 'Расход масла',
        value: '20 л/мин'
      },
      {
        name: 'Размеры',
        value: '2300х1940х600 мм'
      },
      {
        name: 'Максимальный вылет стрелы',
        value: '7,05 м'
      },
      {
        name: 'Грузоподъемность при максимальном вылете стрелы',
        value: '1050 кг'
      },
    ],
    equipment: {
      lists: [
        {
          items: [
            'Вес крана 1030 кг',
            'Масляный бак',
            'Монтажный комплект',
            'Ручные поворотные опоры 4, 60 м',
            'Крюк',
            'Гидравлическая система защиты от перегрузки'
          ]
        }
      ],
      image: require('@/assets/img/product/hook/onboard/diagram.jpg'),
      caption: [
        'Максимальный вылет стрелы: 7, 05 м',
        'Грузоподъемность при максимальном вылете стрелы: 1050 кг'
      ]
    },
    diagrams: [
      require('@/assets/img/product/hook/onboard/1.png'),
      require('@/assets/img/product/hook/onboard/2.png'),
      require('@/assets/img/product/hook/onboard/3.png'),
      require('@/assets/img/product/hook/onboard/4.png')
    ],
    platform: [
      {name: 'Подрамник и основание', value: 'cварной'},
      {name: 'Передняя стенка', value: 'алюминиевый борт высотой 400 мм'},
      {name: 'Боковые стенки', value: 'алюминиевый, откидывающийся съемный борт  разделен на 2 секции. Высота 400 мм'},
      {name: 'Настил пола', value: 'транспортная фанера с противоскользящим покрытием 21 мм'},
      {name: 'Задний проём', value: 'алюминиевый, откидывающийся, съемный борт высотой 400мм'},
      {name: 'Электрооборудование', value: 'габаритные, боковые, контурные, светодиодные огни оранжевого цвета'},
    ]
  }

  //- products
  specialList = [
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/special/1.svg'),
      txt: 'Бортовая платформа с КМУ',
      url: 'onboard.html'
    },
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/special/2.svg'),
      txt: 'Гидроборт',
      url: 'tail-lift.html  '
    },
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/special/3.svg'),
      txt: 'Крюковой погрузчик',
      url: 'hooklifts.html'
    }
  ]
  semitrailerList = [
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/semitrailers/1.svg'),
      txt: 'Шторные полуприцепы',
      url: 'semitrailers-curtain.html'
    },
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/semitrailers/2.svg'),
      txt: 'Рефриджераторы полуприцепы',
      url: 'javascript:'
    }
  ]

  //- contacts
  contactsInfo = [
    {
      icon: require('@/assets/img/footer/phone.svg'),
      url: 'tel:+78124954202',
      txt: '+7 (812) 495-42-02'
    },
    {
      icon: require('@/assets/img/footer/mail.svg'),
      url: 'mailto:support@sotrans.ru',
      txt: 'support@sotrans.ru'
    },
    {
      icon: require('@/assets/img/footer/home.svg'),
      txt: 'Лен. область, Тосненский р-н,<br>пгт Красный Бор,<br>ул. Промышленная, д. 3'
    },
  ]
  contactsGrid = [
    {
      img: require('@/assets/img/contacts/2.jpg'),
      position: 'отдел продаж',
      name: 'Филиппов <br> Дмитрий Сергеевич',
      phoneTxt: '+7 (921) 886-93-59',
      phoneNumber: '+79218869359',
      mail: 'd.filippov@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/2.jpg'),
      position: 'руководитель отдела закупок',
      name: 'Романов <br> Алексей Сергеевич',
      phoneTxt: '+7 (921) 705-87-42',
      phoneNumber: '+79217058742',
      mail: 'a.romanov@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/3.jpg'),
      position: 'генеральный директор',
      name: 'Бобков <br> Иван Александрович',
      phoneTxt: '+7 (931) 304-44-82',
      phoneNumber: '+79313044482',
      mail: 'i.bobkov@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/4.jpg'),
      position: 'операционный директор',
      name: 'Ильин <br> Алексей Александрович',
      phoneTxt: '+7 (921) 942-62-84',
      phoneNumber: '+79219426284',
      mail: 'a.ilyin@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/5.jpg'),
      position: 'технический директор направления спецтехники',
      name: 'Марченко <br> Игорь Олегович',
      phoneTxt: '+7 (921) 863-48-07',
      phoneNumber: '+79218634807',
      mail: 'i.marchenko@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/6.jpg'),
      position: 'технический директор направления полуприцепов',
      name: 'Охотников <br> Руслан Робертович',
      phoneTxt: '+7 (995) 997-05-14',
      phoneNumber: '+79959970514',
      mail: 'r.ohotnikov@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/7.jpg'),
      position: 'начальник производства',
      name: 'Горохов <br> Сергей Евгеньевич',
      phoneTxt: '+7 (921) 439-38-47',
      phoneNumber: '+79214393847',
      mail: 's.gorokhov@sotrans.ru'
    }
  ]

  //- pagination
  paginationList = [1, 2, 3, 4, 5, 6, 7, 8, 9]

  //- nums
  numsItems = [
    {
      num: '<span class="anim-num">20000</span> м<sup>2</sup>',
      txt: 'производственная <br> площадь'
    },
    {
      num: '<span class="anim-num">50</span>+',
      txt: 'произведено <br> прицепов'
    },
    {
      num: '<span class="anim-num">100</span>+',
      txt: 'монтажей <br> надстроек'
    },
    {
      num: '<span class="anim-num">5</span>',
      txt: 'производственных <br> линий'
    }
  ]

  //- production
  productionAboutItems = [
    'В настоящее время заканчивается строительство двух дополнительных пролетов с целью увеличения эффективной производственной площади <strong>до 20 тыс. кв. м.</strong>',
    'Полуприцепы и спецтехника разработаны нашими инженерами. конструкторами и технологами с учетом опыта передовых конструкторских и технологических решений, и ни в чем не уступают ранее доступным на рынке РФ зарубежным аналогам.',
    'В рамках завода организовано серийное тактовое производство полного цикла по металлоконструкциям полуприцепов и надстройкам шасси.'
  ]

  blankSlides = [
    require('@/assets/img/production/first-slider/1.jpg'),
    require('@/assets/img/production/first-slider/2.jpg'),
    require('@/assets/img/production/first-slider/3.jpg')
  ]

  assemblySlides = [
    require('@/assets/img/production/second-slider/1.jpg'),
    require('@/assets/img/production/second-slider/2.jpg'),
    require('@/assets/img/production/second-slider/3.jpg'),
    require('@/assets/img/production/second-slider/4.jpg'),
    require('@/assets/img/production/second-slider/5.jpg')
  ]

  assemblyList = [
    'сборка рамы полуприцепа',
    'монтаж систем электрики и пневматики',
    'установка передней стенки, ворот, боковых стоек, крыши',
    'настил пола',
    'изготовление и монтаж тента',
    'финальные регулировки'
  ]
