-
  //- global
  mainModifier = null
  topTitle = null
  topTxt = null

  //- header
  headerMenu = [
    {
      url: 'javascript:',
      txt: 'О компании'
    },
    {
      txt: 'Продукция',
      children: [
        {
          txt: 'Спецтехника',
          children: [
            {url: 'javascript:', txt: 'Бортовая платформа с КМУ'},
            {url: 'javascript:', txt: 'Гидроборт'},
            {url: 'javascript:', txt: 'Крюковой погрузчик'}
          ]
        },
        {
          url: 'javascript:',
          txt: 'Полуприцепы'
        }
      ]
    },
    {
      url: 'javascript:',
      txt: 'Оборудование'
    },
    {
      url: 'javascript:',
      txt: 'Ремонт'
    },
    {
      url: 'javascript:',
      txt: 'Дилерство'
    },
    {
      url: 'javascript:',
      txt: 'Новости'
    },
    {
      url: 'javascript:',
      txt: 'Контакты'
    },
    {
      url: 'javascript:',
      txt: 'Поиск по сайту'
    }
  ]

  //- footer
  footerContactsList = [
    {
      icon: require('@/assets/img/footer/phone.svg'),
      url: 'tel:79216953701',
      txt: '+ 7 (921) 695 37 01'
    },
    {
      icon: require('@/assets/img/footer/mail.svg'),
      url: 'mailto:info@mz-sotrans.ru',
      txt: 'info@mz-sotrans.ru'
    },
    {
      icon: require('@/assets/img/footer/mark.svg'),
      txt: 'Посёлок Красный Бор, Промышленная улица, 3'
    }
  ]

  footerNavList = [
    {
      url: 'javascript:',
      txt: 'О компании'
    },
    {
      url: 'javascript:',
      txt: 'Продукция'
    },
    {
      url: 'javascript:',
      txt: 'Оборудование'
    },
    {
      url: 'javascript:',
      txt: 'Дилерство'
    },
    {
      url: 'javascript:',
      txt: 'Контакты'
    }
  ]

  //- about
  aboutList = [
    {
      num: '14 200 м2',
      txt: 'площадь завода'
    },
    {
      num: '90+',
      txt: 'монтажей'
    },
    {
      num: '26',
      txt: 'рабочих постов'
    }
  ]

  //-best
  bestList = [
    {
      num: 120,
      txt: 'Проектов'
    },
    {
      num: 100,
      txt: 'Проектов в работе'
    },
    {
      num: 30,
      txt: 'Партнеров'
    },
  ]

  //- benefits
  benefitsSlides = [
    {
      title: 'Высокая квалификация сотрудников',
      txt: 'Основу качества рабочей силы составляет квалификация работника, отражающая степень его профессиональ',
      img: require('@/assets/img/index/benefits_slides/1.jpg'),
      num: '01'
    },
    {
      title: 'Склад оригинальных запасных частей',
      txt: 'Основу качества рабочей силы составляет квалификация работника, отражающая степень его профессиональ',
      img: require('@/assets/img/index/benefits_slides/2.jpg'),
      num: '02'
    },
    {
      title: 'Соответствие мировым стандартам',
      txt: 'Основу качества рабочей силы составляет квалификация работника, отражающая степень его профессиональ',
      img: require('@/assets/img/index/benefits_slides/3.jpg'),
      num: '03'
    },
    {
      title: 'Оснащены всем оборудованием и инструментом',
      txt: 'Основу качества рабочей силы составляет квалификация работника, отражающая степень его профессиональ',
      img: require('@/assets/img/index/benefits_slides/4.jpg'),
      num: '04'
    }
  ]

  //- partners
  partnersList = [
    require('@/assets/img/index/partners/1.png'),
    require('@/assets/img/index/partners/2.png'),
    require('@/assets/img/index/partners/3.png'),
    require('@/assets/img/index/partners/4.png'),
    require('@/assets/img/index/partners/5.png')
  ]
