-
  //- global
  mainModifier = null
  topTitle = null
  topTxt = null
  breadCrumbsList = null
  callModal = false

  //- header
  headerMenu = [
    {
      url: '/',
      txt: 'О компании'
    },
    {
      txt: 'Продукция',
      children: [
        {
          txt: 'Спецтехника',
          children: [
            {url: 'product.html', txt: 'Бортовая платформа с КМУ'},
            {url: 'product.html', txt: 'Гидроборт'},
            {url: 'kryukovoj-pogruzchik.html', txt: 'Крюковой погрузчик'}
          ]
        },
        {
          url: 'polupritsepy.html',
          txt: 'Полуприцепы'
        }
      ]
    },
    {
      url: 'proizvodstvo.html',
      txt: 'Оборудование'
    },
    {
      url: 'javascript:',
      txt: 'Ремонт'
    },
    {
      url: 'javascript:',
      txt: 'Дилерство'
    },
    {
      url: 'javascript:',
      txt: 'Новости'
    },
    {
      url: 'javascript:',
      txt: 'Контакты'
    },
    {
      url: 'javascript:',
      txt: 'Поиск по сайту'
    }
  ]

  //- footer
  footerContactsList = [
    {
      icon: require('@/assets/img/footer/phone.svg'),
      url: 'tel:79216953701',
      txt: '+ 7 (921) 695 37 01'
    },
    {
      icon: require('@/assets/img/footer/mail.svg'),
      url: 'mailto:info@mz-sotrans.ru',
      txt: 'info@mz-sotrans.ru'
    },
    {
      icon: require('@/assets/img/footer/mark.svg'),
      txt: 'Посёлок Красный Бор, Промышленная улица, 3'
    }
  ]

  footerNavList = [
    {
      url: 'javascript:',
      txt: 'О компании'
    },
    {
      url: 'javascript:',
      txt: 'Продукция'
    },
    {
      url: 'proizvodstvo.html',
      txt: 'Оборудование'
    },
    {
      url: 'javascript:',
      txt: 'Дилерство'
    },
    {
      url: 'javascript:',
      txt: 'Контакты'
    }
  ]

  //- about
  aboutList = [
    {
      num: '14 200 м2',
      txt: 'площадь завода'
    },
    {
      num: '90+',
      txt: 'монтажей'
    },
    {
      num: '26',
      txt: 'рабочих постов'
    }
  ]

  //-best
  bestList = [
    {
      num: 120,
      txt: 'Проектов'
    },
    {
      num: 100,
      txt: 'Проектов в работе'
    },
    {
      num: 30,
      txt: 'Партнеров'
    },
  ]

  //- benefits
  benefitsSlides = [
    {
      title: 'Высокая квалификация сотрудников',
      txt: 'Основу качества рабочей силы составляет квалификация работника, отражающая степень его профессиональ',
      img: require('@/assets/img/index/benefits_slides/1.jpg'),
      num: '01'
    },
    {
      title: 'Склад оригинальных запасных частей',
      txt: 'Основу качества рабочей силы составляет квалификация работника, отражающая степень его профессиональ',
      img: require('@/assets/img/index/benefits_slides/2.jpg'),
      num: '02'
    },
    {
      title: 'Соответствие мировым стандартам',
      txt: 'Основу качества рабочей силы составляет квалификация работника, отражающая степень его профессиональ',
      img: require('@/assets/img/index/benefits_slides/3.jpg'),
      num: '03'
    },
    {
      title: 'Оснащены всем оборудованием и инструментом',
      txt: 'Основу качества рабочей силы составляет квалификация работника, отражающая степень его профессиональ',
      img: require('@/assets/img/index/benefits_slides/4.jpg'),
      num: '04'
    }
  ]

  //- partners
  partnersList = [
    require('@/assets/img/index/partners/1.png'),
    require('@/assets/img/index/partners/2.png'),
    require('@/assets/img/index/partners/3.png'),
    require('@/assets/img/index/partners/4.png'),
    require('@/assets/img/index/partners/5.png')
  ]

  //- products
  productsTitleNum = null
  productsTitleTxt = null
  productsList = [
    {
      img: require('@/assets/img/index/products/1.jpg'),
      title: 'FAWJ6P-390',
      options: [
        {
          title: 'Класс погрузчика T22:',
          txt: 'Грузоподъёмность номинальная'
        },
        {
          title: 'Длина погрузчика монтажная (L):',
          txt: '5010 мм'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5300 мм'
        }
      ],
      url: 'javascript:'
    },
    {
      img: require('@/assets/img/index/products/2.jpg'),
      title: 'HINO 500',
      options: [
        {
          title: 'Класс погрузчика T22:',
          txt: 'Грузоподъёмность номинальная'
        },
        {
          title: 'Длина погрузчика монтажная (L):',
          txt: '5010 мм'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5300 мм'
        }
      ],
      url: 'javascript:'
    },
    {
      img: require('@/assets/img/index/products/3.jpg'),
      title: 'MANTGS 33.340',
      options: [
        {
          title: 'Класс погрузчика T22:',
          txt: 'Грузоподъёмность номинальная'
        },
        {
          title: 'Длина погрузчика монтажная (L):',
          txt: '5010 мм'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5300 мм'
        }
      ],
      url: 'javascript:'
    },
    {
      img: require('@/assets/img/index/products/1.jpg'),
      title: 'FAWJ6P-390',
      options: [
        {
          title: 'Класс погрузчика T22:',
          txt: 'Грузоподъёмность номинальная'
        },
        {
          title: 'Длина погрузчика монтажная (L):',
          txt: '5010 мм'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5300 мм'
        }
      ],
      url: 'javascript:'
    }
  ]

  //- index news
  newsList = [
    {
      img: require('@/assets/img/index/news/1.jpg'),
      modifier: 'new',
      date: '6 июня, 2022',
      title: 'SOTRANS — Эксперты по СПС',
      txt: 'Компания SOTRANS — включена в перечень экспертов по перевозке скоропортящихся пищевых продуктов. Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года. Информация размещена на официальном сайте официальном сайте ФБУ «Росавтотранс»',
      url: 'javascript:'
    },
    {
      img: require('@/assets/img/index/news/2.jpg'),
      date: '6 июня, 2022',
      title: 'SOTRANS — Эксперты по СПС',
      txt: 'Компания SOTRANS — включена в перечень экспертов по перевозке скоропортящихся пищевых продуктов. Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года. Информация размещена на официальном сайте официальном сайте ФБУ «Росавтотранс»',
      url: 'javascript:'
    },
    {
      img: require('@/assets/img/index/news/3.jpg'),
      date: '6 июня, 2022',
      title: 'SOTRANS — Эксперты по СПС',
      txt: 'Компания SOTRANS — включена в перечень экспертов по перевозке скоропортящихся пищевых продуктов. Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года. Информация размещена на официальном сайте официальном сайте ФБУ «Росавтотранс»',
      url: 'javascript:'
    }
  ]

  //- why
  whyList = [
    {
      icon: require('@/assets/img/index/why/1.svg'),
      txt: 'Гарантия'
    },
    {
      icon: require('@/assets/img/index/why/2.svg'),
      txt: 'Быстрый ремонт'
    },
    {
      icon: require('@/assets/img/index/why/3.svg'),
      txt: 'Оригинальные запчасти'
    },
    {
      icon: require('@/assets/img/index/why/4.svg'),
      txt: 'Современные технологии'
    },
    {
      icon: require('@/assets/img/index/why/5.svg'),
      txt: 'Поддержка'
    },
    {
      icon: require('@/assets/img/index/why/6.svg'),
      txt: 'Индивидуальный подход'
    }
  ]

  //- specs
  specsList = [
    {
      txt: 'Общая длина:',
      num: '13 900 мм'
    },
    {
      txt: 'Длина грузовой платформы:',
      num: '13 600 мм'
    },
    {
      txt: 'Общая ширина:',
      num: '2 550 мм'
    },
    {
      txt: 'Ширина грузовой платформы:',
      num: '2 470 мм'
    },
    {
      txt: 'Высота в свету под крышей:',
      num: '2 710 мм'
    },
    {
      txt: 'Допустимая нагрузка на седельное устройство:',
      num: '11 500 мм'
    },
    {
      txt: 'Общая допустимая нагрузка на осевой агрегат:',
      num: '24 000 кг <span>(на каждую ось по 8 000 кг)</span>'
    },
    {
      txt: 'Технически возможная нагрузка на агрегат:',
      num: '27 000 кг <span>(на каждую ось по 9 000 кг)</span>'
    },
    {
      txt: 'Допустимый общий вес:',
      num: '35 000 кг'
    },
    {
      txt: 'Технически возможный общий вес:',
      num: '38 000 кг'
    },
    {
      txt: 'Собственный вес в базовой комплектации:',
      num: '6 950 мм'
    },
    {
      txt: 'Межосевое расстояние:',
      num: '1 310 мм'
    },
    {
      txt: 'Высота седельного устройства:',
      num: '1 150 мм'
    }
  ]

  //- pluses
  plusesTop = [
    '<strong>Рама шасси</strong> - из высокопрочной стали Powerweld/Powerform (Россия). Несущие лонжероны рамы – сварные двутаврового профиля. Все элементы рамы полностью оцинкованы.',
    '<strong>Напольное покрытие шасси</strong> - водостойкая ламинированная фанера толщиной 27 мм. В отбортовке рамы отверстия для крепления груза по всей длине рамы.',
    '<strong>Шкворень</strong> – производства фирмы OMS два дюйма (2”), сменный, тарельчатого типа.',
    '<strong>Опорное устройство</strong> – производства фирмы BPW/JOST, с двухступенчатым редуктором.',
    '<strong>Агрегат трехосный</strong> – BPW/JOST/с пневмоподвеской, с допустимой нагрузкой 9 тонн на ось, с односкатной ошиновкой размерности 385/65 R22,5. Тормозные механизмы – дисковые. Балка оси, круглая D = 146 мм, толщиной 10 мм'
  ]

  plusesBottom = [
    {
      title: 'Тормозная система',
      txt: 'EBS Wabco: двухпроводная, ABS 2S / 2M её отличительной чертой является минимальное количество аппаратов и электронное управление, две задних оси оснащены энергоаккумуляторами.Розетка ABS 7 контактная.',
      icon: require('@/assets/img/polupritsepy/pluses/1.svg')
    },
    {
      title: 'Колеса',
      txt: 'с бескамерными шинами 385/65 R22,5 рисунок протектора дорожный. Без запасного колеса.',
      icon: require('@/assets/img/polupritsepy/pluses/2.svg')
    },
    {
      title: 'Боковая защита',
      txt: 'из алюминиевого профиля',
      icon: require('@/assets/img/polupritsepy/pluses/3.svg')
    },
    {
      title: 'Кронштейн запасного колеса',
      txt: 'для двух запасных колес',
      icon: require('@/assets/img/polupritsepy/pluses/4.svg')
    }
  ]

  //- platform
  platformOptionsTop = [
    '<strong>Электрооборудование</strong> – Ermax, двухпроводная схема.Разъемы(2 шт – 7 - контактные, 1 шт, 15 - контактный), 8 боковых оранжевых фонаря, 2 задних комбинированных фонаря, 2 фонаря подсветки номера, 2 задних габаритных фонаря «улитка» в эластичном корпусе.',
    '<strong>Механизм сдвижной крыши и штор</strong> – производства Versus: верхняя часть каркаса тента и боковые стенки имеют сдвижной механизм, для удобства погрузки - выгрузки, т.н. "шторный механизм" с механизмом натяжения тента в задней части.',
    '<strong>Сдвижные бортовые стойки</strong> – производства Versus: устанавливаются сдвижные стойки, для обеспечения наибольшего пространства для погрузочных работ.',
    '<strong>Передняя стенка</strong> – алюминиевые наборные профиля, обшита листом фанеры с внутренней стороны.'
  ]

  platformOptionsBottom = [
    '<strong>Тент крыши и боковых штор</strong> –ткань из полиэстера, покрытая пастой ПВХ: боковые шторы изготавливаются из тента серебристого цвета плотностью 850-900 г/м2; тент сдвижной крыши изготавливается из светопроникающего материала белого цвета, плотностью 650-680 г/м2. Крепление тента через ремни к обвязке платформы.',
    '<strong>Дверной портал</strong> – выполнен из оцинкованной стали, на пороге установлены роликовые демпферы обеспечивающие надёжную защиту при подъезде к пандусу.',
    '<strong>Двери распашные</strong> – HESTAL, двухстворчатые, с углом открывания 270°. Дверное полотно – наборный алюминий. Фурнитура: 4 петли и 2 штанги на дверь (штанги внутри алюминиевого профиля дверей). Фиксаторы дверей в открытом положении - штанговые.'
  ]

  //- additional
  additionalSlides = [
    {
      image: require('@/assets/img/polupritsepy/additional/1.png'),
      txt: 'Выдвижная оцинкованная лестница'
    },
    {
      image: require('@/assets/img/polupritsepy/additional/2.png'),
      txt: 'Инструментальный ящик пластиковый'
    },
    {
      image: require('@/assets/img/polupritsepy/additional/3.png'),
      txt: '4 пластиковых крыла с брызговиками'
    },
    {
      image: require('@/assets/img/polupritsepy/additional/4.png'),
      txt: 'Кронштейн для подключения тормозной и осветительной системы в передней части шасси'
    }
  ]

  //- about prod
  aboutProdContent = [
    {
      txt: 'Наше производство располагается в собственном промышленном здании',
      num: '15000 м2'
    },
    {
      txt: 'Заканчивается строительство двух дополнительных пролетов с целью увеличения эффективной производственной площади до',
      num: '20000 м2'
    },
    {
      txt: 'Полуприцепы и другие продукты разработаны нашими инженерами конструкторами и технологами с учетом опыта передовых конструкторских и технологических решений, и ничем не отличаются от ранее доступных на рынке РФ зарубежных аналогов.'
    },
    {
      txt: 'В рамках завода организовано серийное тактовое производство полного цикла по металлоконструкциям полуприцепов и надстройкам шасси.'
    }
  ]

  //- workshop
  workshopBlank = [
    '<strong>Раскрой листового металла</strong> - на станках плазменной резки КРИСТАЛ и DURMA с возможностью раскроя листов длиной до 12 м. Все станки управляются системой CNC (ЧПУ) и оборудованы самой передовой на настоящее время системой XPR-300, позволяющей обеспечить идеальную геометрию раскроя и точность диаметра отверстий по технологии True Hole. Раскрой ведется в программе Pro Nest.',
    '<strong>Гибка металла</strong> - производится на листогибочных станках DURMA с длинами рабочих столов 3 и 4 м. Все станки управляются системой CNC (ЧПУ).',
    '<strong>Межоперационный контроль качества</strong> – Ведется на каждом участке.',
  ]

  workshopWelding = [
    '<strong>Сварка всех компонентов</strong> осуществляется высококвалифицированными сварщиками на оборудовании KEMPI Х5 FastMig 400 и EWM Taurus 355 с использованием специальной технологической оснастки, которая обеспечивает идеальную точность геометрии. На каждом участке ведется межоперационный контроль качества.',
    '<strong>Сварка всех компонентов</strong> осуществляется высококвалифицированными сварщиками на оборудовании KEMPI Х5 FastMig 400 и EWM Taurus 355 с использованием специальной технологической оснастки, которая обеспечивает идеальную точность геометрии. На каждом участке ведется межоперационный контроль качества.'
  ]

  workshopAssembly = [
    'Сборка рамы полуприцепа',
    'Монтаж систем электрики и пневматики',
    'Установка передней стенки, ворот, боковых стоек, крыши',
    'Настил пола',
    'Изготовление и монтаж тента',
    'Финальные регулировки'
  ]

  workshopAssemblySlider = [
    require('@/assets/img/proizvodstvo/assembly/1.jpg'),
    require('@/assets/img/proizvodstvo/assembly/2.jpg'),
    require('@/assets/img/proizvodstvo/assembly/4.jpg'),
    require('@/assets/img/proizvodstvo/assembly/5.jpg'),
    require('@/assets/img/proizvodstvo/assembly/6.jpg'),
    require('@/assets/img/proizvodstvo/assembly/7.jpg')
  ]

  workshopAssemblyTile = [
    require('@/assets/img/proizvodstvo/assembly/1.jpg'),
    require('@/assets/img/proizvodstvo/assembly/2.jpg'),
    require('@/assets/img/proizvodstvo/assembly/3.jpg')
  ]

  // product page
  productSlides = [
    require('@/assets/img/product/slides/1.jpg'),
    require('@/assets/img/product/slides/2.jpg'),
    require('@/assets/img/product/slides/3.jpg')
  ]

  productList = [
    {
      option: 'Модель:',
      value: 'HB80E2'
    },
    {
      option: 'Грузовой момент, Т.м.:',
      value: '8'
    },
    {
      option: 'Максимальный  вертикальный вылет, м.:',
      value: '10,2'
    },
    {
      option: 'Угол поворота, град.:',
      value: '400'
    },
    {
      option: 'Время оборота, сек.:',
      value: '15'
    },
    {
      option: 'Рабочее давление, бар.:',
      value: '285'
    },
    {
      option: 'Собственный вес, кг.:',
      value: '930'
    },
    {
      option: 'Объем гидробака, л.:',
      value: '35'
    },
    {
      option: 'Расход масла л/мин:',
      value: '20'
    },
    {
      option: 'Размеры мм:',
      value: '2300х1940х600'
    },
    {
      option: 'Максимальный вылет стрелы м.:',
      value: '7,05'
    },
    {
      option: 'Грузоподъемность при максимальном вылете стрелы кг.:',
      value: '1050'
    }
  ]

  compList = [
    {
      option: 'Вес крана ru.:',
      value: '1030'
    },
    {
      option: 'Масляный бак'
    },
    {
      option: 'Монтажный комплект'
    },
    {
      option: 'Ручные поворотные опоры'
    },
    {
      option: 'Крюк'
    },
    {
      option: 'Опоры ручные поворотные м.:',
      value: '4,60'
    },
    {
      option: 'Гидравлическая система защиты от перегрузки'
    }
  ]

  // diagram
  diagramList = [
    {
      option: 'Подрамника и основания:',
      value: 'Cварной'
    },
    {
      option: 'Передней стенки:',
      value: 'Алюминиевый борт. Высотой 400мм.'
    },
    {
      option: 'Боковые стенки:',
      value: 'Алюминиевый откидывающийся, съемный борт'
    },
    {
      option: 'Настил пола:',
      value: 'Транспортная фанера с противоскользящим покрытием 21мм. разделен на  2 секции. Высотой 400мм.'
    },
    {
      option: 'Задний проём:',
      value: 'Алюминиевый откидывающийся, съемный борт. Высотой 400мм.'
    },
    {
      option: 'Электрооборудование:',
      value: 'Габаритные боковые контурные светодиодные огни оранжевого цвета'
    }
  ]

  //- catalog
  catalogList = [
    {
      image: require('@/assets/img/catalog/1.jpg'),
      txt: 'Спецтехника',
      url: 'spetstehnika.html',
      collage: require('@/assets/img/global/collage/collage-large-top-left.png')
    },
    {
      image: require('@/assets/img/catalog/2.jpg'),
      txt: 'Полуприцепы',
      url: 'polupritsepy.html',
      collage: require('@/assets/img/global/collage/collage-small-bottom-right.png')
    }
  ]

  //- spetstehnika
  specialList = [
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/spetstehnika/1.svg'),
      txt: 'Бортовая платформа с КМУ',
      url: 'product.html'
    },
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/spetstehnika/2.svg'),
      txt: 'Гидроборт',
      url: 'product.html'
    },
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/spetstehnika/3.svg'),
      txt: 'Крюковой погрузчик',
      url: 'product.html'
    }
  ]

  //- polupritsepy
  semitrailerList = [
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/polupritsepy/1.svg'),
      txt: 'Шторные полуприцепы',
      url: 'polupritsepy-shtornye'
    },
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/polupritsepy/2.svg'),
      txt: 'Рефриджераторы полуприцепы',
      url: 'product.html'
    }
  ]
