-
  //- global
  mainModifier = null
  topTitle = null
  topTxt = null

  //- header
  headerMenu = [
    {
      url: 'javascript:',
      txt: 'О компании'
    },
    {
      txt: 'Продукция',
      children: [
        {
          txt: 'Спецтехника',
          children: [
            {url: 'javascript:', txt: 'Бортовая платформа с КМУ'},
            {url: 'javascript:', txt: 'Гидроборт'},
            {url: 'javascript:', txt: 'Крюковой погрузчик'}
          ]
        },
        {
          url: 'javascript:',
          txt: 'Полуприцепы'
        }
      ]
    },
    {
      url: 'javascript:',
      txt: 'Оборудование'
    },
    {
      url: 'javascript:',
      txt: 'Ремонт'
    },
    {
      url: 'javascript:',
      txt: 'Дилерство'
    },
    {
      url: 'javascript:',
      txt: 'Новости'
    },
    {
      url: 'javascript:',
      txt: 'Контакты'
    },
    {
      url: 'javascript:',
      txt: 'Поиск по сайту'
    }
  ]
