-
  //- global
  mainModifier = null
  topTitle = null
  topTxt = null

  //- header
  headerMenu = [
    {
      url: 'javascript:',
      txt: 'О компании'
    },
    {
      txt: 'Продукция',
      children: [
        {
          txt: 'Спецтехника',
          children: [
            {url: 'javascript:', txt: 'Бортовая платформа с КМУ'},
            {url: 'javascript:', txt: 'Гидроборт'},
            {url: 'javascript:', txt: 'Крюковой погрузчик'}
          ]
        },
        {
          url: 'javascript:',
          txt: 'Полуприцепы'
        }
      ]
    },
    {
      url: 'javascript:',
      txt: 'Оборудование'
    },
    {
      url: 'javascript:',
      txt: 'Ремонт'
    },
    {
      url: 'javascript:',
      txt: 'Дилерство'
    },
    {
      url: 'javascript:',
      txt: 'Новости'
    },
    {
      url: 'javascript:',
      txt: 'Контакты'
    },
    {
      url: 'javascript:',
      txt: 'Поиск по сайту'
    }
  ]

  //- footer
  footerContactsList = [
    {
      icon: require('@/assets/img/footer/phone.svg'),
      url: 'tel:79216953701',
      txt: '+ 7 (921) 695 37 01'
    },
    {
      icon: require('@/assets/img/footer/mail.svg'),
      url: 'mailto:info@mz-sotrans.ru',
      txt: 'info@mz-sotrans.ru'
    },
    {
      icon: require('@/assets/img/footer/mark.svg'),
      txt: 'Посёлок Красный Бор, Промышленная улица, 3'
    }
  ]

  footerNavList = [
    {
      url: 'javascript:',
      txt: 'О компании'
    },
    {
      url: 'javascript:',
      txt: 'Продукция'
    },
    {
      url: 'javascript:',
      txt: 'Оборудование'
    },
    {
      url: 'javascript:',
      txt: 'Дилерство'
    },
    {
      url: 'javascript:',
      txt: 'Контакты'
    }
  ]
