@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.order-form
  padding: 50px 0
  color: $white
  +screen($tablet)
    padding: 30px 0 40px

  &_product
    background: url(../assets/img/product/order-form-bg.jpg) no-repeat center/cover

    .order-form
      &__title
        white-space: nowrap
        display: flex
        justify-content: center
        +font(40px, 50px, 700)
        +screen($desktop)
          +font(30px, 38px, 700)
        +screen($tablet)
          +font(26px, 32px, 700)
          white-space: normal
          display: block

  &_main
    background: url(../assets/img/main-page/main-form-bg.jpg) no-repeat center/cover

  &__title
    +font(40px, 47px, 700)
    text-align: center
    +screen($desktop)
      +font(30px, 35px, 700)
    +screen($tablet)
      +font(30px, 35px, 700)

  &__txt
    +font(22px, 26px, 500)
    text-align: center
    margin-top: 14px
    +screen($desktop)
      +font(18px, 26px, 500)
      margin-top: 15px
    +screen($tablet)
      +font(16px, 26px, 500)
      margin-top: 12px

  &__subtitle
    +font(22px, 26px, 500)
    +screen($desktop)
      +font(18px, 26px, 500)
    +screen($tablet)
      +font(16px, 26px, 500)

  &__submit
    margin: 66px auto 0
    +screen($desktop)
      margin-top: 33px
    +screen($tablet)
      margin-top: 40px

  &__fields
    margin-top: 56px
    +screen($desktop)
      margin-top: 40px

    &-container
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 30px 20px
      margin-top: 20px
      +screen($desktop)
        margin-top: 12px
      +screen($tablet)
        grid-gap: 26px
        grid-template-columns: 1fr

    &-top
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 30px 20px
      +screen($tablet)
        grid-gap: 26px
        grid-template-columns: 1fr

      .form__field
        &:last-child
          grid-column: span 2
          +screen($tablet)
            grid-column: auto

    &-bottom
      margin-top: 40px
      +screen($tablet)
        margin-top: 35px

  .form
    &__textarea
      grid-column: span 2
      +screen($tablet)
        grid-column: auto
        margin-top: 32px

    &__checkbox
      margin-top: 40px
      +screen($tablet)
        margin-top: 20px

      label
        &:before
          border-width: 2px !important

    &__field
      margin: 0

      &.focus
        &:after
          background-color: $white
          opacity: .7

      &.error
        &:after
          background-color: #FF8282
          opacity: 1

        .form__field-error
          color: #FF8282

      &-placeholder
        color: #BBBBBB

      &-error
        color: #FF8282

      &-input
        color: $white
        border-color: #BBBBBB

        &:required + .form__field-placeholder
          &:after
            color: #BBBBBB
