@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include font(14px, 22px);

  @include screen($tablet) {
    @include font(16px, 24px)
  }
}

a {
  text-decoration:  none;
  color: inherit;
  transition: .3s;
  font-weight: 500;

  @include screen($tablet) {
    &:hover {
      opacity: .65;
    }
  }
}

img {
  max-width: 100%;
}

svg {
  path {
    transition: .3s;
  }
}

button {
  appearance: none;
  background: transparent;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 1196px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 16px;

  &_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
