//- variables
block variables
  include ../../abstracts/variables

//- mixins
include ../../components/mixins/modal
include ../../components/mixins/breadcrumbs
include ../../components/mixins/product-card
include ../../components/mixins/promo-card
include ../../components/mixins/contact-card


doctype html
html(lang="ru")
  head
    include head
  body
    include ../../components/gloabal/preloader
    include header
    main.main(class=mainModifier ? `main_${mainModifier}`:'')
      if (breadCrumbsList)
        +breadcrumbs(breadCrumbsList)
      block content
    include footer
    .contact-form__overlay
    button.contact-form-btn
      img(src=require('@/assets/img/global/form-icon.svg') alt="")
    include ../../components/gloabal/contact-form
