section.credit-why
  .container
    h2.credit__title Почему это выгодно?
    .credit-why__grid
      p.credit-why__item Бизнес не пострадает из-за решения расширить автопарк, поскольку #[b в сделке лизинга минимальный аванс — от 0%.] Постепенная выплата стоимости транспорта в течение срока лизинга также позволит избежать разовых больших трат
      p.credit-why__item Удобный график лизинговых платежей (может быть составлен с учетом особенностей бизнеса лизингополучателя). #[b К примеру, учтен фактор сезонности.]
      p.credit-why__item #[b Лизинг уменьшает налог на прибыль.] Лизингополучатель имеет право относить лизинговые платежи на расходы, тем самым уменьшая налогооблагаемую базу по налогу на прибыль.
      p.credit-why__item При лизинге #[b не требуется залоговое обеспечение], так как лизинговая компания является собственником лизингового имущества до конца срока действия договора лизинга и имущество переходит в собственность лизингополучателя по итогам исполнения им условий договора.
