section.credit-partners
  .container
    h2.credit__title Наши партнеры
    p.credit-partners__txt Совместно с нашими партнёрами мы разработали программы лизинга и кредита на автобусы Golden Dragon.
    .credit-partners__tile
      each el in creditPartners
        .credit-partners__item
          img(src=el alt="")
