section.credit-partners
  .container
    h2.credit__title.opacity-animation Наши партнеры
    p.credit-partners__txt.slide-right Совместно с нашими партнёрами мы разработали программы лизинга и кредита на автобусы Golden Dragon.
    .credit-partners__tile.slide-up
      each el in creditPartners
        .credit-partners__item
          img(src=el alt="")
