section.credit-top
  .container
    h2.section-title.opacity-animation Кредит и лизинг
    .credit-top__container
      .credit-top__desc.slide-right
        p Когда компании срочно необходим транспорт, но изымать деньги из оборота на его покупку невыгодно, мы предлагаем использовать привлечение стороннего финансирования — кредита или лизинга.
        p ООО «Техцентры СОТРАНС» реализует различные кредитные и лизинговые проекты, имея аккредитации во всех ведущих банках и лизинговых компаниях. #[b Также мы готовы провести сделку с любым банком или лизинговой компанией, где у Вас уже есть одобрение.]
        p Лизинг позволяет юридическим лицам и индивидуальным предпринимателям приобретать транспорт с правом пользования, внося стоимость постепенно, в течение срока лизинга, а в конце договора — выкупить его по остаточной стоимости. Мы всегда учитываем пожелания наших клиентов, поэтому предлагаем индивидуальные графики лизинговых платежей, с минимальным авансовым платежом – от 0% и низким процентом удорожания. Оперативное решение, которое позволяет подписать договор лизинга в кратчайший срок и минимум документов для новых и действующих клиентов.
      .credit-top__image.slide-up
        img.cover-image(src=require('@/assets/img/credit/1.jpg') alt="Кредит и лизинг")
