section.credit-bottom
  .container
    .credit-bottom__image.slide-right
      img(src=require('@/assets/img/credit/2.jpg') alt="")
    .credit-bottom__desc.slide-up
      h2.credit-bottom__title Более подробную информацию #[br] Вам предоставят наши специалисты
      a.credit-bottom__contact(href="tel:88002223480")
        span 8 (800) #[b 222-34-80]
        span звонок бесплатный

