@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.map-popup
  +font(16px, 20px, $font-intro)
  text-transform: none
  color: $black
  text-align: left

  &_active
    display: block

  &__close
    position: absolute
    top: 15px
    right: 15px
    width: 28px
    height: 29px
    flex-shrink: 0
    background-size: 100% 100%
    cursor: pointer

    &.lazyloaded
      background: url(../assets/img/map/sellpoints_popup_close.png) no-repeat center top

    &:hover
      animation: 1s linear 0s normal none 1 running popup-close

  &__head
    margin-bottom: -2px
    width: 286px
    height: 8px
    background: url(../assets/img/map/sellpoints_map_popup_header.png) no-repeat left top

  &__wrap
    width: 286px
    height: 100%
    max-height: 380px
    padding: 0 0 12px 25px
    box-sizing: border-box

    &.lazyloaded
      background: url(../assets/img/map/sellpoints_map_popup_bg.png) no-repeat left bottom

  &__city
    width: 210px
    box-sizing: border-box
    padding: 4px 0 0 0
    +font(26px, 36px)
    text-transform: uppercase

  &__list
    width: 100%
    max-height: 280px
    display: flex
    flex-direction: column
    flex-wrap: wrap
    padding: 0
    margin-bottom: 0

    li
      width: 130.5px
      list-style: none
      box-sizing: border-box
      padding: 0 0 8px 22px
      position: relative

      &.lazyloaded
        background: url(../assets/img/global/li.png) 1px 7px no-repeat

  &__pointer
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: -11px
    width: 0
    height: 0
    border-style: solid
    border-width: 9.5px 14px 9.5px 0
    border-color: transparent #ffffff transparent transparent
    +screen($tablet)
      top: calc(100% - 6px)
      left: 50%
      transform: translateX(-50%) rotate(270deg)
