@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.white-btn
  box-sizing: border-box
  padding: 10px 16px
  background-color: $white
  border-radius: 19px
  color: $blue
  +font(12px, 13px, 700)
