@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.white-btn
  box-sizing: border-box
  padding: 10px 16px
  background-color: $white
  border-radius: 19px
  color: $blue
  +font(12px, 13px, 700)

.btn
  padding: 14px 32px 15px
  box-sizing: border-box
  border-radius: 10px
  +font(14px, 17px, 700)

  &-fill
    background-color: $blue-main
    border: 2px solid $blue-main
    color: $white
    box-shadow: 0 4px 12px 0 #1D45AA66

  &-trans
    background-color: transparent
    border: 2px solid $blue-main
    color: $blue-main

.light-btns
  display: flex
  box-sizing: border-box
  padding: 20px
  gap: 16px

  a
    width: 100%
    box-sizing: border-box
    padding: 11px
    background-color: $white
    box-shadow: 0 4px 12px 0 #889AC94D
    transition: box-shadow .3s
    border-radius: 19px
    display: flex
    align-items: center
    justify-content: center
    +font(12px, 12px, 600)

