@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

html
  scroll-behavior: smooth
  min-height: 100vh

body
  margin: 0 auto
  min-height: 100vh
  display: flex
  flex-direction: column
  font-family: $font
  position: relative
  background-color: $white
  color: $black

.body_fix
  overflow: hidden

.container
  position: relative
  width: 100%
  max-width: 1280px
  box-sizing: border-box
  padding: 0 40px
  margin: 0 auto
  +screen($desktop-xs)
    padding: 0 32px
  +screen($tablet-sm)
    padding: 0 20px

a
  text-decoration: none
  display: block
  color: $black
  transition: color .3s, opacity .3s, background-color .3s
  outline: none

h1, h2, h3, h4, p
  margin: 0

button
  appearance: none
  border: none
  cursor: pointer
  padding: 0
  background: transparent
  transition: .3s

svg
  path, circle, rect
    transition: .3s

ul
  padding: 0
  margin: 0

  li
    list-style-type: none

.main
  flex: 1 0 auto

.header, .footer
  flex: 0 0 auto

input
  appearance: none
  outline: none
  +font(14px, 16px)

.swiper-button-prev:after, .swiper-button-next:after
  display: none

.subtitle
  +font(26px, 32px, 900)
  color: $black
  +screen($tablet-sm)
    +font(22px, 28px, 900)

  &-white
    color: $white

.description-text
  +font(14px, 20px, 400)
  color: $black
  +screen($tablet-xs)
    +font(16px, 22px, 400)
  +screen($mobile)
    +font(14px, 20px, 400)

.overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(7, 18, 48, .6)
  z-index: 50
  transition: opacity .3s, visibility .3s
  visibility: hidden
  opacity: 0
  pointer-events: none

  &.active
    visibility: visible
    opacity: 1
    pointer-events: auto

.mobile-link
  display: none
  +screen($tablet-xs)
    display: block
    width: 100%

.desktop-link
  +screen($tablet-xs)
    display: none

.indent
  height: 40px
  +screen($tablet-sm)
    height: 36px
  +screen($tablet-xs)
    height: 40px

.section-upper
  padding-top: 28px
  box-sizing: border-box
  +screen($desktop-sm)
    padding-top: 20px
  +screen($tablet-xs)
    display: none
