@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

html
  scroll-behavior: smooth
  min-height: 100vh

body
  max-width: 1920px
  margin: 0 auto
  min-height: 100vh
  display: flex
  flex-direction: column
  font-family: $font
  position: relative
  background-color: $white
  color: $black

.container
  position: relative
  width: 100%
  max-width: 1280px
  box-sizing: border-box
  padding: 0 40px
  margin: 0 auto

a
  text-decoration: none
  display: block
  color: $black
  transition: color .3s, opacity .3s, background-color .3s
  outline: none

h1, h2, h3, h4, p
  margin: 0

button
  appearance: none
  border: none
  cursor: pointer
  padding: 0
  background: transparent
  transition: .3s

svg
  path, circle, rect
    transition: .3s

ul
  padding: 0
  margin: 0

  li
    list-style-type: none

.main
  flex: 1 0 auto

.header, .footer
  flex: 0 0 auto

input
  appearance: none
  outline: none
  +font(14px, 16px)

.swiper-button-prev:after, .swiper-button-next:after
  display: none

.subtitle
  +font(26px, 32px, 900)
  color: $black

.description-text
  +font(14px, 20px, 400)
  color: $black



