@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.counterparties
  width: 79vw
  height: calc(100vh - 90px)
  margin: 0 auto
  padding: 26px 0 0 50px
  box-sizing: border-box
  position: relative
  overflow: scroll

  &::-webkit-scrollbar
    display: none

  .close-btn
    position: absolute
    top: 18px
    left: 0

  &-header

    &__title
      +font(16px, 19px, 400)
      color: $black

    &_events
      width: 100%
      display: flex
      justify-content: space-between
      margin-top: 30px
      align-items: center

      &_count

        span
          +font(12px, 15px, 400)
          color: $black

        button
          +font(12px, 15px, 400)
          color: $gray-input
          margin-left: 10px

          &:hover, &:active, &:focus
            color: $black

      &_btns
        display: flex

        button
          margin-left: 10px

          &:first-child
            margin-left: 0

  &-titles
    display: flex
    border: 1px solid $gray
    border-radius: 8px
    background-color: $gray-bg
    margin-top: 10px

    div
      box-sizing: border-box
      padding: 12px 10px
      border-right: 1px solid $gray-light

      &:last-child
        border: none

      span
        +font(12px, 15px, 600)
        color: $black

      svg
        margin-left: 4px

    &-q
      width: 1.7%
    &-id
      width: 7.68%
    &-name, &-inn, &-kpp, &-email
      width: 19.7%
    &-access
      width: 11.7%

  &-sort
    display: flex
    border: 1px solid $gray
    border-radius: 8px
    background-color: $gray-bg
    margin-top: 10px

    div
      box-sizing: border-box
      padding: 5px

      &:first-child
        padding: 0

      input, select
        +font(12px, 15px, 400)
        color: $gray
        background-color: $white
        border: 1px solid $gray
        border-radius: 8px
        height: 30px
        box-sizing: border-box
        width: 95%
        padding: 0 10px
        &::placeholder
          color: $gray

    &-q
      width: 1.7%
    &-id
      width: 7.68%
    &-name, &-inn, &-kpp, &-email
      width: 19.7%
    &-access
      width: 11.7%

  &-list
    border: 1px solid $gray
    border-radius: 8px
    margin-top: 10px
    height: 100%
    overflow: hidden

    &-item
      border-bottom: 1px solid $gray
      display: flex
      padding: 22px 10px
      box-sizing: border-box
      overflow: hidden

      &:last-child
        border-bottom: none

      &:hover
        background-color: $gray-bg

      div
        box-sizing: border-box
        padding-left: 5px
        display: flex
        align-items: flex-start

        span
          +font(12px, 15px, 400)
          color: $gray-input

      &-q
       width: 1.7%
      &-id
        width: 7.68%
      &-name
        span
          color: $orange !important
      &-name, &-inn, &-kpp, &-email
        width: 19.9%
      &-access
        width: 11%
