@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.controllers
  position: absolute
  z-index: 601
  right: 15px
  bottom: 15px
  background-color: $white
  display: flex
  flex-direction: column
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15)
  border-radius: 8px

  &_container
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    cursor: pointer

    &:first-child
      border-bottom: 1px solid $gray

  &__btn
    width: 20px
    height: 20px
    border: 2px solid $gray
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    box-sizing: border-box

    &-plus
      padding: 3px 0 0 2px


