@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.filter-mini
  position: absolute
  z-index: 601
  right: 15px
  top: 15px
  width: 40px
  height: 40px
  background-color: $white
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15)
  border-radius: 8px
  cursor: pointer
  overflow: hidden

