@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *


.map
  &__container
    height: calc(100vh - 35px)
    overflow: hidden

  &-filter
    top: 75px
    margin-left: 5vw
    background: #FFFFFF
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)
    border-radius: 8px
    box-sizing: border-box
    padding: 11px
    display: flex
    align-items: center
    justify-content: center
    z-index: 780

    &-img
      display: flex
      align-items: center
      cursor: pointer
      width: 18px
      height: 18px

    &-list
      display: none

      &-item
        display: flex
        box-sizing: border-box
        padding: 10px
        align-items: center

        label
          margin-left: 6px
          +font(12px, 15px, 400)
          color: $gray-dark

        input[type="radio"]:checked + label
            color: $black

.district-num
  top: 25vh
  right: 45vw



