@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

html
  scroll-behavior: smooth
  min-height: 100vh

body
  max-width: 1920px
  margin: 0 auto
  min-height: 100vh
  font-family: $font
  position: relative
  background-color: $white
  +font(18px, 22px)

  &.loaded_hiding
    .preloader
      transition: .3s opacity
      opacity: 0

  &.loaded
    .preloader
      display: none

.container
  position: relative
  width: 100%
  max-width: 1440px
  box-sizing: border-box
  padding: 0 75px
  margin: 0 auto
  +screen($desktop-sm)
    padding: 0 40px
  +screen($tablet)
    padding: 0 10px

  &_lg
    padding: 0

a
  text-decoration: none
  display: block
  color: $black
  transition: color .3s, opacity .3s, background-color .3s, border-color .3s
  outline: none

h1, h2, h3, h4, p
  margin: 0

button
  appearance: none
  border: none
  cursor: pointer
  padding: 0
  background: transparent
  transition: .3s

img, svg
  max-width: 100%
  max-height: 100%

svg
  path, circle, rect
    transition: .3s

ul
  padding: 0
  margin: 0

  li
    list-style-type: none

input, textarea
  border-radius: 0
  border: none
  appearance: none
  outline: none
  width: 100%
  height: 100%
  background: transparent
  box-sizing: border-box
  padding: 0

  &::placeholder
    color: $black

.main
  padding-top: 90px
  +screen($tablet)
    padding-top: 25px

.section
  &__title
    +font(64px, 74px, 500)
    text-align: center
    +screen($tablet)
      +font(44px, 54px, 500)
    +screen($tablet-sm)
      +font(24px, 34px, 500)

    span
      color: $orange
      +screen($tablet-xs)
        display: block

.slide-up, .slide-right
  opacity: 0

.form-input
  border: 1px solid $gray
  position: relative
  height: 44px

  input, textarea
    padding: 11px 13px

  span
    display: block
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 13px
    +font(14px, 14px)
    color: $gray
    pointer-events: none
    transition: .2s
    +screen($tablet)
      transition: 0s

    &.active
      top: -20px
      transform: none
      left: 0
      +font(12px, 12px)
      +screen($tablet)
        left: 13px
        margin-top: 0
        +font(14px, 14px)
        opacity: 0

    &:after
      content: '*'
      color: $orange

textarea
  resize: none
