@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.header
  padding: 29px 0
  position: fixed
  width: 100%
  top: 0
  left: 0
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.16)
  z-index: 10
  background-color: $white

  .container
    display: flex
    justify-content: space-between
    align-items: center

  &__logo
    display: flex
    align-items: center

  &__menu
    display: flex
    flex-basis: 68%
    justify-content: space-between
    +screen($desktop-sm)
      flex-basis: 80%
