@use 'variables' as *
/*-------------------------------------------- adventure -----------------------------------------*/
.adventure
  padding: 68px 0 40px
  display: flex
  flex-direction: column
  background: $white

  &__btn
    +redBtn(260px, 48px, 500 16px/48px $font)

  &__header
    +header
    margin: 0 30px 20px
    +media
      margin-left: 148px 
  &__desc
    font: 16px/20px $font
    color: $gray
    margin: 0 30px
    +media
      margin-left: 148px
      +fontSize(18px, 22px) 

  &__slider
    padding: 20px 0 40px
    position: relative
    width: 100%
    display: flex
    justify-content: center

    &Content
      position: relative
      overflow-x: scroll
      display: flex
      align-items: center     
      width: 100%
      height: 450px
      &::-webkit-scrollbar
        width: 0
        height: 0
      +media
        padding-left: 148px
    .slider
      overflow: hidden
      position: relative
      display: flex
      align-items: center
      height: 100%
      width: 100%
      transition: all .4s ease-out
    
    .arrows
      left: 50%
      transform: translateX(-50%)
      bottom: 16px
      +media
        transform: none
        position: absolute
        display: flex
        left: 42px
        bottom: 69px
        right: inherit
        z-index: 100

    .previous-slide
      left: -100%
    .current-slide
      left: 50%
      transform: translateX(-50%)
    .next-slide
      left: 100%
    .slide
      overflow: hidden
      position: absolute
      width: 315px
      height: 392px
      transition: all .4s ease-out
      box-shadow: 0 4px 20px rgba(0, 0, 0, .25)
      margin: 0 30px 0 0
      +media(600px)
        width: 323px

      &__image
        transition: all .4s ease-out
        width: 315px
        height: 210px
        +media(600px)
          width: 323px
        &_run
          background: center/cover no-repeat url(../src/img/adventure/run.png)
        &_race
          background: center/cover no-repeat url(../src/img/adventure/hero_race.png)
        &_arena
          background: center/cover no-repeat url(../src/img/adventure/hero_arena.png)
        &_games
          background: center/cover no-repeat url(../src/img/adventure/hero_games.png) 

      &:last-child
        margin-bottom: 0

      &__description
        display: flex
        flex-direction: column
        position: absolute
        width: 100%
        height: 100%
        padding: 20px 30px 35px
        background: $white
        top: 210px
        left: 0
        transition: all .4s ease-out

      &__logo
        margin-bottom: 30px
        transition: all .4s ease-out
        .arena
          width: 52px
          height: 44px
        path
          transition: all .5s ease-out

      &__text
        font: 14px/17px $font
        color: $gray
        margin-bottom: 100px
        &:nth-child(2)
          margin-bottom: 65px

      &:hover
        .slide
          &__image
            height: 100%
          &__description
            padding: 40px 27px
            top: 0
            background: linear-gradient(0deg, rgba(27, 25, 36, .6), rgba(27, 25, 36, .6))
            justify-content: space-between
          &__logo
            path[fill="#332F43"], path[style="fill:#332F43"], .text             
              fill: $white
              

          &__text 
            margin-bottom: 10px
            color: $white
        
