@use 'variables' as *
/*--------------------------------------------- checked ------------------------------------------*/

.checked
  background: $white
  +media
    padding-bottom: 35px
    display: flex
    flex-direction: column
  &__header
    +header
    margin: 0 30px 20px
    +media
      margin: 0 0 50px 148px

  &__items
    display: flex
    flex-direction: column
    align-items: center
    +media
      flex-direction: row
      justify-content: center
    
    .item
      width: 315px
      height: 469px
      box-shadow: 0 4px 20px rgba(0, 0, 0, .25)
      &:not(:last-child)
        margin: 0 0 30px 0
        +media
          margin: 0 30px 0 0
      +media(1264px)
        width: 440px
        height: 469px

      &:first-child
        .item__top
          background: center/cover no-repeat url(../src/img/checked/emotions.png)
      &:nth-child(2)
        .item__top
          background: center/cover no-repeat url(../src/img/checked/team.png)
      &:nth-child(3)
        .item__top
          background: center/cover no-repeat url(../src/img/checked/acquainted.png)
      
      &__top
        width: 100%
        height: 280px
        img
          width: 100%
          height: 100%
        
      &__bottom
        padding: 30px 20px

      &__header
        font: 900 28px/35px $font
        margin-bottom: 15px
        text-transform: uppercase
        +media(1264px)
          +fontSize(32px, 40px)

      &__text
        font: 16px/20px $font
        color: $gray
        +media(1264px)
          +fontSize(18px, 22px)

  &__btn
    display: none
    +media
      +redBtn(266px, 50px, 500 16px/20px $font)
      align-self: center
      margin: 50px 0 0