@use 'variables' as *
/*---------------------------------------------- format ------------------------------------------*/
.format
  padding: 40px 0
  background: $white
  +media
    padding: 80px 0

  &__header
    +header
    margin: 0 30px 20px
    +media
      margin: 0 0 60px 148px

  &__items
    display: flex
    flex-direction: column
    align-items: center
    +media(700px)
      flex-direction: row
      justify-content: center
    
    .item
      position: relative
      width: 315px
      min-height: 350px
      overflow: hidden
      transition: all .5s ease-out
      &_active
        min-height: 695px
        .item__default
          top: -100%
        .item__hidden
          top: 0
      &:not(:last-child)
        margin: 0 0 30px 0
        +media(700px)
          margin: 0 30px 0 0
      +media
        width: 514px
        height: 577px
      +media(1264px)
        width: 614px
        height: 677px

      &__close
        position: absolute
        top: 0
        right: 0
        background: $red
        display: flex
        justify-content: center
        align-items: center
        border: 2px solid $red
        transition: all .4s ease-out
        width: 40px
        height: 40px
        &:active
          background: transparent
          svg
            rect
              transition: all .4s ease-out
              fill: red
        +media
          display: none


      &__default
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        padding: 0 15px 40px
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: center
        transition: all .5s ease-out
        +media
          justify-content: center

      &_small
        background: center/cover no-repeat url(../src/img/format/small.png), #232C4C
      &_international
        background: center/cover no-repeat url(../src/img/format/international.png), #232C4C

      &__header
        font: 900 28px/35px $font
        color: $white
        text-align: center
        margin-bottom: 60px
        +media
          +fontSize(44px, 55px)

      &__hidden
        position: absolute
        top: 100%
        left: 0
        width: 100%
        height: 100%
        color: $white
        display: flex
        flex-direction: column
        justify-content: space-between
        transition: all .5s ease-out
        padding: 30px
        +media
          padding: 35px 30px 35px
        +media(1264px)
          padding: 55px 50px 35px
        &Format
          font: 900 14px/18px $font
        &Header
          margin-bottom: 20px
          font: 900 32px/40px $font
          +media            
            margin-bottom: 25px
        &Text
          font: 16px/20px $font
          color: rgba(255, 255, 255, 0.8)
          margin-bottom: 20px
          +media
            margin-bottom: 36px
            +fontSize(18px, 22px)
        &List
          font: bold 16px/20px $font
          +media
            +fontSize(18px, 23px)
          &Point
            position: relative
            padding-left: 34px 
            +media
              padding-left: 46px

            &:not(:last-child)
              margin-bottom: 25px
              +media
                margin-bottom: 25px
            &::before
              content: ''
              position: absolute
              top: 0
              left: 0
              width: 20px
              height: 20px
              background: $redLight
              +media
                width: 20px
                height: 20px
        &Btn
          +redBtn(255px, 50px, 500 16px/20px $font)
          +media(1264px)
            width: 266px
            
      +media
        &:hover
          .item__default
            top: -100%
          .item__hidden
            top: 0
          



      &__btn
        +redBtn(260px, 48px, 16px/20px $font)
        +media
          display: none

      
