@use 'variables' as *

.geography
  box-sizing: border-box
  padding: 0 30px
  &__header
    font: 900 32px/40px $font
    text-transform: uppercase
    span
      display: block

  .progress__bar
    display: none

  &__map
    margin: 30px 0
    img
      width: 100% 


  
