@use 'variables' as *
/*---------------------------------------------- header ------------------------------------------*/
.header
  position: relative
  display: flex
  flex-direction: column
  +media
    flex-direction: row
  
  &__menu
    position: relative
    cursor: pointer
    .close-image
      display: none
    .menu-image
      display: block
    &_active
      .close-image
        display: block
      .menu-image
        display: none
    svg
      +media
        width: 30px
  
  &__links
    position: fixed
    width: 100vw
    height: 100vh
    top: -200vh
    left: 0
    padding: 45px 30px 0 
    background: $white
    z-index: 100
    transition: all .3s ease-out
    +landscape
      padding-top: 100px 
    +media
      position: absolute
      width: 617px
      height: 1023px
      left: -100vw
      top: 0
      padding: 150px 80px 0 60px
      border-left: 2px solid $grayLight 
    &_active
      top: 0
      +media
        top: inherit
        left: 148px
    &Top
      display: flex
      flex-direction: column
      margin-bottom: 20%
      +landscape
        flex-direction: row
        flex-wrap: wrap
        margin-bottom: 5%
      +media
        flex-direction: column
        margin-bottom: 20%
    &Btn
      margin-bottom: 15%
      +landscape
        margin-bottom: 10%
      +media
        margin-bottom: 20%  
      a
        +redBtn(322px, 60px, 500 20px/25px $font)
    &Docs
      display: flex
      justify-content: space-between
      +media
        flex-direction: column
      a
        font: 18px/26px $footerFont
        color: $black
        text-decoration: underline
        +media
          &:not(:last-child)
            margin-bottom: 20px            
    .link
      display: block
      font: 500 22px/27px $font
      text-transform: uppercase
      color: #4B4646
      +landscape
        &:not(:last-child)
          margin-right: 30px
      +media
        +fontSize(32px, 40px)
      &[href="#geography"]
        display: none
        +media
          display: block
      &:not(:last-child)
        margin-bottom: 10%
      &:active
        color: $red
      +media
        &:hover
          transition: all .2s ease-out
          color: $red
          

  &__logo
    +media
      width: 68px

  &__phone
    display: block
    cursor: pointer
    +media
      position: relative
      svg
        width: 32px
        height: 32px
        path
          fill: $gray
          stroke: transparent
      &::before
        position: absolute
        content: 'Обратный звонок'
        color: $gray
        top: -80px
        left: -39px
        width: 111px
        height: 17px
        font: 14px/17px $font
        transform: rotate(-90deg)

  &__main
    width: 100%
    height: 67px
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15)
    display: flex
    justify-content: space-between
    padding: 0 30px
    align-items: center
    background: $white
    position: fixed
    top: 0
    left: 0
    z-index: 101
    +media
      position: inherit
      top: inherit
      left: inherit
      box-shadow: none
      width: 148px
      height: 1023px
      flex-direction: column
      align-items: center
      padding: 40px 0 125px
    .arrows
      display: none
      +media
        display: flex
        .arrow
          width: 53px
          height: 53px

  &__slider
    flex-grow: 1
    position: relative
    height: 600px
    overflow: hidden
    +media
      height: 1023px
      .arrows
        display: none
    
    .slider
      z-index: -1
      width: 100%
      height: 100%      
      position: absolute
      top: 0
      left: 0
      transition: all .5s ease-out

      .slide
        width: 100%
        height: 100%
        display: block
        position: absolute
        top: 0 
        left: 0


    .description
      z-index: 1
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
      color: $white
      padding: 0 30px
      +media
       padding: 0 0 0 95px

      &__supHeader
        font: 500 16px/20px $font
        margin-bottom: 15px
        +media
          +fontSize(18px, 22px)

      &__header
        font: 900 34px/43px $font
        margin-bottom: 30px
        text-transform: uppercase
        +media
          max-width: 684px
          +fontSize(72px, 91px)

      &__text
        font: 14px/17px $font
        opacity: .8
        margin-bottom: 50px
        +media
          max-width: 580px
          +fontSize(18px, 22px)

      &__btn
       +redBtn(315px, 60px, 20px/25px $font)
       +media
        width: 322px
        
.arrows
  position: absolute
  bottom: 0
  right: 0
  display: flex
  justify-content: center

  .arrow
    border: 2px solid $redDark
    background: $redDark
    cursor: pointer
    rect
      transition: all .2s ease-out
      fill: $redDark
    path
      transition: all .2s ease-out
      stroke: $white
    &:hover
      +media
        background: transparent
        rect
          transition: all .2s ease-out
          fill: transparent
        path
          stroke: $redDark
    &:active
      background: transparent
      rect
        fill: transparent
      path
        stroke: $redDark      
    &_disabled
      background: darken($grayLight, 15%)
      border: none
      rect
        fill: darken($grayLight, 15%)
      &:active
        rect
          fill: darken($grayLight, 15%)
        path
          stroke: $white
      &:hover
        +media
          background: darken($grayLight, 15%)
          border: none
          rect
            fill: darken($grayLight, 15%)
          path
            stroke: $white
     