$red: #E83838
$redDark: #C42828
$redLight: #FE3D3D
$black: #2D2424
$white: #fff
$gray: #8990A7
$grayLight: #F3F3F3

$font: 'DIN Pro', sans-serif
$footerFont: 'Panton', sans-serif

=media($minWidth: 992px)
  @media screen and (min-width: $minWidth) 
    @content 
