@use 'variables' as *
/*-------------------------------------------- yourTeam ------------------------------------------*/
.yourTeam
  width: 100%
  padding: 60px 30px 66px
  background: center/cover no-repeat url(../src/img/team/back.png), $blue
  color: $white
  display: flex
  flex-direction: column
  +media
    min-height: 590px
    padding: 94px 148px 0

  &__header
    +header
    margin-bottom: 20px 

  &__desc
    font: 16px/20px $font
    color: rgba(255, 255, 255, 0.8)
    +media
      +fontSize(18px, 22px)
      max-width: 322px

  &__content
    margin-top: 50px
    +media
      display: flex
      margin-top: 80px


  &__item
    position: relative
    padding-left: 40px 
    font: 500 18px/22px $font
    letter-spacing: .03em
    +media
      +fontSize(22px, 30px)
      max-width: 557px
    &:not(:last-child)
      margin: 0 0 50px 0
      +media
        margin: 0 30px 0 0  
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 20px
      height: 40px
      background: $redLight


