@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.footer
  width: 100%
  height: 780px
  margin-top: -580px
  +font(18px, 22px)
  position: relative
  z-index: 10
  pointer-events: none
  box-sizing: border-box
  overflow: hidden
  +screen($desktop-sm)
    padding-bottom: 40px
  +screen($tablet)
    height: 750px

  .container
    display: flex
    align-items: flex-end
    height: 88%
    +screen($tablet)
      height: 93%

  &[data-lazyloaded]
    background: url(../assets/img/footer/footer_bg.png) no-repeat 49.999% 0

  &__content
    display: flex
    align-items: center
    position: relative
    justify-content: space-between
    width: 100%
    +screen($tablet)
      justify-content: center

    .header__socials
      pointer-events: auto
      +cancel-position
      align-items: center
      display: flex
      +screen($tablet)
        display: none

      &-link
        +cancel-position
        position: relative

        &:not(:last-child)
          margin-right: 20px

  &__copyright
    width: 370px
    +screen($desktop-sm)
      width: 300px
    +screen($tablet)
      width: auto
      display: flex
      flex-direction: column
      align-items: center

  &__design
    display: flex
    flex-direction: column

    +screen($tablet)
      display: none

  &__design,
  &__copyright
    +screen($desktop-sm)
      +font(15px, 17px)

  &__create
    pointer-events: auto
    position: relative
    display: block
    z-index: 9
    text-align: center
    text-transform: uppercase
    +font(18px, 18px)
    margin-top: 40px
    +screen($tablet)
      +font(16px, 16px)

    a
      color: $white

      span
        transition: .3s

      &:hover
        span
          color: $green
