@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.form
  display: flex
  flex-direction: column

  &__field
    position: relative
    height: 48px


    &.error
      input
        border-color: #E04646

      .form__field
        &-error
          display: block

        &-label
          color: #E04646

    &.active
      .form
        color: $white

    &:first-child
      width: 100%

    &:not(:first-child)
      width: calc(50% - 12px)
      +screen($tablet)
        width: 100%

    input
      transition: border-color ease 0.3s
      width: 100%
      height: 100%
      border: 1px solid #949494
      border-radius: 4px
      padding: 16px 12px 4px
      color: $white

      &:focus
        border-color: $white
      &:hover:not(:active)
        +mf-screen(1025)
          border-color: $white

    &-error
      display: none
      color: #E04646
      position: absolute
      top: calc(100% + 4px)
      left: 12px
      +font(12px, 14px)

    &-label
      position: absolute
      top: 12px
      left: 12px
      line-height: 24px
      color: #949494
      transition: top .3s, color .3s, font-size .3s
      pointer-events: none

      &.active
        top: 6px
        +font(12px, 14px)

