@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.trade
  padding: 20px 0 100px
  +screen($desktop)
    padding: 16px 0 80px
  +screen($tablet)
    padding: 12px 0 40px

  .section-title
    margin-bottom: 50px
    +screen($desktop)
      margin-bottom: 40px
    +screen($tablet)
      margin-bottom: 32px
      box-sizing: border-box
      padding: 0 8px

  .container
    background: url(../assets/img/trade-in/trade-bg.svg) no-repeat 100% 14%
    +screen($desktop)
      background: url(../assets/img/trade-in/trade-bg-desk.svg) no-repeat 100% 15%
    +screen($tablet)
      background: none
      padding: 0 8px

    & > .trade__txt
      max-width: 844px
      +screen($desktop)
        max-width: 567px
      +screen($tablet)
        max-width: none
        box-sizing: border-box
        padding: 0 8px

      &:nth-child(3)
        margin-top: 20px
        +screen($tablet)
          margin-top: 16px

  &__txt, b
    +font(18px, 28px, 200)
    +screen($desktop)
      +font(16px, 26px, 200)

  b
    font-weight: 700

  &__grid
    display: grid
    background-color: $white
    grid-template-columns: repeat(2, 1fr)
    margin-top: 50px
    +screen($desktop)
      margin-top: 40px
    +screen($tablet)
      margin-top: 30px
      grid-template-columns: 1fr
      grid-gap: 30px

  &__item
    box-sizing: border-box
    padding: 60px
    +screen($desktop)
      padding: 40px
    +screen($tablet)
      padding: 20px 16px 26px

    &:not(:first-child)
      +screen($tablet)
        border: 1px solid #E4E4E4

    &-icon
      +font(40px, 40px, 700)
      display: flex
      align-items: center
      gap: 11px
      color: $blue
      +screen($desktop)
        +font(32px, 40px, 700)
      +screen($tablet)
        +font(30px, 40px, 700)

      span
        &:last-child
          display: flex
          align-items: center

    &-title
      margin-top: 8px
      +font(26px, 47px, 700)
      +screen($desktop)
        +font(20px, 36px, 700)
      +screen($tablet)
        line-height: 24px

    &-txt
      margin-top: 11px

    &-link
      width: 314px
      height: 64px
      +font(20px, 25px, 500)
      margin-top: 56px
      border-width: 2px
      +screen($desktop)
        width: 292px
        height: 60px
        +font(18px, 19px, 500)
        margin-top: 42px

      &:hover
        color: $orange

        svg
          path
            stroke: $orange
            fill: none

    &:first-child
      background: url(../assets/img/trade-in/choose.jpg) no-repeat center/cover
      color: $white
      +screen($tablet)
        padding-bottom: 40px

      .trade__item-icon
        color: $white
        span
          &:last-child
            +screen($desktop)
              width: 48px
              height: 26px
            +screen($tablet)
              width: 49px
              height: 27px


    &:nth-child(2)
      border-top: 2px solid #E4E4E4
      border-right: 2px solid #E4E4E4
      .trade__item-icon
        span
          &:last-child
            +screen($desktop)
              width: 34px
              height: 27px
            +screen($tablet)
              width: 30px
              height: 24px

    &:nth-child(3)
      border-left: 2px solid #E4E4E4
      border-bottom: 2px solid #E4E4E4
      .trade__item-icon
        span
          &:last-child
            +screen($desktop)
              width: 20px
              height: 25px
            +screen($tablet)
              width: 20px
              height: 26px

    &:nth-child(4)
      border: 2px solid #E4E4E4
      .trade__item-icon
        span
          &:last-child
            +screen($desktop)
              width: 37px
              height: 32px
            +screen($tablet)
              width: 37px
              height: 33px
