section#about.about
  .container
    .about__container.slide-right
      h2.section-title.section-title_white О компании
      p Сотранс является одним из крупнейших международных перевозчиков на Северо-Западе России, членом АСМАП, аккредитованным перевозчиком по лицензиям NVOCC и IATA, имеет лицензию Таможенного Перевозчика и обладает собственным автопарком в более чем 500 единиц техники. Основным направлением деятельности являются перевозки по России.
    .about__container.slide-up
      .about__item
        .about__item-image
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/about/1.svg')}
        .about__item-txt #[b 20] филиалов
      .about__item
        .about__item-image
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/about/2.svg')}
        .about__item-txt Собственные склады запчастей #[span (с прямыми поставками от производителей)]
      .about__item
        .about__item-image
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/about/3.svg')}
        .about__item-txt Собственное производство полуприцепов

