section.offer
  .container
    h2.offer__title.slide-left Мы готовы предложить партнёрам полуприцепы #[span SOTRANS WALLAROO] на условиях аренды или покупки.
    .offer__links
      a.btn.slide-right(href="https://mz.sotrans.ru/contacts" target="_blank" rel="noopener noreferrer")
        span Покупка
        img(src=require('@/assets/img/global/arrow.svg') alt="")
      a.btn.btn_trans.slide-up(href="https://fleet.sotrans.ru/" target="_blank" rel="noopener noreferrer")
        span Аренда
        img(src=require('@/assets/img/global/arrow.svg') alt="")
