section.top
  .container
    .top__container.slide-right
      h1.top__title Федеральная транспортная компания Сотранс
      p.top__txt Быстрая и бережная доставка грузов!
    .top__container
      .top__down.slide-up
        img(src=require('@/assets/img/top/vector-down.svg') alt="")
      ul.top__list.slide-left
        li.top__list-item
          .top__list-item-name Работаем
          .top__list-item-value
            span с 1992
            span года
        li.top__list-item
          .top__list-item-name Собственный парк
          .top__list-item-value
            span 500 +
            span единиц #[br] техники
        li.top__list-item
          .top__list-item-name Собственные СТО
          .top__list-item-value
            span 4
            span региона #[br] страны
