section#year.year
  .container
    h2.section-title.slide-right 2022 год в цифрах
    .year__tile.slide-left
      each el in  yearList
        .year__item
          .year__item-num !{el.num}
          .year__item-txt !{el.txt}


