// Fonts
$text-font: 'Inter', sans-serif

// Colors
$white: #fff
$white-dark: #ccc
$white-darkest: #b2b2b2
$black-base: #000000
$black: #1a1a1a
$black-light: #262626
$black-active: #282722
$black-lightest: #333
$red: #de0000
$red-light: #e6001f
$red-lightest: #f61f1b
$gray-dark: #4c4c4c
$gray: #666
$gray-second: #808080
$gray-light: #9d9d9d
$gray-lightest: #999

// Screen
$desktop-m: 1199
$tablet: 1024
$tablet-sm: 767
$tablet-xs: 576
$mobile: 375
